[2017-07-26 17:34] mstange opened #478 "Zooming the markers view in the Timeline tab is quite slow in this profile"
Profile: https://perfht.ml/2v8rKur

Scroll down to the markers view of the parent process main thread. Zooming around in it is slow.

We seem to be doing lots of component updates.

[2017-07-26 19:25] gregtatum opened #479 "Show which thread a marker comes from in its tooltip"
This can be added in the following component:

https://github.com/devtools-html/perf.html/blob/master/src/components/shared/MarkerTooltipContents.js

The thread name could be passed in through the [getFriendlyThreadName function](https://github.com/devtools-html/perf.html/search?utf8=%E2%9C%93&q=getFriendlyThreadName&type=)

[2017-07-26 19:26] mstange opened #480 "Add thread name to marker tooltip"
Since the interval markers view at the top is not adjacent to the corresponding thread stack graph, sometimes it gets tricky to match the two to each other. Having the thread name be displayed inside the tooltip of a marker might make things easier to understand.

[2017-07-26 19:26] mstange commented on #480
dup of #479

[2017-07-26 19:26] #480 closed

[2017-07-27 01:27] gregtatum commented on #422
@brisad I think something like the following is what I was thinking:

[code]

I think animations might be distracting, so we can skip them here.

[2017-07-27 15:47] #436 closed

[2017-07-27 16:57] brisad commented on #479
@gregtatum
How about adding the info as a `tooltipDetails` div?
![image](https://user-images.githubusercontent.com/1911402/28682356-dba58190-72fc-11e7-8980-b3a0161b9060.png)

In that case I'd also change `getJankInstances` also to not append 'on {thread}' since then we'd get duplicate information in the tooltip.

[2017-07-27 17:01] mstange commented on #479
Looks good to me!

[2017-07-27 17:02] mstange commented on #479
Although, #447 also uses tooltipDetails, and we might want a slightly different appearance if we show both.

[2017-07-27 17:10] brisad commented on #479
Here's what it looks like where there are already some other details present
![image](https://user-images.githubusercontent.com/1911402/28682851-be77d846-72fe-11e7-8459-657a4bc48ac8.png)

I just hardcode the "thread details" next to the real details.

        {details}
        <div className="tooltipDetails">
          <div className="tooltipLabel" key="thread">
            Thread:
          </div

[2017-07-27 17:22] mstange commented on #479
Ah ok, that looks fine to me.

[2017-07-27 21:49] violasong commented on #471
In addition to hiding Task Tracer, the ordering of tabs could be: Call Tree, Timeline, Markers, Summary.

(It's a bit odd to have something called "Summary" last -- maybe that tab should be called something else, like Insights.)

[2017-07-27 22:27] violasong opened #484 "Add ability to create custom markers/bookmarks in the timeline"
Requested by Mike Conley: I'd love it if I could add my own markers to a profile while I'm analyzing it - like a bookmark, to know where things seem to be occurring. I usually need something like that if I'm trying to zoom on the region that I care about, and have only found one end of it so far.

- [ ] write about the user flow could work
- [ ] create initial wireframe

[2017-07-27 22:46] violasong opened #485 "Select timeline event to see corresponding call tree for that event"
Requested by Boris: "Better integration between the timeline view and callstacks (e.g. selecting an event in the timeline and seeing the corresponding calltree)."

Assuming this means that the call tree should be based on the event rather than everything that's happening in the duration of the selected event. I don't think any UX work is needed here, but let me know if otherwise.

[2017-07-27 22:54] violasong opened #486 "Search in previous search results"
Requested by Ehsan. Will probably require more discussion before I can start working on UX for this.

[2017-07-28 15:25] gregtatum opened #491 "Unhandled promise rejections in src/test/store/receive-profile.test.js"
[code]

This is cluttering up our test output and could be something will bite us in the future.

If you run:

[code]

You get the following stack:

[code]

I dug into it a little bit but got bogged down in the symbol store logic.

[2017-07-31 14:16] julienw commented on #439
See also https://github.com/devtools-html/perf.html/pull/493

[2017-08-01 10:27] julienw commented on #491
So, this error comes from the fact that in the test `geckoProfiler.getSymbolTable` returns a resolved promise with an undefined value ... which is wrong obviously :)

But I tried to make it return our exampleSymbolTable, and then I get errors with indexedDB being absent.

Then I added the fake indexed db, but the test times out. I don't know yet what happens.

I'd like to mock symbol-store-db.js t

[2017-08-01 14:23] julienw commented on #491
OK, I debugged some more. The test times out because fake-indexeddb uses setImmediate, and the test uses sinon's fake timers. So I tried to make sinon's fake timers replace setTimeout only, but... our code's requestIdleCallback polyfill uses setTimeout (°,°). Now I'm considering injecting a requestIdleCallback implementation that uses process.nextTick or something similar.

As a reminder, we use s

[2017-08-01 19:38] gregtatum commented on #466
Doesn't appear to be true. Closing as invalid.

[2017-08-01 19:38] #466 closed

[2017-08-02 14:01] #298 closed

[2017-08-02 22:37] dblohm7 commented on #342
This would be very helpful for those of us working on a11y+e10s for Windows, which is also supposed to land in Fx57.

[2017-08-02 22:38] gregtatum commented on #342
See the profile for an example, `A11y` markers show up as text results in the markers view, but not anywhere else. https://perfht.ml/2wmBYnw

[2017-08-02 22:45] dblohm7 commented on #342
In the meantime I will probably change those a11y markers to be interval markers as a workaround.

[2017-08-03 00:21] dblohm7 commented on #342
Unfortunately that doesn't work for me either. I assume that is because the intervals are so small that their durations effectively round down to zero?

[2017-08-03 14:09] #465 closed

[2017-08-03 14:16] julienw commented on #491
BTW here is my completely WIP branch: https://github.com/devtools-html/perf.html/compare/master...julienw:debug-unhandled-rejections?expand=1

[2017-08-03 14:28] julienw commented on #478
I tried different approaches here: https://github.com/devtools-html/perf.html/compare/master...julienw:reduce-canvas-drawings

Each commit has a different approach, not all are as effective or even as bugfree :) I think I can try separate PRs too.

1. https://github.com/devtools-html/perf.html/commit/bf3413f1c676a62b6ae5f72048f5677c0a6ff957 do not redraw canvases at mousemove -- this seems actuall

[2017-08-03 14:31] gregtatum commented on #342
Markers show up in two different timelines:

The ones in the header probably will not show up if their interval is too small:
<img width="579" alt="image" src="https://user-images.githubusercontent.com/1588648/28926770-6b614d6a-782e-11e7-8227-13e73e05b042.png">

The ones in the Timeline panel will show up as small round dots.
<img width="711" alt="image" src="https://user-images.githubusercontent.

[2017-08-03 16:03] gregtatum commented on #478
Thanks for looking at that IntersectionObserver stuff. One thing I would like to do which would be an easy fix would be to only show 1 thread at a time in the Timeline view. I think my initial assumption of having all that information in one place as a good thing is wrong. I think we can be a lot more aggressive about only re-rendering when it's needed, but it's a decent amount of work to do it co

[2017-08-03 16:09] gregtatum commented on #471
Here is a diff to get someone going.

[code]

[2017-08-03 19:26] gregtatum commented on #435
I decided not to move forward with my plans to remove the funcStack tables and may mapping of stack indexes during transformations. I found that my assumptions about how things could work were not correct. I did end up getting some new tests and documentation out of the work. The actual work I was able to salvage is as follows.

https://github.com/devtools-html/perf.html/pull/476
https://github.co

[2017-08-03 20:05] bholley commented on #435
FWIW, I don't think re-ordering transformations is important. Stack-ordering is totally logical from my perspective, and at first glance I would not assume that all the transformations must be arbitrarily composable.

[2017-08-03 21:31] gregtatum commented on #461
Closing this as I wrote some documentation here covering it: https://github.com/devtools-html/perf.html/pull/495

[2017-08-03 21:31] #461 closed

[2017-08-04 06:45] julienw commented on #411
@gregtatum does https://github.com/devtools-html/perf.html/commit/2083b7c05e11f0d32669ce62495d8a4e64297b52 fix this ?

[2017-08-04 08:55] julienw commented on #342
hey @dblohm7, just want to know if what greg showed here ^ is good enough for you ?

[2017-08-04 09:05] julienw commented on #342
Also @dblohm7 it would help if you have an uploaded profile with such markers.

[2017-08-04 09:06] julienw commented on #342
@gregtatum looks like we don't display small markers even here, see:
https://github.com/devtools-html/perf.html/blob/2083b7c05e11f0d32669ce62495d8a4e64297b52/src/components/timeline/TimelineMarkerCanvas.js#L155-L158

[2017-08-04 14:15] gregtatum commented on #411
Yes, although it might be nice to add this context menu to the other places we display markers. It wouldn't be too difficult I think. You could use the same context menu component.

[2017-08-04 14:16] gregtatum commented on #411
Although maybe since they are interval markers that doesn't make sense... You might need to do things differently.

[2017-08-04 14:19] gregtatum commented on #342
Sure, go ahead and remove it. That was leftover from the flame chart implementation.

[2017-08-04 14:36] #471 closed

[2017-08-04 15:08] gregtatum commented on #454
I'm a big fan of brutalist linting practices. I want to make sure that I don't have to spend my time in a review thinking of about lint and formatting problems. I haven't dug as much into how husky works and what is running. Whatever solution, I think we should provide only opt-out configurations, while keeping the default to automatically running it on users code.

Or at the very least I'll run t

[2017-08-04 15:17] clarkbw opened #501 "programatic uploads of profiles"
Coming from issue https://github.com/devtools-html/perf.html/issues/331#issuecomment-301916292

[2017-08-04 15:18] gregtatum commented on #454
To clarify, all I want is for prettier to run automatically for code that gets sent into our project.

[2017-08-04 15:25] clarkbw commented on #475
This might also be related to #501 that I just created

[2017-08-04 16:24] clarkbw commented on #116
console.timeStamp() on the platform needs to insert a non-interval marker and perf.html needs to display those markers.  We need a related platform bug here.

[2017-08-04 16:27] gregtatum opened #502 "What do we need to do with the Summary View?"
We have the summary view, but it's not gotten any love. We were triaging some issues, and most of them are fairly old, so it's hard to evaluate if they are actionable. I think it would be helpful to talk about the summary view a bit.

* #219 - Display a summary of time spent per hostname
* #131 - Selecting a category in the summary tab should highlight matching samples in the thread graph
* #130 -

[2017-08-04 16:29] clarkbw commented on #143
@mstange is working on this in an issue to be filed... 💥

[2017-08-04 16:36] julienw commented on #116
Let's also check console.time/console.timeEnd

[2017-08-04 16:38] clarkbw commented on #374
Duplicate of #253

[2017-08-04 16:38] #374 closed

[2017-08-04 16:40] clarkbw commented on #400
- [ ]    Tab switch markers (needs issue filed)
- [x]   DOMEvents markers for click
- [ ]    DOMEvents for with high input latency (depends on bug 1371528)
- [ ]    Page navigation including non-blank paint (have but not showing, because they are non-interval markers) #342

[2017-08-04 16:41] gregtatum commented on #145
This work has been mostly done, and isn't specific enough to be actionable for any additional work.

[2017-08-04 16:41] #145 closed

[2017-08-04 16:43] clarkbw commented on #401
Recently Fixed!

[2017-08-04 16:43] #401 closed

[2017-08-04 16:59] clarkbw commented on #486
Blocked on #435

[2017-08-04 16:59] mstange commented on #485
I don't really understand the distinction between "based on the event" and "everything that's happening in the duration of the selected event".

@bzbarsky, would you mind clarifying? If you click an interval marker in the markers timeline at the top, we already select the thread of that marker, and we update the range filter to only include samples that ran during that interval marker. So the call

[2017-08-04 17:01] julienw commented on #342
Looks like that just removing it make it display. I'll look a little more on monday.

[2017-08-04 17:02] clarkbw opened #503 "investigate the transformation performance"
With #337 we should see some perf wins but in general we should investigate the performance of transformations so we better understand it and can more easily resolve issues like #467 and #468

[2017-08-04 17:04] clarkbw commented on #116
the perf.html non-interval markers work is being done in #342

[2017-08-04 17:08] clarkbw commented on #116
The comments in [implementation of console.timeStamp](https://bugzilla.mozilla.org/show_bug.cgi?id=922221) seems very relevant to this.

[2017-08-04 17:24] bzbarsky commented on #485
So maybe I just don't understand the timeline view very well.  Here's a concreate example.   I started the profiler, loaded

    data:text/html,<script>onclick = function() { var start = performance.now(); while (performance.now() - start < 3000); alert('aaa'); } </script>

clicked in the page, waited for the alert to come up, stopped the profiler.  The result is at https://perfht.ml/2wsJBc7

Over

[2017-08-04 17:36] clarkbw commented on #116
Filed platform [bug 1387528](https://bugzilla.mozilla.org/show_bug.cgi?id=1387528) for implementing the non-interval markers required.

[2017-08-04 19:41] violasong commented on #111
Safari-style behavior, except show an “Aa” version of the filter icon when case sensitive is active. Filter icons attached below. Also, this is based on a 9px taller search field.
<img width="303" alt="image" src="https://user-images.githubusercontent.com/55994/28984277-0d8976a6-7912-11e7-9f0b-411f87f80995.png">

[filtericons.zip](https://github.com/devtools-html/perf.html/files/1201444/filtericon

[2017-08-04 21:07] violasong opened #505 "Improved Filter/Search field with filter stack"
<img width="292" alt="image" src="https://user-images.githubusercontent.com/55994/28986939-f9757ca8-791d-11e7-84d4-08eb4e60bea6.png">

See [this section](https://docs.google.com/document/d/1b7TKNE1A0ItyWuhKh-RcWB8oTFA0GPIAnB1AS5yUDG0/edit#heading=h.taveyf44zrff) in design doc for wireframes/UX details.

Includes:
- Search in previous search results #486
- Gmail-style filtering tokens #245

Blocked

[2017-08-05 00:38] violasong commented on #470
Sounds like we need:
- A way to "import" one profile into another profile tab via URL or local file
- Perhaps also a way to display a history of the last _n_ recorded profiles in the Profiler toolbar panel, which could allow you to select two profiles and click "Compare"?
- A way to show the two profiles' timelines in the header area, lined up with each other
- Ability to select and compare marker

[2017-08-05 01:00] violasong commented on #470
Also, re: call stack comparison, would it be helpful/possible to display the two profiles in two columns like a diff tool, connecting/highlighting the parts that are different and using some green success color to indicate the side that's more performant?

[2017-08-05 13:38] PaulBone commented on #470
This should also use #448

[2017-08-07 05:57] dblohm7 commented on #342
This ask isn't really for me (I've been using profilers of all stripes for a long time), but more for some colleagues. @julienw I will have to discuss it with some a11y people to determine how well this works for them. I am on holiday on Monday but I will know more on Tuesday.

[2017-08-07 20:31] gregtatum opened #508 "Remove legacyRangeFilters"
https://github.com/devtools-html/perf.html/blob/5a6887d353c1909692c402d3b1b06d4038fb7015/src/actions/receive-profile.js#L505-L511

I'm not sure how far back these filters are from, and if it's worth keeping this code around. It's pretty hacky. It would be nice if we could just delete them. At the very least I'd like to put in a few more code comments about them.

@mstange ^

[2017-08-09 00:18] violasong opened #510 "Inline filtering documentation (tree graphics)"
When hovering over filtering options in the contextual menu like charge to callers, it would be helpful to show a modal with a tree graphic as shown [here](https://github.com/devtools-html/perf.html/issues/242#issuecomment-290729972). The help files could be Markdown pages.

It may also make sense to add a question mark button next to the filter input that brings up a reference which explains all

[2017-08-09 00:46] violasong commented on #484
Still a bit confused about this one. It seems like it may be partially related to #215: custom colored nodes. E.g. one should be able to bookmark either a point in the header timeline or in the callstack by right-clicking and selecting "Add marker" - we can automatically assign a label and a color based on the Photon colors (e.g. DevTools [grid colors](https://docs.google.com/document/d/1AJ7oHC7ak

[2017-08-09 00:59] violasong commented on #502
The summary view might be the right spot for lists of custom-colored nodes (#215) and custom markers (#484) along with their aggregate data.

If it observed ranges, it would be great for answering Mike's questions re: "What's the average time for all of the composites in this region that I'm zoomed in on?" "How many paints occurred in this region? How long did each one take?"

[2017-08-09 02:01] violasong commented on #486
Design for this is in #505: Improved Filter/Search field with filter stack

[2017-08-09 05:17] hotsphink commented on #502
Yeah, I definitely have a soft spot for the summary panel. Or rather, the categorization info in that panel; I find the summary panel itself mostly useless, and my preference would probably be your "Remove the summary panel, but integrate its information in other places" unless you did decide to turn the summary panel into something focused on selected portions of profiles (not necessarily contigu

[2017-08-09 16:29] julienw commented on #478
@gregtatum I agree with your proposal to show 1 thread at a time; so that would mean both for markers and for the flame chart ?

[2017-08-09 22:24] gregtatum commented on #478
@julienw yup!

[2017-08-09 22:44] gregtatum commented on #435
I have a PR open for data transformations:

https://github.com/devtools-html/perf.html/pull/512

[2017-08-10 15:12] #342 closed

[2017-08-10 21:50] gregtatum commented on #470
My comment was for showing one thread for the Timeline panel, not the header. So I think we need a mechanism to select which threads we are interested in comparing.

I'm not sure how this would work or if it's feasible.

The problem here is that the stacks won't always line up. A top functions view would be much easier to do this with, and would be very nice. The call tree is dependent on the orde

[2017-08-10 21:59] gregtatum commented on #484
#215 is about annotating the call tree. I believe what Mike Conley is referring to is annotating the time ranges for when things are happening.

For me reporting a bug, what I would like to do is go into a profile, explore it, then annotate it with my work marker information. So my user story would be I would record a profile of something I'm interested. I would then create a range selection. Then

[2017-08-10 22:12] gregtatum commented on #435
PR #512 is merged in, now I need to update my implementation of charge to caller to use the new transform stacks 💪

In addition we now have new testing infrastructure in place to assert valid transformation.

I'm getting close!

[2017-08-11 16:33] gregtatum commented on #131
Dependent on #502.

[2017-08-11 16:36] clarkbw commented on #116
This is only blocked on the bugzilla bug now

[2017-08-11 20:30] violasong opened #517 "Callstack navigation: automatically expand to next branching node"
Navigating the callstack seems slow since it requires two right-arrow key presses to expand and go to next row.

We should change it so that right-arrow (or clicking on disclosure triangle) automatically expands to the next node that has 2 or more children. It should auto-select that node.

[2017-08-11 22:24] violasong commented on #470
Here are some mockups - let me know if you have any feedback! Also, do any of the other panels need design work for this?

Importing a profile into another profile:

<img width="268" alt="image" src="https://user-images.githubusercontent.com/55994/29233512-04ce223e-7ea6-11e7-9f15-87685d245a55.png">

Profile comparison with difference tree:

<img width="880" alt="image" src="https://user-images.git

[2017-08-14 15:39] digitarald opened #518 "Do not upload when symbolication is not complete"
Reported twice last week; engineers received profiles from testers that weren't symbolicated. The users probably hit upload right after the UI popped up.  Quickfix would be to allow sharing until symbolication is done; long term it would be good to have upload be blocked by initial processing steps.

[2017-08-14 15:41] clarkbw commented on #518
In #253 markus will be implementing something to attempt to symbolicate on the server.

[2017-08-14 16:31] digitarald commented on #518
For posterity: When this gets marked fixed, [MDN](https://developer.mozilla.org/en-US/docs/Mozilla/Performance/Reporting_a_Performance_Problem#Capturing_and_sharing_a_profile) needs to be updated as it tells users to wait.

[2017-08-14 16:39] clarkbw commented on #518
I think we might try to figure out a warning system.  I'd be concerned with something that blocked upload because symbolication could have issues completing. Also if we can do symbolication on the server there's no need to block unless the build was a local build.

[2017-08-14 22:20] violasong opened #519 "Callstack: Add color-coded icons and better formatting"
It would be helpful if the callstack had icons and colors to differentiate between the different types of nodes.

- Color-code events in callstack to match markers e.g. use a green square to indicate paint events
- Need a way to differentiate between website code vs Mozilla code vs OS code
- User actions like "click" should be called out with its own icon
- Function names should be bold or otherwi

[2017-08-15 08:42] julienw commented on #518
Maybe even simpler, we can wait until symbolication is done before
uploading.

[2017-08-16 15:27] julienw commented on #518
Looking at it

[2017-08-16 15:50] gregtatum commented on #473
What we'd like to track:

The goals here would be to gain an insight into how users are using the UI as it is currently built. In general I'd like to collect information about what people are using in the UI, and how often they are using it. This will help prioritize tweaks to the layouts, and the terminology that we use.

## UI use tracking

 - Page views
 - Which tabs are clicked, e.g collect `c

[2017-08-17 06:59] #479 closed

[2017-08-17 17:20] gregtatum commented on #435
I have charging working on an un-inverted call tree. I'm still working on the inverted call tree.

[2017-08-17 19:11] gregtatum commented on #388
This is caused by the focus subtree behavior not correctly handling the implementation for C++ only views.

[2017-08-17 23:40] violasong opened #522 "Improved Save/Share/Compare panels (Incl. local saving UI)"
- Share: Simpler privacy notice. Copy-to-clipboard button.
- Save: Include "saved locally" confirmation with auto-named profile. Possibly also include pencil button for renaming profile.
- Compare (#470): Include list of locally saved profiles

<img width="885" alt="image" src="https://user-images.githubusercontent.com/55994/29438270-6f283fc0-836a-11e7-9031-c183db742084.png">

[2017-08-17 23:50] violasong commented on #448
Hi @PaulBone, what's the status of your work on this feature?

I made some mockups to show my thinking on how this could work.

This involves my Photon-inspired layout (see [this](https://github.com/devtools-html/perf.html/issues/470#issuecomment-321931956)) as well as the save locally feature (#522).

Mainly I think we want a really easy one-click to rename button in the Profile header:

<img wid

[2017-08-18 12:08] PaulBone commented on #448
Hi @violasong, I started to look at it but something must have happened and I was distracted.  I was looking at how to store the names within the profiles, I didn't look into the UI very much.

I don't trust my skill with UI things, and JavaScript, React, Redux etc are all new to me. So you'll probably get this done way quicker than I can.  My only request is that the profile name be visible at al

[2017-08-18 16:21] gregtatum opened #524 "Update CallNodePaths in state when adding a transform"

[2017-08-18 16:23] clarkbw commented on #470
Need to file break out issues for this.

Suggest starting with the Call Tree comparison view and waiting on the "top thing"

[2017-08-18 16:33] mstange opened #525 "Audit setState calls"
`setState` with an object is deprecated in recent React versions, we should pass a lambda now.

[2017-08-18 16:57] gregtatum commented on #525
Wow, I had no idea.

[2017-08-18 18:12] julienw commented on #525
I think this is really needed for when a state depends on a previous state, right ? I know I did it in some places already. Or do they always want a lambda now ?

[2017-08-22 16:26] julienw opened #528 "I don't understand what "merge to caller" means when in an inverted call tree"
In https://github.com/devtools-html/perf.html/pull/521 @gregtatum landed his "merge to caller" work. But I don't understand what it means for inverted call tree, and I think we should just disable the context menu when in "inverted" mode and remove the related code.

Pinging @mstange

[2017-08-22 21:29] mstange commented on #528
Instruments only has a "charge function to caller" operation, it doesn't care about the path to the node. So in Instruments, the charging operation is completely independent of whether the call tree is inverted or not.

I agree that the "merge inverted callnode to caller" operation is probably more trouble than it's worth.

[2017-08-23 07:26] julienw commented on #528
I think I'd agree with this, but this is not what was done, right ?

[2017-08-23 14:05] julienw opened #532 "When we fail processing a published profile because its version is too high, we should check if the service worker has updated"
Regularly, when we increase the processed profile version, then it could happen that a user will get an error when trying to display a shared profile with this newer version, while he still has an outdated version of perf-html cached locally by the service worker.

If we have an error while processing the downloaded profile, we can check if we have a new service worker waiting, using something lik

[2017-08-23 14:47] gregtatum opened #533 "Update CallNodePaths when transforms are removed"
When we add a transform to the stack we update the stored CallNodePaths by applying that transform to the paths. We don't do the reverse, and it would be nice to try and support that. We might not be able to do it 100% correctly, but I think it would be worth trying.

[2017-08-23 14:49] gregtatum commented on #528
Ok, I think we all agree. Let's remove it, but keep it for merging functions as opposed to call nodes.

[2017-08-23 14:50] gregtatum opened #534 "Remove the merge call node transform on inverted trees."
Per #528 let's remove the option to merge call nodes on inverted trees as it doesn't really make sense, and is more trouble to support than it's worth.

[2017-08-23 14:50] #528 closed

[2017-08-23 15:01] gregtatum commented on #524
Fixed with #531

[2017-08-23 15:01] #524 closed

[2017-08-23 15:01] gregtatum commented on #199
Fixed ages ago.

[2017-08-23 15:01] #199 closed

[2017-08-23 15:55] gregtatum commented on #532
This probably doesn't affect Quantum Flow work too much, but this is a big annoyance and confusing to our users.

[2017-08-24 07:29] juj commented on #215
This is still a feature that would have great value, especially now with multithreading coming to WebAssembly. If it was possible to create a set of strings to label them with a color, like mentioned above, and the swimlane view showed those colors, understanding profiles of multiple threads would become much easier.

For example, one of the big performance problems in multithreaded applications c

[2017-08-24 14:36] gregtatum commented on #67
From @juj on the Gecko Profiler Addon issue [#92](https://github.com/devtools-html/Gecko-Profiler-Addon/issues/92):

[2017-08-24 14:51] gregtatum opened #540 "Add a mechanism to name Workers"

[2017-08-24 14:55] gregtatum commented on #540
@juj We can rename threads in the UI to something more ergonomic. We already do that for other threads that having confusing internal names. What do you think about having the worker be the script name? It be something like `Worker game.js` and then the tooltip would have the full URL and information.

Could you also provide a URL to an example profile? That's helpful when trying out changes to th

[2017-08-24 15:08] gregtatum commented on #215
@violasong would this be related to any of your UX work on the call tree?

@juj For our roadmap, we're currently prioritizing our work based on needs from Quantum Flow. These are issues are [labeled](https://github.com/devtools-html/perf.html/issues?q=is%3Aopen+is%3Aissue+label%3A%22quantum+flow%22) and they are either on the high priority or low priority board. Next quarter we'll most likely be f

[2017-08-24 15:45] gregtatum commented on #388
Fixed by #538

[2017-08-24 15:45] #388 closed

[2017-08-24 18:00] mstange commented on #226
The "double click action" part of this has been fixed in #527.

[2017-08-24 18:47] gregtatum commented on #435
Charging a call node to caller is landed and deployed. Charging a function to caller is in review. I used the word "merge" instead of "charge" for these operations. Things are moving much faster now that the we've refactors, have lots of docs, and tests to support these changes. If you want any additional transformations that are not listed here, now is the time to request them as all of this work

[2017-08-24 18:50] gregtatum commented on #243
@bzbarsky how do you expect this to work?

1. All invocations of B will be collapsed across the call tree.
2. Collapse recursion for one particular place in the call tree.
3. Collapse recursion for every single function that calls itself across the profile.

I'd prefer to keep it to one option to make sure we don't overload the operations we support.

[2017-08-24 18:51] gregtatum commented on #243
Also, @mstange do you have opinions with the above?

[2017-08-24 19:02] #242 closed

[2017-08-24 19:09] #534 closed

[2017-08-24 19:52] mstange commented on #243
I think 2 and 3 would be the most useful. And we could have both.

[2017-08-24 19:57] gregtatum commented on #435
@bholley @bzbarsky charging a function is deployed, you may need to refresh to see it. It's currently called "Merge function into caller across the entire tree"

<img width="296" alt="image" src="https://user-images.githubusercontent.com/1588648/29685865-647684a2-88dc-11e7-9546-2a6fe6ff9f82.png">

[2017-08-24 19:57] mstange opened #543 "Data transform: Collapse all functions in a given library"
This request is very similar to #244.

Sometimes you want to ignore certain system libraries, e.g. graphics drivers. It would be nice to be able to hide them from the tree (and have their cost be accounted to the caller).

[2017-08-24 20:11] mstange commented on #243
Actually, let me word that more strongly: I don't think we should implement "Collapse recursion for one particular place in the call tree.". It doesn't seem useful.

[2017-08-24 20:24] gregtatum opened #544 "Data transform: Collapse all functions in a given path"
I'm breaking this out into a separate issue from #244. This feature is for collapsing code in a given path in the source directory. This is harder than the other transformations as we do not currently have access to the path for what files a given function is from. We would have to gather that ourselves.

[2017-08-24 20:26] gregtatum commented on #540
Also, @brisad this would be a nice issue to fix if @juj agrees to my suggestion. This would be implemented using:

https://github.com/devtools-html/perf.html/blob/fc6b27bc64ba28de322306b26afb6aa9ca673a79/src/profile-logic/profile-data.js#L857

[2017-08-24 20:32] gregtatum commented on #22
This is a duplicate of #409

[2017-08-24 20:32] #22 closed

[2017-08-24 20:34] gregtatum opened #545 "Data transform: Collapse a subtree"
[code]

[2017-08-24 21:33] violasong commented on #215
Yes, there could probably be a nice way to centralize all meaningful colors. Maybe this could be a section in the summary tab with aggregate info for each custom node or standard type of marker, and it could serve the dual purpose of being a color reference.

[2017-08-25 01:42] bholley commented on #435
Great! I'll try them out tomorrow. Is "Focus on all topmost calls to this function ignoring everything above" in the pipe? That would be very useful for us to analyze all the DoProcessPendingRestyles calls together, which can be triggered from lots of different places.

[2017-08-25 14:35] gregtatum commented on #435
That's what I'm working on right now and is #409.

[2017-08-25 14:36] gregtatum commented on #409
This is not blocked anymore.

[2017-08-25 14:58] gregtatum commented on #409
Given a call tree:

[code]

Then focus on function X

Do we want:

[code]

Or:

[code]

[2017-08-25 15:02] gregtatum commented on #409
@bholley your comment about focusing the "topmost" was a big ambiguous to me. Could you clarify here?

[2017-08-25 15:07] mstange commented on #409
I understand @bzbarsky's comment "An edge case is when the relevant function calls itself recursively (possibly indirectly); I'd want to focus on the outermost invocation." as preferring 2.

The old cleopatra also did 2. I remember running into a few cases where I would have preferred 1, though.

[2017-08-25 16:01] violasong commented on #519
<img width="1005" alt="image" src="https://user-images.githubusercontent.com/55994/29721976-e785884c-8973-11e7-9d0a-0c9d3127252b.png">

[2017-08-25 16:21] digitarald commented on #253
Also affects devtools automation, cc @bgrins .

[2017-08-25 16:26] digitarald commented on #486
Blocked on UI in place, #505

[2017-08-25 16:27] digitarald commented on #485
Per @mstange this might be a bug in gecko.

[2017-08-25 16:28] digitarald commented on #111
UX has to be aligned with #505

[2017-08-25 16:42] digitarald commented on #519
next step: @violasong to document the colors for implementation.

[2017-08-25 16:44] digitarald commented on #522
Blocked by #11

[2017-08-25 16:53] digitarald opened #546 "Context menu on markers in the marker chart"
Including details like #411

### Brief

Why: Slicing a time window exactly according to marker boundaries is only possible in the *marker list*.

What: Add a context menu on markers in the *timeline* with the same options provided in the *marker list*.

[2017-08-25 16:53] #349 closed

[2017-08-25 16:54] digitarald commented on #411
Continued in #546 for additional menu in timeline/header.

[2017-08-25 16:54] #411 closed

[2017-08-25 18:15] violasong commented on #519
For reference, Markus' and Chrome colors:
<img width="351" alt="image" src="https://user-images.githubusercontent.com/55994/29725597-8ba9b724-8981-11e7-8a57-fe5e6950f5d2.png">

Here's my suggestions for the colors (from the [photon design system](http://design.firefox.com/photon/visual/color.html) which has an [NPM module](https://www.npmjs.com/package/photon-colors) for the color variables)

<img

[2017-08-25 20:55] bholley commented on #409
I'm a bit confused about (1). Where does C go?

I think (2) is generally the most useful and versatile. I can imagine a mode where recursive calls are hoisted up to the top level, but I'm having trouble thinking of a case where that would be useful.

[2017-08-29 20:22] bzbarsky commented on #409
@mstange is right: (2) is what I tried to express above.

There are definitely cases where (1) might be better, but I can't think of a good UI affordance for letting one select between (1) and (2).

[2017-08-29 20:41] bzbarsky commented on #243
I was thinking of option (3), I think, mostly because that's what I'm used to with Instruments.

Option (1) seems like it would also address my use cases, though; in practice when I want this there's a particular recursive function I'm dealing with.

[2017-08-29 20:51] bzbarsky commented on #388
Thank you!

[2017-08-30 04:15] PaulBone commented on #411
@hotsphink has a tool that he uses to open, cd, cat and grep around inside of the json files.  It's very useful for things that perf.html doesn't do yet.  grep and querying information from multiple markers is very handy, but hopefully perf will continue to make this easier.

https://github.com/hotsphink/sfink-tools/blob/master/bin/json

[2017-08-30 11:46] SimonSapin opened #559 "New tab crashes on "Capture profile" with interval less than 1ms"
Steps to reproduce:

* Click on the profiler’s icon, open the "Settings" thing, and change "Interval" to some value less than 1 ms
* Click "Apply (Restart Profiler)"
* If the profiler is stopped, click "Start"
* Click "Capture Profile"

Expected result: a new tab opens that looks like https://raw.githubusercontent.com/devtools-html/perf.html/master/screenshot.png, like it does with a 1ms interval.

[2017-08-30 12:20] julienw commented on #411
I've been using ` jq` for stuff like this :) (https://stedolan.github.io/jq/, availale in all good linux distributions)
(but I admit I never tried with marker payload data)

[2017-08-30 13:43] mstange commented on #559
Which platform is this happening on? I can't reproduce it on Mac.

[2017-08-30 14:30] SimonSapin commented on #559
Both machines I tried are on Linux.

[2017-08-30 15:17] gregtatum opened #563 "Split up timeline tab"
I think we should split up the timeline tab. I think we should have a tab for the flame chart, and a tab for the markers. Each of these tabs should only show one thread. I was working through a performance problem with Yulia yesterday, and the UX for the area was really painful, and the performance of the view was really bad. These changes would reduce a lot of the complexity and fix some inherit

[2017-08-30 15:56] julienw commented on #439
see also https://github.com/devtools-html/perf.html/pull/558

[2017-08-30 16:32] julienw commented on #563
I have a WIP patch to show only 1 thread, but I broke everything without committing any intermediary step :) I tried to use [rc-collapse](http://react-component.github.io/collapse/) to show either the timeline or the flamechart in the same view, but I never managed to make it work properly.

I think I'd rather see 2 tabs as you propose :)

(my WIP branch was https://github.com/devtools-html/perf.h

[2017-08-31 09:46] mstange commented on #559
I can reproduce this on Linux.

[2017-08-31 11:30] mstange commented on #559
Locale-dependent `%f` strikes again.

[2017-08-31 11:43] mstange commented on #559
https://bugzilla.mozilla.org/show_bug.cgi?id=1395524

[2017-08-31 11:43] #559 closed

[2017-09-01 14:58] gregtatum commented on #543
Ok, I have a question as to what this looks like:

Given the following stack, and collapsing on .lib stacks.

[code]

Do we only keep the root-most stack? This is what I take the term "collapse" to mean.

[code]

Or do we "merge" the stacks?

[code]

Or do we "collapse" the library and create a new stack to represent it.

[code]

[2017-09-01 15:11] mstange commented on #543
The last would be ideal.

[2017-09-01 16:17] digitarald commented on #518
Possible quick fix is disabling the upload button until symbolication is complete.

[2017-09-01 17:59] mstange commented on #92
Dup of #329

[2017-09-01 17:59] #92 closed

[2017-09-04 15:03] juliandescottes commented on #218
Was about to log a new issue for that :) Here is a GIF that highlights the issue

![perf-html-click-offset](https://user-images.githubusercontent.com/1141550/30031701-e0864f50-9192-11e7-98ba-5ac0a166abcc.gif)

Clicking on the left half selects the correct stack. Clicking on the right half selects the next stack.

[2017-09-04 15:41] julienw commented on #218
Ah thanks !

[2017-09-04 16:03] juliandescottes commented on #218
I'll give this a try!

[2017-09-04 16:36] juliandescottes commented on #218
After some analysis, there is a mismatch between the way we draw the samples [1], and the way we match a `time` to a sample [2]. (when I talk about samples here I mean items from a SampleTable object as can be found props.thread.samples[i] in src/components/header/ProfileThreadHeaderBar.js)

A sample is supposed to represent an interval, but is stored as a single time. The draw code assumes that t

[2017-09-04 16:44] julienw commented on #218
I think a sample time is the start of the sample, but @mstange will know for sure !

[2017-09-05 23:33] upsuper opened #573 "perf-html.io should warn when people want to close the tab but it is still uploading"
It is confusing that perf-html.io shows a popup of the url of the profile before actually uploading the profile.

There was one time I thought it finished uploading and just closed the window, the later it turns out that the url is invalid, and I lost the profile forever.

I think it would be helpful to add a beforeunload event handler to stop user from closing the window when it is still uploadin

[2017-09-06 04:47] PaulBone opened #574 "The marker timeline labels are difficult to read (Low vision accessability)"
The marker timeline canvus (click the Timeline button and look down) where the markers are drawn on a horizontal timeline, has difficult to read labels for the markers.  My firefox is configured to ignore the colours of a site and substitute my own high contrast inverse colours.  When this happens the titles on the left of these markers have some poor contrast and can be difficult to read.  I woul

[2017-09-06 12:48] julienw commented on #574
at the moment, we "draw" the labels in the canvas and that's why your configuration doesn't apply.

Our plan for the general layout of this tab is:
1. split this tab in 2 tabs: https://github.com/devtools-html/perf.html/issues/563
2. display markers for the selected thread only: https://github.com/devtools-html/perf.html/issues/478 (this issue is badly named, or maybe we should file a separate iss

[2017-09-06 12:49] julienw commented on #573
This is a good suggestion.

This would be super easy if we can finish https://github.com/devtools-html/perf.html/pull/550 which exposes new redux state properties for the uploading process.

[2017-09-06 13:53] gregtatum commented on #574
@PaulBone could you provide steps to configure our own browsers this way? That way we can try it out with the same settings.

[2017-09-06 22:09] gregtatum opened #575 "Complete Mozilla website requirements"
We need to complete some requirements in order to get analytics.

 - [x] Add footer links
 - [x] <s>Creative Commons Copyright notice *(optional)*</s>
 - [x] [Observatory security](https://observatory.mozilla.org/) score of at least B+
 - [x] Get name clearance: https://bugzilla.mozilla.org/form.name.clearance

### Footer links

[code]

### Creative commons notice

[2017-09-06 22:36] digitarald commented on #575
I filed the name clearance issue.

[2017-09-06 22:36] digitarald commented on #575
Observatory link: https://observatory.mozilla.org/analyze.html?host=perf-html.io

[2017-09-07 03:34] PaulBone commented on #574
In the Firefox preferences, scroll down to "Fonts and colours", click "Colours", I choose:
  Text: white
  Background: black
  Unvisited link medium blue
  Visited link: medum red

Untick "Use system colours"
Choose "Always" for "Override the colours specified by the page".

One of these days I'll write this up, with screenshots and other information as a blog post, since I've learnt that many peo

[2017-09-07 08:59] julienw commented on #575
We currently have only one CSP directive: `Content-Security-Policy: upgrade-insecure-requests`; which is unrelated to the main CSP directives.

[2017-09-07 11:14] juj commented on #540
The issue with this is that in Emscripten-compiled asm.js and WebAssembly applications, the script name is always the same for all Web Workers, and there are no different .js files for each spawned thread. That is why we would need a method where one can assist annotating thread names from the codebase itself. We already have such an API in Emscripten, where applications can name their pthreads, a

[2017-09-07 11:43] juj commented on #540
The page http://clbri.com/dump/mandelbrot/mandelbrot.html can be used to try out live. The environment variable `JIT_OPTION_asmJSAtomicsEnable` should probably be set to `true` (not integer 1) when doing a profile, or otherwise the page will not validate as asm.js (https://bugzilla.mozilla.org/show_bug.cgi?id=1299359#c0). Scrolling down at the bottom of the page shows the thread names using Emscri

[2017-09-07 12:06] PaulBone commented on #574
I'm sorry @julienw, I forgot to respond to this:

I think I've seen that done before, and if it is what I think it is, then it looked awful.  Although I may be mistaken, I'm not a web programmer myself.

[2017-09-07 14:42] #518 closed

[2017-09-07 16:03] gregtatum commented on #540
@mstange this sounds like a Gecko Profiler thing. Do you have any ideas on what would be feasible?

@juj Also in Q4 we're going to be focusing on supporting webdev workflows, so we'll probably have a bit of time to work on your requests.

[2017-09-07 18:23] mstange commented on #540
I think it's feasible, it's just a matter of finding the right UI and possibly APIs.

[2017-09-07 19:19] gregtatum commented on #574
I think I originally drew the markers with the canvas mainly because it was an easy prototype.

[2017-09-09 05:58] grahamperrin opened #580 "Gecko Profiler 0.17 fails to start with Firefox 55.0.3 on FreeBSD"
The _Start_ button is present but when it's clicked, profiling does not start.

![2017-09-09 06 40 09](https://user-images.githubusercontent.com/192271/30237512-928b02ea-952b-11e7-9634-1f0b491d5753.png)

[code]

[2017-09-09 06:12] grahamperrin commented on #580
From <http://www.freshports.org/www/firefox>:

Does that imply that profiling can not be implemented even when Gecko Profiler (the extension) is installed and enabled?

----

If it helps, from `about:buildconfig`:

`/usr/bin/cc -std=gnu99` | `4.0.0` | `-Qunused-arguments -Wall -Wempty-body -Wignored-qualifiers  -Wpointer-arith -Wsign-compare -Wtype-limits -Wunreachable-code  -Wclass-varargs -Wloop

[2017-09-09 17:30] mstange commented on #580
That's correct. Most of the Gecko profiler code C++ code is disabled on BSD at the build level, because important parts are not implemented for that platform. Most notably, we're missing BSD variants of `platform-*.cpp` and `shared-libraries-*.cc`. Here are the Linux variants of those files: [platform-linux-android.cpp](http://searchfox.org/mozilla-central/source/tools/profiler/core/platform-linux

[2017-09-11 09:53] julienw commented on #575
Oops, the Profiler addon injects some JS script to the page.

[2017-09-11 16:22] #580 closed

[2017-09-12 12:28] julienw commented on #575
Landed #581; now we need to deploy it on the server and check observatory :)

[2017-09-12 13:55] julienw commented on #575
A+ on observatory !

[2017-09-12 20:19] gregtatum commented on #90
Closing in favor of #253 which is being tracked in triage.

[2017-09-12 20:19] #90 closed

[2017-09-12 21:20] digitarald commented on #575
Confirmed with our legal that the CC notice is optional

The footer links should be a no-brainer on the landing page. In the main UI the footer could just be a floating element on the right/lower corner. For users that like their space back; we could add a little close button to dismiss the overlay (not shown in the mock).

<img width="521" alt="image" src="https://user-images.githubusercontent.co

[2017-09-13 07:36] PaulBone opened #585 "The screen is partitioned badly when the resolution is low."
When there is limited horizontal screen space, such as on a low resolution screen or when doubling the desktop DPI (Linux Mint) it cuts off too much of the lower pane, and the space given to each pane cannot be adjusted.
![perf-large](https://user-images.githubusercontent.com/3138117/30365046-eb9c664a-98a9-11e7-88c7-fd51a1b806dd.png)

[2017-09-13 15:54] gregtatum commented on #585
Thanks, that is a real issue. We're tracking that here: #67

[2017-09-13 15:54] #585 closed

[2017-09-13 18:23] gregtatum opened #586 "How to handle unsymbolicated JIT frames"
<img width="781" alt="image" src="https://user-images.githubusercontent.com/1588648/30393520-fb68b9b2-9885-11e7-8b1b-4790bb1bd8f1.png">

JIT frames are usually followed by a few frames of unsymbolicated memory. This is confusing our users as can be seen by https://bugzilla.mozilla.org/show_bug.cgi?id=1397718. There is there any value in keeping these frames here? I see two clear ways to deal with

[2017-09-14 08:26] julienw commented on #586
I can see they are both before and after the JS filename. I think we need to understand what's really behind: if this is part of the JS function execution then it should be merged into it; if it's part of the JS engine mechanics, then it should be merged in either EnterBaseline or DoCallFallback.

[2017-09-14 08:36] ochameau commented on #586
Note that if that appear to be any complex to do, any of the two solutions look good to me.
And if that's too hard, a simple note in a *visible* documentation could be enough.
Just saying, if you have more important things to work on.

The most important thing to me, was to get the confirmation it wasn't hiding useful information.
From now on, every time I'm going to see an unresolved address, I'l

[2017-09-14 13:34] gregtatum opened #587 "Proposal to access state and run selectors in action creators"
This is a proposal to start allowing state access in action creators. TL;DR I think at this point the restriction to pass in the required data as arguments to an action creator is making for harder to maintain code, and makes for working with Redux unnecessarily hard.

## What is a reducer?

A reducer is conceptually a function that has the signature `(State, Action) => State`. It is a pure functi

[2017-09-14 14:02] gregtatum commented on #586
@ochameau I think it's something I think we should handle correctly, it's something that mysterious that shouldn't have to be.

[2017-09-14 14:06] mstange commented on #256
Profile processing already knows how to reuse functions with the same strings, but it detects duplicates *based on the index of the string in the string table*. What happens here is that we have the same string multiple times in the string table.

I can see two solutions: Either we need to run a  pre-pass on the string table, remove duplicates, and map the duplicate string indexes to the deduplica

[2017-09-14 16:07] mstange opened #588 ""Unknown datasource none" error in the console"
A user hit this error at some point, see the error console screenshot at https://bug1397092.bmoattachments.org/attachment.cgi?id=8907574 .

[2017-09-14 19:36] julienw commented on #588
pretty sure we have this error at startup, if we access the root.

[2017-09-14 21:53] digitarald opened #589 "Sentry integration for error handling"
Using Sentry we want to aggregate errors from production.

Error cases that should be reported:

- Failed symbolication
- File could not be loaded
- UI errors

Requirements:

- Sentry should only aggregate for production builds
- Script should not be included not run when DNT is enabled

So far I am aware of 3 possible paths to use Sentry:

1. Catching errors in redux: https://github.com/captbarit

[2017-09-15 04:39] digitarald commented on #586
To @julienw's question, is it correct to say that those are addresses of JIT frames that got de-optimized (or otherwise invalidated)?

[2017-09-15 13:44] #218 closed

[2017-09-15 14:09] #408 closed

[2017-09-15 14:10] julienw commented on #407
#408 is fixed :)

[2017-09-15 14:13] julienw commented on #256
=> Would you be kind enough to explain why this happens ?

[2017-09-15 15:56] julienw commented on #467
Here is a profile where I invert/uninvert several times: https://perfht.ml/2wfQBxf
A lot of time seems to be spent in getCallNodeInfo.

I'm trying to confirm from a prod build.

[2017-09-15 16:31] digitarald commented on #253
@mikeconley @mstange how important are symbolicating local builds vs official builds that can be resolved via the snappy symbolication server?

[2017-09-15 16:43] mikeconley commented on #253
It's more important to me that we be able to symbolicate official builds that have, for one reason or another, failed to be symbolicated by Snappy.

[2017-09-15 16:55] digitarald commented on #470
Not planned in 2017 in the current scope.

Phase 1 should include:

- Storing local profiles
- Managed uploaded profiles (upload, revoke)

[2017-09-15 16:57] digitarald commented on #468
Addressed by #337

[2017-09-15 16:57] #468 closed

[2017-09-15 17:33] julienw commented on #467
This profile is better: https://perfht.ml/2ydxAsK

Especially we spend time in https://github.com/devtools-html/perf.html/blob/a40a1ec19131e2e09821f8ac0b43fc3a3a6d2186/src/profile-logic/profile-data.js#L640
which isn't especially surprising :)

[2017-09-15 18:07] gregtatum commented on #256
@julienw https://github.com/devtools-html/perf.html/blob/master/docs/call-nodes-in-cpp.md This should explain it. TL;DR We assume each memory address is an individual function to start, but in reality a function spans address ranges, so two memory addresses in samples could in reality be a single function. This gets resolved during symbolication.

[2017-09-15 18:08] gregtatum commented on #587
Markus gave his agreement in the standup on Thursday. I'll update the docs at some point.

[2017-09-15 18:08] #587 closed

[2017-09-15 18:13] gregtatum commented on #467
https://perfht.ml/2x7I6Da

Here's a profile zoomed in and data transformed (that was fun).

[2017-09-15 18:37] mystor commented on #253
I just realized that I never commented on this after @mikeconley pinged me, oops.

I'm pretty sure that I was profiling an official nightly build in the case which prompted his comment.

[2017-09-18 10:21] julienw opened #593 "Profiles containing a lot of markers are very slow"
[Example profile from @ocheameau](https://perf-html.io/public/a473fac42cd4f23e97c2c9890f1a61d5b76d208e/calltree/?hiddenThreads=&implementation=js&thread=0&threadOrder=0-2-3-1)

Especially slow use cases:
1. merely expanding a node in the call tree is slow
2. displaying the timeline tab is very slow

Some preliminary analysis:
* Here is a profile: https://perfht.ml/2xJx0Gh
* especially, displaying

[2017-09-18 14:11] #256 closed

[2017-09-18 14:18] gregtatum commented on #593
I would say let's handle #563 before we do anything else.

[2017-09-18 14:21] gregtatum commented on #563
Any ideas on what we should call the 2 tabs? I have no great ideas here.

Flame chart
Sample timeline
Call stack timeline

Markers Timeline (rename markers to Markers Table)

[2017-09-18 14:51] julienw commented on #563
I like: Flamechart / Markers Timeline / Markers Table ?

[2017-09-18 15:02] julienw commented on #593
#563 would only help 2, but not 1.

[2017-09-18 15:12] #588 closed

[2017-09-18 15:23] gregtatum commented on #593
I don't understand 1.

[2017-09-18 15:23] julienw commented on #593
Just try to expand a node in the call tree on that profile :)

[2017-09-18 15:25] gregtatum commented on #593
Sounds like it's time for another `componentDidUpdate` audit 😎

[2017-09-18 16:03] gregtatum commented on #545
@mstange do we want `collapse-subtree-node` or `collapse-subtree-function`, or both?

[2017-09-18 19:47] gregtatum commented on #243
Test profile: https://perfht.ml/2ykN0eM

[2017-09-18 21:05] gregtatum commented on #435
I'm going to close this bug as Q3 work is wrapping up and it's a little outdated at this point and I think this issue has served its purpose. Most of the architecture work that was hard to follow has been completed. There are still a few transforms that are in the backlog, but we have a label [data-transform](https://github.com/devtools-html/perf.html/issues?q=is%3Aissue+is%3Aopen+data+label%3A%22

[2017-09-18 21:05] #435 closed

[2017-09-18 21:15] mstange commented on #545
I asked Jeff, who asked for this transformation initially, and he only wants `collapse-subtree-function`.

[2017-09-19 08:21] julienw commented on #593
I noticed that starting from Firefox 52 we can use OffscreenCanvas in a worker and transfer the image to the main thread. The bad news is that OffscreenCanvas works with webgl only ;)

[2017-09-19 21:32] mstange commented on #253
This is currently blocked on https://bugzilla.mozilla.org/show_bug.cgi?id=1401361 .

[2017-09-22 13:00] fqueze opened #598 "Hide the stacks where we are idle waiting for events."
When looking at a profile of the main thread, usually most of the time is spent waiting for events. This often confuses people reading profiles, and makes them think the thread was busy. On Windows this is typically time spent in `NtWaitForMultipleObjects`, on Mac in `mach_msg_trap`, and in `poll` on Linux.

Even for people who are familiar with reading profiles, getting these stacks out of the wa

[2017-09-22 13:03] julienw commented on #598
I think this would be quite easy to do, and indeed these stacks are useless.

[2017-09-22 13:07] fqueze opened #599 "Hide stack frames showing internal details of the JS engine"
When looking at a profile of Firefox front-end code, using the "JS only" filter removes a lot of important information, but the "Combined stacks" filter is very noisy and hard to understand.

In most cases I think front-end engineers would like to see the JS code and the C++ methods that were called by the JS code, but all the stack frames in the middle are just noise.

Example of stack frames I c

[2017-09-22 13:10] julienw commented on #599
We have a discussion about the unsymbolicated JIT frames in https://github.com/devtools-html/perf.html/issues/586, but I think florian makes a valid point about the other stacks too.

[2017-09-22 13:20] fqueze commented on #599
https://perfht.ml/2hki5Lr may be used as an example here

[2017-09-22 13:21] fqueze commented on #598
https://perfht.ml/2jNwNLP / https://bugzilla.mozilla.org/show_bug.cgi?id=1402130 is an example where 7+s in NtWaitForMultipleObjects was misinterpreted as "strange 7s ipc pause" "I imagine the system was busy with something"

[2017-09-22 14:15] julienw commented on #485
Here is a profile from the first STR: https://perfht.ml/2fFNl42
Except I dismissed the alert before capturing. And the `click` event appears :)

We don't have the click event marker before the event is finished because DOMEvent markers are implemented like a single marker with `startTime` and `endTime` properties.

If we want to change this I think we would implement as a tracing marker, that is w

[2017-09-22 14:23] julienw commented on #485
I think this works for me now.

Also note we had quite a confusing 'timeline' tab, where it would always display all the threads, no matter which is selected.

Now (https://github.com/devtools-html/perf.html/pull/596) we display the data for the selected tab only. (and we also split the former "timeline" view into "flamechart" and "markers" -- so now we can freely call the header "the timeline" :)

[2017-09-22 14:26] julienw commented on #485
Last comment I have is: when you click on an event or a jank, you'll get a "preview". This controls what's displayed in the former "timeline" tab (now flamechart and markers timeline), but not the calltree. You can click on the magnifying glass to focus on this range, and then it would be used in the calltree too.

We implemented this way to make it easy to look at parts of the profile without nee

[2017-09-22 21:26] #543 closed

[2017-09-25 14:06] julienw opened #602 "Display "something" when there is no markers in the selected thread"
With the recent change displaying only the selected thread's information, the view is very empty (and appears broken) when the selected thread has no marker at all. We should display a message.

[2017-09-25 21:08] jryans opened #603 "Capture and display Firefox build ID in profiler UI"
It would be nice to have some way to keep track of the Firefox build used when gathering a profile, so that it's simpler to distinguish profiles captured across different builds.

At the moment, it doesn't seem like we capture enough version data in the profile itself, so that would need to be added first. Something like the build ID for official builds would be great to have. (If a VCS revision i

[2017-09-26 15:34] gregtatum opened #604 "Support a Flame Graph"
A flame graph can use the same infrastructure as the Stack and Marker chart, but can graph a stack based on total time run.

http://www.brendangregg.com/flamegraphs.html

[2017-09-26 15:35] gregtatum opened #605 "Support source maps"
Right now this seems viable in the DevTools recording panel mode. I think we should hold off on retaining source maps in the Gecko Profiler Addon, due to complexities of inlined sourcemaps.

[2017-09-26 16:17] julienw commented on #604
Some useful reads to understand the difference with a flame chart: [Chromium Bug](https://bugs.chromium.org/p/chromium/issues/detail?id=452624), [Presentation about reading flame graphs](https://www.slideshare.net/brendangregg/blazing-performance-with-flame-graphs/39)

[2017-09-27 16:24] julienw commented on #485
turns out this is false :)

[2017-09-27 16:41] mstange opened #606 "When capturing a profile during a DOM event, there is no marker for that DOM event in the profile"
See https://github.com/devtools-html/perf.html/issues/485#issuecomment-320306111 for steps to reproduce, and https://github.com/devtools-html/perf.html/issues/485#issuecomment-331459290 for the diagnosis.

[2017-09-27 16:43] mstange commented on #485
Thanks for tracking that down, @julienw. I've filed #606 for the mid-DOM-event profile capture problem.
If that's is the issue from this bug report that still exists, then we can close this.

[2017-10-01 10:11] julienw commented on #454
To recap, the issue here is that we automatically run `git add` on files that the developer only partially staged, the direct result being that the full file is prettied (why not) and committed (KO). I hit this again last week.

I got an idea that I'll forward to lint-staged upstream bug too: make it possible to configure different commands for partially staged vs fully staged files.

Partially st

[2017-10-02 18:36] gregtatum commented on #243
@bzbarsky Would you mind weighing in on some implementation details, as it will determine the final behavior of this transform.

The original request was framed as collapsing concurrent functions in a stack. I have a PR opened that does this, but during review @mstange brought up that given the following stack:

[code]

Collapse recursion "A", should create the following:

[code]

With the current

[2017-10-02 18:40] bzbarsky commented on #243
I actually kind of prefer the "current implementation" approach, because it's a lot clearer what's happening.  The approach @mstange suggests has an action-at-a-distance aspect that makes it hard for the user to tell what will really get collapsed and whether that collapse is desirable.

[2017-10-02 18:58] mstange commented on #243
@ehsan and @bholley may have opinions on it.

If we rename it to "Collapse direct recursion" we can land it in the current state. Once people ask for non-direct recursion collapsing, we can think about it some more.

[2017-10-03 13:16] PaulBone commented on #454
After I was bit by this I removed the .git/hooks files that npm or yarn or something put there without my permission, awareness. Then when I had to update something it did it again. I now have .git/hooks chmod 000 and I will never be bit by this problem again. If anyone else is getting bit by this they could try this solution also.

[2017-10-03 15:54] juj opened #608 "Documentation for possible targets for "Threads:" profiling option"
In
![threads](https://user-images.githubusercontent.com/225351/31134776-c33769f8-a86b-11e7-9577-3176d34edbb8.png)

it is possible to choose which threads to profile. Discussing via email, I heard that there is a "Worker" option that can be added there, which is great and works well.

1) What other options are there available in addition to `GeckoMain`, `Compositor` and `Worker`?

2) Tried to look

[2017-10-03 16:05] mstange commented on #608
Using Instruments and running that testcase, I could see that the CPU usage was inside a JS HelperThread. Unfortunately, this thread is currently not registered with the Gecko profiler. I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1405374 about this.

At the moment, the trick to see what threads are available is to set the thread filter to just a comma (","), which will cause it to profile

[2017-10-03 16:45] juj commented on #608
Thanks, very helpful!

I really like there type of UX where there are small superscript <sup>?</sup> marks added after items, which would then give info tidbits when hovered over. Those are generally on the moderately easier side to implement, they don't clutter up UI with verbose info text by default, and they avoid the issue that people won't find the features unless they know to navigate to a s

[2017-10-05 16:31] luser commented on #586
These are frames containing actual JIT code. The JS engine maps some memory, JITs instructions to it, then marks it as executable, and then EnterBaseline / other places jump to it to run that code. This is a giant hassle for other tools that walk stacks as well, FYI.

The JS engine does have support for informing debuggers about these frames, so it's possible we could use those same hooks to put i

[2017-10-06 12:34] luser commented on #586
On 64-bit only the JS engine calls these APIs to register a JIT code region:
https://dxr.mozilla.org/mozilla-central/rev/19b32a138d08f73961df878a29de6f0aad441683/mozglue/misc/StackWalk.cpp#137

We could feed that info into the profiler and store it in profiles, and you could annotate frames accordingly. I think the only reason it's not done on 32-bit is because it's only currently used for stack u

[2017-10-06 14:02] fqueze commented on #598
In a profile like https://perfht.ml/2ksqoGj it's really difficult for the untrained eye to see that 2 content processes are idle and the third one is taking 100%CPU.

[2017-10-11 15:18] gregtatum commented on #586
@luser Would this be worth doing? In the perf.html client we could do a quick fix to hide those frames.

[2017-10-11 15:19] gregtatum commented on #598
@fqueze thanks, that's a perfect example profile to work from.

[2017-10-11 15:37] luser commented on #586
I think it'd be useful info, and I don't think it would be a lot of work to fix. I'll file a bug.

[2017-10-11 15:43] luser commented on #586
Filed: https://bugzilla.mozilla.org/show_bug.cgi?id=1407662 . I think this information would be useful in crash reports as well!

[2017-10-16 15:24] gregtatum opened #613 "Recording panel (meta bug)"
This is a meta bug for tracking and discussing landing a recording panel in DevTools. Most of the work will happen on Bugzilla ([tracked here](https://bugzilla.mozilla.org/show_bug.cgi?id=1418044)), but it'll be nice to have a place to put general information about this project.

## Existing DevTools features to consider migrating.

### Memory allocation tracker

There is a memory allocation track

[2017-10-16 15:55] gregtatum commented on #613
Markus's feedback on DocShell markers: Associating markers with a particular DocShell is nice, and shouldn't be limited to only DevTools. Perhaps we can add DocShell information to the markers emitted through the Gecko Profiler.

[2017-10-16 17:24] julienw opened #614 "Add a 'Expand all' item in the call tree's context menu"
The file to modify is https://github.com/devtools-html/perf.html/blob/master/src/components/calltree/ProfileCallTreeContextMenu.js

The current code to expand all (triggered by alt + click on an arrow) is: https://github.com/devtools-html/perf.html/blob/0faaaee5cc59dc5c0b851cba039aa41f8a1e4230/src/components/shared/TreeView.js#L389-L414
With "toggleAll === true".

I'm not entirely sure how to extr

[2017-10-16 18:31] gregtatum commented on #614
We should be able to extract all of this into an action creator, and fire it off from the context menu.

[2017-10-17 13:35] julienw commented on #614
Yep, an action creator is more appropriate than a reducer :)

[2017-10-18 13:41] gregtatum commented on #575
This work is now done.

[2017-10-18 13:41] #575 closed

[2017-10-22 15:57] asutherland opened #619 "Header timeline has incorrect scrollbar behavior and layout (misalignment)"
When attempting to view this profile from a Firefox 57 build: https://perf-html.io/public/541c672b218bf1a4c4afb8ed38f02fce8d369511/ linked from https://bugzilla.mozilla.org/show_bug.cgi?id=1410577 there's a scroll-bar visible on the right of the thread pane thing, but the affordance to select a time-range steals the clicks.  I have a scroll-wheel mouse, so this isn't the end of the world, but it's

[2017-10-22 16:10] julienw commented on #619
I reproduce (on Linux). I think this is because our time selection widget is a transparent div on top of everything, while it should likely be inside the scrollable div instead.

About the presentation, well, we do changes all the time :) So maybe something changed ? In this specific profile there are a lot of profiled processes too so maybe this is it. If something doesn't feel right to you about

[2017-10-22 22:54] brisad commented on #604
I'd be happy to help with this one.

[2017-10-23 08:00] julienw commented on #604
Sure !

[2017-10-23 08:09] julienw commented on #329
Since we integrated the markers into the thread lines, the markers are properly aligned. But the selection UI is still off.
![screenshot-2017-10-23 perf html](https://user-images.githubusercontent.com/454175/31878396-44623b16-b7da-11e7-9c11-7d1a32b82e60.png)

I think this is the same bug as https://github.com/devtools-html/perf.html/issues/619 though.

[2017-10-23 08:10] julienw commented on #619
In https://github.com/devtools-html/perf.html/blob/d92bc33581c7b6ffd485a4043226d8ffea7efb81/src/components/header/ProfileViewerHeader.js#L80-L92 I'd try to invert the positions of `TimeSelectionScrubber` and `OverflowEdgeIndicator`.

This would also fix the remaining issue in https://github.com/devtools-html/perf.html/issues/329.

[2017-10-23 14:22] gregtatum commented on #604
Great, I think you can get started pretty quickly by copying the [stack chart](https://github.com/devtools-html/perf.html/tree/master/src/components/stack-chart) implementation, and going from there.

The code will mostly be similar, but instead you'd create your own version of the [StackTimingByDepth](https://github.com/devtools-html/perf.html/blob/0bc6c5c63e63df27294bd0f15d96e4d92860fb99/src/pro

[2017-10-25 09:56] julienw commented on #586
See also https://perfht.ml/2yQqyNa

[2017-10-25 13:46] captainbrosset opened #621 "Rows in the call tree don't look selected if I didn't select one before and I click on the graph"
Steps to reproduce this issue are:

- open a profile in the tool, do not click anywhere yet
- click within the timeline somewhere, on one of the samples
- the sample gets selected (darker blue), and the call tree expands and scrolls to the right place
- however the line in the call tree doesn't look selected, it's not blue.

If I click somewhere in the call tree first, then that works fine.

[2017-10-26 21:45] #243 closed

[2017-10-27 15:57] mstange commented on #621
The row is "selected" but the tree is not focused. Clicking the thread stack graph should cause the tree view element to be focused.

[2017-10-27 16:21] mstange commented on #619
I think that's the right fix. But we should also make sure that you can't scroll the timeline ruler offscreen. I think that can be arranged by making it position:sticky.

[2017-10-30 17:13] julienw opened #623 "`TypeError: libs[libIndex] is undefined` when clicking on a calltree line"
On this profile: https://perf-html.io/public/1ecd7a421948995171a4bb483b7bcc8e1868cc57/calltree/?hiddenThreads=&thread=0&threadOrder=0&v=2

I get this error:
[code]
(Note: this is the error from a dev environment so that we see the sourcemap-ed error)

This is happening when I click in the call tree, either left click or right click.

The error is happening there: https://github.com/devtools-html/p

[2017-11-02 05:29] grahamperrin commented on #580
## Side note

It's intriguing to find this, recently, at <http://www.freshports.org/www/firefox>:

[2017-11-02 05:59] jbeich commented on #580
`PROFILE=on` just passes `--enable-profiling` which [predates](https://bugzilla.mozilla.org/show_bug.cgi?id=592923) GeckoProfiler. FreeBSD can still use external profilers like [pmcstat(8)](https://man.freebsd.org/pmcstat/8) or [dtrace(1)](https://man.freebsd.org/dtrace/1) which don't like `-fomit-frame-pointer` [inherited](https://searchfox.org/mozilla-central/rev/423b2522c48e/build/autoconf/fram

[2017-11-02 21:48] brisad commented on #604
Thanks for the guidance!
I just wanted to let you know that a first work-in-progress PR is on its way. I have been reading the code to understand the data structures better, and have experimented with a flame graph representation. Now I think I have something that might work. I just need to clean it up a bit first before I post it.

[2017-11-03 16:54] julienw opened #624 "Upgrade to React 16"
Prerequisites:

* [x] Migrate PropTypes usage from React embedded version to the separate module "prop-types" #627 (fixed with #641)

[2017-11-03 23:43] digitarald opened #625 "Make the Upload button more obvious"
Most upload buttons these days are not using the default file button style but actually use buttons labeled something along the lines of "Upload". Using the default styling makes the upload button not an obvious CTA.

[2017-11-06 13:41] julienw commented on #625
Do you mean the button in the home page to load a local profile ?

Note the term "upload" is ambiguous because:
* the file input in the home page doesn't upload anything
* "upload" can be understood as "share".

[2017-11-06 13:44] julienw opened #627 "Migrate PropTypes usage from React embedded version to the separate module "prop-types""
In order to migrate to React 16 (#624) we need to migrate our PropTypes usage.

Probably the bulk of the work can be done with the codemod at https://github.com/reactjs/react-codemod#react-proptypes-to-prop-types (see https://reactjs.org/blog/2017/04/07/react-v15.5.0.html#migrating-from-reactproptypes for more information).

[2017-11-06 13:58] julienw commented on #418
I updated the list, following some name refactoring and some typing that's been done as part of recent patches.

@derekm @piq9117 @gregtatum there are some files assigned to you. No pressure whatsoever, but are you still working on these ? :)

Thanks !

[2017-11-06 15:21] gregtatum commented on #418
I think the stuff assigned to me got lost in a PR I abandoned, so no I'm not.

[2017-11-07 17:26] clement-lefevre opened #628 "Addon's icon is almost impossible to see on Firefox Nightly using the dark theme"
As you can see on the joined screenshot, profiler's icon is almost impossible to see on the dark theme using Firefox Nightly.

![capture d ecran 2017-11-07 a 17 56 57](https://user-images.githubusercontent.com/1701721/32507925-11d55e2e-c3e9-11e7-98d6-3412e0bd2761.png)

[2017-11-07 17:29] julienw commented on #628
yeah, we know this already (see https://github.com/devtools-html/Gecko-Profiler-Addon/issues/88)
Looks like we could do this since Firefox 56, yay :)
Closing in favor of that bug.

[2017-11-07 17:29] #628 closed

[2017-11-07 17:33] clement-lefevre commented on #628
My bad, I first opened https://github.com/bgirard/Gecko-Profiler-Addon/issues/116 and was then told to open it in this repository.

[2017-11-07 19:22] gregtatum commented on #201
I think this is no longer relevant, so I'm closing it.

[2017-11-07 19:22] #201 closed

[2017-11-08 02:26] piq9117 commented on #418
Sorry I haven't been working on them.

[2017-11-08 05:57] digitarald commented on #625
Right, the ambiguity is another good reason to update the button. Intuitively `Open Profile` might work, but happy to hear other ideas.

[2017-11-08 16:31] julienw commented on #418
@piq9117 no problem, but do you still intend to work on these files ? :)

[2017-11-09 05:31] PaulBone opened #630 "Add analysies for GC."
This is a very broad feature request.  Generally what I'd like is another tabl in the lower panel that can show me some analysies/graphs for particular queries.  The challenge is the user might not know what queries they need until they're looking at a profile, and there's a huge range of potential queries that could be supported.

Consider this profile: https://perfht.ml/2lNV3i4 there are many ma

[2017-11-09 06:30] PaulBone commented on #630
Mentioning @hotsphink. He showed me this profile and had a lot of these questions.  Often when I said "I" I should have said "@hotsphink and I".

[2017-11-09 17:09] hotsphink commented on #630
Things I wanted to know for this profile:

- total time (in a selected range) spent in minor GC
- distribution of minor GC durations, grouped by reason (where a distribution could be represented with median,mean,stddev,min,max, and/or a sparkline)
- total time spent within the individual phase_times of all minor GCs in a range (to be able to conclude "most of the time is spent in the 'CollectToFP'

[2017-11-10 15:03] gregtatum commented on #630
I'm going to tag this for marker work. Right now, I'm focusing on landing a recording panel in DevTools so we don't have to maintain the older perf panel. I think this is a great test case for understanding our markers better. I'm tagging this issue under a markers label, and will follow up in a following quarter to try and prioritize this work along with other marker work. It might be nice to syn

[2017-11-10 21:48] mstange opened #632 "In the marker chart, the zoom hint is overlapped by the Legal/Privacy/Cookies box"
The hint that shows up when you scroll in the chart isn't always completely visible due to the new overlay menu / navigation bar.

[2017-11-12 19:04] julienw commented on #632
Yeah, this is something I found while reviewing and we decided to still land to unblock the Google Analytics work. But I think we actually should change it.

My best idea is having a "Legal" menu at the top right, that would display the 3 links. Other ideas ?

[2017-11-13 16:17] mstange commented on #632
We could also move the zoom hint a little to the left.

[2017-11-14 12:56] julienw commented on #473
hey @digitarald, I had the impression we had another meta bug for GA, but I can't find it.
Check 3 is https://github.com/devtools-html/perf.html/pull/617, but should we do checks 4 and 5 before landing the PR ?

[2017-11-14 13:39] julienw commented on #586
Found https://github.com/devtools-html/perf.html/pull/292 where we just filter out these frames in C++-only mode.

[2017-11-14 13:43] julienw commented on #287
Is the bug that the percentages in the Summary view do not take Uncategorized into account ?

[2017-11-14 20:09] gregtatum opened #633 "Support DevTools profile format"
We should write a converter for the DevTools profile format.

[2017-11-14 20:58] gregtatum opened #635 "Focus subtree button broke"
STR: Click the little arrow button on a call tree:
Expected: The tree focuses on a subtree
Actual: Nothing happens

@julienw Doing a search through the recent changes it looks like your switch to using `currentTarget`. I don't really remember why you did this, so I'm sending in an issue rather than PR.

[code]

[2017-11-14 20:58] gregtatum commented on #635
Oh, and this breaking change isn't deployed yet.

[2017-11-14 22:42] tmcw opened #637 "Gracefully handle Xcode license failures"
I'm using perf-html.io to record some traces, and it's showing `Waiting for symbol tables for libraries libobjc.A.dylib, libsystem_m.dylib, CoreFoundation, libsystem` at the top. I'm not sure what that means exactly: is it waiting for me to do something? Is it downloading those libraries and I should wait (I've waited for a while, they don't seem to appear). I'm not sure if this is an error state,

[2017-11-14 23:06] digitarald commented on #473
We should be OK regarding the legal considerations, as we added the privacy policy and related links. An opt-in screen was discussed with legal but was dropped in later discussions. This also respects DNT, so users who do not want to be tracked are excluded. Did I miss anything?

[2017-11-15 02:00] mstange commented on #637
Those messages should be disappearing on their own. If they don't, that's a bug on our side.

In your case it might be [bug 1414383](https://bugzilla.mozilla.org/show_bug.cgi?id=1414383) - do you have Xcode installed? Can you launch it once and does it ask you to accept a license?
It's possible that we run into the same problem if Xcode is not installed at all.

[2017-11-15 04:18] tmcw commented on #637
I opened Xcode and it requested to 'install more components' - I did that, opened it again to see if there was a license prompt. No license prompt to be found. Restarted Firefox, tried perf-html again, and got `Waiting for symbol tables for libraries libobjc.A.dylib, CoreGraphics, CoreFoundation, libsystem_blocks.dylib, libunwind.dylib, AppleIntelSKLGraphicsGLDriver, libsystem_m.dylib, libcache.dy

[2017-11-15 12:54] julienw commented on #635
Actually I took the opportunity to review all uses of currentTarget, and I'm more than happy to report that I broke much more than that ;)

Looking at it now.

[2017-11-15 12:55] julienw commented on #637
By chance, do you see more errors in the console ? This could be above, so please scroll up to see more.

[2017-11-15 17:08] julienw commented on #473
Last 2 lines are:
* Send email communication to firefox-dev list making community aware of this change
* Create data document detailing the data we are collecting with GA as well as the profiler

This seems reasonnable to me. Should the data document be part of the perf.html repository or should it be elsewhere?

[2017-11-15 23:54] digitarald commented on #473
I circled back with data steward Lonnen. Socorro has GA and Bugzilla is just landing it.

Given how they approached it (very similar to what we are doing so far), I'll send out the email to firefox-dev as an *Intent to Merge*.

Given that everything is open source and all calls go through the same API so can be easily searched, and the long term cost of maintenance; we will skip the documentation

[2017-11-16 08:43] julienw commented on #473
WFM :)
Will you send the mail or would you rather that greg or myself sends it

[2017-11-16 12:03] MikeRatcliffe commented on #627
We also use a static getter for propTypes in the rest of the codebase so I will move that inside the class at the same time.

[2017-11-16 14:13] juliandescottes opened #639 "Some GC/CC pauses not recorded when sample time is 1ms"
When recording profiles for https://github.com/devtools-html/debugger.html/issues/4705 (you can use the same STRs), I initially got some hard to understand profiles.

Executing the STRs would result in a blank debugger + high CPU usage for ~30 seconds, but the profile was virtually empty:  https://perfht.ml/2zI5CsI (looking at JS Stack)

Then when setting the sampling interval to 0.1 ms, I started

[2017-11-16 14:44] julienw commented on #639
I think the issue is that we don't see this in the callstack when in JS-only view. I think this should get better once we integrate pseudostacks (no issue filed yet, but needed soon :) )

[2017-11-16 17:06] gregtatum commented on #331
This was already fixed.

[2017-11-16 17:06] #331 closed

[2017-11-17 01:04] digitarald commented on #473
Posted to firefox-dev as `Intent to Merge: Google Analytics on perf-html.io`

[2017-11-17 19:31] fever324 commented on #418
I'll take ProfileTaskTracerView.js

[2017-11-17 21:04] gregtatum commented on #418
Thanks @fever324, just so you know that component is not being actively displayed right now, so you're welcome to take on other components as it's not even possible right now to display it. I need to take a look at this list again, the `Summary` components are being removed in a PR that's not merged yet. And TaskTracer is not actively being worked on. If there are any other components around that

[2017-11-18 04:46] digitarald commented on #473
I asked Gareth for access to the GA instance

[2017-11-21 16:51] mstange commented on #352
Duplicate of #64.

[2017-11-21 16:51] #352 closed

[2017-11-23 03:40] mstange commented on #64
I've started working on this. The most basic implementation will just show the stack in a tooltip over the marker. We can decide where to go from there once we have that.

[2017-11-23 17:08] julienw commented on #623
@ochameau got the issue as well on this profile: https://perf-html.io/public/fcee2a32e9a948f614fc9205ffef83cce6abfcd8/calltree/?hiddenThreads=&thread=2&threadOrder=0-2-3-1&v=2

He got this profile from talos, in case this is meaningful.

I found this actually has a user impact, here is the STR:
1. load the profile
2. click on the "marker chart" tab
3. click on the "call tree" tab

=> we can't expa

[2017-11-25 21:19] mstange opened #644 "Nested reflow tracing markers don't work"
I encountered [a profile](https://perfht.ml/2i3ZAM8) today which had a long reflow without a corresponding blue box in the timeline.

It turns out we can have nested reflow flushes:
`PresShell::DoFlushPendingNotifications` -> `PresShell::ProcessReflowCommands` -> `PresShell::DidDoReflow` -> `PresShell::HandlePostedReflowCallbacks` -> `PresShell::DoFlushPendingNotifications` -> `PresShell::ProcessR

[2017-11-25 22:02] julienw commented on #644
wow, that's interesting !

[2017-11-26 05:31] digitarald opened #645 "Replace 3rd party libraries with proxied/CORS HTTP API requests"
Captured concern from the firefox-dev thread, to only have 1st party trusted scripts in the page at all times.

We need to review how feasible a server component is for perf.html (possibly while moving to a Mozilla-supported hosting infrastructure). CORS would be a possible fallback but still leak the user's IP.

[2017-11-26 23:48] bholley commented on #435
I just played around with some of this stuff for the frame constructor, and it work great. Thank you @gregtatum!

One missing piece (which I think we discussed before) is the ability to exclude functions and their descendants (i.e. "I know about this stuff, drop it from the profile so I can see what's left"). Would that be a straightforward thing to implement on top of the new transformation machi

[2017-11-27 00:12] jrmuizel commented on #435
Instruments has this feature and it is indeed useful.

[2017-11-27 08:48] julienw commented on #645
Yep I intend to look at this today.

[2017-11-27 13:25] peterbe commented on #253
Hi all,
I'm sorry I'm late to notice this issue.

If you want to use symbolication, you should use https://tecken.readthedocs.io/en/latest/symbolication.html

It works and it's always using the latest builds for symbols. The server is monitored and on solid infrastructure (unlike the old Snappy).

The current service can be optimized. There's some low hanging fruit opportunities and the possibilit

[2017-11-27 14:10] julienw opened #648 "Replace the `IsMounted` state by a CSSTransition component"
See: https://github.com/devtools-html/perf.html/blob/5382311a5a86ca2e40f534d0986b875dddf85da5/src/components/app/ProfileViewer.js#L87-L89, https://github.com/devtools-html/perf.html/blob/5382311a5a86ca2e40f534d0986b875dddf85da5/src/components/app/ProfileViewer.js#L105 and https://github.com/devtools-html/perf.html/blob/5382311a5a86ca2e40f534d0986b875dddf85da5/res/style.css#L31-L39

This is also a

[2017-11-27 15:59] gregtatum commented on #623
Ack, I'm already assigned to this. I'm going to try and fix this. We shouldn't have runtime errors.

[2017-11-27 16:15] gregtatum commented on #435
@bholley I believe this would be the [Collapse subtree](https://github.com/devtools-html/perf.html/issues/545) transform. This is going to be my next transform to work on as I really want it too! I got a little bogged down on work focusing on the web developer workflow this quarter, but I do plan to chug through the remaining transforms on the side.

All of the remaining transform work is under th

[2017-11-27 16:15] gregtatum commented on #545
I'm working on this next for the transforms, although I might not get to it until Q1.

[2017-11-27 16:17] gregtatum commented on #645
I'm not really sure what this all entails. Can you elaborate a bit more @digitarald?

[2017-11-27 16:35] jrmuizel commented on #435
Instruments has 'Prune [symbol] and subtrees' that's different from 'Collapse subtree' because it just removes those samples.

[2017-11-27 18:14] #645 closed

[2017-11-27 18:16] julienw commented on #645
@gregtatum you can look at the answers to this message: https://mail.mozilla.org/pipermail/firefox-dev/2017-November/005929.html

See especially my answer, I think we can file bugs for the 3 actions I outlined. (this bug was the first and easiest action)

[2017-11-27 18:47] gregtatum commented on #639
I'm kind of confused at what I'm looking at here. Could you share both profiles again, but hide all threads that aren't relevant by right clicking and hiding the thread, and then zooming in on the area of interest?

[2017-11-27 18:51] julienw commented on #633
It's been fixed by https://github.com/devtools-html/perf.html/pull/634

[2017-11-27 18:51] #633 closed

[2017-11-27 19:26] digitarald opened #650 "Replace 3rd party libraries with proxied/CORS HTTP API requests"
Captured concern from the firefox-dev thread, to only have 1st party trusted scripts in the page at all times.

We need to review how feasible a server component is for perf.html (possibly while moving to a Mozilla-supported hosting infrastructure). CORS would be a possible fallback but still leak the user's IP.

- [x] #645 bit.ly CORS
- GA CORS (aka Measurement Protocol)
- Proxy all HTTP APIs to

[2017-11-28 05:03] PaulBone commented on #639
I thought that the GC markers and other markers arn't collected via sampling, but more directly so that every event should be recorded in the profile. Or is the problem that they are in the profile data but for some reason aren't shown in perf.html?

[2017-11-28 08:36] juliandescottes commented on #639
Both profiles were recorded while running the same scenario, where we have 20 seconds with the debugger UI blank and very high CPU.

The profile recorded at 1ms sample interval is not showing any explanation for the 20 seconds pause. We are looking at JS only + marker chart. https://perfht.ml/2iZnZzF

![image](https://user-images.githubusercontent.com/1141550/33309420-5b65091e-d41e-11e7-9329-dc21f

[2017-11-28 14:54] gregtatum commented on #435
@jrmuizel I believe a "collapse subtree" and then "merge node" (this is "charge to caller" in instruments but for a specific node, not all functions) is the same operation. Also to be clear on terminology (because this is hard to talk about) we're modifying the shape of the call tree, not actually removing any samples.

We're trying to pick some consistent words to describe our operations, and wil

[2017-11-28 15:00] jrmuizel commented on #435
Ok, it's worth noting having the ability to prune/drop samples is valuable functionality. This lets you get rid of noise that you're not interested in or otherwise don't care about.

[2017-11-28 15:07] gregtatum commented on #435
@jrmuizel Could you describe what a prune operation looks like?

Given the following 3 samples:

[code]

Produces this call tree:

[code]

Then you could prune function C across the entire tree:

Gives these samples:

[code]

And then has this call tree:

[code]

With the self times:

[code]

Which in this case would not remove any samples. Could you describe the operation you had in mind? This is

[2017-11-28 15:11] jrmuizel commented on #435
Pruning C would drop any samples that contain C in the stack. So given:
[code]

Pruning C transforms this to:

[code]

With the self times:
[code]

[2017-11-28 15:14] gregtatum commented on #435
[code]

Prune function `C`:

[code]

Or prune call node `A -> B -> C`:

[code]

I will file a new bug for this.

[2017-11-28 16:55] gregtatum commented on #627
Fixed with #641

[2017-11-28 16:55] #627 closed

[2017-11-28 17:20] julienw commented on #443
in the comment https://github.com/devtools-html/perf.html/issues/358#issuecomment-315129911 you'll find the information to document.

[2017-11-28 18:14] gregtatum opened #652 "Convert ResourceTable columns to not use -1 values"
We should prefer `null` values, as they are easy to type check for. In some places like the resourceTable we are wildly inconsistent in our usage. We should standardize on `null` and provider a profiler upgrader.

[2017-11-28 18:20] gregtatum commented on #502
Resolved with #636

[2017-11-28 18:20] #502 closed

[2017-11-28 18:20] gregtatum commented on #287
Resolved with #636

[2017-11-28 18:21] gregtatum commented on #219
We no longer have a summary tab #636. We can re-open if this has some place for it in the future, but for now I'm closing it.

[2017-11-28 18:21] #219 closed

[2017-11-28 18:21] gregtatum commented on #131
No longer valid because of #636

[2017-11-28 18:21] #131 closed

[2017-11-28 18:22] gregtatum commented on #130
No longer valid because of #636

[2017-11-28 18:22] #130 closed

[2017-11-28 18:23] gregtatum commented on #102
@hotsphink does this have any place we can do this in the current profiler, or should I close it along with the other summary view bugs? Perhaps I should re-file as a data transform to only show samples from a specific category?

[2017-11-28 18:23] #287 closed

[2017-11-28 18:24] gregtatum commented on #103
No longer valid because of #636

[2017-11-28 18:24] #103 closed

[2017-11-28 18:27] gregtatum commented on #644
@mstange is there any way to fix this in perf.html? How do we know which is the start and end marker that are correctly associated?

[2017-11-28 18:29] gregtatum commented on #40
Works for me now: https://perfht.ml/2zLGLVH

[2017-11-28 18:29] #40 closed

[2017-11-28 18:31] gregtatum commented on #62
I don't like hot reloading. @julienw @mstange do either of you want this? This is an old bug that should either be fixed or closed.

[2017-11-28 18:31] hotsphink commented on #102
I was assuming you were removing the existing category computation as well.
Though I guess that means we still have the other categories that are baked
into the samples and require no stackwalking to determine. If they were
made more complete and useful, then yeah, I would think of this as just one
way to filter what samples are shown.

On Tue, Nov 28, 2017 at 10:23 AM, Greg Tatum <notifications@g

[2017-11-28 18:36] gregtatum commented on #619
I'm changing this label to polish, as I don't think it's a real bug that is stopping the tool from working. Feel free to change it back.

[2017-11-28 18:41] gregtatum commented on #619
Also we need to fix the alignment of the selection:

<img src='https://user-images.githubusercontent.com/454175/31878396-44623b16-b7da-11e7-9c11-7d1a32b82e60.png'>

I'm going to change this back to bug since this should really be fixed as it's causing the selection to be incorrect and broken.

@julienw do you mind taking this since you seem to have some idea for a solution? I'm not really sure wha

[2017-11-28 18:42] gregtatum commented on #329
Closing in favor of #619

[2017-11-28 18:42] #329 closed

[2017-11-28 18:52] gregtatum commented on #270
I think the ID is not a great idea with the data transform work. This is still an issue, and is mainly a perf issue, not a bug, so I'm changing the label. We should find a way to handle this faster and better. The current solution works but is slow.

Here is a less stale permalink: https://github.com/devtools-html/perf.html/blob/3c5b10112630a72eb097992de08aa4d8ba7336fb/src/reducers/profile-view.js

[2017-11-28 18:54] gregtatum commented on #202
We never fixed this. Can I close this issue @mstange ?

[2017-11-28 18:55] gregtatum commented on #129
This stops you from being able to access the data, so I think this should be fixed as a bug.

[2017-11-28 18:56] gregtatum commented on #99
We accept them now.

[2017-11-28 18:56] #99 closed

[2017-11-28 18:57] gregtatum commented on #77
I can no longer reproduce.

[2017-11-28 18:57] #77 closed

[2017-11-28 19:04] gregtatum commented on #89
I believe this is long ago fixed.

[2017-11-28 19:04] #89 closed

[2017-11-28 19:08] gregtatum commented on #181
This is old, and we've re-architected the code a few times since this was filed. I'm going to close as we can re-investigate if this is an issue later on if we do some more perf analysis on the call nodes and data transformation work.

[2017-11-28 19:08] #181 closed

[2017-11-28 19:11] gregtatum commented on #23
This is done with the collapse library work.

[2017-11-28 19:11] #23 closed

[2017-11-28 20:08] gregtatum commented on #24
We already support URLs via `https://perf-html.io/from-url/{url}/`, I believe all that is lacking is unzipping zip files if they are sent.

[2017-11-28 20:08] gregtatum commented on #28
@mstange is this still valid, and do we need to elaborate at all?

[2017-11-28 20:09] gregtatum commented on #29
@mstange is this still valid, and should we elaborate more?

[2017-11-28 20:10] gregtatum commented on #32
I'm closing this as it was more of a discussion thread.

[2017-11-28 20:10] #32 closed

[2017-11-28 20:10] gregtatum commented on #49
The log tab was removed.

[2017-11-28 20:10] #49 closed

[2017-11-28 20:11] gregtatum commented on #50
Closing this for now, it's old and I'm not sure what we want to do here.

[2017-11-28 20:11] #50 closed

[2017-11-28 20:11] gregtatum commented on #51
I think we're fine here now.

[2017-11-28 20:11] #51 closed

[2017-11-28 20:14] gregtatum commented on #54
I'm not sure I would actually want this if I already have something I've already selected. Do you want to keep this open @mstange ?

[2017-11-28 20:17] gregtatum commented on #102
Yes, this would be contingent on surfacing category information and making it accurate.

[2017-11-28 20:24] gregtatum commented on #61
I'm not sure this is true for our case, because we wouldn't be testing for strict equality. The CallNodePaths could be equivalent but not strictly equal in the way we are generating them. I'm closing in favor of #270.

[2017-11-28 20:25] gregtatum commented on #78
The summary tab no longer exists.

[2017-11-28 20:25] #78 closed

[2017-11-28 20:27] gregtatum commented on #112
There's still no clarification here, so I'm closing as not actionable.

[2017-11-28 20:27] #112 closed

[2017-11-28 20:28] gregtatum commented on #113
Closing in favor of #245

[2017-11-28 20:28] #113 closed

[2017-11-28 20:29] gregtatum commented on #245
I think we should close this, as our transforms are surfaced through context menus, and Julien's comma separated list is nice and simple.

What do you think @julienw @mstange @digitarald

[2017-11-28 20:37] gregtatum commented on #613
The initial recording panel landed: https://bugzilla.mozilla.org/show_bug.cgi?id=1408124

[2017-11-28 20:41] gregtatum commented on #605
See https://bugzilla.mozilla.org/show_bug.cgi?id=1421403 for tracking.

[2017-11-28 20:45] gregtatum commented on #115
This should be really easy to implement by adding the Marker Table's setting component to the Marker Chart:

https://github.com/devtools-html/perf.html/blob/master/src/components/marker-table/Settings.js

It could be added right here:

https://github.com/devtools-html/perf.html/blob/master/src/components/marker-chart/index.js#L72-L98

[2017-11-28 20:50] gregtatum commented on #140
This feels more clear to me now. If someone disagrees feel free to re-open.

<img width="412" alt="image" src="https://user-images.githubusercontent.com/1588648/33343576-6a51b2e2-d44b-11e7-85d6-0ef7911aa436.png">

[2017-11-28 20:50] #140 closed

[2017-11-28 20:54] gregtatum commented on #166
I'm not sure how we would get around this, here are some of the current timings. I believe the thread stack graphs use the data structure.

[code]

Feel free to disagree, but I'm going to close this.

[2017-11-28 20:54] #166 closed

[2017-11-28 20:56] gregtatum commented on #186
Duplicate of #604

[2017-11-28 20:56] #186 closed

[2017-11-28 20:56] gregtatum commented on #188
This was removed.

[2017-11-28 20:56] #188 closed

[2017-11-28 20:56] gregtatum commented on #195
@julienw are we planning on adding this? Alexandre brought this up back in March.

[2017-11-28 21:02] gregtatum commented on #259
I don't think we need to do this anymore. I don't think we'll really touch that code again, as it's supported an older legacy format. Object seems good enough. Feel free to re-open if you disagree.

[2017-11-28 21:02] #259 closed

[2017-11-28 21:03] gregtatum commented on #260
Closing in favor of #438

[2017-11-28 21:03] #260 closed

[2017-11-28 21:05] gregtatum commented on #438
From @mstange in #30

[2017-11-28 21:05] gregtatum commented on #30
Closing in favor of #438

[2017-11-28 21:05] #30 closed

[2017-11-28 21:08] gregtatum commented on #336
This is no longer relevant. I think the implementation filters are in the correct place.

[2017-11-28 21:08] #336 closed

[2017-11-28 21:10] gregtatum commented on #323
I'm tempted to close this as there is not much here to go on, and is a little vague. I'm going to go ahead and close it for now unless @mstange wants to elaborate more (which please do and re-open if you want)

[2017-11-28 21:10] #323 closed

[2017-11-28 21:12] gregtatum commented on #337
I think this change would break all of the data transformation work. I'm going to tentatively close it as no longer relevant. Feel free to re-open if you disagree @mstange

[2017-11-28 21:12] gregtatum commented on #351
Hah, do you still want this @mstange ?

[2017-11-28 21:15] gregtatum commented on #393
I believe the fix here is to only add `hiddenThreads` property to the query object when the length of hiddenThreads is greather than 0.

https://github.com/devtools-html/perf.html/blob/3c5b10112630a72eb097992de08aa4d8ba7336fb/src/url-handling.js#L88-L94

[2017-11-28 21:19] gregtatum commented on #400
These markers should be filed in the Gecko Profiler component, as that's where the work needs to happen. This is from several months ago, and we haven't prioritized marker work. This appears to have come out of some Quantum Flow discussion. I'm not sure this is specifically actionable on our end so I'm closing it for now.

[2017-11-28 21:19] #400 closed

[2017-11-28 21:19] gregtatum commented on #412
This is done.

[2017-11-28 21:19] #412 closed

[2017-11-28 21:21] gregtatum commented on #454
Closing in favor of PaulBone's chmod solution.

[2017-11-28 21:27] gregtatum commented on #473
Completed with #617

[2017-11-28 21:27] #473 closed

[2017-11-28 21:28] gregtatum commented on #475
@jrmuizel does this still belong in the perf.html project?

[2017-11-28 21:31] gregtatum commented on #503
I think this work could be considered done, with #569

[2017-11-28 21:31] #503 closed

[2017-11-28 21:31] gregtatum commented on #508
ping @mstange

[2017-11-28 21:33] gregtatum commented on #589
@digitarald are we still planning on moving forward with this work?

[2017-11-28 21:36] gregtatum commented on #593
I'm making this the canonical issue for slow markers. I'm redirecting other issues here.

[2017-11-28 21:36] gregtatum commented on #478
Duplicate of #593

[2017-11-28 21:36] #478 closed

[2017-11-28 21:37] gregtatum commented on #462
Duplicate of #593

[2017-11-28 21:43] gregtatum commented on #599
I think this would be too hard to support with proper data transforms, and I'm not sure how to decide what's interesting or not. I think proper pseudo-stack support would answer most of these questions. See #143 for work tracking pseudo-stack work.

I'm going to go ahead and close this, but feel free to re-open with more discussion points if someone disagrees with me.

[2017-11-28 21:43] #599 closed

[2017-11-28 21:45] gregtatum commented on #603
I really do think we need this meta data exposed, perhaps a quick solution would be to add it as a tooltip somewhere.

[2017-11-28 21:47] gregtatum commented on #196
This has already been implemented.

[2017-11-28 21:47] #196 closed

[2017-11-28 21:49] gregtatum commented on #606
I'm labeling this as a bug, since we're broken in how we implement this. @julienw this might be a good one for you to take since you were involved in the original discussion, although if you're busy I can take a look at it.

[2017-11-28 21:54] fqueze commented on #599
Can you expand a bit on what makes this difficult, and what questions proper psuedo-stack support would give us answers for here?

[2017-11-28 21:56] gregtatum commented on #608
Closing in favor of https://github.com/devtools-html/Gecko-Profiler-Addon/issues/97 as that's where the work will take place.

[2017-11-28 21:57] #608 closed

[2017-11-28 22:09] jrmuizel commented on #475
I don't feel strongly either way

On Nov 28, 2017 4:28 PM, "Greg Tatum" <notifications@github.com> wrote:

[2017-11-28 22:13] gregtatum commented on #599
Sure, data transformations can modify the call tree by referencing the path of nodes in the tree, and performing some kind of graph modification to them. This makes it so you can modify the tree to hide information you don't care about, or focus in on some particular part of the profile. Nodes end up being pretty unstable when you switch "implementation" filters, e.g. from combined to JS-only. For

[2017-11-28 22:15] gregtatum commented on #599
Here is an example call tree from the current DevTools performance panel using the pseudo-stack information, which utilizes the "category" field in the profile. So you don't actually see the C++ stacks.

<img width="689" alt="image" src="https://user-images.githubusercontent.com/1588648/33347066-4083c912-d457-11e7-9ace-f54618f83fbf.png">

[2017-11-28 22:17] gregtatum commented on #233
Is anyone actively being affected by this? I don't know if any other DevTools project recommends using `nvm`. @jasonLaster what are you folks doing on your side?

[2017-11-28 22:21] gregtatum commented on #475
This was a passing captured comment while prioritizing quantum flow work, so I'm going to close it for now. We can re-open or re-file as needed.

[2017-11-28 22:21] #475 closed

[2017-11-28 23:25] jasonLaster commented on #233
We recommend nvm and enforce a version I think 7x
On Wed, Nov 29, 2017 at 9:17 AM Greg Tatum <notifications@github.com> wrote:

[2017-11-28 23:46] bholley commented on #435
I think both "prune function" and "prune subtree" would be useful. The former lets you prune certain kinds of work (i.e. "ignore any styling that happens in frame construction so that I can focus on frame construction proper"), while the latter lets you slice and dice a large function, analyzing each callee and then pruning it to see what's left.

If I had to pick one, I'd probably pick the former

[2017-11-29 01:25] PaulBone commented on #454
Wouldn't it be better not to install git hooks instead of requring users to chmod their .git/hooks directory?  Maybe this is a bug to raise with node/npm?

[2017-11-29 01:47] PaulBone commented on #639
That's one big CC slice. I've asked in #jsapi and maybe someone there knows ehough about the cycle collector & profiler.  BTW. this is the Gecko cycle collector, it's not the SpiderMonkey grarbage collector. They're related and work toether, but different peices of code.  I'm much less familiar with the cycle collector :-(

[2017-11-29 02:55] mstange commented on #202
Yeah, we can close this. We automatically clear out old symbol tables now, so any wrong ones will be long gone.

[2017-11-29 02:55] #202 closed

[2017-11-29 02:57] mstange commented on #28
We don't want this any more. LayerScope is better at satisfying this use case, and the upcoming switch to WebRender would make any code we'd write here obsolete.

[2017-11-29 02:57] #28 closed

[2017-11-29 02:58] mstange commented on #29
We don't want this any more. LayerScope is better at satisfying this use case, and the upcoming switch to WebRender would make any code we'd write here obsolete.

The "layersdump" feature has been removed from the Gecko profiler platform.

[2017-11-29 02:58] #29 closed

[2017-11-29 02:59] mstange commented on #54
Yes, I still think this would be a good change.

[2017-11-29 03:03] mstange commented on #337
I think the inversion still happens at the end of the transform pipeline, so most of what I wrote above should still apply. I still think this is worth doing.

[2017-11-29 03:03] mstange commented on #351
Yes

[2017-11-29 03:07] mstange commented on #508
Sure, let's delete them. We still haven't force-redirected cleopatra.io to perf-html.io (we're only redirecting new.cleopatra.io), so the old-cleopatra URL compatibility code doesn't really kick in unless somebody clicks an old cleopatra.io link and then edits the URL manually. But even if they do, I think it's fine to not respect the range filters for such old URLs.

[2017-11-29 07:55] julienw commented on #508
When we'll remove this, are we able to display a transient message explaining that we don't support this if we get an URL with them ?

[2017-11-29 08:02] julienw commented on #454
I'm really with you here @PaulBone.
I think chmoding hooks is a hack: I don't want to do it (because I want the hook to generally run) but it still bits me when I do partial commits. I need to remember to use "commit -n".

I still want to fix this and want to invest some time on it as this is a painful surprise when this happens.

[2017-11-29 08:06] julienw commented on #233
We already have the node version in both circle.yml and appveyor.yml. I don't like having it specified in more places as this would mean keeping it in sync properly, which is notoriously hard.

I believe this was an issue when node LTS was node 4 and missing all the nice stuff. Now LTS is 8.9.1 (which probably means we could all update to this version instead of using 7x :) ).

[2017-11-29 08:16] julienw commented on #599
Greg, waiting for pseudoframes, do you think we could use the categories ourselves too? Or is it quite too confusing ?

[2017-11-29 08:22] julienw commented on #606
For DOMEvent specifically we need a gecko patch to convert them to tracing markers.

The part in perf.html would be to ensure that for tracing markers where we get only the start or the end, we actually extend them to (respectively) the end or the start of the profile.

[2017-11-29 08:23] julienw commented on #485
Let's close this and track #606 instead.

[2017-11-29 08:23] #485 closed

[2017-11-29 08:27] julienw commented on #593
Note that the main issue outlined in the first comment has been fixed in #595: now we don't rerender the marker view when expanding a node in the calltree.  So @gregtatum I'd be more comfortable filing a separate bug with just that issue, with links to all the slow profiles gathered in various bugs. What do you think?

[2017-11-29 08:30] julienw commented on #323
I think the hang markers we have are really good, but we're not reporting them for less than (IIRC) 50ms, which isn't enough for animations.

I think we should report hang markers for more than 16ms, but maybe with another color ?

I agree we need something more actionable, in this bug or in another bug.

[2017-11-29 08:32] julienw commented on #195
I still think we need this, but it's painful to implement.

That said, we all already exercize this basic workflow in our daytoday jobs so maybe it's not so useful.

[2017-11-29 08:37] julienw commented on #245
TBH I was always a little bit skeptical about this. I'd like to add a "or" operation as well to the search string, but that's all.

I think we should still do #505 though !

[2017-11-29 08:40] julienw commented on #50
I believe we can already achieve this by clicking on a marker as it will add the selection's vertical line. (we need to fix the alignment bug of course)

[2017-11-29 08:41] julienw commented on #24
This was mentioned during yesterday's weekly meeting.

[2017-11-29 08:43] julienw commented on #619
yeah that's exactly the thing I wanted to look at next. This is surfacing a lot more now because we have more threads.

[2017-11-29 08:46] julienw commented on #62
This is something I wanted to look at eventually. I believe hot reloading is actually useful, but for us it's not so much a necessity because we persist our state in the URL and reloading the page is easy. So it's really low priority and I don't mind closing this bug unless we want to move it to a "help wanted" contributor-friendly bug.

[2017-11-29 08:49] julienw commented on #644
The faulty bug is https://github.com/devtools-html/perf.html/blob/3c5b10112630a72eb097992de08aa4d8ba7336fb/src/profile-logic/profile-data.js#L910-L930
When we encounter 2 starts, the latter overwrite the former.
So instead we need an array structure in the Map, and at the first end we should "end" the last one encountered.

[2017-11-29 08:50] julienw commented on #644
This should be pretty easy to do :)

[2017-11-29 09:03] julienw commented on #61
We still could use a Map instead of a Set, with a carefully chosen key.

[2017-11-29 12:54] #486 closed

[2017-11-29 15:12] gregtatum commented on #54
This is a screenshot of the markers being referenced in this bug:

<img width="212" alt="image" src="https://user-images.githubusercontent.com/1588648/33381589-12322634-d4e4-11e7-87a5-36cf624adf3c.png">

And here is generally how the code should start to look for this patch:

[code]

[2017-11-29 15:13] gregtatum commented on #54
@mstange To clarify what you're saying, would the heaviest stack be the node in the call tree with the largest self time?

[2017-11-29 15:32] gregtatum commented on #351
<img width="440" alt="image" src="https://user-images.githubusercontent.com/1588648/33382480-77d48b56-d4e6-11e7-95fb-e807ef46d1b7.png">

Here is an example where they are black.

The colors are determined in: `src/profile-logic/interval-marker-styles.js`

[2017-11-29 15:33] gregtatum commented on #508
I would rather fail silently so we have less code.

[2017-11-29 15:35] gregtatum commented on #508
This should be pretty straightforward, remove all instances and uses of window.legacyRangeFilters.

See: https://github.com/devtools-html/perf.html/search?utf8=%E2%9C%93&q=legacyRangeFilters&type=

[2017-11-29 15:40] gregtatum commented on #599
I would like to support categories

[2017-11-29 15:45] gregtatum commented on #462
Re-opening this one as the tracking issue as opposed to #593.

[2017-11-29 15:48] gregtatum commented on #195
I'm fine keeping it on the back-log for now.

[2017-11-29 15:49] gregtatum commented on #245
Ok, agreed on both points. I'm closing for now. Feel free to re-open if anyone else has a differing opinion.

[2017-11-29 15:49] #245 closed

[2017-11-29 15:51] gregtatum commented on #62
I'm going to go ahead and close since this doesn't really have an end-user impact, and so that our back-log is smaller. We can re-open or re-file if we want.

[2017-11-29 15:51] #62 closed

[2017-11-29 15:54] gregtatum commented on #61
@julienw Would something like this be worth it?

[code]

[2017-11-29 16:22] mstange commented on #54
It should do something very similar to what this does:

https://github.com/devtools-html/perf.html/blob/7d9ac63cb58629a458d96a7a9150716cdc358ee4/src/components/calltree/CallTree.js#L152-L170

That is, it should expand the path "along the top" of the tree up to a certain depth. That's usually the part of the tree that I'm interested in when I click a marker.

[2017-11-29 16:49] jmathies opened #655 "Profiler main HTML interface is not accessible"
The accessibility team has been working on performance issues in Firefox associated with accessibility use. Unfortunately we've found that the main interface isn't accessible to the visually impaired, which prevents members of the team from inspecting profiles.

We'd like to get this fixed, and the accessibility team may be able to help provide feedback on how this should be accomplished.

[2017-11-29 19:50] gregtatum commented on #655
Sounds great, we'd love to help anyway we can 👍

[2017-11-29 23:08] mstange commented on #253
@peterbe Yes, I would like to switch us over to tecken. However, it's missing a feature that we need  - where should I file bugs on it?

[2017-11-30 08:45] julienw commented on #655
Yeah, we rely a lot on visual indications. I believe the main issues are when we use canvases, mainly for performance: in the header and in the marker view. But even without canvases it would be hard because all information is very visual. So we especially need to design an accessible way to give the same data. For this, I believe we need to really understand how non-visually impaired people analy

[2017-11-30 08:57] PaulBone commented on #655
A few months ago there was a discussion in the slack channel about how this could be made accessable. I was the only vision impaired person there and my eye sight is sufficient to use this (if the contrast / size were better) so I couldn't answer for legally or profoundly blind people on whether sound or something might help. Anyway, it would be useful to track down this conversation and see who e

[2017-11-30 09:02] julienw commented on #655
Yes, I think we need:
1. Find what are the important information in a profile, so that we can surface them first. I know blind people can orientate themselves in a visual interface but our canvas-based interface makes it difficult as it's easy to miss spots -- even for more visually able people !
2. Find how we surface this information. Sound is a possibility but I'd rather focus on more tradition

[2017-11-30 09:12] julienw commented on #61
Looking at it more closely, I believe we should just return a Set from https://github.com/devtools-html/perf.html/blob/41a62cbd05e4f071054c649d46279282d498b24b/src/reducers/profile-view.js#L658-L669. Because we deal with indices here, a Set is good, no need for a Map. Also no need to store a Set or a Map in the state IMO, as we don't change this data often enough and in reducers we merely iterate

[2017-11-30 09:38] ochameau commented on #623
Thanks, it works fine now :)

[2017-11-30 13:45] julienw commented on #624
In https://github.com/devtools-html/perf.html/pull/649 we also change all `setState` calls that depends on a previous state to the callback version of the function.

Once this lands (today) I think we're ready to at least try the upgrade.

[2017-11-30 14:32] julienw commented on #619
So the simple patch outlined above works. I still see a very slight deviation but I can't spot here it comes from. I believe this is a rounding error.

Something weird happened though: when I tried to screenshot it, Firefox screenshot feature doesn't have it... while my system's screenshot functionality shows it. Both from the same exact page. See below;
![My system's screenshot](https://user-imag

[2017-11-30 14:41] peterbe commented on #253
@mstange https://bugzilla.mozilla.org/enter_bug.cgi?product=Socorro&component=Symbols please.

[2017-11-30 14:48] gregtatum commented on #418
I'm going to knock out the rest of these to wrap up this issue. The remaining ones are a bit hard.

[2017-11-30 17:25] gregtatum opened #658 "De-duplicate performance.mark and performance.measure"
`performance.measure()` requires a start and end mark. In our marker processing step we should de-duplicate the marks that are used to create measures. Currently we are showing 3 markers for every 1 measure.

This work should be done in: https://github.com/devtools-html/perf.html/blob/7d9ac63cb58629a458d96a7a9150716cdc358ee4/src/profile-logic/profile-data.js#L905-L959

[2017-11-30 17:59] staktrace opened #659 "Auto expand nodes that only have a single child"
Often when profiling, there is a really deep callstack where each entry in the call stack just has the one child and all the time allocated to the parent also applies to the child. In those cases it would be great if expanding the parent node also recursively expanded the children until it finds a node with multiple children or with a non-zero "self" cost.

[2017-11-30 18:51] julienw commented on #659
Yes, that's something I have in my mind, but I want to keep a limit of
expansion, like 10 expansions at one time. Because sometimes we have a very
long chain of single child, and opening it all could be confusing.

[2017-12-01 13:29] julienw commented on #658
We also need a way to go from measure markers to corresponding start and/or end markers (both are optional by the way). So unless that's already in the payload, we need a gecko patch too.

[2017-12-01 13:41] gregtatum commented on #659
Thanks for filing, this is definitely something we want to do. See #517 for tracking the issue.

[2017-12-01 13:42] #659 closed

[2017-12-01 13:51] gregtatum commented on #61
I had some really bad perf regressions working with the expanded call nodes earlier on some polish bugs, so my intuition is that these are worthwhile to optimize.

[2017-12-01 15:08] gregtatum opened #661 "Remove PropTypes"
Can we remove PropTypes when #660 lands?

[2017-12-01 15:40] gregtatum commented on #409
This was completed with #566

[2017-12-01 15:40] #409 closed

[2017-12-01 18:37] smaug---- opened #663 "Consider to have a simple testcase for teaching how to do profiling"
(gregtatum asked me to file this issue)

I started to write a simple test page which Gecko devs could then use as an initial example for getting
used to the profiler
http://mozilla.pettay.fi/profiling/

[2017-12-01 18:39] gregtatum commented on #663
Thanks for filing! We should look into supporting additional examples where needed, and have better docs and support for running them.

[2017-12-02 12:31] julienw commented on #661
Note there is a big issue with flow for connected components at the moment (it doesn't error when it should). That said we already removed prop types from a lot of them already.

[2017-12-04 13:57] #443 closed

[2017-12-04 15:21] #55 closed

[2017-12-04 16:37] mstange opened #664 "Possible to generate short URL before the long URL is replaced with "public"?"
https://perfht.ml/2iNSxI3 forwards to a URL that has `from-addon` in it. We should never have created a short URL for such a URL. Did we introduce a race somewhere?

[2017-12-04 18:41] julienw commented on #664
We don't change the url soon enough: we change it after upload while we
should change it when we have the hash already, very early in the process.

[2017-12-04 20:10] gregtatum commented on #661
@julienw would you mind linking it here so we can track it?

[2017-12-04 20:42] peterbe commented on #253
@mstange Either you haven't had time to file a bug yet or I'm failing to find it coming in.

[2017-12-04 20:44] mstange commented on #253
I haven't filed it yet.

[2017-12-05 11:50] julienw commented on #661
Sure, there are a lot of issues on the subject:
* https://github.com/flowtype/flow-typed/issues/1269
* https://github.com/flowtype/flow-typed/issues/1432
* https://github.com/flowtype/flow-typed/issues/1538
* https://github.com/facebook/flow/issues/5343

[2017-12-05 12:31] julienw commented on #664
I thought we were doing this before but looks like I'm wrong.
So we may have a race.
One possible culprit is https://github.com/devtools-html/perf.html/pull/649/commits/a0a0acfd4f39e29913f5cca02c9680751463c18d (part of PR #649). Do you know if this was deployed? Do you know when the profile URL from https://github.com/devtools-html/perf.html/issues/664#issue-279062029 was generated ?

[2017-12-05 20:27] gregtatum commented on #639
I don't think this is a bug with perf.html or the Gecko Profiler. I dug into this a bit. The Gecko Profiler does not access any cycle collector APIs, so I'm going to assume that the overhead of collecting at a much higher rate is causing different types of collection events for both GC and CC.

I repeated the STR and nothing was too crazy on my end (running on a Mac)

The following is a diagnosis

[2017-12-05 20:30] gregtatum commented on #639
I'm going to go ahead and close as I don't think there is anything broken or actionable from this. @juliandescottes feel free to hit me up on on a vidyo call if you want to walk through anything, and let me know if you think I should re-open.

[2017-12-05 20:30] #639 closed

[2017-12-05 23:05] gregtatum commented on #661
I'd really like to delete PropTypes even if they aren't perfect. I don't like having duplicate definitions, and I never look at the PropTypes, only the Flow definitions. What are the risks here?

[2017-12-05 23:14] julienw commented on #661
You don't look at proptypes directly, but if there is an error it will show up in the console in dev mode.
The risk is we pass the wrong values or properties in connect's mapStateToProps function and we find out later than if we had kept the proptypes. (note: we already removed a bunch of them).

I think you can remove them everywhere this isn't a connected component.

[2017-12-06 02:16] mstange commented on #664
It was generated yesterday, so it probably included that PR.

[2017-12-07 14:22] julienw commented on #606
The gecko patch should happen there => https://searchfox.org/mozilla-central/rev/f5f1c3f294f89cfd242c3af9eb2c40d19d5e04e7/dom/events/EventListenerManager.cpp#1261-1284

[2017-12-08 14:25] juliandescottes commented on #639
@gregtatum I am surprised you got such a profile with the exact same scenario. I have done it on OSX (macbook pro 15" 2015), windows and linux and I consistently got 30 to 60 seconds of a blank inspector, with Nightly maxing the CPU.

I just tried again with the latest central and it is the same problem.

Did you go to the Orders > Orders page and did you switch to the debugger after opening the t

[2017-12-08 18:44] #418 closed

[2017-12-08 19:51] gregtatum opened #669 "ThreadStackGraph hard to see selected samples with a low stack height"
<img width="1458" alt="image" src="https://user-images.githubusercontent.com/1588648/33782554-d0b10fd0-dc1e-11e7-9f79-8469478c15ca.png">

https://perfht.ml/2iEvcEE

I think we should have a 5px minimum for stack height in order to solve this. The other option would be to highlight the background, although I think this may be too noisy.

[2017-12-08 19:53] #129 closed

[2017-12-12 21:56] julienw opened #673 "we should use the user-defined values for front and background color when drawing canvases"
This is from looking @PaulBone's computer.

Firefox has color keywords for user-defined colors, that's `-moz-default-color` and `-moz-default-background-color`.

I checked: this works for canvas too.

A way to programmatically detect whether they're supported is:
[code]

There may be better ideas to detect this :)

We should try to use them instead of hardcoded values.

Now another issue is that w

[2017-12-12 22:26] julienw commented on #673
I realize that the light grey in the stack chart is the category color (see https://github.com/devtools-html/perf.html/blob/728bf43bc51f5935941183db8f87279d67e55376/src/components/stack-chart/Canvas.js#L169). Maybe we need reverse-colors for categories.

Some hardcoded places:

* https://github.com/devtools-html/perf.html/blob/728bf43bc51f5935941183db8f87279d67e55376/src/components/marker-chart/Ca

[2017-12-12 22:58] julienw opened #674 "be able to handle a "graphs" property in threads"
Asked by @nical

This property would hold an array of timestamps / values (or an array of these graphs if we want to support drawing several of them) that we could draw in the header. The goal for @nical is to be able to add arbitrary graphs to more easily relate with the things we already capture.

[2017-12-13 23:03] gregtatum opened #675 "JSON Profile Parse Error"
I've seen this one in the wild, and caught it. This one was on a wasm recording.

[error-profile.json.zip](https://github.com/devtools-html/perf.html/files/1557425/error-profile.json.zip)

[2017-12-13 23:10] julienw opened #676 "[meta] Localize perf.html"
We should localize perf.html. The best bet is [fluent-react](https://github.com/projectfluent/fluent.js/tree/master/fluent-react) ([more documentation here](https://github.com/projectfluent/fluent.js/wiki/React-Bindings)) because it's developed at Mozilla by wonderful people (@stasm), is well maintained and used in other Mozilla projects, its format file are supported by [Pontoon](http://pontoon.m

[2017-12-13 23:19] gregtatum commented on #675
It's line 232810.

[code]

[2017-12-13 23:26] julienw opened #677 "Make it possible to share only part of the profile"
This comes from @fqueze.

He'd like to be able to share only part of a profile, from the view currently displayed. The underlying goal is that he has the profiler running all the time, captures something when something happens, but doesn't want to share personal data.

[2017-12-13 23:37] julienw opened #678 "Add marker's tooltip to the marker table"
Currently we display tooltips when hovering on a marker in the marker chart. We should display the tooltips also in the marker table.

I can see 2 things to do here:
* [ ] Just display the tooltip when hovering
* [ ] Add a way to toggle the tooltip with the keyboard, for example pressing enter on a line, for accessibility.

This can be 2 different PRs.

[2017-12-13 23:38] julienw commented on #546
We do have a context menu in the marker table now, but we should have it in the marker chart as well.

[2017-12-13 23:40] julienw opened #679 "Surface the GC markers better"
I think GC is an essential part of a profile. We should give them more space in the header like we do for janks.

[2017-12-13 23:46] julienw opened #680 "Be able to change the threshold for janks measurement"
Currently this threshold is hardcoded in https://github.com/devtools-html/perf.html/blob/c8801086a711b0fff7e0d87bb88b8ebfa57c620d/src/reducers/profile-view.js#L607.

We should provide an UI to change this, as different users have different requirements. 50ms is good for events like click, but not good enough to debug smooth CSS animations, or scrolling, or rendering 3D in a canvas.

Here are sever

[2017-12-13 23:49] julienw opened #681 "Show the duration of the current selected "preview" range"
We don't display the duration of the current range. We display it while we select it, but then it disappears. This is important because there are some cases where we don't manually select a range:
* clicking on a marker
* adding start and end points using the marker table

I think the best idea is to display next to the other durations at the top, maybe with a different color or an icon to indicat

[2017-12-13 23:59] julienw opened #682 "getCallNodeFromPath can be very slow in some situations"
It happened to me on this profile: https://perf-html.io/public/280e10708c0660695ef5af145c53179d29d9796c/calltree/?hiddenThreads=&react_perf&thread=3&threadOrder=0-2-3-4-5-1&v=2

How to reproduce:
1. Expand all from root
2. Click on various rows to select them

I believe the issue is this loop: https://github.com/devtools-html/perf.html/blob/c8801086a711b0fff7e0d87bb88b8ebfa57c620d/src/profile-logi

[2017-12-14 15:39] stasm commented on #676
Great list of todos, I'm stealing this as the outline for `fluent-react`'s tutorial :)

[2017-12-14 16:57] julienw commented on #675
Current educated guess: this comes from https://searchfox.org/mozilla-central/rev/b0098afaeaad24a6752aa418ca3e86eade5fab17/tools/profiler/core/ThreadInfo.cpp#230-233
[code]

`aSavedStreamedMarkers` itself comes from https://searchfox.org/mozilla-central/rev/b0098afaeaad24a6752aa418ca3e86eade5fab17/tools/profiler/core/ThreadInfo.cpp#271-280
in ThreadInfo::FlushSamplesAndMarkers:
[code]

My guess is

[2017-12-14 17:21] julienw commented on #675
Although I don't know how to check if the list is empty _for this thread id_ :) Maybe 2 is easier then.

[2017-12-14 18:17] gregtatum opened #683 "Open profile in CodePen with a perf.html programmatic API"
...and go!

[2017-12-14 20:03] gregtatum commented on #683
Here is a simple profile fetch: https://codepen.io/gregtatum/pen/ppJdPN?editors=0011
Here is an API to pre-fill data: https://blog.codepen.io/documentation/api/prefill/

[2017-12-14 20:12] brisad commented on #658
Seems like it doesn't store the markers in the payload, just the timestamps.
https://searchfox.org/mozilla-central/source/dom/performance/Performance.cpp#366
[code]
Several marks with the same name can exist at the same time. So unless the Gecko profiler would store some other reference to the marks rather than just their names, we would still need to compare the timestamps between the measure and

[2017-12-14 20:43] julienw commented on #658
I'd be more comfortable if we can add the 2 names of the start/end markers in the payload. And yeah I agree with you: we'll need to compare timestamp too !

[2017-12-14 22:07] julienw commented on #675
I reproduce 100% with the following STR:
1. Configure the profile to capture workers (add `,Worker` in the list of threads to profile)
2. Start the profiler.
3. Open the debugger
4. Close the devtools
5. Capture

I think this confirms my guess:
* if we don't capture workers, we don't have the issue
* if we don't close the devtools, we don't have the issue
=> so my guess is that one of the debugger

[2017-12-15 16:29] gregtatum opened #684 "Add keyboard shortcuts across the tool"
This should be broken out into separate issues on each tab with an agreed upon set of keys to use.

[2017-12-15 17:05] gregtatum opened #685 "Audit and change HTML tags to be semantic according to its use"
e.g. use real title like h1, h2.

[2017-12-15 20:48] julienw opened #686 "The scroll indicator doesn't disappear after hiding threads, making the header not scrollable anymore"
STR:
1. Display profile https://perf-html.io/public/280e10708c0660695ef5af145c53179d29d9796c/calltree/?hiddenThreads=&thread=2&threadOrder=0-2-3-4-5-1&v=2
(notice the header is scrollable)
2. Hide one or 2 threads.
(notice the header isn't scrollable anymore)

=> The overflow indicator is still displayed at the bottom.

Reloading the page makes it disappear as it should, but showing the hidding th

[2017-12-15 20:59] julienw opened #687 "Idea: uses a gradient to draw markers in the timeline"
I got this idea while looking at somebody looking at a profile: it's difficult to distinguish markers in the "black" section.

If we'd use gradients it would make it easier to understand where markers start and end. I even think that's what cleopatra did, at least for some of them.

What do you think @gregtatum @mstange ?

[2017-12-15 22:20] julienw commented on #681
OK, it's already filed in https://github.com/devtools-html/perf.html/issues/422

[2017-12-15 22:20] #681 closed

[2017-12-15 22:40] julienw commented on #546
Looking at it quickly :)

[2017-12-15 23:29] #686 closed

[2017-12-15 23:34] brisad commented on #658
Filed [bug 1425605](https://bugzilla.mozilla.org/show_bug.cgi?id=1425605)

[2017-12-21 17:28] squarewave opened #690 "Add Predefined Collapse Transformations (or filters)"
When I'm profiling, it's pretty common for me to want to see both C++ and JS, but to filter out all the XPConnect and SpiderMonkey stuff, so I can just focus on the meat of what C++ is doing and get the context of what the JS functions are. It would be nice if there were some way to quickly filter out XPConnect and SpiderMonkey stuff based on, say, a filter list of regexes.

[2018-01-03 15:43] gregtatum commented on #687
I don't really have an opinion unless I saw what it looks like.

[2018-01-03 15:53] gregtatum commented on #690
Yes, this does sound like something nice to have. I find myself wanting to apply certain transforms by default. It seems like we need some UI here to list and apply saved transforms, and then save the preferences to your browser. Internally, we store only indexes to refer to transforms, so we'd have to store the text (or regexes) and then do some pattern matching to re-apply the transforms dynamic

[2018-01-03 16:25] gregtatum commented on #663
I'm going to close this as I've written a bunch of small examples for presentations.

[2018-01-03 16:25] #663 closed

[2018-01-03 16:26] gregtatum opened #692 "Host examples"
We should host the examples or expose them better. I also have a few from presentations I need to merge in.

[2018-01-03 20:53] gregtatum commented on #244
@bzbarsky Can you help me spec out exactly what you want to see here? I'd like to break this out into separate issues if there are multiple requests here. The underlying request looks like you want:

* Right click call node: `js::jit::MaybeEnterJit`
* Choose from the context menu: "Merge namespace `js`"

All `js` namespaced frames are merged (they have their self times applied to their parent).

[

[2018-01-03 20:55] gregtatum commented on #244
A second request looks like you want to "Merge nodes not in the namespace `js`".

[code]

turns into:

[code]

Oh, and also `JS::` would not be the same as `js` in this implementation, as they are logically different namespaces in C++.

[2018-01-04 15:37] gregtatum commented on #690
I wonder if the interface for this should be in the add-on? That way you could select some pre-defined configuration options. Then maybe a button to save the current transforms and options as default, that would then be associated with the add-on.

[2018-01-04 16:06] julienw commented on #675
I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1428076 because this will need a gecko patch. Closing here.

[2018-01-04 19:16] #621 closed

[2018-01-05 15:16] #648 closed

[2018-01-05 17:21] gregtatum opened #697 "Test issue"

[2018-01-05 17:24] julienw opened #698 "this is a test"

[2018-01-05 17:25] #698 closed

[2018-01-05 20:39] gregtatum commented on #303
This has been fixed, not sure which PR did it though.

[2018-01-05 20:39] #303 closed

[2018-01-05 20:42] #220 closed

[2018-01-05 20:44] gregtatum commented on #220
@hotsphink this bug got closed with the "drop function" transform #693. If you want to re-file your other ideas here feel free.

[2018-01-05 20:48] #697 closed

[2018-01-05 21:54] brisad opened #699 "Remember selected node in call tree when switching back to the Call Tree tab"
Steps to reproduce:
1. If not already active, switch to the Call Tree tab
2. Select a call node in the tree other than the default one
3. Switch to another tab
4. Switch back to Call Tree tab

The selected call node in step 2 should be the selected one, but it's reverted to the default one again.

[2018-01-05 22:17] brisad opened #700 "Overflow edge indicator visible through context menu"
Make it expand upwards by limiting the space below it, for instance with the devtools panel.

![screenshot from 2018-01-05 23-08-19](https://user-images.githubusercontent.com/1911402/34630751-b9359122-f26d-11e7-834d-a28a58d4ed14.png)

[2018-01-08 06:54] upsuper opened #701 "Marker details should display proper information by default"
Currently, in MarkerTooltipContents.js, only specific markers are supported, it means when people trying to add some new markers with some payload, they would need to also add corresponding code to perf.html to make them actually useful. It is unfortunate, since people need to do more work before they can see anything meaningful.

Also it can happen that people may want to log some information tem

[2018-01-08 09:41] julienw commented on #701
Hey !
From the "markers table" view, you can right-click on a marker to show the context menu. In the menu you'll find an item "copy marker JSON" that will copy the raw data to your clipboard.

We want to have this menu in the "marker chart" view too, but it was somewhat more involved to do so we defered this work for now -- but still in our backlog.

Please tell us if this works for you!

[2018-01-08 10:16] upsuper commented on #701
It... doesn't really help. The position on profile viewer is the only point to have it attached with profile, otherwise MOZ_LOG is much easier...

[2018-01-08 13:36] julienw commented on #701
But would the same context menu in the marker chart work ?

[2018-01-08 13:37] julienw commented on #701
Note: this is https://github.com/devtools-html/perf.html/issues/546

[2018-01-08 14:23] upsuper commented on #701
Maybe. It would still be more convenient if the stuff can be shown in tooltip directly rather than needing to paste to somewhere first.

[2018-01-08 15:09] gregtatum commented on #701
@upsuper Do you have a specific data structure recommendation, on how we we would know how to format an unknown marker?

[2018-01-08 23:26] bzbarsky commented on #244
@gregtatum Sorry for the lag....

Yes, if I were clicking on the `js::RunScript`.   Less clear about the `js::jit::MaybeEnterJit` case.

I would prefer they have all their time applied to the place where that namespace got entered.  So this:

    root -> js::RunScript -> js::jit::MaybeEntierJit -> doSomething()

becomes:

    root -> js::RunScript -> doSomething()

with MaybeEnterJit merged into R

[2018-01-09 06:53] upsuper commented on #701
For my case, I just do
[code]
which seems to be a whole bunch of simple boilerplate that is possible to generate automatically.

[2018-01-10 19:26] gregtatum opened #703 "Fix flow types for connected components."
They are broken.

[2018-01-11 15:55] gregtatum commented on #533
This hasn't really bothered me as much as I thought it would, and there isn't a "correct" solution for many of these. I'm going to go ahead and close this unless anyone disagrees.

[2018-01-11 15:55] #533 closed

[2018-01-11 16:14] gregtatum opened #704 "Limit expanded nodes when alt clicking in the call tree"
Right now it can totally hang the browser. We shouldn't do that. The data structure is really heavy handed to express nodes, and this is really taxing. I think it's reasonable to limit this to some degree and make the user alt click a few times to get their desired results.

Steps to reproduce:
 * Load https://perfht.ml/2mvPaEf
 * Alt click twice on `-[NSTaggedPointerString uppercaseStringWithLoca

[2018-01-11 16:15] gregtatum opened #705 "[meta] Make expanding call nodes fast"
This is a core user interaction, it should be blazing fast.

See issues: #682, #270, #704

[2018-01-11 16:15] gregtatum commented on #237
Closing in favor of #705

[2018-01-11 16:15] #237 closed

[2018-01-11 16:28] gregtatum commented on #164
@mstange @julienw do we still want this? I'd be fine closing it.

[2018-01-11 17:25] gregtatum opened #706 "Expose the profile window object"
We should expose the processed profile and filtered profile to the window object for easy debugging and custom analysis. It would probably be nice to include a console.log statement in production that it exists.

[2018-01-11 17:30] gregtatum opened #707 "Hide idle content threads by default"
If we don't paint to a content thread, we should hide it by default. We could also detect idling by looking at stacks, but we don't have them labeled well yet, and looking at the markers will probably be good enough.

We should mention in the UI that `2 idle threads were hidden`.

`getFriendlyThreadName` should also be updated. This will be a breaking change on how we label threads, so some filed

[2018-01-11 17:53] gregtatum commented on #510
I've created graphics for presentations, let's use those, and include them on the context menu. They will only show when you click a `?` icon.

[2018-01-11 19:12] gregtatum opened #708 "The Viewport component is slow"
I believe the fix here is to unhook the Viewport from dispatching actions. We should attach an event emitter to the store that operates independently of the actions. The mouse events fire way too fast to reasonably hit the store with.

[2018-01-12 00:08] squarewave commented on #690
I think whatever we do, it would be ideal to be able to import / export / share saved transforms. Otherwise profiling local builds on a fresh profile would be a bit inconvenient.

[2018-01-12 16:05] julienw commented on #707
Could you please explain why `getFriendlyThreadName` is concerned here ?

[2018-01-12 16:24] julienw commented on #706
cc @ochameau

[2018-01-12 16:37] julienw commented on #705
Why #687 ? Is it a mistake ? :)

[2018-01-12 16:39] julienw commented on #701
Generally we like to display the information in a nice way for the user, that's why we have custom code. But this is also again a matter of who the user is.

I believe we could at least add a function to do this, that you could easily use while you test. Or maybe we could do it by default for markers we don't know.

[2018-01-12 16:39] julienw commented on #692
Do you have a link to the examples you already have ?

[2018-01-12 16:42] gregtatum commented on #708
`updateProfileSelection` is really hot when using mouse events, it dispatches an action really quickly, and causes unneeded component and store churn.

[2018-01-12 16:55] julienw opened #711 "Make it possible to share a profile even before symbolication"
This is useful for users on slow machine.

2 possibilities:
* directly share through the add-on, opening a simple page, so that the slow machine doesn't have to load the full react app
* as a stop-gap measure we could allow the "share" button appear after clicking several times on its normal location.

(requested by @fqueze)

[2018-01-12 16:56] julienw commented on #525
we now have a eslint rule that prevents using the previous state in a non-lambda setState. I think we can close this bug now.

[2018-01-12 16:58] julienw commented on #474
see #679 and #687

[2018-01-12 17:32] digitarald opened #712 "Scroll current call tree leaf into view after changing call tree filtering"
Before:
<img width="1107" alt="image" src="https://user-images.githubusercontent.com/8599/34887225-a0b4f1a8-f77a-11e7-9e9a-00daefb0b45e.png">

After filtering to JS only (aka nothingness):
<img width="747" alt="image" src="https://user-images.githubusercontent.com/8599/34887236-a9ed45d6-f77a-11e7-8573-7e7b119df34b.png">

The list should scroll the correct node into view.

[2018-01-12 17:41] julienw commented on #675
reopning for tracking

[2018-01-12 19:51] gregtatum commented on #448
For this let's add a pencil icon and editable name to the range selectors in the header, and probably focus on doing something easy to start out with at least. This name will be saved to the URL.

e.g. add it here: <img width="208" alt="image" src="https://user-images.githubusercontent.com/1588648/34892612-8f704fbc-f79f-11e7-8d4c-8489467d316e.png">

[2018-01-12 22:41] julienw commented on #448
And displayed in the title ;)

[2018-01-14 23:29] upsuper opened #713 "Support merging child node (with unsolved address) into calling function"
Please see the screehshot below. The addresses under `test` are probably functions generated by JIT, and they have similar data inside. I hope there could be an easier way to merge them altogether in one click, rather than having to merge them one by one.

![image](https://user-images.githubusercontent.com/333750/34922054-c0cc7aa4-f9de-11e7-802c-04ae7245dc90.png)

[2018-01-14 23:34] upsuper commented on #713
There are several possible solutions:
* support merging all child nodes into calling function
* support merging all child nodes which don't have resolved symbol into calling function
* support merging all descendant nodes which don't have resolved symbols into calling function

There are also some possible compromise to speed up doing this without adding new merging method:
* support keyboard shor

[2018-01-15 10:24] julienw commented on #713
We do have an existing bug about JIT frames in https://github.com/devtools-html/perf.html/issues/586. Especially discussing whether we should merge them automatically -- but if yes, to the caller or the callee?

[2018-01-15 10:29] upsuper commented on #713
If you want to do it automatically, it's probably better just merge the generated frame together and call it "generated code" rather than trying to merge them with anything else.

[2018-01-15 10:31] julienw commented on #586
Suggestion from @upsuper in #713: merge all JIT addresses nodes with the same parent into one "generated code" node. (basically "option 2" from the initial description, with a "sibling merge" operation).

[2018-01-15 10:37] julienw commented on #712
Note we don't scroll right automatically when we expand nodes either. Maybe this issue should include this too.

[2018-01-15 16:32] julienw commented on #682
Maybe one issue isn't that it's slow, but that we call it a lot in a loop: https://github.com/devtools-html/perf.html/blob/9643550e6cf8b65930cdbaa6b63cde10d4256cb7/src/components/calltree/CallTree.js#L134-L135

I feel like this could be optimized because a lot of what's done in getCallNodeFromPath could be reused in subsequent calls. Depending on the order in which it's called (if the initial arra

[2018-01-15 17:38] julienw opened #714 "Graphical glitch due to an ellipsis when highlighting the search"
Spotted on this profile: https://perfht.ml/2mEFt6i
We can see the highlighted search miss the end. If we remove the background color with the devtools, we can see the end is replaced by the ellipsis character.

![image](https://user-images.githubusercontent.com/454175/34955084-37f4fb76-fa23-11e7-925c-9c0d44dccd61.png)

This is also happening when searching the string "wasm" on the same profile:
![

[2018-01-15 18:16] lukewagner commented on #586
I'm not sure if it's the exact same issue, but I had a specific fix that might help the situation here: https://bugzilla.mozilla.org/show_bug.cgi?id=1426124

[2018-01-16 18:14] gregtatum commented on #705
Yes, removed it.

[2018-01-16 18:15] gregtatum commented on #692
https://github.com/gregtatum/talk-perf/tree/master/perf-examples

[2018-01-16 18:18] gregtatum commented on #510
https://github.com/gregtatum/talk-perf/tree/master/perf-examples

https://docs.google.com/presentation/d/1MisKsshOmYP7NzgNxLvC2UMBQyHb8dbhQBvs95pKthk/edit?usp=sharing

[Sketch files](https://github.com/devtools-html/perf.html/files/1636287/calltree.transforms.zip)

[2018-01-16 18:18] #525 closed

[2018-01-16 18:24] gregtatum commented on #586
I think Luke's proposed fix is the correct one that will solve this. I notice that @julienw put this in our backlog, so I'm going to modify this from a discussion issue, into a tracking one that needs a gecko patch.

[2018-01-16 18:27] gregtatum commented on #713
I believe #586 (which is now just tracking https://bugzilla.mozilla.org/show_bug.cgi?id=1426124) will fix this issue without having to add new call tree transformations. I'm going to close this for now, if anyone wants me to re-open please let me know.

[2018-01-16 18:27] #713 closed

[2018-01-16 18:30] gregtatum commented on #712
Maybe some function like `scrollCallNodeIntoView`

[2018-01-16 18:49] gregtatum opened #715 "Update docs on Flow typing react components"
We should have some nice documentation about what is going on in #709

[2018-01-16 18:51] gregtatum opened #716 "Fix docs on getState recommendations for Thunk action creators"
In the docs we discourage the use of `getState` in ThunkActions while in #587 we discussed that this is now fine.

[2018-01-16 20:46] mstange opened #717 "Thread start markers cause horizontal scrollbars in the header when zooming into a range"
See https://perfht.ml/2rdcdbE for example; the header is horizontally scrollable. It shouldn't be.

[2018-01-17 08:25] julienw commented on #712
Yeah, I believe calling "scrollIntoView" on the right element should work.

[2018-01-17 19:26] gregtatum opened #718 "Investigate types for correctness in indexeddb.js"
With PR #709 the types needed to change in `src/types/indexeddb.js`. We should investigate what's going on here.

See https://github.com/devtools-html/perf.html/pull/709#discussion_r161786815

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FP-688)

[2018-01-17 23:32] gregtatum commented on #540
@mstange Does [Bug 1431184](https://bugzilla.mozilla.org/show_bug.cgi?id=1431184) invalidate this bug? Also what should we do on the client to make Workers better understandable? Should we file new Gecko Profiler bugs?

[2018-01-17 23:35] mstange commented on #540
It does not, I think it even makes this bug more pressing, because we'll no longer have script URLs in the worker threads' thread names.

[2018-01-18 16:51] rwood-moz commented on #255
When running talos tests with --geckoProfile and selecting the job on treeherder, there will be no 'Performance' tab because we don't submit talos data to Perfherder that was generated while gecko profiling was turned on. The resulting *-profile.zip file(s) are located on the 'Job Detais' treeherder tab.

Yes if perf-html.io was able to support opening a .zip file via /from-url/ we could just add

[2018-01-19 02:47] gregtatum commented on #255
I'm adding this to our current backlog, so we can hopefully prioritize it.

[2018-01-19 03:13] gregtatum opened #724 "Complete test coverage for src/actions"
We're only sitting at 62%, and it shouldn't be too bad to do.

- [ ] src/actions/app.js 0.00% (See #723)
- [x] src/actions/icons.js 93.75%
- [ ] src/actions/profile-view.js  75.30%
- [ ] src/actions/receive-profile.js  53.58%
- [ ] src/actions/stack-chart.js 33.33%

[2018-01-19 16:50] gregtatum commented on #222
Changing this to polish, as it's a relatively simple request.

[2018-01-19 16:53] gregtatum commented on #98
Changing this to a polish bug, as it shouldn't be crazy to do.

[2018-01-19 16:55] gregtatum commented on #100
Changing this to a polish bug because it seems pretty simple to do.

[2018-01-19 18:12] peterbe commented on #253
Update on this;
The bug for the work on Symbols is here: https://bugzilla.mozilla.org/show_bug.cgi?id=1377479
It's coming along nicely. Markus and I have a plan.
Its blocker was that I wanted to renovate how the symbols are stored in the cache. [This is almost at the time of writing](https://bugzilla.mozilla.org/show_bug.cgi?id=1429516).
I hope to have a prototype of the new API in a week or two.

[2018-01-19 18:47] gregtatum commented on #717
Ugh, thanks for reporting.

[2018-01-19 21:20] gregtatum opened #725 "Provide a way to collapse non-branching call nodes in call tree"
![image](https://user-images.githubusercontent.com/1588648/35171731-736cbaf4-fd2a-11e7-9f9d-7e04a57de691.png)

Looking at a call tree like this is kind of unhelpful, as it doesn't show anything pertinent that is going on. It would be useful to be able to collapse non-branching call nodes in a call tree. This could be implemented as a view on the call tree, so that it could be toggleable and not af

[2018-01-19 21:55] gregtatum opened #726 "Flame graph colors"
We should hash out what colors to display for #702. Right now it's using the implementation of the original flame graph, which I think is hard to read, and a bit distracting. The colors should relay information and be helpful for understanding the graph.

I took a stab with trying to encode both the depth information, overall percentage, and relative position left to right into the HSL values, so

[2018-01-22 09:48] julienw commented on #725
I believe this stems from the fact that not everybody wants to see everything. For example as a Layout developer I wouldn't really care about the GC nodes, that could all be merged into a single "GC" category.

[2018-01-22 14:54] gregtatum commented on #725
Not necessarily that, I think pseudo-stacks will help with collapsing away non-pertinent information. I feel like this one is providing a more terse look into the data structure, as usually long non-branching call nodes are typically not very interesting.

[2018-01-22 17:35] julienw commented on #270
Because of the fact we create a new expandedCallNodePaths data at each select, we invalidate the cache for https://github.com/devtools-html/perf.html/blob/e4b3388a1f3dc742a925804b18a1041e28f1a372/src/reducers/profile-view.js#L694-L705 and this is especially slow.

[2018-01-22 19:29] gregtatum opened #727 "Allow loading profiles via URL over http on localhost"
Right now our CSP is too rigid to allow for this, but it's useful for automation to open a newly recorded profile directly from localhost.

[2018-01-23 12:08] #614 closed

[2018-01-23 15:30] gregtatum commented on #703
Fixed with #709

[2018-01-23 15:31] brisad commented on #726
Nice color scheme. Doesn't look out of place like the flame colors :)
But I also think showing the categories as colors would make sense. Then the user should be able to quickly flesh out whether most code is executing in C++ or JS. Might be worth trying out, to see whether it makes sense or not.

Perhaps we should keep the colors used in the stack chart and in the flame graph aligned? They are pr

[2018-01-23 15:34] yoshuawuyts commented on #726
Feel like an important factor to consider is folks with color blindness. With 1 in 20 humans having some form of color blindness, it might be a good one to keep in mind given the scale at which FF deploys.

[2018-01-23 16:33] gregtatum commented on #726
From: https://twitter.com/yoshuawuyts/status/955825456325935104

This sounds really good:

I guess this package uses it: https://github.com/davidmarkclements/0x

[2018-01-23 17:28] #703 closed

[2018-01-24 02:02] yoshuawuyts commented on #726
Sibling issue on 0x: https://github.com/davidmarkclements/0x/issues/53

[2018-01-24 19:56] #545 closed

[2018-01-24 20:29] gregtatum opened #730 "TaskTracer - What to do?"
I was looking at largest uncovered pieces of code in our codecov report, and TaskTracer's files are some of the worst offenders. What do you all think about removing it? That would be a nice improvement to our code coverage numbers.

We could tag it in the version control history if and when we want to resurrect it, but for now it's just bitrotting, and I've had to hit it in refactors.

/cc @julie

[2018-01-24 20:33] gregtatum opened #731 "Test coverage for GC marker processing"
While looking for top file offenders for code coverage, this one stands out. We have no coverage for GC marker processing.

https://codecov.io/gh/devtools-html/perf.html/src/dde68013d994ec113c7513f85f2b0eadee9af2cf/src/profile-logic/process-profile.js#L494

[2018-01-24 20:36] gregtatum opened #732 "Test coverage for src/profile-logic/profile-data.js"
In uncovering our top offenders in lack of code coverage we are missing coverage in:

[src/profile-logic/profile-data.js](https://codecov.io/gh/devtools-html/perf.html/src/dde68013d994ec113c7513f85f2b0eadee9af2cf/src/profile-logic/profile-data.js)

We need to test:

* [ ] `findBestAncestorCallNode`

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FP-691)

[2018-01-24 20:41] gregtatum opened #733 "Test coverage for src/components/app"
In trying to find our worst offenders for test coverage, [src/components/app/](https://codecov.io/gh/devtools-html/perf.html/tree/dde68013d994ec113c7513f85f2b0eadee9af2cf/src/components/app) stands out as being particularly bad. We might need to take on [enzyme](https://github.com/airbnb/enzyme) as a dependency and shallow rendering to properly deal with some of these components.

Files ordered by

[2018-01-24 20:44] gregtatum opened #734 "Test coverage for src/components/header"
In attempting to uncover our worst offenders for code coverage, the header component stands out.

 - [ ] TimeSelectionScrubber (53 lines uncovered)
 - [ ] IntervalMarkerOverview (47 lines uncovered)
 - [ ] ProfileThreadHeaderContextMenu (26 lines uncovered)
 - [ ] SelectionScrubberOverlay (26 lines uncovered)
 - [ ] ProfileThreadHeaderBar (25 lines uncovered)
 - [ ] ThreadStackGraph (14 lines unco

[2018-01-24 20:53] gregtatum opened #735 "Add Flow to all JS files"
We have a few files left that don't have the `// @flow` annotation at the top. We should add them or provide a justification to not do so with a comment at the top of the file. This list was gathered from running `yarn flow-coverage`.

 - [x] src/index.js
 - [x] src/profile-logic/profile-processor-worker.js (is this one
 - [x] src/profile-logic/profile-store.js
 - [x] src/profile-logic/range-filte

[2018-01-24 20:58] gregtatum commented on #661
Ok, now we can officially remove PropTypes, since #709 landed and fixed connected component's typing information!

[2018-01-24 21:00] mstange commented on #730
Sure, let's remove it.

[2018-01-24 21:07] gregtatum commented on #161
The directions in this issue are different from what was in my head when we added it to the sprint. I assumed this would only expand the tree when you typed in the search box, and select a call node with that name in it. This sounds like the use case of coming in on a pre-selected call node from a URL. I would rather do #98 and store the `selectedCallNodePath` in the URL. What do you think @julien

[2018-01-24 21:07] gregtatum commented on #161
I mean, I would also like it to select a call node when I type in the search box, but this issue is not that specifically.

[2018-01-24 21:59] digitarald opened #736 "Hiding threads does not resize stack chart canvas"
STR:
- Hide a few threads

ER: Canvas for stack chart resizes to fit

AR: Canvas stays stuck

<img width="575" alt="image" src="https://user-images.githubusercontent.com/8599/35359384-c174ad50-010e-11e8-9f4e-f2b402a5a1c1.png">

[2018-01-24 22:09] digitarald opened #737 "`Only show x thread` causes jumping menu positions"
The conditional nature of `Only show: {selected thread}` makes the menu jump when you go from 1 to 2 selected threads and from 2 to 1; as the menu stays visible.

![screenflow](https://user-images.githubusercontent.com/8599/35359711-ff6a5a32-010f-11e8-8639-642a6c64d160.gif)

This could be solved by showing a "Show all threads" when only one thread is visible.

[2018-01-25 10:46] julienw commented on #730
I really don't know anything about it so I don't have an opinion. If @mstange is OK I'm OK too :)

[2018-01-25 15:15] julienw commented on #675
Autolanding in progress in https://bugzilla.mozilla.org/show_bug.cgi?id=1428076

[2018-01-25 16:00] gregtatum commented on #737
It would be easier to dim out the option. That would be a react component update, as opposed to a new action that would need test coverage as well.

[2018-01-25 17:22] gregtatum commented on #682
I moved from storing CallNodePaths to IndexIntoCallNodeTable, and switched to using Sets. The initial results are promising, but I need to still implement function merging and transforms support.

Before changes: https://perfht.ml/2BucvdT
After changes: https://perfht.ml/2BttVas

[2018-01-25 20:56] digitarald commented on #737
Sounds like a good stop gap and best practice in Firefox as well.

[2018-01-25 21:01] julienw commented on #737
yep I like greg's idea too.

we can use [the "disabled" attribute to MenuItem](https://github.com/vkbansal/react-contextmenu/blob/master/docs/api.md#menuitem-).

I don't think we have a style for this `.disabled` class yet, so this PR will also introduce it.

[2018-01-25 21:04] julienw commented on #161
I think the "search term" is also filling the need of selecting several rows, which we can't do at the moment.

But I think like you that the initial need from ehsan is more about showing especially something in a call tree than about the search itself. (although I'd like this too)

[2018-01-26 17:05] julienw commented on #675
done !

[2018-01-26 17:05] #675 closed

[2018-01-26 21:06] mstange opened #740 "A thread that starts while the profiler is paused or collecting incorrectly has a "buffer was empty" annotation at the start"
See this profile: https://perfht.ml/2nfAMA3

<img width="526" alt="screen shot 2018-01-26 at 4 03 04 pm" src="https://user-images.githubusercontent.com/961291/35460574-8a1a97a2-02b2-11e8-963e-fe34f89d7e20.png">

The striped area that I circled in red should not be there - we don't expect to have any data in that range.

This thread was starting right as a previous profile collection was happening.

[2018-01-26 21:21] gregtatum commented on #740
Thanks, that makes sense.

[2018-01-27 04:12] danieldiaz14 commented on #735
Hey man i'll add this in for you

[2018-01-27 04:27] danieldiaz14 commented on #735
https://github.com/devtools-html/perf.html/pull/741

Let me know if you guys need any help!

[2018-01-29 13:27] julienw opened #742 "Reorderable has been broken by the "Flow upgrade to 0.63" patch."
STR:
1. Open http://localhost:4242/public/f6edbe6db9773950dd0d18dadddcf6776d8d8545/calltree/?hiddenThreads=&range=9.8050_11.8579&react_perf&thread=4&threadOrder=0-2-4-1-6-5-3&v=2
2. Try to reorder the threads in the header
=> We can reorder but the reorder animation doesn't work

After bisecting I found 996e9aa57976769d15f163e30018e20d223e02c4 broke this.

[2018-01-29 13:31] julienw opened #743 "Can't reorder threads that are empty"
STR:

1. Open http://localhost:4242/public/f6edbe6db9773950dd0d18dadddcf6776d8d8545/calltree/?hiddenThreads=&range=9.8050_11.8579&react_perf&thread=4&threadOrder=0-2-4-1-6-5-3&v=2
2. Try to move the thread "content 1" in the header.
=> This doesn't work at all.

The thread "content 1" is greyed.

![image](https://user-images.githubusercontent.com/454175/35512701-fbde8f92-0500-11e8-90d6-e5d93fccd99

[2018-01-29 14:36] julienw commented on #742
I think I found the issue: turns out https://github.com/devtools-html/perf.html/commit/996e9aa57976769d15f163e30018e20d223e02c4#diff-cb90987f9fd7ced0ba18de905f486d53L147 is actually used by Reorderable directly: https://github.com/devtools-html/perf.html/blob/18b799fa36680489e8ff987dc5331f3adc6ac119/src/components/shared/Reorderable.js#L278

Flow hasn't found it, maybe the typing for Reorderable n

[2018-01-29 17:17] #742 closed

[2018-01-29 17:18] #714 closed

[2018-01-30 14:49] julienw commented on #743
Moreover a right click on this header doesn't show up our context menu.

[2018-01-30 18:47] gregtatum opened #749 "Make profile types stricter"
We should use exact objects and (if possible) covariant (read-only) properties.

e.g. turn this:

[code]

into this:

[code]

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FP-695)

[2018-01-30 18:50] #344 closed

[2018-01-30 19:34] mstange opened #750 ""Invert call stack" checkbox broken when switching between call tree and stack chart"
Steps to reproduce:
 1. Load https://perfht.ml/2nmCIHc
 2. Click the "Invert call stack" checkbox and wait until the UI is responsive again.
 3. Switch to the "Call tree" tab.
 4. Click the "Invert call stack" checkbox in this tab.

After that click, the checkbox is still checked, and clicking rows in the call tree doesn't update selection properly.

[2018-01-31 14:38] julienw commented on #619
Some update here.
The simple fix outlined above turns out to not be so simple. I managed to solve most issues but one big issue is still happening.

This is about the overlay: I don't know how to make it "inside" the scrollable element so that its width is the same as the canvas' width, and in the same time make it so it's not scrollable so that 1. the centered button is still centered and 2. the

[2018-02-01 13:31] #118 closed

[2018-02-01 20:26] gregtatum commented on #750
Resolved with 3d2ed755a9f7a7557692d8d49d516d28356ff978. I just deployed the change.

[2018-02-01 20:26] #750 closed

[2018-02-01 20:26] gregtatum commented on #750
Specifically this line: https://github.com/devtools-html/perf.html/commit/3d2ed755a9f7a7557692d8d49d516d28356ff978#diff-07cc1eee338897c84e0ddbb1e3b630e0R315

[2018-02-02 15:28] gregtatum opened #754 "Consider removing CSP rule "upgrade-insecure-requests""
The only way I found to load in profiles from a local source in a sane way is to remove the [upgrade-insecure-requests](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/upgrade-insecure-requests). I think this is worth the risk, as we directly control the codebase. The biggest risk I think is in how load in favicons, as we'd need to ensure we're only loading https.

[2018-02-02 15:42] gregtatum opened #755 "Provide a URL route to load in multiple profiles from CI"
In [bug 1425308](https://bugzilla.mozilla.org/show_bug.cgi?id=1425308) one difficulty from display results from CI is needing to display multiple profiles. I think we should support a view where we can list out multiple profiles.

`https://perf-html.io/from-ci/?{params}`

Where the params are an ordered list of `profileUrl` and `profileName` (is there any other information needed here?). Then we w

[2018-02-02 16:43] julienw commented on #754
Another possibility is to use the power of the addon. I'm not saying this is how we _should_ do it like this but this is possible.

[2018-02-02 19:46] #717 closed

[2018-02-02 19:49] gregtatum commented on #754
I think this would be a point of failure for people who don't have the addon installed, it would be a barrier to "just working".

[2018-02-03 00:05] julienw commented on #754
Ah yes, good point.

[2018-02-06 18:08] mikeconley opened #758 "Make it easier to identify samples where we were _only_ running script"
This is distinct from the "JS Only" view in the Tree View, since that feature shows us stacks where JS is *involved*. What I'm requesting here is slightly deeper - what I'm hoping for is something that highlights samples where the deepest part of the stack is still JS, and that the JS isn't calling into platform-y things.

I think this would help us identify things like "this page is just running

[2018-02-06 18:20] mikeconley opened #759 "Highlight JIT code frames in the Stack Chart"
@jrmuizel and I were pleased to note in [last week's episode of The Joy of Profiling](https://air.mozilla.org/the-joy-of-profiling-episode-18/) that we can invert the Stack Chart and see green cells for JS that was JITted:

![Check it out](https://screenshotscdn.firefoxusercontent.com/images/a99a3878-d308-44fc-a10d-89843f30eaad.png)

We got even more excited when we realized we could invert the gr

[2018-02-06 19:06] mikeconley opened #760 "Show proportions of sample categories for current range of samples"
It would be excellent if, when viewing a set of samples, we could get a sense of proportion of what categories time is being spent in. The existing categories in the Stack Chart are a fine start, we just need them in some view... We need percentages. Lists are fine.

/cc @jrmuizel, @mstange

[2018-02-06 19:25] mstange opened #761 "Invisible search field hint blocks mouse input"
Steps to reproduce:
 1. Open any profile.
 2. Switch to the stack chart.
 3. See that the box under the mouse is not highlighted if the mouse is in the area where the hint from the search field would show up.

This is because that hint is using `opacity: 0;`. It also needs to use `visibility: hidden` or `pointer-events: none`, otherwise it still blocks mouse events. cc @julienw

[2018-02-06 22:17] gregtatum commented on #255
Pretty sure I built this thing wrong. I need try and get an actual zip file to work from, and then maybe I'll understand this problem better. If anyone has a working example handy, that would be great, otherwise I'll try and generate one tomorrow.

[2018-02-06 22:21] rwood-moz commented on #255
Hi Greg,

There is a Talos profiling job (T-P-e10s) running nightly on OSX and Linux, you can grab a profile_*.zip file from the Treeherder job details panel for one of those jobs, i.e.:

https://treeherder.mozilla.org/#/jobs?repo=mozilla-central&filter-searchStr=talos%20profiling&selectedJob=160580072

[2018-02-06 22:38] gregtatum commented on #255
Thanks!

Here is a URL to test off of:

https://perf-html.io/from-url/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FQPUiLGxRRYa_oCnlCpBOzw%2Fruns%2F0%2Fartifacts%2Fpublic%2Ftest_info%2Fprofile_tresize.zip

[2018-02-07 12:42] julienw commented on #761
Fun one, thanks !

[2018-02-07 12:50] julienw commented on #759
@mikeconley Can you please share the URL to this profile ? :) Thanks !

[2018-02-07 14:24] julienw commented on #761
The issue is actually more complicated than this.

See this simpler testcase: http://jsbin.com/dayuwar/4/edit?html,css,js,output

The hint itself is not the issue, the issue is the label container that's made bigger by the hint, and that's not reduced by this.

I think the proper fix is animating "display: none" so that the label container goes back to the right height.

[2018-02-07 15:34] mikeconley commented on #759
I'm afraid I don't still have it - but I gathered something similar:

https://perfht.ml/2nIPIHo

[2018-02-07 17:24] #761 closed

[2018-02-07 20:25] gregtatum commented on #758
It sounds like you are saying "Drop samples with non-JS leaf nodes"? This could get implemented as a transform.

I think we need to resolves #586 first (which needs a Gecko patch: https://bugzilla.mozilla.org/show_bug.cgi?id=1426124).

[code]

Would then get transformed to:

[code]

[2018-02-07 20:27] gregtatum commented on #24
Duplicate of #255, where we are tracking the work.

[2018-02-07 20:27] #24 closed

[2018-02-07 20:27] gregtatum commented on #755
I'm closing this in favor of #255, as this is exactly what it does. Except it loads in 1 zip file with multiple profiles.

[2018-02-07 20:27] #755 closed

[2018-02-07 20:27] mikeconley commented on #758
Yeah, I think that sounds right.

[2018-02-07 20:37] gregtatum opened #764 "Stack chart categories are lying, and should use the flame graph categories"
When I originally implemented the stack chart I did not realize that neighboring functions could collapse into each other, and represent multiple stack frames, or function invocations. So technically each row is a summary. When you start applying transforms or filter by implementation, the rows end up being a summary of multiple samples. So an individual row could have 90% ion frames and 10% basel

[2018-02-07 20:39] gregtatum commented on #759
I think this bug may not be actionable, because we are planning on removing the unsymbolicated JIT frames: https://bugzilla.mozilla.org/show_bug.cgi?id=1426124.

Also, some more bad news, the stack chart may be lying to you as it's currently implemented, see #764 for more information and to track the work to fix it.

I'm glad to see you are all using the stack chart, and I'll appreciate any feedba

[2018-02-07 20:39] #759 closed

[2018-02-07 22:41] brisad commented on #726
How about something like this? I've tried using two different colors depending on if it is JS (blue) or not (orange) and with darker colors for functions having samples with actual `selfTime`, indicating that they're more hot.

It's less "flamy" since in many cases we have functions with no `selfTime` and then all those boxes have the same color.

I haven't checked if it works with color blindness

[2018-02-07 22:45] gregtatum opened #765 "Simplify imports for selectors and actions"
We have some tangled imports that are really obnoxious to use. I would like to simplify this and switch to more of a globally exported namespace. I tried this on a personal project, and the debugger takes more of this approach. I think it will simplify our lives quite a bit.

Essentially `src/selectors.js` would look like:

[code]

I'm not too concerned with coming up with unique names, as we alre

[2018-02-07 22:51] gregtatum opened #766 "Use utility types to infer the State types"
In a side project I tried not separately typing my app state, and it was quite nice. I think we should do this in perf too. I also tried it for actions, but I feel like that experiment failed somewhat, because ThunkActions are hard to do correctly, although maybe there still is a nice approach.

The type looks like this:

[code]

Then the reducer is defined like this:
[code]

Then in `src/reducers

[2018-02-08 13:38] julienw commented on #766
I basically agree with the advantages you outline. Though there are some inconvenients to this as well:
* It's a less approachable typing for new contributors
* I think defining the state in one place (like we have now) makes it easier to reason about it as a whole while with the approach you propose it's more difficult to get it. I think it's also more difficult to get how to write the selectors,

[2018-02-08 14:02] julienw commented on #726
So I like how the selfTime is exposed... and I think it should be in the tooltip too ;) I like exposing it because while we can "get" it looking at the graph (this is the space on the right edge where there's nothing above) this is much more visible that way.
I also like to expose categories that way.

About the color blindness it's difficile to make it work. Some people don't see some or all colo

[2018-02-08 15:59] gregtatum commented on #765
I find all of our importing to be especially painful and overly verbose. I feel like it really slows me down when I'm wiring stuff up. It requires a lot of cognitive overhead to think where things live. I do like separating out code into lots of smaller files, as it makes understanding and collecting it better, but not the importing. Especially with actions, selectors, and types.

The URL state re

[2018-02-08 16:06] gregtatum commented on #766
Which part do you feel is less approachable? The `Reducer<>` type, or the inferred state, or both?

Ok, I can see how having the state having explicitly typed makes it easier to visually see what the expectations are. I'm probably biased because I rely on my editor telling me things.

I still think that changing the type to `Reducer<>` will be a change for the better. It makes it stricter to defin

[2018-02-08 16:26] gregtatum opened #767 "[meta] Show the Flame Graph in the UI"
The initial work to build a Flame Graph was landed in #702 by brisad :tada:

We should finish up some work on the Flame Graph before we surface it in the UI. This issue will track that.

* [x] We still lack component test coverage #768
* [x] Sort out the colors #726
* [x] Surface it in the UI #769

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FP-697)

[2018-02-08 16:27] gregtatum opened #768 "Test the Flame Graph's components"
We should at bare minimum do a snapshot test, although there are some shared components that aren't tests very well either like the Viewport.

[2018-02-08 16:30] gregtatum opened #769 "Surface the Flame Graph in the UI"
We should surface the Flame Graph in the UI. Right now we're doing it as a tab, but perhaps it would be better to put it as an option in the Stack Chart? It's a summary-based visualization that's surfacing the same information in a similar format. I think this would reduce the clutter of having too many tabs, and be a logical grouping of this style of information. The Flame Graph will be probably

[2018-02-08 16:52] julienw opened #770 "Add an option to copy a marker's cause in the context menu"
After https://github.com/devtools-html/perf.html/pull/756 lands we'll see a marker's cause in tooltips, which can be somewhat frustrating because we can't copy it.

We should have an option in the context menu to copy it, when present.

Note that the menu isn't displayed in the _marker chart_ yet (this is issue https://github.com/devtools-html/perf.html/issues/546). Currently the menu only works i

[2018-02-08 16:56] mstange commented on #767
If switching from the call tree to the flame graph preserves transforms from the call tree, then we should display those transforms in the flame graph tab, too, and make sure they end up in the URL.

[2018-02-08 17:02] julienw commented on #766
Yep I'm fine with the Reducer type !

[2018-02-08 17:16] julienw commented on #765
If it's bothering you every day, then let's do it ;)

About the UrlState rewriting, let's discuss this elsewhere, I believe we'll still need some of these reducers, or maybe we need to move some over to app.js. I also still think about my "actors" idea from https://github.com/devtools-html/perf.html/compare/master...julienw:518-upload-after-symbolication, where the idea is running code after each

[2018-02-08 22:38] gregtatum commented on #765
Agreed on the UrlState comment, as it was an aside. We can file more bugs to discuss things if we want.

[2018-02-08 22:39] gregtatum commented on #765
Ok thanks :)

[2018-02-08 22:54] gregtatum commented on #255
I'm making progress on this, still some work to do with handling the file selection the URL, and finish up testing.

<img width="1324" alt="image" src="https://user-images.githubusercontent.com/1588648/36002652-8e87a3b4-0cf0-11e8-8eed-f0af293b6779.png">

[2018-02-09 14:35] rwood-moz commented on #255
That's really cool!! 👍

[2018-02-09 16:58] julienw commented on #682
This is greg's WIP: https://github.com/gregtatum/perf.html/tree/expanded-call-nodes

[2018-02-09 17:00] gregtatum opened #771 "Always show why a panel is empty if there is no data"
Panels can have no data, and it's really confusing. We should show helpful messages for this.

For instance, when there are no samples, the call tree is blank. If there are no markers, the marker table is blank.

- [x] Call Tree
- [ ] Flame Graph
- [ ] Stack Chart
- [x] Marker Chart
- [ ] Marker Table
- [x] Network

[2018-02-09 19:52] gregtatum commented on #754
No major concerns were raised, so I'm closing this in favor of #727

[2018-02-09 19:52] #754 closed

[2018-02-09 19:53] gregtatum commented on #727
This means we need to remove the CSP rule "upgrade-insecure-requests", and audit that we are not sending out http requests (we are for NodeIcons).

[2018-02-09 20:37] gregtatum opened #772 "Graph JIT tier of JS functions over time"
This work is not currently planned, but captured here so we have a record of it:

See [Bug 1150299](https://bugzilla.mozilla.org/show_bug.cgi?id=1150299) for more details. Some of it is copied here.

![image](https://user-images.githubusercontent.com/1588648/36048977-bd60fe22-0da6-11e8-8a6f-431f18c354a1.png)

- - -
Shu wrote:

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlass

[2018-02-09 20:41] gregtatum opened #773 "Provide a secondary highlight for the entire tree under the selected item"
This is moved from [Bug 1008699](https://bugzilla.mozilla.org/show_bug.cgi?id=1008699).

---
Jonathan Watt wrote:

[2018-02-09 20:56] gregtatum opened #774 "Support a network monitor view"
If network events are profiled with markers, then we can build a view. Right now this will happen automatically with our Marker Chart, but this information should be specialized.

[2018-02-09 21:01] gregtatum opened #775 "Anonymize profile data for uploads"
Profiles can include sensitive user data, we should try and anonymize profiles to mitigate the amount of personal information included.

[2018-02-09 21:53] gregtatum opened #776 "Upgrade prettier"
And when we do, make sure and remove `eslint-ignore` declarations in `src/utils/window-console.js`

[2018-02-11 21:47] brisad commented on #767
I agree. It does preserve the transforms, which I think makes sense since then one can refine the flame graph. For instance, dropping samples from `__poll`.

[2018-02-12 15:30] #706 closed

[2018-02-12 16:52] #64 closed

[2018-02-13 15:52] #776 closed

[2018-02-13 18:10] ksashikumar commented on #677
I would like to work on this if someone can help me! 😀 @gregtatum @julienw

[2018-02-13 21:31] gregtatum commented on #677
This might be a hard bug to to pick as a first contribution, as it needs UI/UX work that hasn't been figured out yet. I think the share button needs a little dropdown [ArrowPanel](https://github.com/devtools-html/perf.html/blob/master/src/components/shared/ArrowPanel.js) that presents the option to either share the entire profile, or just the visible section of the profile.

And then as far as act

[2018-02-13 21:32] gregtatum commented on #677
Also we are in the [DevTools Slack](https://devtools-html-slack.herokuapp.com/) in the `#perf` channel if you want to chat.

[2018-02-14 03:38] ksashikumar commented on #677
@gregtatum Thanks! I'll start with some good first issues. But, I would love to work on a feature 😃 Maybe I'll come back to this one if it's not claimed.

[2018-02-14 10:52] julienw commented on #661
This isn't the most interesting bug, but this can bring us a nice size improvement. Any taker?

[2018-02-14 16:25] gregtatum commented on #661
And to be clear, we mean removing PropTypes like the following:

https://github.com/devtools-html/perf.html/blob/b2a022f6c7e1a3315c7282cfc0b0eff8d9e38a59/src/components/calltree/FilterNavigatorBar.js#L65-L70

We're covered by Flow typing now, so our PropTypes are duplicates.

[2018-02-14 17:07] carlosangon commented on #661
@gregtatum and @julienw I'd love to contribute!

[2018-02-14 17:29] julienw commented on #661
@carlosangon Perfect ! please do :) Anything you need to get started ?

[2018-02-14 17:34] carlosangon commented on #661
@julienw Great, nothing that I can think of yet, I'll slack you or @gregtatum if I run into anything.

[2018-02-14 21:52] gregtatum commented on #632
[Here is a profile and the stack chart](https://perf-html.io/public/e71ce9584da34298627fb66ac7f2f245ba5edbf5/stack-chart/?hiddenThreads=&range=80.0266_82.6302~80.9045_81.4111&thread=0&threadOrder=0-2-3-1&v=2)

Scroll in the chart, a little hint should appear in the corner.

<img width="1068" alt="image" src="https://user-images.githubusercontent.com/1588648/36230065-e09bf080-119e-11e8-9708-5c6da82

[2018-02-14 21:53] gregtatum commented on #661
Fixed with #787, thanks @carlosangon !

[2018-02-14 21:53] #661 closed

[2018-02-15 05:27] carlosangon commented on #508
@gregtatum and @julienw I'll be taking care of this next 🙂

[2018-02-15 08:57] #624 closed

[2018-02-15 14:59] gregtatum commented on #16
Here is an example profile where I really wanted FPS information:
https://perfht.ml/2ClU1wJ

[2018-02-15 15:20] gregtatum commented on #677
Sounds good! Just let me know. It's nice if it's a feature that is fairly well specified, otherwise there is some upfront work of figuring that out. Also feel free to hit us up on the devtools slack, (see [CONTRIBUTING.md](https://github.com/gregtatum/perf.html/blob/contributor-docs/CONTRIBUTING.md) for more information).

After fixing a smaller bug or two to get into our workflow, we can make sur

[2018-02-15 15:23] gregtatum commented on #508
Sweet, I'm removing the help wanted label.

[2018-02-15 20:11] brisad commented on #726
Cool. So how about we try the `selfTime` based gradients version then? I can add the `selfTime` and implementation (C++ or JS) in the tooltip also.

The flame graph is generated from the call node tree, where frames have been collapsed. So I cannot currently show any categories except for just C++ or JS, where I reuse the code for the implementation filter in the Call Tree tab.

Regarding color bl

[2018-02-16 02:58] carlosangon commented on #632
Currently working on this issue 🍓

[2018-02-16 10:21] julienw opened #794 "Reimplement Tooltips using Portals"
Our current implementation for tooltips predates React 16 and we're using quite a custom implementation with some complexities. We should reimplement this [using portals](https://reactjs.org/docs/portals.html).

Especially all the part about "contextTypes" can be removed as portals are fully integrated in the react tree, which is not the case in our current implementation.

[2018-02-16 10:22] julienw commented on #794
Here is the code for Tooltips: https://github.com/devtools-html/perf.html/blob/master/src/components/shared/Tooltip.js

[2018-02-16 20:14] gregtatum opened #798 "[Unify markers] Spec"
@julienw @mstange I'm going to make all kinds of recommendations here. Please leave feedback below, and I'll work on updating this post with the feedback and filing all needed Gecko and perf.html bugs.

-----

As of now markers have been added in an ad hoc manner, and are inconsistent in their usage. In perf.html it's hard to know exactly how to display a marker based on its data structure alone.

[2018-02-16 21:49] carlosangon commented on #632
What are your thoughts on this? @gregtatum @julienw

<img width="1792" alt="left-align-hint" src="https://user-images.githubusercontent.com/2627624/36330821-efc1b142-1330-11e8-8e4a-6f3720f6f856.png">

[2018-02-17 11:33] julienw commented on #632
This looks good to me but maybe Greg will want more margin.

[2018-02-17 15:40] carlosangon commented on #632
Thanks J, I can increased margin if desired by Greg 💻

- C

[2018-02-19 09:52] #508 closed

[2018-02-19 17:37] julienw opened #801 "When navigating the marker table with the keyboard, the selected row isn't scrolled into view"
STR:
1. Open the marker table.
2. Click on a row.
3. Keep the down arrow pressed.

Notice that the view is not scrolled when the selected row isn't visible.

(note this works in the call tree).

[2018-02-20 10:34] #768 closed

[2018-02-20 10:40] #632 closed

[2018-02-20 14:39] gregtatum commented on #801
I believe we are missing calling `scrollSelectionIntoView`. It should be pretty straightforward to call it in the marker table component.

https://github.com/devtools-html/perf.html/blob/b3d0ffa2b1cb23d1e703fcc56d33dae64808a2bd/src/components/shared/TreeView.js#L334-L342

[2018-02-20 15:15] gregtatum commented on #184
Here is a wish list for things the sidebar could have.

## Call tree and stack chart could have:

* Function name
* All call tree stats, like self time.
* Category information
* JS Optimizations
* % breakdown of JIT vs Baseline vs Interpreter
* % breakdown of category information of all leaf samples under that call node.
* Consider adding buttons for common actions like copying out various attribu

[2018-02-20 15:27] carlosangon commented on #801
@julienw and @gregtatum I'd like to give this a shot, if it is ok with you two.

[2018-02-20 15:53] julienw commented on #801
sure !

[2018-02-20 15:57] carlosangon commented on #801
👍

[2018-02-20 16:16] mstange commented on #801
IIRC the redux state is a missing a `scrollToSelectionGeneration`, which is how this is done for the call tree view.

[2018-02-20 16:19] carlosangon commented on #801
@mstange Thanks, I'll keep that in mind 👨🏽‍💻

[2018-02-20 16:33] gregtatum opened #804 "[Mobile Profiling] Spec"
We should be able to profile Firefox on mobile. This involves making sure that the new DevTools panel works correctly when profiling remotely. I didn't test it specifically for this use case. We should also have support documentation on how to do this, and actually talk to some engineers working on that side of things to make sure we are supporting them properly.

I'm not sure what symbolication l

[2018-02-20 16:40] gregtatum opened #805 "[End User Docs] Spec"
We should have really nice end user documentation.

### Document features
 - [ ] Call tree
 - [ ] Stack chart
 - [ ] Header timeline
 - [ ] Call tree transforms
 - [ ] Marker chart
 - [ ] Marker table
 - [ ] Profile sharing
 - [ ] Gecko profiler add-on
 - [ ] Gecko profiler
 - [ ] Mobile profiling

### Other types of documentation
 - [ ] Document workflows
 - [ ] Provide recommended reading links

[2018-02-20 16:42] gregtatum commented on #522
We should re-evaluate how we build saved panels after #784 lands, as we'll have a file viewer for free.

[2018-02-20 16:46] gregtatum opened #806 "[Locally Stored Profiles] Spec"
We should be able to provide a mechanism to store and view profiles saved locally to your browser. This helps unlock profile comparison and some other features as well.

#11 Has lots of nice observations on how to implement the storage layer of things.
#522 has some mock ups for UI
#784 has some new UI that may be helpful as a file viewer.

[2018-02-21 16:51] mstange opened #807 "Use symbolication v5 API for symbolication"
This API is being developed in [bug 1377479](https://bugzilla.mozilla.org/show_bug.cgi?id=1377479).

[2018-02-22 16:16] julienw commented on #682
This is another approach I took (implementing a specific Set for `CallNodePath` instead of Greg's approach of using a `Set<IndexIntoCallNodeTable>`: https://github.com/julienw/perf.html/tree/682-make-expanded-call-nodes-faster

I now believe Greg's approach is better so I'll use it as a basis.

[2018-02-22 16:39] #700 closed

[2018-02-26 12:41] julienw opened #813 "Getting different values in the call tree and in the stack chart"
From @nchevobbe on slack:

Indeed it looks like we miss samples and so in the call tree because we only sum up the samples we get a smaller value than in the stack chart were we tried to merge the samples together.

I'm not sure about what we should do here. @mstange @gregtatum ?

[2018-02-26 14:29] nchevobbe commented on #813
For the record:

<img width="1563" alt="image" src="https://user-images.githubusercontent.com/578107/36675561-a8dcfdb4-1b09-11e8-827a-48a5be57eebe.png">

[2018-02-26 17:25] gregtatum opened #815 "Solve the issue of diagnosing perf problems from a single hot function"
Here is an example perf problem that involves a single hot function. I had to fix it by instrument the function itself with timing information.

This is a JS only example, it would be nice to have a C++ example.

From PR #695
Before: https://perfht.ml/2qs05TQ
After: https://perfht.ml/2qrczLn

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FP-705)

[2018-02-26 21:11] gregtatum commented on #815
On the JS side of things, the Gecko profiler provides us with only the line information for the function itself, not for where we were in the function.

For instance with this html file:

[code]

For each frame entry in the thread, the Gecko profiler has a string `location` field. This location points to the following string:  `"doWork (file:///Users/gregorytatum/Desktop/html/slow-single-function.

[2018-02-26 21:12] gregtatum commented on #815
C++ code already has locations that come in as raw memory addresses. We could map those to individual assembly instructions. Ideally it would be nice to map these back to the original C++ source code as well. @mstange is this possible?

[2018-02-26 22:03] mstange commented on #815
With enough symbol information, for sure! You would go directly from address to file+line, not going from assembly instruction to file+line.

The .sym files already contain this information. The new symbolication API will not expose it, though. And we also don't have the information if we use nm to dump symbols for system libraries or local builds on Mac + Linux. These are all solvable problems.

[2018-02-26 22:58] gregtatum commented on #815
Oh, and I could also see JIT invalidations being an issue on a single hot function.

[2018-02-26 23:17] mstange commented on #815
I took a look at your profile https://perfht.ml/2qs05TQ and it looks like we actually do have information about which line of a JS function was executing **if that JS function was running in the interpreter**. More specifically: For frames whose `implementation` is `null` and whose `func` has `isJS == true`, `frame.line` will be the line that was executing at that time. For example, in `profile.th

[2018-02-27 08:16] julienw commented on #517
[From Marco on Bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1438912#c4), this can be a problem for accessibility as the controls would be different to what a tree normally is.

Possible solutions (?):
1. Not doing this patch at all. Maybe https://github.com/devtools-html/perf.html/issues/682 will make this fast enough.
2. stop exposing this interface as a tree, but add better titles and

[2018-02-27 08:17] MarcoZehe commented on #517
This will introduce potentially confusing situations for users of assistive technologies. When a blind user, for example, hits RightArrow on a collapsed node, the screen reader will announce that the node has now been expanded. If a focus change happened immediately as a result of pressing RightArrow, this state change announcement would be nuked by the information being spoken as a result of the

[2018-02-27 14:07] julienw opened #816 "The "Legal" bottom banner is not well positioned in the <Home> page"
STR:
1. Go to the home page.
2. Reduce the size of the page so that it's scrollable.
3. Scroll down.
=> The legal banner at the bottom doesn't stay at the bottom
![image](https://user-images.githubusercontent.com/454175/36732970-85fd64d4-1bcf-11e8-9289-fbcbdcf6558d.png)

Cc @bgrins

[2018-02-27 19:27] violasong commented on #517
Thanks Marco, I appreciate learning about the accessibility issues for this - I had some sense that it was risky UX, but didn't know about these additional problems. Julien's idea of only doing this behavior with a modifier key seems like a good idea.

[2018-02-27 21:51] gregtatum opened #817 "Reduce/split out the zip file dependency"
Per julien in #812

So the options are to either split out the code, or to replace with a lighter library.

To read: https://webpack.js.org/guides/code-splitting/

[2018-02-27 22:25] mstange commented on #815
I've filed https://bugzilla.mozilla.org/show_bug.cgi?id=1441689 about getting line information for all JS frames.

[2018-02-27 23:17] mstange commented on #815
I've attached patches that do this to [bug 785922](https://bugzilla.mozilla.org/show_bug.cgi?id=785922).

[2018-02-28 02:54] gregtatum opened #818 "Allow zip files to be loaded in from file, not just URL"
In PR #812 there is only the option to load them from URL, but we should support dragging and dropping zip files in.

[2018-02-28 08:06] julienw opened #819 "Migrate to CircleCI 2.0 before August 31, 2018"
We're currently using CircleCI 1.0. [CircleCI is sunsetting this version](https://circleci.com/blog/sunsetting-1-0/) so we need to migrate.

They offer [an automated migration for circle.yml](https://circleci.com/docs/2.0/config-translation/), [a more complete migration doc](https://circleci.com/docs/2.0/migrating-from-1-2/), [a config example for JS apps](https://github.com/CircleCI-Public/circle

[2018-02-28 19:21] gregtatum opened #820 "Inline code view proposal"
perf.html right now is pretty good at providing performance analysis in relation to how long each function took. However, once a slow function is found, it is important to be able to dive in right away and figure out what is going on. Currently, we have no way to do that in the tool. The only solution is to be able to navigate to different tools and perform additional analysis. These tools include

[2018-02-28 21:16] gregtatum commented on #818
Refactor and general the profile extraction from `retrieveProfileOrZipFromUrl`, especially the error handling.

[2018-03-01 16:41] julienw opened #821 "Upgrade to Webpack 4"
Webpack 4 is out, yay !

[2018-03-02 16:09] fqueze opened #823 "Offer to anonymize profiles when sharing them"
Currently clicking the "Share" button shows a scary warning saying that all urls of scripts will be shared. I think instead we should let the user decide if it's going to be shared or not with a checkbox, and probably send anonymous profiles by default.

To anonymize, I think we need to at least replace urls (eg all strings starting with 'http://' or 'https://') with opaque strings. We may also ne