[2018-11-07 19:03] mstange opened #1472 "Missing jank markers until zoomed in"
Steps to reproduce:
 1. Open this profile: https://perfht.ml/2JKQX2B
 2. Notice that there are no red jank boxes visible in the timeline.
 3. Select any range that ends before the 24 second mark in that profile.
 4. Zoom into that range. E.g. https://perfht.ml/2JMpqxs
 5. Now the jank markers appear.

Expected results:
The jank markers should be present regardless of range selection.

Actual resul

[2018-11-07 20:08] squelart commented on #1410
Florian beat me to the suggestion of putting it to the left of "Full Range". So 👍 from me.
As well as saving precious vertical space, "x out of y threads shown" would line up with the thread names column, and "Full Range" and breadcrumbs would line up with the timeline.

[2018-11-07 20:16] mstange commented on #1410
We also need to think about the case where we're showing a profile from a zip file: [example](https://perf-html.io/from-url/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FQ-qagmSrT42emDg5Zk8axw%2Fruns%2F0%2Fartifacts%2Fpublic%2Ftest_info%2Fprofile_tsvgx.zip/calltree/?file=profile_tsvgx%2Fhixie-006.xml_pagecycle_1%2Fcycle_0.profile&globalTrackOrder=0-1-2-3-4&hiddenGlobalTracks=0-1-2-4&hiddenLoca

[2018-11-07 20:45] squelart opened #1473 "Yarn test & start not working on Windows"
I installed Yarn on Windows 10 using their installer: https://yarnpkg.com/en/docs/install#windows-stable
I'm using [MozillaBuild](https://ftp.mozilla.org/pub/mozilla.org/mozilla/libraries/win32/MozillaBuildSetup-Latest.exe) (which is based on [mingw's msys](http://www.mingw.org/msys.shtml)) as unixy command line and tools, including node&npm.

`yarn --version` outputs:
[code]

`yarn start works fi

[2018-11-07 21:14] squelart commented on #1473
@julienw suggested trying Windows Subsystem for Linux; will have to look into that!

[2018-11-07 21:57] digitarald commented on #1410
Good consideration to keep in mind. I would probably not apply it as a constrain, since we can reconsider that interface element (especially in parallel to exploring profile comparison).

I prefer the solution of keeping it with `Full Range`, as both filter the timeline. I an attempt to scope this to an MVP; do we need the visual preview or does using the current thread dropdown seems to solve the

[2018-11-07 23:41] PaulBone opened #1474 "Marker chart tool tips copy-and-paste"
it'd be nice if the marker chart tooltips would allow copy and paste.  Sometimes one gets a profile they either can't or don't want to share but still want to show me what they can see within these tooltips.  Copy-and-paste would be a convenient feature here.

[2018-11-08 10:32] canaltinova commented on #1295
(Oops, sorry missed that.)
Yes, we don't necessarily need the docshell work to be able to show these markers in timeline. But it would help in these two cases:

We can now find out if the marker belongs to an iframe or not with the docshell work.(We are keeping a boolean flag for the pages called `isSubFrame`)

Also we can find out the URLs of the page with it.

[2018-11-08 12:14] leplatrem opened #1475 "Browser crash/freeze during symbolication when capturing profile"
On Linux 64, locally compiled browser changeset 6e842238034c

- Start the recording
- Run some operations
- Capture the profile
- Freeze or crash during symbolication

That's the stdout I got
https://pastebin.com/81ZqQRzX

And the list of missing symbolications:
https://irccloud.mozilla.com/pastebin/YBhpMKYE/symbols-missing

[2018-11-08 15:03] bzbarsky commented on #1474
s/char/chart/?

[2018-11-08 16:14] julienw commented on #1473
It's weird that `yarn` is trying to use `readlink`. My thought is that maybe `yarn` thinks it runs on Unix because of MozillaBuild.

So here's something else you can try:
1. install node and npm the "windows" way, possibly with using nvm-windows (https://github.com/coreybutler/nvm-windows), or chocolatey (see yarn instruction about chocolatey in https://yarnpkg.com/fr/docs/install#windows-stable)

[2018-11-08 16:44] julienw commented on #1474
I'm currently working on #546, then we can add some copy operations (we already have some, eg copy the payload, and here are some existing bugs: #770 #1251). Greg is also experimenting with #1442 which could help, but this is quite more long term.

Is there some specific data you'd like to copy/paste?

[2018-11-08 16:49] julienw commented on #1475
It's not very actionable unfortunately :/ Do you get the problem everytime? On a specific recording? Is it intermittent? Is it a debug build? Can you share your mozconfig?

[2018-11-08 16:54] leplatrem commented on #1475
My mozconfig:
[code]

I get the problem often, like 3 out of 4 times :(

1. Run with `./mach run --temp-profile`
2. Open perf-html.io to install the addon
3. Open the browser console
4. Start the recording
5. Execute this
[code]
6. Press the capture
7. The profile is capture, symbolization starts, ... and freezes very often
6.

[2018-11-08 16:57] julienw commented on #1475
I'm not so surprised that it's very slow in a debug build. What you can try is to stop the profiler right after capturing (even before it's loaded, gecko should keep the profile), because otherwise the profiler is still running while symbolicating... in a debug build... :)

[2018-11-08 16:58] julienw commented on #1475
So this means: hit ctrl + shift + 2, then as soon as the tab is opened, ctrl + shift + 1 to stop the profiler.

[2018-11-08 17:07] leplatrem commented on #1475
Couldn't that be the default behaviour? I must admit that I found it very confusing when I first used the addon...

[2018-11-08 17:08] julienw commented on #1475
This is for another issue ;) but I think the use case is that some people want to have the profiler always on. But yes it could be an option instead of the default behavior.

[2018-11-08 17:13] leplatrem commented on #1475
It seems that was the reason! It's now a lot faster :heart:

Thanks!

[2018-11-08 17:13] #1475 closed

[2018-11-08 17:17] julienw commented on #1472
This is where we return early:
https://github.com/devtools-html/perf.html/blob/1d92528b932f83f6227a36a6aedd63faf4056918/src/profile-logic/marker-data.js#L34-L37

These lines were added in #1260, I believe this is because Chrome profiles don't have any responsiveness data and we wanted to return early in that case. Unfortunately it seems this can happen in our own profiles too...

[2018-11-08 17:58] julienw commented on #1468
note that the sidebar shows `static struct euclid::transform3d::TypedTransform3D euclid::transform3d::TypedTransform3D::post_mul` :)

But I agree we may not need the return type.

[2018-11-08 18:02] julienw commented on #1436
I think 80% is a bit high here, we may show too many threads. Also there can be a problem with those threads that are badly categorized (see #1347).

[2018-11-08 20:06] canaltinova commented on #1295
@digitarald Since [Bug 1417976](https://bugzilla.mozilla.org/show_bug.cgi?id=1417976) landed, we have the data in the profile(Also #1476 will make it permanent in the processed profile).

[2018-11-08 21:23] mstange opened #1479 "We generate URLs that are too long for bit.ly in a profile with lots of threads"
[Example profile](https://perf-html.io/public/f6040fb789fbf772e0887327616349bb742ec901/marker-table/?globalTrackOrder=0-1-2-3-4-5-6-7-8-9&localTrackOrderByPid=27831-0-1-2-3-4-5-6-7-8-9-10-11-12-13-14-15-16-17-18-19-20-21-22-23-24-25-26-27-28-29-30-31-32-33-34-35-36-37-38-39-40-41-42-43-44-45-46-47-48-49-50-51-52-53-54-55-56-57-58-59-60-61-62-63-64-65-66-67-68-69-70-71-72-73-74-75-76-77-78-79-80-81

[2018-11-08 21:42] bgirard commented on #1298
We're using Gecko Profiler / perf.html more at Facebook and this issue would greatly improve the experience. I don't particularly like the internal FB source maps since (perf) bugs can be caused by our transforms and our production pretty printed JS is fairly usable so I would use this feature over source maps support.

[2018-11-09 03:56] PaulBone commented on #1474
Nothing specific. In this case a user was lookinga at a profile, and without specific GC knowledge won't know what might be interesting, and I don't know what could be interesting until I see it / see it in context with other things.

[2018-11-09 10:36] julienw opened #1480 "Reflows are very costly for some heavy profiles"
See [this profile](https://perf-html.io/public/f6040fb789fbf772e0887327616349bb742ec901/marker-table/?globalTrackOrder=0-1-2-3-4-5-6-7-8-9&localTrackOrderByPid=27831-0-1-2-3-4-5-6-7-8-9-10-11-12-13-14-15-16-17-18-19-20-21-22-23-24-25-26-27-28-29-30-31-32-33-34-35-36-37-38-39-40-41-42-43-44-45-46-47-48-49-50-51-52-53-54-55-56-57-58-59-60-61-62-63-64-65-66-67-68-69-70-71-72-73-74-75-76-77-78-79-80-8

[2018-11-09 10:37] julienw commented on #1479
Wow, this profile has so costly reflows (several seconds for me)!! Filed #1480 for this.

The length of this URL is 3195.

[2018-11-09 10:42] julienw commented on #1479
I sent an email to support@bitly.com about this.

[2018-11-09 14:41] julienw commented on #1474
got it, thanks for the feedback Boris. This is definitely something we want to prioritize in 2019.

[2018-11-09 15:17] gregtatum commented on #1410
I would appreciate a toolbar for the timeline, even if it does cost us some vertical space. There are additional needs for configuring the timeline beyond just this one:

 * Categories vs stack toggle
 * Filter by docshell
 * Show hidden threads

[2018-11-09 15:20] julienw commented on #470
From @bgrins, this is a good use case: https://bugzilla.mozilla.org/show_bug.cgi?id=1505944#c0

[2018-11-09 16:01] gregtatum commented on #1480
I think this would be solved by virtualizing the timeline.

[2018-11-09 22:06] #1472 closed

[2018-11-09 23:07] #1451 closed

[2018-11-11 22:04] brisad commented on #1019
I have a PR up for review, please checkout the deploy preview to see if the speed and keyboard mappings are alright everyone.
https://deploy-preview-1433--perf-html.netlify.com/public/6086f8478e068e9f9fa921ac5587b51c79d8b0d8/stack-chart/?globalTrackOrder=0-1-2-3-4&hiddenGlobalTracks=1-3&localTrackOrderByPid=7272-1-0~7391-0~&thread=5&v=3

[2018-11-12 08:09] monikamaheshwari commented on #1447
Hey wanted to work on this issue.

[2018-11-12 15:52] canaltinova opened #1484 "Convert all tests to a library that we agreed on and abandon others"
Currently we are using `Enzyme`, `react-testing-library` and `react-test-renderer` to test behaviors of react components.
Enzyme proved more useful for triggering events and manipulating the component. Also @julienw suggests that `react-testing-library` is built around the idea that we should test using the same things a user would use.
Having 3 libraries is not a manageable situation and we shoul

[2018-11-12 16:58] gregtatum opened #1485 "Fix invalid UrlStates when loaded from history, but no profile exists"
the `UrlState` represents the _desired_ state of the URL, but not necessarily the _actual_ valid state that the app can get into. We should have some kind of mechanism to validate the data that is in the UrlState against the rest of the store. This is particularly an issue when you hit the back button to profiles that were loaded via a file or other transitory methods.

Steps to reproduce:
 * Load

[2018-11-12 17:02] julienw commented on #1447
Hey @monikamaheshwari, thanks but it's not available yet because #1404 isn't merged yet!

[2018-11-12 17:14] julienw commented on #1019
I would make it a bit faster, but otherwise this looks good :)

[2018-11-12 18:08] julienw commented on #1485
The specific STR works for me: it seems that Firefox is good enough to remember the state of the JavaScript environment when navigating.

[2018-11-12 18:09] monikamaheshwari commented on #1447
okay

[2018-11-12 18:12] monikamaheshwari commented on #684
Hey wanted to work on this issue.

[2018-11-13 11:39] canaltinova opened #1486 "Provide a UI to find out the screenshot after a specific marker"
Currently we have the screenshots in the timeline that we can see the status of the website over time.
But @onkeltom has a problem that we don't provide a solution right now. He wants to see the screenshot after a specific marker and it's currently impossible to identify in the timeline. There are some options that we can surface that information.

One option is that we can add a "Show the screens

[2018-11-13 12:01] amelarbab commented on #770
@julienw  can i access the cause property directly by use `marker.data.cause`?, when i tried this i got this error `Property cause is missing in null`

[2018-11-13 12:01] onkeltom commented on #1486
The performance and data science teams are currently looking into ways to validate new metrics that we implement and plan to land. Especially for metrics in the context of capturing user-perceived events, one approach to be tested is to compare the state on screen (i.e. the closest screenshots captured after the event got fired) and see which implementation is delivering the closest match.

It wou

[2018-11-13 14:44] julienw commented on #1127
I'll reopen this issue to track our work about this change.

[2018-11-13 14:48] julienw commented on #1127
Netlify doesn't support handling the DNS zone for `profiler.firefox.com`, but I think it works fine as an alias. In that case we can either keep `perf-html.io` for our branch and PR deployments, or just use `perf-html.netlify.com` for this purpose. Anyway we'll have to keep the `perf-html.io` domain to redirect to `profiler.firefox.com` (this can be handled entirely in netlify).

[2018-11-13 14:53] julienw commented on #1127
https://bugzilla.mozilla.org/show_bug.cgi?id=1506863 filed for the new subdomain entry. I added the entry in netlify too, and will continue the configuration once the mozilla bug is fixed.

[2018-11-13 16:16] digitarald commented on #1486
@onkeltom what would solve this would be a visual indicator on where the currently selected marker is in the timeline, maybe in the time axis over the timeline?

I wonder if the currently active screenshot for that time is interesting for a marker or if the next screenshot after the marker is actually the corresponding paint.

We have a bug open to show navigation markers; but it will never cover

[2018-11-13 16:29] julienw commented on #1486
There are several solutions that could work already now:
1. double clicking on a marker in the _marker chart_ will select the range for this marker.
2. in the _marker table_, with the context menu you can select the start and end of a range from a marker. (with #1277 we'll be able to select a range from a marker, like the double click above)

[2018-11-13 16:35] #915 closed

[2018-11-13 16:48] julienw commented on #770
@amelarbab As you see in https://github.com/devtools-html/perf.html/issues/770#issuecomment-428511523, in the last snippet, the cause is in `marker.cause` directly, and it's optional so you need to use a `if` to make sure it's present.

[2018-11-13 16:55] julienw commented on #684
Hey @monikamaheshwari, thanks for your proposal. Unfortunately this issue isn't quite ready to be worked on, unless you have ideas about the keys we can use to move around the application. But [you can find a list of available issues with this link](https://github.com/devtools-html/perf.html/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22+-label%3Aassigned+label%3A%22good+fi

[2018-11-13 18:32] LavellTheDev commented on #1277
Hey,

Sorry I haven't exactly got started on it yet. I was finishing up another
project I was working on. At least that was my plans finish the project and
turn my attention to this. I will have this done in another day or two.
Then I will get started on perf.

If that is okay with you that is?

Please let me know.

On Tue, Nov 13, 2018, 11:28 AM Julien Wajsberg <notifications@github.com
wrote:

[2018-11-13 19:04] gregtatum opened #1487 "Make the JS tracer selectors more fine-grained to preserve memoization"
In #1422 the selector `getExpensiveJsTracerTiming` memoization includes the `showSummary` value. This means that if we toggle between summary, and the full view that the expensive timing gets recomputed. We should separate this out into two different selectors to preserve memoization.

[2018-11-13 19:11] gregtatum opened #1488 "Decide what to do with JS tracer chart double clicks"
In #1422, the double clicks are left stubbed out, but not implemented. Typically we zoom the range selection there, but we can have very small range selections here. It's probably best to at least center very small ones.

[2018-11-13 19:14] gregtatum opened #1489 "Implement tooltips for js tracer, and add coverage for the hitTest method"
The work in #1422 stubs out the tooltip support, but does not implement it. In addition, the hovering and hit testing needs coverage with this work.

[2018-11-13 19:38] onkeltom commented on #1486
@julienw I tried the first approach as an intuitive approach to this already, but it constantly causes an endless hang on my Firefox. The hang starts when clicking on the magnifier glass.

[2018-11-13 20:22] gregtatum opened #1490 "Annotate label frames better, so users know that they are different from native frames"
It's confusing when encountering a label frame, as it's easy to mistake it for a native function. We should go through the entire UI and make sure those are clearly labeled, at least in a tooltip somewhere.

I believe this issue crosses the line of "do not lie to users".

[2018-11-13 20:30] squelart commented on #1490
As a newbie I was indeed confused when first seeing things like "nsAppShell::ProcessNextNativeEvent::Wait" and I couldn't find that Wait() function!
Ideally labels shouldn't look like qualified function names, but I'm guessing it's too late to change all these(?)
Maybe they could be shown differently, e.g.: _italic_, in "quotes", some icon, etc.

[2018-11-13 20:33] gregtatum commented on #1490
I'm in favor of changing them all to be human readable.

[2018-11-13 20:58] gregtatum commented on #1486
@onkeltom do you have a steps to reproduce for the hangs? We shouldn't be hanging.

It's also really useful to share the profile that's causing the hangs.

[2018-11-13 21:00] mstange commented on #1490
I agree. We can change all of this any time we want, it's not too late.

[2018-11-13 21:08] gregtatum commented on #1487
Fixed it locally already.

[2018-11-13 21:08] #1487 closed

[2018-11-13 21:12] onkeltom commented on #1486
@gregtatum Here are the STRs:
1) Capture a profile
2) click on the marker chart
3) filter for "non-blank" to get the result for the non-blank paint marker
4) double-click on the dot
5) click on the magnifier icon in the threads

This will select a 0ms wide range as the duration of the marker is 0.000ms. For me, this constantly turns into first a warning and then a hang.

I tried on this profile: h

[2018-11-13 21:15] onkeltom commented on #1486
Just found out that if I click "stop it" on the slow down notification in Firefox and reload the page, I do get the correct view.

[2018-11-14 06:32] monikamaheshwari commented on #1466
Hey wanted to work on this issue.

[2018-11-14 09:45] julienw commented on #1466
Hey @monikamaheshwari, sure, please do! :)

[2018-11-14 14:01] julienw commented on #1127
The aforementioned bug has been fixed. Netlify generated a new SSL certificate after some minutes/hours, so it seems to work perfectly now. [Here is an example](https://profiler.firefox.com/public/280e10708c0660695ef5af145c53179d29d9796c/calltree/).

Left over tasks:
* [ ] permalink uses profiler.firefox.com instead of perf-html.io
* [ ] firefox devtools code uses profiler.firefox.com instead of p

[2018-11-14 14:33] gregtatum commented on #1127
+1 on "Firefox Profiler" rather than "Gecko Profiler", at least for the front end component.

We also need to rename any UI, like the loading screen that says "perf.html"

[2018-11-14 14:35] julienw opened #1492 "Zooming in on markers with a 0ms duration hangs the profile"
From @onkeltom in #1486:
1. open profile https://perfht.ml/2z9P0IS
2.    double-click on the dot
3.    click on the magnifier icon in the threads

This will select a 0ms wide range as the duration of the marker is 0.000ms. For me, this turns into first a warning and then a hang.

[2018-11-14 14:38] julienw commented on #1490
I don't mind changing the labels themselves, but I would really like having a different style too :)

[2018-11-14 14:38] julienw commented on #1486
Ah thanks, the problem appears for markers that have a 0 duration and looks like we didn't really handle this case. Filed https://github.com/devtools-html/perf.html/issues/1492

Once this is fixed, we can see whether this works good enough for you :)

[2018-11-14 14:52] julienw commented on #1277
@LavellTheDev this is good from my side as long as you really can work on it soon.
If you can't work on it when you thought you could, please report and we can put back the bug to its "unassigned" state. Then if it's not taken when you have time, you can come back and take it, or otherwise move to another issue. This is more efficient that way.

As a last note: as a contributor, your only obligati

[2018-11-14 14:58] #1397 closed

[2018-11-14 15:41] julienw opened #1493 "Timestamps from network markers aren't adjusted when processing the gecko profile format"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1506075#c5 for the whole story.

[2018-11-14 16:21] gregtatum commented on #1493
I believe we need to take this into account here:
https://github.com/devtools-html/perf.html/blob/46cea1552f7bfa3b092935a5659312dec90fcbe3/src/profile-logic/process-profile.js#L851-L863

[2018-11-15 03:17] amelarbab commented on #770
i did what you said in the snippet but i didn't get any value after copy, i tried to push my patch and i got this error
![screenshot from 2018-11-14 21-10-45](https://user-images.githubusercontent.com/34205803/48527793-0c5d1c80-e895-11e8-9ba0-a2b210126e46.png)

[2018-11-15 09:46] leplatrem opened #1495 "If profiler is stopped, applying settings changes will start it"
- profiler is stopped
- change settings, and apply/restart
- profiler is started

Would it possible to leave it stopped after applying changes? Or change the UI if no «apply» is required if the profiler is stopped.

[2018-11-15 09:53] julienw commented on #1495
Thanks Mathieu. I believe this was made on purpose, @mstange would know better.

[2018-11-15 09:55] leplatrem opened #1496 "Stop the profiler when capturing"
As explained in #1475, leaving the profiler running can interfere with the capture/symbolication.

Would it be relevant to stop it automatically by default? Have an option to keep it running after capture?

[2018-11-15 09:56] julienw commented on #770
That's because you're getting marker from `markers[selectedMarker].data`; `data` doesn't have the information, the information is directly in the marker.

[2018-11-15 09:57] julienw commented on #770
Also note you can always push your patch even with errors, by using `git push --no-verify`, so that you can share the code and we can look at it.

[2018-11-15 12:28] zoepage opened #1497 "Add newly introduced colors to tooltip"
In https://github.com/devtools-html/perf.html/pull/1456 we introduce new MIME-type colors for the network requests.
<img src="https://user-images.githubusercontent.com/1588648/48502769-f5231e00-e805-11e8-986f-12094bb411e2.png" />

As they are not obvious, it would be good to add a note or description to the tooltip.

Legend:
Blue - HTML
Green - IMG
Yellow - JS
Purple - CSS
Gray - other

[2018-11-15 13:19] amelarbab commented on #770
Okay thank you :)

[2018-11-15 14:08] mstange commented on #1495
If I recall correctly, pressing Apply is not required if the profiler is stopped. And I agree the UI should be changed in that case. But somebody needs to inspect the code again to make sure that settings are actually persisted instantly.

[2018-11-15 14:09] mstange commented on #1496
This is something we've been wanting to do for a long time. #45

[2018-11-15 19:12] mstange opened #1498 "Retain counters in the processed profile"
The Gecko profile format now contains a top level `counters` property and a `memory` property. The information from these properties is currently dropped during profile processing.

We should adopt the information from these properties into the processed profile. As part of this:

 1. Any timestamps from counters in subprocesses need to be translated into the root process's time space.
 2. The sch

[2018-11-16 08:46] zoepage opened #1500 "Add "copy url" per double click / click in network panel"
Follow up for https://github.com/devtools-html/perf.html/pull/1456#discussion_r233557510

[2018-11-16 09:41] zoepage opened #1501 "Re-consider to add loadID of network marker to url in network panel"
Follow up on https://github.com/devtools-html/perf.html/pull/1456#issuecomment-439025193

[2018-11-16 16:52] mstange opened #1502 "Truncate displayed URL strings to some maximum length"
Sometimes we display extremely long data: URLs and they slow down layout of the page. We can avoid this by truncating the strings that we put in the DOM.

From [bug 1506437](https://bugzilla.mozilla.org/show_bug.cgi?id=1506437):

[2018-11-16 16:55] gregtatum opened #1503 "Add an error boundary on the React components for JS Tracer information"
There are many potential sources for failure in the JS tracing timing computation. There are errors thrown if the algorithm is wrong, but also if the profile information is incorrect. It would probably be nice to make this generic enough to be a boundary for any panel that throws an error.

[2018-11-16 21:25] gregtatum opened #1504 "Include line and column information in the JS tracer view"
_Originally posted by dpalmeiro in https://github.com/_render_node/MDExOlB1bGxSZXF1ZXN0MjI1OTAwMDYz/pull_requests/unread_timeline_

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FP-90)

[2018-11-16 21:30] gregtatum opened #1505 "Come up with a better "Scripts" rendering strategy for the JS Tracer view"
_Originally posted by @dpalmeiro in https://github.com/devtools-html/perf.html/pull/1422_

[2018-11-17 18:21] buttercookie42 opened #1506 "Java stack traces captured by Fennec sometimes don't display"
In addition to the things captured by the regular Gecko profiler, Fennec on Android also captures stack traces for Java threads. Looking at e.g. the profiles attached to [bug 1506471](https://bugzilla.mozilla.org/show_bug.cgi?id=1506471), in [this profile](https://bugzilla.mozilla.org/attachment.cgi?id=9025112) the profile for the "Java Main Thread" is displayed just fine, whereas in [the other pr

[2018-11-19 09:41] julienw commented on #1506
@buttercookie42 thanks for the report !

Note that you need the "Java" feature enabled in the recording settings:
![capture d ecran de 2018-11-19 10-40-27](https://user-images.githubusercontent.com/454175/48698506-8d931700-ebe7-11e8-9712-e5032df77e3d.png)
Are you sure it was enabled in the case of the second profile?

Maybe we should enable it by default, given it's a noop outside of Android...

[2018-11-19 09:49] julienw commented on #1503
I'd be happy enough with a boundary on <Root> to start with :-)

[2018-11-19 10:08] julienw commented on #1502
Why does that slow down the layout of the page in the first place? Everything is nowrap, and we have a fixed width, this shouldn't be too hard to layout, right?

[2018-11-19 10:11] julienw commented on #1500
Maybe the component [CanSelectContent](https://github.com/devtools-html/perf.html/blob/master/src/components/sidebar/CanSelectContent.js) could be reused here.

[2018-11-19 16:42] mstange commented on #1506
The thread is present in that profile, it's just hidden by default, because it runs into the "no paint and too much idleness" heuristic. So this is really just another instance of confusing UI, #1410.

Here's the profile with that thread unhidden (and other non-main threads hidden): https://perfht.ml/2Q4wbAw

Interestingly, we have samples from the Java thread even at the end where the profiler th

[2018-11-19 17:52] gregtatum commented on #1331
I built a [UI mock-up deploy preview](https://deploy-preview-1509--perf-html.netlify.com/public/404ff08ee5f412f355264601f12e5feff0ebaee6/calltree/?globalTrackOrder=6-0-1-2-3-4-5&hiddenGlobalTracks=1-2-3-4&localTrackOrderByPid=15249-1-0~15254-0~&range=8.4053_16.7712&thread=6&v=3)

Click on "Share without URLs"

<img width="546" alt="image" src="https://user-images.githubusercontent.com/1588648/4872

[2018-11-19 18:33] buttercookie42 commented on #1506
I was going to mention that, i.e. those profiles were not captured via the addon/WebIDE, but by passing the corresponding environment variables on the command line and I am seeing the Java thread in both profiles when looking at the raw JSON - but you spotted that yourself.

Not in the current Firefox for Android, though.

[2018-11-19 19:15] #929 closed

[2018-11-19 20:44] mstange commented on #1506
Oh. So is the Java main thread the actual main thread, and the Gecko main thread just a different thread in that same process?

[2018-11-19 20:50] buttercookie42 commented on #1506
Yes, the "Java Main thread" is the UI thread for the native Android app that is hosting Gecko.
Actually thinking some more about it, even with GeckoView and e10s, the Android app will continue to act as the parent process for Gecko [1] if I'm not mistaken, so while we would have content processes as well in that case, the parent process Gecko thread would still share the process with the Android U

[2018-11-19 21:39] gregtatum commented on #1479
For what it's worth, removing the track ordering feature would most likely fix this issue.

[2018-11-19 21:43] mstange commented on #1479
Hmm, good point.

[2018-11-19 21:48] gregtatum opened #1511 "Filter data by page / docshell"
Here is a [deploy preview](https://deploy-preview-1510--perf-html.netlify.com/public/d9f19838ff07d9baff2aba03f1ca4d6830a05703/marker-chart/?globalTrackOrder=6-1-2-0-3-4-5&hiddenGlobalTracks=1-2&hiddenLocalTracksByPid=60074-1-2-3-4-5-6&localTrackOrderByPid=60074-7-0-1-2-3-4-5-6~73137-0~63732-0~&markerSearch=&thread=0&v=3) of adding a page filter.

<img width="447" alt="image" src="https://user-imag

[2018-11-19 21:48] snorp commented on #1506
Everything above is correct -- Gecko's main (parent) process is shared with the app, and the Java UI "main" thread is separate from Gecko's main thread. We do want to move Gecko entirely out of the app process, though, but that work hasn't started yet. We wanted to get going on it this quarter but it hasn't happened.

[2018-11-19 22:13] mstange commented on #1506
Cool, thanks. So I think for now, having the Java main thread show up as a sub-thread of the parent process seems good enough, even if it leads to strange interactions with the shutdown time measurement for shutdown profiles.

[2018-11-19 22:33] gregtatum commented on #1500
I think we should support keyboard navigation, with a selected Network row, then we can use the `onCopy` keyboard shortcut handler, like we have done in other panels.

[2018-11-20 16:56] staktrace opened #1515 "Performance panel gets stuck in bad state after reinstalling android app"
I'm getting performance profiles of WebRender on GeckoView using the instructions at https://perf-html.io/docs/#/./guide-remote-profiling - I start WebIDE with the `devtools.performance.new-panel-enabled` pref set to true (Linux nightly desktop), and run the GeckoView Example app with `gfx.webrender.all=true` and `devtools.remote.usb.enabled=true`. I'm able to start/stop the profiler on the app, a

[2018-11-20 16:59] julienw commented on #1515
WebIDE is an old piece of history and it's being rewritten in about:debugging (although about:debugging doesn't have any remote profiling functionality yet, that's why we need to cope with WebIDE for now).

looping in @juliandescottes to know if the mentioned use case is in the plan for about:debugging.

[2018-11-20 21:30] digitarald commented on #532
Just ran into this again. Automatic refresh would be amazing and probably solves 99% of the issues caused by outdated SWs!

[2018-11-20 21:41] #1019 closed

[2018-11-20 22:08] mstange opened #1516 "Proposal for a new geckoProfiler content API for symbolication"
TL;DR: I want to add a new method `requestSymbols` that lets perf.html obtain symbols from the add-on or the devtools perf panel **only for a list of addresses**.

## Motivation

perf.html currently obtains symbol information from two sources:

 1. It [requests symbols for a list of addresses](https://github.com/devtools-html/perf.html/blob/6341d3df7e20c648e505bb674de4b76e490a2c1d/src/profile-logi

[2018-11-21 10:39] julienw commented on #1516
:+1: for the new API.
About the API to choose, I don't have a strong preference. If you expect the result to be quick I don't mind having one promise only. If we expect one result to be slower than others (eg: results for libxul), then I'd rather have this array of promises. Especially if we can't really run these requests in parallel.

[2018-11-21 10:42] julienw commented on #532
I'd like to take a shot at it quickly.

[2018-11-21 11:13] fqueze commented on #302
Is this the same issue as #532?

[2018-11-21 13:14] julienw commented on #302
Yeah probably

[2018-11-21 13:14] #302 closed

[2018-11-21 13:21] julienw commented on #1502
I see, thanks.

If I understand correctly, the problem is in the "libName" data. I believe we could slice it in https://github.com/devtools-html/perf.html/blob/df4694d548d67cfc5b966b6ad00204b74867f775/src/profile-logic/call-tree.js#L232.

What could be a good value? 1000 characters?

[2018-11-21 16:17] mstange commented on #1516
We can run these requests in parallel, and if only one promise is returned, then I'd split the requests into one per library on the perf.html side.

[2018-11-22 13:44] #1339 closed

[2018-11-22 17:57] #883 closed

[2018-11-26 14:21] julienw commented on #1458
One problem is this line:
[code]
This promise is never resolved nor rejected if the add-on doesn't connect to the page. This happens if:
1. There's no add-on obviously.
2. The user doesn't capture a profile. (The connection only happens for the capturing process).

It's obvious how to change the code in `getSymbolStore` to not use `geckoProfiler` if it's not present, but it isn't obvious how to kn

[2018-11-26 17:15] julienw commented on #1001
Hey @arcturusInk, I removed the assigned label because I didn't get any update from you. However I'm still interested to see your current patch even if it's not working properly yet, because it can be a good start for another person. Thanks!

[2018-11-26 17:18] julienw commented on #1251
In #1380 we did a first part. Now we need to add another option in case the marker has a specific type, eg DOMEvent or UserTiming, so that we can copy the "subname" (eg: `click` for `DOMEvent`).

[2018-11-26 17:19] julienw commented on #1277
I removed the `assigned` label for now, but feel free to come and fix this in the future if this still interests you and you really want to work on this. Thanks!

[2018-11-26 20:13] gregtatum opened #1525 "Clicking on the network track should take you to the correct row in the network chart"
As a user looking at a profile, I would like to click in the network track, and jump down to the network activity happening at that time. There is a lot network activity overlapping, but it would be handy to center the network panel at the event that started at the mouse click.

Watch [around ~3:15 on this video](https://onlinexperiences.com/scripts/Server.nxp?LASCmd=AI:1;F:SF!42000&EventKey=30991

[2018-11-26 20:14] gregtatum opened #1526 "The network panel should be navigable by keyboard with a selected network marker"
This should be URL-serialized, and follow similar practices to the way the Call Tree has a selected call node.

[2018-11-26 20:52] mstange commented on #1516
This might be a nice way to avoid adding more methods as we add more capabilities on the server side. For example, I think at some point we'll want to be able to request machine code and source code from the server. And for local builds, we want to get the same information from the add-on.

[2018-11-26 20:58] gregtatum commented on #1516
Getting around the memory restrictions sounds great.

This sounds like the preferred solution to me.

[2018-11-27 22:21] brisad opened #1529 "Allow focus to move from the search field when there's text in it"
STR:
- Type some text in the "Filter stacks" or "Filter markers" input
- Press tab

Instead of moving the focus to the contents inside pane below, the text in the search box is selected. This hinders keyboard navigation in the call tree and the charts.

[2018-11-27 22:45] digitarald opened #1531 "Codepen frame index.html fails to load with network error"
STR:
- Open https://codepen.io/nachtigall/pen/odrdYN
- Navigate to index file on `s.codepen.io`

AR:
File fails loading with error shown in file:

[code]

[2018-11-28 23:25] mstange opened #1532 "Hovering the screenshot track can be slow"
STR:

 1. Load http://bit.ly/2DQ4wwy
 3. Move the mouse back and forth inside the screenshot track.

Expected results:
The page should update at 60fps and the screenshot should follow your cursor closely.

Actual results:
The frame rate is more like 20fps, and most of it is due to too much JS execution in perf.html.

Profile: http://bit.ly/2DNJajw

[2018-11-29 06:40] mstange opened #1533 "Update to gecko-profiler-demangle 0.2.0"
I just published a new version that allows demangling msvc-mangled names (names that start with a `?`). We'll want to use this once [bug 1509549](https://bugzilla.mozilla.org/show_bug.cgi?id=1509549) lands, because on Windows, that'll cause Firefox to pass symbol tables to perf.html whose names haven't been demangled yet.

[2018-12-03 18:36] #1533 closed

[2018-12-03 19:31] #532 closed

[2018-12-04 19:14] #1529 closed

[2018-12-05 20:58] gregtatum opened #1540 "The ProfileViewerTopBar in Chrome is not rendered correctly"
<img width="1028" alt="image" src="https://user-images.githubusercontent.com/1588648/49543383-18416a80-f8a6-11e8-9d63-bfee283da114.png">

[2018-12-05 21:23] gregtatum opened #1541 "Create a disk IO track or display tracing markers for a thread"

[2018-12-05 22:19] gregtatum commented on #1541
We have the "mainthreadio" feature which will track mainthread io. A good first step would be to visualize it in a track. Here is a profile with io in it.

https://perfht.ml/2EfzZJC

Run the following in console to see the io marker.

[code]

Here is one payload:

[code]

We should add a track per process with this information, similar to the network track.

[2018-12-06 16:54] gregtatum opened #1542 "Provide a default profile in docs for getting started where something interesting happens"

[2018-12-06 18:51] past opened #1543 "Clicking on the meatball button should toggle the state of the dialog"
When the meta information dialog is open, clicking on the meatball button again should hide the dialog. This is the most common interaction behavior for such a button, but at the very least it shouldn't re-animate the dialog.

[2018-12-06 19:42] digitarald opened #1544 "Snap range selection to navigation markers"
Follow up for #1295.

User story: When selecting a range, I want it to snap to navigation markers, so that I can select specific parts of page loads.

[2018-12-07 14:29] mstange opened #1545 "Odd black rectangle in marker bar in this profile"
This profile is drawing a strange black rectangle: https://perfht.ml/2EiJMPg

<img width="1440" alt="screen shot 2018-12-07 at 9 28 43 am" src="https://user-images.githubusercontent.com/961291/49653325-96b31f00-fa02-11e8-9c77-02b229a260e0.png">

[2018-12-10 19:59] gregtatum commented on #1543
For what it's worth, I took a stab at this a long while back for the `ArrowPanel` component, and it was harder than it looked, so this is probably not a good first bug. I can't remember the issue, but I had trouble syncing up the state management of when it was open.

[2018-12-11 11:01] julienw commented on #1543
I wonder why it should go to Redux. I feel like this is some local state that could stay entirely in  [ButtonWithPanel](https://github.com/devtools-html/perf.html/blob/master/src/components/shared/ButtonWithPanel.js).

On another note, we also discussed with somebody (maybe Markus?) that the "..." icon is weird and we should rather make the whole text "Firefox XXX" the trigger button.

[2018-12-11 16:55] julienw commented on #1545
A UserTiming marker has a itemWidth of `-502.56498911496413` which is completely wrong. Then we use this value to compute the rounded corners, and this ends up completely wrong as well.

This marker's data is:
[code]
which doesn't look especially wrong.

But the computed duration is `dur: -3917.9999999990687`.

[2018-12-11 17:00] julienw commented on #1545
I got the wrong data above. Here is the data for the faulty marker:
[code]

`endTime` is indeed less than `startTime`. Some questions:
1. what should be our behaviorin that case?
2. how can this happen at all?

[2018-12-11 17:08] julienw commented on #1540
FWIW it works for me :) it would be nice to have a link to a specific profile.

(but maybe you fixed it in the other PR?)

[2018-12-11 23:40] gregtatum opened #1550 "Consider hovering strategy for JS Tracer inverted view (and regular view)"
Follow-up to #1422.

Currently a hovered item is a reference into the JS tracer data structure. However, the inverted view potentially breaks up a single event into many smaller chunks. This makes it really awkward to hover tiny boxes, and the entire row lights up, even if it only makes up a small percentage of the time. The current strategy mitigates this by only darkening a color of the highligh

[2018-12-12 13:50] gregtatum opened #1553 "Add an importer for profiles from the macOS tool 'sample'"
Markus wrote PR #1065 that prototyped this out. See that PR for more information.

[2018-12-13 10:05] edieblu opened #1554 "Consider using the package react-tabs to implement our tabs"
It's a simple package that aligns nicely with the accessibility roles tablist, tab, tabpanel.
Code available [here](https://github.com/reactjs/react-tabs).
[Examples](http://reactcommunity.org/react-tabs/) - the first example in particular.

 @julienw @gregtatum @fqueze  @mstange @canaltinova @squelart

[2018-12-13 10:15] julienw commented on #1554
The package has very few dependencies, and we already have those (prop-types and classnames), so I'm :+1:

[2018-12-13 14:31] mstange commented on #1554
Looks good to me too. One difference I noticed was that this package selects tabs on mouseup, whereas our current tabs are selected on mousedown. But I can live with that.

[2018-12-13 18:20] julienw commented on #1554
@mstange we're changing this to onClick in https://github.com/devtools-html/perf.html/pull/1551 anyway ;) (because this makes it a lot easier to work with the keyboard -- it just works for enter)

[2018-12-13 18:34] julienw commented on #1554
I found https://www.deque.com/blog/a11y-support-series-part-1-aria-tab-panel-accessibility/ and they actually disagree with the idea of using the arrows to select tabs. I find their article convincing. Also, I value these folks a lot about accessibility, they're very much skilled and knowledgeable, so I'd lean towards their advice here.

[2018-12-13 19:19] #1416 closed

[2018-12-17 13:21] TitanNano commented on #1371
ctrl + mouse wheel would enable pinch-to-zoom on macOS, which would be great.

[2018-12-17 15:13] gregtatum commented on #798
I spent a bit of time simplifying the marker schema. I think some of the more complicated bits should be handled on the front-end only, in order to have a simpler schema for adding markers.

[2018-12-17 15:23] gregtatum commented on #1540
https://perf-html.io/public/62a6d6feb3d1d4fe6d0dd48d9ec4e1fb62a73998/calltree/?globalTrackOrder=6-0-1-2-3-4-5&hiddenGlobalTracks=2-3-4-5&localTrackOrderByPid=77399-1-0~79318-0~&thread=2&v=3

[2018-12-17 22:21] julienw commented on #1540
I originally missed the "in Chrome" in the title ;) well well well

[2018-12-17 22:36] past commented on #1127
Sounds like we should remove the discussion flag and use the issue to track followup work or just open new followup issues.

[2018-12-17 23:54] julienw commented on #1127
@past right, I'll outline the remaining tasks in a comment tomorrow and file bugs.

[2018-12-18 14:28] julienw opened #1569 "Markers with an unknown end are incorrectly drawn in the marker chart"
STR:
1. open https://perf-html.io/public/99f052af943274869a7bc37d742e57551f51abf3/marker-chart/?globalTrackOrder=0-1-2-3-4-5-6-7-8-9-10&hiddenGlobalTracks=1-2-3-4-5-6-7-8-9&localTrackOrderByPid=396-1-0~16271-0~&markerSearch=&thread=11&v=3
=> notice the "click" event is properly displayed in the timeline, but not in the marker chart.

This "click" event is an unfinished event. This is very easy to

[2018-12-18 14:30] #1255 closed

[2018-12-18 14:45] julienw opened #1570 "When the service worker notice appears, we can't click on the buttons on the left or the right of the notice until it's dismissed"
This happens because there's a transparent div at the top of the screen taking the whole width. We should make it work with `pointer-events: none`. Note we need to take care as well that the notice itself is still clickable, maybe it needs a `pointer-events: auto`.

[2018-12-18 17:06] julienw commented on #1127
Tasks:
* [x] create profiler.firefox.com and redirect to netlify's DNS
* [x] configure netlify to handle profiler.firefox.com
* [ ] configure bit.ly to make `profiler.firefox.com` URLs use the `perfht.ml` domain
* [ ] make perf.html generate shortlinks pointing to `profiler.firefox.com`
* [ ] make the addon use `profiler.firefox.com`
* [ ] make the devtools panel use `profiler.firefox.com`
* [ ] a

[2018-12-18 19:11] digitarald commented on #1127
@julienw looks like a great MVP list! Thank you for putting this together. I reached out to the devops team to find somebody to help with `perfht.ml`

[2018-12-18 19:23] digitarald opened #1571 "[Discussion] Move URL shortening to a new domain that reflects Firefox Profiler name"
After #1127 is done, we should migrate from `perfht.ml` to something that:

1. still has a unique short domain that tells returning users that the URLs are recorded profiles
2. is closer to the _Firefox Profiler_ as a brand
3. does not need to be SEO friendly, but can be whimsical

Ideas are endless, I am just kicking it off with

1️⃣ `fxprofil.es`
2️⃣ `prflr.pub`
3️⃣ `prflr.tools`
4️⃣ `prf.la`

A

[2018-12-19 10:58] julienw commented on #1571
I don't have an opinion; I really like `perfht.ml` so it's difficult to envisage something else :)

[2018-12-19 12:19] mayhemer opened #1574 "No reference to Gecko Profiler xpi on https://perf-html.io/"
All references I found to locate the extension ends up referring that page, but the link is no longer there.

[2018-12-19 13:22] zoepage commented on #1259
done in #1339

[2018-12-19 13:22] #1259 closed

[2018-12-19 14:08] gregtatum commented on #1574
@mayhemer It disappears if you already have it installed and activated. Perhaps the button got hidden?

[2018-12-19 14:20] mayhemer commented on #1574
Yeah, I just want to redownload the xpi again to install in a debug build.  ok, but this can be quite confusing.

[2018-12-19 18:48] julienw commented on #1574
It's always present in https://github.com/devtools-html/Gecko-Profiler-Addon if you need to download it. Do you think we should have a more obvious link in perf-html.io in all cases?

[2018-12-19 23:38] digitarald opened #1578 "Text from symbolication toast and and profile meta overlays"
STR: Open a profile on a viewport with ~1300px.

<img width="830" alt="image" src="https://user-images.githubusercontent.com/8599/50254685-e7802b80-03a3-11e9-99e2-0fde2376fa4f.png">

ER: Symbolication toast correctly overlays other text.

[2018-12-20 15:37] gregtatum commented on #1497
We also need to explain the fill strategy, for the full color, dimmed, and blank color in the box.

[2018-12-20 16:39] zoepage commented on #1497
Agreed. This is in the tooltip PR at the bottom, but probably it is hard to connect those 2 pieces.
If you have a suggestion, please let me know :)

[2018-12-21 14:04] mayhemer commented on #1574
IMO, it would not hurt anything.  I really could not find a link anywhere and didn't know why.

[2018-12-21 14:05] mayhemer commented on #1574
It's totally hidden unless one searches the page for "xpi"

[2018-12-28 15:45] gregtatum commented on #978
Resolved by #1194

[2018-12-28 15:45] #978 closed

[2019-01-02 18:49] Rohanhacker commented on #1532
/claim

[2019-01-02 18:50] Rohanhacker commented on #1532
I'd like to take this up

[2019-01-02 20:46] julienw commented on #1532
@Rohanhacker sure, please do! I added the label `assigned` to reflect that the issue isn't available anymore. You can find some basic information in our [contributing documentation](https://github.com/devtools-html/perf.html/blob/master/CONTRIBUTING.md) but feel free to ask here or on Slack if you need anything!

[2019-01-03 18:02] julienw commented on #1484
So, the current trend is towards upgrading all tests to react-testing-library instead of enzyme :)

[2019-01-03 18:55] julienw opened #1589 "Tests are failing with Node v11"
STR:
1. install node v11 (for example using nvm: `nvm install 11`)
2. run the tests with node v11 (for example sing nvm: `nvm exec 11 yarn test`)

Errors seem to be related to the thread orders, for example:
[code]

+ other errors with snapshots.

The error seem to come from this code:
https://github.com/devtools-html/perf.html/blob/789e35a4ced4c82f3e3cfe7cab697ab4f813d992/src/profile-logic/profil

[2019-01-04 15:19] #1532 closed

[2019-01-07 19:23] gregtatum opened #1596 "ThreadActivityGraph is not clickable for the last sample"
Steps to reproduce:
 * [Visit this profile](https://perf-html.io/public/b0ce38c64399ff4ac03022d79336300be14dd0a9/calltree/?globalTrackOrder=0-1-2-3-4-5-6-7-8-9-10&hiddenGlobalTracks=1-2-3-4-5-6-7-9&localTrackOrderByPid=9149-1-0~9152-0~9156-0~&range=3.7379_3.7594~3.7541_3.7555&thread=0&v=3).
 * In the call tree, click on the yellow area in the loupe view categories (in the call tree panel)
 * "mess

[2019-01-07 22:10] canaltinova opened #1599 "Consider banning undefined values in profile data"
Currently some fields or array values can be undefined in profile. But `undefined` is not a valid JSON value[1], because of that, `JSON.stringify` removes the `undefined` object fields and converts the `undefined` array values to `null`. We are using `JSON.stringify` to serialize the profile data and use `JSON.parse` to unserialize it. When we serialize and unserialize the profile data, it produce

[2019-01-07 23:11] canaltinova opened #1600 "Avoid sending google analytics data while running tests"
Right now we are sending some analytics data while running tests. We should either avoid them or mark them as `test suite` since it's misleading information.

[2019-01-08 10:36] julienw commented on #1600
Are you sure @canaltinova ?
We shouldn't have google analytics at all in tests (it's injected in https://github.com/devtools-html/perf.html/blob/master/res/analytics.js that we don't load in tests).
Do you confuse with the time code information that we log to the console in https://github.com/devtools-html/perf.html/blob/f7a938c1b8efbe08e61862f02ba839e364948319/src/utils/time-code.js#L30-L42 ?

[2019-01-08 10:38] julienw commented on #1599
First I'd like to understand what the real-life issues are.

[2019-01-08 12:50] julienw commented on #1600
Is it because we're faking it to test whether we call analytics? See https://github.com/devtools-html/perf.html/blob/master/src/test/fixtures/mocks/analytics.js :)

[2019-01-08 12:51] julienw commented on #1600
Here is how we use it for example:
https://github.com/devtools-html/perf.html/blob/428e140aec26204fceb6ef246098537e2c7c4955/src/test/store/tracks.test.js#L140-L147

[2019-01-08 12:56] canaltinova commented on #1600
Ooh, I see. Tried to see if we mocked analytics but couldn't, here it is then 😄 Closing this.

[2019-01-08 12:56] #1600 closed

[2019-01-08 14:39] edieblu opened #1603 "Unable to close modal associated with "Save as file...", "..." buttons using a keyboard"
**Steps to reproduce:**

    Using "Tab" key navigate to "Save as file..." button
    Open the modal by pressing "Enter" key

**Expected behavior:**

    It should close the modal by pressing "Escape" key.

**Actual behavior:**

    It does not close the modal by pressing "Escape" key.

Same behavior for the modal associated with the "..." button

[2019-01-08 14:46] edieblu opened #1604 "Move focus to Nework Details Panel when selecting "Network" tab with keyboard"
**Steps to reproduce:**

    Using "Tab" key navigate to "Network" and press "Enter" key

**Expected behavior:**

    The focus should move to the Details panel like with Call Tree, Flame Graph etc

**Actual behavior:**

    The focus remains on the "Network" tab.

[2019-01-08 14:51] edieblu opened #1605 "The default (dotted line) focus indicator isn't visible enough"
**Steps to reproduce:**

Using "Tab" key navigate around perf-html

**Expected behavior:**

The focus indicator should have the [photon button styling](https://design.firefox.com/photon/components/buttons.html#default-4).

**Actual behavior:**

The focus indicator has Firefox' default dotted line styling (which is not very visible)

The same issue is on the perf-html Home page and the perf-html mo

[2019-01-08 14:56] edieblu opened #1606 "Add "Skip Navigation" links to the top of the page, only visible on :focus (for screenreaders)"
**Steps to reproduce:**

    Provide a better screen reader experience by adding Skip Links.
    The user can skip the Menu Buttons (if they choose) and go straight to the main content.

**Expected behavior:**

    There should be a Skip Link to 1. the 1st tab in the timeline (Parent process), 2. Call Tree tab

**Actual behavior:**

    There are currently no Skip Links present.

[2019-01-08 14:59] canaltinova commented on #1484
From the slack conversation, it seems like we don't have a consensus on which library to choose. So I changed the title and the issue to agree on one library.
cc @gregtatum @mstange @julienw @edieblu

[2019-01-08 15:17] edieblu opened #1608 "Access the Context Menus with keyboard"
**Steps to reproduce:**

    Context menus from both the Timeline and the Details panels aren't accessible with a keyboard.

**Expected behavior:**

    There should be a way of accessing the Context Menu with a screenreader/keyboard.

**Actual behavior:**

    There's no way to access the context menu with a screenreader/keyboard.

[2019-01-08 15:20] edieblu opened #1609 "Some images/icons are currently without an "alt" attribute"
**Steps to reproduce:**

    The sidebar button, "..." button and the search icon are all missing alt attributes.

**Expected behavior:**

    All images should have an alt attribute.

**Actual behavior:**

    Alt attributes are missing for some elements.

[2019-01-08 18:22] #1596 closed

[2019-01-08 21:29] mstange opened #1611 "All tracks are hidden in this profile"
This profile is showing me an empty tracks list:

https://perf-html.io/public/c9326df63a999b74cdc42b88ac33e064a1afe7d4/calltree/

[2019-01-09 15:12] #1589 closed

[2019-01-09 15:45] julienw commented on #1484
Thanks @canaltinova. I spent some weeks writing tests using `react-testing-library` and I should try to explain why I think it would be valuable to use this library instead of enzyme. Teaser: it's not just because dan abramov said so :)

### First, a bit of history

At the beginning we used `react-test-renderer` which is the test library that React publishes. It's very simple, and allowed us to te

[2019-01-09 15:47] julienw commented on #1506
@mstange do you have a clearer idea of a path to fix this issue?

[2019-01-09 15:48] julienw commented on #1611
I label this as a bug because normally we have code to avoid this.

[2019-01-09 16:25] #1506 closed, assigned to nobody

[2019-01-09 16:54] gregtatum commented on #1611
Definitely a bug.

[2019-01-10 09:33] edieblu opened #1613 "Selecting timeline range should be possible with a keyboard"
**Steps to reproduce:**

Although tabbing through timeline tabs is now possible, selecting timeline range isn't possible with a keyboard.

**Expected behavior:**

I should be able to select the timeline using my keyboard.

**Actual behavior:**

Timeline selection is only possible with a mouse/touchpad.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FP-106)

[2019-01-10 09:41] edieblu opened #1614 "Do a color audit to make sure we follow the color contrasting guidelines"
**Explanation:**

WCAG 2 level AA requires:
- a contrast ratio of at least 4.5:1 for normal text
- 3:1 for large text
- 3:1 for graphics and user interface components (such as form input borders)
- (Level AAA requires a contrast ratio of at least 7:1 for normal text and 4.5:1 for large text)

[2019-01-10 12:22] canaltinova commented on #1599
From end-user point of view, there is no difference between `undefined` and `null`. And they probably don't care if downloaded/uploaded profile is (slightly) different than the original one. But for testing, it's really important. We should check if the serialized profile is the same as unserialized one and unserializing this serialized profile string back should, again, produce the same profile.

[2019-01-10 14:55] julienw opened #1616 "Use a nice title for the new RRD thread"
Here is a uninteresting profile with such a thread: https://perfht.ml/2QBetRl

Either we could add a processName in Gecko, or we could use processType to infer it.

[2019-01-10 15:09] #1578 closed

[2019-01-10 16:05] gregtatum opened #1617 "Use memoize-immutable for per-index selectors"
From Julien:

[2019-01-10 20:09] gregtatum commented on #1609
I wonder if this is lintable.

[2019-01-10 20:49] gregtatum commented on #1616
Not sure why we didn't keep the "GeckoMain[processType]" style label for unknown GeckoMains.

[2019-01-10 20:51] gregtatum commented on #1599
Our Profile types are wrong with undefined values when they go on a round trip.

[2019-01-10 21:17] mstange commented on #1616
RDD stands for RemoteDataDecoder, by the way.

https://bugzilla.mozilla.org/show_bug.cgi?id=1471535#c2

[2019-01-11 08:49] edieblu commented on #1609
There are [plugins]( https://github.com/evcohen/eslint-plugin-jsx-a11y) available.

I wonder if this would catch `<button>` elements with a `background-image`, like the `sidebar-open-close-button` element.

[2019-01-11 11:40] fqueze opened #1618 "Colors in the markers and the category chart should match"
I just realized I was getting confused by these things:
- when there's a restyle, this is showing as a light blue "Styles" marker, but this shows as purple (Layout category) in the activity graph.
- the blue color of the "Reflow" marker matches the blue color of the "DOM" category, despite being unrelated. Reflow is also part of the "layout" (purple) category.

Example profile captured today in ca

[2019-01-11 11:45] fqueze opened #1619 "Filtering in the call tree panel should filter in the activity graph too"
When looking at a profile that includes a call stack filter (eg https://perfht.ml/2Hh3mgO) it's confusing to need to switch to the "Stack height" view to see the effect of the filter. When the stack height view was the default in the timeline, it was immediately clear which part of the shared profile was meant to attract attention.

[2019-01-11 12:20] edieblu opened #1620 "Consider adding a11y eslint plugin to the project"
**Explanation:**

Already used in the debugger and in review for activity stream.
[Link to plugin](https://github.com/evcohen/eslint-plugin-jsx-a11y).
Recommend by [Yura](https://github.com/devtools-html/debugger.html/issues/7537).

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FP-110)

[2019-01-11 15:34] gregtatum commented on #1619
/cc @mstange

Markus and I have had this discussion a bit. The biggest issue faced with just using the full filtered thread, is when we switch to the JS-only view, we get an all yellow graph on it.

Here is the full transformation pipeline for threads:

[code]

An easy solution would be to use the `3. Transform` thread for the view, it would ignore implementation, and search though.

[2019-01-11 20:03] mstange commented on #1619
And also the selected/unselected coloring.

[2019-01-11 20:09] gregtatum commented on #900
This is fast enough now I think.

[2019-01-11 20:09] #900 closed

[2019-01-11 20:10] gregtatum commented on #207
Closing as outdated.

[2019-01-11 20:10] #207 closed

[2019-01-11 21:33] gregtatum commented on #1619
I would like to remove the striped color pattern. It works fine for large chunks of bright colors.

For instance, this kind of chunk is easy to understand:
<img width="973" alt="image" src="https://user-images.githubusercontent.com/1588648/51060523-a13e7680-15b5-11e9-9359-f9e1e115b9dc.png">

But the more fine-grained we go, the harder it is to tell what is going on, and the stripes lead to lots of

[2019-01-11 21:38] gregtatum commented on #1619
Also, this is better than what we have now, so I say we can make a quick decision to do this first at the very least.

[2019-01-13 11:50] PaulBone opened #1626 "The screenshot on the welcom page is different from the profiler's button and UI"
The main perf-html.io screenshot doesn't match the colours and icon in people's browsers.  In a user already experiencing frustration due to a laggy browser not seeing the toolbar button caused extra frustration.  This is important because the calmer this user stays, the more likely I'm gonna get an actionable profile from him.

[2019-01-13 13:36] julienw commented on #1626
Is the problem that the icon is blue (in a "capturing" state), while it's grey at startup?

[2019-01-14 15:28] gregtatum opened #1628 "Create a static html page that shows the photon styles"
There is now a shared photon style file that is implementing the photon component system. If we're sharing styles between components like this, then we need better infrastructure to support it. We should create a static HTML page that shows all of the styling, so that we can verify and see how each one is used. Shared components are a bit dangerous because the more the styles get used between diff

[2019-01-14 15:45] #143 closed

[2019-01-14 15:45] #764 closed

[2019-01-14 15:45] #1275 closed

[2019-01-14 17:03] gregtatum commented on #1484
I'm not strongly opinionated on the merits between enzyme and react-testing-library. Enzyme seems good enough for getting coverage on our components, especially if we write a few docs around best practices. My biggest concern is on the opportunity cost of converting all of our tests over to react-testing-library. I won't block on a decision, but I feel like we need to make the change now, because

[2019-01-14 19:51] julienw commented on #1484
I started here => https://github.com/devtools-html/perf.html/compare/master...julienw:migration-to-react-testing-library

As expected the migration from `react-test-renderer` is quite strightforward, but a bit more challenging from enzyme. No real roadblocks so far.

[2019-01-14 23:06] mstange commented on #1502
1000 characters sounds reasonable, yes.

[2019-01-15 14:59] jesup opened #1633 "Need to add a Logs view (very similar probably to Marker Table)"
I'm adding Log markers for Gecko MOZ_LOGs in bug 1518030 and PR #1630 .
We should have a table for just the log messages, very similar to the Marker table but with only Log markers, and with no Duration, and with Category replaced with LogModule (data.modulename, which has a max width of 32, but no log module currently is longer than 24.  We could rename 'Start' as 'Time', but that's gravy.
The se

[2019-01-15 15:01] jesup commented on #1633
Likely this is just a small set of mods to be made to a copy of the Marker Table code, except for the "save as a file" (which might be useful in marker tables too, note)

[2019-01-15 16:57] julienw opened #1634 "perf.html crashes when hovering an empty space in the memory track"
STR:
1. open https://perf-html.io/public/86dc02a8138c63e3a973a44054cbf1116c00a923/calltree/?globalTrackOrder=0-1-2-3-4-5&hiddenGlobalTracks=1-2-3-4-5&localTrackOrderByPid=6291-1-0~27098-0~6544-0~26552-0~6475-0~6565-0~&thread=0&v=3
2. hover the small space at the right edge of the memory track

The error is
[code]

[2019-01-15 17:23] #1634 closed

[2019-01-15 20:42] julienw commented on #1633
In december I did https://github.com/devtools-html/perf.html/pull/1538/commits/2b7bd7607875ef0e86028bc09f6c1e3ab7352c2a to make it easier to implement a simple "list-based" view from our shared TreeView component.

[2019-01-16 10:55] edieblu opened #1637 "Focus should automatically move to the panel, when the panel is opened"
**Steps to reproduce:**

[code]

![screenshot 2019-01-16 at 10 51 43](https://user-images.githubusercontent.com/17270662/51244417-f9da8e80-197c-11e9-8056-d0d6cb5c618f.png)

**Expected behavior:**

[code]

**Actual behavior:**

[code]

This should be the default behavior whenever a panel/modal is opened.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FP-111)

[2019-01-16 15:16] fqueze opened #1638 ""memory range in graph" is incorrect and memory tracks look flat"
This happens when capturing a profile after restarting the profiler, but we may have a similar problem when the profiler has been running for so long that we no longer have the beginning of the buffer.
<img width="845" alt="capture d ecran 2019-01-16 a 16 07 20" src="https://user-images.githubusercontent.com/2633774/51258378-1fca5800-19aa-11e9-8ad1-f7bf5e916d61.png">

[2019-01-16 15:51] julienw commented on #1638
About the incorrect memory range, this is because the logic to calculate minCount is incorrect in https://github.com/devtools-html/perf.html/blob/5cb122c77a9b9fbabc55817922d5e992bc2aaff2/src/profile-logic/profile-data.js#L1066-L1075

The initial value should be something like `Infinity`.

[2019-01-16 15:53] julienw commented on #1633
Looking at it again, I'm a bit reluctant to add a new panel; isn't it enough to have it in the existing Marker Table? Maybe we could add a radio button for easier filtering, like we have in other panels.

[2019-01-16 15:58] julienw commented on #1614
see also https://github.com/devtools-html/perf.html/issues/1361 about the colors in the charts.

I believe we're not so bad for the AA level, we already did a few fixes about this lately.

[2019-01-16 16:00] julienw commented on #1638
And actually maybe `maxCount` should start at `-Infinity`, because values can be negative, right?

[2019-01-16 16:03] julienw commented on #1613
Note: In some of the panels, we can zoom in using shift + arrow keys (to be changed to ctrl + arrow keys in #1371). Maybe we could generalize this gesture to either the timeline, or even attach this to `window`? Also we'd need to do a good job vocalizing what the current range is, although this is maybe not useful if a user can't see the profile data yet.

[2019-01-16 16:06] julienw commented on #1609
The sidebar button actually has a `title`. Of course we should look whether this is enough with assistive technologies, but I believe it is.
The `...` has nothing and we should add a `title` too.
The `x` in the input is a `<input type="reset">`, I believe this is properly handled by assistive technologies, but again we should check, and we can definitely add a title too.

I think we can easily lin

[2019-01-16 16:14] julienw commented on #1608
Some keyboards have a "context menu" button (mine has one), and when using it while focusing one of the thread, the context menu actually appears. I don't know how this works and if there's another shortcut for the keyboards that lack this button (I can't seem to find one for gnome at least).

When the context menu appears it doesn't have the focus though, so I can't easily navigate in it.

[2019-01-16 16:26] julienw commented on #1606
You can see some examples on www.ft.com, www.nytimes.com or www.guardian.com. I like the one in ft.com because it doesn't move things around.

Which one(s) do we need? I'd say:
* skip to timeline
* skip to details
(exact wording TBD)

[2019-01-16 16:28] julienw commented on #1605
As we discussed already, it's a good idea to follow Photon patterns. Specs are in https://design.firefox.com/photon/, primarily under the "components" submenu.

[2019-01-16 16:42] mstange opened #1639 "Memory track hover dot affects scrollable size in header"
Steps to reproduce:

 1. Go to https://perfht.ml/2CpYC2S
 2. Scroll down in the header to the very bottom.
 3. Hover the memory track for Web Content (2/2) in the right half of the track, where the orange graph is very low.
 4. Without moving the mouse, scroll down.
 5. Unhover.

Expected results:
At step 4 you shouldn't be able to scroll down more.
So that step 5 doesn't make the header jerk.

[2019-01-16 17:32] gregtatum commented on #1131
This was fixed in Bug 1475553.

[2019-01-16 17:32] #1131 closed

[2019-01-16 19:37] gregtatum commented on #1633
What about adding this as a checkbox option for the MarkerTable? Something like "Show log information". I agree that we don't want another tab if we can help it.

[2019-01-16 21:53] gregtatum commented on #1638
I think that's a different potential error. The memory counters aren't being reset in Gecko between runs. This is being fixed in: https://bugzilla.mozilla.org/show_bug.cgi?id=1520587

[2019-01-16 21:54] gregtatum commented on #1613
Also, see the prior art in the devtools performance panel.

[2019-01-17 12:56] julienw opened #1641 "ButtonWithPanel and ArrowPanel components use a mix of state and props"
Our components `ButtonWithPanel` and `ArrowPanel` are old and use a mix of state and props that's not very consistent.

A good example is the `open` prop in `ButtonWithPanel` that's used in tests only, and as a result is buggy: the `open` state in `ArrowPanel` stays `false` when rendering with the `open` prop set to true, and then this doesn't behave very well for some things.

Also we use direct

[2019-01-17 17:12] gregtatum opened #1643 "Flame graph colors showing self time"
In #1625 I changed the coloring strategy to use the category colors, but it strips out the self time weighting. I'm concerned about the colors being too overwhelming with meaning, as well as the accessibility of having usable colors here. However, this is removing some meaning to the chart. Personally, I never ended up relying on the self time visualization, but I realize that others might have fo

[2019-01-17 19:54] mstange opened #1644 "Gaps in memory counter values?"
cc @jesup @gregtatum

<img width="288" alt="screen shot 2019-01-17 at 2 53 45 pm" src="https://user-images.githubusercontent.com/961291/51344949-c0328200-1a67-11e9-881d-6072341d8dd5.png">

In this profile: https://perfht.ml/2QSMwV7 , the memory graph for Web Content (2/2) has a few steps where the memory is going down diagonally. If I hover the graph on those steps, it looks like there are no memo

[2019-01-17 22:42] mstange commented on #1643
I have relied on the self time weighting through colors to a certain extent. I would be somewhat sad to see it go but not overly sad. It's nice because the size of a function's box in the flame graph somewhat overstates the function's importance, and the self color makes it easier to see where actual time is spent.

[2019-01-18 13:47] edieblu opened #1646 ""Load a profile from a URL" action can't be completed with a keyboard"
**Steps to reproduce:**
Tab to the "Load a profile from a URL" and click "Enter" to reveal the URL input.

![screenshot 2019-01-18 at 13 39 56](https://user-images.githubusercontent.com/17270662/51390282-c89dc200-1b26-11e9-8138-6959ae9da9b7.png)
**Expected behavior:**

I should be able to press Tab navigate "Load" button and press Enter to complete the action.

**Actual behavior:**

If I tab out o

[2019-01-18 15:14] fqueze commented on #1543
That was probably me; I'm sure I said this to someone.

[2019-01-18 16:15] fqueze commented on #989
@mstange I see bug 1460306 is fixed now. Does this mean we now have symbols in profiles from try server builds? From reading your last comment in the bug, I'm under the impression that the person who pushed to try needs to trigger a special "Sym" job. Is there any way to automate this? Or could we clearly document it somewhere visible when someone encounters an unsymbolicated profile from try?

[2019-01-18 16:47] julienw commented on #1643
Without the self time weighting, self time can be found by looking at the empty space on top of a block. This works but is IMO a bit less easy to see when skimming through the profile data. So I'm like Markus on this: I'd be a bit sad, but not too sad.

[2019-01-18 17:07] gregtatum opened #1649 "Show the JS implementation information"
The only place where we have surfaced the JS engine implementation for a given function was in the stack chart. However with #1623 we removed the color information for whether a frame was native code, interpreter, baseline, or ion. Instead the coloring strategy shows the category that was being used.

There was another issue with the original implementation. It used the first frame it could find t

[2019-01-18 18:51] #1484 closed

[2019-01-20 14:43] acreskeyMoz opened #1651 "Content process not defaulted to visible in the given profile"
In the following profile the content process, "Web Content (2/2)" defaults to be not-visible.

https://perfht.ml/2DneFAp

So the user has to manually enable its visibility.

Perhaps the visibility-determination algorithm can be modified to automatically find such cases?

[2019-01-21 13:44] fqueze commented on #945
Now that we have the memory track that's using the memory counters, I think I saw agreement to remove the code for rss/uss.

[2019-01-21 13:51] fqueze commented on #910
I think this is a duplicate of issue #989 which has a bit more information.

[2019-01-21 13:51] #910 closed

[2019-01-21 15:43] julienw opened #1653 "Navigating back before the profile loading is buggy"
There are a few different STRs, that could cover one or several issues, that all deal with the handling of the back button.

STR1:
1. load any profile (eg https://perf-html.io/public/8c8e1c9f7feb95c69e1eee7b059d4ac33eb9194f/calltree/?globalTrackOrder=0-1-2-3-4-5-6-7-8-9-10&hiddenGlobalTracks=1-2-3-4-5-6-7-8-9-10&localTrackOrderByPid=11808-0~&react_perf&thread=0&v=3)
2. press back
=> error

STR2:
1

[2019-01-21 15:56] fqueze commented on #680
Just finding a place to display the "50ms" value so that the red jank bars feel less like magic for people discovering the profiler would already be an improvement.

[2019-01-21 15:56] fqueze commented on #679
I don't know in which issue or PR this got done, but we now have orange markers for this.

[2019-01-21 15:56] #679 closed

[2019-01-21 16:08] fqueze commented on #603
Done in issue #929 :)

[2019-01-21 16:08] #603 closed

[2019-01-21 16:09] fqueze commented on #598
This is now supported with the idle category, closing.

[2019-01-21 16:09] #598 closed

[2019-01-21 16:24] fqueze commented on #517
As an alternative to the key modifier, when expanding is triggered by a click, could we expand automatically to the next branching when there's more than eg. 500ms between the mouse down and mouse up events?

[2019-01-21 16:31] fqueze commented on #341
@mstange Is there anything left to do here?

[2019-01-21 16:33] #241 closed

[2019-01-21 17:02] mstange commented on #341
[Bug 1474871](https://bugzilla.mozilla.org/show_bug.cgi?id=1474871) fixed this for official builds and PR #1203 fixed it for local builds. We're done here :-)

[2019-01-21 17:02] #341 closed

[2019-01-21 17:05] fqueze commented on #17
The metadata panel implemented in #929 shows the list of add-ons.

[2019-01-21 17:05] #17 closed

[2019-01-21 17:10] fqueze commented on #1651
Ah, this profile is an interesting variation of #1436. I'm not sure if the current proposal we have there would be good enough to address this case. It seems the relevant content process here is more than 95% idle.
Maybe we need to preserve the most active content process even when it's idle for a while. @gregtatum do you have more thoughts on this?

[2019-01-21 19:46] acreskeyMoz commented on #1651
This one came from a profile of raptor tp6 page load tests.
Since the page loads so quickly, a lot more idle time :)

[2019-01-21 22:36] mstange opened #1659 "Tree view steals focus from search field when going from "no matches" to "matches""
Steps to reproduce:

 1. Go to https://perfht.ml/2R2ybWj
 2. Put the focus in the search filter text field.
 3. Press Y so that the search field now contains the string "InitChildY". The call tree becomes empty.
 4. Press backspace to remove the Y again. The call tree becomes non-empty again.

Expected results:
The focus should stay in the text field.

Actual results:
The tree focuses itself, typi

[2019-01-21 23:30] gregtatum commented on #1068
@julienw Is it time to close this as outdated? I doubt we will ever fix this issue.

[2019-01-21 23:31] gregtatum commented on #637
I believe this was fixed on the Gecko side with a proper error message. I haven't been able to manually reproduce to see if it's displayed nicely in perf.html. I'm closing for now, but if it crops up again we can re-open.

[2019-01-21 23:31] #637 closed

[2019-01-22 02:56] mstange commented on #637
That's right. And the patch in [bug 1509549](https://bugzilla.mozilla.org/show_bug.cgi?id=1509549) will resolve it entirely because it'll make us completely independent from Xcode for symbolication.

[2019-01-22 15:22] julienw commented on #1553
dupe of #1138

[2019-01-22 15:23] julienw commented on #1138
From #1553:
Markus wrote PR #1065 that prototyped this out. See that PR for more information.

[2019-01-22 16:04] mstange commented on #1138
No, Instruments and `sample` are two different tools that output different formats.

[2019-01-22 20:41] gregtatum opened #1665 "Consider adding an implementation-focused view for the Stack Chart"
PR #1623 removed the previous stack chart color scheme, and started using category colors. This was done for two different reasons:

1. Restrict the explosion of colors and their meanings in the UI by using category colors as a common visual language.
2. The stack chart was lying, and did not really represent the correct "implementation" for a function on the stack. This problem is detailed below.

[2019-01-22 21:17] gregtatum commented on #945
I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1521929 for removing them from the Gecko profiler.

[2019-01-22 21:35] gregtatum commented on #1498
Resolved with #1524

[2019-01-22 21:35] #1498 closed

[2019-01-22 21:37] gregtatum commented on #945
This issue is probably no longer relevant, let's resolve it once #1666 lands.

[2019-01-22 23:07] gregtatum opened #1667 "Add GC counters to the memory track"
This work is being tracked in the GC component: [Bug 1518061](https://bugzilla.mozilla.org/show_bug.cgi?id=1518061)

My thoughts right now are to try and surface it as a graph on top of the jemalloc information.

[2019-01-22 23:08] gregtatum opened #1668 "Move GC markers to the memory track"
Right now they are in the thread area, it would be nice to associate them with the proper track.

[2019-01-23 09:11] #1646 closed

[2019-01-23 14:41] julienw commented on #470
#1575 will land soon and implements a first step: from 2 profile URLs, import 2 threads from 2 different profiles into one view. Once in this view everything happens as if the 2 threads were from the same profile, there's no diff happening (yet).

This works by going to https://perf-html.io/compare and inputting the 2 URLs in the 2 input fields. This UX isn't perfect obviously.

Here are possible

[2019-01-23 15:07] gregtatum opened #1669 "Test intermittent failure with TrackScreenshots.test.js and getClientBoundingRect"
Filing this just in case it happens again in the future. It looks like a similar issue with our spies, but this time with getBoundingClientRect.

[code]

[2019-01-23 15:57] gregtatum commented on #1669
Just hit another one, I believe the error is pointing to the wrong code though:

It should be:

[code]

[code]

[2019-01-23 17:07] julienw commented on #1068
Yeah, I think you're right.

[2019-01-23 17:07] #1068 closed

[2019-01-23 17:23] julienw commented on #1653
I believe the problem isn't about the history API implementation, but rather that we have some conflict between the previous URLState we get when pressing back (from `history.state`) and some state that's not in the URL (I'm thinking especially to `app.view.phase`).

[2019-01-23 17:25] julienw commented on #1653
In that case maybe a quick fix is to handle `UPDATE_URL_STATE` in these key reducers, or have a root reducer that would handle `UPDATE_URL_STATE` by reseting the state to its initial value when the url state has some values.

[2019-01-23 17:30] julienw commented on #517
I feel it's even less discoverable :/

[2019-01-23 17:32] julienw commented on #1651
It's interesting because all of the threads are idle, except in a small space. I wonder if we could analyze the threads relatively to each other... surely less easy :)

[2019-01-23 18:31] fqueze commented on #1420
Closing as duplicate of issue #813.

[2019-01-23 18:31] #1420 closed

[2019-01-23 18:33] fqueze commented on #1490
Closing as duplicate of issue #100.

[2019-01-23 18:33] #1490 closed

[2019-01-23 18:36] fqueze commented on #1458
This looks like a duplicate of issue #253, but I'm hesitant to close this as there's already been some work done here, and a deploy preview.

[2019-01-23 19:01] fqueze commented on #1436
Rephrasing the title a little bit to also cover the following case from issue #1651:

[2019-01-23 19:02] fqueze commented on #1651
Closing as duplicate of issue #1436 (I rephrased the title a bit to cover this case).

[2019-01-23 19:02] #1651 closed

[2019-01-23 19:03] fqueze commented on #1421
Closing in favor for #98.

[2019-01-23 19:41] mstange opened #1672 "Network information inscrutable on m.imgur.com"
I don't understand the network information in this profile: http://bit.ly/2R8Ot03

The timing seems off between content and parent process, the redirect requests have strange durations, I don't see which requests were results from which redirects, etc.

[2019-01-24 11:16] julienw commented on #1669
I've seen a similar one in `ZipFileTree`:
[code]
But I was running the tests with `--runInBand` so they were not running in parallel, and so this may show a problem in the test itself.

[2019-01-24 13:52] edieblu opened #1675 "When tabbing through the app, the Footer comes first"
**Steps to reproduce:**

[code]

**Expected behavior:**

[code]

**Actual behavior:**

[code]

This doesn't apply to the home page, just the main profiler page.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FP-118)

[2019-01-24 14:22] edieblu commented on #1603
[Solved](https://github.com/devtools-html/perf.html/commit/9e7b6a897c742a530514c3958fb7c66288cda180)

[2019-01-24 14:22] #1603 closed

[2019-01-24 15:43] fqueze commented on #1672
From a quick look, it seems the communication between the content and parent process was very delayed because the main thread of the content process was blocked running JS code triggered by the scroll events.

[2019-01-24 15:46] fqueze opened #1676 "The marker panel should use the colors of the markers in the timeline"
Currently in the marker panel all the markers are drawn using the same blue, but on the timeline some  markers have a different color.

I think re-using the timeline marker colors in the marker panel would help with consistency and discoverability (because when looking in the marker panel, the name of the markers are visible, so seeing the names next to the colors would help people learn the meani

[2019-01-24 15:48] gregtatum commented on #1653
I think we agree with different words. I'm mainly concerned with more integration style tests with the history API, I don't think unit testing our history handling component itself would help, but writing general integration-style tests would catch bugs.

[2019-01-24 15:49] fqueze opened #1677 "The screenshot track should make it obvious when something has changed on screen"
As currently displayed, the screenshot track makes it easy to see when a big change (eg. drawing the main content of a web page) is painted on the screen, but smaller changes are hard to spot.

One possible way to address this could be to stop repeating identical screenshots. Instead we could display one screenshot at the beginning of the track, and then only display a screenshot in the track when

[2019-01-24 15:51] fqueze opened #1678 "Show the correct line number in JS stack frames"
Currently we show a line number that indicates the beginning of the function. It would be nice to indicate the actual line of code that was in the stack at that time.

I think this is currently blocked on https://bugzilla.mozilla.org/show_bug.cgi?id=1441689

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FP-121)

[2019-01-24 15:53] fqueze opened #1679 "The default sampling interval should be 2ms on Windows"
It seems we are never able to sample more than every 2ms on Windows, so I think we should increase the default sampling interval (currently 1ms) to 2ms.

Opening an issue here for tracking, but this may need a patch in mozilla-central and a change in the Gecko Profiler add-on.

[2019-01-24 15:55] fqueze opened #1680 "Show jank markers in the Marker panel"
The Marker Chart panel seems to show all the markers that are painted in the timeline, but not the red jank / responsiveness markers.

I think it would be more consistent to show these red responsiveness markers in the Marker Chart too.

[2019-01-24 16:09] julienw commented on #1678
is it https://github.com/devtools-html/perf.html/issues/1150 ?

[2019-01-24 16:10] mstange commented on #1493
Fixed by #1546.

[2019-01-24 16:10] #1493 closed

[2019-01-24 16:11] fqueze commented on #1678
Could be if we rephrase the title so that it's not just about markers. This would be very useful in the call tree.

[2019-01-24 16:11] mstange commented on #1672
I think you're right. I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1522316 about that. There are two other problems I can see but I'll file separate issues for those and close this one.

[2019-01-24 16:11] #1672 closed

[2019-01-24 16:19] julienw commented on #1678
likely this is killing 2 birds with 1 stone :)

[2019-01-24 16:32] mstange opened #1681 "Network chart shows loading sub-phases in the wrong place sometimes"
In [this profile](http://bit.ly/2R8Ot03), look at the light gray piece inside the bar for the request to `https://aax.amazon-adsystem.com/e/dtb/bid?src=3079&u=...`: The piece is at the very start of the bar.

However, in the parent process you can see that nothing happens at that time. I think this means that that light gray piece is drawn in the wrong spot.

<img width="1440" alt="screen shot 201

[2019-01-24 16:56] mstange opened #1682 "Change status strings in network request tooltip"
In the network panel's tooltip, sometimes we display "Status: Start of Request", sometimes "Status: End of Request", and sometimes something else.

"Start of Request" is somewhat reasonable. But "End of Request" as a description of a network request bar makes no sense to me: the bar is drawn from start to end - it passes through multiple states. It does not represent a single state.

I think we sh

[2019-01-24 17:08] gregtatum commented on #1676
The gecko side landed with category colors, although we may need to bump some profile versions to actually start using them.

[2019-01-24 17:12] gregtatum commented on #1677
My initial reaction here would be to add a second mode to the track. It's probably time to add some UI surface for configuring tracks anyway.

[2019-01-24 17:14] gregtatum commented on #1680
These are derived from the responsiveness sample data, via `getJankMarkers`. We should be able to rewire some selectors and merge them into the chart area.

[2019-01-24 17:59] fqueze commented on #1677
Which use case would be supported by the current mode that wouldn't be supported by the new one? I'm wondering when people would want to switch between the two.

[2019-01-24 18:49] #945 closed

[2019-01-24 19:21] #1503 closed

[2019-01-24 19:24] mstange commented on #1678
Where would you want this line number to be shown? Only in the sidebar?

I don't think we should show it in the call tree: this would cause us to split the call node for one function into multiple call nodes for the various lines that get executed in that function.

[2019-01-24 20:19] mstange opened #1684 "Network requests that haven't completed at the time the profile is captured should have boxes drawn until the end of the view"
Consider these two profiles:
 1. Captured in the middle of loading a page: https://perfht.ml/2SAVR5x
 2. Captured again a few seconds later, after loading the page, and range filtered to the same range as the first profile: https://perfht.ml/2SAVCHF

In the first profile you can see a few network loads for which we only have start markers but no end markers. In the second profile we have the end m

[2019-01-24 20:59] mstange opened #1685 "When network start and end markers are merged, the startTime should be set to the start marker's startTime"
The start and end markers that get reported for a network load describe disjoint phases of the network load: The start marker [goes from `mChannelCreationTimestamp` to `mLastStatusReported` which is set to `TimeStamp::Now()` at the time AsyncOpen is called](https://searchfox.org/mozilla-central/rev/c035ee7d3a5cd6913e7143e1bce549ffb4a566ff/netwerk/protocol/http/nsHttpChannel.cpp#6185-6190), and the

[2019-01-24 22:05] gregtatum commented on #1541
Example profile: https://bit.ly/2U8sMPw

[2019-01-24 22:10] digitarald opened #1686 "Allow error pages to be reported"
Follow up for #1503.

1. Error should send an event to GA, so we can track error rates over time and assess release health (if the metric turns out to be meaningful)
2. Error display should link (*Report issue*) to GHs new issue page, pre-filled with `Unknown Panel Error` (or something better) and, if possible, filling in the stack.

[2019-01-24 23:56] fqueze commented on #1678
In the call tree, yes. But like you point out, I clearly didn't think this through :-/.

The typical case I had in mind where I saw engineers getting confused while reading the profile is when most of the samples in a JS function are actually within something the function is calling, so the line number of that call makes more sense than the line number of the beginning of the function.

So yeah, m

[2019-01-25 00:15] fqueze commented on #1541
http://bit.ly/2FZfCQQ has a bit more slow I/O.

[2019-01-25 00:54] fqueze commented on #1541
http://bit.ly/2FXYpHA is another nice one.

[2019-01-25 13:05] julienw commented on #1678
The related sidebar work is already tracked in https://github.com/devtools-html/perf.html/issues/1084. But I think we need an issue to track showing the line numbers in stacks that are shown in tooltips. I thought we had one already but I can't find it.

Another related issue is https://github.com/devtools-html/perf.html/issues/1298

[2019-01-25 13:09] julienw commented on #1686
1. is done :) See https://github.com/devtools-html/perf.html/pull/1660/files#diff-841c55bc7311c06dbcfa3bb1fd1cb12aR56

2. would be nice indeed! But we do have some very well known errors that are easy to trigger related to our handling of the back button, and I think we should fix them first, otherwise we will get duplicates easily.

[2019-01-25 14:11] fqueze commented on #989
I updated the documentation at https://developer.mozilla.org/en-US/docs/Mozilla/Performance/Profiling_with_the_Built-in_Profiler#Profiling_Try_builds

I think that's enough to call this fixed. Feel free to close this issue if you agree.

[2019-01-25 16:20] julienw commented on #1685
There's something more complex happening, because we're clearly taking the start time from the start marker here: https://github.com/devtools-html/perf.html/blob/211e869bd820e434fee2f42c65da405070c790c5/src/profile-logic/marker-data.js#L416-L422

[2019-01-25 16:23] julienw commented on #1684
I think that with the work done by @brisad in https://github.com/devtools-html/perf.html/pull/1577 this could be easier to fix. I checked that that PR doesn't fix the issue directly, clearly something else is missing.

[2019-01-25 18:17] mstange commented on #1685
`data: endMarker.data,` is the relevant piece. `marker.data.startTime` is the relevant time.

I think we need `data: { ...endMarker.data, startTime: startMarker.data.startTime }`

[2019-01-25 18:34] digitarald opened #1689 "Show screenshot preview when dragging a timerange"
User story: When dragging a new time range or modifying an existing one, I want to see the screenshot preview when having my mouse over the screenshot track, so that I can align my range with visual state of the site.

Chrome has a similar behavior, which at least works for dragging to create a new timerange.

[2019-01-25 19:09] digitarald commented on #1686
1. sorry for missing that. This is great!
2. If we believe there is no other major errors that could be reported, this is fine. Our current users who see this will know how to report issues.

[2019-01-25 19:16] #1569 closed

[2019-01-25 20:47] mstange opened #1690 "Focusing a range without samples breaks the UI"
Profile: http://bit.ly/2RgYhFk

Switching between threads leaves old content in the loupe view, and focusing out and in sometimes doesn't empty out the thread activity graph in the header.

[2019-01-26 06:54] digitarald commented on #1435
Another example where the small screenshots make it harder to determine the state of the UI in question (the debugger scopes panel): https://github.com/devtools-html/debugger.html/issues/7806

[2019-01-28 10:13] julienw commented on #1371
@championshuttler sure! I think the relevant code to change is https://github.com/devtools-html/perf.html/blob/963a1aaefa6b1cc7578d5a4f03eba78bf5a7a00b/src/components/shared/chart/Viewport.js#L356

In the same file there are a lot of references to the "shift" key that will need to be changed as well, and in the `Viewport.css` file as well. At last there's a test file in `src/test/components/Viewpo

[2019-01-28 10:33] julienw commented on #1421
I'd keep this one open, as it covers the topic better, with all the possible things we can do once #98 is fixed.

[2019-01-28 10:36] julienw commented on #1458
Yeah I think we can fix both bugs with ony PR. I'd keep the 2 bugs opened for now as they cover 2 different topics (uploaded profile vs local file), but we can close them if the expected PR fixes them both.

[2019-01-28 15:58] #1659 closed

[2019-01-28 15:58] julienw commented on #1604
Reopening because we reverted the fix in https://github.com/devtools-html/perf.html/pull/1693 because it caused another issue.

[2019-01-28 16:52] mstange opened #1696 "serviceworker-ready-notice-wrapper blocks mouse events to buttons at the top"
<img width="1317" alt="screen shot 2019-01-28 at 11 51 37 am" src="https://user-images.githubusercontent.com/961291/51852002-1e2a5980-22f3-11e9-9ab4-ad2eeb3df3e4.png">

When the service worker update notification is shown, I can't click any of the buttons at the top. I want to zoom out the range but can't.

[2019-01-28 16:55] mstange opened #1697 "Inconsistent behavior when comparing two range filtered profiles of different length"
[In this profile comparison](https://perf-html.io/compare/calltree/?globalTrackOrder=0-1&profiles[]=https%3A%2F%2Fperf-html.io%2Fpublic%2Fb450380ba7877d4a90ff3bed573d374087bd92bc%2Fcalltree%2F%3FglobalTrackOrder%3D0-1%26localTrackOrderByPid%3D27236-1-2-0~27336-0-1~%26range%3D8.3370_9.0051~8.5312_8.7196%26thread%3D2%26v%3D3&profiles[]=https%3A%2F%2Fperf-html.io%2Fpublic%2Fa8415f3ea9e636aea10fcd15a7

[2019-01-28 16:58] mstange opened #1698 "Interval in profile comparison is hardcoded to 1ms"
When comparing two profiles that were captured with a 10ms interval, the samples in the thread stack graph are drawn too narrow because the merged profile always has a hardcoded interval of 1ms.

I suggest setting the interval of the merged profile to the minimum of the two intervals.

[2019-01-28 16:59] mstange commented on #1685
Ok, we should find out where the marker's start value comes from and why it's different from the payload's startTime.

[2019-01-28 18:00] julienw commented on #1697
Right, markers should be filtered.

Filtering happens here: https://github.com/devtools-html/perf.html/blob/efbe94e91c35ad25cb304a4f099841245bbe9b21/src/profile-logic/comparison.js#L81-L87

We should also call `filterMarkersToRange` from `src/profile-logic/marker-data`.

[2019-01-28 18:01] julienw commented on #1696
Yeah, I filed this in #1570 already. This is painful and easy to fix, we should do it quickly.

[2019-01-28 18:01] #1696 closed

[2019-01-28 18:02] #1502 closed

[2019-01-28 18:18] julienw commented on #1696
(PR is up for the other issue)

[2019-01-28 19:24] dpalmeiro opened #1700 "JS tracer floating point errors cause crashes in self-time view"
I believe the current error checking that is done in the JS tracer is too aggressive and prevents the use of the self time view in many cases.  From my investigation, there appear to be at least two problems here:

1.  The calculation of currentEnd on this line https://github.com/devtools-html/perf.html/blob/master/src/profile-logic/js-tracer.js#L209 is introducing floating point round off errors

[2019-01-30 14:35] #1570 closed

[2019-01-30 14:53] fqueze opened #1708 "Marker tooltips should show docshell information when it's available and relevant"
Given that a content process can load multiple tabs, it would be useful to show in the tooltip of markers (at least for the DOMEvent markers) the url of the page they relate to.

Even when there's a single tab, whenever we navigate there can be a mix of events for the page we are navigating away from and events for the page being loaded.

[2019-01-30 14:57] fqueze opened #1709 "When several DOM events occur next to each other, it's hard to see what's happening in the Marker Chart"
I think each type of DOMEvent should have its own line in the Marker Chart.

[2019-01-30 14:59] fqueze opened #1710 "Markers should be listed in a predictable order in the Marker Chart"
When comparing 2 runs of the same raptor test, it's confusing to have markers appear in a different order.

I think it would make sense to group markers by category and then sort the markers alphabetically within each category.

[2019-01-31 19:49] #1700 closed

[2019-01-31 20:36] gregtatum commented on #1710
I have an experimental patch in PR #1288 that does this.

[2019-01-31 20:36] gregtatum commented on #1710
Adding this to the usability triage, since it's lower effort to land, and would be helpful to users.

[2019-02-01 04:18] digitarald opened #1714 "Sidebar content can overflow and hide right-aligned parts"
In this case the long label `JavaScript JIT (baseline)` and the long time value `1646.5ms (100%)` cause the panel to overflow to the right:

<img width="264" alt="image" src="https://user-images.githubusercontent.com/8599/52102343-cdd22680-2594-11e9-8f41-0caa871af98a.png">

Possible solutions:
- Don't let a overflowing row expand the while inner panel
- Max width % on labels and values with overfl

[2019-02-01 16:27] #1295 closed, assigned to nobody

[2019-02-01 17:36] julienw opened #1715 "The computation for merged network markers should happen in `deriveMarkersFromRawMarkerTable`"
The computation for merged network markers happens too late in our marker processing pipeline and should happen earlier.

[2019-02-01 22:06] digitarald opened #1716 "Switch delete button for watch expressions to show on hover"
Same behavior as breakpoints. Impact of not doing it is loosing 48 pixels (close button + margins).

Possibly a good first bug, @darkwing ?

[2019-02-01 22:14] digitarald opened #1717 "Double-clicking watch expression values causes editing"
Reps in other parts, like the Scopes panel, allow double-click to select text. Watch expressions listen on the whole element for double-clicks and switch to edit; even though only the expression should be editable.

This matches behavior for Chrome as well.

@darkwing, possibly a good first bug?

[2019-02-01 22:25] brisad opened #1718 "Network request bars sometimes spill over to the row below"
- Go to https://perfht.ml/2SAVCHF
- Open the inspector and pick the `div` of with class `networkChartRowItemBar` for the fifth row in the Network tab. (The one with just a purple outline)
- Use the inspector to select the three `span` children (request queue, request, and response), one at a time, to see where they are rendered.

Expected result:
The three spans should be rendered in the same row.

[2019-02-01 22:35] brisad commented on #1718
I think this is the expected appearance:
https://deploy-preview-1719--perf-html.netlify.com/public/0a9de6a4e35b09a4e0f99288af1d19e01179cb94/network-chart/?globalTrackOrder=8-0-1-2-3-4-5-6-7&hiddenGlobalTracks=1-2-3-4-5&hiddenLocalTracksByPid=2465-0-2-3-4~2579-0-1~2466-0-1~2468-0-1~2467-0-1~2481-0-1-2-3-4-5-6~2471-0-1-2-3-4-5~2570-0-1-3-4-5-6&range=0.0000_2.1647&thread=0&v=3
Does it look correct? @

[2019-02-01 22:37] brisad commented on #1684
Filed #1718 for another issue I found while looking at this one.

[2019-02-02 15:15] whimboo opened #1720 "Stuck loading the profile after restart of firefox"
Recording a profile and opening the data in perf-html works fine. But once you restart Firefox and the tab gets reloaded, the web page seems to get stuck in the loading process of the profile data.

The only way to make it working is to save, or publish the profile.

[2019-02-03 13:03] brisad commented on #1684
When comparing the incomplete markers in the first profile with their completed counterparts in the second, it can be seen that the incomplete markers have an earlier start time in the chart. See the yellow marker in the pictures below:

| Incomplete | Complete |
| ---------- | -------- |
| ![screenshot_2019-02-03 perf html 3](https://user-images.githubusercontent.com/1911402/52176885-7fea3800-27b

[2019-02-03 13:05] brisad commented on #1684
I assigned myself to this issue. If someone already is looking into it, just remove me again :-)

[2019-02-03 15:20] brisad commented on #1684
Oops, now I found that both the issue I filed and the merging-problem were already described in issues #1681 and #1685.

[2019-02-03 15:22] #1718 closed, assigned to nobody

[2019-02-04 09:33] #1680 closed

[2019-02-04 11:06] #1682 closed

[2019-02-04 14:10] gijsk opened #1723 "Can't open locally stored profile that's been gzipped (can't load zee-worker.js)"
Local profiles show the loading screen forever. The console shows:

[code]

[2019-02-04 14:32] julienw commented on #1723
I can reproduce, this is bad.

I think this line provoked it: https://github.com/devtools-html/perf.html/pull/1602/commits/2a25e33f350a1bc2bbeffe03b3f9842288ffa695#diff-030bf75ec4a9035385246d9a745fbe89R59

[2019-02-04 14:51] fqueze opened #1724 "The meta data panel should show the ABI"
I've started profiling on an Arm64 Windows laptop, and I see no way from the perf.html interface to see that the profiles I share are coming from this platform. The profile does contain the information: window.profile.meta.abi is "aarch64-msvc"

https://perfht.ml/2D8H2kt is an example profile

I think in the metadata panel, in the "Platform" section at the bottom, we should show the ABI.

This inf

[2019-02-05 10:48] julienw commented on #993
@mstange do you think this issue is now fixed with all the work you invested in the symbolication last year?

[2019-02-05 10:49] julienw commented on #1720
Thanks, this is indeed quite confusing. We have an issue opened for a long time (#11) so I'll dupe to that one, but we should get to it eventually.

[2019-02-05 10:49] #1720 closed

[2019-02-05 10:53] julienw commented on #1714
I don't see it on my computer (I even have a lot of space), but I think this can depend on the system especially for the font (I think we should eventually use the photon font :) ).

Was the sidebar opened at its max size (it's resizeable)? Do you have a profile URL that we can look at? maybe it depends on some specific timings too.

[2019-02-05 14:48] julienw opened #1726 "Make the UI simple enough for Web Developers"
In this meta issue we want to outline a plan and the tasks needed to make the Firefox Profiler simple enough for web developers, so that we can replace the performance panel in the devtools.

Here is the data that a JS developer likely wants to see:
* JS code -- until WebIDL edges
  * (maybe filter out things like `Array.prototype.map`, `for .. of` algorithm, etc)
  * for the webpage they're looki

[2019-02-05 17:21] julienw commented on #1726
(Added things to the list above after my discussion with Florian)

[2019-02-05 18:42] lswetal commented on #1052
Hi @julienw . I would like to work on this issue. But I am a complete newbie. So, Can you please mentor me into solving my first ever issue? That would be really helpful for me to get started with this Open Surce Contribution . Thank You.

[2019-02-05 18:56] lswetal commented on #227
Hi @julienw . I would like to work on this issue. But I am a complete newbie. So, Can you please mentor me into solving my first ever issue? That would be really helpful for me to get started with this Open Source Contribution . Thank You.

[2019-02-05 19:14] twisted-sres commented on #1724
Hey, can I take this up?

[2019-02-05 19:16] lswetal commented on #1396
Hi @julienw . I would like to work on this issue. But I am a complete newbie. So, Can you please mentor me into solving my first ever issue? That would be really helpful for me to get started with this Open Source Contribution . Thank You.

[2019-02-06 16:20] julienw commented on #1724
Hey @twisted-sres, sure! Thanks a lot!

You'll find some information to start working on this in the file https://github.com/devtools-html/perf.html/blob/master/CONTRIBUTING.md.

The component to update is in https://github.com/devtools-html/perf.html/blob/d38834ee272d01c278a66faad3d95591f9bbd6af/src/components/app/MenuButtons.js#L194, you'll see we're already displaying a few properties from `met

[2019-02-06 16:24] julienw commented on #1396
Hey @lswetal, sure, and thanks! The work is already quite well outlined in my previous comment. If you're new to React development this may seem a lot but I believe you can still do it if you take the time to understand what you're doing.

You can find some information in https://github.com/devtools-html/perf.html/blob/master/CONTRIBUTING.md to get started on the development on our project.

The m

[2019-02-06 17:29] mstange opened #1732 "Category breakdown in the sidebar should not change based on call tree transforms"
In this profile, the category breakdown of the root node shows 100% in JavaScript: https://perfht.ml/2SajIwW
(Julien's note: this is even more visible using [this profile link with the function focused](https://perfht.ml/2XnXg15).)

But you can clearly see samples in the GC / CC category.

[2019-02-06 17:35] julienw commented on #1732
Are you rather talking about transforms, or about the filtering by implementation?

Maybe we can address the issue for the implementation filtering, but it's much more difficult to do it for transforms generically.

[2019-02-06 18:14] mstange commented on #1732
Both, actually, but I couldn't think of a good example transform that would show the issue.

I recommend addressing this in the same way as the loupe view addresses it: Have both the filtered and the unfiltered thread around. Use the filtered thread to get the samples that the current selection applies to. Look up these samples in the unfiltered thread, and look up their unfiltered category. That'

[2019-02-06 18:26] shadxx7 commented on #1448
Hey, can I work on this?

[2019-02-06 18:41] julienw commented on #1732
Ah thanks, this sounds right. I'll look at this !

[2019-02-07 10:46] julienw commented on #1492
I think this was a dupe of #1175.

[2019-02-07 10:47] julienw commented on #1492
ah no, actually, this still happens for me. Reopening!

[2019-02-07 13:39] julienw commented on #1492
I debugged a bit, and I found the problem is in the ScreenshotStrip component.
The problem happens when we have a small enough range, towards the end of a profile: we add the screenshots that are before the range too, and there are a lot of them when the range is small.

We see that very clearly in this profile: https://perfht.ml/2RNVinO
I captured it from this view: https://perfht.ml/2RLPZoX
We c

[2019-02-07 17:58] julienw commented on #1233
Some work has been done in https://github.com/devtools-html/perf.html/pull/1398, which showed problems in some of our dependencies injecting CSS, and a bad interaction with our own CSS. Because this changes the order of the CSS parsing some properties aren't overridden anymore.

The main issue is in the `react-splitter-layout` dependency (upstream bug is https://github.com/zesik/react-splitter-lay

[2019-02-07 17:59] julienw commented on #1233
Note: this wasn't a good first issue at all, and I'm sorry for this. Thanks @hashi93 for your work and your patience on this topic!

[2019-02-07 19:05] #1698 closed

[2019-02-07 19:06] #770 closed

[2019-02-08 09:59] #1492 closed

[2019-02-08 10:24] julienw commented on #1697
I've mixed feelings about the right path to fix this. For now I'll be filtering out the markers because that's easier, but I've been thinking about not filtering anything and instead providing a range, which could be nice to adjust the range if for some reason it's not correct...

[2019-02-08 14:49] julienw opened #1736 "Error when navigating history in the compare interface"
1. Load [this profile](https://perf-html.io/compare/calltree/?globalTrackOrder=0-1&profiles%5B%5D=https%3A%2F%2Fperf-html.io%2Fpublic%2Fb450380ba7877d4a90ff3bed573d374087bd92bc%2Fcalltree%2F%3FglobalTrackOrder%3D0-1%26localTrackOrderByPid%3D27236-1-2-0~27336-0-1~%26range%3D8.3370_9.0051~8.5312_8.7196%26thread%3D2%26v%3D3&profiles%5B%5D=https%3A%2F%2Fperf-html.io%2Fpublic%2Fa8415f3ea9e636aea10fcd15

[2019-02-08 17:17] gregtatum opened #1737 "Hovering timeline makers should respect 1px wide markers"
We are now drawing all markers that are smaller than 1px, but the hovering behavior does not respect this. This means that we can draw a pixel that cannot be hovered. We should make sure that if we render something, we can pick a marker to hover.

STR:
 * View this [deploy preview](https://deploy-preview-1687--perf-html.netlify.com/public/35026af1053a9b674dcabc52f94580942ff40e9d/calltree/?globalTr

[2019-02-08 18:03] fqueze opened #1738 "The 'Filter Markers' input field should accept a comma separated list"
When I share a profile and want the person receiving the link to pay attention to a specific marker, I use the filter feature.

It's common that I want to show 2 or 3 markers at once, but hide all the others. I would be convenient to make the 'Filter Markers' field a comma separated list of search terms, and display in the marker chart all the markers that match one of the terms.

Would be nice to

[2019-02-08 19:36] mstange opened #1739 "Profile comparison should accept shortened URLs"
Somebody just tried the profile comparison tool with a shortened URL. It didn't work and they didn't understand why.

Does bit.ly have an API to expand a shortened URL that we could use?

[2019-02-09 09:09] ThobyV commented on #1736
Think maybe I can work on this? Also, any tips as to how and where to look? Most first issues are taken.

[2019-02-10 08:01] kagehina919 commented on #1606
Hey @edieblu, @julienw can I work on this?
I have already implemented the skip links and I am figuring out how to link those specific components.

[2019-02-11 14:43] shadxx7 commented on #1390
Hey, can I work on this?

[2019-02-11 14:57] julienw opened #1741 "Implement search on DiskIO marker's source, name and filename"
Currently we can't search in the DiskIO's payload content, we should support this.

[here is an example](https://perf-html.io/public/35026af1053a9b674dcabc52f94580942ff40e9d/marker-table/?globalTrackOrder=0-1-2-3-4-5&hiddenGlobalTracks=1&hiddenLocalTracksByPid=10084-1-2-3&markerSearch=diskio&range=2.5201_5.0874&thread=0&v=3) (Note: this URL points to perf-html.io which doesn't have last version ye

[2019-02-11 15:25] shadxx7 commented on #1448
Is this issue still up for grabs?

[2019-02-11 16:34] julienw opened #1742 "Support keyboard navigation for the navigator bars"
STR:
1. Go to this profile: https://perfht.ml/2WXkyM8
2. Try to focus with the keyboard the top left `Full Range`, or at the top of the call tree `Complete "Content Process (4/4)"`.

We probably need to replace this `span` with a `button` in https://github.com/devtools-html/perf.html/blob/master/src/components/shared/FilterNavigatorBar.js#L51

You can take example on what's done for `GlobalTrack`:

[2019-02-11 17:17] #1605 closed

[2019-02-11 17:41] fqueze opened #1743 "Show marker stack in tooltip for all markers that do have a stack"
We have some markers that collect a stack but it's currently not shown in the UI, which is unfortunate.

[2019-02-11 17:43] fqueze opened #1744 "The name of text markers should be shown in the Marker Table"
https://perfht.ml/2DxXWJd isn't very helpful currently because to make sense of text markers that have a name, the name is usually the main piece of information and it's currently not shown.

[2019-02-11 18:04] julienw opened #1745 "The network chart shouldn't use the marker search string"
STR:
1. open https://perf-html.io/public/4666336db7dd9445d1cc8deb53e861c62cb326db/marker-chart/?globalTrackOrder=4-0-1-2-3&hiddenGlobalTracks=1-2&thread=0&v=3
2. search for some markers, eg using `Reflow`
3. switch to the Network panel

=> the view shouldn't be filtered using the same value.

The work to do here is:
* add a new redux state for this string (including actions / reducers / selectors)

[2019-02-11 21:58] gregtatum commented on #1448
@shadxx7 Feel free to work on it!

[2019-02-11 22:03] gregtatum commented on #1736
The fix for this one hasn't been specified as much. We don't currently have great testing around our URL handling, and I would like to make sure we have a test for anything we do to fix this issue. This increases the complexity of this patch a bit, since there aren't any really good tests written for the back behavior. This one would require a full component test, which is a bit trickier.

The URL

[2019-02-13 13:33] julienw commented on #1745
In the selectors for markers (in `src/selectors/per-thread/markers`) I think we should change the order of the processing pipeline. Especially filter network and non-network markers before filtering with the "search" in the pipeline.

Current, we do:
1. getSearchFilteredMarkers
2. getNetworkChartMarkers
3. getMergedNetworkChartMarkers

and
1. getSearchFilteredMarkers
2. getMarkerChartMarkers

Inst

[2019-02-13 13:35] acreskeyMoz opened #1748 "Profile comparison should provide profile alignment option"
It would be nice to be able to have control over the alignment of the two profiles once they are in the comparison view.

Two options have be suggested:
1. Add some form of manual alignment/sliding to a given profile. So the user could slide one profile left/right
2. Add an "Align on Marker" option which would automatically align the two profiles based on the selected marker (Similar to Florien's

[2019-02-13 16:03] julienw commented on #1685
Just writing this here so that it's not forgotten, from @jesup on slack:

Network markers generally come in pairs of status `STATUS_START` and `STATUS_STOP/REDIRECT`.
* for `STATUS_START` markers: `startTime` is the request's creation, `endTime` is AsyncOpen time
* for `STATUS_STOP` and `STATUS_REDIRECT` markers: `startTime` is AsyncOpen time, while `endTime` is End or Redirect time (depending on

[2019-02-13 16:08] julienw commented on #1681
See https://github.com/devtools-html/perf.html/issues/1685#issuecomment-463256698, I think this is also valid here.

To answer the specific question above: `start` and `startTime` can be different because of the merging markers algorithm. I believe `startTime` should be updated as well though.

In https://github.com/devtools-html/perf.html/issues/1715 I wrote that the merging algorithm should also

[2019-02-13 16:50] mstange commented on #1685
That's what PR #1719 does. I thought I had r+ed it but apparently I never did!

[2019-02-13 17:26] julienw commented on #1748
Yes I think this would be super valuable.

Dumping my current thoughts about this: put this somewhere in the initial form: automatically fetch the profile at this step and provide a list of markers and/or a previsualisation to align the profiles. Also ideally we could move back and forth between the initial form (or whatever name it has) and the visualisation (currently we lose what we entered whe

[2019-02-14 16:49] #1737 closed

[2019-02-14 17:52] julienw commented on #1741
The code to change is in https://github.com/firefox-devtools/profiler/blob/5297802117d3432c1629a15954cdca5bfcbe86c4/src/profile-logic/marker-data.js#L76

This should be fairly easy for a contributor so I add the labels for this.

It would be also a good idea to add tests for this, but we don't have any in `src/test/unit/marker-data.test.js` yet, so I wouldn't require one for a contributor.

[2019-02-14 18:22] julienw commented on #1390
Hey @shadxx7, we assigned you on #1448 already, so let's focus on one issue only :) Thanks for your udnerstanding!

[2019-02-14 18:30] julienw commented on #1606
Hey @kagehina919, yes why not!
Discussing with @edieblu we thought it would be nice to implement thel like www.ft.com, with an overlay when they're focused but otherwise invisible. They should likely be at the start of the source so that they're the very first focused elements (this will really be the case when we remove the "focus the tree view at load time" behavior, so please don't pay attentio

[2019-02-14 18:32] julienw commented on #1739
Thanks for filing markus, this is indeed in my informal todo list in my mind but it looks like I didn't put it anywhere else.

[2019-02-14 19:46] gregtatum opened #1754 "Expose Markers to the web console"
Right now we only provide the `RawMarkerTable`, we should expose the committed range filtered`Markers` as well.

[2019-02-14 21:09] julienw commented on #1724
hey @twisted-sres, are you still working on this? The most important is to communicate and request feedback early :) Thanks for your answer

[2019-02-14 21:11] julienw commented on #1396
As a quick note to my coworkers, @lswetal sent me some message on Slack stating they still work on this.

[2019-02-14 21:11] julienw commented on #1371
Hey @championshuttler, are you still working on this? The most important is communication and early feedback, so feel free to share your code even if it's not fully working yet :) Thanks!

[2019-02-14 21:14] julienw commented on #463
To anyone coming here: there's an unfinished PR at https://github.com/firefox-devtools/profiler/pull/1494 that still needs some review. It's sadly quite in conflict right now and it would be useful to know if the conflicts can be easily resolved.

[2019-02-14 21:15] julienw commented on #1466
There's a PR at https://github.com/firefox-devtools/profiler/pull/1552 that's likely still valid and close to be finished. It needs a second review and a rebase.

[2019-02-14 21:50] ThobyV commented on #1745
Can I work on this issue please?

[2019-02-15 17:57] mstange opened #1764 "Permalink text field looks a bit heavy (a lot of padding)"
<img width="415" alt="screen shot 2019-02-15 at 12 22 06 pm" src="https://user-images.githubusercontent.com/961291/52874998-3555ad80-3121-11e9-8f55-dc6879e51253.png">

I think this text field could be a bit more compact without inhibiting accessibility.

[2019-02-16 20:38] lswetal commented on #1396
Hi @julienw ,I had few doubts:

1-

How it will take `thread` and `funcIndex` ?

2-

 ```const funcName = stringTable.getString(funcTable.name[funcIndex]);```

This has to be updated at https://github.com/firefox-devtools/profiler/blob/e1d499e690d205a623e07aa91e7ef1d29537189f/src/profile-logic/transforms.js#L331

3-

[code]

This has to be updated at \:
https://github.com/firefox-devtools/profiler

[2019-02-19 08:41] makotokato opened #1765 "profile view of perf-html should show Android API version"
When profiling Gecko for Android, profiler doesn't show android version

![screenshot_2019-02-19 firefox profiler](https://user-images.githubusercontent.com/965338/53000853-9f958780-346c-11e9-9071-043eb4e9904a.png)

Android's profiling JSON data is oscpu is "Linux _cpu arch_", and platform is "Android _version_".  So perf-html should show Android os name and version additionally.

(Even if using G

[2019-02-19 12:30] julienw commented on #1764
@mstange I wonder how much this is an habit thing (like you're used to it being more compact") :) I like it myself like this (I tend to prefer more space over less space). Do you think this covers the graph below too much? How strongly do you think about this?

[2019-02-19 14:16] julienw commented on #1765
@makotokato Do you think we should show `Android` instead of `Linux` ?

[2019-02-19 15:46] julienw commented on #1681
This may be fixed in https://github.com/firefox-devtools/profiler/pull/1746 but I'd like to keep it open until I fix #1715 too.

[2019-02-19 15:50] gregtatum commented on #1765
@makotokato do you have any example profiles you have handy that we can link to this issue? It would help having a real profile to test on.

[2019-02-19 15:50] julienw commented on #1745
Hey @ThobyV, yes sure! The bug isn't what I'd call a "good first issue" but still reasonnably easy and self-contained. Please ask here or on Slack if you need anything!

[2019-02-19 16:54] mstange commented on #1764
I think it just looks imbalanced: the high amount of padding inside the text field doesn't look balanced with the small amount of space around the text field in the panel. And the amount of padding is a lot higher than in other text fields that use a similar font size, if you compare for example to the search field, or really to text fields anywhere else. I care a medium amount.

[2019-02-19 17:28] gregtatum opened #1767 "New test intermittent in ProfileCallTreeView"
Filing just in case we need it in the future.

[code]

[code]

The failing line is `inner.getBoundingClientRect().top`

[2019-02-19 18:47] mstange opened #1769 "Stop displaying unknown markers in the marker bar in the header"
We've added more markers and current profiles are a mess of overlapping black boxes.

[2019-02-20 02:00] swetajena98 commented on #1742
hello @julienw i would like to work on this issue. Can I be assigned to this one?

[2019-02-20 02:57] makotokato commented on #1765
Yes if profile data is by Android.

https://perfht.ml/2V78V3O by Reference Browser on Android/aarch64.  `nsIXULAppInfo.name` is still Fennec even if GeckoView now, so product shows "Fennec".

[2019-02-20 11:58] canaltinova commented on #1742
Hi @swetajena98, it looks like there is already an open PR for this in #1766. Could you find another issue, please?

Adding the "assigned" label here.

[2019-02-20 13:41] gregtatum commented on #1769
Yes please.

[2019-02-20 15:13] canova opened #1771 "Find a correct way to match tracing marker start / ends"
Currently, we don't have IDs for tracing markers and that's why we need to match those with creating a stack and pushing popping the markers instead of looking at the IDs for markers start - ends. For example:

Let's say that we have 4 tracing markers in a thread. They are:
[code]
Currently we are matching these tracing markers like they are nested like this:
[code]
But I think we should match lik

[2019-02-20 17:46] julienw commented on #1771
I used the nested approach because of our use of `AutoProfilerTracing`. But we should audit every place [profiler_tracing](https://searchfox.org/mozilla-central/search?q=profiler_tracing&case=true&regexp=false&path=) is used to make sure the approach is correct, as this is very possible that it isn't :)

Probably we should have an id to match these markers.

[2019-02-20 18:31] #1697 closed

[2019-02-20 20:11] julienw commented on #1769
So we would whitelist only the markers we know?

[2019-02-20 20:36] mstange commented on #1769
I think that would be best for now, yes.

[2019-02-21 10:50] julienw commented on #1771
I did some archeology, this is where this algorithm came from: https://github.com/firefox-devtools/profiler/issues/644

[2019-02-21 12:17] canaltinova commented on #1771
Ah interesting. I was thinking the async JS calls while writing that issue and didn't think that we have tracing markers that calls itself eventually and make a nested structure. It looks like that's possible. So yeah, like you said, best approach to fix that is to add IDs to tracing markers so we can match them easily.

[2019-02-21 13:00] julienw commented on #1771
Do async JS calls output tracing markers? If you're thinking of `performance.mark` that's again something else.

[2019-02-21 13:44] julienw commented on #1764
OK, let's mimic the style of the search field. Thanks for your feedback!

[2019-02-21 13:48] julienw commented on #1764
I think we can add this in the rule for `.menuButtonsPermalinkTextField`:
[code]

This is in `src/components/app/MenuButtons.css`.

Turning this into a good first issue :)

[2019-02-21 13:53] canaltinova commented on #1765
Converting this into a "good first issue". Here's some information about that issue:

We are creating that label inside this component:
https://github.com/firefox-devtools/profiler/blob/9c67fbe2e7bec90ff5f53073121f7f638014b665/src/components/app/MenuButtons.js#L194
Profile meta includes `platform` and `oscpu` fields. We want to keep the existing behavior for other platforms and show the `oscpu`. B

[2019-02-21 14:55] julienw commented on #1396
Hey @lswetal, thanks for your message and your patience, and sorry for the delay!

I'll be trying to answer the questions as well as I can but please ask again if there's something that you don't understand.

1. Currently `getFunctionName` accepts 1 argument (or parameter), which is the string we want to filter. What I propose is to replace this 1 argument with 2 arguments `thread` and `funcIndex`

[2019-02-21 19:40] mstange opened #1778 "Consider adding a contribute.json"
This was pointed out by https://observatory.mozilla.org/analyze/profiler.firefox.com :

From https://infosec.mozilla.org/guidelines/web_security#contributejson :

[2019-02-21 20:34] kamal-umudlu commented on #1764
Hi. I am new here. I would like to work on this issue

[2019-02-21 20:39] canaltinova commented on #1764
Hi @kamal-umudlu, great! Assigning the issue to you. Please ask here or on Slack if you need anything!

[2019-02-21 21:24] kamal-umudlu commented on #1764
I am currently working on Servo's bug and that will take time to fix it. If someone wants to fix this issue, please feel free to grab it.

[2019-02-22 04:39] lswetal commented on #1396
Hi @julienw , Its totally fine with me !
I will go through these and let you know by end of next week if there's something I am unable to understand.
Thanks for helping me out . :smile:

[2019-02-22 08:35] #1739 closed

[2019-02-22 11:07] julienw commented on #1764
thanks for telling us, I removed the "assigned" keyword then :)

[2019-02-22 12:19] whimboo opened #1780 "Make it easier to find the wanted WebContent process"
As of now when trying to find the WebContent process of interest, I have to go through each of them and hovering the name like `Web Content (2/8)` to find out the underlying process id. It's even harder when the wanted Web Content process is currently hidden due to inactivity. In such a case I have to first make all web content processes visible and go through each of them until I have found the c

[2019-02-22 12:46] julienw commented on #1778
Here is a possible content for this file:

[code]

The file should be in the subdirectory `res/` and needs to be added to `webpack.config.js` in the configuration for `CopyWebpackPlugin`.

[2019-02-22 12:47] julienw commented on #1778
I don't see any field to give a link to our slack.

[2019-02-22 12:55] julienw commented on #1626
It would be really good if someone on Windows could replace the image at `res/img/jpg/gecko-profiler-screenshot-2019-02-05.jpg` with a screenshot while the profiler isn't running (icon should be grey and the text should read "The profiler is stopped"). Otherwise the screenshot should be approximately of the same area.

[2019-02-22 13:05] canaltinova commented on #1778
The [schema](https://www.contributejson.org/schema) doesn't have a field for slack but even the examples in the website include some fields that's not in the schema. So, I believe we can add a field like `"slack": "https://devtools-html-slack.herokuapp.com/"` inside `participate` object.

[2019-02-22 19:15] mirceah commented on #1277
Hi Julien. Can you please assign this bug to me if no one else is working on it?
I have a question on disabling the "from duration" context menu item what is the lower limit for duration? I noticed that duration can be very small but didn't find one that has zero duration.
Thank you!

[2019-02-22 20:25] mirceah commented on #1277
I added the new option in the context menu and it seems to work. Please help me on how to add the PR. Thanks! (I am Mircea on the slack #perf channel).

[2019-02-22 20:46] gregtatum commented on #1277
@mirceah I think we only want to disable the option when the duration is equal to 0.

[2019-02-22 20:50] mirceah commented on #1277
Yup. You're right. I thought there are no 0 duration items but i was wrong. Thanks for pointing it out

[2019-02-22 23:30] Manish-Giri commented on #1626
Hi, can I work on this?

[2019-02-22 23:33] Manish-Giri commented on #1764
Hi, I'd like to work on this!

[2019-02-23 11:25] Manish-Giri commented on #1778
I'd like to work on this if it still up for grabs.

[2019-02-23 17:48] canaltinova commented on #1778
Hey @Manish-Giri, sure assigning the issue to you. There is some information in Julien’s comment. If you need more information, please write here or in Slack.
You can also see some information about contributing here: https://github.com/firefox-devtools/profiler/blob/master/CONTRIBUTING.md

[2019-02-23 17:56] canaltinova commented on #1626
Hey @Manish-Giri, I just assigned one of the good first issues to you. It would be good for you (and for other contributors) to pick one issue at a time. Please let us know again after that issue so we can assign. Thanks for understanding!

[2019-02-24 07:46] PhoeniXAbhisheK commented on #1626
Hey @julienw
I am PhoeniX, participant of current Outreachy round and would love to take this up as my first issue.
I am on a Windows system too.
@canaltinova can you assign this to me please. Also, I might need some help since I am new to contributions 😄

[2019-02-24 07:55] PhoeniXAbhisheK commented on #1764
Hey @julienw and @canaltinova
I am PhoeniX, participant of current Outreachy round.
I don't have any issues assigned to me yet, and would like to take this up as my first issue.

[2019-02-24 08:13] PhoeniXAbhisheK commented on #1052
Hey @julienw
I am PhoeniX, participant of current Outreachy round.
Is this issue solved yet..???
If not I can take this up for contributing.
Thanks

[2019-02-24 13:05] ojaswa1942 commented on #1764
Is this issue available?

[2019-02-25 07:47] ruchika90 commented on #1764
Hi, I'm an applicant for Outreachy, and while looking for good first issues, I came across this one. As no one was assigned, I created a Pull Request, based on the given suggestions. I hope that's all right!

[2019-02-25 08:07] PhoeniXAbhisheK commented on #1764
@ruchika90 , I already asked for this to be assigned to me 😐

[2019-02-25 08:13] ruchika90 commented on #1764
@PhoeniXAbhisheK You're already working on #1626 - https://github.com/firefox-devtools/profiler/issues/1626#issuecomment-466742726

[2019-02-25 08:18] PhoeniXAbhisheK commented on #1764
@ruchika90 , that is not assigned to me yet.
Let's see what @julienw or @canaltinova decide on 😄

[2019-02-25 09:50] Manish-Giri commented on #1778
@canaltinova Thank You! I just submitted the PR for this issue.

[2019-02-25 10:59] #1778 closed

[2019-02-25 11:00] julienw commented on #1741
hey @Manish-Giri, would you like to work on this issue?

[2019-02-25 11:03] #1764 closed

[2019-02-25 13:43] julienw commented on #1764
Hey, thanks all for your interest! As you see, it's been fixed thanks to @ruchika90's patch (thank you!).
I'm sorry we're not so much responsive during week-ends, indeed we're working mostly on weekdays.

I'll be totally transparent with you all: we should have assigned the issue to @Manish-Giri because he was the first one to claim it. But also @manish-giri claimed several other issues too, which

[2019-02-25 13:45] julienw commented on #1626
Hey @PhoeniXAbhisheK, yes sure, please work on this :) Assigning to you!

[2019-02-25 14:02] PhoeniXAbhisheK commented on #1764
@julienw I am fine with it, was looking forward to solve this, but the bug being resolved is the priority here.
I am happy that it is closed now, or the queue would have only gotten longer.
I'll work on the issue you assigned to me 😄 and make the product better 😎

[2019-02-25 14:18] PhoeniXAbhisheK commented on #1626
Hi @julienw , thanks for assigning this to me.
Is this the cause of the issue..???
![profiler-1](https://user-images.githubusercontent.com/16290904/53343386-50e96100-3936-11e9-9bae-c2589d705dec.PNG)

[2019-02-25 14:31] julienw commented on #1626
@PhoeniXAbhisheK this is my understanding indeed: the icon color + the green banner. Instead it should be grey + the banner shuold be blue.

[2019-02-25 14:36] julienw commented on #1052
This issue is still up for grabs, but let's focus on your other bug first :)

[2019-02-25 14:38] PhoeniXAbhisheK commented on #1626
Are we looking for something like this..???

![profiler-new - copy](https://user-images.githubusercontent.com/16290904/53344590-0b7a6300-3939-11e9-9632-06a673ea5328.png)

[2019-02-25 14:40] julienw commented on #1277
As a reference, [here is a profile with some markers that have a "0" duration](https://profiler.firefox.com/public/4666336db7dd9445d1cc8deb53e861c62cb326db/marker-table/?globalTrackOrder=4-0-1-2-3&hiddenGlobalTracks=1-2&markerSearch=bailout&thread=0&v=3). The markers that are _really_ 0 have a dash as duration value.

[2019-02-25 14:41] julienw commented on #1626
Yeah I believe this looks good :)

[2019-02-25 14:45] PhoeniXAbhisheK commented on #1626
okk, I'll create one with the same dimensions as the previous one

[2019-02-25 14:51] julienw commented on #1780
From a discussion in Slack, we're not sure of this yet, because while the PID is useful for gecko developers, the counter `2/8` is useful for web developers. We should find a way that works for both types of users.

[2019-02-25 14:54] julienw commented on #1769
We have known markers in https://github.com/firefox-devtools/profiler/blob/master/src/profile-logic/marker-styles.js. But this may be not enough. For example there isn't DOMEvent there... but maybe we should add it and we'd have a good set?
Additional thoughts? I'd love to make it a `good first issue` once we're clear about the behavior.

[2019-02-25 15:14] canova opened #1785 "Do you have a question that's not answered before?"
We have [README][readme] and [CONTRIBUTING][contributing] files that answers some questions for Firefox Profiler contributors. But if you have any question that's not answered in [README][readme], [CONTRIBUTING][contributing] or other places, you can ask here! We'll do our best to answer them!

[readme]: https://github.com/firefox-devtools/profiler/blob/master/README.md
[contributing]: https://git

[2019-02-25 15:29] PhoeniXAbhisheK commented on #1626
PR made at [#1787](https://github.com/firefox-devtools/profiler/pull/1787)

[2019-02-25 17:21] #1626 closed

[2019-02-25 17:22] julienw commented on #1626
Hey @PaulBone, the image has been changed now :) You'll be able to see it the next time we deploy (probably tomorrow) and we'd appreciate to know if we adressed your problem. Thanks!

[2019-02-25 17:35] julienw opened #1789 "Pressing "back" on this profile after some operation crashes the application"
STR:
1. open this profile: https://profiler.firefox.com/public/404ff08ee5f412f355264601f12e5feff0ebaee6/calltree/?globalTrackOrder=6-1-2-3-4-0-5&hiddenGlobalTracks=1-2-3-4&range=10.0984_14.1128&thread=6&v=3
2. click on "full range" at the top left
3. click the browser's "back" button

=> crashes with this error:
[code]

I checked that this doesn't happen in other profiles. So there must be somethi

[2019-02-25 18:02] PhoeniXAbhisheK commented on #1052
Hey @julienw , now that my previous PR is merged, please assign this issue so that I can start working on it 😸

[2019-02-25 18:12] PhoeniXAbhisheK commented on #1371
Hey @julienw , I would like to take this up if possible.

[2019-02-25 18:35] Manish-Giri commented on #1741
Hi @julienw Certainly! If you have any pointers to share that would help me tackle this issue, I'd appreciate it!

[2019-02-25 20:05] #1649 closed

[2019-02-25 21:07] acreskeyMoz opened #1792 "Add support for Android SimplePerf captures"
The Android tools include a low-overhead profiler, SimplePerf, which is based on the linux tool `perf.`

https://android.googlesource.com/platform/system/extras/+/master/simpleperf/doc/README.md

This feature request is to extend the dev tools profiler to consume the output of SimplePerf.

SimplePerf doesn't include a `script` command as linux `perf` does, but it does include the `report-sample.py

[2019-02-26 01:30] Manish-Giri commented on #1764
@julienw My apologies! I just want to clarify that while looking for good first issues, I came across #1626, #1778 and this one, and I only intended to **_ask_** if I could work on any one of them. Once #1778 was assigned to me, I was only focusing on working on that issue.

I certainly didn't mean to _claim_ all three of them, because in my experience with some other OSS repositories, you could o

[2019-02-26 03:02] PhoeniXAbhisheK commented on #1274
Hey @julienw , can I look into this issue ?

[2019-02-26 08:11] julienw opened #1793 "Demangling seems to fail on some function names"
I captured a profile on a recent nightly (february 20) and got functions like _ZN7mozilla6detail16RunnableFunctionIZNS_3net13nsHttpChannel14ResumeInternalEvE4$_23E3RunEv$d4926f1171e4bf2de0a6a0e89c19f5db which don't look unmangled.

Here is the profile: http://bit.ly/2H3lRnx

Any thought @mstange?

[2019-02-26 08:30] #1277 closed

[2019-02-26 14:10] whimboo commented on #1780
What does 2/8 tell me? And where I can see in which webcontent process index a web page is running?

[2019-02-26 14:18] canaltinova commented on #1371
Hey @championshuttler I'm assuming you are not working on this. I'm giving the issue to @PhoeniXAbhisheK instead.

Hi @PhoeniXAbhisheK you can work the issue. There are some information above, please let us know if you have any question!

[2019-02-26 14:20] canaltinova commented on #1274
Hey @PhoeniXAbhisheK, I just assigned #1371 to you. Let's wait until you fix that one. This issue is up for grabs in the meantime.

[2019-02-26 14:25] PhoeniXAbhisheK commented on #1274
@canaltinova yes sure 🙂 🙂 🙂 🙂 🙂

[2019-02-26 15:13] PhoeniXAbhisheK commented on #1371
@canaltinova Thank you..will start work on this... 😸 😸 😸 😸 😸

[2019-02-26 15:48] julienw commented on #1780
We have plans to expose the page URLs in the interface but, yeah, that's not done at the moment :)

[2019-02-26 15:51] julienw commented on #1741
@Manish-Giri this sounds like a good plan!

[2019-02-26 15:52] #1466 closed

[2019-02-26 15:53] whimboo commented on #1780
Well, you said that the counter is helpful for web developers. Could you explain how they are using that feature?

[2019-02-26 15:55] julienw commented on #1792
Thanks for the issue! By chance do you have such a file to share with us in this issue? I think you can attach it directly in a comment.

[2019-02-26 15:58] julienw commented on #1052
Note to people coming here: this issue is still up for grabs because @PhoeniXAbhisheK is working on another issue :)

[2019-02-26 16:11] gregtatum commented on #1780
From our discussion of this on Slack, it is probably obvious to someone with platform knowledge that a number next to the process name is the PID, but less obvious to a web developer what that number represents. My assumption is that `2/8` is a bit more obvious to a webdev that there are multiple processes, while `2129` is a mysterious number with no obvious meaning. This value is only revealed to

[2019-02-26 17:03] acreskeyMoz commented on #1792
Of course -- here's one (38MB!)
https://we.tl/t-80XK73GSZP

[2019-02-26 17:46] Luna-Coder commented on #1052
@julienw I am an Outreachy applicant and would like to have this bug assigned to me as my second contribution. Thanks.

[2019-02-26 18:37] PhoeniXAbhisheK commented on #1371
Hey @canaltinova , I have made the necessary changes, but while pushing the code I am getting the following error
[code]

all the Fails are either in ` src/test/components/ProfileCallTreeView.test.js` or `src/test/components/ZipFileTree.test.js` , and I haven't made changes to any of them.

Please help

[2019-02-26 19:04] PhoeniXAbhisheK commented on #1371
PR [#1795](https://github.com/firefox-devtools/profiler/pull/1795)  submitted for this issue

[2019-02-27 09:35] lloan commented on #716
Hi, I'm an outreachy applicant, could this bug be assigned to me?

[2019-02-27 11:00] ThobyV commented on #1745
I am sorry I did not have the chance to see a comment notification. Anyways I am working on it! I will ask questions here.

[2019-02-27 12:04] canaltinova commented on #1052
@Luna-Coder sure, let us know if you need anything!

[2019-02-27 13:01] julienw commented on #716
Hey @lloan, sure! This isn't really a "code" issue so feel free to say if you want to work on something else instead.
The file we're talking about here is https://github.com/firefox-devtools/profiler/blob/master/src/actions/README.md. Basically the meaning of the paragraph in `Preferred practices for actions` should be reversed.

[2019-02-27 13:26] julienw commented on #1371
@PhoeniXAbhisheK Just a quick note because I received a mail about the failures you got while pushing (`   TypeError: Cannot read property 'top' of undefined`).  Unfortunately this is an intermittent issue we're getting and haven't been able to fix so far. Just ignore it and try again if you get it...

Thanks for the PR, we'll look at it shortly!

[2019-02-27 13:52] julienw commented on #1792
I had a quick look:
* A first barrier is the regexp at https://github.com/firefox-devtools/profiler/blob/24f53d0408f7973cf2db9783a4ca62ec7da0873a/src/profile-logic/import/linux-perf.js#L11-L14
It doesn't match the first line of the file, which is:
[code]
I think this `[007]`doesn't match this regexp; but according to some comment later in the file, this is valid. So we should fix this regexp.

* t

[2019-02-27 13:52] julienw commented on #1792
Here is the previous perf file gzipped, as a reference:
[perf.txt.gz](https://github.com/firefox-devtools/profiler/files/2910551/perf.txt.gz)

[2019-02-27 14:00] canaltinova opened #1796 "`shift + scroll` hint doesn't show up anymore"
It should show up while scrolling in the stack or marker chart but currently it doesn't. It should be visible again while scrolling.

[2019-02-27 14:14] julienw commented on #1620
We're adding the "help wanted" label so that someone can do the work and we can see if we get many errors and if we can land this now. We're not sure yet if this will be suitable for landing.

[2019-02-27 14:23] acreskeyMoz commented on #1792
Just wanted to add that there are numerous recording options in SimplePerf, (the posted was recorded with `f 1000 -g `) so if anything is missing just let me know and I can look further into recording options.

[2019-02-27 14:27] julienw commented on #1606
Hey @kagehina919, I'm unassigning this bug because you're working on #1766 currently, so that somebody else can work on this.

[2019-02-27 14:32] julienw commented on #1604
#1526 should be fixed first.

[2019-02-27 14:52] julienw commented on #1743
We can't make it a "help wanted" issue because of how we display the backtrace at the moment: we need to clean this up a bit.
Probably we want to add the result of `_markerBacktrace` at the end of the result of `getMarkerDetails` for all markers, but then we need to look at the implementation of this function, and remove where it's called elsewhere.

[2019-02-27 14:53] julienw commented on #1714
ping @digitarald for the previous question :)

[2019-02-27 15:09] julienw commented on #1616
This should happen in https://github.com/firefox-devtools/profiler/blob/24f53d0408f7973cf2db9783a4ca62ec7da0873a/src/profile-logic/profile-data.js#L1397

[2019-02-27 16:02] gregtatum commented on #1767
Here is a similar intermittent failure, I'm actively working on this area, and was updating snapshots.

[code]

[2019-02-27 16:08] gregtatum commented on #1796
It works for me. It stops showing up as soon as you do a shift + scroll.

Expected and actual behavior:

 * Go to stack chart
 * Scroll up and down
 * The shift hint shows up
 * Shift scroll
 * Scroll up and down
 * The shift hint does not show up.

I'm closing this, but feel free to re-open if I'm wrong.

[2019-02-27 16:08] #1796 closed

[2019-02-27 16:12] julienw commented on #1780
We discussed this a bit with Florian and came up with a solution that looks good in my point of view: we could display the pid on a second line, in a grey-ish color. We have some more space on the process content so I think it could work fine.

This should be fairly easy to add this information here: https://github.com/firefox-devtools/profiler/blob/24f53d0408f7973cf2db9783a4ca62ec7da0873a/src/com

[2019-02-27 16:57] julienw opened #1798 "The interpreter and baseline stacks are often conflated as native stacks in the implementation breakdown"
[This profile](https://profiler.firefox.com/public/671cf336e06a20333fbbfa599c76e0f496410cc0/flame-graph/?globalTrackOrder=0-1-2-3-4-5-6-7-8-9-10&hiddenGlobalTracks=1-2-3-4-5-6-7-8-9-10&hiddenLocalTracksByPid=7814-2-0&range=4.7958_5.8327~5.0623_5.2124&thread=0&v=3) is a good example of the problem. It's easy to see when moving from "all stacks" to "javascript" when hovering some of the javascript f

[2019-02-27 17:08] julienw opened #1799 "The stack chart tooltip has 2 horizontal lines"
For example hover any item in [this profile](https://profiler.firefox.com/public/671cf336e06a20333fbbfa599c76e0f496410cc0/stack-chart/?globalTrackOrder=0-1-2-3-4-5-6-7-8-9-10&hiddenGlobalTracks=1-2-3-4-5-6-7-8-9-10&hiddenLocalTracksByPid=7814-2-0&range=4.7958_5.8327~5.0623_5.2124&thread=0&v=3).

![image](https://user-images.githubusercontent.com/454175/53508533-3c35d600-3aba-11e9-9828-c235e8aaf378

[2019-02-27 21:15] ThobyV commented on #1799
I think I can Send a quick P.R for this one. Is anyone assigned yet please?

[2019-02-27 21:44] ThobyV commented on #1745
@julienw thanks for assigning this issue to me. But I have found one I can resolve quickly and I think according to the code of conduct it is wrong to apply for more than one issue at once. I wish to drop this issue  for now to anyone who wishes to work on it.

[2019-02-27 22:47] darekd12345 commented on #1744
Hi, can I take this issue? Thanks :)

[2019-02-28 00:38] digitarald commented on #1714
@julienw I thought I had it max size, but I re-open if I see this again.

[2019-02-28 00:38] #1714 closed

[2019-02-28 09:54] canaltinova commented on #1799
@ThobyV sure, assigning to you. Please let us know if you need something!

[2019-02-28 09:55] canaltinova commented on #1744
Hi @darekd12345. Sure, assigning to you. Please let us know if you need anything!

[2019-02-28 10:13] canaltinova commented on #1744
Btw, here's some context for the issue:
This should be handled inside `MarkerTree` class. There is `getDisplayData` function inside that class that looks at the type of the marker data and then does something different to properly show all marker information. If the `type` property of marker data is `'Text'`, then we should also append it with its `name` property.

[2019-02-28 11:10] julienw commented on #1745
@ThobyV thanks for noticing me, it makes totally sense :)

[2019-02-28 11:21] julienw commented on #1744
Ideally search should work too, this happens in this function: https://github.com/firefox-devtools/profiler/blob/24f53d0408f7973cf2db9783a4ca62ec7da0873a/src/profile-logic/marker-data.js#L79-L82

And lastly it would be really nice to have tests for this; it should be as easy as adding a text marker in https://github.com/firefox-devtools/profiler/blob/master/src/test/components/MarkerTable.test.js.

[2019-02-28 11:56] ThobyV commented on #1799
Thank you. I will make sure to ask questions and send a P.R when done.

[2019-02-28 12:34] julienw opened #1800 "To display the profile meta info panel, remove the "..." button and make the full text a button instead"
In a profile viewer, the profile meta info panel is displayed by clicking the "..." button:
![image](https://user-images.githubusercontent.com/454175/53566670-275e4e80-3b5d-11e9-8518-81be16cba3d9.png)

We want to remove this button, and make the text a button instead.

This happens in https://github.com/firefox-devtools/profiler/blob/24f53d0408f7973cf2db9783a4ca62ec7da0873a/src/components/app/Menu

[2019-02-28 12:35] julienw commented on #1800
Note that the associated CSS will need to be removed too.

[2019-02-28 12:41] julienw commented on #1609
The only remaining issue is for `...` to display the meta info panel, but we want to remove it https://github.com/firefox-devtools/profiler/issues/1800.

But I saw another issue in our home page: the "github" icon has both a `title` on the link, and a `aria-label` on the SVG. Using the accessibility panel I noticed that the `title` is ignored in that case, and replaced with the `aria-label`. If I

[2019-02-28 14:51] digitarald opened #1801 "[Draft] Landing Page 2.0"
When opening up Profiler to a larger audience, we need to have a better onboarding for new users, which usually starts on the homepage.

_User story: When discovering profiler.firefox.com the first time, I want it to feel part of Firefox's Developer offerings and explain why and how I can start profiling, so that I can learn, explore and/or jump right in._

## Tasks

1. Photon theme and Firefox br

[2019-02-28 14:59] digitarald commented on #998
Notes from the Profiler planning meeting:

- We don't know yet where the current error comes from, maybe the Google server
- Moving cloud storage might address this as well
- PII can eventually offer a way for users to reduce profile size

Immediate next step here is making a better error message. Any unknown error caught should display a guess that the profile is too large.

[2019-02-28 15:13] fqueze commented on #1410
I think the zip file case is actually an edge case that would be well served by having its own toolbar (especially as there's another issue requesting that we show the full path rather than just the file name, and this can take a lot of horizontal space).

I like Gerald's point about having the "x out of y threads shown" line up with the thread names and the "Full Range" line up with the timeline.

[2019-02-28 17:02] digitarald opened #1802 "[meta] Profile PII Data Sanitization"
This will aggregate the various tasks for the MVP of sanitizing profiles before upload, so user's personal data isn't accidentally shared.

More details in the [Requirements Docs](https://docs.google.com/document/d/1Uc07GYeWLrfOJhWIYm6bZuBnhA85_ULhprpLkUkr7nk/edit#)

_Buglist TBD_

[2019-02-28 18:48] julienw commented on #1023
I think we can implement them, now than I made the gz worker work in tests.

[2019-02-28 22:40] gregtatum commented on #1801
I'm not sure what `Photon theme and Firefox branding` really entails, but it seems like we could use a design mock-up, or at least some other examples of something that is similar. One thing I'd like to keep is the super simple call to action to install the add-on and start profiling. I think we should make it as clear and simple to record the first profile.

Here's Firefox Monitor's site:
* https

[2019-03-01 08:26] the-realtom commented on #227
I'd be interested in helping out on this one. The marker table suffers the same issue as it uses a TreeView like the call tree. However the flame graph stack frames aren't highlighted in that blue color so you can't visually see when they lose focus anyway.

[2019-03-01 10:41] julienw commented on #227
Hey @the-realtom, yes sure!
I'm not sure this is easily fixable, so please tell us if you can't come up with something working, and we could direct you to another issue.

[2019-03-01 14:12] julienw commented on #1724
We're reseting the assigned value because no answer from the previous assignee. If you still intend to work on this, feel free to leave a message here! Thanks :)

[2019-03-01 14:13] julienw commented on #1448
@shadxx7 Hey, do you still work on this? Any update, or questions maybe? Feel free to ask here or on Slack if you need anything!

[2019-03-01 14:24] julienw commented on #1543
Looking at the code this can stay within `buttonWithPanel`. We have all the state we need already.

[2019-03-01 14:26] julienw commented on #1540
This is still happening and we'd be happy to accept a patch about this. This would need some investigation to know what the problem is first.

[2019-03-01 14:27] julienw commented on #1525
Yeah, this depends on issue #1526.

[2019-03-01 14:40] julienw commented on #1497
The work here would be:
* extract `identifyType` from `NetworkChartRow` in a reusable place; this could take the marker as parameter (so that in the future we can use the mime type if we get it from gecko) and return a string enum.
* use this in MarkerTooltipContents to show the type in the tooltip along with a square with the color (like we do for categories in other panels).

[2019-03-01 15:55] julienw opened #1804 "The meta panel has a too low contrast for accessibility"
The labels' color in the meta info panel is too pale compared to the background, which gives a bad accessibility:
![image](https://user-images.githubusercontent.com/454175/53649462-7af69800-3c42-11e9-889c-222bae5474eb.png)

The current color is `var(--grey-40)`, we should make it `var(--grey-50)` instead (which incidentally obeys the [photon styleguide](https://design.firefox.com/photon/visuals/co

[2019-03-01 16:06] julienw commented on #1447
We use some locale-dependent code in `src/utils/format-numbers` but don't have any issue with the local locale. Maybe this is because we use `undefined` and not `navigator.language`? `navigator.language` seems to hold `en-US` for me too (despite my locale is french). Maybe there's a difference in the node version used by ola previously? Or a difference in platforms?

`undefined` makes the browser

[2019-03-01 17:14] singhrohan62 commented on #1800
Hi @julienw I would like to add this feature. Kindly assign me this issue.

[2019-03-01 18:49] vansjyo commented on #1804
@julienw  . I have opened a pull request.

[2019-03-02 09:10] rajmeghpara commented on #1800
@julienw I would like to work on this issue. CC: @canaltinova

[2019-03-02 09:38] the-realtom commented on #227
@julienw I implemented what you were suggesting above (I think) by calling `focusCallTree()` from within the `onHide` callback. However as you can see below, the calltree flickers because theres a delay between the mousedown event (where it loses focus) and the click event which invokes the callback.

![227](https://user-images.githubusercontent.com/13268267/53679913-3ee53500-3d1f-11e9-8cb4-0f0e35

[2019-03-02 12:31] shivam0211 commented on #1804
@julienw . Can I work on this issue?

[2019-03-02 19:22] shadxx7 commented on #1448
Hey,
I'm sorry, I wont be able to continue work on this due to some other commitments. Extremely sorry about this.

[2019-03-02 21:22] rajmeghpara commented on #1274
Hi @julienw , I would like to work on this issue :) CC: @canaltinova

[2019-03-02 21:46] rajmeghpara commented on #1800
I have made a pull request #1808.
Can you please review it and give a feedback. I would love to hear it!
Thanks!

[2019-03-03 02:06] jdk1997 commented on #1616
Can I work on this issue?

[2019-03-03 17:24] asishkr123 commented on #1447
Hi, can i work on the issue,  if it's still open??

[2019-03-03 18:29] asishkr123 commented on #1780
Hi,  if the issue is still available,  i would like to work on it

[2019-03-04 05:18] digitarald commented on #1801
Absolutely; I mostly wanted to outline the problem here to get the discussion going. This lacks a lot of requirements.

Firefox Monitor is a good example; as it was designed recently with the new marketing design system. Added to the list.

[2019-03-04 05:40] rajmeghpara commented on #1724
Hi @julienw, I would like to work on this issue :) CC: @canaltinova

[2019-03-04 05:57] rajmeghpara commented on #1724
Hi @julienw, can you please give a feedback on this? I would love to hear it :)
kindly look at the ABI attribute in platform section.
Thanks!

<img width="1440" alt="screenshot 2019-03-04 at 11 14 34 am" src="https://user-images.githubusercontent.com/16744065/53712916-e4f38500-3e6e-11e9-996d-8eaa824eb8c7.png">

[2019-03-04 06:50] brisad commented on #1789
I'm able to reproduce this for any profile with a modified STR:

1. Load a profile
2. Zoom in and commit to a time range in the time line
3. Select the address bar (`Ctrl-L`) and press `Enter` to reload the page with the current URL
4. Click "Full Range"
5. Go back

The problem appears when the following conditional goes into the else clause.

https://github.com/firefox-devtools/profiler/blob/24f5

[2019-03-04 08:47] julienw commented on #1724
hey @rajmeghpara , this looks good!

[2019-03-04 09:32] rajmeghpara commented on #1724
Hi @julienw,
Thanks for assigning this issue to me :)

Actually I have made a PR solving issue: #1800
Here is the link to that PR: #1808

Then I solved this issue.

So, what should I do now?
1) Make a new PR for this issue.
2) Or Remove PR #1808 and make a new PR solving both the issues: this one and #1800

[2019-03-04 11:48] canaltinova commented on #1804
@vansjyo assigning to you since you have a PR already. Please comment on the issues before working on it to minimize the overlapping works in the future.

[2019-03-04 11:53] canaltinova commented on #1448
@shadxx7 it's okay, thanks for telling us. This issue up for grabs!

[2019-03-04 11:55] canaltinova commented on #1448
hey @shivam0211, since the other issue is assigned to someone else, wanna work on that one instead?

[2019-03-04 11:56] canaltinova commented on #1616
@jdk1997 sure, assigning to you. Let us know if you need anything!

[2019-03-04 12:00] canaltinova commented on #1447
Hi @asishkr123, sure! Let us know if you need anything!

[2019-03-04 12:02] canaltinova commented on #1780
Hey @asishkr123, sure. Let us know if you need anything!

[2019-03-04 12:07] canaltinova commented on #1724
hey @rajmeghpara. I think, despite both issues related to meta data panel, codes don't conflict with each other. You can open a separate PR for this one too.

[2019-03-04 12:58] rajmeghpara commented on #1724
Great, Doing it!
Thanks!

[2019-03-04 14:08] rajmeghpara commented on #1724
I have made a PR #1810.
@julienw and @canaltinova, Please review it and give a feedback.
Thanks!

[2019-03-04 14:18] julienw commented on #1343
According to https://github.com/netlify/build-image/issues/122 we can set the env variable YARN_VERSION to use a newer version of yarn.

[2019-03-04 14:24] julienw commented on #1245
ping @gregtatum, we think it's OK now, do you confirm?

[2019-03-04 14:27] julienw commented on #1223
I can't do the STR as described above. Duping to #1789 that still exists.

[2019-03-04 14:27] #1223 closed

[2019-03-04 14:29] julienw commented on #1210
cc @canaltinova

[2019-03-04 14:33] julienw commented on #1118
It's been fixed by @edieblu while working on the accessibility of menu buttons.

[2019-03-04 14:33] #1118 closed

[2019-03-04 14:36] julienw commented on #1083
see also https://github.com/stereobooster/react-snap

[2019-03-04 14:44] julienw commented on #1069
Nazim and I don't understand what I wanted to say at that time, so I'm closing this bug.

[2019-03-04 14:44] #1069 closed

[2019-03-04 14:47] julienw commented on #997
We plan to fix this as part of the work on PII #1802.

[2019-03-04 14:51] julienw commented on #958
I think this is an edge case and we should close this bug. What do you think?

[2019-03-04 15:37] julienw commented on #1070
Here is how this could be implemented. This would happen in https://github.com/firefox-devtools/profiler/blob/24f53d0408f7973cf2db9783a4ca62ec7da0873a/src/selectors/per-thread/markers.js#L127-L130

1. add the selector `_getDerivedJankMarkers` in the input selectors
2. In the "combined" selector for `getJankMarkersForHeader`, check if the result of `_getDerivedJankMarkers` is empty
3. if no filter

[2019-03-04 16:41] shivam0211 commented on #1448
@canaltinova I would love to take this issue but i am not sure where to find the file that needs to be changed

[2019-03-04 17:10] julienw commented on #463
Hey @gregtatum, the work left here is to handle the feature "load from clipboard". The initial work in #1494 handled this through a textarea form element. Maybe another (better) UX is to wait listen for the event `keypress` and react when `ctrl` or `cmd` is pressed to display something, and listen for the `paste` event.

Anyway, the question is: is it still a feature you'd like to have?

[2019-03-04 17:17] julienw commented on #1677
As discussed during our weekly meeting, this could be addressed by showing the screenshot in the tooltip for the marker in the `MarkerChart`.
Note that these markers are showing up in the `Compositor` thread. Maybe we should switch to that thread when clicking on the Screenshots track?

Here is an example: https://perfht.ml/2XCfHk1.

Recently we made these markers longer: they're no longer dot mar

[2019-03-04 17:52] vansjyo commented on #1543
I would like to work on this.

[2019-03-04 18:03] vansjyo commented on #1799
@canaltinova Sorry I did not notice the assign label. If @ThobyV  has not yet started working on it, could my PR be reviewed?

[2019-03-04 19:45] rajmeghpara commented on #1274
Hi @julienw , I would like to work on this issue :) CC: @canaltinova

[2019-03-04 20:50] padenot commented on #448
Can we have this prioritized? More than once I got lost when profiling, and have to match URLs to bugzilla bugs by hand.

[2019-03-05 01:23] jdk1997 commented on #1616
@canaltinova I am not able to understand what I have to do.

[2019-03-05 06:45] rajmeghpara opened #1817 "'Docs' has '...' at the end despite of not having pop up when clicking on it"
Kindly look at the "Docs" in the below image:

<img width="264" alt="screenshot 2019-03-05 at 1 50 02 am" src="https://user-images.githubusercontent.com/16744065/53786010-46375900-3f40-11e9-8b61-c6801509d62a.png">

[2019-03-05 09:59] Sshruti10 commented on #1804
@julienw Can I work on this issue?

[2019-03-05 10:05] julienw commented on #1804
fixed by https://github.com/firefox-devtools/profiler/pull/1805

[2019-03-05 10:05] #1804 closed

[2019-03-05 10:19] Sshruti10 commented on #1641
@julienw Can I take this issue?

[2019-03-05 10:29] julienw opened #1818 "When searching in the stack chart, the matched nodes should be highlighted"
STR:
1. Go to a profile (for example https://perfht.ml/2SJYNMu) in the stack chart panel
2. search for something (for example "remoteframe") (resulting permalink is: https://perfht.ml/2SIYHVp)

=> the matched nodes should be highlighted in some way

cc @padenot

[2019-03-05 10:59] canaltinova commented on #1817
To give some context here, I have been told before that we use three dots to indicate that this button is not the end of the event but there is an additional step on it(generally a popup to change something). Currently this Docs... button has a three dots but it's actually only a link to documentation. So it looks like we can remove that.
@julienw Want to double check with you to see if I remember

[2019-03-05 11:14] canaltinova commented on #1799
@vansjyo okay, since there is a PR, we can review and land it I guess. But please don't do this again if there is someone working on that already. @ThobyV probably started working on that and that wasted their time.

@ThobyV I'm sorry about this. Would you like to take #1817 or #1745 instead?

[2019-03-05 12:41] canaltinova commented on #1724
This is fixed in #1810.

[2019-03-05 12:41] #1724 closed

[2019-03-05 12:44] canaltinova commented on #1543
Assigning since there is a PR #1543.

[2019-03-05 14:21] #1458 closed

[2019-03-05 14:21] #253 closed

[2019-03-05 15:04] gregtatum commented on #1668
Resolved by #1797

[2019-03-05 15:04] #1668 closed

[2019-03-05 15:56] julienw commented on #227
Thanks, I'll check it out shortly, probably tomorrow. Sorry for the delay!

[2019-03-05 16:18] julienw commented on #1789
Humm that's interesting, beause `stateFromLocation` is also used when loading a page, and when we hit F5 on such a page this works fine. Also when pressing "back" I'm pretty sure we have a state in `history.state`. So my theory is the opposite: the `state` we have in `history.state` is incorrect at this point, for some yet unknown reason.

[2019-03-05 16:20] julienw commented on #1789
I'll investigate more on this and try to come up with a solution.

[2019-03-05 16:31] canaltinova commented on #1780
Oops, sorry @asishkr123 didn't realize that I already assigned you an issue. I'll unassign this for now. You can still get it after #1447 if this is not yet claimed. But this is up for grabs now.

[2019-03-05 17:07] ThobyV commented on #1799
Thank you so much @canaltinova, I have been with another of a mozilla project with an issue assigned to me and I had sent P.R only to realize there were more than one modules left which has made me busy. I am thankful to you for considering me. I will come take up the un-assigned issues as soon as I am free,

@vansjyo  thank you for sending a P.R fix for this issue, but try to check if someone is

[2019-03-05 19:42] rajmeghpara commented on #1745
Hi @julienw, I would like to work on this issue:) CC: @canaltinova

[2019-03-05 19:45] canaltinova commented on #1616
@jdk1997 we have a process with "rrd" `processType`. If you click on the first link, it shows "GeckoMain", but it should show more descriptive label like "Remote Data Decoder Process" instead. Inside of `getFriendlyThreadName` function, there is a switch-case, that you need to update here:
https://github.com/firefox-devtools/profiler/blob/24f53d0408f7973cf2db9783a4ca62ec7da0873a/src/profile-logic/

[2019-03-05 20:16] digitarald commented on #1261
Continued in #1802

[2019-03-05 20:16] #1261 closed

[2019-03-05 20:17] julienw commented on #1448
Thanks @shivam0211, I assign this issue to you then! Please tell us if you need anything more. The idea is to show the full path in the zip instead of just the file name.

[2019-03-05 20:20] julienw commented on #1274
hey @rajmeghpara, sure! Thanks for your help :)

[2019-03-05 20:24] julienw commented on #1641
Hey @Sshruti10, thanks for wanting to help! This issue isn't up for grabs because it intersects other patches, most notably #1816. Also that one might fix this one too, but if it doesn't, we could come back and make this issue available. So unfortunately it's not available for now, sorry about that!

[2019-03-05 20:29] julienw commented on #1817
I'm fine removing the dots, but then we should mark that this opens in a new window, for example with this icon https://design.firefox.com/icons/viewer/#open%20in%20new (but maybe it's too big ? We should try it at least)

[2019-03-05 20:30] julienw commented on #1745
Hey @rajmeghpara, I already assigned you another issue, so let's focus on that one :) Unless you prefer this one and we can switch.

[2019-03-05 21:15] digitarald commented on #1802
Collected some references, need to move them over to the PRD.

Figma's publishing dialog (docs)

![image](https://user-images.githubusercontent.com/8599/53834578-40417800-3f40-11e9-9382-0f70243aeb15.png)

Invision/Sketch flow

![image](https://support.invisionapp.com/hc/article_attachments/360008784811/studio-create-freehand.gif)

![image](https://support.invisionapp.com/hc/en-us/article_attachmen

[2019-03-05 21:23] Jiberson commented on #1780
Hi, I'm new on the project and I would like to work on this issue, is it possible?

[2019-03-06 04:29] karansapolia commented on #1780
Hey, I am an outreachy applicant, and would like to work on this issue. Am also looking to land my first PR here.

[2019-03-06 10:03] julienw commented on #1745
@rajmeghpara OK, let's switch issues :) Thanks !

[2019-03-06 10:04] julienw commented on #1274
As discussed on Slack, @rajmeghpara will work on another issue, so this one is now up for grabs!

[2019-03-06 10:14] julienw commented on #1780
Hey @Jiberson, since you're the first to ask, we're assigning this issue to you, thanks for helping!

@karansapolia, as you can see @jiberson asked before so, because we handle this on a first-come-first-served basis, I can't assign this to you. We have other issues ready to be worked on though :) Also I have to precise that our project isn't part of Outreachy in this round (we were part of the pr

[2019-03-06 10:20] julienw commented on #448
Thanks @padenot, I just discussed about this with @fqueze.
Now that we have the profile info panel, I believe we could use easily it to add an editable "name" line, and have it displayed as part of the profile info. It would be persisted in the redux state and also in the URL just like @gregtatum said above. It wouldn't be persisted with the profile info and would be purely managed locally in the

[2019-03-06 14:19] julienw commented on #669
@gregtatum hey, do you still want this?

[2019-03-06 14:34] julienw commented on #573
The work here is to create a new React "connected" component that would get the dataSource information from the redux state. If the dataSource is `from-addon` a `beforeunload` event handler should be set, and removed otherwise.

[2019-03-06 14:46] julienw commented on #510
We could add an [information icon](https://design.firefox.com/icons/viewer/#information) next to the context menu items. This information icon would have the behavior:
* on hover this would display an explanation in the form of one of the images of the aforementioned talk. We can reuse the `Tooltip` component for this
* I don't have a good idea for accessibility support here. Maybe provide the sam

[2019-03-06 14:48] julienw commented on #474
I think we can close this now that GC markers are separate. I really think we should do something similar for DOMEvent markers, but at least this bug is fixed now.

[2019-03-06 14:48] #474 closed

[2019-03-06 14:49] julienw commented on #338
Hey @mstange, do you have an example of a profile where you have 2 compositor threads? Thanks!

[2019-03-06 14:58] julienw commented on #332
The drag&drop is never mentioned, we should probably mention it in all texts.
Ideally someone with good english skills could help us here.

We can replace the `null` in https://github.com/firefox-devtools/profiler/blob/64c6c883b8639ee8859c3c594be01d03ca8e079b/src/components/app/Home.js#L127-L129
with a text like this: `it's also possible to drag and drop a profile file to this interface to load it

[2019-03-06 15:00] julienw commented on #228
Closing this now because we don't have submenus and don't plan to have any for now.

[2019-03-06 15:00] #228 closed

[2019-03-06 15:02] julienw commented on #226
I may fix this as part of implementing the concept of a "right clicked node".

[2019-03-06 15:06] julienw commented on #226
In https://github.com/firefox-devtools/profiler/blob/64c6c883b8639ee8859c3c594be01d03ca8e079b/src/components/shared/TreeView.js#L502-L505
we normally check for `event.button` so this shouldn't happen. I'm a bit puzzled :)

[2019-03-06 15:08] julienw commented on #226
Marking as "help wanted" so that somebody can help investigate.

To be clear, the bug is that if we "left click" then "right click" in a short succession, we get the "double click" action that is toggling the expand state of a row.

[2019-03-06 16:56] berkaybarlas commented on #1765
I would be very happy to try to solve this issue as my first issue.

[2019-03-06 16:58] canaltinova commented on #1765
Hey @berkaybarlas, assigning the issue to you. Let us know if you need anything!

[2019-03-06 19:56] gregtatum opened #1826 "Issues with keyboard access of the context menu"
The menu is available through keyboard shortcuts on the hidden thread indicator.

STR1:
1. display the menu using the keyboard
2. without moving the cursor, press "enter" again
=> the first element is checked/unchecked, despite that it's not selected

STR2:
1. display the menu using the keyboard
2. move the cursor on a line that's not the first one (that makes the issue more visible)
3. press ente

[2019-03-06 20:24] #1410 closed

[2019-03-06 21:04] berkaybarlas commented on #1765
I think changing [Line 176 in /src/components/app/MenuButtons.js ](https://github.com/firefox-devtools/profiler/blob/master/src/components/app/MenuButtons.js#L176)to this can solve the  problem.
``const os =
    (meta.platform.match(/android/i) && meta.platform) || (meta.oscpu || ''); `` #

[2019-03-06 21:05] gregtatum commented on #1210
Somewhat related, we want to generically try and surface `causes` even when our type system doesn't know about them. https://github.com/firefox-devtools/profiler/issues/1743

[2019-03-06 21:06] mstange commented on #338
Greg's track work fixed this. Here's a profile with two compositor threads: https://perfht.ml/2SNpJLv

The track for each process's main thread is now labeled with the process name, and if there are two compositor threads, it's clear which process each thread belongs to.

[2019-03-06 21:06] #338 closed

[2019-03-06 21:07] gregtatum commented on #958
Yes, let's close it.

[2019-03-06 21:07] #958 closed

[2019-03-06 21:13] gregtatum commented on #831
We have tests now for the connect.js function.

[2019-03-06 21:27] fqueze opened #1827 "The name of long text markers should be visible in the marker chart"
In a profile like https://perfht.ml/2UmJ47L the type of DOMEvents markers is immediately visible within the marker for the events that are long enough.
We should do the same thing for text markers that have a name. In this example profile, that's the "NotifyObservers" markers, seeing the notification in the chart without needing to look at the tooltip would be really helpful.

[2019-03-06 21:30] gregtatum commented on #1817
I believe there is a Firefox UX guide somewhere stating that if we navigate to a new page, it needs the `...` to indicate that you are navigating to a new page. This might be a bit different than a normal page UX, but this page is acting like a browser app. I'm not on board with changing the current implementation without good justification, and looking into the Firefox practices. I'm not sure whe

[2019-03-06 21:35] gregtatum commented on #1540
This fixes it if someone wants to send in a patch:

[code]

[2019-03-06 21:46] gregtatum commented on #1245
They are all aligned now.

[2019-03-06 21:46] #1245 closed

[2019-03-06 21:54] canaltinova commented on #1827
Making this a "good first issue". The codes that needs to be changed here:
https://github.com/firefox-devtools/profiler/blob/31481d7ae982d419d7c282cb659d38fbf96bb77d/src/profile-logic/marker-timing.js#L110-L124

This function takes the marker data and looks at its type. If marker type is `UserTiming` or `Tracing` then it does something special. It doesn't do anything if marker type is something el

[2019-03-06 22:00] ael-mas commented on #1827
I'd like to take on this issue if it's still available.

[2019-03-06 22:00] karansapolia commented on #1780
Thank you @julienw for the heads up. Sure, I will look into other issues.

[2019-03-06 22:04] canaltinova commented on #1827
Hey @ael-mas, sure assigning to you! Let us know if you need anything.

[2019-03-07 13:51] julienw commented on #1801
I'd like to point out that it's already not super simple because there's not only _one_ call to action. Photon gives solutions to have a primary CTA versus secondary CTAs.

[2019-03-07 14:13] julienw commented on #222
The work here would be to put the "mouse time position" in the redux state, and draw vertical lines out of this state in our various time-based panels (top timeline, stack chart, marker chart, network chart).

[2019-03-07 14:21] julienw commented on #164
@gregtatum we discussed this with Nazim right now and we still want this, except we're not sure the yellow background is the best UX for this. The yellow background is used for auto-filled form items so it would badly interact here.

We discussed about adding a blue border (top or bottom) kind of like the active tab bar in Firefox. Or a yellow border (top or bottom again) indicating "warning". But

[2019-03-07 14:22] julienw commented on #164
We think it would be useful for the case when the user opens a profile link that has a search filter already.

[2019-03-07 14:26] julienw commented on #100
From a recent discussion I recall we said we'd need a gecko patch to do this reliably, rather than rely on semantics that are not completely clear.

[2019-03-07 14:34] julienw commented on #94
Nazim and I discussed about it and we're not sure it would be a good UX to change the twisties. Chrome does the same.
Would changing the name to "Bottom up" be better (like Chrome, again)? Or should make it more obvious elsewhere that it's an inverted call tree? Probably we need some UX expert here.

[2019-03-07 14:36] julienw commented on #54
Removing "help wanted" because this seems a bit complicated for contributors. Not sure how to move that forward though...

[2019-03-07 15:50] shivam0211 commented on #1448
@julienw Can you provide me with any zip file so that I can test it ?

[2019-03-07 16:52] sudipt1999 commented on #1390
I would like to work on this!

[2019-03-07 16:53] sudipt1999 commented on #1033
Can I work on this!

[2019-03-07 16:53] sudipt1999 commented on #1251
I would like to work on this

[2019-03-07 16:54] sudipt1999 commented on #1428
I would like to work on this!

[2019-03-07 20:38] julienw commented on #1448
@shivam0211 The link in the first comment still works, you can use it directly, just replace the domain part with `http://localhost:4242` to access your local server and it should properly load it.
Hope this helps!

[2019-03-07 20:55] julienw commented on #1390
hey @sudipt1999, sure, assigning to you!

[2019-03-07 20:56] julienw commented on #1033
@sudipt1999 we already assigned you another issue, so let's focus on that one :)

[2019-03-07 20:56] julienw commented on #1251
@sudipt1999 we already assigned you another issue, so let's focus on that one :)

[2019-03-07 20:57] julienw commented on #1428
@sudipt1999 we already assigned you another issue, so let's focus on that one :)

[2019-03-07 20:57] julienw commented on #1391
@sudipt1999 we already assigned you another issue, so let's focus on that one :)

[2019-03-08 01:05] digitarald commented on #1801
@julienw what would you suggest would be the CTAs?

[2019-03-08 13:27] canaltinova commented on #1396
Closed #1809 and unassigning this issue since the account who was working on that is deleted now. Please let us know if you still want to work on this.

[2019-03-08 14:01] julienw commented on #1801
I think the current CTAs are good, but the styling doesn't make it clear which is the primary CTA; I think this is "install add-on" like Greg says, and the style should reflect this.

[2019-03-08 14:54] canaltinova commented on #1827
Fixed by #1830

[2019-03-08 14:54] #1827 closed

[2019-03-08 15:01] #716 closed

[2019-03-08 15:12] Paarmita commented on #332
Hey @julienw
I am a new contributor and an outreachy applicant, Can I try working on this issue, if it's available?

[2019-03-08 16:00] gregtatum commented on #669
Let's close for now, as the thread activity graph makes this less important.

[2019-03-08 16:00] #669 closed

[2019-03-08 16:14] julienw commented on #332
Hey @Paarmita, yes sure !
But first I'd like to warn you that this project isn't part of this Outreachy round. We'd still be glad that you decide to help us, but we'd also understand that you'll want to find another project. Please tell us what you want to do!
In the mean time I'm assigning the issue to you.

[2019-03-08 16:18] gregtatum commented on #164
<img width="811" alt="image" src="https://user-images.githubusercontent.com/1588648/54040631-758dd600-418b-11e9-81a1-a09ab0e20da7.png">
What about something like this, that's a bit more visually prominent?

[2019-03-08 16:25] gregtatum commented on #100
I think we can initially do a hack, which I think is worth doing to at least get the UI in place. Ideally we add this information to the platform.

Here is the Gecko bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1465869

[2019-03-08 16:30] gregtatum commented on #94
Instruments provides no direction indication.

<img width="579" alt="image" src="https://user-images.githubusercontent.com/1588648/54041124-8a1e9e00-418c-11e9-98e0-2e3b377bd298.png">

I couldn't find anyone who does, but I thought there was at least one tool that did.

Perhaps we could put a small icon indicator for the inverted case, with a light direction arrow pointing up and to the left.

[2019-03-08 16:34] julienw commented on #1817
@gregtatum I think the main issue here is that we have the same UX (the `...` sign) but different behaviors.
This is what the photon spec says: https://design.firefox.com/photon/components/links.html#types

[2019-03-08 16:35] julienw commented on #1817
Also this is what the spec says about ellipses: https://design.firefox.com/photon/copy/punctuation.html#ellipses

[2019-03-08 16:38] julienw commented on #338
Nice, thanks for checking!

[2019-03-08 18:42] #1799 closed

[2019-03-08 22:01] julienw opened #1839 "Discussion: have a common visual gimmick to indicate something is "on""
In several issues we've seen the need to have a visual cue that something is on:
* filter by search string #164
* inverted call stack #94
* hidden tracks (the current implementation makes it very (too much) visible IMO)

My current idea is to have a quite thick blue border on one edge (could be done with either box-shadow or outline), not unlike how the active tab is done in Firefox.

[2019-03-09 08:59] sudipt1999 opened #1841 "Typo mistake in Readme.md file . Incorrect repo name."
![Capture](https://user-images.githubusercontent.com/38929617/54068915-a814fd00-4277-11e9-9f21-269121d5c13a.PNG)

[2019-03-09 09:00] sudipt1999 commented on #1841
Added a pr to solve this https://github.com/firefox-devtools/profiler/pull/1840

[2019-03-09 11:11] Jiberson commented on #1637
Hi, I would like to start working on this issue.
I've a small PR pending (#1838 ) but I feel I can address both in parallel.

[2019-03-09 14:55] berkaybarlas commented on #1540
There is comment in DetailsContainer.css file
 /* SplitterLayout injects position: absolute, this conflicts with our using
   * Flex Layout. */
If we are using absolute how does it solves the problem?

[2019-03-09 15:06] berkaybarlas commented on #1435
I would like to work on this issue :)

[2019-03-10 00:30] lloan commented on #1274
@julienw Could I have this bug assigned to me? Thanks!

[2019-03-10 07:57] Paarmita commented on #332
Hey, @juliandescottes Thanks for assigning. I am very interested in contributing to firefox dev tools and want to work on more issues.

[2019-03-10 10:50] cassyblaise commented on #1745
@julienw hey,
I am a new contributor and an outreachy applicant, Can I try working on this issue, if it's available?

[2019-03-10 17:16] shivam0211 commented on #1448
@julienw  Can you please tell me a little more from where I can get the zip file name?

[2019-03-11 18:39] canaltinova commented on #1765
Fixed by #1828.

[2019-03-11 18:39] #1765 closed

[2019-03-11 18:45] canaltinova commented on #1841
Fixed by #1840.

[2019-03-11 18:45] #1841 closed

[2019-03-11 19:27] gregtatum commented on #1841
Woops, nice catch @sudipt1999

[2019-03-11 21:03] gregtatum opened #1846 "Write a test for dragging range selections"
I believe this regressed previously before too.

See the STR from #1845.

Ideally this test should be written a bit higher up the component hierarchy, probably using the `<Timeline />` component itself, `src/components/timeline/index.js`. It should use mouse events and the react testing library to simulate a user dragging the selection.

This test will go in: src/test/components/Timeline.test.js

[2019-03-12 00:17] crownedlake commented on #1817
@canaltinova I am interested to take up this issue.

[2019-03-12 00:18] crownedlake commented on #1817
@canaltinova can I take up this issue?

[2019-03-12 11:01] fqueze opened #1847 ""Set selection start time here" in the marker table context menu should scroll to the top"
In the marker table, when using the "Set selection start time here" context menu item, currently the selected index remains the same, but due to changing the selection, all the markers before the selected one disappear. We should move the selection to the first marker in the new list, so that the selected marker remains the same.

[2019-03-12 11:06] fqueze opened #1848 ""Copy marker name" on a FileIO marker should be more useful"
Here is an example profile with FileIO markers: https://perfht.ml/2EYLumv

Currently when selecting "Copy marker name" in the context menu, we copy the string "FileIO". I think instead we should copy for example "(PoisonIOIntereposer) create/open - icudt63l\coll\af.res".

This will be similar for all text markers once #1744 is fixed.

[2019-03-12 11:12] canaltinova commented on #1744
hey @darekd12345, have you made any progress on this? Please do ask if you are blocked on something either in here on slack.

[2019-03-12 11:24] darekd12345 commented on #1744
@canaltinova Yes, I resolved this issue (except for the unit test for search function). I'll make a PR once I'll get back from work, since I forgot to push my changes :|

[2019-03-12 14:30] gregtatum commented on #1848
We use "marker name" as we are copying the name field from the marker, but we should be copying whatever text we are displaying in the table. So to do this work, find how we are displaying that marker text, and then copy the value out of that function.

This appears to be the "name" field in `MarkerDisplayData`. This is generated in the `getDisplayData` method. See `src/components/marker-table/ind

[2019-03-12 14:33] canaltinova commented on #1817
hey @crownedlake. It looks like there is no consensus about what to do yet. Let's leave this issue for a while. Could you find another good first issue?
Removing the "good first issue" label for now.

[2019-03-12 16:14] crownedlake commented on #1817
@canaltinova sure, I will look up for another issue. Thanks :smile:

[2019-03-12 20:23] canaltinova commented on #1847
So I'm not sure about making it a "good first issue" but I think we can make it a "help wanted" because this requires a bit react/redux knowledge.

The codes need to be changed is here:

https://github.com/firefox-devtools/profiler/blob/e5b2f283b95a034be006d6d5b7555754c82c75a1/src/components/marker-table/ContextMenu.js#L50

We have a `setStartRange` function in that components that handles "Set se

[2019-03-12 20:24] canaltinova commented on #1744
@darekd12345 awesome, thanks for the update!

[2019-03-12 21:46] fqueze opened #1850 "Ellipsis on stack frames in large tooltips are frustrating"
<img width="644" alt="Capture d’écran 2019-03-12 à 22 42 37" src="https://user-images.githubusercontent.com/2633774/54238273-4b843d00-4518-11e9-99bc-1a2257a72ff8.png">

I'm not exactly sure of what needs to be done here, but having the stack frames cut with ellipsis at a smaller width than the width of the panel looks bad.

[2019-03-12 22:04] gregtatum opened #1851 "The ArrowPanel always renders the contents, even if it's not open"
This is a performance problem for an upcoming patch of mine, so I will need to fix this.

[2019-03-12 23:31] PaulBone commented on #448
If that's the plan then when loading a profile from a local file can we use the filename as the profile name? (kinda similar behaviour as something in the URL)

[2019-03-12 23:35] PaulBone commented on #1626
It looks like that helps. I don't know if it's a problem that the icon in the picture is the selected one and the one in the user's toolbar is unselected.  They have the same shape but different colour.  It was @ACleverDisguise who had the confusion anyway, he might (but probably wont) comment.

[2019-03-13 09:21] julienw commented on #1274
hey @lloan, sure!

[2019-03-13 15:10] #1371 closed

[2019-03-13 16:20] berkaybarlas commented on #1435
I think this issue related with this component https://github.com/firefox-devtools/profiler/blob/master/src/components/timeline/TrackScreenshots.js

Should we make HOVER_HEIGHT 350 ? Increasing it too much causes to poor quality.

[2019-03-13 16:43] littlebobby commented on #448
@julienw Hey, can I take this issue as my first contribution? Just to clarify the issue, there should be a **pencil icon** for editing profile name, thus triggering a change in the redux store. Am I right?

[2019-03-13 17:24] violasong commented on #448
Ah, turns out I don't have a vector pencil icon. Checking with UX to see if anyone else made one. Otherwise maybe Greg would be interested in making it :)?

Would be nice to give it a hover effect that is the same background color as the Save as File button.

[2019-03-13 17:47] violasong commented on #448
Oh wait, we do have an official pencil icon :D https://github.com/FirefoxUX/photon-icons/blob/master/icons/desktop/edit-16.svg

[2019-03-13 19:10] gregtatum commented on #1435
We should max out the screenshot size. Essentially we should test out different recordings to see what kind of images we get as inputs. Also, I'm not sure we can totally trust the 350px measurement by naively setting it, as we can get screenshots imported from other formats.

So I think the size should be determined, and then make sure that the screenshot doesn't overflow the bounds of the screen.

[2019-03-13 21:55] berkaybarlas commented on #1435
What do you guys think about this kind of behavior <a href="https://berkaybarlas.com/assets/img/previewAdaptive.gif" target="_blank">Preview</a>

I used the sizes that came from screenshots data and multiplied it with a coefficient to resize it according to screen size when needed.

[2019-03-14 13:47] digitarald commented on #448
To expose this to more users, I would put the naming in the title bar and not stash it away further in a panel. Similar in Github's issue editor in projects, the pencil can appear on hover on the project name; using the generated name (OS/FF version/etc) as placeholder. WDYT, @julienw ?

![image](https://user-images.githubusercontent.com/8599/54361711-d6eaf480-4624-11e9-959d-d8eaa585ae49.png)

[2019-03-14 13:56] digitarald commented on #1780
@whimboo could you describe a workflow that requires finding the right process id? There might be more ways that we can improve that use case.

[2019-03-14 14:05] whimboo commented on #1780
In Firefox Nightly when you hover over a tab you can see the process id the tab runs in. With that information it is easier to select/find the right content process in the profiler ui.

[2019-03-14 14:10] canaltinova commented on #1745
hey, @cassyblaise. This issue was assigned and there is already a PR. Could you find another good first issue? Also, this project is not part of Outreachy this turn. We would be happy if you contribute to the project, but also understand if you don't want to.

[2019-03-14 14:18] canaltinova commented on #1616
hey @jdk1997, are you still working on that? If you are blocked on something please don't hesitate to ask in here or on slack.

[2019-03-14 14:21] canaltinova commented on #1447
hey @asishkr123, are you still working on that one? Please do ask if you need anything.

[2019-03-14 14:24] canaltinova commented on #1390
hey @sudipt1999,  is everything going well? :) You can ask here or on slack if you need anything.

[2019-03-14 14:25] asishkr123 commented on #1447
@canaltinova  Yes,  i am working , sorry it's taking a bit of time.  I am an outreachy applicant and when i did apply for this issue i didn't realise this project wasn't part of it.  So, i will submit a PR by the end of the week.  Thanks

[2019-03-14 14:28] canaltinova commented on #1052
hey @Luna-Coder are you still working on that? Please ask if you are blocked on anything. Also, note that we are not a part of Outreachy this turn, sorry about that. If you don't want to work on this anymore, it's totally fine by us but we appreciate if you tell us :)

[2019-03-14 14:32] mstange opened #1856 "Profile comparison URLs drop their transforms"
[Here's a URL](https://profiler.firefox.com/compare/flame-graph/?globalTrackOrder=0-1&hiddenLocalTracksByPid=31944%20from%20profile%201-0~31944%20from%20profile%202-0&profiles[]=https%3A%2F%2Fprofiler.firefox.com%2Fpublic%2F177e616850fc3358fb1952ea67bac2d74e8b9d63%2Fcalltree%2F%3FglobalTrackOrder%3D0-1-2-3%26hiddenGlobalTracks%3D1-2%26range%3D3.7387_12.5536%26thread%3D0%26v%3D3&profiles[]=https%3A

[2019-03-14 14:32] PhoeniXAbhisheK commented on #1052
@canaltinova If there is no activity from @Luna-Coder , I would like to take this up 😄

[2019-03-14 14:36] canaltinova commented on #1447
We understand it's uncomfortable and it's fine if you don't want to work on this so you can focus on your Outreachy application. It's totally fine by us. Just let us know!

[2019-03-14 14:43] julienw commented on #1448
Hey @shivam0211,
Sorry for the delay as I was in holidays.

This is the code where we retrieve the profile name using the file name in the zip file:
https://github.com/firefox-devtools/profiler/blob/dd1ef15c24e65f1b198a48ef06465709f2f22071/src/selectors/url-state.js#L183-L195
I think this is where you can do the change.

Then it's used in the `ProfileViewer` component, in https://github.com/firefo

[2019-03-14 15:03] gregtatum commented on #463
Yeah, I think it's still useful, and worth having on file.

[2019-03-14 15:07] canaltinova commented on #1052
@PhoeniXAbhisheK let's wait for their response first :)

[2019-03-14 15:09] PhoeniXAbhisheK commented on #1052
@canaltinova Yes sure 👍

[2019-03-14 15:47] julienw commented on #164
I was thinking of something a bit less present like this:
![image](https://user-images.githubusercontent.com/454175/54370781-87361880-4678-11e9-820b-55e2869bdd93.png)

or

![image](https://user-images.githubusercontent.com/454175/54370828-9cab4280-4678-11e9-8d79-362ebe957c41.png)

And I would use the same logic for other "on/off" things (like the hidden thread widget) (this is #1839).

[2019-03-14 15:49] julienw commented on #100
The gecko patch doesn't look especially hard to do, or am I missing something?

[2019-03-14 15:55] julienw commented on #94
I'm very tempted to close this issue, to be honest :)

[2019-03-14 16:05] fqueze opened #1858 "Displaying 0.000ms as the time for markers that have no duration is misleading"
When a marker has no duration (because it recorded a single event), the tooltip in the marker chart shows 0.000ms:
<img width="629" alt="Capture d’écran 2019-03-14 à 17 02 48" src="https://user-images.githubusercontent.com/2633774/54372200-26f4a600-467b-11e9-889f-c09103c0e2fa.png">

The marker table instead shows '—' for the time, which is better:
<img width="538" alt="Capture d’écran 2019-03-1

[2019-03-14 16:16] julienw commented on #1540
@berkaybarlas This line explains why there's this `position: unset` line. This overrides what the SplitterLayout module injects.

But I'd suggest another approach to fix this: use `flex: none` for `.profileViewerTopBar`. This makes more sense because this applies on the element with the problem.

I'm not sure why the behavior is different in Chrome vs Firefox. I think we have some sizes that depen

[2019-03-14 16:26] julienw opened #1859 "Upgrade react-splitter-layout to v4"
Latest version of react-splitter-layout (v4) doesn't inject their CSS automatically anymore.
This is needed to fix https://github.com/firefox-devtools/profiler/issues/1233.

In this bug, we want to:
1. upgrade react-splitter-layout to v4
2. either:
    * import the default CSS
    * add custom CSS rules and remove work-arounds in `src/components/app/DetailsContainer.css`

This component is used fo

[2019-03-14 16:27] julienw commented on #1233
Latest version of react-splitter-layout (v4) doesn't inject CSS anymore. I filed #1859 to upgrade it.

[2019-03-14 17:55] fqueze opened #1860 "Showing 'unknown' in the marker table for the category of text marker is not helpful"
Instead we could put the marker name as the category and the 'payload name' as the name.

[2019-03-14 17:57] julienw commented on #1860
A text marker has the type `'Text'` and a property `name` in the payload (which is different than the marker's name which is, I think, `'Text'` as well).

This is where the change would happen:

https://github.com/firefox-devtools/profiler/blob/dd1ef15c24e65f1b198a48ef06465709f2f22071/src/components/marker-table/index.js#L90-L134

We can add a case for `'Text'` and set the category to `'Text'` and

[2019-03-14 18:05] julienw commented on #1848
@gregtatum what do you think about adding a new property `description` to our marker structure, that would be computed in `deriveMarkersFromRawMarkerTable`, instead of computing it in the MarkerTree? Then we could reuse it in the marker table (possibly changing the "name" column into a "description" column) and the marker context menu?

Related: a long time ago I added the property `title` to our

[2019-03-14 18:06] julienw commented on #1817
Let's follow what the spec says in https://design.firefox.com/photon/components/links.html#external-link :)

[2019-03-14 18:09] julienw commented on #1847
Actually I'd prefer to not fix this like this. The root cause is how we represent the selected marker at the moment. This should be fixed by my background work about markers, that's slowly moving forward.

[2019-03-14 18:13] julienw commented on #1860
actually this is already issue #1744. Closing :)

[2019-03-14 18:13] #1860 closed

[2019-03-14 18:15] julienw commented on #1850
@fqueze any profile URL that you could share? That would help a lot :)

[2019-03-14 18:35] julienw commented on #1744
Hey @darekd12345, it would be really nice if you can fix the problem of #1860 in the same time, as they seem related :) thanks!

[2019-03-14 19:04] julienw commented on #1435
hey @berkaybarlas, I think the screenshot is now too large :) The goal for this bug is to make it just slightly larger: as large as possible while still being "centered" on the mouse, so for example we should take into account the top menu's height.
Probably we could make them 700x700 max, maybe a bit larger.