[2020-10-02 16:57] julienw commented on #2825
Working on this will require going a bit deeper in our data structures but that should be doable with these explanations.

The code that deals with these stack traces is https://github.com/firefox-devtools/profiler/blob/master/src/components/shared/Backtrace.js.

That file calls `getFuncNamesAndOriginsForPath` from https://github.com/firefox-devtools/profiler/blob/2232f077181f4ccd1c21821a8da9a94e9

[2020-10-02 17:00] CipherGirl commented on #2824
So the task here is to only add the attribute `aria-expanded={String(open)}` and update the snapshots?
I'm actually an outreach applicant. Can I raise a PR?

[2020-10-02 17:10] julienw opened #2828 "The "origin" information in causes displayed in the sidebar isn't enough contrasted"
We show marker stacks either in marker tooltips, or in the sidebar of the marker table.
The "origin" information (the filename on the right of each line) isn't contrasted enough according to Firefox Devtools' accessibility panel:
![image](https://user-images.githubusercontent.com/454175/94950387-dbb31a00-04e2-11eb-8bef-03ebf5c74a65.png)

The goal for this patch is to use a better color.

Example p

[2020-10-02 17:10] inflame07 commented on #2819
@gregtatum
claiming `src/components/js-tracer`

[2020-10-02 17:12] julienw commented on #2828
This should be fairly simple: changing this line: https://github.com/firefox-devtools/profiler/blob/2232f077181f4ccd1c21821a8da9a94e9c53c267/src/components/shared/Backtrace.css#L27 with
[code]
And double check that this is now passes the check using the accessibility panel in the Firefox devtools.

[2020-10-02 17:25] CipherGirl commented on #2483
I'm wondering what is the full size of the screenshots in meant here. Won't the size be relative to window size? Can you point me how I can get the actual image size of the screenshots here? I tried to change the hover image size by altering some constant values. The image quality gets very bad.

[2020-10-02 17:48] julienw commented on #2826
The code that deals with these stack traces is https://github.com/firefox-devtools/profiler/blob/master/src/components/shared/Backtrace.js.

We would need to change how it's done (it's super simple at the moment) to extract the category information and display it.
The category information is part of the stackTable or the callNodeTable. The problem is that in `Backtrace.js` we have access to the ca

[2020-10-02 18:13] julienw commented on #2824
Hey @CipherGirl, thanks for your message! As explained on Matrix we'd like to leave this bug for newcomers :-)

[2020-10-02 18:16] julienw commented on #2819
@maulik1729 @Okwonks @inflame07 please do :-)

[2020-10-02 18:42] julienw commented on #2767
hey @vaga, if you're part of the outreachy folks, then sure! Otherwise we'd like to keep easy bugs for our outreachy contributors that will arrive starting next week. Please confirm and we can assign this bug to you :) "Normal" contributing will resume in November.

[2020-10-02 18:44] julienw commented on #2809
Hey @GrooChu, please start a pull request, it's much easier to look at changes in context with the rest of the code. Thanks!

[2020-10-02 18:57] thejozhou commented on #2824
I'd love to onboard and take this bug as a newcomer if that sounds good!

[2020-10-02 20:23] CipherGirl commented on #2824
@julienw Sure, I actually saw the updated contribute.md about converting good first issues to outreachy later. It was inconvenient of me commenting in this issue. I'm sorry. I'm looking forward to contribute on other issues.

[2020-10-02 20:56] julienw commented on #2493
Hey @mstange, just wondering if you still work on this more after #1878. Thanks!

[2020-10-02 20:58] julienw commented on #2804
hey @akshay1992kalbhor, how is it going? Were you able to work on this? Do you need some guidance? Thanks!

[2020-10-02 21:00] julienw commented on #2765
I think this has been fixed with #2774, please reopen otherwise :-)

[2020-10-02 21:00] #2765 closed

[2020-10-02 21:01] julienw commented on #2691
Sorry @harshilparmar we didn't see your message for some reason. I'll assume that you moved on and worked on something else, but please ping if you still want to look at this! Thanks.

[2020-10-02 21:29] julienw commented on #2691
There seems to have a problem in Firefox, where padding-bottom isn't applied in scrollable elements. Instead we'll specify a margin in the inner element.
In `src/components/sidebar/sidebar.css`, replace `padding: 1em` and `padding-inline-start` in `.sidebar` by these entries in `.sidebar-contents-wrapper`:
[code]
`16px` is bigger than the previous `1em` but this is closer to the photon spec. Hopef

[2020-10-02 21:31] julienw commented on #2691
[example profile](https://profiler.firefox.com/public/2b38186f16b0ab99e3c691b2b04869543b40e504/calltree/?globalTrackOrder=0-1&localTrackOrderByPid=4176-1-2-0~6176-0-1~&thread=0&v=5)

[2020-10-02 21:32] julienw commented on #2688
I'm reluctant to make this a mentored bug, because I think this will be handled in the marker revamp. What do you think @gregtatum ?

[2020-10-02 21:37] julienw commented on #1001
This is still current and pretty well self-contained!

[2020-10-02 21:39] julienw commented on #226
I can't reproduce either. Thanks!

[2020-10-02 21:39] #226 closed

[2020-10-02 21:44] julienw commented on #1938
I believe this won't be necessary anymore after the recent work, because less markers will be in the timeline, hopefully.

[2020-10-02 21:44] #1938 closed

[2020-10-02 21:47] julienw commented on #1998
Actually we never do a permalink to localhost. What happens in #1995 is that we do a permalink to profiler.firefox.com, but with a `/from-url/` referencing a localhost URL. I'm not sure of the best way to handle this case...

[2020-10-02 21:49] julienw commented on #1995
I believe we can upload these profiles now. Do you see that as well @ochameau ?

[2020-10-02 21:51] julienw commented on #998
I believe these errors are much less frequent now, and that we have a better error message since we moved to the new server.

[2020-10-02 21:51] #998 closed

[2020-10-02 21:53] julienw commented on #994
I believe this will be handled by Markers 2.0.

[2020-10-02 21:53] #994 closed

[2020-10-02 22:17] julienw commented on #1818
`src/components/stack-chart/Canvas.js` should take the search strings regexp, passed by `src/components/stack-chart/index.js`. It can be get from the state with this selector:
[code]

Then, in the canvas' `drawCanvas` we can use this regexp to test the `text` value (don't forget to set its `lastIndex` property to 0 before using it), and use `strokeRect` on the same values to make a border. Or poss

[2020-10-02 22:33] julienw commented on #2103
We need:
* a new action `SHOW_ALL_TRACKS` that will reset the Set of `hiddenGlobalTracks` and the Map of `hiddenLocalTracksByPid` (in `src/reducers/url-state.js`), and also add +1 in `panelLayoutGeneration` in `src/reducers/app.js`. The action will need to be added in the `types/actions` file too.
* a new action function in `actions/profile-view` to trigger this new action. Better put the new func

[2020-10-03 03:40] harshilparmar commented on #2691
@julienw Yes I am ready to do this

[2020-10-03 05:15] hetpatel33 commented on #2828
@julienw Can I work on this?

[2020-10-03 06:29] hetpatel33 commented on #2825
@julienw Can I work on this?

[2020-10-03 08:01] vaga commented on #2767
I'm not! No problem

[2020-10-03 09:33] maulik1729 commented on #1870
@julienw can I work on this?

[2020-10-03 09:45] AO19 commented on #1870
I've already started with a PR for this issue, but some tests are simply failing because of date formatting and white space between `10 %` and `10%`.

So not really connected to the eslint rule 😄

![image](https://user-images.githubusercontent.com/33397118/94988489-d64ee180-056d-11eb-902a-5a947de288a0.png)

[2020-10-03 12:28] CipherGirl commented on #2483
I actually misunderstood the issue at first, I thought the screenshots were of the actual size of the browser. I also thought of moving the hover image down meant below the track. So I guess removing the code you mentioned is all required here. But I'm having a problem in the test,
![image](https://user-images.githubusercontent.com/37832457/94991564-dc60b480-05a5-11eb-81b6-08e09675ca1b.png)

I gue

[2020-10-03 12:48] CipherGirl commented on #222
@gregtatum Although I'm not finished with my other issue, I'd like to get assigned to this one. If it's not urgent then assign me as I'd take a couple of days to go through the requirements here and also some resources about testing. I'll keep you posted on matrix about this, or if I need to know anything. Thanks!

[2020-10-04 11:27] maulik1729 commented on #2824
Hey, @julienw I worked on this Please review my PR.

[2020-10-04 11:28] maulik1729 commented on #2603
hey @canova I have worked on this Please review my PR.

[2020-10-05 09:39] canova commented on #1870
@AO19 hey, it looks like @maulik1729 asked to be assigned first, and they created a PR already. Would you mind working on a different issue?
In regard to the issue you are having, I think these errors are appearing because of a different locale your computer has. That seems like a bug, would you mind creating an issue for this? It would be great if the issue includes which locale your computer has

[2020-10-05 10:01] canova commented on #1870
@AO19 oh, it looks like it's a known issue on windows. It's filed here: https://github.com/firefox-devtools/profiler/issues/2356 It looks tricky.

[2020-10-05 10:21] #2691 closed

[2020-10-05 12:51] miggs125 commented on #2624
I would like to work in this :)

[2020-10-05 13:44] maulik1729 commented on #1870
@canova please review my PR

[2020-10-05 13:45] maulik1729 commented on #2819
@julienw please review my PR

[2020-10-05 14:38] #2824 closed

[2020-10-05 14:50] maulik1729 commented on #1870
@canova updated PR, please review

[2020-10-05 14:52] #573 closed

[2020-10-05 15:08] #1870 closed

[2020-10-05 15:09] julienw opened #2840 "Make a few adjustments to the top left profile name editing button"
The top left profile name editing button isn't very discoverable. In this issue we want to make it more similar to the other buttons in the same top bar.

This should be fairly easy: adding the class menuButtonsButton to this button:
https://github.com/firefox-devtools/profiler/blob/b0d72b7157330581702c25242420d111ead9818f/src/components/app/ProfileName.js#L122-L133

We can also slightly adjust th

[2020-10-05 15:19] canova commented on #2825
Hi @hetpatel33, assigning the issue to you since you have a PR. But I also see that you've worked on some "outreachy onboarding" issues already. It would be good to work on more challenging issues next. You can take a look at the ["help wanted" issues](https://github.com/firefox-devtools/profiler/issues?q=is%3Aopen+label%3A%22help+wanted%22+-label%3A%22outreachy+onboarding%22+).

[2020-10-05 15:35] canova commented on #2824
@thejozhou sorry, but it looks like the issue is resolved already. Would you mind taking another "outreachy onboarding" issue?

@maulik1729 please do not claim an issue if someone else has recently claimed the issue already.

[2020-10-06 09:16] GrooChu commented on #2809
@julienw Kindly review the attached PR and let me know if you have any comments. Thanks

[2020-10-06 09:22] #2474 closed

[2020-10-06 10:10] GrooChu commented on #2840
@julienw Can I work on this?

[2020-10-06 20:28] nibble0101 commented on #2819
@julienw . Can I please work on `src/components/marker-table`?

[2020-10-07 05:48] nibble0101 opened #2847 "Loading in profiles for development section of Contributing to the Firefox Profiler guide is confusing."
I am reading through the [Contributing to the Firefox Profiler](https://github.com/firefox-devtools/profiler/blob/main/CONTRIBUTING.md) guide while trying to set up the project locally. [loading in profiles for development](https://github.com/firefox-devtools/profiler/blob/main/CONTRIBUTING.md#loading-in-profiles-for-development) section briefly confused me because the introductry statement says:

[2020-10-07 16:59] itolimaesther commented on #2840
@julienw am one of the outreachy applicant. Can I work on this issue?

[2020-10-07 17:03] codershona commented on #2840
@julienw can I work on this issue?

[2020-10-07 17:05] itolimaesther commented on #2767
@julienw  am an outreachy applicant. Can I work on this issue

[2020-10-07 17:08] itolimaesther commented on #2823
@julienw  am an outreachy applicant. Can I work on this issue?

[2020-10-07 17:09] itolimaesther commented on #2810
@julienw  am an outreachy applicant. Can I work on this issue?

[2020-10-07 17:13] canova commented on #2767
Hi @itolimaesther, assigning this issue to you, since this is the one you wanted to work first. But please work on one issue at a time instead of claiming a few. That way, other people also get a chance to find something to work on.

[2020-10-07 17:14] canova commented on #2840
Hi everyone, it looks like this issue has a PR already. So assigning to that person.

[2020-10-07 17:17] js636f commented on #1818
Hello! I'm an outreachy applicant. May I work on this issue?

[2020-10-07 17:17] canova commented on #2823
Hi @itolimaesther, I just assigned an issue to you already. As a policy we want people to work on one thing at a time, so not assigning this issue to you.

This issue is still up for grabs if anyone is interested!

[2020-10-07 17:17] itolimaesther commented on #1609
@julienw  has this issue been fixed? If No, Can I work on this issue

[2020-10-07 17:18] canova commented on #2810
Hi @itolimaesther, I just assigned an issue to you already. As a policy we want people to work on one thing at a time, so not assigning this issue to you.

This issue is still up for grabs if anyone is interested!

[2020-10-07 17:20] itolimaesther commented on #2767
Alright Thanks.

[2020-10-07 17:27] canova commented on #2767
Thanks for the understanding. We appreciate the enthusiasm though, I would recommend switching up to "help wanted" issues once you feel more comfortable with the project with one or two "outreachy onboarding" issues!

[2020-10-07 17:30] canova commented on #1818
Hi @js636f ! Sure, assigning the issue to you. Let us know if you need anything!

[2020-10-07 17:35] codershona commented on #2828
@julienw Can I work on this issue?

[2020-10-07 17:43] canova commented on #2828
Hey @codershona this issue looks assigned too. Would you mind picking another one?

[2020-10-07 17:48] codershona commented on #2768
Hello, I got approved as outreachy applicant can I work on these issues?

[2020-10-07 17:49] canova commented on #2768
Hi @codershona! Sure, assigning the issue to you. Please let us know if you need anything!

[2020-10-07 17:57] mariagus commented on #2823
Hi @julienw , I'd like to work on this issue if possible. I'm an outreachy applicant.  Thanks.

[2020-10-07 18:34] canova commented on #2828
Fixed by #2830.

[2020-10-07 18:34] #2828 closed

[2020-10-07 18:57] js636f commented on #1818
Hi, @canova ! Thank you! I'm working on this. I'll write if I have some questions.

[2020-10-07 18:59] mariagus commented on #2823
Hi @julienw , I'm an outreachy applicant. Would it be possible to work on this issue?
Thanks!

[2020-10-07 19:07] lape15 commented on #2819
@julienw Please can i work on this

[2020-10-07 19:12] hannydevelop commented on #2103
Hello! I am an outreachy applicant, can i work on this issue?

[2020-10-07 19:15] hannydevelop commented on #2810
Hello! I am an outreachy applicant, can i work on this issue?

[2020-10-07 19:25] km-js commented on #2819
I would like to contribute on this.

[2020-10-07 19:28] km-js commented on #2618
Hey, I would like to work on this.

[2020-10-07 19:59] aintabb commented on #2103
I'd like grab this one also if there is no else working.

[2020-10-07 19:59] gregtatum commented on #2819
@lape15 @km-js I'm updating the table right now, would you all mind claiming one of the file paths, and then I can mark your name next to it.

[2020-10-07 20:06] Riju19 commented on #2139
Hey, I'd like to work on this!

[2020-10-07 20:23] hannydevelop commented on #2103
Hello! I am working on this already @aintabb

[2020-10-07 20:32] mstange opened #2852 "Thread graph stack tooltips have become too big"
Profile: https://share.firefox.dev/3d7LYaC

Hovering over the grey graph bits in the Renderer thread opens a tooltip that's extremely big and which covers all of the call tree. I think this looked different before.

<img width="1440" alt="Screen Shot 2020-10-07 at 4 32 19 PM" src="https://user-images.githubusercontent.com/961291/95384508-b8a9b100-08ba-11eb-94a4-91ebe8f9ff61.png">

[2020-10-07 20:33] lape15 commented on #2819
@gregtatum claiming src/components/tooltip

[2020-10-07 20:44] canova commented on #2823
Hi @mariagus, assigning the issue to you. Let us know if you need anything!

[2020-10-07 21:06] #2603 closed

[2020-10-07 21:22] miami78 commented on #2819
Hi @gregtatum claiming src/components/calltree

[2020-10-07 21:24] ZHanimK commented on #1785
I am an outreachy applicant. I would like to work on this issue.

[2020-10-08 01:24] Segun-Ogundipe commented on #2819
Hi @gregtatum, can I please work on src/components/app?

[2020-10-08 01:56] Segun-Ogundipe commented on #2819
Hi @gregtatum,  following your message on the #profiler chat, I have claimed "src/components/app"

[2020-10-08 03:44] anap226 commented on #2819
Hi @gregtatum, hi @julienw. I'd like to work on the "src/components/shared", please. Thanks

[2020-10-08 05:23] NisaSource commented on #2819
Hi @gregtatum claiming src/components/marker-chart

[2020-10-08 07:27] CipherGirl commented on #2483
@julienw Can you have a look? I actually can't figure out the problem in the test.

[2020-10-08 08:02] canova commented on #2103
Hi @hannydevelop, assigning the issue to you. Let us know if you need anything!

@aintabb This issue was claimed already as @hannydevelop said. Can you please find another one?

[2020-10-08 08:19] canova commented on #2139
Assigned to you, @Riju19. Let us know if you need anything!

[2020-10-08 08:21] canova commented on #2509
It looks like this issue is fixed by #2586. Closing it.
@gwarser please let us know if it's still not ideal for you, we can adjust to make it better.

[2020-10-08 08:21] #2509 closed

[2020-10-08 08:25] canova commented on #2819
Updated the chart with the people who claimed it. Thanks!

[2020-10-08 08:33] raymond-sikpojie commented on #2819
Hey @gregtatum, I'd like to claim src/components/sidebar

[2020-10-08 08:38] canova commented on #2810
Hi @hannydevelop, I see that you claimed also #2103. I assigned that one to you, but as a policy we want people to work on one thing at a time. I'm not assigning this to you. Please also claim one thing in the future so other people can find things to work as well, thanks!

So this issue is still up for grabs if anyone is interested!

[2020-10-08 08:45] canova commented on #2618
Hi @km-js, assigning the issue to you. Let us now if you need anything!

[2020-10-08 09:12] Segun-Ogundipe commented on #2819
@canova, @gregtatum, two PRs have been raised for this. Kindly review. Thanks.

[2020-10-08 09:30] julienw commented on #2819
hey @raymond-sikpojie, thanks for looking here! But as you can see all components have been claimed here already.

[2020-10-08 09:44] codershona commented on #2852
Hello Can I work on this issue?

[2020-10-08 09:45] canova opened #2856 "Fix the types of some of the ProfilerOverheadStats object fields"
We have a type for Overhead statistics, and all its values are `Microseconds` right now:
https://github.com/firefox-devtools/profiler/blob/dcb8c42af81c7ee6f14c1fa5be9881dc5d03c115/src/types/profile.js#L459-L482

But some of it's values are not actually Microseconds. For example `samplingCount` is just a `number` and `overheadPercentage` is a percentage. So we should fix these types to reflect the

[2020-10-08 09:49] canova commented on #1785
Hi @ZHanimK, this is a meta issue for questions and answers, so it's not an issue for a specific task. Can you pick one of the other issues please?

[2020-10-08 09:54] NisaSource commented on #2856
Hi @canova I'd like to claim this issue. Could you please assign it to me?

[2020-10-08 09:59] A-DML commented on #2856
Hi @canova , I will like to work on this issue for my outreachy internship contribution

[2020-10-08 10:07] julienw commented on #2852
Indeed we restrict the width in the Marker tooltip only. Maybe we should have a default "max-width" value at the tooltip level already.

The "flag" I'm talking about is actually a CSS custom variable `--tooltip-detail-max-width`, it's set in https://github.com/firefox-devtools/profiler/blob/475eea526b86b09625e7cb722cb619d70ba67364/src/components/tooltip/Marker.js#L390-L392, and we can see it's obe

[2020-10-08 10:09] canova commented on #2856
Hi @NisaSource, since you've merged a PR already, I think you can take a bit more challenging task than this. For example you can look at this: #2810. Don't worry it's still not too hard, and there are instructions in the issue. But this issue is more like for people to have their first contribution, so they can set up their project and get used to the workflow. Thanks!

Hi @A-DML, usually our iss

[2020-10-08 10:11] NisaSource commented on #2856
@canova Cool, I will start working on #2810  now. Thanks

[2020-10-08 10:16] Somaru-chan commented on #2856
Hi. I'm an Outreachy applicant. Are there any more issues that are good for first time contributors?
Thanks!

[2020-10-08 10:18] canova commented on #2810
Assigning this to @NisaSource as discussed.

[2020-10-08 10:38] julienw commented on #2139
Here is the unfinished PR as an inspiration: https://github.com/firefox-devtools/profiler/pull/2170
Maybe most of this code haven't changed, so maybe it's possible to take it and rebase it on top of latest code.

[2020-10-08 10:44] julienw commented on #2483
Sorry I missed your ping earlier @CipherGirl!
I don't see your PR yet, have you created it properly?

I'm a bit concerned with the test, but I'd like to look at it with the rest of the code :) thanks!

[2020-10-08 10:46] A-DML commented on #2856
Thanks @canova i will get to work

[2020-10-08 11:19] canova commented on #2856
Hi @Somaru-chan, we've had a lot more people coming than we expected. We are working on adding more "outreachy onboarding" issues or converting old issues by adding more context but it takes some time for us to file issues with writing everything needed. I would recommend you to follow the "outreach onboarding" label and we will have more issues coming today and the following days.

[2020-10-08 11:21] lape15 commented on #2819
Did some tests fail when pushing to git on your end ? @Segun-Ogundipe

[2020-10-08 11:21] Somaru-chan commented on #2856
@canova I see. Thanks for letting me know.

[2020-10-08 11:43] julienw commented on #2819
Hey @lape15, it's always possible some tests fail, and obviously we'll need to fix it before merging. However you can always push using `--no-verify` to skip tests, and open a pull requests, so that somebody from our team can have a closer look. Hope this helps!

[2020-10-08 11:53] julienw commented on #2691
BTW, this was because of https://bugzilla.mozilla.org/show_bug.cgi?id=748518 https://bugzilla.mozilla.org/show_bug.cgi?id=1527949. Sadly.

[2020-10-08 11:54] julienw opened #2858 "Add a padding to the call tree and marker sidebars when they're empty"
In the recent PR #2837 we remove the padding on `.sidebar` to add a margin on `.sidebar-contents-wrapper`. But we don't have this element in empty sidebars.

Therefore the goal for this patch is to add this `<div class="sidebar-contents-wrapper">` in these cases too.

Relevant code parts: https://github.com/firefox-devtools/profiler/blob/475eea526b86b09625e7cb722cb619d70ba67364/src/components/side

[2020-10-08 12:05] Grace-00 commented on #2858
Hi! I understand it's good practice to claim an issue so that others know that somebody else is already working on it. Can I work on this one? :)

[2020-10-08 12:11] KarenEfereyan commented on #2858
I guess this is taken then, @julienw ?

[2020-10-08 12:13] KarenEfereyan commented on #2852
@julienw no one seems to be working on this issue yet. Can i take it up?

[2020-10-08 12:16] lape15 commented on #2819
Thank you I have done that.

[2020-10-08 12:44] raymond-sikpojie commented on #2858
Can I claim this issue? @julienw

[2020-10-08 12:56] NisaSource commented on #2810
@gregtatum @canova My test is failing
![Screen Shot 2020-10-08 at 20 53 12](https://user-images.githubusercontent.com/55099717/95461046-562ede80-09a8-11eb-9b48-fb371f786391.png)

Seems that this snippet is not creating test profile data
`    const exampleProfileData = {
      profileToken: 'MACOSX',
      jwtToken: null,
      publishedDate: new Date('4 Jul 2020 13:00'),
      name: 'Example Profi

[2020-10-08 13:04] gregtatum commented on #1628
Resolved with #1822

[2020-10-08 13:04] #1628 closed

[2020-10-08 13:07] gregtatum commented on #765
I'm marking this as done with #2401. We can always add it in more places, but we should file new issues for that.

[2020-10-08 13:07] #765 closed

[2020-10-08 13:10] fqueze opened #2860 "Using the main branch of the profiler should be easy"
To reduce the likelihood of deploying annoying regressions in production, it would be nice to have a few frequent users of the profiler use the main branch instead of the production branch.

Currently it's possible to change a pref in about:config to change the capture url, but that's not very helpful in this case because people are usually capturing profiles in instances of Firefox which isn't th

[2020-10-08 13:12] gregtatum commented on #2860
The url is: https://main--perf-html.netlify.app/

[2020-10-08 13:12] raymond-sikpojie commented on #2852
I'd love to take up this issue for my first Outreachy contribution @julienw

[2020-10-08 13:17] Somaru-chan commented on #2860
Hi. I'm an Outreachy applicant. How can I contribute to this issue?

[2020-10-08 13:25] lorelajano commented on #2858
Hello @julienw . Can I work on this? I am an Outreachy applicant.

[2020-10-08 13:27] canova commented on #2852
Hi @KarenEfereyan, assigning the issue to you. Let us know if you need anything!

@raymond-sikpojie sorry but the issue was claimed already. Can you pick another issue?

[2020-10-08 13:30] canova commented on #2858
Hi @Grace-00, sure I'm assigning the issue to you. Let us know if you need anything!

@KarenEfereyan, @raymond-sikpojie, @lorelajano: Sorry folks, first person who claims the issue takes it. Could you find another issue, please?

[2020-10-08 13:50] lorelajano commented on #2860
Hello , I am an Outreachy applicant and I wanted to make my first contribution. Can I work on this?

[2020-10-08 13:54] lorelajano commented on #2782
Please can you give some instructions on this . Where is LogMarkers

[2020-10-08 13:55] julienw opened #2862 "Write a script to simplify deployments and rollbacks"
Our deploy process is longer than it should be, because it involves going through a sequence of actions on Github Web UI.

Instead we can leverage the command line using git, github cli, and/or directly calling the github API, to make it easier.

Some tips:
* generate a changelog (assumes `moz` is the upstream remote -- can we infer that?)
[code]
* checks that production doesn't have any unwanted

[2020-10-08 14:05] julienw commented on #2782
Sorry @lorelajano, this isn't ready to be worked on by external contributors at this point, as we may have to patch Firefox.

[2020-10-08 14:09] gregtatum commented on #2860
Welcome to the project @Somaru-chan @lorelajano, please look for issues tagged outreachy onboarding, or help wanted. We're currently working on creating some more issue that aren't claimed, so please be patient with us if most of them are already claimed. We're working on getting some more ready.

[2020-10-08 14:12] burianovata commented on #2705
Hi! I'm Outreachy applicant. Can I work on this please?

[2020-10-08 14:13] lorelajano commented on #2705
Can I work on this? I am an Outreachy applicant

[2020-10-08 14:16] canova commented on #2705
Hi @burianovata, assigning it to you, please let us know if you need anything!

[2020-10-08 14:44] gregtatum opened #2864 "Update screenshots on the documentation UI tour"
https://profiler.firefox.com/docs/#/./guide-ui-tour

File is located here: https://github.com/firefox-devtools/profiler/blob/main/docs-user/guide-ui-tour.md

Our UI tour is out of date. It would be good to update it with new screenshots.

* Use this profile: https://share.firefox.dev/30LngYZ
* Replace each screenshot with a new one.
* Draw a new outlined box around the relevant sections. I origina

[2020-10-08 14:45] julienw commented on #2781
DOMEvent now have `DOMEvent` in the tooltip label, and UserTiming have a line `Marker: UserTiming`. Maybe this isn't ideal for UserTiming markers yet, but at least better than what it was, and I think we can wait until Markers 2.0 is over to fix this, probably in Gecko directly once the schemas will be defined there.

[2020-10-08 14:45] #2781 closed

[2020-10-08 14:46] #2840 closed

[2020-10-08 14:46] lorelajano commented on #2864
Can I work on this?

[2020-10-08 14:48] gregtatum commented on #2864
@lorelajano Sure!

[2020-10-08 14:56] Segun-Ogundipe commented on #1785
Hi @canova, I have a PR merged already and there are no more "outreach onboarding" issues that aren't assigned. Can I get assigned to a non-onboarding issue or wait for more onboarding issues to be added?

[2020-10-08 14:57] gregtatum commented on #2710
Currently, the only way to add multiple threads to a selection is to ctrl click.

The behavior for multiple selections with shift click is:

Given these tracks:

[code]

Click "LocalTrack 3"

[code]

Shift click "LocalTrack 6"

[code]

[2020-10-08 15:03] Segun-Ogundipe commented on #2499
Hi @julienw, I'll like to claim this issue.

[2020-10-08 15:03] gregtatum commented on #2688
This is not currently handled by the marker schema (although it could). I think this is fine to add. The work here is to display mstange's message for all markers. Right now we are only handling style and reflow.

Here is the code:

https://github.com/firefox-devtools/profiler/blob/1c1d0b8bdbad2564bb6988fc1078fcd384d9b643/src/components/tooltip/Marker.js#L315-L321

[code]

In review we'll need to

[2020-10-08 15:11] gregtatum opened #2865 "[meta] Use only absolute imports in the project"
Please do not claim this issue, but look for other issues that refer to this one. This issue is for tracking migrating to using absolute imports everywhere in the project. The relative imports are hard to maintain, and hard to search. They are tedious to write, so we've decided to move to using all absolute imports. This issue will track the work to do that.

[2020-10-08 15:17] mstange commented on #2705
As for the text, I suggest creating a new row in the Platform section, after the ABI row, like this:

`CPU: 4 physical cores, 8 logical cores`

(And we should correctly use singular "core" if there's only one, e.g. `CPU: 1 physical core, 1 logical core`)

[2020-10-08 15:18] mstange commented on #2483
You're right, windowWidth and windowHeight are the original size of the window, but the image in the profile is a scaled-down version. It's usually much smaller but it should always have the same aspect ratio.

[2020-10-08 15:21] gregtatum opened #2867 "Migrate relative paths to absolute: src/actions part 1"
See #2865 for details on how to work on this issue. These are good first issues, please only claim one at a time. This issue is for handling the following files in the `src` folder

[code]

[2020-10-08 15:21] gregtatum opened #2868 "Migrate relative paths to absolute: src/actions part 2"
See #2865 for details on how to work on this issue. These are good first issues, please only claim one at a time. This issue is for handling the following files in the `src` folder

[code]

[2020-10-08 15:23] codershona commented on #2868
Hello, Can I work on this issue?

[2020-10-08 15:23] Somaru-chan commented on #2867
Hi. Can I work on this issue?

[2020-10-08 15:23] gregtatum opened #2869 "Migrate relative paths to absolute: src/app-logic"
See #2865 for details on how to work on this issue. These are good first issues, please only claim one at a time. This issue is for handling the following files in the `src` folder

[code]

[2020-10-08 15:23] gregtatum opened #2870 "Migrate relative paths to absolute: src/components/app part 1"
See #2865 for details on how to work on this issue. These are good first issues, please only claim one at a time. This issue is for handling the following files in the `src` folder

[code]

[2020-10-08 15:25] gregtatum opened #2871 "Migrate relative paths to absolute: src/components/app part 2"
See #2865 for details on how to work on this issue. These are good first issues, please only claim one at a time. This issue is for handling the following files in the `src` folder

[code]

[2020-10-08 15:25] codershona commented on #2870
Hello, Can I work on this issue?

[2020-10-08 15:25] gregtatum opened #2872 "Migrate relative paths to absolute: src/components/app part 3"
See #2865 for details on how to work on this issue. These are good first issues, please only claim one at a time. This issue is for handling the following files in the `src` folder

[code]

[2020-10-08 15:26] codershona commented on #2869
Hello, Can I work on this issue?

[2020-10-08 15:26] gregtatum opened #2873 "Migrate relative paths to absolute: src/components/app part 4"
See #2865 for details on how to work on this issue. These are good first issues, please only claim one at a time. This issue is for handling the following files in the `src` folder

[code]

[2020-10-08 15:26] raymond-sikpojie commented on #2872
Can I take this?

[2020-10-08 15:28] gregtatum commented on #2867
Sure!

[2020-10-08 15:29] gregtatum commented on #2872
Sure!

[2020-10-08 15:29] julienw commented on #2674
This is a hard topic. I tried a bit making the grey darker, but then it's not contrasted enough with eg yellow, and so there are more problems in the activity graph.
Should we have a border on the rectangles that are paler? In the flamegraph this could work, but the stack chart could be too busy.

[2020-10-08 15:29] gregtatum commented on #2870
Sure!

[2020-10-08 15:31] gregtatum commented on #2868
Sure!

[2020-10-08 15:31] Aneesa-jpg commented on #2873
Hi @gregtatum Can I work on this? :)

[2020-10-08 15:31] gregtatum commented on #2869
@codershona Let's leave this one open for other contributors for now, since another one of these has been assigned to you.

[2020-10-08 15:32] gregtatum commented on #2870
Actually this one is still open as, @codershona is already assigned to another issue.

[2020-10-08 15:33] miami78 commented on #2871
@gregtatum  let me have a go at this

[2020-10-08 15:33] gregtatum opened #2874 "Migrate relative paths to absolute: src/components/calltree and flame-graph"
See #2865 for details on how to work on this issue. These are good first issues, please only claim one at a time. This issue is for handling the following files in the `src` folder

[code]

[2020-10-08 15:38] gregtatum opened #2875 "Migrate relative paths to absolute: src/components/js-tracer and marker-chart"
See #2865 for details on how to work on this issue. These are good first issues, please only claim one at a time. This issue is for handling the following files in the `src` folder

[code]

[2020-10-08 15:38] codershona commented on #2874
Hello, can I work on this issue?

[2020-10-08 15:38] Yoric commented on #2674
Is that because the border is too dark? Maybe having a subtler border would work?

[2020-10-08 15:40] gregtatum opened #2876 "Migrate relative paths to absolute: src/components/shared part 1"
See #2865 for details on how to work on this issue. These are good first issues, please only claim one at a time. This issue is for handling the following files in the `src` folder

[code]

[2020-10-08 15:40] gregtatum opened #2877 "Migrate relative paths to absolute: src/components/shared part 2"
See #2865 for details on how to work on this issue. These are good first issues, please only claim one at a time. This issue is for handling the following files in the `src` folder

[code]

[2020-10-08 15:41] gregtatum opened #2878 "Migrate relative paths to absolute: src/components/shared part 3"
See #2865 for details on how to work on this issue. These are good first issues, please only claim one at a time. This issue is for handling the following files in the `src` folder

[code]

[2020-10-08 15:42] gregtatum opened #2879 "Migrate relative paths to absolute: src/components/sidebar and tooltip"
See #2865 for details on how to work on this issue. These are good first issues, please only claim one at a time. This issue is for handling the following files in the `src` folder

[code]

[2020-10-08 15:43] gregtatum opened #2880 "Migrate relative paths to absolute: src/components/timeline part 1"
See #2865 for details on how to work on this issue. These are good first issues, please only claim one at a time. This issue is for handling the following files in the `src` folder

[code]

[2020-10-08 15:43] gregtatum opened #2881 "Migrate relative paths to absolute: src/components/timeline part 2"
See #2865 for details on how to work on this issue. These are good first issues, please only claim one at a time. This issue is for handling the following files in the `src` folder

[code]

[2020-10-08 15:44] gregtatum commented on #2873
Sure!

[2020-10-08 15:45] gregtatum commented on #2871
Sure!

[2020-10-08 15:48] gregtatum commented on #2810
@NisaSource please open up a draft PR, this will help us see what exactly was changed to help give advice here.

[2020-10-08 15:54] KarenEfereyan commented on #2852
Thank you @canova. @raymond-sikpojie there are new issues. Check them out

[2020-10-08 15:55] julienw commented on #2654
The goal here is to display a specific message to Firefox for Android.

1. Add a new state `'firefox-android'` to https://github.com/firefox-devtools/profiler/blob/8a22ab802964988777a55be4bff2197dbec4bdf2/src/components/app/Home.js#L236-L244
2. Add a `isMobile` function at the bottom, near `isFirefox`. Probably we can check for /\Android\b/. ([see all Firefox user agents here](https://developer.mo

[2020-10-08 15:56] ijeomaemeruwa commented on #2874
Hello, please i'd like to claim this isuue. Thanks

[2020-10-08 16:14] codershona commented on #2881
Hello, I had just finished my #2868 issues and request for pull request now, so in this case, can I take this issue to work in>

[2020-10-08 16:35] LizzyKate commented on #2878
I am working on this issue.

[2020-10-08 16:56] nibble0101 commented on #2879
@gregtatum  Can I work on this?

[2020-10-08 17:03] Cheederah commented on #2880
Please @gregtatum , i would like to work on this

[2020-10-08 17:08] ZHanimK commented on #2877
Can I work on this one?

[2020-10-08 17:22] KarenEfereyan commented on #2852
@julienw  I have been able to replicate the issue.
![reproduce](https://user-images.githubusercontent.com/56835876/95492028-63d96980-0992-11eb-8994-20d232072016.jpg)
![marker](https://user-images.githubusercontent.com/56835876/95492137-8cf9fa00-0992-11eb-91a9-8a7794d03dff.jpg)
![backtrace](https://user-images.githubusercontent.com/56835876/95492253-b450c700-0992-11eb-9421-e1669bddccec.jpg)
However

[2020-10-08 17:23] Somaru-chan commented on #2867
Thanks for assigning me, Greg! Just wanted to confirm with you about using Gitpod to make the changes required in these files. Would there be a problem if I fork from there?

[2020-10-08 17:28] Riju19 commented on #2139
Thank you @canova and @julienw !

[2020-10-08 17:46] gregtatum commented on #2852
This was regressed by #2769

[2020-10-08 17:46] raymond-sikpojie commented on #2876
Can I take this one up? I already made a PR on prevously assigned issue

[2020-10-08 17:51] KarenEfereyan commented on #2852
@gregchang im a new contributor. I don't exactly understand what regressed means. Can you explain better?

[2020-10-08 18:01] v3g4n commented on #2875
Hello, I'd like to claim this issue, please.

[2020-10-08 18:02] canova commented on #1785
@Segun-Ogundipe Yes, you can move on to the "help wanted" issues. But it looks like you are already assigned to one, great :)

[2020-10-08 18:23] Somaru-chan commented on #2867
Done for **app.js** and **index.js**.
As for _errors.js_ and _icons.js_, they were already migrated.
Waiting for your review.

[2020-10-08 18:49] 47analogy commented on #2870
If this is still open, can I be assigned to it?

[2020-10-08 18:58] mstange commented on #2577
Kats pointed me at the cause of this problem: Our `preventDefault()` isn't taking effect because Firefox treats wheel event listeners on the root element as passive by default. This is controlled by the pref `dom.event.default_to_passive_wheel_listeners`. Setting that pref to false stops the double-zooming.

So, I think our options are: Set the wheel event listener on a different element, or speci

[2020-10-08 19:08] mstange opened #2887 "Update to React 17"
React 17 changes the way DOM event listeners are registered, in such a way that it should fix the double-zooming behavior (#2577). It would be nice to update React in order to pick up that fix.

[2020-10-08 19:20] Somaru-chan commented on #2869
Hi @gregtatum
I've made a PR on my assigned issue. May I work on this one?

[2020-10-08 19:34] elindas commented on #2881
@gregtatum, I would like to work on this for my first issue. Could you assign this to me, please?

[2020-10-08 20:39] gregtatum opened #2888 "Add a mechanism to augment marker schema for special handling purposes"
From a conversation with gerald:

I think it would be better to have these live only on the front-end. I need to add a way to merge these properties into the Gecko-provided schema.

[2020-10-08 20:40] AyumiOsawa commented on #2876
Hi, it took a good portion of today to go through the documentation and the project descriptions and to get this project working locally. I would like to finally start working on my first contribution:) Could I work on this project, in case anyone else already has already got their own first issue? (unless the assignment is on the first-come-first-served base)

[2020-10-08 20:45] gregtatum opened #2889 "Hook up "marker-table" and "marker-chart" filtering to the marker schema"
I think I forgot to do this. Also, we should default-in if a marker provides no schema.

[code]

[2020-10-09 00:28] Anita-ihuman commented on #2877
can i take on this issue?

[2020-10-09 00:46] Anita-ihuman commented on #2819
Hello,  @julienw id like to claim src/components/flame-graph

[2020-10-09 00:48] Anita-ihuman commented on #2875
This is yet to be assigned, can I handle this please?

[2020-10-09 01:25] Anita-ihuman commented on #2654
I would like to tackle this issue,
can I get a headstart?

[2020-10-09 01:41] mstange commented on #2887
@julienw pointed out that React 17 has not been released yet. I will find a workaround.

[2020-10-09 03:17] NisaSource commented on #2810
@gregtatum Draft PR was created.

[2020-10-09 04:24] NisaSource commented on #1526
Hi @gregtatum this issue seems to block few other tasks.
I would like to start working on it but could you please provide more details?

[2020-10-09 05:29] aintabb commented on #2103
@canova Sorry for the inconvenience. Sure, I can find a new one and also "berlin'de havalar nasil? :)"

[2020-10-09 05:31] aintabb commented on #1119
Is this still active? If so, I'd like to grab this one.

[2020-10-09 06:42] Cheederah commented on #1785
Hello @canova I commented on issue 2880 and i'm yet to be assigned to it. Can you help with that please.

[2020-10-09 08:09] codershona commented on #2889
Hello, @gregtatum  is it possible to assign me to this issue? Because currently, I don't have any issues to work in?

[2020-10-09 09:48] elindas commented on #2879
Hi! I'm an Outreachy applicant. I'd like to work on this as my first issue. Thank you

[2020-10-09 10:40] CipherGirl commented on #2396
Claiming this one!

[2020-10-09 11:18] KarenEfereyan commented on #2852
@julienw @canaltinova  could you kindly look at the comments? I have been able to successfully replicate the issue. The task at hand is to set a value for the variable --tooltip-detail-max-width. So I am asking if I should assign 600px as a string to the value of the style property in tooltip.js? Because otherwise, I would need to specify a  value for restrictHeightWeight as it is being used in th

[2020-10-09 11:37] #2825 closed

[2020-10-09 12:02] julienw commented on #2654
Hey @Anita-ihuman, you can work on this. I just want to double-check that you're here for the Outreachy contribution period, is that right? Thanks for your confirmation.

[2020-10-09 12:18] canova commented on #2852
@KarenEfereyan Yes, you should assign "600px" directly to the `--tooltip-detail-max-width` inside the profiler/src/components/tooltip/Tooltip.js file where Julien pointed above. There is a `style` object on top of the return statement, you should add the new variable value there. You shouldn't touch the variable assignment in the profiler/src/components/tooltip/Marker.js.

[2020-10-09 12:21] canova commented on #2396
Let us know if you need anything!

[2020-10-09 12:28] canova commented on #2879
Hi @nibble0101, I see that you created 3 PRs already. I think it's time to move on to more challenging  issues. Can you take a look at the [help wanted](https://github.com/firefox-devtools/profiler/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22+-label%3Aassigned+-label%3A%22outreachy+onboarding%22+) issues and pick one instead, please?

@elindas Usually we assign issues to people who clai

[2020-10-09 12:31] canova commented on #2889
Hi @codershona, this is not an "outreach onboarding" issue. Can you pick something else, please? I see that you've created 3 PRs already, so it would be better to claim [help wanted](https://github.com/firefox-devtools/profiler/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22+-label%3Aassigned+-label%3A%22outreachy+onboarding%22+) issues next.

[2020-10-09 12:33] canova commented on #2880
Sure @Cheederah, assigning the issue to you.

[2020-10-09 12:35] canova commented on #2877
Hi @ZHanimK, sure, let us know if you need anything.

@Anita-ihuman, we assign issues to people who claim first. Can you pick something else, please?

[2020-10-09 12:39] canova commented on #2875
Hi @v3g4n, assigning the issue to you. Btw, you are an Outreachy applicant, right?

[2020-10-09 12:39] codershona commented on #2889
Yes of course.

[2020-10-09 12:41] CipherGirl commented on #2396
I was trying to find out where the "imported thread" and the "marker table" is. I couldn't do it on my own, can you please give me a pointer?  I was wondering where actually the timeline part is implemented for merging. I guess the screenshots will be added timeline area right?

[2020-10-09 12:47] canova commented on #2876
Hi @raymond-sikpojie, I see that you already got one this type of issue. We should also let others claim for outreachy onboarding issues. It would be good to claim a [help wanted](https://github.com/firefox-devtools/profiler/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22+-label%3Aassigned+-label%3A%22outreachy+onboarding%22+) issue next.

Hi @AyumiOsawa, usually our issues are first come

[2020-10-09 12:53] km-js commented on #2688
Hey, I would like to work on this.

[2020-10-09 12:53] canova commented on #2869
@Somaru-chan looks like also another one of these issues has been assigned to you. Let's move to [help wanted](https://github.com/firefox-devtools/profiler/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22+-label%3Aassigned+-label%3A%22outreachy+onboarding%22+) issues.

[2020-10-09 13:01] Cheederah commented on #2880
Thank you @canova I have created a PR for it, awaiting approval.

[2020-10-09 13:01] v3g4n commented on #2875
Hi @canova, thank you!
Yes, I am an Outreachy applicant.

[2020-10-09 13:09] qmya commented on #2819
Hello, @julienw  I would like to be assigned to this issue.

[2020-10-09 13:19] canova commented on #2880
Please also mention the issue number inside the PR. That way they reference each other.

[2020-10-09 13:22] qmya commented on #2869
Hi @canova could you assign me now :)

[2020-10-09 13:24] Cheederah commented on #2409
Please can i work on this? @julienw

[2020-10-09 13:26] Cheederah commented on #2880
Alright i will

[2020-10-09 13:42] Cheederah commented on #2880
@canova I just referenced it in the PR, thanks for your prompt response.

[2020-10-09 14:01] Ifycode commented on #2870
Hi @gregtatum can I be assigned this issue?

[2020-10-09 14:05] Anita-ihuman commented on #2887
Can I take this issue ?

[2020-10-09 14:13] AyumiOsawa commented on #2876
@canova Thank you very much! :)

[2020-10-09 14:38] gregtatum commented on #2870
@47analogy Thanks for your interest on this, I assigned it to you since you were the first to comment here.

[2020-10-09 14:50] gregtatum commented on #2688
Thanks @km-js I assigned it to you.

[2020-10-09 15:23] gregtatum commented on #2887
@Anita-ihuman please look for issues labeled as help wanted, or outreachy onboarding. Issues without these labels aren't ready to be worked on.

[2020-10-09 15:24] gregtatum commented on #2887
Closing as I don't think this issue needs to be tracked now that there is a workaround.

[2020-10-09 15:24] #2887 closed

[2020-10-09 15:30] julienw opened #2901 "Remove CSS dead code about the focus call stack button"
In this issue we want to focus on removing this code:

https://github.com/firefox-devtools/profiler/blob/dc9e192f540f3e06d25cfd51aedd051347282707/res/css/style.css#L241-L272

[2020-10-09 15:33] 47analogy commented on #2870
Thanks, I'm on it!

[2020-10-09 15:48] raymond-sikpojie commented on #2901
Hey @julienw. Can I work on this?

[2020-10-09 16:08] gregtatum commented on #1119
@aintabb We haven't marked this is "help wanted", but I think this could be worked on.

Please do this in multiple PRs, as this move is somewhat risky, so it would be good to be able to do it in smaller chunks. I would focus on migrating one component's style at a time. Here is a diff showing the breakdown of where these styles should live.

[code]

[2020-10-09 16:20] gregtatum commented on #2881
@elindas This has already been assigned to @codershona.

[2020-10-09 16:25] #1995 closed

[2020-10-09 16:27] gregtatum commented on #2901
@raymond-sikpojie thanks, you are now assigned to it.

[2020-10-09 16:48] gregtatum commented on #2790
The work here is to add the "lib" to the FlameGraph tooltip.
The "lib" is present in the call tree sidebar here: https://share.firefox.dev/2FfNj2J

<img width="735" alt="image" src="https://user-images.githubusercontent.com/1588648/95609751-dc890600-0a24-11eb-8c7b-2d07121ed2c8.png">

This is the text:

Here is where that code lives:
https://github.com/firefox-devtools/profiler/blob/2232f077181f4cc

[2020-10-09 16:51] #2872 closed

[2020-10-09 16:52] gregtatum commented on #2464
Can we remove the comma feature and only use a regex, then users can craft all kinds of crazy searches without inventing lots of UI to handle it. This would be similar to how searchfox works.

[2020-10-09 16:59] gregtatum commented on #222
@CipherGirl Sure thing, I've marked you as assigned. Let me know if you have any questions or decide to drop this issue and work on something else.

[2020-10-09 17:29] codifyit commented on #2819
Hi, is this issue this open to work on?

[2020-10-09 17:39] elindas commented on #2879
Thank you. I'm working on it.

[2020-10-09 17:52] raymond-sikpojie commented on #2901
Thanks @gregtatum. It's done and I've made a PR

[2020-10-09 17:59] gregtatum commented on #2675
I'm confused, this is showing a screenshot of the old devtools panel.

[2020-10-09 18:10] gregtatum commented on #2634
I wrote up a description as a comment in a diff of how this could be handled.

[code]

[2020-10-09 18:14] gregtatum commented on #2636
I am continually reminded I need to finish #2117, which would indeed fix this issue.

[2020-10-09 19:33] aintabb commented on #1119
Hey Greg,
Thanks for your response and detailed example. Since this will be my first contribution, do you have any guidelines or do you follow any Git Workflow?

[2020-10-09 20:35] lorelajano commented on #2864
@gregtatum  Sorry I wanted to ask about the screenshots. Will be with the same options as the one that are in the existing UI Tour? I mean which of the tracks should be visible?

[2020-10-09 21:39] imabp commented on #1006
I would like to know more about this issue : )

[2020-10-09 21:52] qmya commented on #2869
Hi @canova I created a pull request and completed it an hour ago :)

[2020-10-09 21:58] qmya commented on #2901
Can I work on this?

[2020-10-09 22:20] qmya commented on #2865
Can you assign this to me?

[2020-10-10 03:06] aintabb commented on #1119
Got it! Thanks for the example @gregtatum

[2020-10-10 07:05] NisaSource commented on #2790
Hi @gregtatum I would like to claim this issue. Could you please assign it to me? Thanks

[2020-10-10 19:40] Cheederah commented on #1032
Hi, @gregtatum please can i work on this? Would also like to get visuals of what is to be fixed. If you don't mind.

[2020-10-11 18:47] miami78 commented on #2684
@canova  and @gregtatum can I have a more detailed explanation on this, I would love to take this.

[2020-10-11 18:53] canova commented on #2871
Fixed by #2886.

[2020-10-11 18:53] #2871 closed

[2020-10-11 19:32] CipherGirl commented on #2470
Can you explain where is the thread object implemented here? I'd like to work on this.

[2020-10-12 08:50] julienw opened #2922 "Change all CSS loads that use `require` to `import`"
This will be needed for style-loader v2.0.0.

Here is the full list, grouped by directory:

* [x] `src/components/app/`: claimed by @codifyit
  * FooterLinks.js: `require('./FooterLinks.css');`
  * Home.js: `require('./Home.css');`
  * MenuButtons/Publish.js: `require('./Publish.css');`
  * ProfileViewer.js:require('./ProfileViewer.css');
* [x] `src/components/flame-graph/`: claimed by @jufajardin

[2020-10-12 08:52] codifyit commented on #2922
Hello, I am an outreachy applicant. Can I please work on it?

[2020-10-12 08:52] NisaSource commented on #2922
Can I claim this issue?

[2020-10-12 09:00] julienw commented on #2922
@codifyit I'll assign that one to you! Thanks!
@NisaSource As discussed on Matrix, you're ready to work on more challenged work now! (Just mentioning it here too, so that my colleagues see it :) )

[2020-10-12 09:00] codifyit commented on #2922
Thanks!!

[2020-10-12 09:15] nibble0101 commented on #2790
@NisaSource I have notice you are working on [another issue](https://github.com/firefox-devtools/profiler/pull/2894) too. are you taking both concurrently? I would love to work on this too.

[2020-10-12 09:22] NisaSource commented on #2790
Hi @nibble0101 , I just pushed a draft PR for this issue as I have small issue to be reviewed.
https://github.com/firefox-devtools/profiler/pull/2921
If you would like we can team up to finish this task together if this is possible @gregtatum?

[2020-10-12 09:23] nibble0101 commented on #2634
@gregtatum Can I work on this? It looks scary but I guess with some guidance I will be able to do something useful.

[2020-10-12 09:29] #2901 closed

[2020-10-12 09:34] julienw commented on #2862
It stroke me that we can also handle the merge locally using pure git, doing local checks, and directly push to github to the production branch.

[2020-10-12 10:07] julienw commented on #1526
Hey @NisaSource, I see you work on some other tasks already, so let's focus on those!

As for more information, we can look at how we implemented this for the marker table. Most probably we'll have a `selectedNetworkMarker` state just like we already have a `selectedMarker` state.

The initial description said "this should be url serialized" but this is probably a bit more difficult as it involves

[2020-10-12 10:18] #2869 closed

[2020-10-12 10:48] mariagus commented on #1526
Hi @julienw, may I work on this one.
Thank you.

[2020-10-12 11:02] ijeomaemeruwa commented on #2640
hello, is this issue open to outreachy applicants?

[2020-10-12 11:06] julienw opened #2925 "The marker table sidebar style looks broken"
This is probably a regression from the recent work with marker tooltips.

![image](https://user-images.githubusercontent.com/454175/95739859-c4ff8680-0c8b-11eb-899c-34187f2c7323.png)

The values should be on the right of the labels.

[2020-10-12 12:25] julienw commented on #2925
Actually this was done on purpose.
Maybe the space between the label and its value could be reduced? We can look at this later but for now I'm closing this.

[2020-10-12 12:25] #2925 closed

[2020-10-12 12:27] Cheederah commented on #1001
Please can i be assigned to this @julienw

[2020-10-12 12:55] #2880 closed

[2020-10-12 13:11] julienw commented on #2705
hey @burianovata, can you please confirm you're still working on this? Thanks a lot!

[2020-10-12 13:15] burianovata commented on #2705
@julienw yes. trying to commit but have some troubles - somehow unified my changes with another applicant. Now figuring out how to fix this

[2020-10-12 14:09] NisaSource commented on #1066
Hi @julienw I would like to claim this issue as my previous PR is under review.

[2020-10-12 14:59] Somaru-chan commented on #2922
@julienw Hi. Can I claim: "src/components/shared/" ?

[2020-10-12 15:17] julienw commented on #1066
Hey @NisaSource, to be honest I think this is a bit too difficult for a nearly-beginner. There are a lot of things to learn around service workers, and testing properly that everything works fine is not easy for somebody who doesn't know the app very well yet. So I'd recommend looking for another issue for now. I hope this makes sense!

[2020-10-12 15:24] #2823 closed

[2020-10-12 15:36] julienw commented on #2470
Yeah exactly, this is where we should do a shallow copy instead of taking it directly. Maybe this would do the trick:

[code]

To be completely correct, I believe we should do something similar here slightly below:
https://github.com/firefox-devtools/profiler/blob/f87b794bbf79e50e3ede22fc8f12999c5425873d/src/profile-logic/comparison.js#L125-L132

Replace with:
[code]

In all these cases, the idea

[2020-10-12 15:47] qmya commented on #1006
Hi @julienw! Could you assign to this issue? :)

[2020-10-12 15:54] #2878 closed

[2020-10-12 15:55] burianovata commented on #2922
@julienw Can I work on src/components/stack-chart/ ?

[2020-10-12 16:09] qmya commented on #1006
Hi @julienw Could you assign me to this one: src/components/app/ZipFileViewer.js
Probably can be moved to componentDidUpdate

[2020-10-12 16:10] julienw commented on #1006
@imabp if you still want to look at this, ideally you would claim one of the file only :-)
@qmya sure!

[2020-10-12 16:10] qmya commented on #1006
Thanks, @julienw :)

[2020-10-12 16:12] imabp commented on #1006
@julienw Yaa I got the thing now. I need to claim a file, and move its implementation to componentDidUpdate

Sorry if i said something silly, I am new to this. But want to contribute.

[2020-10-12 16:13] julienw commented on #1006
@imabp you can work on src/components/shared/Icon.js then, I'll assign it to you. You can see icons in the call tree when looking at the profile for a website.

[2020-10-12 16:15] imabp commented on #1006
Thankyou so much @julienw . Yes I am on it. 😁

[2020-10-12 16:18] imabp commented on #1006
@julienw I need to just change this to `componentDidUpdate` right ?
Can you bit guide me here  😅

![image](https://user-images.githubusercontent.com/53480076/95768824-935edd80-0cd4-11eb-9733-d4993e5e6481.png)

[2020-10-12 16:25] imabp commented on #1006
@qmya can u help me out. Am I doing right ? I replaced `UNSAFE_componentWillReceiveProps`  with this
 `static   getDerivedStateFromProps`

![image](https://user-images.githubusercontent.com/53480076/95769462-8bec0400-0cd5-11eb-9806-bc0b5c70a2fe.png)

[2020-10-12 16:37] julienw commented on #1006
@imabp It's important that you understand what you're doing. I'd suggest that you read the description here and also the documentation on the React website. Also please don't ping other applicants like that, they won't do your task for you.

[2020-10-12 16:39] imabp commented on #1006
Agreed I am on it sir. @julienw

[2020-10-12 16:51] #2810 closed

[2020-10-12 18:07] burianovata commented on #2922
@julienw I'm interested to work on src/components/shared/IdleSearchField.js

[2020-10-12 18:35] julienw commented on #2922
@burianovata @Somaru-chan I assigned you these files, thanks.
@burianovata I believe your second comment wasn't for this issue. But that's OK, let's just focus on this patch first.

[2020-10-12 18:45] gregtatum opened #2931 "Consider migrating from Flow to TypeScript"
This project started when this was a more difficult choice, but at this time TypeScript is the clear winner in the community for support. It would be great to migrate this project to TypeScript, although it would be a lot of work and difficult to do. My preference would to be on TypeScript, especially as in Gecko, we're using it in places.

This issue is to gather ideas and document how to handle

[2020-10-12 18:47] #2483 closed

[2020-10-12 18:49] gregtatum commented on #2931
## Intermediate migration using Flow

I recently did this on a bigger personal project and I wanted to share some insights on how to handle it. I think there are some opportunities to clean up our Flow types that would then make it fairly trivial to switch to TypeScript.

### Read-only objects

Typescript doesn't support the `+` for read only properties. In Flow this is `{ +foo: 'bar' }`. In TypeS

[2020-10-12 18:51] gregtatum commented on #2931
## Migration notes

| Flow | TypeScript |
|------|------------|
|`mixed` | `unknown` |
| `<T: Constraint>` | `<T extends Constraint>` |
| `*` | I mostly changed these to `unknown` but there is the `infer` property for generics |

[2020-10-12 19:03] gregtatum commented on #2931
## Migrating connected components

Here is a code dump with a solution for TypeScript. We could implement this first in Flow, it should be fairly similar. I couldn't get the `$ObjMap` equivalent in TypeScript to work over unions of types.

### Store types

[code]

### Utility functions

[code]

## A connected component

[code]

[2020-10-12 19:57] gregtatum commented on #2931
Automated tool: https://github.com/Khan/flow-to-ts

I [tried this on our own repo awhile back](https://github.com/gregtatum/perf.html/commits/flow-to-ts), and I still had lots of errors afterwards.

[2020-10-12 21:37] jufajardini commented on #2922
Hi, I would like to claim src/components/flame-graph if possible :)

[2020-10-12 21:46] mariehposa commented on #2922
Hi @julienw , Can I work on src/components/js-tracer/ ?

[2020-10-13 04:20] NisaSource commented on #1006
Hi @julienw is it possible to claim this issue ?

[2020-10-13 09:11] AyumiOsawa commented on #2922
Hello @julienw, if Others group is still available, I would like to work on it. Thank you :)

[2020-10-13 09:45] julienw commented on #2922
@jufajardini @mariehposa @AyumiOsawa I've added you on the groups you asked. Thanks for helping!

Also I'm adding the "assigned" label because all groups are now claimed.

[2020-10-13 11:24] NisaSource commented on #1006
Hi @julienw I'd like to claim src/components/shared/TreeView.js if no one claimed it yet.

[2020-10-13 12:45] qmya commented on #1006
Hi @julienw! Could I work on this "src/components/shared/IdleSearchField.js Probably replaced with a strategy Fully uncontrolled component with a key"?

[2020-10-13 14:13] webobite commented on #1006
Hi @julienw
I would like to take this page `src/components/shared/TreeView.js` Can You please assign the same to me ?

[2020-10-13 14:38] qmya commented on #1006
No problem  :)

[2020-10-13 14:45] webobite commented on #1006
Thanks @julienw will work on it.

[2020-10-13 15:07] imabp commented on #1006
@julienw  I want to thank you, because of this I could possibly get to know insights of React 😊

Full night yesterday I spent with React.

[2020-10-13 15:22] julienw opened #2939 "The sidebar is missing the margin when nothing is selected"
This is a regression from #2691.

The problem is that when nothing is selected we don't wrap the text in `<div className="sidebar-contents-wrapper">`. But since #2691 this is the class holding the margin.

Therefore the solution is to add this div also to cases where nothing is selected. This will be done in 2 locations:
https://github.com/firefox-devtools/profiler/blob/53152ab85dd6044fe40047cd5e5

[2020-10-13 15:24] Somaru-chan commented on #2939
Hi @julienw . I'm interested in working on this.

[2020-10-13 15:25] codifyit commented on #2939
Hi, can I work on this?

[2020-10-13 16:02] julienw commented on #98
The replaceState bit is now already handled by the code in https://github.com/firefox-devtools/profiler/blob/b3143cfdd9f771fb63b00abeb8e638f2f43c2556/src/app-logic/url-handling.js#L69-L88

So the new code here will only need to use one of these functions:

[code]
This makes the previous comment a bit obsolete.

[2020-10-13 16:04] canova commented on #2684
@miami78 sure. To fix this you need to change this line here to use `Float32Array` instead:
https://github.com/firefox-devtools/profiler/blob/a16fb93e5c6913f812942f9f3af15c8356bc3284/src/profile-logic/profile-data.js#L1501
We won't need the `fill(0)` because Float32Array already initializes the values with `0`.
We also need to change the `EventDelayInfo` type.
Last step is to change the necessary

[2020-10-13 16:07] julienw commented on #1033
We now have it! This is now already handled by the code in https://github.com/firefox-devtools/profiler/blob/b3143cfdd9f771fb63b00abeb8e638f2f43c2556/src/app-logic/url-handling.js#L69-L88

So I believe the work here is to find the code to wrap with one of these 2 functions.

[2020-10-13 16:10] miami78 commented on #2684
awesome, let me get to it with the information you have given me, I will get back to you if I am stuck

[2020-10-13 16:11] julienw commented on #1033
To create a zip file locally, to work on this bug:
1. Capture a new profile.
2. Save the profile file locally from the UI.
3. Create a new zip file, put the profile file in this zip file.

=> You can now use this zip file from the button `load profile from file` on the home page.

[2020-10-13 16:59] CipherGirl commented on #2396
@canova, @julienw I was looking at the file to find out where the marker table is created for merge. Am I supposed to modify here:

https://github.com/firefox-devtools/profiler/blob/main/src/profile-logic/merge-compare.js#L1056-L1093

I'm a bit confused about where and how the screenshots will be added.

[2020-10-13 17:35] canova commented on #2396
@CipherGirl `mergeMarkers` is used by another function, it's not used by comparison view. This is the merge function for diffing:
https://github.com/firefox-devtools/profiler/blob/53152ab85dd6044fe40047cd5e5b9bab17e2865c/src/profile-logic/merge-compare.js#L73

This is the type of a Screenshot marker:
https://github.com/firefox-devtools/profiler/blob/1c1d0b8bdbad2564bb6988fc1078fcd384d9b643/src/typ

[2020-10-13 18:25] violasong commented on #2640
I'm not sure, maybe @julienw knows?

[2020-10-13 18:40] gregtatum commented on #2640
@ijeomaemeruwa sorry, it's not currently marked as "help wanted", this is also an issue for the main Firefox repo.

[2020-10-13 18:43] gregtatum commented on #2862
It would be preferable on my end to be able to automate this all from my terminal

[2020-10-13 18:48] gregtatum commented on #1032
@Cheederah  This is what the error looks like, I can't really screenshot what it looks like when I drag a file onto the page.

<img width="1295" alt="image" src="https://user-images.githubusercontent.com/1588648/95902527-8dabdb00-0d5a-11eb-92c7-40adfff21093.png">

This profile zip can be used to test dragging a profile onto the screen for reproducing the issue.

[mochitest-profile.json.zip](https:

[2020-10-13 18:59] gregtatum commented on #1032
A test will also need to be added after fixing the issue.

It needs to either go into:

https://github.com/firefox-devtools/profiler/blob/a469520b0fe4e3a8d4632bc17eb2b1a6048d2a24/src/test/components/UrlManager.test.js

Or:

https://github.com/firefox-devtools/profiler/blob/a469520b0fe4e3a8d4632bc17eb2b1a6048d2a24/src/test/components/Root-history.test.js

...I'm actually not sure if we have a test

[2020-10-13 19:03] gregtatum opened #2945 "Add a test for receiving a profile from file"
We don't test this route, and it's making it difficult to add a test for #1032. Here is an example of the actions that fire when receiving a profile.

[code]

My preference would be to add this test to the DragAndDrop component

https://github.com/firefox-devtools/profiler/blob/main/src/test/components/DragAndDrop.test.js

The test needs to simulate the `_handleProfileDrop` which then calls the `r

[2020-10-13 19:21] #2870 closed

[2020-10-13 19:48] 47analogy commented on #1006
@julienw Can I be assigned to src/components/shared/chart/Canvas.js?

[2020-10-13 20:12] Segun-Ogundipe commented on #1006
Hi @julienw, I'll like to claim this "src/components/tooltip/Tooltip.js "

[2020-10-13 23:57] mariagus commented on #1526
Hi @julienw , I have been looking at the code, but am finding it a bit confusing how to approach this issue.
As far as I understand, the desired behaviour is for the user to be able to access the list in network-chart by keyboard, first with enter to focus on the component, and then be able to keydown the list? similar to the marker-table. I may be wrong.
So far, I'm assuming there should be a CHA

[2020-10-14 00:05] #2577 closed

[2020-10-14 00:18] mariagus commented on #1526
ps. I just realised I need some knowledge of redux for this. So I should probably look into that.

[2020-10-14 07:24] nibble0101 commented on #2634
Given the  instructions by @gregtatum above, these are my thoughts.
1) `findScreenshotAtMouse` referred to here is the one which has already been defined in ` HoverPreview` component
2)  `findScreenshotAtMouse`  is invoked with `offsetX` as argument in `_clickHandler`
3)  `offsetX` is obtained from the synthetic event using `event.pageX - event.currentTarget.getBoundingClientRect().left`
4) The in

[2020-10-14 08:19] julienw commented on #1006
@47analogy @Segun-Ogundipe I added your names, thanks !

[2020-10-14 09:28] NisaSource commented on #1033
Hi @julienw can I be assigned to this issue? I have no work as my draft PR is waiting for review now.

[2020-10-14 09:58] julienw commented on #2634
I think your outline looks good.

Just a quick precision from looking at the code: I think we'll have to change a bit `HoverPreview` too. Indeed, I believe the new code you'll add will be in `Screenshots`. Therefore I suggest that `findScreenshotAtMouse` will be moved to `Screenshots`: then `Screenshots` will retrieve the current hovered screenshot, and pass directly a `ScreenshotPayload` to `Hove

[2020-10-14 10:34] #2874 closed

[2020-10-14 10:36] julienw opened #2947 "Some hidden tracks reappear after sanitization"
STR:
1. Open a profile with memory or network tracks, for example https://share.firefox.dev/3nQF5zG
2. Hide the memory or network track, as well as a process thread track. In the previous link this is already done (you can double-check with the "hidden tracks" button)
3. Publish, take care that "Include hidden tracks" is unchecked.

=> The Network or memory tracks reappear.

[2020-10-14 10:45] ijeomaemeruwa commented on #2945
Hello, can I work on this as an outreachy applicant?

[2020-10-14 10:48] julienw commented on #2947
Note that don't remove the network and memory tracks from the profile when we sanitize it. I believe that we assume we removed all hidden tracks and just reset that state, but instead we should keep the hidden track information for the ones we don't remove.

This happens here: https://github.com/firefox-devtools/profiler/blob/0ecc660cb4fc6877dff6cb8db08d08451453ff36/src/reducers/url-state.js#L334-

[2020-10-14 10:58] AyumiOsawa commented on #1006
Hello @julienw, may I try working on "src/components/shared/chart/Viewport.js" if it is still available? Thank you!

[2020-10-14 10:58] julienw opened #2948 "Crash when navigating in the profiler, around the hidden tracks feature"
STR:
1. Open https://share.firefox.dev/3iSSFyB
2. Click "Full Range" at the top left.
3. Press the browser's "back" button

=> There's a crash.
Surprisingly when pressing F5 then this works.

The stack trace with the development server looks like:
[code]

The crash happens in https://github.com/firefox-devtools/profiler/blob/0ecc660cb4fc6877dff6cb8db08d08451453ff36/src/selectors/app.js#L246-L249,

[2020-10-14 11:14] julienw opened #2949 "Screenshot: stop repeating the same screenshot over and over when it doesn't change"
In this patch we want to do an experiment, it's not sure we'll land this in the end.
This experiment is that we don't want that we repeat the screenshot in the screenshot track, if it doesn't change.

The current logic is at https://github.com/firefox-devtools/profiler/blob/0ecc660cb4fc6877dff6cb8db08d08451453ff36/src/components/timeline/TrackScreenshots.js#L273-L333

What it does is that for each

[2020-10-14 12:03] raymond-sikpojie commented on #2949
Can I give this a try? @julienw

[2020-10-14 12:18] lorelajano commented on #2949
Can I work on this?

[2020-10-14 12:48] julienw commented on #1006
Hey @AyumiOsawa, I added your name, thanks!

Everything is assigned now.

[2020-10-14 12:51] julienw commented on #2939
hey @Somaru-chan, I just realized that this is actually a duplicate of #2858, so I'm closing this issue. Sorry about that.

[2020-10-14 12:51] #2939 closed

[2020-10-14 12:53] julienw commented on #2949
Hey @raymond-sikpojie, yes sure!
@lorelajano as you see, this issue is taken already, thanks for your understanding.

[2020-10-14 12:54] Somaru-chan commented on #2939
@julienw No Problem 👍 Is there another issue I can be assigned to instead?

[2020-10-14 12:54] julienw commented on #2858
Hey @grace-00, how is it going?

[2020-10-14 12:56] julienw commented on #2947
hey @Somaru-chan, do you want to look at this one?

[2020-10-14 13:19] julienw commented on #2945
Sure @ijeomaemeruwa, I just assigned it to you!

I believe that to simulate `_handleProfileDrop` you could use `fireEvent.drop()` on the element. You can look at other uses of `fireEvent` in our test cases, as well as look at the DragAndDrop component to see what we expect from the drop event.

[2020-10-14 13:19] julienw commented on #1033
hey @NisaSource I assigned it to you. Thanks!

[2020-10-14 13:20] ijeomaemeruwa commented on #2945
Okay thank you, will work on it

On Wed, 14 Oct 2020 at 14:19, Julien Wajsberg <notifications@github.com>
wrote:

[2020-10-14 13:22] Somaru-chan commented on #2947
Sure. I'm passionate about learning new topics, but I think I will need some guidance on this one. Would that be ok?

[2020-10-14 13:33] NisaSource commented on #1033
Hi @julienw I'm working on it :)

[2020-10-14 13:52] julienw commented on #1526
hey @mariagus,

Yeah this issue is very much about how to implement a new Redux action to control a new Redux state, and then how from React we handle this new state and dispatch the Redux action. I think you'll learn all that doing this!

Indeed there are a lot of files to update: with Redux there's a lot of different files, which I understand can look overwhelming, but you'll see that each chang

[2020-10-14 14:13] mariagus commented on #1526
Thank you @julienw for the detailed suggestions! I'm sure this will be a huge help :)

[2020-10-14 14:24] julienw commented on #2640
I moved that over to https://bugzilla.mozilla.org/show_bug.cgi?id=1671171. Thanks Victoria :)

[2020-10-14 14:24] #2640 closed

[2020-10-14 14:46] julienw commented on #1818
Hey @js636f, are you still working on this? Do you have any question?

[2020-10-14 14:48] julienw commented on #2103
Hey @hannydevelop, are you still working on this? Do you have any question?

[2020-10-14 14:53] julienw commented on #2654
Hey @Anita-ihuman, are you still working on this? Do you have any question?

[2020-10-14 14:58] julienw commented on #2767
Hey @itolimaesther, are you still working on this? Do you have any question?

[2020-10-14 15:02] julienw commented on #2804
hey @akshay1992kalbhor, I unassigned you here, so that this issue is available to work for others. Feel free to comment here if you want to grab it again. Thanks!

[2020-10-14 15:02] julienw commented on #2808
Hey @rlkeyer, any update on this? Do you still work on this? Thanks

[2020-10-14 15:07] canova commented on #2812
Closing this issue since it's fixed by #2814.

[2020-10-14 15:07] #2812 closed

[2020-10-14 15:13] canova commented on #2856
Hi @A-DML are you still working on this? Please let us know if you have any questions!

[2020-10-14 15:17] burianovata commented on #2948
@julienw can I try to fix this?

[2020-10-14 15:21] #2867 closed

[2020-10-14 15:31] canova commented on #2876
Closing this issue since it's fixed by #2923

[2020-10-14 15:31] #2876 closed

[2020-10-14 15:44] canova commented on #2877
Hi @ZHanimK, are you still working on this? Please let us know if you have any questions!

[2020-10-14 15:51] julienw commented on #976
Now we have the Warning component: src/components/shared/Warning.js that we can use to display the message.

[2020-10-14 16:21] lape15 commented on #976
Hi @julienw Can i work on this please ?

[2020-10-14 16:26] julienw commented on #976
In the "profile info" panel, we write `Build Type:Debug`; so you can look at how this is taken, and take it from there.

[2020-10-14 17:21] julienw commented on #2947
Start by trying the scenario as outlined in the initial description. Then you should read up a bit about redux, because this is clearly a redux-oriented issue.
To see exactly what actions are sent and how the state looks like, you can look at the webconsole when running the project with your development server. Then you can inspect what this action looks like, and what the state looks like.
Lastly

[2020-10-14 17:22] julienw commented on #1677
#2949 is taking a stab at this.

[2020-10-14 17:23] julienw commented on #1119
Hey @aintabb, are you still looking at this? Thanks :)

[2020-10-14 17:29] julienw commented on #2948
hey @burianovata , yes sure!

[2020-10-14 17:34] aintabb commented on #1119
Hey @julienw,
Yes, I am still working on this. I was examining the code and some of the guidelines to be able to grasp the fundamentals.

[2020-10-14 18:23] KarenEfereyan commented on #2948
Hmmn. This is a very interesting bug. I will learn from this.

[2020-10-14 20:34] js636f commented on #1818
Hello @julienw , Yes, I'm still working on this. Thank you! I'll write if I have some questions.

[2020-10-15 02:11] samlh opened #2955 ""Collapse functions in" unexpectedly collapses different scripts on the same domain together"
Steps:
Load https://share.firefox.dev/34WJcRX
Right click on one of the github functions
Select "Collapse functions in https://github.githubassets.com/assets/chunk-frameworks-475d3741.js"

Expected:
All the functions from "https://github.githubassets.com/assets/chunk-frameworks-475d3741.js" would be collapsed together

Actual:
All the functions from "https://github.githubassets.com/" are collapsed

[2020-10-15 09:15] nibble0101 commented on #2634
Since the above comment, I have made some major changes.
1) I wanted to do the extraction in the `render` method but then essentially I will have to do something like:
[code]
and then pass `payload` to `HoverPreview`.
2) Have `payload` in `state` as in the recent commits and then pass it to `HoverPreview`.

I am skeptical about the two because; for the first one I haven't seen such being done in t

[2020-10-15 13:11] js636f commented on #1818
Hello @canova @julienw I made a [PR](https://github.com/firefox-devtools/profiler/pull/2957) look at it please. Thanks!

[2020-10-15 13:16] Riju19 commented on #1606
Hi, I have a pull request in review, but I wanted to give this task a shot. Is this available?

[2020-10-15 13:21] qmya commented on #1274
Hi @julienw Can I work on this?

[2020-10-15 13:37] #2879 closed

[2020-10-15 13:58] julienw commented on #969
This is where the code will happen `src/components/flame-graph/Canvas.js`.
Some quick suggestions:
1. I believe everything should happen in this component, and we don't need to handle redux states here.
2. we can focus on an item when double clicking on it. We can very conveniently use `onDoubleClickItem={...}` that's already specified on `Chartcanvas`.
3. When an item is double clicked, we'll kee

[2020-10-15 18:26] Somaru-chan commented on #2847
How about:

"...and then try one of the following methods:"
**1- Record a profile:** if you are setting up your environment for the first time.
**2- Use an existing profile from the web:** using a profile that's been shared with you.

### 1- Record a profile:
- Open `about:config` in Firefox.
- Change `devtools.performance.recording.ui-base-url` to `http://localhost:4242` or to the localhost with

[2020-10-15 18:35] mstange commented on #2847
I think it's a good idea to separate the two. But the "Use an existing profile from the web" section needs work: "Record a new profile" should not be on here, because that's what the other section already covers. And the two other bullet points under it are really two separate alternatives: Either you start with a URL of an existing profile, or you start with a file that you have downloaded to you

[2020-10-15 18:41] mstange commented on #2847
Oh, well, I guess you could also record a new profile that is captured in profiler.firefox.com, upload it there, and *then* follow the step where you start with a URL.

[2020-10-15 19:08] qmya commented on #1032
Hey @gregtatum could you assign this for me?

[2020-10-15 20:09] CipherGirl commented on #2396
@canova I'm having a bit confusion here, what is the marker table exactly? I'm able to merge the data and it's showing here in the UI,
![image](https://user-images.githubusercontent.com/37832457/96179836-53595e00-0f53-11eb-870b-98e6c340fc95.png)
According the issue description, you said we should include screenshot track. Do you mean a Screenshot track like in single profile view?

[2020-10-15 20:14] mstange opened #2962 "Misleading times displayed in the flame graph, should show number of samples instead"
Profile: https://share.firefox.dev/341Msw7

This is a profile where the profiler was not able to obtain a lot of samples.
When hovering over boxes in the flame graph, I see some very large times displayed. It seems these times are computed by multiplying the sample percentage with the duration of the selected range? That's rather misleading. Let's display the raw sample counts instead.

Steps to r

[2020-10-15 20:16] mstange commented on #2962
Oh, I just saw that it actually does display the sample count in a table further down in the tooltip. This makes this problem less severe. Still,

[2020-10-15 21:21] #2852 closed

[2020-10-15 23:10] km-js opened #2964 "Use 'formatTimestamp' function instead of 'formatNumber' in the timestamps of callstacks"
In some cases, causeAge is pretty high like 2.4 seconds etc. So instead of printing a ms for a very high value, we can convert it to a second by using the function `formatTimestamp` as it prints the proper unit itself.

![Screenshot_9](https://user-images.githubusercontent.com/39799586/96194320-bd7bfe00-0f67-11eb-92ad-c15bd652712d.png)

[2020-10-16 02:58] Cheederah commented on #1032
Currently working on a fix for this @gregtatum

[2020-10-16 03:19] Cheederah commented on #1032
@gregtatum  when i tried to reproduce the error, this happened: After dragging and dropping the zip file on the page it worked just fine, as can be seen in the screenshot
![Screen Shot 2020-10-16 at 4 13 00 AM](https://user-images.githubusercontent.com/36757265/96208895-645f9a80-0f66-11eb-92fa-a80e4dc22ed2.png)
But when i hit the back button at the top of the browser window, i got this error.
![Sc

[2020-10-16 03:43] Cheederah commented on #2964
@km-js please can i work on this?

[2020-10-16 07:43] KarenEfereyan commented on #2964
@Cheederah please can i work on this? Hahaha

[2020-10-16 07:47] KarenEfereyan commented on #2962
@mstange can I try my hands on this?

[2020-10-16 08:09] julienw commented on #2858
(Just mentioning that we discussed with @grace-00 on Matrix and they're still looking at this at the moment).

[2020-10-16 08:22] lorelajano commented on #2964
Can I work on this?

[2020-10-16 08:34] KarenEfereyan commented on #2931
@gregtatum this is a great move. Can i get started with this? Also I have a suggestion. Rather than an entire overhaul of the entire project from flow to typescript, would it not be better to start slowly? Maybe with the less core files? Then move upwards? I'm just suggesting. But i would really want to give this a go.

[2020-10-16 10:30] mariehposa commented on #2804
@julienw @gregtatum, Can I work on this issue?

[2020-10-16 10:35] julienw commented on #2804
Actually I don't see the problem anymore, so closing. Sorry @mariehposa!

[2020-10-16 10:35] #2804 closed

[2020-10-16 11:55] Riju19 commented on #982
Hi, I would like to work on this issue!

[2020-10-16 13:55] #2688 closed

[2020-10-16 15:20] #2868 closed

[2020-10-16 15:59] rlkeyer commented on #2808
Hey @julienw, got a little sidetracked, but am working on it...should have something soon.

[2020-10-16 16:20] #2864 closed

[2020-10-16 17:27] mariehposa commented on #724
Hi @julienw, Can I work on this?

[2020-10-16 17:37] #1001 closed

[2020-10-16 17:53] julienw commented on #2875
Fixed by #2918

[2020-10-16 17:53] #2875 closed

[2020-10-16 17:54] julienw commented on #2881
Fixed by #2902

[2020-10-16 17:54] #2881 closed

[2020-10-16 18:00] julienw commented on #2922
Hey @jufajardini, wondering if you could look at this already? Thanks :-)

[2020-10-16 18:02] ijeomaemeruwa commented on #2945
Hello @julienw , i'm currently working on the test issue but its not quite clear to me on how to test the specified drop event and being sure the test has passed. Am i to expect the actions listed above when i run the test? Thanks.

[2020-10-16 18:18] codershona commented on #969
Can I work on this issue and fix this issue? @julienw @canova

[2020-10-16 18:33] canova commented on #969
@codershona Assigning it to you! Let us know if you need anything.

[2020-10-16 18:37] codershona commented on #969
Ok, Thank you @canova  @julienw

[2020-10-16 18:46] mstange commented on #2962
I don't think this is ready to be worked on just yet. For now it's just my opinion; I would like to get input from others about how this problem should be solved.

[2020-10-16 19:15] jufajardini commented on #2922
Hey, yes!

Sorry for making you come asking.Finished it yesterday evening, but since
it's my first PR ever, I wanted to make sure I wasn't making any mistakes.
I'll pull it within one hour, if I don't get entangled in the process.

Thanks for the patience, and sorry once more.

Ju

Le ven. 16 oct. 2020 à 19:00, Julien Wajsberg <notifications@github.com> a
écrit :

--
Juliana Fajardini Reichow

[2020-10-16 19:33] anap226 commented on #98
Hi @gregtatum @julienw, I'd like to work on this issue, please. Thanks

[2020-10-16 20:13] Cheederah commented on #2166
Hello @julienw  please can i work on this?

[2020-10-17 01:26] Anita-ihuman commented on #2654
Yeah, I am working on it.

[2020-10-17 11:40] Somaru-chan commented on #2847
Following the advice kindly provided by @mstange, I've edited a few things emphasized in italic:

"...and then try one of the following methods:"
**1- Record a profile:** if you are setting up your environment for the first time.
_**2- Use an existing profile:**_ using a profile that's been shared with you.

### 1- Record a profile:
- Open `about:config` in Firefox.
- Change `devtools.performance.

[2020-10-17 11:42] Somaru-chan commented on #2847
@mstange If I were to include this as a tip, would it go under "Record a profile" section?

[2020-10-17 13:05] mariehposa commented on #1140
Hi @julienw @canova, can I work on this?

[2020-10-17 13:17] KarenEfereyan commented on #2955
@samlh can i work on this?

[2020-10-17 19:28] samlh commented on #2955
Hey there!

I don't work on this project, I'm just a user, so I'm probably not the best person to ask :).

The first step is probably to check with someone who works on the project to verify that what I expected is, in fact, the desired behavior!

Cheers, Sam

[2020-10-18 05:42] KarenEfereyan commented on #2955
Oh ! Okay, Sam. Thank you

[2020-10-18 05:44] KarenEfereyan commented on #2962
Okay. I'll be waiting

[2020-10-18 05:44] KarenEfereyan commented on #2955
@julienw @canaltinova

[2020-10-19 06:41] raymond-sikpojie commented on #2949
Hey @julienw. I tried but I really don't know how to go about this one. Can I be unassigned from this issue? Thanks

[2020-10-19 08:43] canova commented on #2166
@Cheederah assigning to you. Let us know if you need something!

[2020-10-19 08:53] KarenEfereyan commented on #2949
@julienw can i give this a go?

[2020-10-19 08:56] canova commented on #1140
Hi @mariehposa, assigning this to you. Let us know if you need anything!

[2020-10-19 08:57] canova commented on #98
@anap226 assigning to you, let us know if you need anything!

[2020-10-19 09:05] canova commented on #2949
Sure @KarenEfereyan, let us know if you need anything!

[2020-10-19 09:06] #2858 closed

[2020-10-19 09:10] julienw commented on #1606
@Riju19 you're already assigned to https://github.com/firefox-devtools/profiler/issues/982, I think, and I don't see any PR about that one yet. So let's keep you workng on that one :-)

[2020-10-19 09:36] canova commented on #2409
Sorry we missed your message @Cheederah. I just assigned an issue to you, and I think you are not working on this actively. So I'm going to leave this issue open so other people can still claim.

[2020-10-19 09:42] julienw commented on #2409
As a bit of context: "photon" is the name of the design specifications we use in firefox and we try to follow in our project. Its home page is at https://design.firefox.com/photon/. See the description for a direct link for the issue here.

The CSS for the message-bars is in https://github.com/firefox-devtools/profiler/blob/main/res/css/photon/message-bar.css.

The photon test page is at https://g

[2020-10-19 09:43] julienw commented on #724
I think this is now pretty well covered, see https://codecov.io/gh/firefox-devtools/profiler/tree/main/src/actions.
Let's close this!

[2020-10-19 09:43] #724 closed

[2020-10-19 10:15] lape15 commented on #2409
Please assign this to me @canova

[2020-10-19 11:47] Cheederah commented on #2166
@julienw in your previous comment you stated that more work needs to be done, please can you provide details of what needs to be done? because it seems like the PR of the previous contributor on this issue was closed.

[2020-10-19 11:54] #2964 closed

[2020-10-19 14:44] #2790 closed

[2020-10-19 14:59] #2684 closed

[2020-10-19 15:17] miami78 commented on #1525
@gregtatum @julienw is this issue still up for grabs?I would love to take the challenge

[2020-10-19 16:45] km-js commented on #1346
Is this available for contribution??

[2020-10-19 17:32] julienw commented on #2862
Yeah this was always the goal :) The open question is: only git operations, or using the github CLI.
Now that I gave it some thought, I think we can do it with only git operations.

[2020-10-19 18:05] julienw commented on #2103
Hey @hannydevelop, I'm removing your assignment, so that this issue is available for other people. If you still want to work on this though please comment here.

[2020-10-19 18:13] julienw commented on #2767
Hey @itolimaesther, I'm resetting the assignee status for this issue, so that other folks can take it. But please comment if you intend to still look at it more. Thanks!

[2020-10-19 18:15] julienw commented on #2856
Hey @a-dml, I'm now resetting the status for this bug, so that other people can work on this. If you still intend to look at it, please comment here quickly :-)

[2020-10-19 18:16] julienw commented on #2877
Hey @ZHanimK , I'm gonna remove the status of this bug so that other folks can take it. Thanks anyway!

[2020-10-19 18:32] Anita-ihuman commented on #2877
I could take up this

[2020-10-19 18:35] Anita-ihuman commented on #2654
I have made the changes but I seam to be having errors with he testing.

[2020-10-19 18:43] negative0 commented on #2856
Can I give this a go?

[2020-10-19 18:49] aintabb commented on #2103
@julienw I’d like to work on this issue but need some detail and relatively active communication.
I already have an issue assigned to me but I couldn’t get any response back about my progress.

[2020-10-19 22:03] mariehposa commented on #2877
Hi @julienw @canova, can I work on this issue?

[2020-10-19 22:24] mariehposa commented on #2767
Hi @julienw @canova, can I work on this issue?

[2020-10-19 22:32] mariehposa commented on #1070
Hi @julienw, can I work on this issue?

[2020-10-20 08:40] lape15 commented on #2409
Hi,@julienw  Should this change be specific to mobile screens, and also am I allowed to wrap the text in a containing element. Also, the class sized-to-content ensures that the div always expands to contain the elements in it, how do I work around it or do I create new a new class?

[2020-10-20 10:41] mariagus commented on #1526
Hi @julienw  I have managed to make ArrowDown work, but having scrolling issues so that the selected row stays in view. Is there any simple way around this issue? I can see TreeView has _getAllVisibleRows used in _onKeyDown function. Would I need to implement something like this for network-chart? I can see VirtualList has scrollItemIntoView, not sure if this can be implemented somehow? Thanks!

[2020-10-20 13:39] Somaru-chan commented on #2947
@julienw Thanks a lot for explaining the steps. I've looked over the code and was able to tell that thread-based tracks could be told apart from network and memory tracks using `localTrack.type`. But I'm having a bit of trouble connecting the dots here, since from my understanding the current to-do list is:
- 1. Keep the information for the hidden tracks that are not removed when sanitizing.
- 2.

[2020-10-20 16:31] canova commented on #2166
Hi @Cheederah, after discussing this, we've realized that actually this issue is a lot more involved than we initially thought. Sorry about that. Would you mind working on another issue? You can ping me on matrix and we can try to figure out a suitable issue if you want.

[2020-10-20 16:34] Cheederah commented on #2166
Alright, thank you!

[2020-10-20 17:01] KarenEfereyan commented on #2949
@julienw  @canova I need some help.
From the above profile links, I can see the screenshots repeating. I think this is a good example of it
![repeated screenshots](https://user-images.githubusercontent.com/56835876/96611590-bc92f580-12f4-11eb-9d6c-2b4e8ad60910.jpg) The entire streak consists of the same screenshot. I have also seen where the logic is being implemented. Where I am stuck now is this

[2020-10-20 17:17] canova commented on #1032
Hi @Cheederah, yes, looks like you successfully reproduce the error. Right now when we drag and drop a profile, we are also adding an additional url to the history, even though we shouldn't do that:
<img width="590" alt="Screen Shot 2020-10-20 at 7 07 07 PM" src="https://user-images.githubusercontent.com/466239/96620285-8b6ff080-1307-11eb-8b18-708b519c4c05.png">
This second entry in the history sh

[2020-10-20 17:23] canova commented on #2856
Hi @negative0! Are you an Outreachy applicant?

If yes, great, we can assign it to you. But keep in mind that we have lots of applicants already and it might be better for you if you look for a project with less applicants at this point.

If not, sorry, but we are currently in the middle of the Outreachy contribution period and we don't exactly have the bandwidth for contributors. But we would be

[2020-10-20 17:31] Cheederah commented on #1032
Alright, thank you @canova .This really helped me understand the issue better.

[2020-10-20 18:06] negative0 commented on #2856
Thank you for your reply @canova.
I am not an Outreachy applicant, but wanted to start contributing. End of the month sounds great!

[2020-10-20 18:28] canova commented on #2103
Hi @aintabb, assigning to you.
Sad to hear that it wasn't a great experience so far. I hope we can make it better.

For this issue, we should add a new item to the context menu. You can right click on a track title to open it:
<img width="271" alt="Screen Shot 2020-10-20 at 8 11 24 PM" src="https://user-images.githubusercontent.com/466239/96626950-73509f00-1310-11eb-9428-9cc9e25e1112.png">
This co

[2020-10-20 19:05] fqueze opened #2981 "The selected row in the marker table should be included in the url"
Steps to reproduce:
- load https://share.firefox.dev/3lXGUsO
- select the third row in the marker table.
- click the permalink button, copy that url and load it.

Expected result: the same marker should be selected, and shown in the sidebar.

Actual result: selection is lost.

[2020-10-20 19:19] fqueze opened #2982 "The "Triggered <number>ns ago, at:" line of marker tooltips shows large negative values"
Example profile: https://share.firefox.dev/2HgFJFL

I'm tempted to call this a regression because we are now showing broken information, but we weren't showing this information at all before.

I don't know if the bug is on the front-end or if the recorded data for this field is garbage for some markers.

[2020-10-20 19:45] julienw commented on #2981
Probably to be done with #98.

[2020-10-20 23:17] aintabb commented on #2103
@canova Perfect. Thanks a lot for the detailed explanation. I will keep you updated about my progress.

[2020-10-21 07:42] squelart opened #2986 "Marker tooltip and sidebar should make it clear when a stack comes from another thread"
Markers can include one stack (under 'data'), but that stack could possibly come from another thread than where the marker is recorded. The new Markers 2.0 API will make it even easier to do this, so this may become more frequent...

It would be great to show that clearly wherever the stack is displayed, e.g., instead of just "Stack:" we could show something like "Stack from thread 'name' (id):".

[2020-10-21 08:04] julienw commented on #1526
Ah yeah, thanks for your question, indeed that's a problem we have in all our virtual lists and the solution isn't obvious. The initial problem is that with virtual lists we don't display the full list all the time, but only a part of the list, for performance reasons. Then the VirtualList component encapsulates the logic.
So, calling `scrollItemIntoView` is the right approach here. To call it you

[2020-10-21 09:52] fqueze commented on #2962
I kinda like the times there, especially because this lets the Flame graph show values that match the Stack chart. But I understand your concern. I wonder if it would work if we included something giving a hint about the level of confidence people should have in the number, maybe something like "80% of samples missing in this interval"

[2020-10-21 11:41] canova commented on #2986
Thanks Gerald for the issue, I think we can make this a help wanted issue. There are two tasks we need to do for this. We can also land these separately in two PRs. Here's the steps:

First task:
We need to preserve the `tid` field in the processed profile data.
We have two different data structures called gecko profile format and processed profile format. The values Gerald mentioned on his commen

[2020-10-21 12:47] #976 closed

[2020-10-21 12:49] nibble0101 commented on #2986
@canova and @squelart Can I work on this?

[2020-10-21 12:55] mariagus commented on #1526
Thank you for your help @julienw ! I'll see how far I get with this, else will start the draft PR as suggested.

[2020-10-21 13:26] #2847 closed

[2020-10-21 13:30] canova commented on #2986
@nibble0101 as discussed in Matrix, let's keep this issue for other applicants since you are working on one already :)

This is still up for grabs!

[2020-10-21 14:21] mariehposa commented on #2986
Hi @canova, can I work on it then?

[2020-10-21 14:23] julienw opened #2988 "The activity graph doesn't show a diff for the diffing track in the comparison view"
STR:

1. open [this comparison profile](https://profiler.firefox.com/compare/?globalTrackOrder=0-1-2&profiles[]=https%3A%2F%2Fprofiler.firefox.com%2Fpublic%2Fbf89d8af7ead8296ab59ad51a0b25acef7d18425%2Fmarker-chart%2F%3FglobalTrackOrder%3D9-0-1-2-3-4-5-6-7-8%26hiddenGlobalTracks%3D1-2-3-4-5-7%26hiddenLocalTracksByPid%3D29369-1%26localTrackOrderByPid%3D4411-1-0~29588-0~29567-0~19549-0~19528-0~30211-

[2020-10-21 17:49] canova commented on #2986
Hi @mariehposa, sorry but I talked with @anap226 to assign that issue to them before you. Would you mind working on something else? I can try to find something for you tomorrow if you can find something to work on by then.

@anap226 I can assign the issue to you if you can leave a comment here (as per our conversation on `chat.mozilla.org`).

[2020-10-21 18:29] anap226 commented on #2986
Yes please. Assign it to me. Thank you @canova

[2020-10-21 18:37] canova commented on #98
Unassigning this issue because we realized it's not exactly an issue for Outreachy applicants. It's a lot more involved than we expected.

[2020-10-21 19:09] mariehposa commented on #2986
Okay, no worries. Can I work on issue #1070 or #2826 @canova?

[2020-10-21 19:09] mariehposa commented on #1070
Hi @canova, can I work on this issue?

[2020-10-22 06:27] KarenEfereyan commented on #2166
@canova while trying to load in a profile from my local dev environment, I get this error. Searching for the answer on google brought me here.
![2](https://user-images.githubusercontent.com/56835876/96833243-020c0b80-1438-11eb-81c3-745a9ef3d4db.jpg)
It seems the issue has not been solved just yet

[2020-10-22 08:38] canova commented on #1070
Hi @mariehposa, assigning issue to you. Let us know if you need anything!

[2020-10-22 08:42] canova commented on #1070
Also the selector Julien mention has been renamed to `getTimelineJankMarkerIndexes`.

[2020-10-22 09:01] mariehposa commented on #1070
Okay, noted.
Thank you.

[2020-10-22 09:11] Riju19 commented on #1274
Hi, I would like to work on this issue.

[2020-10-22 10:03] #2470 closed

[2020-10-22 10:22] miami78 commented on #2988
Hi @julienw can you describe this issue in detail please,from my end i can see profile one and two looks the same after zooming in like so
![Screenshot (424)](https://user-images.githubusercontent.com/25851637/96858992-a35f8580-1469-11eb-9236-3641c6c539a3.png)

[2020-10-22 10:47] #2499 closed

[2020-10-22 16:05] julienw commented on #2947
Yes, 2 and 3 will accomplish 1.

[2020-10-22 17:16] #2634 closed

[2020-10-23 12:35] #982 closed

[2020-10-23 13:11] #2139 closed

[2020-10-23 20:54] #2519 closed

[2020-10-24 05:26] aintabb commented on #1119
@canova Could you also add "hacktoberfest" label to this issue, so that my pull requests would be valid for the event?

[2020-10-26 10:22] julienw commented on #1119
Sorry @aintabb, this project isn't part of hacktoberfest this year because this conflicts with Outreachy. We wrote this clearly in https://github.com/firefox-devtools/profiler/blob/main/CONTRIBUTING.md. Hope this makes sense!

[2020-10-26 14:40] nibble0101 commented on #2981
@julienw  @canova . Can I work on this?  I am not sure I understand  #98 but I would love to try out this one.

[2020-10-26 17:25] julienw commented on #2738
This was done in various patches.

[2020-10-26 17:25] #2738 closed

[2020-10-26 17:25] aintabb commented on #1119
Got it @julienw I read the docs before but must've forgotten. Thanks for returning me back!

[2020-10-26 18:54] fqueze opened #3002 "Nested jank markers are confusing"
Example profile: https://share.firefox.dev/3mtg0JD

![Capture d’écran 2020-10-26 à 19 54 00](https://user-images.githubusercontent.com/2633774/97215663-0a13d480-17c5-11eb-980c-3940d12ea9e9.png)

Quick discussion with the team gives me the impression that this isn't the intended behavior.

[2020-10-27 12:31] #2705 closed

[2020-10-27 19:11] qmya commented on #2931
Hey, @KarenEfereyan  Are you working on this?

[2020-10-27 19:15] qmya commented on #2856
Hey, @canova  Could you assign me this? I am an Outreachy applicant :)

[2020-10-27 20:06] KarenEfereyan commented on #2931
No

[2020-10-27 22:31] hotsphink opened #3011 "GCMajor and other "nonexhaustive range" markers should be more clearly distinguished visually"
I thought I had an issue for this, but perhaps it was just in my head. It would fit in with all the other disorganized junk in there.

It seems to be a repeated source of confusion that the GCMajor marker is not a solid block of time where we are only GCing. The latest example is https://bugzilla.mozilla.org/show_bug.cgi?id=1673457 (though that isn't the primary confusion there.) It would be helpf

[2020-10-27 22:39] hotsphink commented on #3011
One idea I had, at least for the marker chart, would be to display the blobby blue period in question as a line rather than a solid bar.

Instead of `(***********)`, it would be `(----------------)`, if that makes any sense.

Though I'm not sure how you would do the internal labels in that case. Maybe it could just be `(                                     )`, then? Or `←                       →`?

[2020-10-28 11:19] julienw commented on #3011
If the problem is about the actual markers, maybe the markers should be replaced by something else? Maybe have 2 different GCMajor markers with different names that would show this difference ? Or a payload that would tell this?

On [this profile](https://share.firefox.dev/2HICvLi) it's not clear to me what we should change. Also I don't understand why the jank is that big but the markers don't sp

[2020-10-28 16:12] hotsphink commented on #3011
Only considering GC, this is already the case: there is a GCMajor marker that covers the full time span, including time spent running the browser normally. We do want this information. Then for actual time spent GCing, there are GCSlice markers (and GCMinor markers for a different part of the GC processing.)

The problem is that most people assume that the whole GCMajor interval represents time sp

[2020-10-28 17:04] julienw commented on #2922
Thanks all, all occurrences have been fixed!

[2020-10-28 17:04] #2922 closed

[2020-10-28 19:04] Cheederah commented on #1023
@julienw please can i work on this? As i'm currently wrapping up the other issue i was assigned to

[2020-10-28 20:30] gregtatum opened #3018 "Timeline thread buttons no longer work with the keyboard"
Steps to reproduce:

* [Open a profile](https://profiler.firefox.com/public/b29caef7b2850ec4aafe035cf50ca341b9d75531)
* Use the keyboard to tab through the timeline to an unselected thread.
* Hit spacebar or enter

Expected:

* The thread should be selected

Actual:

* The thread is not selected

<img width="403" alt="image" src="https://user-images.githubusercontent.com/1588648/97492886-28e3a980-

[2020-10-28 20:57] gregtatum commented on #2931
@KarenEfereyan This is not ready to be worked on, it's just a proposal at this point, plus it most likely will be done by core team members, as it's a bit of a risky operation.

[2020-10-29 02:26] qmya commented on #2856
Hi, @canova  I just created my PR and I really want to contribute could you assign me this one? Thanks 😃

[2020-10-29 09:03] KarenEfereyan commented on #2931
Noted, sir

[2020-10-29 09:16] KarenEfereyan commented on #3018
@gregtatum

[2020-10-29 09:25] Cheederah commented on #1023
@gregtatum please can i work on this?

[2020-10-29 17:11] canova commented on #1023
@Cheederah assigned to you. Let us know if you need anything!

[2020-10-29 17:26] Cheederah commented on #1023
Thank you @canova

[2020-10-30 12:54] gregtatum commented on #3018
@KarenEfereyan I'm not sure what it means when my name is mentioned without any context.

[2020-10-30 14:02] #1032 closed

[2020-10-31 01:45] qmya commented on #510
Hey, @canova Could you assign me this issue? When you got a chance :) Thanks a lot :)

[2020-10-31 01:50] qmya commented on #2618
Hey, @km-js are you working on this issue?

[2020-10-31 10:47] julienw commented on #2618
Yes @qmya they are working on this, you can look at the pull request that's linked to this issue. Thanks

[2020-11-02 14:45] qmya commented on #463
Hey, @julienw Is this available to assign?

[2020-11-02 17:53] violasong commented on #510
I think this is about these icons Greg already added (which are amazing :D). If so we can close the issue :)

<img width="316" alt="image" src="https://user-images.githubusercontent.com/55994/97901500-1fbb5980-1cf1-11eb-95b0-11e5f31d9fbc.png">

[2020-11-02 21:49] #1070 closed

[2020-11-03 15:06] gregtatum opened #3026 "Add a histogram type to the marker schema"
[code]

This would then show a histogram in the tooltip and sidebar for the values given. The example marker data in pseudo-code from dpalmeiro is:

[code]

Which is being filled in by this struct information: https://searchfox.org/mozilla-central/rev/16d30bafd4e5276d6d3c632fb52a6c71e739cc44/js/src/jsapi.h#195

We could then chart those values with something like:

[code]

┆Issue is synchronized w

[2020-11-03 22:27] gregtatum commented on #3018
@raymond-sikpojie I actually took this one, as the solution was a bit complicated, and it's a user-facing regression, which means it's a bit higher priority to get a tested fix in place fast. Feel free to look over my work in the PR if you are interested. For future commenting on repos, it's always a good idea to communicate clearly, and not to assume that someone has context to your needs. This p

[2020-11-04 15:32] #3018 closed

[2020-11-04 15:53] julienw commented on #2986
Closed by PR #2998.

[2020-11-04 15:54] julienw commented on #2986
Ooops nope, a second part is still needed. @anap226 are you still looking at this?

[2020-11-04 16:14] anap226 commented on #2986
Yes @julienw, I am !! Thanks for reopening.

[2020-11-04 19:44] mstange opened #3030 "Cause timestamp seems wrong in the content process"
Profile: https://share.firefox.dev/3mRHmcr

Steps to reproduce:
 1. In the marker chart, move your mouse over one of the "RefreshDriverTick" markers in the content process.

Expected results:
Under "Stack: Triggered <cause age> ago", it should have values in the millisecond range.

Actual results:
It shows "Stack: Triggered 39,443s ago" for all markers. That's a lot of seconds.

In comparison, in

[2020-11-05 00:37] mstange commented on #2982
Pasting what I wrote in #3030, because of the hint at the end:

Profile: https://share.firefox.dev/3mRHmcr

Steps to reproduce:
 1. In the marker chart, move your mouse over one of the "RefreshDriverTick" markers in the content process.

Expected results:
Under "Stack: Triggered <cause age> ago", it should have values in the millisecond range.

Actual results:
It shows "Stack: Triggered 39,443s ag

[2020-11-05 00:37] mstange commented on #3030
Duplicate of #2982.

[2020-11-05 00:50] mstange opened #3031 "Can no longer click-drag range selections over the screenshot track - mouseup resets selection"
This is a regression from #2940. I would like to request #2940 be reverted until this is fixed, because this is a rather annoying regression, and because, in my opinion, selecting the range of a single screenshot is not very useful. The range of a single screenshot shows you what happened between two composites, but it doesn't do what Eric requested: it doesn't include the refresh tick that caused

[2020-11-05 00:57] mstange commented on #3031
Here's a modified implementation idea that might make the behavior palatable:

Rather than implementing a "click screenshot" behavior, you could implement a "round out to screenshot" behavior: The mousedown selects screenshot A, the mouseup selects screenshot B, and the range could become the range that includes both A and B. During drag-selection, the range would increase/decrease in screenshot-m

[2020-11-05 09:39] julienw commented on #3031
I tend to agree, more than often I did it when I didn't want to.
The workaround I have in mind is that we could avoid changing the selection here if a selection is already happening (isModifying === true). I can try that.

This would also automatically work for screenshot clicks.

This is interesting but quite difficult, because the preview selection is handled at a very different level than the s

[2020-11-05 10:56] julienw opened #3032 "Opening the publish panel for the first time is super slow"
STR:
1. Load https://share.firefox.dev/2I3nxQv
2. Open the publish panel

Here is a profile showing the problem in a dev build: https://share.firefox.dev/32wNmzR

I can see 2 weird things:
1. We get the profile data while it should be asynchronous (with a promise). Probably it's asynchronous but we're still starting the process at that moment, and asynchronous doesn't mean parallel...
2. Why are w

[2020-11-05 10:57] julienw commented on #3032
To make sure that the publish panel is displayed, maybe the asynchronous retrieval of the profile should happen after a requestAnimationFrame call.

[2020-11-05 15:17] julienw commented on #3032
This is also super slow when clicking the checkboxes in the publish panel.

[2020-11-05 15:34] #3031 closed

[2020-11-05 16:21] mstange opened #3034 "Double-clicking a "clipped" marker in the marker chart sets an inconsistent range selection"
Steps to reproduce:

1. Load this profile: https://share.firefox.dev/3l11QiD
1. Notice that it's showing a zoomed-in view, where the first CompositorScreenshot marker is mostly cut off by the displayed range. Only the "end part" of the first CompositorScreenshot marker is visible.
1. Double-click that clipped CompositorScreenshot marker.

Expected results:
The preview selection should be clamped s

[2020-11-05 23:30] mstange opened #3036 "In the marker chart, hovering a CompositorScreenshot marker should display the screenshot in the marker tooltip"
Profile: https://share.firefox.dev/32fiQtO

We have CompositorScreenshot markers in the marker chart. It would be nice if hovering those markers could display the screenshot in the tooltip.

The screenshot track at the top is nice, but when I'm zoomed in and looking at only a few frames worth of data, it is valuable to see clearly where one screenshot starts and the other begins. Moreover, the scr

[2020-11-06 18:48] mstange opened #3038 "Selecting multiple threads hides IPC markers in the marker chart"
Profile: https://share.firefox.dev/3l94gLS

Steps to reproduce:

1. Collect a profile with IPC information using the "IPC messages" profiler feature, or load the profile linked above.
1. Use Cmd+Click to select multiple threads, at least one of which has IPCIn or IPCOut markers.

The IPC markers disappear in the merged thread.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlas

[2020-11-06 19:16] julienw opened #3039 "Tooltip location: set the style in componentDidUpdate instead of using a state"
I think it should be possible to set the `left` style directly in `componentDidUpdate` instead of using a state to trigger another render.

[2020-11-06 22:08] mstange commented on #976
"Debug" is not the same as "optimized but without --enable-release". The current implementation does not help with the problem that this issue was filed about. Moreover, the correct fix requires information that is not currently in the profile, as far as I'm aware - we need to know the rust optimization level.

[2020-11-06 22:19] mstange opened #3040 "<DebugWarning> is incorrect because it doesn't differentiate between optimized builds with/without release optimizations"
The warning that was implemented in #2966 (for #976) shows the following text for profiles obtained from Firefox debug builds:

Warning for debug builds is nice but it is not what we need. What we need is a warning that differentiates between non-debug builds of different rust optimization levels.

For context, the build settings have (at least) five independent levers that affect performance:

1.

[2020-11-09 14:41] #2396 closed

[2020-11-09 15:08] julienw commented on #2873
Unassigning for inactivity.

[2020-11-09 15:10] julienw commented on #2768
I'm clearing the assignee here for inactivity. If you still want to look at it, please leave a message!

[2020-11-09 15:17] julienw commented on #969
I cleared the assignee for inactivity, but if you're still interested please comment here.

[2020-11-09 15:27] julienw commented on #2819
Thanks to all of you, we've nearly finished this task.
Now, only `src/components/timeline` still has some default exports. @Okwonks do you still intend to finish all of them? Thanks!

[2020-11-09 19:26] julienw commented on #3038
I found this in the console:
`Unable to find shared data for IPC marker (marker-data.js:582:20)`

This belongs to this code:
https://github.com/firefox-devtools/profiler/blob/04127134822d616346298cb504262ad1ccad7b08/src/profile-logic/marker-data.js#L578-L584

But in the case of merged threads, the threadId here is `undefined` because of https://github.com/firefox-devtools/profiler/blob/04127134822

[2020-11-09 19:28] julienw commented on #3036
Definitely. I thought we had this on file already!

[2020-11-10 04:37] Cheederah commented on #3036
Hi @julienw , please can i work on this?

[2020-11-10 08:40] julienw commented on #2528
This would be more consistent indeed...

[2020-11-10 11:20] #1140 closed

[2020-11-10 14:26] julienw opened #3044 "Follow-up issue to #1526: double check the accessibility of the keyboard navigation in the network chart"
Currently the keyboard navigation in the network chart is only visual. Therefore I believe the accessibility isn't good enough.

Maybe the easiest is to make the list a `role=listbox`, each line a `role=option`, and then using the same techniques as in the treeview (`aria-selected` and `aria-activedescendant`).

[2020-11-10 14:27] julienw commented on #1526
The first PR just landed, congrats!
Now in this issue we're interested in handling the tooltips properly.
Also if you're interested I filed bug #3044 about the accessibility of the keyboard handling.

[2020-11-10 16:18] mariagus commented on #1526
Great! Thank you, Julien. And yes, I'd like to work on issue #3044 also after this.
I wanted to clarify how we want the tooltip to behave exactly, in case I misunderstood. Do we want something similar to the sidebar in marker-table, which has a fixed position containing the info for selected items, and additionally have a tooltip appear when hovering a row, as it does now in network-chart? Or do w

[2020-11-10 20:04] julienw commented on #1526
I think I'd like to try something a bit different than with a sidebar. The problem with the sidebar is that this takes some horizontal space, and this doesn't work well for panels that are aligned with time.
Therefore I'd suggest something different: show a tooltip, but always positioned at the same position, let's say roughly starting at 25% or 10% of the right border. Vertically it could be roug

[2020-11-10 21:18] canova commented on #2409
Thanks to @lape15, we've merged #2980 now!

For our team, next step here is to continue with using these styles we've added in #2980 in our React components where needed. This PR added 2 additional divs inside the `photon-message-bar`. Currently this component works as before without them. Possible places to use: `ServiceWorkManager`, `MenuButtonsPublish` and `Warning`.

[2020-11-10 21:54] canova opened #3047 "Remove the unused Initializing component"
It looks like we have `Initializing` component that we don't use anywhere now. We can remove it safely.

[2020-11-10 22:17] mariagus commented on #1526
I was thinking the same regarding the horizontal space tbh.
I'll have a go with your suggestion and we can see how it looks then :)

[2020-11-16 17:28] julienw opened #3060 "Profiles without a lot of information show an empty "rename" button, bad title"
STR:
1.Open this profile: https://share.firefox.dev/36KJUmc

=> Look at the top left button, it is empty.

Also the window.title looks wrong.

I'm not 100% sure where this profile comes from TBH. This is a file I had on my computer.

[2020-11-16 20:00] whimboo opened #3061 "Allow to compare two profiles for their memory usage"
While the profiler allows to compare two profiles for code execution (stack frames), it's not possible to actually compare the memory usage. I have to do such a comparison for https://bugzilla.mozilla.org/show_bug.cgi?id=1669169#c16.

Here two profiles that I want to compare: https://share.firefox.dev/32SgQrR and https://share.firefox.dev/2H5gx5g

[2020-11-16 20:19] gregtatum commented on #3061
Given:

[code]

We'll need two tracks:

Track A: Charts `Profile A` and `Profile B`
Track B: Charts the `Diff`

[2020-11-16 20:53] tushar912 commented on #2873
@gregtatum @julienw can i work on this

[2020-11-16 22:44] gregtatum opened #3062 "Fix types, or remove higher order components"
In PR #3051, I removed most of the existential types from our codebase, but there are some in our higher order components (HOC). It would be nice to remove all of this deprecated feature.

In addition, these types would not survive a migration to TypeScript, which is #2931. In that issue I stated:

As an experiment, I created a UseDimensions hook, which is a replacement to `WithSize`, this is PR #

[2020-11-16 22:48] #1947 closed

[2020-11-19 07:28] kennethye1 commented on #2873
Hi, is this still assigned?

[2020-11-19 15:33] canova opened #3068 "Add a hamburger overflow menu to the top right side of profile viewer"
Currently we have "legal", "privacy" and "cookies" links on the bottom right side, but it's not really great for a few reasons. It's concealing some information sometimes that falls under it and we don't have to see them all the time. Instead it would be great to add a hamburger or falafel overflow menu to the top right side that includes all these there. We have a menu icon on photon icons that w

[2020-11-20 14:39] julienw opened #3070 "Marker issue with sanitization"
STR:
1. open [this profile](https://profiler.firefox.com/public/j0t9bq5w2cseghhfan646t8dg6kdcmm0edn2sz8/marker-chart/?globalTrackOrder=0&localTrackOrderByPid=30923-1-2-0~&markerSearch=UserTiming&range=m5028&thread=0&v=5)
2. publish it, by _removing_ the hidden time range

=> notice how the activity graph at the top doesn't change, BUT the markers at the bottom change.

First weird thing I notice i

[2020-11-20 15:28] julienw commented on #3070
My current lead is that the HOC WithSize and Viewport give bad values :/

[2020-11-20 15:38] julienw commented on #3070
At least, reloading after sanitizing, this looks right. So at least shared profile links will work fine.

[2020-11-20 20:08] fqueze opened #3072 "Showing marker tooltips (and generally interacting with the profiler UI) is very slow"
Showing marker tooltips (and generally interacting with the profiler UI) very slow on https://share.firefox.dev/35wRQbg

Here is a profile of it: https://share.firefox.dev/38Jgnfj (after playing with tree transforms: https://share.firefox.dev/3lxFkhz )

[2020-11-24 10:54] Bucky25 commented on #1606
@julienw i have figured it out through and can i work on this if ?

[2020-11-24 11:40] Bucky25 commented on #1606
@julienw can u please tell me about how to reference to timeline (parent process) as it does not have a id to reference

[2020-11-24 17:22] IBTechRaj commented on #3036
Hi @julienw , I am new to open-source projects. Can a second person work on this issue? if so, can I work? Since I am new to this type of work, I may be needing lots of guidance. If you think that is ok, kindly respond. Thanks

[2020-11-24 21:12] atpug22 commented on #2873
Hi @gregtatum @julienw can I work on this?

[2020-11-25 11:06] Bucky25 commented on #1346
@julienw  do i have to create a  new component or something else

[2020-11-25 11:29] IBTechRaj commented on #2873
Hi @gregtatum @julienw can I too work on this provided more than one person is allowed? Excuse me if I am posing the wrong question. I am new to open source contributions.

[2020-11-27 18:51] yahya-cloud commented on #2819
hello @julienw, can i be assigned with src/components/timeline  if it is still available?

[2020-11-27 21:24] julienw commented on #2819
There is a pull request for this last bit already. nothing is available in this issue, sorry about that.

[2020-11-28 17:38] tirtharajghosh commented on #3068
Hi @canova I'd like to claim this issue. Could you please assign it to me?

[2020-11-30 17:09] julienw commented on #3040
I see, thanks for the detailed issue.

[2020-11-30 18:30] julienw commented on #2877
I believe it's been fixed mostly by #2919, a bit in #2946 and #3076 too.
Closing now!

[2020-11-30 18:30] #2877 closed

[2020-11-30 18:32] #2873 closed

[2020-11-30 19:22] gmierz commented on #2656
I think if we could get an "expand all" button (at the least) it would help a lot with this.

[2020-12-01 01:48] mstange commented on #2749
Yeah I'm pretty sure the "category" field was completely ad-hoc. I think these tracing markers can all be identified by their name and the "category" is not worth preserving.

[2020-12-01 01:51] mstange commented on #2749
Yeah, those `"Paint"` category strings are from the very first addition of tracing markers, in [bug 918825](https://bugzilla.mozilla.org/show_bug.cgi?id=918825).

[2020-12-01 14:16] Bucky25 commented on #3060
@julienw  i think it problem in with some windows particular thing as in linux machine it does not shows up

[2020-12-01 14:33] julienw opened #3081 "Update photon-message-bar components to support multiple lines"
In #2980 we updated the component message-bar to support multiple lines, when the window is narrow for example. To do this we need to use an additional div with the class `photon-message-bar-inner-text ` for the text content.

In this issue we want to update all existing uses of this component to wrap the text content with this div:

* [ ] src/components/app/ErrorBoundary.js
* [ ] src/components/a

[2020-12-01 14:41] julienw commented on #3072
Actually showing the tooltips from the marker chart works reasonably fine, but it's slow when hovering the markers from the timeline.

The profile shows a lot of canvas operations.
I believe we redraw the full line when the user hovers a new marker. Because we have a lot of markers here, this is very slow, because we're also dumber in this area than in the marker chart. We do have some logic to av

[2020-12-01 14:42] julienw commented on #3072
Also it could be interesting to know if we have more markers than before, with Markers 2.0. Maybe some markers could be moved out of the timeline.

[2020-12-01 14:52] julienw commented on #3072
Note: in the timeline we use some transparency (with the minimal width being 0.3px), so that markers could "add up" between themselves. This could also be part of the slowness. Should we keep this? The downside is if we have closeby markers with different colors we might hide some, while currently they're added together.

[2020-12-01 15:24] julienw commented on #3072
Additional thought (last one hopefully): why are we rerendering _everything_ when only 2 locations should be rerendered? (I'm saying "location" on purpose because we might have several markers in the same location, and one marker might be several pixels wide). This was harder in the marker chart because of those dot markers being on top of each other, but here where we use vertical lines this shou

[2020-12-01 17:36] canova commented on #3068
Hi @tirtharajghosh, thanks for wanting to work on this. But the requirements of this task is not fully defined and it would be better if a core team member works on this. Can you take a look at the "good first issue" label instead? I think Julien added a new one today.

[2020-12-01 20:02] sreesai1412 commented on #3081
Hi, I would like to work on this. Can I please be assigned this issue ?

[2020-12-01 20:43] julienw commented on #3081
Sure, thanks!

[2020-12-02 05:54] sreesai1412 commented on #3081
Hi, I have completed working on the first portion of the issue, i.e., wrapping the text content with the given div in all the 4 mentioned files. I have opened [PR #3084 ](url) for the same. Can you please check if it is alright.
Also, can you please provide some more details as to what exactly is to be done in the example file in res/photon/index.html ?

[2020-12-02 13:25] julienw commented on #3081
`res/photon/index.html` contains the examples for this component. The second task is to clean it up to remove the old examples (without the `<div>` for the inner text). Also you'll notice that each of the examples have 2 parts: first part as a `<pre>`, designed so that we can copy paste it easily from the example file, and second part is the "real thing". So we need to change also the first part f

[2020-12-02 13:59] julienw commented on #3060
By opening this profile in the link above, you can reproduce it. To look at it locally, you can replace `https://profiler.firefox.com` with `http://localhost:4242`.

[2020-12-02 14:31] akulsharma007 commented on #1606
@julienw Is this issue available for fixing, if yes I can work on it.

[2020-12-02 16:22] sreesai1412 commented on #3081
Hi, I have cleaned up the example file and removed old examples. Please see [PR #3084 ](url)

Now, it contains 3 variants of photon-message-bar i.e.,
1)Generic   2)Error    3)Warning

Now, each variant has 3 examples,
1)non-dismissable message bar
2)dismissable(i.e., with close button) message bar with action button
3)dismissable(i.e., with close button) message bar without action button

[2020-12-02 18:13] julienw commented on #2656
I had a quick look, and the code here seems to want to expand until we see 30 lines: https://github.com/firefox-devtools/profiler/blob/b03bf3cbd6bba6b8625105f8b80ba5a3b492fadc/src/profile-logic/zip-files.js#L207-L240

So I think the logic is wrong. Maybe `let nodeCount = roots.length + children.length;` shouldn't have the `+ children.length`?

That said I discussed this a bit with @fqueze today, a

[2020-12-03 08:14] sreesai1412 commented on #3081
Also, these are some screenshots of the examples page:
1)
![Screenshot 2020-12-03 at 1 41 41 PM](https://user-images.githubusercontent.com/48653063/100982005-8ee4d180-356d-11eb-82f6-5a406d8d103d.png)

2)
![Screenshot 2020-12-03 at 1 42 25 PM](https://user-images.githubusercontent.com/48653063/100982038-999f6680-356d-11eb-8186-d202597be988.png)

3)
![Screenshot 2020-12-03 at 1 42 42 PM](https://use

[2020-12-03 11:06] #1023 closed

[2020-12-03 11:16] #2809 closed

[2020-12-03 11:20] julienw commented on #1006
hey @webobite @47analogy, do you still intend to work on this? Please give some update on this :-) Thanks!

[2020-12-03 11:21] julienw commented on #2949
hey @KarenEfereyan, is that still something you'd like to work on? It's totally OK if you don't, but please tell us so that we can reset the status of this issue. Thanks!

[2020-12-03 11:22] julienw commented on #2948
hey @burianovata, do you still intend to look at this more? It's totally OK if you don't, but please tell us so that we can update the status of this bug and somebody can take it :-) Thanks!

[2020-12-03 11:23] julienw commented on #2947
hey @Somaru-chan, do you still intend to look at this more? It's totally OK if you don't, but please tell us so that we can update the status of this bug and somebody can take it :-) Thanks!

[2020-12-03 11:24] julienw commented on #2654
hey @Anita-ihuman, do you still intend to look at this more? Where can we see your changes so that we can give a feedback?
It's totally OK if you don't want to work on this more, but please tell us so that we can update the status of this bug and somebody can take it :-) Thanks!

[2020-12-03 12:02] KarenEfereyan commented on #2949
@julienw please reassign it to someone else as I'm having some technical challenges currently

[2020-12-03 14:28] julienw commented on #2618
PR #2892 landed a way to do this: we can now define the preview selection from both a marker's start and end, using the context menu. I asked @padenot and this isn't exactly the thing he wanted: he'd like that the selection somehow "snaps" on marker's edges. This would be easier for sure but not easy to do in a performant way.

For now I'm keeping this issue open then.

[2020-12-03 14:30] julienw commented on #2409
The rest of the work is tracked in #3081, so I'm closing this issue

While working on this I noticed there was some problem in the top padding, I'll look at it closer when reviewing this new PR.

Thanks for this work!

[2020-12-03 14:30] #2409 closed

[2020-12-03 17:11] Bucky25 commented on #3060
i think we should try out with another profiles as meta does not contain proper information  to generate default name  out of it
@julienw

[2020-12-03 20:52] atpug22 commented on #2856
Hi @canova @julienw  I am new to opensource and want to contribute to Mozilla for GSOC'21. Can you assign this task to me??

[2020-12-03 20:57] atpug22 commented on #2656
Hi @julienw , I am new to opensource and but wanna contribute to firefox for GSOC, if this issue is good to begin with then can you assign this issue to me?

[2020-12-03 22:21] aintabb commented on #1119
Since all the changes are completed and merged, I think we can close this issue. What do you think @gregtatum  @julienw @canova ?

[2020-12-04 10:29] julienw commented on #1119
Ah yes, good catch! I meant to close it automatically when I added the line to commit https://github.com/firefox-devtools/profiler/commit/3bbfb54c50d256dd1c2831a2939f8bab86cdc4f2 but this didn't work clearly.

Thanks!

[2020-12-04 10:29] #1119 closed

[2020-12-04 10:50] julienw commented on #2656
@atpug22 sure, but please note that this project isn't part of GSOC. Please confirm that you still want to work on this after this information, I wouldn't want that you work with some false hope :-) Thanks

[2020-12-04 10:51] julienw commented on #3060
@Bucky25 This is especially the problem we have :-) The goal for this issue is to come up with some default name if we don't have a proper information. Maybe just "Untitled profile".

[2020-12-04 10:51] atpug22 commented on #2656
@julienw Yes i still wanna try this and can you please let me know when gsocs projects will start?

[2020-12-04 10:53] julienw commented on #2856
Hey @atpug22 , this project isn't part of GSOC this year. Do you still want to work on this?
@qmya sorry we didn't see your message earlier! I'll assume that your request is outdated.

[2020-12-04 10:54] julienw commented on #2656
Thanks! I just assigned this task to you then.
I don't know for GSOC because as I said this project won't take part to GSOC :-) so I don't have this information.

[2020-12-04 10:57] julienw commented on #2949
No worries, thanks for telling us :-)

[2020-12-04 14:16] aintabb commented on #1119
You’re very welcome!

[2020-12-05 10:16] atpug22 commented on #2656
@julienw can you please me where I can get test zip file?

[2020-12-07 10:53] fqueze opened #3091 "Two menu items can appear selected at once when there's an open submenu"
![Capture d’écran 2020-12-07 à 11 49 02 1(2)](https://user-images.githubusercontent.com/2633774/101342224-8dbfe700-3882-11eb-9e79-ce951d1f84c6.png)

Steps to reproduce:
1. Open a profile on the marker chart (eg. I was looking at https://share.firefox.dev/3qBEsLK)
2. Right-click a marker.
3. Hover a menu item with a submenu, wait until the submenu opens
4. Hover another menu item.

[2020-12-07 11:41] julienw commented on #3091
I noticed that, this is because the submenu that's opened is highlighted with the same color as the "hover". This is indeed a bit confusing, we could use a paler blue for the opened menu.

[2020-12-07 11:51] julienw commented on #2656
Hey @atpug22, you can make one yourself manually, any zip file will work for this. Of course to open a file then it needs to be a supported file, but just to display the zip any file will work.

[2020-12-07 16:38] mstange commented on #2656
You can start with this link: https://treeherder.mozilla.org/jobs?repo=mozilla-central&searchStr=-profiling
Click any of the green text items in the T-Prof or Rap-prof groups, and then click the "Open in Firefox Profiler" button in the Performance panel.

[2020-12-08 11:07] #3081 closed

[2020-12-08 14:24] mariagus commented on #3044
Hi @julienw,
Here's the pull request for this issue: #3093
Thanks!

[2020-12-08 15:47] CipherGirl opened #3094 "Outreachy Internship: l10n/i18n for Profiler"
### Localization for Profiler
This issue is for tracking tasks related to the Outreachy internship. The main task here is to implement localization for Profiler, which can be broken into multiple sub-tasks as below:

**Internship Task Breakdown:**
- [x] Set up the Fluent framework. (PR #3087)
- Research how to create good translatable texts.
- Research how many components will need to be updated f

[2020-12-08 16:40] julienw commented on #2657
I was trying to rebase my old patch, but now it looks like that this is now orking as expected.
[Here is an example link](https://profiler.firefox.com/from-url/https%3A%2F%2Ffirefox-ci-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FcIbMgcNlTTmj5ldUrVUzFw%2Fruns%2F0%2Fartifacts%2Fpublic%2Ftest_info%2Fprofile_raptor-wasm-godot-firefox.zip/calltree/?file=var%2Ffolders%2Fqm%2Ftf865h8d6m78ndmh4g56

[2020-12-08 16:40] #2657 closed

[2020-12-08 19:35] mstange commented on #2657
I can confirm this is fixed. For example, loading [this profile](https://profiler.firefox.com/from-url/https%3A%2F%2Ffirefox-ci-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FKlsBxF4SSGiTslfbcTLtIw%2Fruns%2F0%2Fartifacts%2Fpublic%2Ftest_info%2Fprofile_raptor-stylebench-firefox.zip/calltree/?file=var%2Ffolders%2Fk3%2F14_8hz3949j7r_9ct0qjl9jh000017%2FT%2Ftmp09VMcn%2Fraptor-stylebench-firefox_pa

[2020-12-09 11:05] #3044 closed

[2020-12-09 11:14] #1785 closed

[2020-12-10 07:59] CodeWithBlaze commented on #3047
hello sir i am new in open source field and i want to start with this if you assign me and guide me i guess i can do this

[2020-12-10 18:46] fqueze opened #3100 "Duplicated marker in the timeline"
When looking at the markers in the timeline on the "Compositor" track of this profile https://share.firefox.dev/2IxtBRH, I see 2 identical black markers. This is most likely a regression related to marker schemas.

Greg said: https://share.firefox.dev/2IDhGC4 yeah it's definitely duplicated, the `filteredMarkers.length === 1`

[2020-12-11 14:08] #3047 closed

[2020-12-11 18:14] mariagus commented on #2945
Hi @julienw,
I'd like to give this a try if that's ok.
Thanks!

[2020-12-11 21:18] mstange opened #3103 "Call tree transforms on a merged thread don't url-serialize properly"
Steps to reproduce:
 1. Load any profile and select multiple threads by Cmd-clicking tracks, to create a merged thread calltree. Alternatively, load this profile, which already has multiple threads selected: https://share.firefox.dev/347BhBU
 2. In the call tree of the merged thread, perform a filter. For example, select a row and press the "f" key to do focus-on-function.
 3. Check what the `tran

[2020-12-12 12:06] Somaru-chan commented on #2947
Hi @julienw. Please forgive the late reply, this past month has been challenging due to having to move from a country to another. Though I am grateful for the opportunity, I don't believe it'll be within my capacity to work on this issue at the moment. Thank you for your help & patience, and I hope to make more contributions in the near future :)

[2020-12-13 12:01] aroradhruv2308 commented on #3091
Hey I would like to contribute to this issue as my first issue. I need some help my browser redirects from localhost to https whenever I capture profile (Ctrl+Shift+2).

From here :

![profiler](https://user-images.githubusercontent.com/67088080/102011110-3df08c80-3d68-11eb-997a-3a65d12cc9a2.jpeg)

To https:

![gcko](https://user-images.githubusercontent.com/67088080/102011175-accde580-3d68-11eb-8

[2020-12-13 18:28] aroradhruv2308 commented on #3091
@julienw  @fqueze I have tried to resolve this issue. Can you please review it if it is alright?
PR : https://github.com/firefox-devtools/profiler/pull/3104

[2020-12-14 10:20] aroradhruv2308 commented on #2856
Hi @julienw i'm also new to open source and though it is not the part of gsoc but i still want to contribute in this can you assign this to me.

[2020-12-14 10:33] aroradhruv2308 commented on #2767
Hi @julienw i'd like to work on this

[2020-12-14 12:33] julienw commented on #2767
Hey @aroradhruv2308, let's focus on getting your other pull request landed first, thanks :-)

[2020-12-14 12:34] julienw commented on #2856
hey @aroradhruv2308 , let's focus on getting your other pull request landed first, thanks!

[2020-12-14 12:37] julienw commented on #2947
no worries, thanks for your reply!

[2020-12-14 12:40] julienw commented on #2808
hey @rlkeyer , any update from your side ? :-) thanks!

[2020-12-14 12:40] julienw commented on #2654
Unassigning for inactivity. Thanks!

[2020-12-14 12:41] julienw commented on #2656
hey @atpug22, do you have any update on this? Thanks!

[2020-12-14 12:41] julienw commented on #2948
Unassigning for inactivity. Thanks!

[2020-12-14 12:48] julienw commented on #2945
hey @mariagus, yes sure, I would be glad!
thanks for looking at this :-)

[2020-12-14 13:39] julienw commented on #2948
The crash in this profile happens because pid `7660` has local tracks, but `hiddenLocalTracksByPid` doesn't have this pid.

This case may happen because in url-handling.js we don't add a pid if none of its tracks is hidden:
https://github.com/firefox-devtools/profiler/blob/edc6f227b0cc0b332f35c08198a123666b5b95cf/src/app-logic/url-handling.js#L312-L316

There are other places where we have a simil

[2020-12-14 17:08] #1387 closed

[2020-12-14 17:39] julienw commented on #3100
I know what happens, and this isn't a regression related to marker schemas, or at least not totally.
We have this logic where we use BHR data instead of the jank markers when jank markers are missing: https://github.com/firefox-devtools/profiler/blob/c4f70241c7a3a5209dc68cc594954c574d412383/src/selectors/per-thread/markers.js#L278
Note that the logic is per-thread. First problem is: why isn't it r

[2020-12-14 19:07] gregtatum commented on #2931
Since I'm moving to work on Internationalization, here is the current status of this work:

I was hoping to do this in bits on the side, but I think it requires a bit more concentrated effort to accomplish. I think there are still opportunities to do this incrementally, but there needs to be at least some point where things like CI get paused and a big migration event should occur.

Probably the t

[2020-12-14 19:26] gregtatum commented on #2931
## Re-work Flow to be closer to TypeScript

 - [ ] Finish #3063 and #3064 to agree on a TypeScript/Flow compatible API for connected components.
 - [ ] Migrate all connected components to the new API.
 - [ ] Remove all read-only `{ +prop: Type }` syntax, and migrate to `$ReadOnly<>`

## Write migration scripts

A significant amount of the migration can happen in bash scripts. I would recommend wri

[2020-12-14 19:37] gregtatum commented on #2931
For reference, here is a local attempt to handle the migration. It's useful for identifying the class of errors you get.

https://github.com/firefox-devtools/profiler/compare/main...gregtatum:flow-to-ts-2020?expand=1

I can't remember if I ran flow-to-ts or not on it.

The [tsconfig.json](https://github.com/gregtatum/perf.html/blob/343ae4f41f9509d7949383c475658bbf3dcdab85/tsconfig.json) is probabl

[2020-12-15 11:05] julienw commented on #3100
bugzilla bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1682349

[2020-12-15 11:24] fqueze opened #3109 "Profile markers displayed incorrectly in compare view"
When looking for example at ChromeUtils.import markers on this profile https://share.firefox.dev/2Ks9gOt I can't see the name of the files being imported.

In the console, I can find this information using `filteredMarkers[0].data.name`.

Other text markers are showing the same issue. This is likely a regression after Markers 2.0, we don't seem to be preserving the marker schemas when showing the

[2020-12-16 15:44] shagunarora commented on #2767
Hi @julienw I would like to contribute to this issue. Can you assign this task to me.

[2020-12-17 13:31] Bucky25 commented on #3103
@mstange i would like to work on it .

[2020-12-17 14:14] julienw commented on #2931
https://github.com/sindresorhus/type-fest could be a useful typescript-related project with utility types. Especially their `Merge` utility type can be slightly more correct than the intersection to replace the spread operator (where the type for one overridden property is changed by the second type). Other utility types seem useful too.

[2020-12-17 14:27] Bucky25 commented on #3103
can u tell me which file to look up for this .

[2020-12-17 15:53] julienw commented on #3103
hey @Bucky25, thanks for asking! I believe this bug isn't ready to be taken on for a contributor, as we have to assess and outline the work before that.
Can you have a look at the issues tagged with "help wanted" please ? :)

[2020-12-17 16:28] #3060 closed

[2020-12-17 16:38] Bucky25 commented on #2949
@julienw i would like to work on it.

[2020-12-17 17:00] Bucky25 commented on #2949
what exactly is the task is it to only show the screen shot and if it is not changing then we do not show it until the new screenshot has a change relative to previous one  . do i got it wright or correct me if i am wrong . and what to show if the screenshot does not changes .

[2020-12-17 17:52] #2443 closed

[2020-12-18 13:01] amankr1619 commented on #2767
Hey, @julienw I would like to work on this as my first issue.

[2020-12-18 13:50] Luni-4 opened #3112 "Cannot read a json file produced by hawktracer"
Hi!

I've run the following command on this [trace.zip](https://github.com/firefox-devtools/profiler/files/5715996/trace.zip):

`hawktracer-converter-rs  --source trace.bin --output-file trace.json`

and I've got the following error when I tried to load the `trace.json` file on the profiler:

[code]

Thanks in advance for your help! :)

[2020-12-18 14:54] julienw commented on #2767
hey @amankr1619, yes sure! You should have all needed information in Greg's previous comment above.

[2020-12-18 14:58] julienw commented on #3112
Hey @Luni-4 , thanks for opening the issue!

I think we don't support this format at all at the moment. TBH it's the first time I hear about hawktracer but this looks definitely interesting!

The formats we support at the moment are:
* our own format
* (I think) the files produced from the firefox devtools performance panel
* a specific format output by linux perf
* a format output by MacOS' sampl

[2020-12-18 15:01] julienw commented on #2949
Yes, this is exactly this!

If the screenshot does not change, I believe this could just be "blank", nothing drawn. We can decide later if we want to change the background to something grey instead of white, but that's easy to do later.

[2020-12-18 15:12] amankr1619 commented on #2767
Thanks!! I will respond in few hours once I have figured out the issue

[2020-12-18 15:23] #3100 closed

[2020-12-18 15:39] Luni-4 commented on #3112
Thanks a lot for your reply @julienw!

I see, no problem, just wanted to let you know!

If I have time, I could look at how this format should be implemented in the profiler, thanks for the help! :)

[2020-12-19 18:45] Bucky25 commented on #2949
@julienw how are we going to compare screenshots .

[2020-12-22 16:18] amankr1619 commented on #2767
Hey @julienw Can you explain this issue a little bit more. I tried to fix it on my own but It seems tough to me as it is my first time contributing to this codebase.

[2020-12-23 07:42] NKwatra commented on #2654
Hey @julienw, I am not sure about it, but shouldn't regex for isMobile function be `/Mobi|Tablet\b/`?  Based on below content from  [Firefox user agents page](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent/Firefox)

"if you use UA sniffing to target content to a device form factor, please look for Mobi (to include Opera Mobile, which uses "Mobi") for the phone form factor and

[2020-12-23 09:39] julienw commented on #2654
Hey, thanks for your comment!
Your suggestion is valid in the general case, where we'd want to target mobile devices in general. But in this case we want to specifically detect firefox on Android so that we can display specific instructions. Maybe the new function should be called "isAndroid" though?

[2020-12-23 09:46] NKwatra commented on #2654
I guess, "isAndroid" would be a better name in that case. Can I work on this then?

[2020-12-23 13:09] julienw commented on #2654
Yes sure.
Please note that during the holiday season we will be less responsive than usually.

[2021-01-05 16:10] dhanesh12twice commented on #2856
hey there,may I work on this bug?

[2021-01-07 10:24] dhanesh12twice commented on #2768
Hey, may i work on this ?

[2021-01-07 12:48] canova opened #3121 "Consider keeping the deploy preview URLs when publishing & shortening"
We have a check while shortening that converts back all non profiler.firefox.com urls:
https://github.com/firefox-devtools/profiler/blob/6b0146209d963aaa1154a9777b71a9125f5b822b/src/utils/shorten-url.js#L13-L19

I think this is useful when we are working on `localhost`, but I don't think this is exactly what we need for deploy previews. When I'm working on a deploy preview, I usually want to prese

[2021-01-09 11:26] abhinav-sinhaa commented on #2856
Hey @canova  @julienw  can I work on this issue? I am new to open source, and want to get experience of working over some real world projects and solve bugs related to them.

[2021-01-09 19:26] tanweeralii commented on #3109
Hey @fqueze, I am a beginner here, want to start with something to explore codebase. Can I take this issue?

[2021-01-11 10:19] dhanesh12twice commented on #2856
@julienw @canova  Is there any chance that this project will be consider for upcoming outreachy program?

[2021-01-11 10:35] dhanesh12twice commented on #2808
@julienw Hi, i am interested to work on this issue.

[2021-01-11 10:53] julienw commented on #2808
hey @dhanesh12twice, sure, please do!

[2021-01-11 10:54] julienw commented on #2856
hey @dhanesh12twice, probably not for the upcoming round! Also I assigned you another bug already.
@abhinav-sinhaa yes sure, please work on this if you're still interested!

[2021-01-11 11:03] julienw commented on #3121
I believe the reason is that the goal for this check is that we don't stay easily on a non-production version without knowing it. But I also agree this can be surprising and painful in some cases.

Therefore, why not, but then I think we also need a check that we are on profiler.firefox.com, and provide a warning and a button switch otherwise. (of course I don't know where to put that :) ). What d

[2021-01-11 11:04] julienw commented on #2768
hey @dhanesh12twice , I already assigned you to another issue, let's focus on that first. Thanks!

[2021-01-11 11:48] julienw opened #3124 "Update to webpack v5"
**(blocked by #3272)**
We held off upgrading to webpack v5 until we had more time to look at it.

Here is some [general information about changes in v5](https://webpack.js.org/blog/2020-10-10-webpack-5-release/) and there is also a [migration guide](https://webpack.js.org/migrate/5/).

~~This issue in Fluent might be a problem for this upgrade: https://github.com/projectfluent/fluent.js/issues/517

[2021-01-11 13:34] rbrishabh commented on #2768
Hey @julienw, I would like to work on this one! :)

[2021-01-11 17:45] julienw commented on #2768
hey @rbrishabh, yes sure :-)
It's not super easy but this should be interesting!

[2021-01-13 10:49] canova commented on #3121
I think we can use our `Warning` component to display that too. One negative side is, it can be pretty disturbing if it pops up every time.

Also thinking that mostly we (as in Firefox Profiler developers and some internal users) use the deploy previews, I feel like it should also be safe to not show anything as well. Do you think these links can fall into the hands of end users? :)

[2021-01-13 13:05] julienw commented on #3032
see also #2575.

[2021-01-13 13:05] julienw commented on #1851
I think it's been fixed.

[2021-01-13 13:05] #1851 closed

[2021-01-13 13:11] julienw commented on #1089
The marker chart is now a lot better thanks to recent changes (https://github.com/firefox-devtools/profiler/pull/2293).

[2021-01-13 13:11] #1089 closed

[2021-01-15 14:50] julienw opened #3131 "Clean-up the fallback for FileIO markers"
In the following code, we have some fallback code dedicated to FileIO markers:
https://github.com/firefox-devtools/profiler/blob/c87e4e9127aa1f2e423dd81712cc4f829cf24e6f/src/profile-logic/marker-schema.js#L279-L289

This doesn't seem necessary nowadays as this could be implemented as a schema.
The work here is:
1. implement in gecko the schema that does this. (or check that it's implemented)
2. re

[2021-01-17 07:41] souravtecken commented on #2767
I'd like to take this up if no one's on it

[2021-01-17 09:22] yaduu572 commented on #2654
Hello, is this issue still open? I would like to work on it.

[2021-01-18 11:13] julienw commented on #2654
hey @yaduu572 , no it's not, @NKwatra is working on this (I still have to look at that PR, sorry 🙏). I forgot to set the flags accordingly, sorry about that!

[2021-01-18 11:22] julienw commented on #3121
The situation I'm talking about is more about adding a deploy preview URL in a bugzilla bug, coming there a few months later and not realizing that it's outdated. It can also be a problem for ourselves.
What do you call "end users" ? :) I think "internal users" are also our end users. But that's only a few and that's why I think we need something more discreet than a Warning component, but also so

[2021-01-19 08:57] julienw commented on #2808
Oops @dhanesh12twice, sorry, I've been confused. @rlkeyer has an active PR for this topic already that Ih ave to review. So I'm assigning him again. Sorry about the confusion.

[2021-01-19 13:25] canova opened #3135 "Remove detectable CPU usage impossible spikes"
Bugzilla side of this issue: [Bug 1686172](https://bugzilla.mozilla.org/show_bug.cgi?id=1686172)

[Bug 1685938](https://bugzilla.mozilla.org/show_bug.cgi?id=1685938) helped with reducing apparent CPU spikes that were mostly due to random gaps between CPU measurements and their associated timestamps.
It worked very well on Windows and Linux.

However on Mac, based on minimal testing, it reduced spi

[2021-01-20 14:35] fqueze opened #3138 "The "Profiled Duration:" unit is incorrect"
In the metadata panel, at the bottom of the "Profiler Overhead" section, I see "Profiled Duration" displayed with a micro second unit, but I suspect the value is in ms. The "Overhead Percentage" shown is above 6000%, which doesn't make sense, it's likely 6%.

Example profile: https://share.firefox.dev/39HHwhu

<img width="407" alt="Capture d’écran 2021-01-20 à 15 33 07" src="https://user-images.

[2021-01-21 02:11] squelart opened #3139 "Upload can sometimes be very slow or fail"
A user reported some difficulties when uploading a profile:
They managed to profile a busy Firefox session (opening Facebook in many container tabs), then capturing the profile locally.
But when clicking on Upload (menu) -> Upload (button), a first attempt didn't finish after 20+h(!) waiting, a second attempt almost finished but failed with "no connection" or similar.
They could download the profi

[2021-01-21 13:44] julienw commented on #3139
Thanks for the report ! This sounds like a connection problem still.

Here are a few answers:

* I agree with adding some more statistics during upload. Most of the time for us it's very fast, that's why we didn't really bother with it, but this is doable. Currently we have this progress bar at the top, this gives some information already.

* I think we can already cancel an upload. But we may hav

[2021-01-21 13:59] julienw commented on #3138
For the percentage, I would say it's 65% (is that a sensible value?). Indeed it's very common to misuse the API to display percentages by passing a number between 0 and 100 (incorrect usage) instead of a number between 0 and 1 (correct usage).

For the durations, we force microseconds for both values indeed.

In #2603 Gerald @squelart said it's all microseconds. Can you please look at it @squelart

[2021-01-22 12:59] Jasleen01 commented on #3131
Hi, I want to work on this issue. I will be very grateful if you could help me in solving it!

[2021-01-22 13:28] julienw commented on #2768
hey @rbrishabh , how is it going?

[2021-01-22 13:30] julienw commented on #2767
Fixed by #3132

[2021-01-22 13:30] #2767 closed

[2021-01-22 13:30] julienw commented on #2103
Fixed by #3132

[2021-01-22 13:30] #2103 closed

[2021-01-22 13:32] julienw commented on #3138
see also #2856

[2021-01-22 13:36] julienw commented on #3131
As we discussed on Matrix, this is probably a bit too complex for a first-time contributor. So this is still up for grabs.

[2021-01-22 13:37] Jasleen01 commented on #2656
Hi sir, I would like to work on this issue.. Thanks!

[2021-01-22 13:38] julienw commented on #2656
sure, thanks a lot!

[2021-01-22 13:39] Jasleen01 commented on #3131
Ok sir, got it.. Thanks! :)

[2021-01-22 18:49] Jasleen01 commented on #2656
Sir, what are the steps to reproduce the issue? I went through the link given by @mstange sir in the comments above, but there I couldn't find any such issue in those profiles..

[2021-01-22 19:15] julienw commented on #2656
Actually we fixed something in the recent ones, which avoids the problem for these.

You can look at an older one like https://profiler.firefox.com/from-url/https%3A%2F%2Ffirefox-ci-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FZPZjKzwAT1KpYtekQUKqHQ%2Fruns%2F0%2Fartifacts%2Fpublic%2Ftest_info%2Fprofile_raptor-wasm-godot-firefox.zip/calltree/?v=5 which should exhibit the problem.

Thanks!

[2021-01-22 19:22] Jasleen01 commented on #2656
Okay sir, got it.

[2021-01-22 20:33] mstange opened #3141 "New layout for the marker chart: Display stack-based markers in a stack-chart-like layout"
I'd like to propose two changes:

 1. For each marker type, the profiler should know whether markers of that type are "stack-based" or not. Probably with a new flag in the schema.
 2. In the marker chart, all stack-based markers should be collected in one section of the chart, and not split into separate rows by type. This will display them in a layout that looks similar to the stack chart: marker

[2021-01-24 15:29] yaduu572 commented on #2654
yeah no problem.. Can you please tell me if there any good first issues left in this project? I would like to work in this project.

[2021-01-25 10:52] julienw commented on #2654
@yaduu572 It's now available actually, if you still want to. You can have a look at the existing PR #3117 and the comments there as a quick startup.

[2021-01-25 12:09] yaduu572 commented on #2654
Yeah sure please guide me as I am new to open source. Thanks

[2021-01-25 14:05] julienw commented on #2654
I won't be able to guide you really, but you can start by looking at https://github.com/firefox-devtools/profiler/blob/main/CONTRIBUTING.md. Thanks

[2021-01-25 14:47] yaduu572 commented on #2654
Yeah sure thanks

[2021-01-25 14:51] #2808 closed

[2021-01-25 16:20] gregtatum commented on #3141
I believe this feature request could be handled by the marker set feature. Creating a marker set would logically group markers together into a stack-like chart. I'm not sure how it would work with markers of different types though, and if that's something different.

Also, it would be good to be explicit on how much we care if markers we receive really form a stack.

True stack-based markers layou

[2021-01-25 23:22] mstange commented on #3141
I would enforce a nesting by clamping the endTime of the "inner" marker, and trusting the startTime for deciding which marker is the inner marker. E.g. in your example, since B started before D, D is the inner marker, and D must end before B ends. We could try to avoid these issues entirely by switching from float milliseconds to integer nanoseconds for our timestamps.

[2021-01-26 11:03] fqueze commented on #3138
That seems like a lot for a profile captured on a fast machine. That's why I was guessing 6%.

But actually, I just realized I don't understand how this value is computed. Overheard (273719) divided by total duration (3746) gives me 73. So if I assume the total duration unit is wrong and should be ms, then the overhead percentage would be 7.3%

[2021-01-26 16:22] gregtatum commented on #3141
The logic how I handled it with JS tracer has ASCII art examples of fixing various issues. I think it's decently robust.

https://github.com/firefox-devtools/profiler/blob/63f4c692ac0e59823c90af69d86dab2173c65327/src/profile-logic/js-tracer.js#L314-L328

[Open tracing](https://github.com/opentracing/specification/blob/master/specification.md) has a bit more complicated and unique solution for this

[2021-01-26 17:32] julienw commented on #3138
We get all this information from Gecko. Let's see what @squelart says :-)

[2021-01-26 22:30] mcomella commented on #2962
I ran into this problem and **it makes me question whether I know how to interpret the profiler or not.** In particular, I noticed the flame graph visualization appears to be generated from the number of samples taken for a given function while the stack chart visualization is generated from the duration of the calls. For example, in my profile https://share.firefox.dev/3caTNy7, here's the flame g

[2021-01-26 23:13] mstange commented on #2962
That is correct, almost - the stack chart is generated from sample data, but taking into account each sample's timestamp. It makes a guess at the duration of the calls, but it can't know what functions ran between two samples.

Ok, wow, this is extra confusing in this particular profile because of two issues:

 1. Large gaps between samples. You can see the gaps if you switch from "Categories" to

[2021-01-27 00:41] squelart commented on #3141
👀

I'd be happy to help on the Firefox side, please file bugs as needed.

Thought: Maybe an even more flexible (but obviously more complex) solution would be to use whatever integer value we get from the OS, and mention the corresponding unit somewhere in the profile metadata. This could potentially remove all the float/double computations happening until the very end when it is displayed in human

[2021-01-27 07:20] squelart commented on #3138
The main error is in the [backend code](https://searchfox.org/mozilla-central/rev/9399e5832979755cd340383f4ca4069dd5fc7774/mozglue/baseprofiler/core/ProfileBufferEntry.cpp#912,915-916):
- "profiledDuration" is computed by subtracting the first timestamp from the last, but timestamps are in milliseconds by default.
- "overheadPercentage" is computed by dividing the "overheads.sum" (in microseconds)

[2021-01-27 09:41] julienw opened #3144 "Network markers shouldn't be displayed in the marker chart"
I've seen this in this profile today: https://share.firefox.dev/2NGhQe0

This is probably a marker schema issue, but I thought we fixed that already.

[2021-01-27 14:50] gregtatum commented on #2962
You could determine some heuristic for adding notices to the leaves of the stack timing. The android example is a really pathological example.

[code]

This could be combined with a bit more information in the tooltip.

[code]

[2021-01-27 17:58] howdyAnkit commented on #3124
Interesting want to give this a try. Can I get Assigned for this?

[2021-01-27 19:55] mcomella commented on #2962
![image](https://user-images.githubusercontent.com/759372/106041275-733f0880-6090-11eb-9d85-7b8b765d5b7a.png)

I think I've discovered where my confusion comes from: the method call that claims to take 238ms has only a single sample but, as a user, I would not expect a single sample to be able to produce a duration, especially not an extremely large one.

I assume the durations are calculated by t

[2021-01-27 20:05] rbrishabh commented on #2768
hi @julienw! Had a busy week with work!
Getting to this during the weekend.
Sorry for the delay!

[2021-01-27 20:07] gregtatum commented on #2962
Ah, it's nice just removing the drawing on the stack chart.

Stack chart with a gap:
[code]

Stack Timing with an annotated gap:
[code]

Maybe the "traced timing" could be capped, so if the sampling gap is `n * sampling rate`, then it will be treated as a gap. Where `n` is some scalar value like `3`.

[2021-01-27 20:12] gregtatum commented on #2962
This is where the sidebar computes it: https://github.com/firefox-devtools/profiler/blob/0d98b6b6bd0e82d03560f64d49cee276da6d021f/src/profile-logic/call-tree.js#L628

And here is where the stack timing is computed: https://github.com/firefox-devtools/profiler/blob/6b0146209d963aaa1154a9777b71a9125f5b822b/src/profile-logic/stack-timing.js#L90

You could measure the sampling rate gap, and adjust thi

[2021-01-27 21:28] mstange commented on #2962
Here's another proposal for showing sample gaps in the stack chart:

<img width="1440" alt="Group 2(1)" src="https://user-images.githubusercontent.com/961291/106056437-a7302300-60bc-11eb-8247-714dbf939e5a.png">

[2021-01-27 22:24] dholbert opened #3148 "Screenshots are dropped, if you untick "Include hidden threads" when uploading"
STR:
1. Capture a profile, using the Gecko Platform configuration.
2. Verify that you can see a screenshots track in the profile that you just captured.
3. Click "upload" at the top right of your profile.
4. On the upload doorhanger-dialog, untick "Include Hidden Threads" (but be sure to leave "Include screenshots" checked)
5. Click the Upload button on the dialog
6. Look for screenshots in the re

[2021-01-27 22:40] dholbert opened #3149 "Profiler UI doesn't let me remove the last samples track (to leave only a profiler track)"
I'd like to be able to upload a profile that consists of *only* a screenshots track, but that doesn't seem to be allowed by our UI right now. It lets me un-tick tracks one at a time, but the profiler won't let me hide the last one (to leave only the profiler track).

Sample profile:, which has a screenshots track and a sample track for "Parent Process":
 https://share.firefox.dev/36jaxPR

In the c

[2021-01-27 22:43] dholbert commented on #3149
In case it's helpful, here's my motivation behind this use-case:
Today I had a Firefox session open with a bazillion tabs, and I wanted to simply capture a profile as a "lightweight screencast" of a particular rendering issue that I encountered. I didn't want to sort through the various sample tracks (for all my content processes) to figure out which ones were related and which ones weren't; and p

[2021-01-28 10:38] julienw commented on #3149
Thanks for filing the bug and giving your use-case, this is definitely helpful!

First here is a little bit of context: the screenshots are implemented as markers, and so as markers they're part of a thread.

What we _could_ do is to move them to an otherwise empty thread containing only these markers when a screenshot track is selected but its belonging thread isn't. I believe this would also fix

[2021-01-28 10:41] julienw commented on #3148
Thanks for filing this bug!
Indeed this is a problem we have. We thought of the other way around (remove the screenshots when keeping the track) but not of the other way.

See https://github.com/firefox-devtools/profiler/issues/3149#issuecomment-768961764 for an explanation and a possible solution. I believe we could fix the 2 bugs with 1 patch.

Note: I _think_ we have the logic to move screensho

[2021-01-28 10:47] julienw commented on #3124
hey @howdyAnkit , yes sure, please have a look! Let's discover our problems :-)

[2021-01-28 10:48] julienw commented on #2768
Thanks for the update! No worries, just checking if you were still looking at this :-)

[2021-01-28 11:15] julienw commented on #3138
The code does a mean computation over all values (overheadPercentage, overheadDurations and profiledDuration). I don't have a clue if this is appropriate :/

[2021-01-28 11:44] squelart commented on #3138
Mmm these don't "feel" correct to me... But exactly what to do is not trivial: Some things apply to the whole profile (profiledDuration) while others will grow with the number of processes but should be divided by the number of CPU cores (so that we don't go over 100%). 🤔
Anyway, I would suggest opening a separate issue for this. Happy to help, please ping me there.

Here I think we should focus o

[2021-01-28 12:28] canova opened #3150 "Stack graph usage in the timeline after the activity graph with CPU usage"
After we are done with changing the activity graph to have height depending on the CPU usage of the thread, we are not going to need the stack graph too much. Also we believe that having two radio buttons for different graphs are a bit confusing for the users. It would be great if we can find a better solution.

We've discussed this in our weekly team meeting, and we've came up with a plan for the

[2021-01-28 15:35] rithgan commented on #2819
Is this issue still open to work?

[2021-01-28 16:05] gregtatum commented on #3150
Thanks for typing up the decisions here!

I agree.

Another option would be to add a toggle to the context menu, it wouldn't really take up any UI space.

Thanks, this is a valid use case that's nice to support and will give me excuses to contribute importers.

The one piece of parity that will be missed is that the stack height graph shows sampling rates really well. There are a few suggestions i

[2021-01-28 16:11] gregtatum commented on #3149
It might be clearer to remove the markers during profile processing step, and add them to the profile. Then you don't have to artificially care about what thread they are part of. That's more of a by-product of how the markers are generated, rather than how we want to use them. This would simplify profile sanitization.

e.g.
[code]

[2021-01-28 18:05] howdyAnkit commented on #3124
Thank you for Assigning @julienw

[2021-01-29 12:55] canova opened #3151 "Figure out a way to diff threadCPUDelta values in the samples table"
We added CPU usage values to the samples table. Currently we don't know how to diff these values, so it can make sense. Right now, we don't do anything. But in the future, it would be great if we can diff these values and create a better activity graph with these values.

[2021-01-29 14:03] fqueze opened #3154 "Showing the inner window id of markers would be useful for chrome windows"
Example profile: https://share.firefox.dev/36kugOX

This is a profile of opening a new browser window (Cmd+N). There are markers related to changes happening in the old window, and to things happening in the new window. From the profiler front-end it's currently impossible to differentiate markers for the old and new window, but the data is available in the innerWindowID field of the marker's data

[2021-01-29 15:44] #3091 closed

[2021-01-30 16:26] canova commented on #3150
Thanks for the feedback @gregtatum!

Yes, I think this is also another option. While talking, we didn't want to display these radio buttons at all because if they see the radio buttons for this case and see them missing for the CPU usage case, users could think that this feature is missing on the profiles with CPU usage values.
But I'm not sure how likely non-gecko developers will interact with ol

[2021-02-01 09:58] julienw commented on #3138
I believe @canova would have more insight because he worked on this bit of code. Hey @canova do you have any preference about these options?

[2021-02-02 18:57] mstange commented on #2982
Actually, I think this bug and #3030 are different bugs. This bug is about negative timestamps in the parent process. #3030 is about large positive timestamps in the content process.

[2021-02-02 18:57] mstange commented on #3030
Not a duplicate after all.

[2021-02-02 18:59] mstange commented on #3030
Since this is a bug in profile processing, the simple fix will only affect newly-captured profiles. To fix existing profiles as well, we need a new processed profile version and an upgrader.

[2021-02-03 18:59] gregtatum commented on #3150
Having good default heuristics for showing something is nice, but it's also nice to have a consistent place that the toggle will show up, e.g. in the context menu.

[2021-02-03 19:20] yaduu572 opened #3158 "Addition of flowchart for explaining the working of the project"
It will be great if there will be a flow chart for a proper explanation of the project as it is a bit difficult for new contributors to understand the project's workflow.
For Example:
![image](https://user-images.githubusercontent.com/53738878/106797469-a9791b00-6682-11eb-801a-03b9ed9899f8.png)
This is an example of a flowchart for sign up function.
In the same way, we can make it for this project

[2021-02-04 11:19] squelart opened #3159 "Displayed "Buffer Capacity" is 1/8 of the actual size"
`profile.meta.configuration.capacity` is actually in "entries", which are 8 bytes each.
But under "Profile Information", "Buffer Capacity" interprets this number as bytes.
E.g., 67108864 is shown as "64.0MB", but it's really 64M entries, so we should display "512MB", or even "512MiB" to be pedantic.

Note that [backend bug 1634821](https://bugzilla.mozilla.org/show_bug.cgi?id=1634821) is about the

[2021-02-05 18:41] mstange commented on #337
We should also make it so that the thread graphs are drawn based on the non-inverted thread. At the moment, if you check the "Invert call tree" checkbox, we compute **all** inverted threads, not just the selected thread.

[2021-02-06 19:27] Bucky25 commented on #2949
@julienw hey can help me with  comparing screenshots

[2021-02-07 08:01] Bucky25 commented on #2948
@julienw  i would like to give it a go.

[2021-02-09 16:26] rajatgupta24 commented on #3149
Hi @julienw, I'm a new here, can i work on this.

[2021-02-09 20:36] hotsphink commented on #3011
I mocked up an idea of what I mean: ![image](https://user-images.githubusercontent.com/78649/107424025-fe2cf380-6ad1-11eb-8ba8-e273fb41c226.png)

This hardcodes the markers "GCMajor", "Jank", "LongTask", and "TelemetryStopwatch" to switch to a "range display" to try to communicate that it is referring to an interval of time. To do this for real, we would need to flag certain data types as hole-y r

[2021-02-09 21:27] hotsphink commented on #2453
It looks like this can be closed. They're now shown on separate lines.

![image](https://user-images.githubusercontent.com/78649/107430785-7d262a00-6ada-11eb-9306-f84497f142a6.png)

[2021-02-11 16:24] hotsphink commented on #3011
I don't like those dashed lines; they don't make the range nature clear enough. I updated to:
![image](https://user-images.githubusercontent.com/78649/107665682-89c59200-6c42-11eb-9b36-fe6eb09a9071.png)

[2021-02-11 18:47] julienw commented on #2453
Ah yeah, this was part of the Markers 2.0 work. Thanks for finding this bug and letting us know !

[2021-02-11 18:47] #2453 closed

[2021-02-12 07:05] Patil2099 commented on #2819
@gregtatum  is this still open ? I would love help on this.

[2021-02-15 16:12] #3159 closed

[2021-02-16 02:14] jhabarsingh commented on #2948
[code]

### When I am pressing the back button
![Selectionshot_2021-02-16_07:37:43](https://user-images.githubusercontent.com/43932986/108010191-4bf1b080-702a-11eb-8efd-3041f2cb6069.png)

### When I am refreshing the page
![Selectionshot_2021-02-16_07:36:54](https://user-images.githubusercontent.com/43932986/108010039-07661500-702a-11eb-90e0-ac40cedf66a9.png)

### PROBLEM

[2021-02-16 02:15] jhabarsingh commented on #2948
I am working on this issue.

[2021-02-16 10:46] canova opened #3172 "Time range computation should check the marker phase before using the start/end values"
If a profile doesn't have any samples, we are using the markers to figure out the time range. This is happening inside the `_getTimeRangeForThread` function here: https://github.com/firefox-devtools/profiler/blob/19ba1208a5f540aa1caea80223401075e5dd307d/src/profile-logic/profile-data.js#L780-L801

In that function, we are checking the startTime and endTime, but since back-end outputs `0` values in

[2021-02-16 20:34] gregtatum commented on #3172
Ah yes, I missed this block in the migration. This should be using the marker phase instead of testing the values directly.

[2021-02-17 14:09] canova opened #3176 "Split the each sample's interval up into two while calculating the activity graph height with CPU usage"
In #3098 I'm landing the first iteration of the activity graph with the CPU usage as height. In that PR, Markus suggested that we should split the each sample's interval up into two intervals, and use the appropriate CPU usage values for each part.
I'm adding the relevant part of Markus' comment here too for reference:

I haven't worked on this yet, and I'm thinking about doing it after landing th

[2021-02-17 15:28] #2676 closed

[2021-02-17 16:13] gregtatum opened #3177 "Memory track's hover dot renders in the wrong place"
https://share.firefox.dev/3jWbgfe

<img width="924" alt="image" src="https://user-images.githubusercontent.com/1588648/108232734-acefb600-7108-11eb-883e-5e9ae7187c28.png">

[2021-02-17 16:20] mstange opened #3178 "Sample positions are offset when zoomed in"
[Profile](https://deploy-preview-3098--perf-html.netlify.app/public/z467bz6v6zpd122rp4my2d7x56etq9avz92vf4g/calltree/?globalTrackOrder=0-1-2-3-4-5-6-7&hiddenGlobalTracks=0-1-2-3-4-5-6&hiddenLocalTracksByPid=7644-0~10812-0~11528-0~6312-1-2-0&localTrackOrderByPid=11464-1-2-0~11600-0~7652-0~7644-1-0~3272-1-0~10812-1-0~11528-1-0~6312-1-2-0~&range=17826m223~17861m69&thread=12&timelineType=cpu-category&

[2021-02-17 16:53] mstange opened #3179 "In the CPU usage % tooltip, display an average %CPU over a smoothed window around the mouse cursor"
At the moment (after #3098 lands), the CPU usage in the tooltip is based on the hovered sample. This has various problems:

 - The CPU percentage varies when the mouse is moved vertically in the graph, not just when the mouse is moved horizontally. That's because the "hovered sample" is not just based on the X position of the mouse cursor, but also on the Y position of the mouse cursor. This is so

[2021-02-17 17:01] mstange commented on #3176
Notes for when you start working on this:
 - One part of this is changing the drawing code; for example, adding`cpuAfterSample` in the places where `cpuBeforeSample` is used, calculating the right interval start and end times for each of the split intervals, etc.
 - Another part is fixing the hit testing code in `_getSampleRangeContributingToPixelWhenSmoothed` and `_getSmoothedContributionFromSamp

[2021-02-17 17:33] julienw commented on #3178
I'm actually a bit surprised about this, because I know nazim has put a lot of thought in that. Do you think this should be fixed before #3098 merges? I feel like this is important enough...

[2021-02-17 17:35] julienw commented on #3177
I don't see this on my computer, from your URL, Greg. Is there anything else you can share about your environment?

[2021-02-17 18:45] mstange commented on #3178
I don't have a strong opinion on it. It's important to fix because it also affects the default "Categories" view, but if it's only broken for a few days I think that's ok.

[2021-02-17 19:36] canova commented on #3138
I think it's good to get the mean value for some overhead related values, otherwise we need to figure out a way to show all the values for each process, which is pretty hard to show. But you are right about duration values. It doesn't really make sense to get the mean value of `overheadDurations` and `profiledDuration`. It would be good to fix these.

I think I like the option A, it's is pretty st

[2021-02-17 19:42] canova commented on #3178
Oh, that's definitely weird. I'm pretty sure that this was working and consistent with the category graph before. Maybe some code has been changed/erased while I was doing the final rebase...  Good thing is that I have the back-up, I hope this will be an easy fix.

In terms of fixing it in #3098 or as a follow-up, I think we should definitely fix this in the #3098 PR. As Markus said, it also affec

[2021-02-17 20:19] gregtatum commented on #3177
It's not reproducing now on my end either. Weird. Let met try some things.

[2021-02-17 20:23] gregtatum commented on #3177
Steps to reproduce:

 * Add a committed range selection
 * Re-publish the profile
 * Mouse across the graph to reproduce

I suspect that the Store is not invalidating some of the state when the new state is published. I had noticed a month or so back that some of the store keys weren't correctly using `profileSpecific` state, which resets when there's a new profile. I don't think I ever filed anyt

[2021-02-18 05:25] Anuragtech02 commented on #3039
Hey @julienw  I'd like to give it a try! Could you please help me get started with this ?

[2021-02-18 09:53] julienw commented on #3177
Thanks, I reproduce now!

When republishing, one has to uncheck "include hidden range".

Also I noticed that not only the dot is at the wrong place, but also the value is wrong. So most probably the problem is that we don't get the right point from the mouse cursor. Is that some state to reset or is that something else, I don't know yet :-)

[2021-02-18 16:20] mstange opened #3181 "The docs don't load"
In my Firefox Nightly, loading https://profiler.firefox.com/docs/ spins forever and eventually times out and shows a blank page.

[2021-02-18 16:21] mstange commented on #3181
They load now.

[2021-02-18 16:22] #3181 closed

[2021-02-22 09:32] informatorius commented on #2624
Any news on the issue? Is see the same problem on Firefox 85

[2021-02-22 13:32] julienw commented on #2624
Can you please give some more information?
* frequency that you're seeing this problem
* is it in some situations especially? Which configuration have you used for the profiler?
* would you say you're using a slow computer?

This would help us priorizing this issue.

Thanks!

[2021-02-22 14:59] informatorius commented on #2624
I saw it one time. I created a profiler snapshot and later wanted to open it. Firefox was not able to open it. Then I found this bug report.

I used profiler settings Firefox Front-End.

It is a fast computer.

That is the link it saved in my Firefox for the captured profiler.
https://profiler.firefox.com/from-addon/calltree/?globalTrackOrder=7-8-0-1-2-3-4-5-6&hiddenGlobalTracks=1-2-3-4-5&hiddenLo

[2021-02-22 16:27] julienw opened #3183 "Localization: setup the en-US translation for tests"
This comes from the discussion in https://github.com/firefox-devtools/profiler/pull/3123#discussion_r579182173.

Indeed ideally we should remove the fallback string from every `Localized` component. However doing that would probably make most tests fail by having no output. (Note: I haven't actually tried, it could be nice to try this too).

In this issue we want to setup the en-US translation for

[2021-02-22 17:02] julienw commented on #2624
Thanks for the new information.
Now I see what's happening, and this is unrelated to this bug.
Let me explain:
* when you capture a profile, this opens the profiler UI, with `/from-addon/` in the URL as you can see.
This is completely local to your computer, and nothing is saved yet. (in the future we'll likely save it in a local DB, but this work hasn't been started yet)
* If you want to save it,

[2021-02-22 18:13] informatorius commented on #2624
Yes now I see. To save it locally I have to press the Upload button and then the Download button.

But still if I use only the link from the generated profile then it will do nothing because after browser restart data is lost when I do not save it before. And then the profiler page is shown with "Importing the profile directly from Firefox..." though it does not import anything because it cannot f

[2021-02-23 00:27] squelart opened #3184 "Add documentation to remove the profiler toolbar button"
A user tried the Profiler (for curiosity, without a real need for it), but then didn't know how to remove the profiler toolbar button, and the shortcuts were blocking another add-on. They searched the documentation but didn't find help there.

It would be nice to add some easy-to-find documentation for that situation.

The action is actually very simple: Right-click on the button, and click "Remov

[2021-02-23 10:46] fqueze opened #3185 "Very active worker track gets hidden if the main thread of the process is idle"
When loading this profile https://profiler.firefox.com/public/jsa50x5pskz1hntw19weck854hrah2116fh4e2r/ the webextensions tracks get hidden by defautl, but they are the most active: https://share.firefox.dev/2ZHiBWW

[2021-02-23 11:04] julienw commented on #3185
The idle threads are computed at load time in
https://github.com/firefox-devtools/profiler/blob/399c4e5aeee700f9c53921ed16e5b789ca88f9ef/src/actions/receive-profile.js#L267-L291.

To compute the hidden global tracks, we don't look at the subprocesses/subthreads in https://github.com/firefox-devtools/profiler/blob/399c4e5aeee700f9c53921ed16e5b789ca88f9ef/src/profile-logic/tracks.js#L517-L524.

One

[2021-02-23 22:38] mstange opened #3189 "Remove call tree "dimming""
We currently apply an opacity to frame labels in the call tree: https://github.com/firefox-devtools/profiler/blob/399c4e5aeee700f9c53921ed16e5b789ca88f9ef/src/components/shared/TreeView.js#L266

I think this opacity is not needed and can even confuse. I think it would be better to remove it.

For example, on this profile, some of the "Other" category frames near the root of the call stack almost l

[2021-02-24 12:31] julienw opened #3190 "Fix types for some network marker payloads following Markers 2.0"
With Markers 2.0, some properties are now missing (see #3186). Gerald @squelart found these occurrences:
*    Network: URI and RedirectURI.
*    JS allocation: className, typeName, descriptiveTypeName.
*    tracing: category.

In this issue we want to fix the types in `src/types/markers.js`, and possibly fix the code following these changes. This may uncover some bugs too.

[2021-02-24 12:33] julienw commented on #3189
The main thing we want is to make them different. Florian suggested to make them more visible instead of less visible.
But at the very least the category color shouldn't be dimmed at all, only the text... I think this is a bug and we can try to fix this already, before nitpicking about what we should do with frame labels.

[2021-02-24 12:35] julienw commented on #3189
In this particular profile, I'm surprised to see some "0xXXXX" lines that are dimmed, I doubt they're frame labels.

[2021-02-24 12:45] julienw commented on #3189
Ah, I believe we consider that a frame is a frame label when it has no library, which is the case here. Do you know what these frames are?

[2021-02-24 13:44] Dreamsorcerer commented on #3184
I was also looking for this after using one time to provide information in a bug report.

I just wanted to revert to the state before enabling, I seem to have managed to do this by reverting the 'devtools.performance.*' settings in about:config.

[2021-02-24 19:15] fqueze opened #3193 "Context menu shortcuts don't work in the Stack Chart panel"
The context menu in the Call Tree, Flame Graph and Stack Chart panels show nice keyboard shortcuts. They work in the first  panels, but they do nothing in the latter.

[2021-02-25 09:53] julienw commented on #3183
@ciphergirl for part 2, it's possible that we have to make the render asynchronous, to wait that the l10n library actually got the translations. So there are 2 problems:

1. wait until we get the translations, in a generic way. For this I believe this could be easier with the changes in https://github.com/firefox-devtools/profiler/pull/3188: we can wait that the `lang` attribute is set using the `

[2021-02-25 15:06] julienw commented on #3183
New idea! And maybe we don't need #3192 with this idea after all... but at least we learnt a ton of things, right?
(but don't throw it away just yet, I don't know really)

There are 2 problems:
1. I'd like `render` to be synchronous. With the previous idea it would be asynchronous. To make it synchronous, I believe we can read the file synchronously and change the state synchronously.
2. We also n

[2021-02-26 17:51] fqueze opened #3194 "Mochitest profiles show "Uploaded Profile" and "Re-upload" buttons when they are local"
When running ./mach test <path> --profiler, a tab with an url like this opens in my default browser: https://profiler.firefox.com/from-url/http%3A%2F%2F127.0.0.1%3A56376%2Fmochitest-profile.json/

The profiler UI treats it as if it was an already uploaded profile, but it's not, and I think we could detect the 127.0.0.1 in the URL.

[2021-02-28 07:34] jandem commented on #15
Could we start with the most simple version of this, just the top functions list, no butterfly view?

IMO this would make the profiler a *lot* more effective. I feel kind of lost when looking at complicated profiles without this view (I use it all the time with other profilers such as Instruments).

[2021-03-01 10:57] julienw commented on #3194
This is happening here: https://github.com/firefox-devtools/profiler/blob/332a177acfeaaa94629fe1708853a716a47189f1/src/components/app/MenuButtons/index.js#L97-L114

If we want to do that, we'd have to get the `profileUrl` from the state so that we can check it here.

Also we'll probably want to double check we don't have similar checks in other locations. I did a rapid `grep` and I don't see obvio

[2021-03-01 15:19] gregtatum commented on #15
I'm a bit confused by the top functions view. Is this any different than the inverted view in the call tree?

[2021-03-01 15:50] mstange commented on #15
Here's an example:

[code]

The top functions view calls attention to `ProcessElement`, which is present in many samples. The inverted call tree view doesn't call attention to `ProcessElement` because it doesn't have much self time.

[2021-03-01 16:39] julienw commented on #3193
In the CallTree: https://github.com/firefox-devtools/profiler/blob/332a177acfeaaa94629fe1708853a716a47189f1/src/components/calltree/CallTree.js#L236-L244
In the FlameGraph: https://github.com/firefox-devtools/profiler/blob/332a177acfeaaa94629fe1708853a716a47189f1/src/components/flame-graph/FlameGraph.js#L252-L258

This could be as simple as doing something similar in the stack chart component in h

[2021-03-01 19:09] julienw commented on #15
The inverted view orders by the self time, the functions view orders by the running time.

Thanks for the heads-up, I'll put that in our internal backlog

[2021-03-02 09:50] julienw commented on #3189
I'm landing  #3191 which will close this bug. Feel free to reopen if you think we should think more about the style for label frames.

[2021-03-02 09:53] #3189 closed

[2021-03-02 10:15] julienw commented on #15
@jandem @mstange would cleaning up the work linked in https://github.com/firefox-devtools/profiler/issues/15#issuecomment-589682581 be good enough as a first step? (see #2388 for the list of left-over tasks).

![image](https://user-images.githubusercontent.com/454175/109633679-a6b9fa80-7b48-11eb-84e0-f4790580d790.png)

[2021-03-02 15:45] mstange commented on #15
Yes, I think that would be a good first step. You could even drop the side panels for now and just have the top functions list. But we do need the performance to be addressed, see my comment in the PR.

[2021-03-02 19:58] jandem commented on #15
That looks amazing. Thanks!

[2021-03-02 22:11] v-bhat commented on #3193
Can I take this issue ? I am new to this but I investigated the issue and have possible solution based on how it was done in FlameGraph.js

[2021-03-02 23:14] mcomella opened #3199 ""copy function name" on JVM initializer returns without initializer suffix"
### STR
- Open this profile https://share.firefox.dev/385X52F
- Right click on `mozilla.components.support.locale.LocaleAwareAppCompatActivity.<init>` (a green box)
- Select "copy function name"
- Paste somewhere

### Expected
`mozilla.components.support.locale.LocaleAwareAppCompatActivity.<init>`

### Actual
`mozilla.components.support.locale.LocaleAwareAppCompatActivity.`

i.e. the `<init>` is m

[2021-03-02 23:17] mstange commented on #3199
This is an instance of #1396 that #2193 did not fix.

[2021-03-03 11:18] julienw commented on #3199
Indeed, we only check if the previous character is a space. Is it good enough to check if the previous character is a `.`, or should we reverse the check, and look if the previous character _isn't_ a `\w`?

Also looking at the existing code with fresh eyes, I think the fix in #2193 also has bugs: we decrease the depth fir the closing `>` even if the opening `<` was skipped because of this fix. For

[2021-03-03 11:26] #3172 closed

[2021-03-03 13:50] julienw commented on #3193
Hey Vishakh, thanks for looking!

Thinking of this more, I'm not so sure we should do that. Let me explain. In the other panels (flame graph and call tree), we can change the selected node using the keyboard. But that's not possible in the stack chart, therefore the shortcuts aren't useful!

Therefore now I think we should simply remove them from the menu in this panel. But I'd like @fqueze feedba

[2021-03-03 14:06] v-bhat commented on #3193
Hi Julien,

Thats true, in flame graph we can change the selected node by arrow keys, the whole feature is missing for stack chart. Last night, I tried to put the arrow key navigation as well. For 'ArrowUp', I could use callNodeTable from [callNodeInfo](https://github.com/firefox-devtools/profiler/blob/main/src/components/stack-chart/index.js#L73) to get right node to change and it worked. However

[2021-03-03 14:58] julienw opened #3203 "Webdev mode doesn't seem correct in this profile"
STR:
1. Use the preset "web developer"
2. Start the profiler.
3. Load https://profiler.firefox.com
4. Stop the profiler and capture the profile

This is the result I got on Linux => https://share.firefox.dev/3q6dfPO

This looks broken, and compared to the full view I feel like we miss a lot of data.
Look especially at the track `Web Content 6` in the full view, which is the process for this tab, I

[2021-03-03 20:01] #3199 closed

[2021-03-05 17:23] fqueze commented on #3193
My typical way to interact quickly is to keep one hand on the trackpad, and one hand with fingers on the "d" (drop) and "f" (focus) keys. I've never used the keyboard to change the selected node, as that's (for me) slower than clicking a node.

I think it would be very nice to have these shortcuts have a consistent behavior on all panels.

[2021-03-05 17:28] fqueze commented on #3193
I just tested keyboard navigation in the flame graph; it's unpractical for me because most nodes are tiny (rarely showing more than a few characters before the ellipsis), and I need to see the title of the tooltip to see what the node is about.

[2021-03-05 19:52] canova opened #3207 "Make WindowTitle component localizable"
This component is a bit different than the others. I think that's why it deserves its own issue. It doesn't have anything in it's render function. But it changes the title of the window on every `componentDidUpdate` or `componentDidMount`.
I don't think everything there is localizable, but we can at least make the page titles localizable (like "Uploaded Recordings", "Compare Profiles", or "Zip Fil

[2021-03-05 20:01] julienw commented on #3207
`react-document-title` doesn't look well maintained (depends on react 15 + prop-types and some other old thing), but I wouldn't mind extracting the document.title change side-effect to another component (possibly locally in the same file) so that we can use `Localized`.

[2021-03-05 20:03] canova commented on #3207
Ah, that's sad.
Yeah, extracting the document.title side-effect to another component seems good to me.

[2021-03-09 16:43] canova opened #3212 "Limit the sample length to interval on the activity graph when there are no samples after/before"
In the activity graph, samples extend more than they should when there are no samples before or after that one.
For example:

<img width="1008" alt="Screen Shot 2021-03-09 at 5 34 48 PM" src="https://user-images.githubusercontent.com/466239/110505055-18241b00-80fe-11eb-9652-eecb6e4e43de.png">
There are no samples in the area that is marked, as you can see in the sample graph below. So, this are sh

[2021-03-10 15:45] julienw commented on #2949
Hey @Bucky25, in this issue we don't want to compare? So I don't understand your question... Can you please explain this more?

[2021-03-10 16:31] julienw commented on #3203
2 more profiles with similar issues:
* https://share.firefox.dev/2OcHGXM
* https://share.firefox.dev/30szeWR

[2021-03-10 16:48] julienw opened #3215 "Collect all browsing context ids to display in a select box"
I believe this profile could be useful for this: https://share.firefox.dev/2OcHGXM

Ideally we should have a select box (defaulting to the main one) so that the user can switch between context ids.

[2021-03-11 16:32] julienw commented on #3030
Looks like we do this only for a few markers:
[code]
This is from before we added `cause` to a lot more markers. I think we should rather look at whether the `cause` is present.
This should be reasonably easy to fix, I'm giving it a try. Sorry it took that long to look at it.

[2021-03-11 16:36] mstange commented on #3030
That sounds like a good solution. Thanks for looking at this!

[2021-03-11 19:36] fqueze opened #3217 "Moving the mouse over a line of the Marker Chart containing many markers is janky"
Example profile with many marker: https://share.firefox.dev/3erEIt3

It was displayed fullscreen on my 27" hidpi external screen, that likely didn't help.

Here is a profile of the janky interaction: https://share.firefox.dev/3vfwABR

[2021-03-11 20:51] julienw commented on #2982
With #3030 fixed we start to see this in the content processes too.

[2021-03-15 05:28] howdyAnkit commented on #3124
Made a PR for this not sure why it not got tagged.
Just mentioning here for reference: https://github.com/firefox-devtools/profiler/pull/3219

[2021-03-15 09:43] #3144 closed

[2021-03-15 18:06] paras151 commented on #2819
Hey @julienw in src/components/timeline, there are some instances where 'export default' is used, can I take up this issue.

[2021-03-15 19:36] #3135 closed

[2021-03-15 19:36] #3178 closed

[2021-03-18 22:50] mcomella opened #3226 "Put android device info (e.g. "Motorola Moto G5") in profiles"
When folks upload profiles, it's very common to have to ask, "Which device was this profile taken on?" to understand how to interpret the results. We should include the device info in the profile! Maybe in this menu, at the bottom:
![image](https://user-images.githubusercontent.com/759372/111707147-c451ba00-8800-11eb-82b6-ab2afc61ef4d.png)

We can get this information from the `Build.MANUFACTURER`

[2021-03-19 09:39] canova commented on #3226
Thanks for filing the issue! It sounds like something we should add. I filed a back-end bug here: [Bug 1699646](https://bugzilla.mozilla.org/show_bug.cgi?id=1699646)

[2021-03-19 11:06] #3030 closed

[2021-03-19 11:17] #2982 closed

[2021-03-19 12:30] fqueze opened #3227 "Some parts of the UI should be hidden for nostacksampling profiles"
When seeing a profile with the nostacksampling feature, some parts of the UI that require samples look a bit broken.

Example profile: https://share.firefox.dev/3lsvZZ6

I think we should:
- Hide the "Call Tree", "Flame Graph" and "Stack Chart" panels by default. This would match the behavior we have with the "Network" panel that is only visible when the selected process has network markers. This