[2019-03-14 19:24] berkaybarlas commented on #1435
I definitely agree with you @julienw, it is too big :). I just wanted to show how it looks.

 So the size of preview of same screenshot can be different according it's container position(track order), right? Because the distance from center of track to top will be longer if that track is moved to  below.

[2019-03-14 19:44] digitarald commented on #448
Slightly different, Figma offers some file options and renaming in this interface pattern (dropdown and double-click):

![Screen Recording (Firefox Nightly)](https://user-images.githubusercontent.com/8599/54386707-d703e800-4656-11e9-86f7-bcecacde0177.gif)

[2019-03-14 22:47] digitarald commented on #1780
@whimboo it sounds like you want to find the tab that was currently in foreground, or are there other use cases where you check a tab's PID and cross-reference it to the profiler?

[2019-03-15 07:49] Luna-Coder commented on #1052
@canaltinova Sorry I have delayed progress on this bug, I am still interested in working on it and contributing to this project. Since this project is not part of Outreachy, I set my priorities to solving the bugs related to the Outreachy project first. Thanks for the help offer.

[2019-03-15 09:31] julienw commented on #1052
Hey @Luna-Coder, we totally understand that your priority have shifted :) If you don't plan to work on this soon, we think it's better if we reset the assignment status for this issue so that somebody else can pick it up. Once you're ready we'll have plenty other issues to work on!

@PhoeniXAbhisheK Thanks for your offer! But because you already solved other "good first issues", it would be nice i

[2019-03-15 10:29] julienw commented on #1435
I think we can keep it simple and use a fixed size that works all the time :) that's why I suggested 700x700 (and maybe a bit larger).

[2019-03-15 12:18] sudipt1999 commented on #1390
I don't have slack channel link ! I was having exams so was't able to start but since they are over now will start working!

[2019-03-15 12:30] whimboo commented on #1780
Right, in case a tab runs slow I would like to know to which web content process it correlates to. It's not always the foreground tab, given that tabs have to share processes.

[2019-03-15 12:41] julienw commented on #1390
@sudipt1999 there's a link to our Slack channel from the README file :)

[2019-03-15 12:44] julienw commented on #1858
The code to change is at https://github.com/firefox-devtools/profiler/blob/dd1ef15c24e65f1b198a48ef06465709f2f22071/src/components/shared/MarkerTooltipContents.js#L864
We should check of `marker.dur` is 0, and in that case use the character `—`

[2019-03-15 13:20] julienw commented on #1856
Ah thanks, indeed we should likely not pass a transformStack if we already have one defined in https://github.com/firefox-devtools/profiler/blob/dd1ef15c24e65f1b198a48ef06465709f2f22071/src/actions/receive-profile.js#L892-L909

Another possible location:
https://github.com/firefox-devtools/profiler/blob/dd1ef15c24e65f1b198a48ef06465709f2f22071/src/reducers/url-state.js#L133-L134
I don't know which

[2019-03-15 13:31] sudipt1999 commented on #1390
Sorry I didnt checked that out ! Will join! Thanks

On Fri, Mar 15, 2019 at 6:11 PM Julien Wajsberg <notifications@github.com>
wrote:

[2019-03-15 13:52] fqueze commented on #1780
Seeing in the Activity Monitor (or Task Manager, or whatever it's called on the platform being used) that a specific content process uses a lot of resources, and wondering what it's up to. The pid is the only usable info available in the activity monitor to identify the content process.

[2019-03-15 15:19] PhoeniXAbhisheK commented on #1052
@julienw Yup sure, no issues 😸 😸 😸 😸 😸

[2019-03-15 16:22] canaltinova opened #1863 "We won't be needing `profile.meta.networkURLsRemoved` after PII frontend changes"
Currently we have `profile.meta.networkURLsRemoved` field and we are using that to see if the network URLs are removed from the profile. But after the PII frontend change we won't be needing that meta field anymore. We should remove that after the PII frontend change. Filing this issue so we won't forget that in the future.

[2019-03-15 16:36] suhailsinghbains commented on #1616
Hi @canaltinova Can I please work on this issue, I am new to this Repo.
Thanks

[2019-03-15 16:51] julienw commented on #448
Thanks for the thoughtful comments!

As initial comment, we already have the concept of a profile name, it's used when opening zip files, [here is an example](https://profiler.firefox.com/from-url/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FdZfkJIG1RkG6CK6I8V5wrg%2Fruns%2F0%2Fartifacts%2Fpublic%2Ftest_info%2Fprofile_about_preferences_basic.zip/calltree/?file=profile_about_preferences_basic%2

[2019-03-15 18:55] berkaybarlas commented on #1435
700x700 creates a very similar behavior to the preview above. Maybe we can make it 350x350 ?
[NewPreview](https://berkaybarlas.com/assets/img/previewUpdated.gif)
@julienw @gregtatum

[2019-03-15 20:07] digitarald commented on #1435
Scaling the screenshots 2x over their original size creates some blur – which users on high-dpi screens might accept, but looks really blurry on low-dpi; so keeping those 2 technical limitations in mind probably helps with the discussion.

I like a responsive aspect, which I hear between the lines of the discussion of bigger screenshots. On a high-dpi 15" or 4k screen, we should make use of the sp

[2019-03-15 21:18] digitarald commented on #448
SGTM. A click-to-edit label works well for this one.

I would still go into more refinement about positioning and styling.

Question is also if naming is available to all profiles; as it makes most sense when a profile is published or downloaded. The other use case is setting the header. So it might make sense to make the title, which is currently pre-filled with meta data, editable:

<img width="

[2019-03-15 22:41] rajmeghpara commented on #1858
@julienw , Can I work on this issue? (cc: @canaltinova )

[2019-03-16 05:56] Luna-Coder commented on #1052
@julienw I believe the right thing to do is for me to allow someone else to take on this bug and for me to contribute to this project at a later time. I appreciate your understanding.

[2019-03-16 13:11] rajmeghpara commented on #1858
Hi @julienw , I have made an PR: #1864
Please review it when you get a time and tell me if there are more changes need to be done :)
Thanks!

[2019-03-16 20:30] Victory17 commented on #1052
Hi,
I am also an Outreachy participant for this round. Can I take this up for contributing?

[2019-03-18 10:47] canaltinova commented on #1052
Hey @Victory17. Great I'm assigning this issue to you. But I hope you saw that we are not a part of Outreachy this round. We understand if don't want to work right now on this since your priority is Outreachy at the moment. Of course, we would appreciate if you want to contribute!

[2019-03-18 14:41] julienw commented on #448
To be honest I don't like mixing the profile info and the title here, because I think it's valuable to see the profile info available for a quick glance even if a title has been set.
The exact placement of the title can be refined later, but I'd suggest keeping it as it is now (at the left of the top bar) and we can refine once the functionality is there.

[2019-03-18 15:09] julienw commented on #1435
I misunderstood something above: I understood that 350x350 was what we were showing, but I was wrong: 350x350 is what we store. What we (currently) display is 100px high and whatever we need for the width.

So I'm fine keeping it at 350px max, as you suggest @berkaybarlas, and generally do not scale the image over its original size as this will make it blurry like @digitarald says.

Sorry for the

[2019-03-18 15:14] canaltinova commented on #1616
Hi @suhailsinghbains, the issue is still taken and there is "assigned" label in the issue. After I asked @jdk1997 if they are working on that, they reached me out and asked about some questions and indicated that they are working on that. It's not very polite to come and take someone else's issue without asking first because that way people's work and time will be wasted. Please don't do that if s

[2019-03-18 15:20] canaltinova commented on #448
hey @rajmeghpara, since you worked on some "good first issue" you can work on more complicated ones if you like :) Wanna take this? There are some information in the comments above.

[2019-03-18 15:22] suhailsinghbains commented on #1817
Hi, Can I please work on this issue ?
Thanks

[2019-03-18 15:24] canaltinova commented on #1817
Hey @suhailsinghbains.  Sure, let us know if you need anything!

[2019-03-18 15:34] canaltinova commented on #164
While we were talking with Julien we were thinking about a border. But I actually like @gregtatum's suggestion here. It's very visible and it doesn't disturb. It also explicitly suggests that we can enter multiple keywords here.

[2019-03-18 15:44] suhailsinghbains commented on #1817
I am not sure which icon to choose for the external link icon or should I should an image Please help.

[2019-03-18 15:46] #1858 closed

[2019-03-18 15:54] ziyadElon commented on #1540
Hi,
I'd love to pick this up if it's still up for grabs.
Waiting eagerly for your response :)

[2019-03-18 16:17] ziyadElon commented on #1540
`flex: none` does seem like a good solution.
It would need to be applied to both `timelineSettings` and `profileViewerTopBar`.

[2019-03-18 16:23] ziyadElon commented on #1637
Hi,
Could I pick this up?
Trying to start contributing to open source.
This seems like a good task for my skill set.

[2019-03-18 16:25] berkaybarlas commented on #1540
Hi @ziyadElon, I think you can create and open a PR with your solution.

[2019-03-18 16:35] julienw commented on #1540
assigning to you @ziyadElon, thanks for your offer!

[2019-03-18 16:36] julienw commented on #1637
hey @ziyadElon, I assigned #1540 to you already, let's focus on that one for now :)

[2019-03-18 16:37] julienw commented on #1637
also I'm removing this from our "good first issue" list because other patches are coming in for this component so I'm afraid of conflicts.

[2019-03-18 16:40] julienw commented on #1817
@suhailsinghbains we should use [the icon "open in new" ](https://design.firefox.com/icons/viewer/#open%20in%20new).

[2019-03-18 16:42] julienw commented on #164
But this is a lot more work, as we can't use a normal text input anymore and have to manage the individual words separately + implement a proper UX. I did that in the past (for Firefox OS) and it wasn't easy to do properly. That's why I suggested something easier.

[2019-03-18 16:46] digitarald commented on #448
If somebody takes the time to name a profile, then showing it across the UI makes the most sense. The assumption is that the title is more meaningful than the highlight we deferred from the metadata (which can still be seen in the dropdown). We also have #1055 to use the same metadata for the title, which can just use the optionally provided name.

Another mental model for this discussion could be

[2019-03-18 18:05] ziyadElon commented on #1540
@berkaybarlas For some reason, all of the tests are failing on my branch.
This is the error I'm getting. Could I get some help?
`TypeError: Cannot assign to read only property 'Symbol(Symbol.toStringTag)' of object '#<process>'`
`at _default (node_modules/jest-environment-jsdom-thirteen/node_modules/jest-util/build/createProcessObject.js:85:34)`

[2019-03-18 20:47] digitarald commented on #448
@julienw just to summarize our quick chat from slack. Lets have UX for both cases to make this actionable as good first bug. Even if we move the title from the comparison screen, we need to have some empty state that marks it as editable field. The metadata-based title makes that a bit easier.

About the implementation: Naming would currently be only reflected in the URL; but not be stored in the

[2019-03-18 20:55] rajmeghpara commented on #448
Hi @canaltinova , Yes I would like to work on this issue. Though it seems complicated I would try my best to solve this :)

[2019-03-19 09:09] berkaybarlas commented on #1540
I think you already solved the problem @ziyadElon but it would be nice to look at this page if you missed it: https://github.com/firefox-devtools/profiler/blob/master/CONTRIBUTING.md

[2019-03-19 11:17] julienw commented on #448
hey @rajmeghpara, thanks a lot!
As you see, we have some discussions still going on, but they're purely about the UI (that's what I called "Pull request 2" in my comment https://github.com/firefox-devtools/profiler/issues/448#issuecomment-473361930 earlier). You can focus on "Pull request 1" first, then "Pull request 3" (which is #1055).

Assigning to you then :) Please ask if you have any more qu

[2019-03-19 11:21] #1540 closed

[2019-03-19 14:23] julienw commented on #1769
After looking at https://perfht.ml/2Y7F1P5 where `setTimeout` text markers are obscuring the timeling again, now I think I agree with this idea.

[2019-03-20 17:53] gregtatum opened #1870 "Add a lint rule to disallow nested ternaries"
https://eslint.org/docs/rules/no-nested-ternary

They are really hard to read and understand. I've given this feedback in reviews, and would prefer to have it in the lint, or else not give it. Does anyone have any objections?

[2019-03-20 18:08] julienw commented on #1870
I don't mind nested ternary that are well written (in an "if/else" fashion, as opposed to the ones with all the `?` at the start). But I'm not opposed to banning them, so yep, let's do that :) Have you checked whether we have some already ?

[2019-03-21 08:56] juj opened #1871 "Profiler crash when profiling Tiny Unity Instant Games"
STR:

1. Install profiler plugin from https://profiler.firefox.com/
2. Visit https://unity3d.com/tiny
3. Enable profiler when the page is in the "Play" | "Watch Intro" screen

The tab will crash in a second or two.

Crash reports:

Windows Firefox Release 65.0.2:
https://crash-stats.mozilla.com/report/index/17ed1459-d9bb-47bc-9cb6-aa88c0190321
https://crash-stats.mozilla.com/report/index/29aef732-

[2019-03-21 11:27] julienw opened #1873 "Memory marker track doesn't show the empty thread indicator"
STR:
1. Open this profile: https://perfht.ml/2YdHw2v

=> notice that the empty thread indicators aren't going to the marker "line".

cc @gregtatum

[2019-03-21 11:52] canaltinova opened #1874 "Handle the `profile.meta.debug` field in processed profile and dispay it in the meta panel"
The [Bug 1525408](https://bugzilla.mozilla.org/show_bug.cgi?id=1525408) mentions that there is no way to see if the profile is from debug build currently. We have that information in [gecko profile][0] but while we are [processing the gecko profile][1], we are not handling that field and that's why we can't see it after we publish or download it. We should keep that field and display it in the met

[2019-03-21 13:46] mstange commented on #1754
Yes please! I wanted to count tracing markers recently (and get their average durations) and had to combine start and end markers on the console manually. It would be great to have the markers in the canonicalized form available on the console.

[2019-03-21 13:54] canaltinova commented on #1870
I'm also okay with banning them. It seems like there is only one nested ternary in the codebase:
https://github.com/firefox-devtools/profiler/blob/4fa493cd672bd137375ce4abcf1c312a2ba0e2f0/src/components/shared/MarkerTooltipContents.js#L863-L865
It should be pretty easy to add the rule.

[2019-03-21 14:00] canaltinova commented on #1871
Hi, thanks for the report!
It looks like this is related to gecko side of the profiler. Would you mind filing this on bugzilla "Gecko Profiler" component?

[2019-03-21 14:25] gregtatum commented on #1848
My preference would be to overload one of the existing properties and consolidate on that, rather than introduce a new one. Plus we need documentation on it. I'm fine having this in the marker information, but I want to avoid more confusing fields.

[2019-03-21 14:32] #1874 closed

[2019-03-21 14:37] gregtatum commented on #94
I'm fine with closing it, feel free to give more feedback if folks disagree.

[2019-03-21 14:37] #94 closed

[2019-03-21 14:50] gregtatum commented on #1873
Setting to polish since it doesn't break anything, but is visually not great.

[2019-03-21 14:53] gregtatum commented on #1870
Sounds like we have consensus, renaming this to be actionable, and removing the discussion label. Thanks!

[2019-03-21 15:36] #1754 closed

[2019-03-21 21:49] gregtatum opened #1879 "gz test is permafailing on node v11.12.0"
It's not failing on v11.10.0.

/cc @julienw any ideas?

[code]

[2019-03-22 00:08] squelart commented on #1497
And please make the corresponding timings visible in the tooltip.
Some tooltips show 6 timestamps/durations, and it's not clear how they relate to the 3 colors; others only have "Response Time", even though 2-3 colors are visible.
(Should this be a separate issue?)

[2019-03-22 10:15] julienw commented on #1879
As a quick note, I tried running in v11.11 as well, but this release has another issue that got fixed in v11.12 in https://github.com/nodejs/node/pull/26488#issue-259046171.

There has been quite some changes in v11.11 about the worker implementation, that's why I wanted to check this version.

I believe this is what broke for us: https://github.com/nodejs/node/pull/26082
This fixes something that

[2019-03-22 11:01] julienw commented on #1879
This fixes it on node v11.12:
[code]

So I see that the first `postMessage` automatically adds the `{ data: XXX }` structure, but the one we receive in `onmessage` still doesn't have it. I asked about it in https://github.com/nodejs/node/pull/26082#issuecomment-475577285, it they plan to change this in the future we may want for it too.

[2019-03-22 12:06] fqueze opened #1880 "The Marker Table isn't refreshed after maximizing the browser window"
I just got confused by a list of markers that seemed really short, until I realized that I need to scroll for the list of refresh after maximizing the browser window.

Before scrolling:
<img width="3472" alt="Capture d’écran 2019-03-22 à 13 04 13" src="https://user-images.githubusercontent.com/2633774/54821667-38553800-4ca3-11e9-89f2-618fc8dec8e7.png">

After scrolling:
<img width="3472" alt="Ca

[2019-03-22 12:58] julienw commented on #1880
Do you see the same thing happening in the Call Tree ?

[2019-03-22 13:09] canaltinova commented on #1871
I just created a bug in bugzilla for that. See: https://bugzilla.mozilla.org/show_bug.cgi?id=1538165
Thanks for reporting it!

[2019-03-22 13:09] #1871 closed

[2019-03-22 16:05] jamesgeorge007 commented on #1436
@fqueze I'm new here and would love to work on this :clap: It would be great if oyu could throw light on the context here and the required files to work around with :smile:

[2019-03-22 16:06] jamesgeorge007 commented on #1436
@fqueze I'm new here and would love to work on this :clap: It would be great if you could throw light on the context here and the required files to work around with :smile:

[2019-03-22 16:06] jamesgeorge007 commented on #1436
@fqueze I'm new here and would love to work on this :clap: It would be great if oyu could throw light on the context here and also the required files to work around with :smile:

[2019-03-22 16:06] jamesgeorge007 commented on #1848
@fqueze @gregtatum @ julienw I'm new here and would love to work on this :clap: It would be great if oyu could throw light on the context here and the required files to work around with :smile:

[2019-03-22 16:07] jamesgeorge007 commented on #1848
@fqueze @gregtatum @ julienw I'm new here and would love to work on this :clap: It would be great if I was pointed to the right files to work with :smile:

[2019-03-22 16:08] jamesgeorge007 commented on #1848
@fqueze @gregtatum @julienw I'm new here and would love to work on this :clap: It would be great if I was pointed to the right files to work with :smile:

[2019-03-22 16:34] gregtatum commented on #1879
We could replace the test with https://github.com/firefox-devtools/profiler/pull/1730 so that we are not relying on experimental features.

[2019-03-22 17:31] julienw commented on #1879
I think this won't stay experimental for a long time now and this provides the right semantics for Worker, so it has some value.
I understand the problems of relying on experimental features though.

Supporting both node versions shouldn't be so hard. But it would also make it easier if we'd stick to latest node LTS instead of using node current :)

[2019-03-25 03:01] ziyadElon commented on #1637
Hello again @julienw ,
Since the other issue is resolved, could I pick this up?

[2019-03-25 13:58] #1453 closed

[2019-03-25 13:58] #1690 closed

[2019-03-25 14:28] julienw opened #1887 "Prevent focusing on the context menu, in the marker table and the timeline"
In #227 we described the problem in the call tree, and that was fixed by #1806. In this issue we want to generalize the solution. There are 2 possibilities:
1. extract the solution to a reusable component.
2. fix the problem directly in the library react-contextmenu.

[2019-03-25 14:29] #227 closed

[2019-03-25 14:46] julienw commented on #1887
cc @the-realtom, do you want to look at it?

[2019-03-25 14:48] julienw commented on #1637
hey @ziyadElon, to be honest, there's already some work going on in this area of code, this doesn't make it suitable for a contributor. There are other untaken issues, you can pick one of them :)

[2019-03-25 16:15] gregtatum opened #1888 "ArrowPanel should use redux to help control the open/close states"
Right now it's confusing on how to control the close open states of the ArrowPanel. It's probably time to coordinate them using Redux.

[2019-03-25 16:16] gregtatum commented on #1888
FYI, I'm referencing this issue in some new code.

[code]

[2019-03-25 16:43] julienw commented on #1888
As a first, we need to:

* remove these `openPanel`/`closePanel` methods
* replace them with using the `open` prop
* remove the internal state in `ArrowPanel` as a result

If we move this to a redux state, it should control `ButtonWithPanel` -- and `ButtonWithPanel` itself controls `ArrowPanel`.

For the redux state: I think we can safely decide that only one panel should be opened at one given ti

[2019-03-25 16:55] #1879 closed

[2019-03-25 17:11] julienw commented on #766
The Reducer type has been implemented by Greg.

[2019-03-25 17:11] #766 closed

[2019-03-25 17:29] julienw commented on #962
I'm duping this to #1726.

[2019-03-25 17:29] #962 closed

[2019-03-25 17:33] julienw commented on #976
Since #1875 we now display the "debug" status of a profile in the profile info panel. That PR added it in the info panel only, so IMO this isn't sufficient to fix this bug as it's not visible enough.
Also `debug` isn't the same as `not release`, but maybe that's good enough for the use case outlined in the discussion above.

[2019-03-25 17:34] julienw commented on #1051
@gregtatum I believe we're fairly happy about our current process. Should we write that down to a developer doc?

[2019-03-25 17:42] julienw commented on #1419
`MarkerTooltipContents` has been reused for the marker table. It's far from perfect but provides some value.

Of course this file should be split eventually. Should we keep this issue open to track this?

[2019-03-25 17:45] julienw commented on #1486
hey @onkeltom, now we fixed the hang, and we fixed also #1277 to select a range from the marker table. Are these tools good enough for you? Are they good but not efficient enough in your daily job? Tell us how you feel :)

[2019-03-25 17:58] digitarald commented on #1486
@godelstheory is this still important?

[2019-03-25 19:37] #938 closed

[2019-03-25 20:43] gregtatum commented on #1880
I can't repeat the STR by manually dragging, but I *can* do it if I hit a shortcut to size my window automatically larger. I wonder if our sizing information lags behind our resize event, and layout isn't properly flushed yet.

[2019-03-25 20:49] gregtatum commented on #1436
@jamesgeorge007 Sure. The required work is outline in my comment https://github.com/firefox-devtools/profiler/issues/1436#issuecomment-436656381

This code exists in the function _isThreadIdle. Let me know if you have any other questions, and feel free to join our Slack. I'll set this to assigned. Feel free to upload an early WIP PR to get feedback.

https://github.com/firefox-devtools/profiler/bl

[2019-03-25 20:50] gregtatum commented on #1848
@jamesgeorge007 generally we ask that contributors only work on one "good first issue" at a time, so we'll leave this one available as I just assigned you to another bug. This way we can have available issues available for new contributors.

[2019-03-25 20:55] gregtatum commented on #1051
Yes please.

[2019-03-25 23:49] PaulBone commented on #1726
Sounds interesting.  Any thoughts on how web developers might use this to measure / find more info about memory usage?  CC @gregtatum.

[2019-03-25 23:54] digitarald commented on #1726
@PaulBone memory would probably be on a secondary interface level. Primary use cases would be analyzing page load performance and responsiveness. If either of them shows memory-based root causes, it should be easy to get to the data.

[2019-03-26 00:47] the-realtom commented on #1887
Sure, I'm happy to do this one.

[2019-03-26 08:34] julienw commented on #1887
assigning to you then, thanks!

[2019-03-26 08:53] julienw commented on #1880
I can't reproduce on Linux :(

[2019-03-26 13:04] julienw opened #1891 "Write solid tests around marker search"
This should go in https://github.com/firefox-devtools/profiler/blob/e9c9e864f6fd30105ebf9946030d04c2221e28fc/src/test/store/profile-view.test.js#L658-L667.

This should cover all cases we implemented in https://github.com/firefox-devtools/profiler/blob/e9c9e864f6fd30105ebf9946030d04c2221e28fc/src/profile-logic/marker-data.js#L80-L83.

[2019-03-26 13:08] #1741 closed

[2019-03-26 13:26] #1780 closed

[2019-03-26 13:34] fqueze commented on #1880
Yes.

I maximized the window by double clicking the empty area of the titlebar.

I'm not sure, but it seems we repaint once or twice during the window maximize animation, but we don't repaint when the window has reached its final size.

[2019-03-26 13:43] julienw commented on #1880
Does that mean we don't get the "resize" event at the right moment? We _do_ call `getBoundingClientRect` in the resize listener, which should trigger a sync reflow.

[2019-03-26 17:22] jamesgeorge007 commented on #1436
@gregtatum I'm not that sure how should the conditional changes be changed so as to bring in the required change :confused: It would be great if you could have a mention on what is to be done :smiley:

[2019-03-26 17:23] jamesgeorge007 commented on #1436
@gregtatum I'm not that sure how should those conditions are to be changed so as to bring in the required change :confused: It would be great if you could have a mention on what is to be done :smiley:

[2019-03-26 20:29] gregtatum opened #1894 "Break up changeUploadState into multiple actions"
Follow-up to #1852.

Right now the changeUploadState can take arbitrary changes to values. It would be better to break this up into multiple actions, so it's a bit more structured. Also it would be good to create a union of upload states, where the phase is the differentiator. This way we know which values are valid for what states.

[2019-03-26 20:31] gregtatum opened #1895 "Ensure src/actions/publish.js has complete test coverage"
This is a follow-up to #1852.

Lots of new actions are added in #1852, we should ensure that they are adequately tested. I also wanted to defer this a bit since some of this user flow is fluid right now, so things are liable to change.

[2019-03-26 20:41] gregtatum opened #1896 "Create more targeted PII sanitization component tests"
This is a follow-up to #1852

After we get a good user-flow nailed for the PII sanitization, we should have better tests around the component. Right now there are just some snapshot tests, but it would be nice to encode this process into tests.

[2019-03-26 20:44] gregtatum opened #1897 "Create a message for the user when they land on an uploaded profile"
Right now when we pop open a new window after #1852, the user is presented with a new profile, but no indication on how it got there. It would be nice to display some kind of indication of what just happened so it is clear to the user.

[2019-03-27 12:35] whimboo commented on #1780
Thanks a lot for this addition!

[2019-03-27 13:31] #1744 closed

[2019-03-27 13:42] gregtatum commented on #136
This discussion has been resolved, we don't want to use workers like this.

[2019-03-27 13:42] #136 closed

[2019-03-27 19:57] gregtatum commented on #1780
Hope it helps @whimboo !

[2019-03-28 13:48] fqueze commented on #416
The web console already serves this purpose.

[2019-03-28 13:48] #416 closed

[2019-03-28 13:51] fqueze commented on #417
This has seen no activity for years, we can reopen if someone asks again.

[2019-03-28 13:51] #417 closed

[2019-03-28 13:54] fqueze commented on #484
This is underspecified and hasn't been requested recently, but seems a valid request. Removing the discussion label for now but keeping in the backlog.

[2019-03-28 13:56] fqueze commented on #613
This is more historical at this point. Some of the items discussed here aren't implemented, but the initial work has landed.

[2019-03-28 13:56] #613 closed

[2019-03-28 15:13] fqueze opened #1902 "The formatting of FileIO and Text markers should be consistent"
Currently FileIO markers use a — separator between the kind of I/O and the path to the file, whereas Text Markers put the name of the marker in brackets.

<img width="835" alt="Screenshot" src="https://user-images.githubusercontent.com/2633774/55168972-32b09400-5174-11e9-918c-1c66d62cf623.png">

Profile used for the screenshot: http://bit.ly/2JKSfhv

[2019-03-28 15:13] fqueze commented on #1902
I personally prefer the — separator.

[2019-03-28 16:12] mstange opened #1903 ""Copy stack" is broken, it only copies the selected function and not the stack"
Steps to reproduce:
 1. Open any profile, such as http://bit.ly/2JMuN3D .
 2. Right-click on a call node in the call tree which is not the root.
 3. Select "Copy stack".
 4. Paste into an editor.

Expected results:
You should get multiple lines of output, containing the stack up to that call node.

Actual results:
Only a single line was copied: the selected function name.

[2019-03-28 16:28] julienw commented on #1902
The code to change is in https://github.com/firefox-devtools/profiler/blob/1614826641ba547dec5294fdc359192cfec88736/src/components/marker-table/index.js#L131-L134

[2019-03-28 16:30] julienw commented on #953
cc @arroway

[2019-03-28 16:36] gregtatum commented on #1894
In #1852's review. Julien stated:

[code]

[2019-03-28 16:53] julienw commented on #953
Here is a profile exhibiting some favicons: http://bit.ly/2THV3f0

[2019-03-28 18:37] julienw commented on #1903
This is weird, I get the right stack if I log the stack right before feeding it into the `copy` function. Maybe there's a behavior change in Firefox?

[2019-03-28 18:39] julienw commented on #1903
No, Firefox 65 has the same problem.

[2019-03-28 18:40] julienw commented on #1903
Copying a marker cause works as expected.

[2019-03-28 19:44] gregtatum opened #1904 "Consider allowing sanitizing PII of an already uploaded profile"
Julien mentioned in the review for the PII UI:

Although, I think it would be nice if we could avoid doing this as it adds another button the UI, and the profile is already shared publicly. I'm filing this here for discussion as a follow-up.

[2019-03-28 19:48] gregtatum opened #1905 "Remove setTimeout from ArrowPanel"
This is a follow-up to #1852.

The ArrowPanel has an animation, and some timing logic uses `setTimeout`. In review, Julien suggested:

[2019-03-28 19:50] periode commented on #1902
Happy to take care of it!

[2019-03-28 20:04] Mozilla-GitHub-Standards opened #1907 "CODE_OF_CONDUCT.md isn't correct"
**Your required text does not appear to be correct**

As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are requir

[2019-03-28 20:43] gregtatum opened #1909 "Do not sanitize profiles collected from Nightly"
Nazim landed the changes to include the channel of the profile, if the profile is from Nightly, we should not sanitize information by default. This is a follow-up #1852

[2019-03-28 21:55] brisad commented on #1903
It's the same problem with "Copy script URL". It's just copying the function name.

It seems to be this part of the code that is taking over the copying. It works if I comment its body out.
https://github.com/firefox-devtools/profiler/blob/1614826641ba547dec5294fdc359192cfec88736/src/components/shared/TreeView.js#L508-L521

[2019-03-28 22:20] julienw commented on #1903
ah good finding! It's weird, we didn't change this part for ages. Is it possible that the behavior of `document.execCommand('copy')` changed in Firefox <= 65 and we just didn't notice?

[2019-03-28 22:35] julienw commented on #1903
This works in an older version of perf, so I'll try to bisect tomorrow and then maybe the solution will be obvious.

[2019-03-28 22:43] PaulBone commented on #1726
That makes sense.

[2019-03-28 22:56] mstange commented on #1903
Maybe one of the focus changes caused a copy event to be dispatched in a different place than before, and now the tree's copy handler overwrites the clipboard?

[2019-03-29 08:22] julienw commented on #1903
Yeah, this is exactly this: this is caused by #1806. After that PR the focus stays in the call tree instead of moving to the context menu.

There are several solutions to this:
1. Backout the aforementioned PR.
2. Remove the onCopy handler at all -- do users actually know and use this behavior?
3. Replace the onCopy handler with a keypress handler.

@mstange do you know about our usage of the Ctrl

[2019-03-29 10:16] #1902 closed

[2019-03-29 12:52] #1435 closed

[2019-03-29 12:55] julienw commented on #1435
With the patch that I just merged, the size of the screenshot is maxed by the amount of vertical space between the screenshot track and the top of the window. You can see that clearly in [this profile](https://master--perf-html.netlify.com/public/d4e0b257c771dd7d4a7a6bd6c8c8cbb2d5dad40c/calltree/?globalTrackOrder=10-11-12-13-0-1-2-3-4-5-6-7-8-9&hiddenGlobalTracks=1-2-3-4-5-6-7-9&thread=9&v=3): for

[2019-03-29 15:05] #1907 closed

[2019-03-29 16:08] #1708 closed

[2019-03-29 19:16] gregtatum commented on #953
@julienw could you provide some context here? I'm not sure why we want to change the behavior here.

[2019-03-29 20:42] #67 closed

[2019-03-30 10:24] rajmeghpara commented on #448
Hi @julienw, I have made the first PR #1913. Kindly look into it when you get time :)
Thanks :)

[2019-03-30 14:38] rajmeghpara commented on #1055
Hi @julienw, After submitting PR: #1913 I have got my hands on this issue.

Can you please finalize the information we want to show in window title? As we have profileName now, we might want to put it somewhere inside this.

[2019-04-01 12:16] julienw commented on #953
@gregtatum
As a reminder, currently we compute the favicon's URL by using the library URL's domain and adding `favicon.ico`. Then we load this icon. This has several drawbacks:
* the most important IMO is that we do a request to the website itself. I believe this is a privacy issue, because anybody who loads a profile will basically ping all library websites. Here is an example when loading a prof

[2019-04-01 12:29] caiovosilva commented on #1848
@canaltinova I would like to work on this issue. Could you please assign it to me?

[2019-04-01 12:32] caiovosilva commented on #1848
@canaltinova I would like to work on this issue. Could you please assign it to me and give some direction of where i find this in the code?

[2019-04-01 12:34] caiovosilva commented on #1848
I would like to work on this issue. Could you please assign it to me?

[2019-04-01 12:42] #1909 closed

[2019-04-01 13:21] julienw commented on #1436
hey @jamesgeorge007, have a look at the previous comment https://github.com/firefox-devtools/profiler/issues/1436#issuecomment-436656381, this should make things clearer :).

You can also look at the content of the 2 functions used in this code, you'll see how that relates with the comment.

[2019-04-01 13:26] julienw commented on #1055
hey @rajmeghpara, yeah the profile name should come first in this line, when we have it.

I was talking about a new connected component indeed, whose sole responsibility is to change `document.title`. Indeed the actual line of updating `document.title` will go to `componentDidUpdate` of that component.
It's better than adding this code to an existing component (I guess you're talking about `Profil

[2019-04-01 13:29] canaltinova commented on #1848
Hi @caiovosilva. Sure, assigning to you. There is a brief info about how to solve it in this comment above: https://github.com/firefox-devtools/profiler/issues/1848#issuecomment-472024607 Let us know if you need anything else :)

[2019-04-01 13:31] canaltinova commented on #1800
Closing this since this is fixed by #1855.

[2019-04-01 13:31] #1800 closed

[2019-04-01 13:33] canaltinova commented on #1745
This is fixed by #1843. Closing.

[2019-04-01 13:33] #1745 closed

[2019-04-01 13:40] canaltinova commented on #1616
Fixed by #1866, closing.

[2019-04-01 13:40] #1616 closed

[2019-04-01 13:52] canaltinova commented on #1447
Hi @asishkr123, it looks like you have more important things to do. We understand that you need to prioritize your time for Outreachy projects. Please write here if you wanna work on this again. I'm unassigning this in the meantime. If someone else wants to work on it, it's up for grabs! :)

[2019-04-01 13:56] canaltinova commented on #1390
Hi @sudipt1999, are you still working on it? Please don't hesitate to ask if are blocked on something :)

[2019-04-01 13:57] canaltinova commented on #1274
hey @lloan, are you still working on this? Please let us know and we can help you if you are blocked on anything :)

[2019-04-01 14:00] lloan commented on #1274
Thanks for asking @canaltinova! Been working on the netmonitor tools project and as that one is on Phabricator, this one completely slipped my mind. If anyone else is interested in working on it, please do assign it to them, otherwise, I can work on it this week. Thanks a ton!

[2019-04-01 14:04] canaltinova commented on #1052
Hi @Victory17, I believe you've prioritized your time to work on Outreachy projects. So I'm unassigning this issue. But if you still want to work on this please let us know so we can assign it back to you :)
This is up for grabs in the meantime :)

[2019-04-01 14:14] canaltinova commented on #332
Hey @Paarmita, are you still working on it? Please let us know if you are not working on it or blocked on something so we can either unassign or help you out :)

[2019-04-01 14:30] canaltinova commented on #1274
@lloan thanks for letting us know :) I'll unassign it so someone can grab it if they are interested. Let us know if you want to work on it again :)

[2019-04-01 16:21] Victory17 commented on #1052
It's ok. I wanted to take this issue but due to circumstances I could not
avoid I couldn't take it. If there's someone else who can take it, I would
not mind

On Mon, Apr 1, 2019 at 5:04 PM Nazım Can Altınova <notifications@github.com>
wrote:

[2019-04-01 18:03] julienw commented on #1052
Don't worry, we completely understand!

[2019-04-01 20:12] renatavmaraj commented on #1447
I'm interested in working on this!

[2019-04-02 10:01] canaltinova commented on #1447
hey @renatavmaraj, assigning it to you. Let us know if you need anything!

[2019-04-02 13:13] julienw commented on #1684
Fixing in #1715.

[2019-04-02 13:14] julienw commented on #1685
I think this specific issue got fixed, possibly by #1719. When I look at the 2 profiles from the initial description, completed markers aren't shifted anymore.

[2019-04-02 13:14] #1685 closed

[2019-04-02 13:21] julienw commented on #1681
So this isn't fixed, neither by #1746 or by my WIP patch in #1715.
Though as far as I understand, it's being painted properly from the markers we get in the profile.

Here's the pair of markers in the parent process:
[code]

And here is the pair of markers in the content process:
[code]

We clearly see that the first marker in the content process starts much earlier.
If that's not expected then th

[2019-04-02 15:04] mstange commented on #1685
Confirmed, this is fixed!

[2019-04-02 15:57] mstange commented on #1681
It is expected - it is unfortunate but it correctly reflects what happened. (The reason it took so long for the parent process to hear about this request is that the request went through multiple back and forth bounces between the content process main thread and a service worker thread in the content process, before it was passed on to the parent process.)

[2019-04-02 16:27] julienw commented on #1681
@mstange, so is the rendering actually correct here ? or is the problem that the grey subpart shouldn't be completely at the left ?

[2019-04-02 16:41] mstange commented on #1681
The problem is that the grey subpart shouldn't be completely at the left.

[2019-04-02 18:17] caiovosilva commented on #1343
I would like to work on this, could someone assign it to me and please tell what to do to upgrade the environments for CircleCI and appveyor? Complete newbie on that.
@canaltinova

[2019-04-02 19:06] julienw commented on #1681
I see!
Looking at the code I think I know why this happens and I started a fix.

[2019-04-02 20:08] canaltinova commented on #1343
hey @caiovosilva, assigning the issue to you. We don't need to edit environment variables on CI anymore. Third item in that list is already done :) Let us know if you need anything else!

[2019-04-03 02:09] caiovosilva commented on #1006
@canaltinova could you assign this to me?

[2019-04-03 15:03] julienw commented on #1006
@caiovosilva sure! For this issue, it's probably a good a idea to work with small PR adressing single components. Some components are likely easier than others, so you can start with these ones.

[2019-04-03 18:32] gijsk opened #1921 "Call tree stack type pref should either not affect other views or be visible in them"
STR:

1. open a profile
2. switch to JS stack trees in the call tree pane
3. switch to marker table, and find any file IO marker early enough on startup that doesn't have a JS stack, only C++
4. right click, 'copy cause'

ER:
get a stack, or have some obvious way in the UI to explain why this copies empty string to the clipboard

AR:
get empty string in clipboard and wonder wtf is going on

[2019-04-03 19:35] #1863 closed

[2019-04-03 19:51] #1343 closed

[2019-04-03 20:25] julienw commented on #1921
Thanks, this bothers me a lot as well.

[2019-04-04 22:07] gregtatum commented on #953
Ah makes sense, so we'll need a Gecko patch?

[2019-04-05 07:24] julienw commented on #953
Ah yeah, for sure!

[2019-04-05 12:12] #1903 closed

[2019-04-05 16:32] mstange opened #1924 "Local profiling on macOS doesn't demangle symbols on Matt's machine"
Matt Woodrow just took a local profile on macOS. Symbolication worked, but the symbols weren't demangled.

[2019-04-08 18:37] rajmeghpara commented on #448
Hi @julienw , @canaltinova , I have made the PR #1926 for 3rd part. Please review it when you get a time and tell me if there are more changes need to be done :)

[2019-04-09 10:02] julienw commented on #1681
In the profile, I see there are some markers that look wrong, for example [look at this search-filtered marker table view](https://profiler.firefox.com/public/b3c2c2d7ff162d44bb85b21c8c179c97319eb7a2/marker-table/?globalTrackOrder=2-0-1&hiddenLocalTracksByPid=29427-0-2~29458-1&markerSearch=avatar&thread=2&v=3) => the id in the name seems to be off (I also checked the "id' field in the json payload

[2019-04-09 13:11] #1817 closed

[2019-04-09 19:07] fqueze opened #1931 "Some urls have a '/' in the wrong position in the network panel"
See on this screenshot:
<img width="353" alt="Capture d’écran 2019-04-09 à 21 04 25" src="https://user-images.githubusercontent.com/2633774/55827760-3b598080-5b0b-11e9-87d4-efd744f96e93.png">

The url in the tooltip is correct, but in the table it's displayed as https://mozilla.service-now.comamb// instead of https://mozilla.service-now.com/amb/

[2019-04-09 20:02] julienw commented on #1931
[here is a live example](https://perfht.ml/2ImGz29)

[2019-04-10 15:07] gregtatum opened #1935 "Flow v0.96.0 upgrade - fix DOMRect error"
[code]

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FP-142)

[2019-04-10 15:10] gregtatum opened #1936 "Flow v0.96.0 upgrade - Properly type ThunkActions in components"
[code]

This is a bit of a regression in the upgrade, but the `ThunkAction` needs to be removed when the ThunkAction is connected to a component. Look for this issue number in the code and `$FlowFixMe` to see where this needs to be fixed.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FP-143)

[2019-04-10 21:54] #1897 closed

[2019-04-11 11:54] #1931 closed

[2019-04-11 12:27] #1681 closed

[2019-04-11 13:07] fqueze commented on #683
Hasn't been requested recently; probably because other tooling has improved since that.

[2019-04-11 13:07] #683 closed

[2019-04-11 14:11] fqueze opened #1937 "Offer an easy way to see the JS source code using view-source:"
The error console provides this. It seems the profiler should do the same. This would probably only work when the profile was captured on the same Firefox instance, but would already be helpful for that case.

[2019-04-11 14:14] julienw opened #1938 "Add some transparency to the markers being displayed in the timeline"
In the timeline we can have very long markers obscuring other markers. [Here is such an example](https://perf-html.io/public/280e10708c0660695ef5af145c53179d29d9796c/marker-chart/?globalTrackOrder=0-1-2-3-4&hiddenGlobalTracks=0-1-2-3&localTrackOrderByPid=31626-0~&markerSearch=&react_perf&thread=5&v=3).

In this issue we want to try adding some transparency. Ideally the transparency would be a func

[2019-04-11 14:14] julienw commented on #687
Closing in favor of #1938

[2019-04-11 14:14] #687 closed

[2019-04-11 14:17] julienw opened #1939 "Tweaks around marker' causes when the stack is empty because of some filtering"
We should tweak the message in marker's tooltips when the stack is empty because of some filtering, and copy the same message when copying the stack.
The current behavior is that we display a message that the stack is empty, and we copy an empty string. Instead the message should be that the stack has been filtered out by the filter implementation.

This is a small workaround for #1921.

[2019-04-11 14:20] julienw commented on #1921
We discussed about this in our weekly meeting, and we decided to do a small stopgap change in #1939, but otherwise wait until the bigger work around stack collapsing of #1726 is done. Indeed with that work the stack might not be empty anymore and instead show something meaningful. Note we plan to actively work on that during this quarter.

[2019-04-11 21:27] gregtatum opened #1941 "Consolidate shouldRemoveNetworkUrls and shouldRemoveAllUrls"
In the privacy panel we only expose one option for URLs, but in the code to strip the profile of information we split out network urls, and the rest. We should consolidate this to one option.

[2019-04-12 11:19] #1848 closed

[2019-04-12 15:17] canaltinova opened #1945 "Print more useful error messages for css lint errors"
Currently we are running `yarn lint` before every push and it checks js/css lints. We started to check prettier results as well with #1940 But as Greg mentioned in the review. The output is not super useful. It may be nice to create a node script that runs lint, and then when it fails outputs a friendly error message with a suggest to run `yarn lint-fix-css` to our contributors.

<details>
  <summ

[2019-04-12 17:45] gregtatum opened #1947 "Provide a better error when the profile format is wrong"
We should do some dynamic checking to see if a profile is the right format before attempting to process it. When we blaze ahead, we end up with the cryptic error message `e.meta` is not defined. For instance we can check the existence of some required properties. Maybe it would be better to run the processing, and then when it fails, perform a check at the end.

[2019-04-13 15:58] jdk1997 commented on #1870
Hi! Can I work on this issue?

[2019-04-14 14:58] canaltinova commented on #1870
Hi @jdk1997! Sure, let us know if you need anything!

[2019-04-15 13:17] asutherland commented on #1458
Should the docs visible at https://profiler.firefox.com/docs/#/./guide-startup-shutdown that say "A recorded Firefox shutdown profile won't be symbolicated, so when loading it into profiler.firefox.com it will be of limited use. Issue #1458 addresses this." have that sentence removed, then?

[2019-04-15 13:19] julienw commented on #1458
oh yeah, thanks :)

[2019-04-15 14:30] jdk1997 commented on #1870
I have to add the rule in .eslintrc.js, right?

[2019-04-15 14:37] canaltinova commented on #1870
@jdk1997 Yes, there are already some rules there, you can append this one. Also you'll need to run `yarn lint-js` and fix the nested ternaries if there are any.

[2019-04-15 15:46] gregtatum commented on #1314
This is resolved by #1852.

[2019-04-15 15:46] #1314 closed

[2019-04-15 15:47] gregtatum commented on #1314
Oh, and the current strategy is to upload everything by default for nightly profiles, but all other profiles get sanitized by default.

[2019-04-15 15:49] gregtatum commented on #1331
The MVP landed in #1852, and the follow-ups are filed under the [privacy](https://github.com/firefox-devtools/profiler/issues?q=is%3Aissue+is%3Aopen+label%3Aprivacy) label.

[2019-04-15 15:49] #1331 closed

[2019-04-15 15:50] gregtatum commented on #997
This is resolved with the MVP of the PII work in #1802, and follow-ups are filed under the [privacy](https://github.com/firefox-devtools/profiler/issues?q=is%3Aissue+is%3Aopen+label%3Aprivacy) label.

[2019-04-15 15:50] #997 closed

[2019-04-15 15:51] gregtatum commented on #1802
This is resolved with the MVP of the PII work in #1802, and follow-ups are filed under the [privacy](https://github.com/firefox-devtools/profiler/issues?q=is%3Aissue+is%3Aopen+label%3Aprivacy) label.

[2019-04-15 15:51] #1802 closed

[2019-04-15 15:51] gregtatum commented on #1315
This is resolved with the MVP of the PII work in #1802, and follow-ups are filed under the [privacy](https://github.com/firefox-devtools/profiler/issues?q=is%3Aissue+is%3Aopen+label%3Aprivacy) label.

[2019-04-15 15:51] #1315 closed

[2019-04-15 15:51] gregtatum commented on #775
This is resolved with the MVP of the PII work in #1802, and follow-ups are filed under the [privacy](https://github.com/firefox-devtools/profiler/issues?q=is%3Aissue+is%3Aopen+label%3Aprivacy) label.

[2019-04-15 15:51] #775 closed

[2019-04-15 15:51] gregtatum commented on #677
This is resolved with the MVP of the PII work in #1802, and follow-ups are filed under the [privacy](https://github.com/firefox-devtools/profiler/issues?q=is%3Aissue+is%3Aopen+label%3Aprivacy) label.

[2019-04-15 15:51] #677 closed

[2019-04-15 16:12] gregtatum commented on #1264
This is resolved with the MVP of the PII work in #1802, and follow-ups are filed under the [privacy](https://github.com/firefox-devtools/profiler/issues?q=is%3Aissue+is%3Aopen+label%3Aprivacy) label.

[2019-04-15 16:12] #1264 closed

[2019-04-15 18:18] gregtatum commented on #1265
This seems resolved by the PII MVP, which landed in #1852. The follow-ups are filed under the [privacy](https://github.com/firefox-devtools/profiler/issues?q=is%3Aissue+is%3Aopen+label%3Aprivacy) label.

[2019-04-15 18:18] #1265 closed

[2019-04-15 18:59] iYung commented on #332
Hello! Can I work on this issue? I'm fairly new to contributing on GitHub and would like a chance to learn.

[2019-04-16 14:43] gregtatum opened #1948 "Making it easier to unhide local tracks"
<img width="582" alt="image" src="https://user-images.githubusercontent.com/1588648/56219181-e8605b80-602b-11e9-9737-652a4beb5101.png">

A user should be able to click on the context menu, and show a local track that is hidden. Currently they cannot, and it is confusing. They must first unhide the parent process.

[2019-04-16 17:11] canaltinova commented on #332
Hi @iYung! Since there is no response from previous assignee, you can take this issue. Let us know if you need anything!

[2019-04-16 20:48] digitarald commented on #1904
Agreed, just ran into the same; the user story would be:

User story: When iteratively slicing a profile to the right section, I want to sanitize an already sanitized profile after further reducing the shown information by reducing the time range or hiding range, so that I can make sure to only share what is visible.

[2019-04-16 22:32] iYung commented on #332
Thank you @canaltinova! Would a message like `Drag and drop a profile file here to load it.` be okay? I think it sounds less formal and more natural.

[2019-04-17 14:48] julienw commented on #1138
Updated code in speedscope: https://github.com/jlfwong/speedscope/blob/master/src/import/instruments.ts

[2019-04-17 16:13] julienw opened #1954 "When sanitizing network URIs, we should remove the URI from the marker's name as well"
The current code is:
https://github.com/firefox-devtools/profiler/blob/3ac10014e100ad118dface96b0f45db7c69ee517/src/profile-logic/marker-data.js#L853-L856
Compare to what we were doing before:
https://github.com/firefox-devtools/profiler/blob/07ed58a1b4ac9e34dc3bd1569738534a33f4f329/src/profile-logic/process-profile.js#L1092-L1100

I believe this is important and a regression. cc @canaltinova @gre

[2019-04-17 16:46] canaltinova commented on #1954
@julienw we are still doing it. Just not inside that function but after it. I didn't want to put that inside that function because it's more about marker payload and we are mutating string array here.
https://github.com/firefox-devtools/profiler/blob/3ac10014e100ad118dface96b0f45db7c69ee517/src/profile-logic/process-profile.js#L1222-L1229

[2019-04-17 17:20] julienw commented on #1954
I'm sure I've seen the problem, so I'll investigate more tomorrow, to come up with a better STR.

[2019-04-17 17:23] canaltinova commented on #1954
I've seen another problem and will open a PR soon(about mutations). But it's not about marker's name. I'm pretty sure that's the thing you've seen too :)

[2019-04-17 17:52] canaltinova commented on #1954
Please see #1955 for the fix.

[2019-04-17 18:05] gregtatum opened #1956 "Create something like a "relevant for platform" implementation filter"
This issue is extracted from the discussion issue #836

I believe this would be a new filter that removes all native frames, but leaves all label frames, and js frames.

[2019-04-18 10:09] julienw opened #1957 "The checkboxes in the publish panel are misleading"
See this screenshot:
![image](https://user-images.githubusercontent.com/454175/56352371-6b6de700-61cf-11e9-8e58-b472884d70e4.png)

As a user I got confused by the UX:
* the main checkbox "filter out potential information" is good: when it's checked, we filter things out.
* the problem is with the other checkboxes: when they're _not_ checked, we filter things out.

I think that all checkboxes shoul

[2019-04-18 10:09] julienw commented on #1954
Thanks !
I was confused by #1955 and #1957 together. Closing this now :)

[2019-04-18 10:09] #1954 closed

[2019-04-18 10:14] julienw commented on #1956
My thinking until now about something like this was implementing a transform that would collapse all frames in a specific category into one frame with the category name.

Then we could have 2 transforms in the context menu:
* collapse this category
* collapse other categories

and when right-clicking on a collapsed category:
* expand this category

But maybe the granularity we can get from this wo

[2019-04-18 12:07] julienw commented on #332
@iYung I think there needs to be a link with the previous sentence, (like my `it's also possible to...`) but otherwise this looks good :)

[2019-04-18 12:45] asutherland commented on #1957
I'm so glad you filed this!  I came here because I got confused by this UI.  I checked "Filter out potentially identifying information" and checked "Resource URLs" because I thought this was filtering them out.  (I think my brain/eyes glossed over "Include additional data" assuming it was an elaboration of the above checkbox, which is visually how things are presented.)

Also, I think it might mak

[2019-04-18 12:48] asutherland commented on #1957
Er, elaborating on the "JS stacks" thing, what I mean is that I don't particularly think our C++/rust stacks have much in the way of privacy implications.  Our built-in JS logic is probably also fine.  But content JS frames do potentially reveal information both in their URLs and in the names of running functions.  I didn't propose an option in the previous comment for excluding the JS stacks, but

[2019-04-18 13:53] canaltinova commented on #1957
Btw, these checkboxes were reversed before but it's changed after UX discussion here: https://github.com/firefox-devtools/ux/issues/54#issuecomment-477291675
cc @gregtatum

[2019-04-18 15:52] gregtatum commented on #1392
Today Julien, Nazim, and myself chatted about how to implement some of these features, this is what we came up with:

### profiler.firefox.com
* Update the JS implementation filter to use "relevantForJS"
* Update ALL call tree transforms to use "relevantForJS"
* Handle URL serialized call tree transforms
    A) Drop the data in a url upgrader
    B) Translate them into new transforms

# gecko
  *

[2019-04-18 15:58] julienw commented on #1957
Thanks for the link @canaltinova! I'll comment there.

[2019-04-18 16:13] gregtatum commented on #1957
I agree it's confusing. I really like @asutherland's suggestion in https://github.com/firefox-devtools/profiler/issues/1957#issuecomment-484491272.

I tried keeping things really simple, but I think it's getting in the way. The simplest course I think is to reverse the options from "including" to "excluding", then maybe follow-up with @asutherland 's suggestion. I know @digitarald is looking at ge

[2019-04-18 16:45] gregtatum commented on #1896
These should probably also replace the `describe('toggleCheckedSharingOptions')` tests, seems like it's fine to have them tested at the component level.

[2019-04-18 17:14] #1894 closed

[2019-04-18 17:14] #1895 closed

[2019-04-18 22:40] digitarald commented on #798
@gregtatum found while pruning the product backlog – is there more work needed here that we should track here or in a separate bug?

[2019-04-20 12:39] fqueze commented on #1957
I agree that this UI is confusing due to checkboxes having opposite meanings. Checking more boxes to share more data seems 'natural'. But I'm not sure what the purpose of the "Filter out..." checkbox is; we can't treat privacy as optional.

[2019-04-22 18:45] violasong commented on #1957
I can see how this is confusing.  [My idea](https://github.com/firefox-devtools/ux/issues/54#issuecomment-477291675) was to not have the first checkbox - just make it the stated default to filter out PII. Then there would only be one type of action in the rest of the checkboxes — check to add (which seems more straightforward than check to remove).

[2019-04-23 10:48] julienw commented on #1957
I see, this makes sense indeed.

[2019-04-23 13:14] julienw opened #1963 "The focus style for links is incorrect"
We currently use the same style for links than for buttons:
https://github.com/firefox-devtools/profiler/blob/ceff43853f05bd29ff78fa2ce180d93d758a8367/res/css/focus.css#L11-L23

But according to [the spec](https://design.firefox.com/photon/components/links.html#behaviors) instead this should be:
[code]

[2019-04-23 13:33] julienw opened #1964 "Focus style for the top right "docs" button is incorrect"
See screenshot:
![image](https://user-images.githubusercontent.com/454175/56584188-8c717600-65db-11e9-875f-136da131219e.png)
See especially the left border.

The problem comes from our style:
https://github.com/firefox-devtools/profiler/blob/ceff43853f05bd29ff78fa2ce180d93d758a8367/res/css/focus.css#L11-L23

See especially that we have both a `inset` and a outside (non-inset) shadows. And because

[2019-04-23 13:49] julienw opened #1965 "Improper handling when timings are not in the expected order"
See [this specific profile link](https://profiler.firefox.com/public/2a5d34be5f5f662438b765cdd3796fbad8d8b051/network-chart/?globalTrackOrder=0-1-2-3-4-5-6&hiddenGlobalTracks=1-2-3-4-5&localTrackOrderByPid=5569-1-2-0~6172-0~6295-0~6403-0~5755-0~5696-0~6351-0-1~&networkSearch=sdk&profileName=&thread=7&v=3).

For this specific marker we miss the "start" marker but I believe this doesn't change the p

[2019-04-23 15:23] julienw commented on #1965
From Honza on IRC, here is how we can disable the various preconnect behaviors, for testing purpose:
* setting `network.http.speculative-parallel-limit` to `0` should disable all preconnect behaviors.
* `network.predictor.enabled` controls the predictor behavior.
* `browser.urlbar.speculativeConnect.enabled` controls the behavior related to the address bar.

[2019-04-23 21:17] digitarald opened #1966 "Don't open a new window when profiles have not been sanitized"
Follow up to #1802.

STR: Upload profile without removing any data
ER: Don't open a new tab with the profile (its the same data), just update the URL
AR: Opens new tab

This shortcut also streamlines shared for power users. Am I missing a downside?

[2019-04-23 21:18] gregtatum commented on #1966
Yup, sounds good.

[2019-04-24 07:00] julienw commented on #1966
Given how this doesn't work anyway because of the popup blocker, my preference would be to never open a new window, and just show the URL so that it's clickable.
Also I would display a permalinked URL, and also make it copyable with a button besides. (I can file a separate bug for this last part if you want ?)

[2019-04-24 16:02] #1684 closed

[2019-04-24 16:02] #1715 closed

[2019-04-24 19:09] gregtatum commented on #1957
@violasong The problem here is that when implementing this, the Mozilla performance teams want to share everything by default and not lose any data. This is a pretty strong opinion on their part from my understanding. However, for our "normal" user, we would want to have things sanitized by default. For instance, this "normal" user could be someone from Twitter with a performance problem, that is

[2019-04-24 19:10] fqueze opened #1971 "Sanitizing a profile shouldn't remove memory tracks"
After uploading a profile with PII sanitization enabled, I realized the profile no longer had memory tracks.

[2019-04-24 19:16] gregtatum opened #1972 "Recreate the UrlState for a sanitized profile"
I thought this was already filed, but I didn't find it. Right now when we sanitize a profile we lose all of the UrlState. We should map it to the new information.

[2019-04-24 19:18] gregtatum commented on #1971
Example profile affected by this issue: https://perfht.ml/2GCovyO

Looks like the counters are empty.

[2019-04-24 19:21] gregtatum opened #1973 "Consider keeping sanitized profiles in the same window"
After we do #1972 I think it would be simpler if we just kept the sanitized profile in the same page, rather than mess around with opening new windows. We could persist all the old profiles in state, and surface it with UI. I think this would be simpler than some of the other options.

[2019-04-24 19:23] digitarald commented on #1966
Yes, lets have a separate discussion. Profile storage/history should make the new window unnecessary, but meanwhile fixing the window flow (by hooking into click events) seems another alternative to work around the popup warning. The current flow works for our power users, that know to accept the warning for the domain – but it gets in the way again for every new profile.

[2019-04-24 22:25] gregtatum commented on #1971
https://github.com/firefox-devtools/profiler/blob/e5f31292ee4154a99f1589076ddc35ae1fe42166/src/profile-logic/process-profile.js#L1152

Just ran across the bug working on another patch. It should be  `newThreadIndex === null`.

[2019-04-25 05:13] digitarald commented on #970
@julienw would this similar to heaviest stack trace? https://help.apple.com/instruments/mac/current/#/devd53abb62

[2019-04-25 11:13] canaltinova commented on #1971
Oops, created #1975 to fix that.

[2019-04-25 12:39] julienw opened #1976 "Phases for network markers that are expanding beyond the range of a profile are wrongly drawn"
See [this profile](https://profiler.firefox.com/public/8b2e92d6b9d9a506737fbed3d0fa5424e3b34a0c/network-chart/?globalTrackOrder=0-1-2-3-4&hiddenGlobalTracks=1-2-3&localTrackOrderByPid=3164-1-2-0~12671-0~12665-0~12605-0~12558-0-1~&networkSearch=adnxs&range=5.7806_7.2783~5.8327_6.1186~5.8535_5.9234~5.8885_5.9013&thread=5&v=3).

The committed range is 13ms, but the first phase of the displayed marker

[2019-04-25 12:55] julienw commented on #970
I'm not sure what "heaviest stack trace" means.

I think this is a subset of https://github.com/firefox-devtools/profiler/issues/15, especially the first point of what Mike Conley described there.

I tried to implement this in https://github.com/firefox-devtools/profiler/pull/1538, except in this experiment I used the self time instead of the inclusive time to sort functions, but we want the inclu

[2019-04-25 14:37] julienw commented on #953
When we'll integrate the addon in Firefox, we can hook into https://searchfox.org/mozilla-central/source/browser/modules/FaviconLoader.jsm#497.

[2019-04-25 14:37] julienw commented on #961
We decided this doesn't sound so useful, so closing.

[2019-04-25 14:37] #961 closed

[2019-04-25 14:39] julienw opened #1977 "Replace our few sinon uses by the similar functions from Jest"
(splitted from #846)

We use `sinon` in `src/test/store/receive-profile.test.js` only at the moment. I used it over Jest because:

*    it allowed to easily stub `setTimeout` to ignore its `timeout` parameter. But actually Jest makes it even easier and more synchronous with its methods `jest.runAllTimers()` and `jest.runOnlyPendingTimers()`.
*    Sinon also made it easier to return a resolved valu

[2019-04-25 14:41] julienw commented on #846
There's pretty much a consensus on how to write tests and we should document basically what Greg wrote.
The part about Sinon is moved to #1977.

[2019-04-25 15:32] asutherland commented on #1957
I worry that the check-boxes aren't something most users will understand the full impact of, and that for expert users still amount to a "I know what I'm doing" checkbox that does nothing to eliminate the potential for confusion.

While it would mean making the dialog a full-page affair, it seems tractable to explain what the implications of the check-boxes are.  For example, the URL sanitizing lo

[2019-04-26 04:15] digitarald commented on #15
@mikeconley is that the _Heaviest Stack Trace_ sidebar from Instruments

![image](https://user-images.githubusercontent.com/8599/56783140-069e2800-679f-11e9-988e-d7de2e71258f.png)

If not, Instruments has also the _Top Functions_ view options for the call tree. It also sounds similar to your description, as _Top Functions_ is defined as

[2019-04-26 04:15] digitarald commented on #970
I continued some discussion in #15 to narrow down the initial feature request.

[2019-04-26 08:41] julienw commented on #15
See also [this butterfly view experiment](https://deploy-preview-1538--perf-html.netlify.com/public/1c77f550d099ab67995681cf835ae589dd88e714/functions/?globalTrackOrder=0-1-2-3&hiddenGlobalTracks=0-1-2&hiddenLocalTracksByPid=58998-0&localTrackOrderByPid=&thread=4&v=3) (where functions are ordered by self time instead of running time like it should)

[2019-04-26 08:43] #1971 closed

[2019-04-27 02:53] mstange commented on #1976
I ran into this today and it was very confusing.

[2019-04-27 02:53] mstange commented on #1972
This is really frustrating. I grabbed a profile, applied all kinds of range filters, and then saw no way to get a URL for a published profile with the same range filters.

[2019-04-29 03:57] jesup commented on #1633
I'm fine with a checkbox.  Right now, however, the only way to see the actual log messages is from the "Marker Chart" view, where you can hover to see them.  In the Marker Table, they show as Category "Unknown", and Description "Log Message", which is not very useful.  Even just fixing that would go a long way.

[2019-04-29 04:01] jesup opened #1980 "Ability to switch from a specific Marker in the Marker table to a view of the time region for the marker"
Once you select a marker in the Marker table (or in the Chart, for that matter), it should be possible to restrict the timeline view to that time period.  (best would be to set the selection in the timeline to the period of marker, and let the user hit "+" or adjust the time ranges before hitting +

Likely this is (mostly) a dup...

[2019-04-29 06:58] julienw commented on #1633
@jesup in the marker table, you can see the same tooltip information from the sidebar (there's a button at the right to open it).
That said, I think we display this information in the marker table now, see for example [this profile](https://profiler.firefox.com/public/edc09989620748c585ebcde4727c69c47abb872c/marker-table/?globalTrackOrder=0&hiddenLocalTracksByPid=35242-1-2-3&localTrackOrderByPid=3

[2019-04-29 07:00] julienw commented on #1980
Hey @jesup, from the marker table you can right click on a marker, and `Set selection from duration`.
From the marker chart, you can double click on the marker to do the same operation.

Is that good enough for you or do we miss something ?

The keyboard-based selection is another topic we'd like to eventually tackle but it's not really in our priority list at the moment.

[2019-04-29 15:34] #1941 closed

[2019-04-29 21:17] MaxBSilver commented on #1977
I would like to work on this issue. I've been experimenting with jest testing for the past month.

[2019-04-29 21:23] julienw commented on #1977
hey @MaxBSilver, sure, thanks for your help !

[2019-04-29 23:30] digitarald opened #1987 "Make the network resource queuing delay whiskers more subtle"
Follow up from https://github.com/firefox-devtools/profiler/pull/1929#issuecomment-485044719, cc @julienw

Rational:
- The whiskers are helpful indicators but should have less visual weight than the main request/response bar
- The design should be closer to waterfall charts provided by other tools

[2019-04-30 08:58] #1976 closed

[2019-05-02 16:40] #1887 closed

[2019-05-02 19:47] digitarald opened #1992 "Not including Hidden Threads also removes Screenshots"
STR:

- Record a profile with screenshots
- Publish a profile with only _Include hidden threads_ unchecked

Original profile with settings and after (with _Screenshots_ track missing)

<img width="1389" alt="image" src="https://user-images.githubusercontent.com/8599/57102424-50739a80-6cd8-11e9-851a-0515198c557f.png">

[2019-05-02 19:49] digitarald commented on #1992
@canaltinova I assume this part of the PII removal logic you authored?

[2019-05-02 19:58] gregtatum commented on #1992
That's probably because the Compositor thread gets removed. We should move those markers to a preserved thread.

[2019-05-03 08:21] julienw commented on #1992
That's also something we need to support screenshots in the compare interface. My planned approach was to merge the markers `CompositorScreenshot` into the imported thread, but here we may need something more... unless we decide that we keep the screenshots only when we keep the main process ?

[2019-05-03 09:48] canaltinova commented on #1992
@julienw I'm no sure what you mean by "imported thread". You mean like an additional thread like Greg or something else?

I'm also in favour of moving them out of compositor and putting them into a new thread.

[2019-05-03 13:25] julienw commented on #1992
The context I refer to here is the compare interface, where we import 2 threads from 2 different profiles in one view. That's what I meant by "imported thread" in this context :)

[2019-05-03 17:28] julienw commented on #1965
Note: I manage to capture such a profile when reloading cnn.com with cache disabled (forcing the fetch of the facebook sdk file).

[2019-05-03 19:43] digitarald commented on #976
Now that we have the meta data popover, we have a good place to show the warning with some details – but we'd need to agree on what the signals are to show a unoptimized-build warning.

[2019-05-06 15:00] ochameau opened #1995 "Profiles generated when running talos locally can't be uploaded."
STR:
* navigate to your favorite mozilla-central checkout
* Run a profiled talos test, like this one `./mach talos-test --activeTests damp --subtest simple.debugger --cycles 1 --tppagecycles 1 --geckoProfile`
* After the test is executed, a profiled is opened, using `from-url` URL like this one `https://profiler.firefox.com/from-url/http%3A%2F%2F127.0.0.1%3A50563%2Fprofile_damp.zip/calltree/?v=3`

[2019-05-06 20:38] gregtatum commented on #798
Seems like this defines the problem and a solution, but it's not broken out with more detailed work.

[2019-05-07 15:18] #1972 closed

[2019-05-07 15:29] gregtatum opened #1998 "Hide permalink and re-word "re-publish" when viewing a profile from a localhost URL"
This is a follow-up to: #1995

It's confusing that you can generate a permalink to a `localhost` URL, we shouldn't allow this.

[2019-05-07 15:37] gregtatum commented on #1957
I'm closing this PR, as it's a discussion issue, and I feel like we've come to a decision on the action items. #1978 has landed, which is most of the work, and there are follow-ups filed under the privacy category. Thanks everyone for your feedback, this was helpful. Feel free to re-file any issues where it's still confusing after more of the privacy features have landed, such as #1973, #1904, #19

[2019-05-07 15:37] #1957 closed

[2019-05-08 20:27] jesup commented on #1792
I haven't tried this, but it looks close.  regexps are a pain... so check it
    // Now try to find the tid within `beforeTimeStamp`, possibly with a pid/ in
    // front of it. Treat everything before that as the thread name.
    //                                  +- threadName
    //                                  |        +- pid/ (optional)
    //                                  |        |

[2019-05-08 20:32] julienw commented on #1792
as I said above, the main problem isn't the regexp, as this indeed easily fixable, but that the data itself isn't consistent with what the code expects to find the start of a sample.

[2019-05-08 23:22] jesup commented on #1792
Ok: replace tabs with spaces, and remove the [NNN] from each initial line of each sample, and https://profiler.firefox.com can read simpleperf profiles
https://perfht.ml/2VsbQsf
handling tabs and ignoring the [nnn]'s in the PidAndTidMatch should be easy.

[2019-05-09 06:30] squelart opened #2001 "Allow drag & drop of a profile into already-loaded profiler"
Currently it is only possible to drag&drop a profile file into the intro page of profiler.firefox.com.

Sometimes I find myself wanting to have a look at different profiles from my machine, and the only way is to go back to profiler.firefox.com and load/drag the profile there.

Dragging a profile file over an already-loaded profiler page does the standard Firefox action, which is showing the json

[2019-05-09 07:54] whimboo opened #2002 "Make it easier to find the wanted WebContent process in the show/hide panel"
Spun off from issue #1780 because the original request hasn't been fully implemented, and it is still hard to find the right process. So here what's still missing:

As of now when trying to find a hidden WebContent process of interest, I have to go through each of them and making it visible in the popup panel. Only then I can search for the wanted content process by inspecting the pids in the left

[2019-05-09 13:47] digitarald commented on #1099
Duping in favor of #1801

[2019-05-09 13:47] #1099 closed

[2019-05-09 13:54] acreskeyMoz commented on #1792
By the way, these are instructions and some scripts to make running simpleperf for geckoview_example easier:
https://github.com/acreskeyMoz/simpleperf_for_geckoview_example

Includes @jesup 's modifications to one of the simpleperf scripts so that the capture can be consumed by profiler.firefox.com

[2019-05-09 14:22] gregtatum commented on #1098
I feel that this issue is resolved now with lots of the changes that happened with the timeline changes of 2018.

[2019-05-09 14:22] #1098 closed

[2019-05-09 15:17] julienw commented on #976
Here is a profile captured in a debug build: https://perfht.ml/30akev6

[2019-05-09 15:20] julienw commented on #1792
Thanks @jesup and @acreskeyMoz, this is interesting! I think I can look into it soon with this new information.

[2019-05-09 15:39] julienw commented on #976
There's some consensus on the solution here: displaying a warning message similar to the "service worker changed" warning. @past wording sounds good: `This profile was recorded in a build without release optimizations. Performance obervations might not apply to the release population.`.
This warning can be closed, so we should add [a warning icon](https://design.firefox.com/icons/viewer/#warning)

[2019-05-09 15:45] julienw commented on #1015
We're still interested doing this, this is up for grabs :)

[2019-05-09 15:49] julienw commented on #1100
We discussed it today and didn't feel that it's useful to keep this issue open as it's not actionable per se. Giving useful information to our users is still a goal for us, but we should file issues about specific ideas or specific problems.

[2019-05-09 15:49] #1100 closed

[2019-05-09 17:14] sam-clulow commented on #1015
I'd be happy to give this a try if that's OK.

[2019-05-09 18:50] julienw commented on #1015
sure, thanks a lot @sam-clulow !

[2019-05-09 18:51] sam-clulow commented on #1015
ok I opened a PR #2004

[2019-05-09 22:29] squelart opened #2005 "Add docs for Gecko devs"
Devs don't necessarily know about thread registrations, how to add their own markers, etc. (Based on questions in Slack's#perf.)

We could have a page that lists what's possible, with at least a link to GeckoProfiler.h, and maybe some more useful information. (But we should probably avoid duplicating docs from our headers, so docs here don't get out of sync.)

There are already some docs at https:

[2019-05-10 11:41] canaltinova opened #2006 "Context menu is too wide when the lib URL is too long"
When we right click on a function in call tree that has a long library name, it doesn't cut off that name after some characters and just goes. That's why for longer URLs, it even goes outside of the screen. We should limit that width.

See the example below:
<img width="1448" alt="wide-context-menu" src="https://user-images.githubusercontent.com/466239/57524784-2d289b00-7329-11e9-8c08-c60fb960e544

[2019-05-10 13:18] canaltinova commented on #2006
Made this issue "help wanted", and up for grabs. Let us know if you want to work on this!

[2019-05-11 22:29] melvin2016 commented on #2006
I would like to work on this 😀

[2019-05-12 09:41] melvin2016 commented on #2006
Can i work on this?

[2019-05-12 19:36] julienw commented on #2006
@melvin2016 yes sure, I just assigned it to you!

[2019-05-13 13:56] julienw opened #2008 "The style of values in the time ruler aren't accessible for contrast"
STR:
1. open any profile (eg https://perfht.ml/2VoFbPj)
2. Look at the values in the time ruler:
![image](https://user-images.githubusercontent.com/454175/57626907-299a4b80-7597-11e9-83c1-b6f3a5031a45.png)

The contrast isn't high enough.

The color we use currently is defined in https://github.com/firefox-devtools/profiler/blob/2dda7322d1982584e227235a99ea5fffd9f2018f/src/components/timeline/Rule

[2019-05-13 16:23] julienw commented on #1792
@jesup do you have an idea of what the number between brackets is?

The line is:
[code]

[2019-05-13 17:28] melvin2016 commented on #2006
Just made a PR #2012 to limiting width.

[2019-05-13 17:38] melvin2016 commented on #2006
Doing this with css instead!

[2019-05-13 17:48] #1436 closed

[2019-05-13 18:39] melvin2016 commented on #2006
Made PR #2013 to limiting width using css.

[2019-05-13 19:41] melvin2016 commented on #2006
Made a PR #2014 to limit width using CSS.

[2019-05-14 12:18] #1965 closed

[2019-05-14 12:35] #1963 closed

[2019-05-14 12:44] #2008 closed

[2019-05-14 13:05] fqueze opened #2015 "Clicking "Load a profile from URL" should focus the URL box"
When I click the "Load a profile from URL" button, I then need to click the url textbox before I can press ctrl+v to paste the URL of the profile I want to load. This could be automatic.

[2019-05-14 13:16] julienw commented on #2015
Usually this is a bad idea to change the focus automatically; but in this case I think this is OK.

[2019-05-14 14:10] gregtatum commented on #1479
Also, we have the `uintArrayToString` which we can use for better compression of the arrays of indexes. We are already using this for CallNodePaths.

[2019-05-14 14:44] julienw commented on #1606
assigning to @kagehina919 again :)

[2019-05-14 18:33] melvin2016 commented on #2006
Made new PR #2017 using proposed changes by @julienw in closed PR #2014 .

[2019-05-15 09:03] julienw commented on #1677
See https://perfht.ml/2Hkl9lm: there are screenshots that take more than 16ms (eg: 800ms); that should make it easier to show in the screenshot track when we really have a new screenshot.

[2019-05-15 20:50] brisad commented on #1208
Hi, sorry for assigning me to this one and then disappearing for a month and half. But finally, here's a small fix that adds the context menu to the stack chart, just like for the flame graph. :-)

[2019-05-15 21:04] mstange opened #2019 "Allow computing "visual metrics" for recorded pageloads based on screenshots"
The performance team is currently creating infrastructure to obtain "visual metrics" in automation (Talos / raptor, browsertime) in order to evaluate and track page load performance. Visual metrics are ways of assigning a score to the performance of a page load by only looking at what's on the screen. Visual metrics do not take into account what's happening inside the browser, or what events fire

[2019-05-16 15:41] julienw opened #2020 "We still don't hande all preconnect cases properly"
In #1965 we fixed the case for preconnect.

But as we see in https://perfht.ml/30lCQZi there are some cases we still don't handle properly (hover the first request to see the tooltip). I believe this is when there's a preconnect, but that the request starts before the preconnect session. In the code we explicitely force a "one section" layout in this case, but the result isn't correct here obvious

[2019-05-16 16:32] julienw opened #2021 "We don't display the phases in the chart when missing some timings"
See this profile: https://perfht.ml/30oH2HW

The first requests don't have the timings   'requestStart',  'responseStart',  'responseEnd', and as a result we don't display properly the phases in the row. The existing code was made by assuming we always had these timings, and this is clearly a wrong assumption here. So we'll need to find a better algorithm that can also handle these cases.

[2019-05-16 16:55] #2006 closed

[2019-05-16 17:47] mstange commented on #2019
A conversation with Bas has revealed more design constraints:

 1. We'd like to be able to get visual metrics on profiles collected on any machine, without having to install anything extra on that machine.
 2. We need a solution that is maintainable as more types of metrics are added, or existing heuristics are updated.
 3. We want to support the same metrics as used in automation. Not necessarily

[2019-05-16 19:43] mstange opened #2022 "Add a way to display visual metrics results computed by browsertime"
This is an alternative proposal to #2019 and will give some of the benefits with a much smaller scope.

[Browsertime](https://github.com/mozilla/browsertime/) lets us run page load tests automatically. It also computes visual metrics for those page loads. And as of recently, it can also capture profiles for these page load runs.

It would be nice to embed the results of browsertime's visual metric

[2019-05-16 19:44] mstange commented on #2022
One way this data could be embedded into the profile would be using counters. I think this would let us reuse much of the work that was done for the memory track.

[2019-05-16 19:45] mstange commented on #2019
Due to the surprising expansion in scope of this project, we have decided to implement a different approach first: #2022

[2019-05-17 08:01] #1792 closed

[2019-05-17 08:10] #1055 closed

[2019-05-17 09:03] #1015 closed

[2019-05-17 12:37] jesup opened #2025 "Memory track no longer collected by default"
Something ended up turning off Memory tracks unless the Memory feature is enabled.  We should collect the information by default; we can have it be dependent on the Memory feature, but if so we should have that be checked by default (and disable RSS/USS collection probably, and update the text).

[2019-05-17 12:41] acreskeyMoz commented on #1792
:)

[2019-05-17 14:45] julienw commented on #1792
We'll likely deploy this next tuesday to production, but in the mean time you can try it from https://master--perf-html.netlify.com/.

[2019-05-20 07:11] #1208 closed

[2019-05-21 13:43] fqueze opened #2029 "Relative amounts of memory should be visible across memory tracks"
When looking at the memory tracks, I find it hard to guess which tracks are relevant because visually I don't have a notion of the relative amounts when comparing memory tracks.

example profile: https://perfht.ml/2WXeT8q

Could we make all the memory tracks of a profile share the same maximum, so that a process allocating 5MB has an almost flat memory track if other processes allocate hundreads o

[2019-05-22 09:12] julienw commented on #1257
I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1545069 recently about that. Then we'll need some code to handle it in the profiler frontend.

[2019-05-22 09:31] julienw commented on #1258
I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1546409 about the status code and https://bugzilla.mozilla.org/show_bug.cgi?id=1553421 about the HTTP operation.

[2019-05-22 09:42] julienw commented on #1346
From reading the previous discussion, I feel like we have an agreement.

To summarize, the work would be to put an overflow menu in a top right location, where some links would be: legal stuff, more general documentation, link to github's repository and `report an issue` page. I think it could replace our existing "docs" button.

The only thing I'm not sure of is which button we should use. Candid

[2019-05-22 14:00] digitarald commented on #1346
DevTools currently uses the meatball menu for most places.

Overflow makes sense as well, as it can eventually take (responsively) on other menu items that don't fit; but also show more menu items on wide screens.

[2019-05-22 14:30] julienw commented on #1346
"meatball menu" is the "more horizontal" if I follow properly, right ?

[2019-05-22 15:22] digitarald commented on #1346
@julienw yes!

[2019-05-22 21:44] smaug---- opened #2031 "Profiler doesn't create easy to use urls anymore"
The new Publish button doesn't create similar easy to share urls as what Share button used to.

[2019-05-22 22:34] alejandroclose commented on #1274
Hi @canaltinova @julienw ! I would like to help with this issue, can I try? :)

[2019-05-23 06:58] julienw commented on #1274
Hey @alejandroclose, yes sure, that would be lovely! Assigning to you then :)
You can find information to start with at the start of the thread, but please ask here or on slack if you need anything.

[2019-05-23 06:59] julienw commented on #2031
Thanks for filing @smaug----, indeed we'd like to fix this as well.
In the meantime you can find them back by opening the new URL in a tab, and here you'll be able to access the permalink.

[2019-05-23 14:00] gregtatum commented on #1276
We have a decision to move from the word "implementation" to "frame type"

[2019-05-23 14:20] jesup opened #2033 "simpleperf profiles don't show all samples in the track or Stack Chart"
I'm seeing a lot of oddities when I dig into simpleperf profiles: samples that show up in the call tree, but don't show up in the tracks.  For example, look at https://perfht.ml/2HQRY8q -- look at nsThread::ProcessNextEvent (72%, a bunch of samples show up above) and NotifyOffThreadScriptCompletedRunnable::Run() right under it (49%, it highlights no samples)

Looking at this, I see 2 samples in th

[2019-05-23 15:54] julienw commented on #1293
From today's discussion, we decided 2 things:
1. everytime we touch an existing component, or create a new component, we should document it better, as Greg outlined above (preamble + documenting OwnProps).
2. sometime later (in summer or september) we'll look at what components still miss this and we'll have an effort to systematically document them.

Closing this issue now as it doesn't bring any

[2019-05-23 15:54] #1293 closed

[2019-05-23 15:55] julienw commented on #1346
We have an agreement to use the meatball button to trigger a menu that would contain the legal stuff + links to github repository and "report an issue", but _not_ the link to Docs.

[2019-05-27 00:52] PaulBone opened #2034 "Phase times in GC Marker tooltips are missing info"
The phase times displayed in the GC markers assume that all the child-phases add up to the parent phase's time exactly, but this is not the case.  We should not filter out parents and instead display their time as a calculated self-time.

[2019-05-27 00:54] PaulBone commented on #2034
For example.

    mark: 5775
​​​​​    mark.mark_roots: 137
​​​​​    mark.mark_roots.mark_ccws: 100
​​​​​    mark.mark_roots.mark_embedding: 24
​​​​​    mark.mark_roots.mark_stack: 4

But in the tooltip only the uninteresting 0.1ms for CCW marking is shown, and shown as the 3rd lagest phase in this event.  Instead we should display marking, but not at 5.775ms, instead at 5775 - descendants.

[2019-05-27 08:38] julienw commented on #2034
hey @PaulBone, can you share the specific profile with the issue, possibly zoomed in enough that we can find the marker easily ?

[2019-05-27 08:44] julienw commented on #2034
Note that the whole algorithm has been done with the assumption that the parents have no actual value, so I think it will need to be quite adjusted...

This is the interesting code: https://github.com/firefox-devtools/profiler/blob/b3cdd5386f2bfa49ba8bdee72a51264588e4a60c/src/components/tooltip/Marker.js#L94-L187

[2019-05-28 05:48] PaulBone commented on #2034
Yes, I was mistaken when I wrote that code.

I think it works for any profile, but here's one I know works:
https://profiler.firefox.com/public/0dac14001170cff2aac136e6d85dc24232ad0854/marker-chart/?globalTrackOrder=0&localTrackOrderByPid=3609-0~&markerSearch=GCMajor&thread=0&v=3

I've selected one GCMajor marker and if you view it in the console you can see that the children of the mark phase don

[2019-05-29 20:14] digitarald opened #2038 "Allow further publishing on already upload profiles"
Steps to reproduce:
- Record a profile and select a time range
- _Publish_ this profile (close the new tab)
- In the original window, select a new time range
- _Publish_ this selection as well

Actual Results: _Publish_ shows the old URL
Expected Results: _Publish_ uploads a new version

The old flow allows slicing different aspects of a profile to document a profile investigation journey – extrac

[2019-05-30 14:05] alejandroclose commented on #1274
@julienw I'm sorry but I haven't been able to see this, and I believe I won't have time for the next weeks...  Maybe if it's still available I can retake it. Thank you for the opportunity and sorry again for any inconvenience.

[2019-05-31 00:59] bepvte opened #2042 "privacy.resistfingerprinting probably needs to be bypassed"
The addon is telling profiler.firefox.com that I am using firefox 69, when I am using nightly. This could pollute the data. I believe that having the addon send the real user agent with the profiling data would be a good solution.

Edit:
![image](https://user-images.githubusercontent.com/8226605/58674443-64460700-833f-11e9-9acd-c81e9e6a91f8.png)
It can still tell I am nightly, but not the correct

[2019-05-31 12:37] canaltinova commented on #2042
Thanks for filing the issue! I'm not sure if I understand the issue correctly. The current nightly is 69 right now, right? We include the version number also because usually nightly is not enough to determine the version itself since it can be the nightly from 6 months ago or yesterday. What is the expected behavior for you?

[2019-05-31 18:54] jimporter opened #2044 "Accept compressed profile data from the profiler add-on"
This is the profiler version of [bug 1551992](https://bugzilla.mozilla.org/show_bug.cgi?id=1551992) and firefox-devtools/Gecko-Profiler-Addon#165.

Profiles can get pretty big, especially with tracelogger data (which increases the profile's size by 8-10x); even short profiles with tracelogger on can be over 100 MB! To mitigate this, we'd like to add support for gzipping the profile data before sen

[2019-05-31 19:20] bepvte commented on #2042
Whoops, I got confused. Sorry about that, the current behavior works fine.

[2019-05-31 19:20] #2042 closed

[2019-06-02 16:03] melvin2016 commented on #1006
Close this.

[2019-06-03 12:18] julienw commented on #1006
Hey @melvin2016, thanks for your message, but this issue isn't fixed.
Indeed we have a lot of uses of `componentWillReceiveProps` that we need to replace. Some of these replacements aren't easy.

[2019-06-04 13:51] #546 closed

[2019-06-06 10:07] #1419 closed

[2019-06-06 10:10] julienw commented on #1486
I'm tentatively closing this now that we fixed the hang issue.
But please reopen if this is still needed.

[2019-06-06 10:10] #1486 closed

[2019-06-06 12:05] julienw commented on #1497
Ah, I implemented this when working on the network panel lately. Closing now :)

[2019-06-06 12:05] #1497 closed

[2019-06-10 14:22] gregtatum opened #2056 "Merge isUrlSetupDone and isHistoryReplaceState in UrlManager"
See https://github.com/firefox-devtools/profiler/pull/2039#discussion_r291675066

We should be able to use `isHistoryReplaceState` only here and simplify things.

[2019-06-10 14:51] gregtatum commented on #2038
Resolved with #2039

[2019-06-10 14:51] #2038 closed

[2019-06-10 14:51] gregtatum commented on #2031
Resolved with #2039

[2019-06-10 14:51] #2031 closed

[2019-06-10 14:53] gregtatum commented on #1973
Resolved with #2039

[2019-06-10 14:53] #1973 closed

[2019-06-10 14:54] gregtatum commented on #1966
Resolved with #2039.

[2019-06-10 14:54] #1966 closed

[2019-06-10 14:56] gregtatum commented on #1904
Resolved with #2039

[2019-06-10 14:56] #1904 closed

[2019-06-10 19:35] rugk opened #2058 "Publish on AMO"
Why is not this add-on published on AMO? That would (also) make installation easier…

[2019-06-10 20:57] gregtatum commented on #2058
We're in the process of merging the add-on into Firefox, so it's going away anyway. See https://bugzilla.mozilla.org/show_bug.cgi?id=1307227

I don't yet have a tracking bug for enabling it by default.

[2019-06-10 20:57] #2058 closed

[2019-06-11 12:30] #1543 closed

[2019-06-12 13:42] julienw opened #2064 "We can probably remove the state isContextMenuVisible"
Now that we have `rightClickedXXX` properties for both markers and call nodes, we could use these properties directly to decide if the tooltips need to be displayed, instead of keeping a state specially for this.

[2019-06-12 15:05] gregtatum opened #2066 "Photon button styling issues in the header"
<img width="160" alt="image" src="https://user-images.githubusercontent.com/1588648/59362716-8f463880-8cf9-11e9-9520-ffa02d25ebaf.png">

[2019-06-12 16:55] #2015 closed

[2019-06-12 18:13] daubaris commented on #2066
Possible duplicate of #1964.

[2019-06-13 06:01] gregchang commented on #1052
Hello, may I work on this issue?

[2019-06-13 08:20] julienw commented on #1052
hey @gregchang, yes sure ! assigning to you then :)

[2019-06-13 08:24] julienw commented on #1964
Actually this specific issue was fixed with the fix for #1963.
But see #2066 for more problems around this.

[2019-06-13 08:24] #1964 closed

[2019-06-13 08:25] julienw commented on #2066
Thanks @daubaris for pointing this issue, I just closed it as it's not the same issue and it was actually fixed in the past.

Here I think the problem is a stacking context issue. Maybe it can be fixed by using a z-index on `:focus` buttons.

[2019-06-13 12:45] julienw opened #2068 "collapsePlatformStackFrames isn't used anywhere anymore"
`collapsePlatformStackFrames` was previously used for the stack chart but isn't used anymore since #826. We should remove it.

(this is in `profile-data.js`)

[2019-06-13 13:23] julienw opened #2069 "Add tests for the subcategories work introduced in #2051"
#2051 landed without tests to check the functionality specific to subcategories. We should have some tests for this.
This will involve a way to generate fixtures with subcategories (maybe with category names `category/subcategory`).

[2019-06-13 14:00] julienw opened #2070 "Highlight stack selection in the timeline"
In this issue we want to change the activity graph depending on the selected stack. This is already done in the loupe view, but not in the timeline.

[2019-06-14 10:37] daubaris opened #2074 "Error displayed when navigating from profile view back to home view"
**Steps to reproduce:**

* Add the profile to the profiler.
* Go back one page.

**Result:**
![err](https://user-images.githubusercontent.com/16244425/59503593-73819480-8ea9-11e9-937e-2429156d87d5.png)

[2019-06-14 12:08] julienw commented on #2074
Thanks for the issue !
Actually we already have a bunch of such issues: #1789 #1736 #1653. We're not sure it's all the same root issue but this probably is. This is related to how we change the URL at load time, and how we change the state. I think greg had an idea about how to fix this.

Anyway I'm gonna close this bug because I think it's already tracked properly :)

[2019-06-14 12:08] #2074 closed

[2019-06-14 13:15] julienw commented on #2070
(actually, is that a dupe of https://github.com/firefox-devtools/profiler/issues/1619 ?)

[2019-06-14 13:19] julienw opened #2075 "Find a way to better integrate the stack height in the timeline"
Currently there are 2 ways to see the stack heights:
* in the loupe view (that's the view at the top of the call tree, in the bottom part) for the selected track
* in the timeline when the user selects the option "stack height" at the top left

Because we want to remove both the loupe view and the option, we need another way to display its information... or just get rid of it?

[2019-06-14 13:53] julienw opened #2076 "Change the implementation of the JS view to use `relevantForJs` frames"
In this issue we want to change how the javascript view works.
Currently when in the javascript view we remove all stacks that aren't javascript stacks.
But this isn't good enough for most users, who want to have a glimpse of what happens in the platform (eg: restyle / layout / etc).
So we want to keep the label frames that have the "relevantForJs" attribute.

cc @canaltinova

[2019-06-14 13:57] julienw opened #2077 "Implement a dark mode in the capturing UI"
To integrate better with the rest of devtools we should implement a dark mode that would go well with devtools' own dark theme.

[2019-06-14 14:08] julienw commented on #605
I'm gonna reopen this issue just for the sake of tracking this.
Maybe well have to discuss of the approach again.

[2019-06-14 14:54] #2068 closed

[2019-06-14 14:59] julienw commented on #1937
I believe this is a dupe to #1297.

[2019-06-14 14:59] #1937 closed

[2019-06-14 15:12] julienw opened #2079 "Cloud provider migration"
Our current state isn't really satisfying: we rely on a [appengine-deployed piece of server](https://github.com/jrmuizel/profile-store) that our team doesn't control directly; in the end it's uploaded to a free Google Storage instance that we don't control directly either.

We'd like to move to something more solid, that we (the team / Mozilla) control better. The exact solution isn't defined yet.

[2019-06-14 15:24] julienw opened #2080 "[meta] Be able to delete uploaded profile"
Currently when we share a profile it's shared forever. #1136 could change this but still it would be better to provide the functionality of deleting an uploaded profile as well.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FP-160)

[2019-06-14 16:04] julienw commented on #878
I think we have this now.

[2019-06-14 16:04] #878 closed

[2019-06-14 16:07] julienw commented on #690
We're in the process of changing how the JS view behaves in https://github.com/firefox-devtools/profiler/pull/2000. Maybe that would remove your need of predefined transforms by providing you the right information right away :)

[2019-06-14 16:10] #1448 closed

[2019-06-14 16:15] julienw opened #2081 "Provide a way to open the profiler UI in "devtools mode""
Currently the profiler always opens in the same view: "combined" view, tracks computed from an heuristic finding non-idle threads, no transform, etc.

We should have a way to more easily trigger a "devtools" mode that's more suited to web and JS devs. But maybe that's already possible with the right set of GET parameters.

[2019-06-14 16:16] #2044 closed

[2019-06-14 16:18] julienw commented on #1726
I'm gonna close this tracking issue in favor of the [newly created milestones](https://github.com/firefox-devtools/profiler/milestones) and the [label "unified profiler"](https://github.com/firefox-devtools/profiler/labels/unified%20profiler). Let's see how this goes.

[2019-06-14 16:18] #1726 closed

[2019-06-15 12:09] #1052 closed

[2019-06-17 22:22] brisad commented on #2033
I think this problem is caused by the fact that the sample times aren't properly sorted in the profile.

If we run this line in the console for the first linked profile, we see that there are two jumps back in time in the array:
[code]
The code expects them to be sorted, and indeed the Stack Chart does not render properly.
![Screenshot_2019-06-18 Firefox - 1 1 1970, 2 23 54 AM UTC (public) - Firef

[2019-06-17 22:28] digitarald opened #2082 "Migrate cloud storage to Mozilla-maintained infrastructure"
Details TBD

[2019-06-17 22:30] digitarald commented on #2082
Tracked in #2079

[2019-06-17 22:30] #2082 closed

[2019-06-18 18:44] julienw opened #2083 "Localize the capturing UI"
[Bug 1599774](https://bugzilla.mozilla.org/show_bug.cgi?id=1599774)
(This is here for tracking purpose but should probably live in bugzilla.)

We need to localize the capturing UI(s): both the popup from the button and the devtools' interface.

[2019-06-18 18:51] julienw opened #2084 "Support RTL"
We need to support right-to-left languages to be truly internationalized.

[2019-06-18 19:24] brisad commented on #2064
I made a PR that makes all panes use `rightClickedXXX` to determine whether tooltips should show or not. However `CallNodeContextMenu.js` itself uses `isContextMenuVisible` to determine whether it should render itself completely or not.

Not sure what we should do about that one.

[2019-06-18 19:39] jorendorff opened #2086 "On load, scroll the top pane so that the selected thread is in view"
Sometimes when someone sends me a profiler link, I get confused because the top pane doesn't show the interesting threads. It's a pain especially on Mac, which doesn't show a scrollbar unless I actually scroll down.

[2019-06-18 19:58] brisad commented on #1947
Sometimes it might not fail but be wrong nonetheless, like having samples with aren't properly sorted, as with #2033. So I think we shouldn't wait for failure before we run (at least some of the) checks. If the checks finds errors and invariant violations, it can raise awareness directly.

[2019-06-19 08:02] brisad commented on #2064
Oh, I realized we can probably just make that state local to the component. I'll try it out and see if it works.

[2019-06-19 10:36] brisad commented on #2064
Local state almost worked, but some tests were failing. Not sure why but I'm guessing it was related to `setTimeout()` in `_onShow/_onHide`.

But turned out I didn't need that after all. I was able to clean up some things in `CallNodeContextMenu.js` so that we still can get rid of `isContextMenuVisible` :) I've updated the PR which should resolve this issue.

[2019-06-19 15:18] brisad commented on #1948
@gregtatum What do you think about this [deploy preview](https://deploy-preview-2087--perf-html.netlify.com/public/e0268fb52544e210e8cbe4de80623a0a809ab08c/calltree/?globalTrackOrder=0-1-2-3-4&hiddenGlobalTracks=3-4-1&hiddenLocalTracksByPid=22571-0-1~22689-0-2&localTrackOrderByPid=22571-0-1-2-3~22689-0-1-2~22709-0-1-2~22789-0-1-2~&thread=6&v=3), where unhiding a local track will also unhide its gl

[2019-06-19 18:14] canaltinova opened #2088 "Radio buttons for callstacks(implementation filters) look like they are grayed out and disabled"
This came out during the profiling workshop with devtools team. It looks like our radio buttons are misleading and seem like they are grayed out and disabled. We should find a better styling for them to display.

[2019-06-19 18:34] julienw commented on #2088
Actually I have this PR #2063 that changes them a bit. Let's see if this is better :)

Basically we try to stick with photon styling here. The aforementioned PR is fixing a small error when we tried to apply photon initially.

[2019-06-20 02:53] julienw commented on #2086
Thanks for filing, this is indeed something that bothered me recently but didn't file the bug.

[2019-06-20 02:56] julienw commented on #2033
Greg landed such a sort in https://github.com/firefox-devtools/profiler/pull/2040, so maybe this is fixed now ?

[2019-06-20 15:05] julienw commented on #2033
I'm gonna close this tentatively then. @jesup please reopen if you see it again.

[2019-06-20 15:05] #2033 closed

[2019-06-20 17:58] julienw opened #2091 "Keyboard parity with chrome"
We should mimic chrome's keyboard shortcuts.

[2019-06-20 18:02] julienw commented on #1618
duping to #1676

[2019-06-20 18:27] julienw opened #2092 "Screenshot only the content window"
Currently we screenshot the full window which means that whenever something changes in the chrome, we do a new screenshot. This isn't useful for the average web developer so we should be able to only target the content window instead, at least in "webdev mode".

This will need gecko changes probably.

[2019-06-20 23:22] julienw opened #2094 "Show line numbers in the flamegraph"
We don't display line numbers in the flame graph, we should.

[2019-06-20 23:40] digitarald opened #2095 "Keyboard shortcut to jump to next/previous sample"
With timeline focused on a sample, I want to navigate left and right in the samples to step through execution.

Other thoughts: Stack chart would work if the full stack is easier to see. Maybe a shortcut to jump to the next leaf node would work as well.

[2019-06-21 18:10] julienw opened #2097 "Implement a dark mode in the profiler UI"
In this bug we want to focus on implementing a dark mode for the UI.

[2019-06-21 20:53] julienw commented on #2095
Currently in the timeline we're not focused on 1 specific sample, rather we're focused on a call node and show all samples that are related to that call node. So we'd need to think this through a bit more, especially precising what the use case is.

[2019-06-21 21:00] julienw commented on #1501
From a discussion with the necko team, the load IDs aren't always sequential, especially when redirections are involved. That's why I think we shouldn't expose them to the user after all, at all.

So I'm closing this issue now, and will file other issues (on github and bugzilla) so that we can remove them from the marker's name.

[2019-06-21 21:00] #1501 closed

[2019-06-21 21:01] julienw commented on #1262
I think this has been fixed in the recent work on the network panel.

[2019-06-21 21:01] #1262 closed

[2019-06-21 21:11] julienw opened #2098 "[Network markers] we should merge network markers using the ID instead of the name"
Currently we do merge network markers using their name. Their name is a concatenation of a part of the id and the url.
The main issue is that it's not garanteed to be unique.

Let me explain a bit more:
The `id` is a concatenation of the process id that created it, and an incremented value. [This is the gecko code responsible for this](https://searchfox.org/mozilla-central/rev/c0ca77697c6868482f30

[2019-06-21 21:13] julienw commented on #2098
[Here is a profile with some network markers](https://profiler.firefox.com/public/c71ad00c04ec5e2c4eb347896157f6528d0f6fa7/network-chart/?globalTrackOrder=0-1-2-3-4&hiddenGlobalTracks=1-2-3&localTrackOrderByPid=8848-1-2-0~8891-0~8935-0~8984-0-1~&thread=0&v=3)

[2019-06-21 21:50] julienw opened #2099 "Allowlist markers for webdev mode"
We want to show only relevant markers for webdevs.

[2019-06-21 22:27] julienw commented on #2079
Other things to move:
* netlify for the production app
* bitly for shortened urls

[2019-06-22 17:01] smaug---- opened #2100 "Make it easy to select top level page load from profiler UI"
Currently there is a black bar for page load, but that is often covered by other markers.
Either there should be another bar, or way to hide other black markers.

[2019-06-22 17:02] smaug---- commented on #2100
oh, perhaps this should have been filed in https://github.com/firefox-devtools/Gecko-Profiler-Addon ?

[2019-06-25 09:56] julienw commented on #2100
Thanks for filing !

We also have some vertical bars showing up in the Network track; maybe there could be more useful for your use case.
Do you have a profile link so that we can look at it more precisely ?

[2019-06-25 13:24] smaug---- commented on #2100
https://perfht.ml/2ZJAZfH

In that case the black bar is somewhat usable, since it isn't immediately covered by other markers. But often that isn't the case.

[2019-06-25 13:27] smaug---- commented on #2100
It is weird that there is a separate line for GC and separate line for GC/CC slices.

[2019-06-25 15:07] julienw commented on #2100
There are a lot of long markers in this profile indeed...
Have you tried showing the "network" track ? do the vertical indicators work for you ?

[2019-06-25 15:09] smaug---- commented on #2100
They don't work. There isn't simple "select top level page load" there.

[2019-06-26 09:56] julienw commented on #2100
I realize that you're interested in the marker called `DocumentLoad`. Maybe it's easier to reach it from the "marker chart" panel. In this panel, double clicking on the marker will define the selection from this marker.
This is a few clicks more, but might be easier to use than a crowded timeline.

[2019-06-26 12:02] smaug---- commented on #2100
Aha, that works, thanks

[2019-06-26 12:57] julienw commented on #2100
@smaug---- does that mean this issue can be closed, or you'd still like an easier path?

[2019-06-26 13:55] fqueze opened #2103 "The track selection context menu needs a "Show all" item"
The default track selection is at this point usually correct when the profile is used to look for performance issues, but if the profile is looked at for something else (eg. try to see if a marker in a content process aligns with jank on the parent process), unhiding all the content process tracks one by one is tedious. I think we should add a quick way to do this.

Example profile with plenty of

[2019-06-26 17:30] gregtatum opened #2105 "Call tree's procureInterestingInitialSelection should ignore idle categories"
The method in the call tree `procureInterestingInitialSelection` attempts to open the call tree to an interesting place. This means that oftentimes an idle call node is picked. We should ignore idle nodes, as they are boring. See [this profiler](https://profiler.firefox.com/public/a2132f475f0dcbb12d94338ed1433c7681509a82/calltree/?globalTrackOrder=9-0-1-2-3-4-5-6-7-8&hiddenGlobalTracks=2-3-5-6-7&l

[2019-06-26 20:50] gregtatum commented on #2091
With the caveat of where it makes sense. I'd like to push back a bit on the mousewheel behavior parity, other than that I'm fine.

[2019-06-26 20:50] gregtatum commented on #2086
This has been bugging me a lot recently, especially since we have so many tracks nowadays.

[2019-06-26 20:51] gregtatum commented on #2088
I find this very surprising and would like to find out more.

[2019-06-26 20:52] gregtatum commented on #1948
@brisad Oh, that's nice!

[2019-06-26 20:54] gregtatum commented on #1947
Ah yeah, I think we should at least handle the `e.meta` error as it's so common.

[2019-06-26 20:56] gregtatum commented on #2029
Seems good to me. I believe we already compute this value, but just don't merge it globally across all tracks.

[2019-06-26 21:00] gregtatum commented on #2075
I want to add the option that we just keep the stack height toggle. It's useful to see both, but they show different information on the same dataset.

[2019-06-26 21:03] gregtatum commented on #690
I got this request again from @fitzgen at the All Hands, who wanted it for things that #2000 would not cover.

[2019-06-27 09:23] julienw commented on #2105
A very quick fix would be to just expand and not select, I mean removing this line: https://github.com/firefox-devtools/profiler/blob/master/src/components/calltree/CallTree.js#L167

[2019-06-27 09:24] julienw commented on #2088
PR https://github.com/firefox-devtools/profiler/pull/2106 landed with the aforementioned changes. I think it's now much more difficult to think they're grayed out.
Ideally we now should ask feedback from the devtools member who thought this. Do you recall who that was @canaltinova ?

[2019-06-27 09:31] #2070 closed

[2019-06-27 12:02] canaltinova commented on #2088
Thanks for working on it Julien. I believe it was @loganfsmyth.

hey @loganfsmyth, I remember us talking about this checkbox problem during the workshop. Would you mind taking a look at the new radio buttons and telling us if you think it's fixed or what we should do to make it more explicit? Currently the PR is merged but we haven't deployed yet. You can use https://deploy-preview-2106--perf-html

[2019-06-27 16:08] smaug---- commented on #2100
Having one of the most important markers easily selectable in the timeline would be nice.
(like, it is unclear why we spend so much space for GC markers, but not for page load)

[2019-06-27 16:19] julienw commented on #2100
I see, thanks for the useful feedback!

[2019-06-27 17:09] canaltinova opened #2108 "Check if there is another marker that use the backtrace in the invalidated place"
Before #2101 we were printing `First invalidated ..ms before...` text for every tracing markers that have cause field in marker tooltip.  That's was wrong since it was also printing this text for non-styling markers. After that PR, I added this text to only `Styles` and `Reflow` markers but we still need to check and see if they are really only markers that have backtraces from the invalidated pla

[2019-06-27 17:09] #2064 closed

[2019-06-27 17:14] #1743 closed

[2019-06-27 17:14] #1210 closed

[2019-06-28 09:07] canaltinova opened #2109 "Reduce the multiple dispatches in profile load actions"
After #2000, we added some dispatches and some of them are added consecutively to the code base. (e.g. inside `setupInitialUrlState` there are 3 dispatches happening at the same time.)

That is usually an anti-pattern and we should avoid dispatching multiple dispatches happening at the same time. After talking to Greg, we have some idea how to reduce those but decided to do that as a follow-up.

[2019-06-28 12:35] #2105 closed

[2019-06-28 21:33] mstange opened #2110 "Local build symbolication is broken on master"
Steps to reproduce:
 1. Update your local profiler clone to master, and start an instance.
 2. In a local Firefox build, tell Firefox or the Gecko Profiler add-on to use your local profiler instance.
 3. Clear IndexedDB storage on your local profiler instance in your local Firefox build.
 4. Capture a profile.

The profile doesn't symbolicate XUL symbols.

What seems to be happening is that `final

[2019-06-29 11:56] julienw commented on #2110
Thanks Markus; I've seen this but then couldn't reproduce when trying again. I feel like there's a race.
Indeed sometimes we call without `geckoProfiler` but it's supposed to happen only when we don't need the addon. In `getProfileFromAddon` we always pass the geckoProfiler object for example...

[2019-06-29 11:59] julienw commented on #2110
Also from your comment I assume you don't see this in production but is 100% reproducible in master ? I was seeing it sometimes in production too, were you?

[2019-06-30 21:40] canaltinova commented on #2110
Yeah, it's because of the `relevantForJS` PR, sorry about that. We are not calling the `finalizeProfileView` with a geckoProfile parameter inside `setupInitialUrlState` function. That's why it's not doing any symbolication. I have a fix for that and publish the PR tomorrow.

We are calling `getProfileFromAddon` with `geckoProfiler` passed but unfortunately it's not calling the `finalizeProfileView

[2019-07-01 07:19] julienw commented on #2110
So this means you won't pass "false" in https://github.com/firefox-devtools/profiler/blob/c259fb9a88d13d4df908f39c550c27e11f3bef92/src/actions/receive-profile.js#L1014-L1016 ?
Or rather completely get rid of the `initialLoad` argument for the path of receiving from addon? Indeed the URL upgrading shouldn't happen for this path :)

[2019-07-01 11:12] canaltinova commented on #2110
Yes, `initialLoad` shouldn't be there for `retrieveProfileFromAddon` at all since we don't need to handle url processing for profiles from addons.

[2019-07-02 09:08] #2110 closed

[2019-07-02 12:46] canaltinova opened #2115 "Add some tests for initial url/profile loading process"
We have some tests for url handling and upgrading but apparently it's not enough and we should add more specifically for `UrlManager` parts. That's why #2114 happened. It shouldn't happen again.

[2019-07-02 19:18] mstange commented on #2110
Thanks for fixing this so quickly!

[2019-07-02 19:44] mstange opened #2118 "Add tests for subcategories"
All the example profiles in our tests only have a single subcategory ("Other") per category. This means that some of the subcategory code is not really exercised during tests.

We should have a few tests that are run on profiles with multiple subcategories.

[2019-07-02 19:46] mstange opened #2119 "Ensure during profile processing that every category has at least one subcategory"
In `profile.meta.categories`, our format expects there to be at least one subcategory for every category, that first subcategory being "Other".

However, at the moment we do not really have a guarantee that this is the case. It would be good to get such a guarantee during profile processing; either by throwing an error if the subcategory is missing or by adding it.

[2019-07-03 15:13] julienw commented on #100
From what I understand, I think frame labels have `null` as `resource` information.

[2019-07-03 15:48] julienw commented on #2025
Fixed in https://bugzilla.mozilla.org/show_bug.cgi?id=1561881
Thanks for reporting!

[2019-07-03 15:48] #2025 closed

[2019-07-03 15:57] canaltinova commented on #1977
Removing the assigned label due to inactivity. Let us know if you still want to work on it @MaxBSilver! :)

[2019-07-03 16:05] padenot opened #2120 "Display PIDs in the track visibility dropdown"
It would be very useful to have the PID in the drop-down. When investigating content process profiles, it's a bit cumbersome to have to select all content processes, and then find the right lane, and then hide the processes I don't care about.

![Screenshot_2019-07-03 Firefox 69 0 - Linux x86_64 - 7 3 2019, 2 33 10 PM UTC - Firefox profiler](https://user-images.githubusercontent.com/270485/6060704

[2019-07-03 16:06] MaxBSilver commented on #1977
Sorry! Got busy! I’ll make some progress on it this week.

[2019-07-03 16:09] canaltinova commented on #2076
Oh, forgot to close this. Resolved by #2000

[2019-07-03 16:09] #2076 closed

[2019-07-03 17:38] jrmuizel opened #2121 "Support showing inline frames in profiles"
Today when a function is inlined we lose its context from profiles. This can make interpreting profiles difficult because often small hot functions are inlined into a large big function that ends up taking a substantial amount of time. The current profiler doesn't provide anyway to dig into where in a particular function time is being spent. Adding inline frames would go a long way to resolving th

[2019-07-03 18:18] rbrishabh commented on #1274
I would like to take up this issue as my first contribution! Can I take this up?

[2019-07-03 18:36] mstange commented on #2121
I agree that this is an important feature for C++ and rust profiling. We currently expose no information about *what part* of a function took up time - all the time in a function is assigned to the call node for the function. So whenever the compiler inlines a function call away, we completely lose information about the fact that it was that call that took up time; we only see the time in the pare

[2019-07-03 18:58] mstange opened #2122 "Need a category view for the entire range, not just for the selected node"
Usually, when I'm looking for category percentage information, I want to know the percentages of the entire runtime for the selected thread. So at the moment, my interaction with the UI usually goes like this:

 1. Select the thread I'm interested in.
 2. Open the sidebar.
 3. Sigh.
 4. Scroll up in the call tree and click the root node.

I think the fact that the sidebar shows information for the

[2019-07-03 20:17] mstange opened #2123 "Ability to filter by category / subcategory"
This issue is the modern successor of #102.

The categories in the sidebar give a good overview of what's going on in a profile, but they don't allow you to drill down. I'm missing the following functionality:

 - The ability to filter samples to only show samples of a selected category.
 - The same for a subcategory.
 - The inverse: the ability to *hide* any samples from a given category, for exa

[2019-07-03 20:40] mstange commented on #2123
Here's a mockup of what such a filter could look like if we put it into a dropdown panel next to the other filters:

![category-filter-dropdown-mockup](https://user-images.githubusercontent.com/961291/60623437-a7691f00-9db0-11e9-8a65-d783ecdaa6c9.png)

This would let you check and uncheck categories and subcategories using checkboxes. If a category's subcategories are only partially checked, that

[2019-07-03 20:41] mstange commented on #102
I'm closing this issue in favor of #2123.

[2019-07-03 20:41] #102 closed

[2019-07-04 07:12] whimboo opened #2124 "Loading from URL doesn't work anymore"
Since recently it is not possible anymore to open zipped profiles. Take those profiles as produced by Raptor harness as example:

https://treeherder.mozilla.org/#/jobs?repo=mozilla-central&searchStr=raptor%2Cprof&selectedJob=254708761

The failure as visible on the site is:

The zip file is valid, so not sure what's going on. Also there is nothing visible in the devtools console even as mentioned

[2019-07-04 07:15] whimboo commented on #2124
Actually opening the console panel before clicking onto the profile helps:

[code]

[2019-07-04 08:12] julienw commented on #2124
Indeed I believe this is a regression from our recent work https://github.com/firefox-devtools/profiler/pull/2000/commits, we had more problems related to this already :-(

We'll be looking at it super shortly. In the mean time, you can download the file and then load it from the home page https://profiler.profiler.com, I just checked that this work.

[2019-07-04 08:14] julienw commented on #2124
Here is a direct URL exhibiting the problem: https://profiler.firefox.com/from-url/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FABVLJCFdTtWzxgbhG0VQhg%2Fruns%2F0%2Fartifacts%2Fpublic%2Ftest_info%2Fprofile_raptor-tp6-tumblr-firefox.zip

[2019-07-04 08:29] julienw commented on #2124
Update: I have a patch.

[2019-07-04 10:34] canaltinova commented on #1274
@rbrishabh Sure, assigning it to you. Let us know if you need anything!

[2019-07-04 11:52] #2124 closed

[2019-07-04 16:07] julienw commented on #2122
We could have a button (or a link) that would read "complete timings" when in "selected" mode, and "timings for the selected mode" when in "complete" mode.

Also this could be useful for the views where there's several roots, as there's no way to get the timings across these roots.

[2019-07-04 16:10] julienw commented on #100
We already have a "dim" feature, that's currently visible in the JS view only:
https://github.com/firefox-devtools/profiler/blob/e6c67bbaa31771165ee066795e486758d938e50d/src/profile-logic/call-tree.js#L238

[2019-07-04 23:03] mstange opened #2130 "Loading screen stays around for too long - is it waiting for symbolication?"
I've been noticing longer loading screen times recently. It seems to me that the loading screen is now waiting for symbolication to complete, before it goes away? That would be a big regression.

In fact, the symbolication status panel never shows up for me these days. Whenever the loading screen goes away, the profile is already symbolicated.

I've captured this in a profile: https://perfht.ml/2J

[2019-07-05 03:00] mstange opened #2131 "CSS linting moves "all: unset" down incorrectly"
The stylesheet `sidebar.css` contains a `width: 100%` declaration and an `all: unset` declaration:

https://github.com/firefox-devtools/profiler/blob/e6c67bbaa31771165ee066795e486758d938e50d/src/components/sidebar/sidebar.css#L42-L46

There's a bug here: the width declaration has no effect because it's being reverted by `all: unset`. But if you fix the bug by moving `all: unset` before `width: 100

[2019-07-05 09:18] julienw commented on #2131
I think this comes from our idiomatic-order plugin. I can make a quick PR there and then we can update it.

[2019-07-05 09:55] julienw commented on #2130
I can confirm this but this seems super recent -- maybe a fallout of the revelevantForJS work?

[2019-07-05 19:53] ruchikabgosain commented on #2097
Hello @julienw i would like to suggest some UI examples. Is this still available?

[2019-07-05 19:54] ruchikabgosain commented on #2005
Hello @squelart i would like to take this up. Is this issue still available?

[2019-07-06 11:02] ruchikabgosain commented on #2122
Hey @mstange @julienw maybe we can go forward with some icons like these. Also, hover animation may provide information about what that button will do.
![noun_eye closed_655328](https://user-images.githubusercontent.com/30324532/60755318-a5e76300-a00b-11e9-860c-ed533e29ee76.png)
![noun_turn down_1136529](https://user-images.githubusercontent.com/30324532/60755320-a7b12680-a00b-11e9-863a-2138a94eae

[2019-07-07 11:05] brisad opened #2133 "Make the selected box in the Flame Graph and the Stack Chart more visible"
Follow-up from the second point in https://github.com/firefox-devtools/profiler/pull/1711#issuecomment-461116943.

The styling of the currently selected box in the Flame Graph and the Stack Chart could be improved to make it more visible. Instead of only having a highlighted color, a thicker border would for instance make the box stand out more.

[2019-07-08 07:34] julienw commented on #1447
I removed the "assigned" label because of the inactivity, but please let us know if you want to work on this more. Thanks!

[2019-07-08 07:34] julienw commented on #1390
I removed the "assigned" label because of the inactivity, but please let us know if you want to work on this more. Thanks!

[2019-07-08 07:35] julienw commented on #1274
hey @rbrishabh, could you have a look at the issue yet? Do you need anything? Thanks!

[2019-07-08 07:36] julienw commented on #332
This has been fixed in #1988. Thanks for your work!

[2019-07-08 07:36] #332 closed

[2019-07-08 07:37] julienw commented on #2097
Hey @ruchikabgosain, thanks for your message! As a new contributor, i'd suggest that you look at our [good first issues](https://github.com/firefox-devtools/profiler/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22+-label%3Aassigned) to start with :) Also look at our [contributing page](https://github.com/firefox-devtools/profiler/blob/master/CONTRIBUTING.md) to know mor

[2019-07-08 07:39] julienw commented on #2005
Hey @ruchikabgosain, this needs some knowledge about the internal workings of Firefox, so this is likely not a good fit for new contributors. But I pointed you to some other bugs in another comment where I'm sure you'll find a pick :-)

[2019-07-08 07:43] julienw commented on #2122
hey @ruchikabgosain, thanks for your message!
In Firefox-related products we try to work with [icons from our design systems](https://design.firefox.com/icons/viewer/).
In our case it's not obvious which icon we could use, I think we'll need to ask some guidance from Firefox UX/Design team.

[2019-07-08 08:03] #1738 closed

[2019-07-08 09:22] ruchikabgosain commented on #2122
Sure @julienw, i picked up these icons from the Photon Icons for Mozilla.

![Identity Icon Hover](https://user-images.githubusercontent.com/30324532/60798545-fa671b80-a18e-11e9-84b4-6c0c8ee0bf36.png)
![More horizontal](https://user-images.githubusercontent.com/30324532/60798546-fa671b80-a18e-11e9-9433-4f79bc8265f8.png)
![Sub Item](https://user-images.githubusercontent.com/30324532/60798548-faffb20

[2019-07-08 13:32] canaltinova opened #2134 "Remove more information while publishing without the "full time range""
Currently during sanitization, if we choose to remove the hidden time range we do:
- Remove the marker data outside of the range.
- Remove the samples taht outside of the range.

We **do not**:
- Remove all the entries of stackTable, frameTable, funcTable for those removed samples that are outside of the range.
- Remove the counters outside of the range.

For PII view point, they are not a PII lea

[2019-07-08 19:17] #2130 closed

[2019-07-08 20:24] #1948 closed

[2019-07-09 17:45] rbrishabh commented on #1274
Yes. I read through everything you posted. I just had some trouble with my machine which is fixed now. I will work on this right now and I'll you if I get stuck. Thanks!

[2019-07-09 18:37] gregtatum opened #2139 "Use bisect in getSampleIndexRangeForSelection"
I found this TODO from ages ago, we should probably fix it. I'm setting this as a good first issue.

https://github.com/firefox-devtools/profiler/blob/cb7985569c4bf12f5fead07c6b46d31593a9f0b1/src/profile-logic/profile-data.js#L889-L890

See the use of "bisection" in other places in our codebase.

For example:

https://github.com/firefox-devtools/profiler/blob/7be9ad9cceaf2431fb2c3364f550e7b0c0044f

[2019-07-09 22:29] biancadanforth opened #2140 "Describe the publishing options in the docs"
I noticed some helpful information around publishing a profile is absent in the [docs](https://profiler.firefox.com/docs/#/./guide-ui-tour?id=sharing-profiles) (UI Tour > Sharing Profiles section) that was mentioned to me during the All Hands workshop a few weeks back -- namely that some of what is shared by default in Nightly could contain PII or other sensitive information related to the current

[2019-07-09 22:55] lucaskeiler commented on #2139
@gregtatum , I would like to work on this. Is this issue available?

[2019-07-10 09:48] julienw commented on #2139
When I started doing it, here is the implementation I came with:
[code]

But I had an interrogation around `sampleEnd`. Let me explain:
1. we want `sampleEnd` to be exclusive. This means that if sample `X` has time `5`, and `rangeEnd` is `5`, we don't want that sample in the range, so we want that `sampleEnd` is `X`'s sampleIndex (because it's exclusive as well).
2. but if sample `X` has time `4.9

[2019-07-10 10:01] julienw commented on #2140
Thanks for the suggestion! We're not super happy with the current UI. Greg tried various prototypes to make it a bit more obvious what all the checkboxes do, but we haven't moved that forward more for now.

[2019-07-10 14:54] #2131 closed

[2019-07-10 15:09] lucaskeiler commented on #2139
Hi, @julienw ,

I believe there is a problem with bisection.left code. I checked it with python's bisect_left and there seems to be an error with the conditional statement:

Python Bisect Left:
[code]
bisection.left
[code]
After fixing that, i added your code and made some tests. It seems to work fine.

The only issue is with 'yarn flow' that points to an Error:

`Property lenght is missing in Cou

[2019-07-10 15:27] julienw opened #2142 "Some old profiles trigger a crash"
For example:
* https://profiler.firefox.com/public/d83c1d4bc152257ad9da9b774e59bc6ea49ee225/calltree/?globalTrackOrder=0-1-2-3&hiddenGlobalTracks=1-2&invertCallstack&localTrackOrderByPid=2399-1-0~2422-0~&range=4.9060_11.1083&thread=0&v=4
* https://profiler.firefox.com/public/42b39ea3f82cb8cba896324b8bc9854dfddde598/marker-chart/?globalTrackOrder=0-1-2-3&hiddenGlobalTracks=1-2&localTrackOrderByPid=

[2019-07-10 15:29] julienw commented on #2142
ah, I think I know: I think they are some profiles I took with a WIP patch, that generated a profile at the version 23. But the subcategory upgrade used also the version 23 (it landed before). So I think these are red herrings.

[2019-07-10 15:29] #2142 closed

[2019-07-10 16:40] julienw commented on #2139
Woow what is that :)
Indeed there's even an opened PR on the library => https://github.com/3rd-Eden/node-bisection/pull/6/files
opened in 2015 and never merged...

Maybe we shouldn't use a library that's broken for 6 years and mostly unmaintained and we should just import the code in our codebase, along with its MIT license of course.

Check the orthograph ;) you wrote `lenght` but the word is `le

[2019-07-10 18:03] lucaskeiler commented on #2139
Oops! My Bad. I think i ended up forgetting some debug code with orthographic issues. Sorry!

Should i do that? And if so, where should i put it?

Thank you for your patience!

[2019-07-10 20:03] mstange opened #2144 "Add small activity graphs to the dropdown that lists all threads"
Sometimes I have the question "Which threads are doing work, and when?"
If some tracks are hidden, either because they were hidden automatically or because I hid them myself, it becomes a bit cumbersome to get that information: I have to make the threads visible, then look at them in the track list, and then hide them again if they turn out to be not interesting. This becomes annoying if there are

[2019-07-10 20:45] violasong commented on #2122
Hi all! So, to clarify:

In the categories section of the sidebar, highlighted here, we want to see the root's categories by default, with a way to switch to current node's categories. Is that correct? Is there more info we want to see from the root, by default?

Is it common to want to see both the root's and node's categories? (Maybe we want a hidden/expandable section rather than either one or

[2019-07-11 10:06] julienw commented on #2139
I think you could import it to `src/utils/bisect.js`, fix the "left" function, then remove the dependency and update all locations where we use it in our project.
And don't forget to put the LICENSE in the header of the file :)

Ideally this would have these commits:
1. import it as is.
2. add the license.
3. change the export to use ES6 modules. Maybe this could export 2 functions: `bisectionLeft

[2019-07-11 10:41] ruchikabgosain commented on #2122
Hey @violasong thats correct! As of now, no more info is required.
However, this is not very common and we could absolutely do with a hidden-expandable section. Maybe we can have a simple text that says "Show all" to the right of categories heading, in grey. Or an icon from my previous comment.
Let me know what would work best?

Also, what do you think about this now? @julienw

[2019-07-11 16:12] gregtatum opened #2146 "Properly handle durations in stack timing for the last sample"
The current implementation will cause an issue with JS tracer data that is converted to the `Profile` type.

See: https://github.com/firefox-devtools/profiler/pull/2143/files#r302155536

[2019-07-11 21:47] lucaskeiler commented on #2139
Ok, so i was making the suggested changes but i'm stuck with `yarn flow` one more time and i would appreciate your help again.

I defined the bisectionRight (analogously for bisectionLeft) function as follows:

[code]
and it flow keeps showing strange results:

[code]
or

[code]
I've tried to read some documentation on flow but i'm not sure why this error exists.

[2019-07-12 05:16] julienw commented on #2139
Hey !

It would be much easier if you can push your code to a PR so that we can
look at it :)

My theory is that you used Number instead of number. Be careful as the case
is important :)

[2019-07-12 14:13] julienw opened #2150 "Diffing tracks give weird errors in the sidebar"
STR:
1. open [this comparison profile](https://deploy-preview-1883--perf-html.netlify.com/compare/calltree/?globalTrackOrder=0-1-2&localTrackOrderByPid=25917%20from%20profile%201-0~25917%20from%20profile%202-0~&profiles[]=https%3A%2F%2Fprofiler.firefox.com%2Fpublic%2F2563011484ce58204abe27b9d8304e4376b25fa4%2Fcalltree%2F%3FglobalTrackOrder%3D7-0-1-2-3-4-5-6%26hiddenGlobalTracks%3D1-2-3-4-5%26local

[2019-07-12 14:26] gregtatum commented on #2140
Thanks for posting this @biancadanforth. I think we should at least have an icon that posts to our docs explaining what each option is doing.

[2019-07-12 14:32] gregtatum commented on #2139
Thanks for your work on this @lucaskeiler, I would suggest also to do this work in 2 PRs. The first should add the new bisection implementation, and replace our existing uses of the function. The second should add the bisection in the new location. This makes it easier for the reviewer, and also it helps ensure we don't regress functionality.

Also, as Julien said, we encourage contributors to ope

[2019-07-12 14:53] julienw commented on #2118
Duplicate of #2069

[2019-07-12 14:53] #2118 closed

[2019-07-12 14:55] julienw opened #2151 "Adjust the subcategories along categories for the diffing track"
When the subcategory work landed, we didn't take the time to properly merge the subcategory information, mainly because this wasn't trivial.
But we should really do that to get accurate breakdowns for diffing tracks.

[2019-07-12 15:25] julienw opened #2152 "Unhandled promise rejections while running tests"
Here is the error we get:
[code]

I think this is when we do `geckoProfiler.getProfile()`, and maybe we don't have a `geckoProfiler` at that moment in the test. It seems new and could be related to the recent work about our load mechanism change.

[2019-07-12 16:33] julienw opened #2153 "We need to apply url upgrading when loading profiles for comparison"
Here is a STR:
1. open [this profile](https://profiler.firefox.com/compare/calltree/?globalTrackOrder=0-1-2&implementation=js&localTrackOrderByPid=17686%20from%20profile%201-0~17686%20from%20profile%202-0~&profiles[]=https%3A%2F%2Fdeploy-preview-2039--perf-html.netlify.com%2Fpublic%2Fa48e69780e84edab57dd2a029bd8b6b34ba0419b%2Fcalltree%2F%3FglobalTrackOrder%3D0-1-2-3%26hiddenGlobalTracks%3D0-1-2%26

[2019-07-13 15:26] rbrishabh commented on #1274
Hi @julienw! I am sorry for the delay. I have read through this entirely.
I understood stacking contexts, thanks to the wonderful MDN documentation.

So this is what I need to do:

1. I need to add screenshots to a separate root element. For this I need to change the "#root-overlay" to a different root element in TrackScreenshots.js.
2. I need to increase z-index in timelineTrackScreenshotHover cs

[2019-07-16 14:51] brisad commented on #771
I added a PR which adds empty reasons for the remaining panels.

With it, all panels will, when applicable, show empty reasons after a range has been committed.
Some panels, like the Flame Graph and the Marker Table, will also show the reasons when doing preview filtering (they got it "for free"). Others, like the Stack Chart, will not.

This inconsistency were already present between the Call Tre

[2019-07-16 19:01] gregtatum opened #2160 "Remove a preview selection when clicking the "dimmed area" in the timeline"
It should be easy to remove a preview selection. We should intercept the mouse events over this dimmed area, and when clicked, it should remove the selection. Right now we get mouseover and click events going to the underlying timeline elements, which is confusing and hard to work with.

[2019-07-16 19:05] gregtatum commented on #2160
This feedback came from helping a new user do their profile analysis, and they really struggled with that area.

[2019-07-16 19:11] gregtatum opened #2161 "Do not expand call nodes in the call tree on the inverted view"
Right now when we switch to inverted view on the call tree, we automatically open up the first node in the call tree to an "interesting" area. This is annoying because oftentimes the inverted view is where you are going to look at the self time for a call tree, and this obscures the view. It makes it confusing for users.

This feedback is coming from some observations from doing some 1:1 training

[2019-07-16 19:19] gregtatum commented on #2161
I'm closing this, it only happens when you already have a selection, which is a potentially useful behavior that would be bad to lose.

[2019-07-16 19:19] #2161 closed

[2019-07-16 21:01] past opened #2162 "Pinch+zoom should feel more natural"
I love the ability to use pinch+zoom on a mac touchpad to zoom in the loupe view. It doesn't feel very natural however, due to the small increments we are apparently using. Greg indicated that this gesture (which is essentially translated by Gecko into Ctrl+scroll) may be tied into the behavior of Shift+scroll, which I think can also use some boosting.

[2019-07-16 21:24] digitarald opened #2163 "Screenshots only work with WebRender when the Renderer thread is checked as well"
Enabling Screenshots does not collect any screenshots, unless `Renderer` is checked as well.

One solution would be to have `Renderer` pre-selected as well

[2019-07-17 05:15] jimporter opened #2164 "Provide visualization for IPC call logs"
See also [bug 1557447](https://bugzilla.mozilla.org/show_bug.cgi?id=1557447).

We'd like to provide visualization in the profiler for IPC calls in Firefox. I think the big things we want are to show when the calls are happening (plus the overall frequency of IPC calls) as well as the time it takes for the IPC to actually run in the target thread.

Currently, the Gecko patch is using markers to rec

[2019-07-17 17:53] gribnoysup commented on #2150
Happy to help with this one ✋

[2019-07-17 21:29] gregtatum opened #2165 "Consider generalizing our sample data structure to an EventTable"
[code]

The call tree could then apply the weight if it is there, and style the `<CallTree>` and tooltips according to the weight type.

[2019-07-18 10:56] ruchikabgosain commented on #2122
Hey @julienw, just following up on this one. Let me know what will we be going ahead with?

[2019-07-18 16:03] #771 closed

[2019-07-19 13:31] digitarald opened #2166 "Support Chrome's about:traces export format"
STR: Load https://nparashuram.github.io/ChainReactApp2019/hermes/trace-hermes.json
AR:
[code]

Tagging as feature, assuming there are a few differences between about:tracing and Chrome's Performance DevTools format.

__update__: see https://github.com/firefox-devtools/profiler/issues/2166#issuecomment-519577522. This is a quite involved bug.

[2019-07-19 14:28] #2115 closed

[2019-07-19 14:28] canaltinova commented on #2152
Fixed by #2157.

[2019-07-19 14:28] #2152 closed

[2019-07-19 16:43] gregtatum commented on #2163
We'd need to make the popup smarter to do this.

[2019-07-19 16:59] gregtatum commented on #2166
It looks like instead of just an array of values, it's an array of values inside of an object, with the key `traceEvents`. I think we may only need to teach it about `{ traceEvents: [...]}`

https://github.com/firefox-devtools/profiler/blob/3067dda9cbf5807948aef149e18caf4e8870ed25/src/profile-logic/import/chrome.js#L72-L85

Here we would need teach it about `traceEvents`. Then in the import code w

[2019-07-19 20:37] gregtatum opened #2167 "Add tooltips to the JS allocations work"
Follow-up to #2061.

Right now the first PR doesn't change the tooltips.

[2019-07-19 20:38] gregtatum opened #2168 "Figure out what to display in the sidebar for JS allocations"
This is a follow-up to #2061.

[2019-07-19 21:04] jrmuizel opened #2169 "clicking on sample in timeline in "invert call stack" should highlight the leaf node."
When in "Invert call stack" mode, clicking a sample in the timeline brings you to the root of the stack and not to the leaf. Going to the leaf is preferred because root is of least interest when in "invert call stack" mode.

[2019-07-19 21:31] lucaskeiler commented on #2139
Hi all,

I have just submitted a draft pull request to add bisection implementation. It still contains the flow errors aforementioned (even with 'Number').

Sorry for the delay.

Thank you!

[2019-07-21 05:42] rbrishabh commented on #2166
Hey @gregtatum ! Can I give this a try?

[2019-07-21 17:40] rbrishabh commented on #1274
Hey @julienw ! I am waiting for your response! Please help me get this sorted whenever you can find a little time! Thank you!

[2019-07-21 18:00] rbrishabh commented on #2166
@gregtatum , are these the two changes that I was supposed to make?

If yes, can you please let me know how I can test it?

![profiler-1](https://user-images.githubusercontent.com/22501334/61595012-82c5d180-ac0f-11e9-8994-d7af0360bb11.png)

![profiler-2](https://user-images.githubusercontent.com/22501334/61595015-848f9500-ac0f-11e9-96f1-be0e2df2098f.png)

If no, what else am I supposed to do?
Than

[2019-07-21 18:31] globefire commented on #2166
If this issue is not assigned to anyone I would love to contribute.

[2019-07-21 18:33] globefire commented on #1390
@julienw I would love to work on this issue, can it be assigned to me?

[2019-07-21 18:34] globefire commented on #1447
@julienw I would love to work on this issue, can it be assigned to me?

[2019-07-22 09:32] rbrishabh commented on #1939
Can I take this up? @julienw

[2019-07-23 18:42] monopine opened #2171 "The add-on cannot be downloaded because of a connection failure"
When attempting to install the add-on from http://profiler.firefox.com the error "The add-on cannot be downloaded because of a connection failure" shows when clicking the install add-on prompt.

[2019-07-25 19:20] mstange commented on #2122
Thanks for the input.

I'd prefer to find a solution where we do not have to switch between two different views; every piece of UI has a cost.
Showing both the root's categories and the node's categories at all times would achieve this.

As a point of comparison, the thread activity graph at the top also shows both categories: The root's categories are the base layer, and then the selected node's

[2019-07-29 05:54] rbrishabh commented on #1274
Hey @canaltinova ! I was wondering if this is still relevant? :)

[2019-07-29 14:41] padenot opened #2174 "When recording specific threads, show those threads in the profile UI"
When profiling media workloads, we add manually a bunch of threads in the textbox. When capturing the profile and displaying it in the UI, those threads are not shown automatically.

The intent of the user is quite clear: they want to look at what those threads were doing, so it would be best if they were shown in the profiler UI directly.

[2019-07-29 15:00] gregtatum commented on #2120
@brisad Slack appears to be down, so I'm replying here. You're welcome to take this and work on it! I pushed back some initially on displaying PIDs to end-users, but let's do it! Maybe in the future we can hide it for webdevs, but this is a frequent complaint so we should fix it.

[2019-07-29 15:03] brisad commented on #2120
@gregtatum Oh, I didn't think my question on Slack went through because of the connection problems. But cool, I'll do this one :-)

[2019-07-29 15:11] padenot commented on #2174
@gregtatum, I just recorded https://perfht.ml/2JZpXxY as an example.

I recorded those threads:

but they are hidden from the view, by default.

[2019-07-29 15:22] gregtatum commented on #2169
We can check for the inverted calltree here:

https://github.com/firefox-devtools/profiler/blob/fd91d4df988789c8599ccfa7315585af2b69b17d/src/components/timeline/TrackThread.js#L95-L99

Then add a `selectRootCallNode` function, similar to the leaf one:

https://github.com/firefox-devtools/profiler/blob/fe7443a9b8a45cc501442a7b9a6abeb6c6c78fcb/src/actions/profile-view.js#L115-L143

Finally we should

[2019-07-29 15:25] julienw commented on #2160
Also even when we click somewhere where it removes the preview selection, it still does another action, eg:
* select another track
* select another preview selection (when clicking a marker for example)

Instead we should solely dismiss the preview selection if this action happens. But maybe this could be done in a separate patch.

I think it's OK to get mouseover events though. I like it that we

[2019-07-29 15:42] julienw commented on #2162
I agree that we could increase the increments, it feels low also on my Linux.
The increments to move left/right feel also slow for me.
The zoom factor is defined by this function: https://github.com/firefox-devtools/profiler/blob/3067dda9cbf5807948aef149e18caf4e8870ed25/src/components/shared/chart/Viewport.js#L218
while the left/right increment is linear and defined in https://github.com/firefox-d

[2019-07-29 15:48] julienw commented on #2150
hey @gribnoysup, sorry for the delay!
Are you still interested in this?
Thanks!

[2019-07-29 15:51] gregtatum opened #2175 "PID is listed twice and the layout is broken for profiles that are recorded without a GeckoMain"
See: https://profiler.firefox.com/public/caf82fedc3b5822ba09233abbf3980083505da85/

<img width="172" alt="image" src="https://user-images.githubusercontent.com/1588648/62062487-b0ea7900-b1ee-11e9-899b-4d9497f68113.png">

[2019-07-29 15:52] gregtatum opened #2176 "Timeline height is wrong for profiles without GeckoMain"
https://profiler.firefox.com/public/caf82fedc3b5822ba09233abbf3980083505da85/

Notice the gap at the bottom of the timeline:

<img width="416" alt="image" src="https://user-images.githubusercontent.com/1588648/62062619-f313ba80-b1ee-11e9-8210-365a8ec90e9f.png">

[2019-07-29 15:54] gregtatum opened #2177 "If all local tracks are hidden, hide the global track if it is an empty track"
https://profiler.firefox.com/public/caf82fedc3b5822ba09233abbf3980083505da85

Process 10472 should be hidden here.

[2019-07-29 15:55] gregtatum commented on #2160
I'm fine keeping this behavior.

[2019-07-29 16:46] julienw commented on #2163
Is that with WebRender?
We have a similar problem without WebRender, where Compositor needs to be checked.

[2019-07-29 16:53] julienw commented on #1390
hey @globefire, sorry for the delay!
Are you still interested in working on this?

[2019-07-29 16:53] julienw commented on #1447
Hey @globefire, I answered you on the other issue, so let's keep this one unassigned for now :)

[2019-07-29 16:57] julienw commented on #2166
hey @globefire, thanks for the offer but let's focus on the other issue first!

[2019-07-29 17:02] julienw commented on #2166
@rbrishabh I think that your changes could make it work with this format, but would make the other format (the performance devtool format) fail. With the intended change we want both formats work.

In short:
* devtools' format is an array of things
* about:traces fromat seems to be the same array of things inside an object with the `traceEvents` property.

So the work on this bug is to make the se

[2019-07-29 17:04] julienw commented on #1939
hey @rbrishabh, thanks for the offer but let's focus on #2166 first ;)

[2019-07-29 17:08] julienw commented on #2171
Hey @monopine, thanks for your report!
I can't reproduce on my side though, can you please share more about your set-up?

Also please note that since recently you can access the same popup from within Firefox, when running Firefox Nightly. You can enable it from `Tools > Web Developer` menu > Enable Profiler Toolbar Icon`. Maybe this can be a useful workaround for your set-up.

[2019-07-29 17:27] julienw commented on #2122
Thanks all for the useful insights and feedbacks. And please excluse me for the delay in answering because I was away in holidays ;-)

Just like Markus I'd like to find a way where we don't need to toggle or expand a piece of UI.
My fear with the latest proposal is that it may be confusing, with all the percentages already here.

@mstange just to get some more data, in your opinion, is it useful t

[2019-07-29 17:35] julienw commented on #1274
Hey, sorry for the delay, as I was away for holidays! (and as was @canaltinova :) ).

You can use a new root element called `root-screenshot` for example. Also the new `z-index` needs to be abled on _that_ new element.
I hope this is clearer!

Also the best way to get started is actually write the code and see if this fixes the problem ;) Then you can ask feedback by pushing the code to a draft pu

[2019-07-29 17:36] gribnoysup commented on #2150
No worries! 😊 Yep, I am! Still happy to pick it up

[2019-07-29 21:40] digitarald commented on #2163
Yes.

[2019-07-30 05:39] Shubhamchinda commented on #1447
Hey @julienw Can I take this issue?

[2019-07-30 10:16] fqueze commented on #1618
@julienw This is about the category colors and the timeline marker colors being different in confusing ways. #1676 is about the Marker Chart displaying all markers in blue. They don't seem duplicate to me.

[2019-07-30 10:24] fqueze commented on #711
I think sharing is possible before the end of symbolication with the new sharing flow. Is there more we want to do here, or should we just close this issue?

[2019-07-30 12:27] padenot opened #2180 "Event processing delay reported erronously when profiling media threads"
See [this profile](https://profiler.firefox.com/public/3bcc8e87aac2507a4607d1d2ed9028c1a8fc687f/calltree/?globalTrackOrder=0-1-2-3-4&localTrackOrderByPid=2620-1-0~5056-0~788-8-0-1-2-3-4-5-6-7~&thread=7&v=4) (but this works with all profiles that contain media threads).

All the media threads are reported has having an event processing delay equal to the duration of the profile.

[2019-07-30 12:48] julienw commented on #2180
We do have responsiveness data in these threads. So likely we should prevent that in gecko.

[2019-07-30 13:19] julienw commented on #2174
To make it clearer, from padenot's point of view, when specifying specific threads in the settings panel, we shouldn't hide them with our heuristic.

Maybe we could make our heuristic work only for GeckoMain threads (which were our primary focus initially)? What do you think @gregtatum?

[2019-07-30 13:43] julienw commented on #2176
The reason seems ot be that the blank tracks are 28px instead of 30px.
They should be 30px but it's not applied properly.
I think this is because in https://github.com/firefox-devtools/profiler/blob/e2971b4de5502de368325ca8bbc0706fcf201c01/src/components/timeline/GlobalTrack.js#L102-L104
we should have `+ 'px'` at the end.
React is smart enough to add it automatically for known properties, but not

[2019-07-30 14:01] julienw commented on #1447
hey @Shubhamchinda,
yes please!

The code happens in `_formatDate` in `src/components/app/MenuButtons/MetaInfo.js`. Then you'll have to fix the tests probably using https://www.npmjs.com/package/jest-date-mock in the tests that test this functionality.

[2019-07-30 15:01] julienw commented on #1618
I duped it because both bugs should be solved by adding actual categories to our markers.
But happy to keep it open to track it if you prefer.

[2019-07-30 15:03] julienw commented on #711
I think the main issue has been fixed indeed.
That said, do we still want to change the symbolication text?

[2019-07-30 15:17] julienw commented on #2165
This looks good!
However we'll need to check the performance of doing polymorphism on functions with hot loops. My wild guess is that it will be OK but we'll need to measure, especially when switching between the types of event table (which could invalidate specific compilations of the computing functions).

[2019-07-30 16:24] rafaph commented on #2176
Hi @julienw, can I work on this? It's my first contribution.

[2019-07-30 16:34] julienw commented on #2176
Hey @rafaph, sure !

Once you get the project up and running, you can load the same profile with your local server with this URL: http://localhost:4242/public/caf82fedc3b5822ba09233abbf3980083505da85/
This way you can:
1. locally reproduce the problem
2. change the code and see very quickly by reloading what the effects of your changes are.

 Please ask if you need anything more :)

[2019-07-30 16:47] rafaph commented on #2176
Thanks!
Looks like it's solved when I set px on TRACK_PROCESS_BLANK_HEIGHT, like this:

[code]

I'll make a PR :)

[2019-07-30 16:50] gregtatum commented on #1856
I'm changing this to polish since it's not really breaking things.

[2019-07-30 16:50] gregtatum commented on #1793
@julienw does this still reproduce?

[2019-07-30 16:51] gregtatum commented on #1771
@canaltinova are there examples of this being actively broken? If not we should probably re-label this as a feature.

[2019-07-30 17:57] gregtatum commented on #1545
This marker was removed. Since we are not actively breaking anymore, I'm going to ignore point 1 for now and close this bug.

[2019-07-30 17:57] #1545 closed

[2019-07-30 18:00] gregtatum commented on #664
Has this happened again? This bug is older and has no activity. I'm going to tentatively close it. Feel free to re-open if anyone disagrees.

[2019-07-30 18:00] #664 closed

[2019-07-30 18:02] gregtatum commented on #2163
I'm de-prioritizing this to polish rather than bug since we aren't actively breaking, and it's an annoyance. Feel free to change back if anyone disagrees.

[2019-07-30 18:03] mstange commented on #664
I haven't seen this again, no.

[2019-07-30 19:20] #2176 closed

[2019-07-31 10:50] canaltinova opened #2185 "Display profiler overhead data in the metadata panel"
Currently we have profiler overhead data information inside profile data. See: https://searchfox.org/mozilla-central/rev/38c88cbf4be87dfa0636d15a5d3599a8ea0d1a72/tools/profiler/core/ProfileBufferEntry.cpp#1212

It would be good to add this information to metadata panel. That would help users to see how profiler is affecting the profile timings they are seeing.

@squelart said that it was a prototy

[2019-07-31 14:58] fqueze commented on #2162
This seems specific to the loupe view which we are hoping to retire. Julien, do we have a plan to migrate these features to the main timeline?
I don't think improvements to the loupe view should be part of our Usability project at this point, but if we morph this to be about migrating these gestures to the timeline and polishing them, then it does.

[2019-07-31 15:26] #2177 closed

[2019-07-31 15:26] #1611 closed

[2019-07-31 15:27] #2175 closed

[2019-07-31 16:18] globefire commented on #1390
@julienw yes I am, I need some guidance can you help me with that?

[2019-08-01 00:22] Shubhamchinda commented on #1447
Thanks!

[2019-08-01 04:45] rbrishabh commented on #2166
Hey @julienw !

I think you made it quite clear.

Here's another attempt to solving this issue:

![sol1](https://user-images.githubusercontent.com/22501334/62266229-1b94f200-b445-11e9-8c65-41ec4d2a11c9.png)

![sol2](https://user-images.githubusercontent.com/22501334/62266236-218ad300-b445-11e9-9971-80a92a3c3f95.png)

Does this hit anywhere close to home?

Also do I need to change anything else in

[2019-08-01 10:00] julienw commented on #2166
Hey @rbrishabh, in `convertChromeProfile` you need to do something similar to define the `event` object that is handled.
I also suggest that you try to actually run the code too :)
Thanks!

[2019-08-01 10:45] rbrishabh commented on #2166
Hey! I am actually running the code, but I am not sure how I can check the code for this particular bug?

How do I go about that?

Thanks!

[2019-08-01 11:37] julienw commented on #2166
Ah, that's a good question to ask!

The initial comment has a link to an example file you can load from the home page, this will be to test chrome's about:traces export format.

For Chrome's other format, we have another file in src/test/fixtures/upgrades/test.chrome.gz that you can use for testing.
Ideally it would be a good idea to add the about:traces file to our fixtures and write a test with

[2019-08-01 12:30] julienw commented on #1390
@globefire there are some explanations in https://github.com/firefox-devtools/profiler/issues/1390#issuecomment-431358010 already, please tell me what's missing and we can add more. Thanks!

[2019-08-01 13:54] fqueze commented on #1356
We are planning to keep the sidebar in its current position and open it by default in panels where time alignment doesn't matter.

[2019-08-01 13:54] #1356 closed

[2019-08-01 14:03] digitarald commented on #1441
@jesup , maybe you can help with 2 questions about this:

Would this be useful for the perf team's page load analysis?

The next step, just discussed in our profiler planning meeting, would be to file a bug to include the callstack in network samples – but backtrack might eventually (in the long term) provide better information. What do you think the effort would be to support this, does Necko hav

[2019-08-01 14:51] julienw commented on #1124
I think this issue served its purpose. Closing!
New issues can be tracked using the label `sidebar` only.

[2019-08-01 14:51] #1124 closed

[2019-08-01 14:54] julienw opened #2188 "Have the sidebar opened by default in the panels where it's not in the way"
The sidebar could be opened by default in some panels:
* call tree
* flame graph
* marker table

I'd like to finish #2154 first though.

Also maybe the sidebar button could be made non-ghost (using the default styling) to make it more discoverable.

[2019-08-01 14:54] julienw commented on #1356
This is #2188.

[2019-08-01 14:56] julienw opened #2189 "Implement context menus for the markers showing up in the timeline"
The markers in the timeline don't have a context menu, but it should be quite straightforward to implement using the existing one.

[2019-08-01 20:57] canaltinova opened #2190 "Implement a quick visualization prototype for the overhead data"
We have overhead data per process [inside the profile data](https://searchfox.org/mozilla-central/rev/38c88cbf4be87dfa0636d15a5d3599a8ea0d1a72/tools/profiler/core/ProfileBufferEntry.cpp#1212) right now. It has some timing information like `locking`, `expiredMarkerCleaning`, `counters`, `threads`. It would be a good to visualize that information. That could help us to understand how consistent the

[2019-08-01 22:13] mstange opened #2191 "Add detection for the socket process"
Threads with `{ threadName: "GeckoMain", processType: "socket" }` should be labeled "Socket Process". At the moment such processes are labeled GeckoMain. The socket process is new.

[2019-08-02 09:54] julienw commented on #2191
This is happening in `getFriendlyThreadName` in `src/profile-logic/profile-data`.

[2019-08-02 12:04] julienw opened #2192 "Names for nodes like `<script XXX>` are completely blank after being cleaned"
This is an example: `<script async src="https://www.lemonde.fr/bucket/032b23bc7bb02433e045670cfaa3e1b478705142/js/anltcs.bundle.js">`

`removeTemplateInformation` in `src/profile-logic/function-info.js` does this.

[2019-08-02 12:25] #2150 closed

[2019-08-02 12:47] julienw commented on #2162
I think this is part of all our canvas-based views, especially stack chart and marker chart.

[2019-08-02 13:59] weyj4 commented on #2191
I can work on this. It looks like we just need to add a case to the switch statement. Are there tests for the existing functionality I'll need to add to?

[2019-08-02 14:10] melvin2016 commented on #2189
Can u provide me the details?

[2019-08-02 14:13] melvin2016 commented on #2189
What data should be passed in the context?

[2019-08-02 16:01] gregtatum commented on #2174
Having a list of acceptable threads to perform hiding on would probably work.

I'd want it for:

* `GeckoMain`
* `DOM Worker`

What do you think @mstange @canaltinova @squelart ?

[2019-08-02 16:05] gregtatum commented on #2188
I think I'd be a little sad losing screen real-estate on the flame graph.

[2019-08-02 18:49] gregtatum commented on #2191
There's an existing test in `src/test/store/profile-view.test.js` that should do the trick!

https://github.com/firefox-devtools/profiler/blob/f9bf24485b60c9a9ccd4cfcb90f22ea129097a6d/src/test/store/profile-view.test.js#L1390

[2019-08-02 18:52] gregtatum commented on #2189
@melvin2016
This would be to add the marker context menu to the timeline area, which is:

<img width="833" alt="image" src="https://user-images.githubusercontent.com/1588648/62392242-9127bd80-b52c-11e9-9d56-082205dbc1e7.png">

If this is your first time contributing, then a "good first bug" would probably be a better choice, but this one is a good bug for someone who has read a bit of the codebase

[2019-08-02 23:27] squelart commented on #2174
@gregtatum I'm not sure how the heuristics work so I don't know if your suggestion would do the trick, I'll trust you it would.

But I'll jump in with a suggestion for a separate preliminary issue: Add a way to pick the "default" set of threads. Because currently, there is no obvious way to do that after you've modified the list once(?)
(And in the future, it could become a drop-down with more spe

[2019-08-02 23:28] squelart commented on #2174
Another solution would be to add a button next to "x/y tracks visible" to "show all", so it's only one click away, and there's plenty of unused horizontal space there.

It could be in the track selection right-click menu as well, but I think a top-level button is a must as it would probably be used a lot, and would reduce the frustration of having to manually click-clickety-un-hide all the tracks

[2019-08-03 13:54] weyj4 commented on #2191
Great. I'm on the road right now, will get you a PR in the next day. Thanks for the guidance!

[2019-08-04 05:49] rbrishabh commented on #2166
After making some changes, the ```test.chrome.gz``` still work just fine.

However, when trying to test ```about:traces```, the following error comes up:

![image](https://user-images.githubusercontent.com/22501334/62419865-834a7780-b6a7-11e9-9735-0b9796b34605.png)

I think it's because there **aren't** any threads in the profile, and the bug is now solved, but I am not sure.

The error is no long

[2019-08-04 20:11] Shubhamchinda commented on #1447
Hey @julienw , I changed the time format to the provided time format in [comment](https://github.com/firefox-devtools/profiler/issues/1447#issue-376739125) but after running `yarn test`, no tests are failing. I tried to find the dependencies of these changes on the tests but I couldn't figure it out. So I wanted to ask if I need to write the test case for the change? or If not, would you please me

[2019-08-05 05:25] globefire commented on #1390
Thanks @julienw

[2019-08-05 11:27] canaltinova commented on #2190
Here's a quick prototype of this: #2196.

[2019-08-05 14:45] #2191 closed

[2019-08-05 15:15] julienw commented on #2166
Can you please push your existing code to a draft PR so that I can look at it? Thanks!

[2019-08-05 15:32] julienw commented on #1447
Hey @Shubhamchinda, it's much easier to reason with the changes if you can push them to a "draft" pull request :-) Thanks!

[2019-08-05 17:10] rbrishabh commented on #2166
That's what I wanted to talk about.

Since before pushing, all the tests are ran, and I have written some code along the lines of --
[code]
I get this error multiple times-

[code]

And I am unable to push.
I don't quite understand the error as well.
As soon as I use ```profile.traceEvents``` anywhere in the code, I am unable to push.

Do I force push and create a PR?
If not, how do I go about the

[2019-08-05 17:22] julienw commented on #2166
Yes please force push :)
Thanks

[2019-08-05 19:15] gribnoysup commented on #1620
👋 I'll be glad to help to set this up for your evaluation

[2019-08-06 14:32] julienw commented on #1620
Hey @gribnoysup, sure, thanks a lot!

[2019-08-06 15:11] julienw opened #2203 "Write some docs about the compare interface"
The compare interface exists and can be reached on https://profiler.firefox.com/compare/, but it's difficult to discover. We should write some user docs about it.

[2019-08-06 15:13] julienw opened #2204 "Expose the compare interface from the rest of the UI"
We want to expose the comparison interface, but don't really know how at the moment.

Ideally, I'd like a "compare this view" button in the profile viewer, that would display an input where we could enter another URL, and we'd switch to the compare interface this way.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FP-195)

[2019-08-06 15:26] julienw opened #2205 "Decide what to do with our several interfaces to control the profiler"
We currently have 3 interfaces:
* The addon -- which we're sunsetting, so we can ignore it now.
* The popup -- replacing the addon, nearly a copy/paste of the addon for now
* The devtools interface -- used in 2 different context:
  * in the devtools interface, to debug the running Firefox
  * as an interface for remote profiling

As a first consequence, it's more difficult to maintain than it shou

[2019-08-06 15:29] julienw commented on #1511
@canaltinova to look into it more deeply and come back with a plan :)

[2019-08-06 15:30] julienw commented on #2081
This may or may not be tied to the result of the discussion in #2205.

[2019-08-06 15:38] julienw commented on #2080
open question is how do we keep track of uploaded profiles?

There are several possibilities:
* local storage (any local storage, could be indexed db)
* store in firefox accounts

Because a local storage solution is simpler this could be prefered for Q3, but a firefox accounts solution is interesting because this enables more use cases (eg switching between Firefox profiles).

What does the team t

[2019-08-06 15:59] squarewave opened #2206 "Include and display the age of a profile"
Often times I want to compare two profiles and get confused which is my test and which is my control. #448 adds the ability to name profiles, which would help a lot, but it would often be faster if I just had the age of the profile displayed somewhere, because I always know which profile I took first.

[2019-08-06 16:21] julienw commented on #2206
Hey, thanks for filing! You can find the timestamp in our profile info panel, that you can open by clicking on the profile information at the top bar. Does that work for you? Is it not obvious enough?

[2019-08-06 19:14] squarewave commented on #2206
That is helpful, but in my ideal world it would be somewhere immediately visible without interaction, and in a quickly human-parseable format like "7m ago", or if it should be in non-relative time then the minimal form like "11:59am" would be handy, as the full "Tue, 06 Aug 2019 18:59:11" takes a lot to digest. It would be most useful for me if it were even in the tab title, though. I can usually

[2019-08-06 19:47] digitarald commented on #2080
Keeping the keys for deleting in local storage would be great for the first round.

It allows to have _delayed account creation_ for the user journey; allowing basic ownership without account. If users want fine-grained control across devices and profiles, they later have the option to upgrade to an account.

Risk is that profiling on test browsers can not be transferred in ownership, maybe that i

[2019-08-06 20:42] gregtatum commented on #2206
I like the "7m ago" idea, the current date string is pretty impossible as it is.

[2019-08-06 20:45] gregtatum commented on #2204
A link on the homepage would be a good start.

[2019-08-07 01:18] rei2hu commented on #2098
I'd like to take a crack at this.

[2019-08-07 17:49] julienw commented on #2206
There's an open PR #2197 that makes it a lot better.
Also Doug, this is in the tab title already, I think :)

[2019-08-08 12:40] julienw commented on #2206
As a point of data, with that PR, here is what we get on an US firefox:
![image](https://user-images.githubusercontent.com/454175/62702778-fd506880-b9e7-11e9-98ae-d6774a0e2089.png)
and on a french Firefox:
![image](https://user-images.githubusercontent.com/454175/62702797-07726700-b9e8-11e9-91c1-64145fc63520.png)

So it's better but still more complex than it could be.
Having a "7m ago" instead wi

[2019-08-08 14:01] julienw commented on #2080
All good points, thanks Harald. As a quick note, #1136 is the issue about auto-expiration.

[2019-08-08 14:19] julienw commented on #1793
I really don't know, I don't think I've seen it recently (actually I saw it only ever once :) ).

[2019-08-08 15:26] mstange commented on #1793
I see this every now and then, but rarely. I would like to understand what causes it.

[2019-08-08 15:52] julienw commented on #2166
I think that is true that the passed json file in the first comment doesn't have a profile information (no "event" is called `ProfileChunk` to start with).

This looks more like a log, so we could maybe convert this into markers.  But no teverything looks like markers either.
There are pid/tid information so we could generate empty threads out of this instead of relying on `ProfileChunk` events.
A

[2019-08-08 21:19] squarewave commented on #2206
Ah, woops. In any case though, it might be nice if it were at the start of the title, if you agree that it's more important to see than the other information. Currently with how many tabs I tend to have open I usually just see something like "Firefo", which is not too helpful, and hovering over it to see the full thing is a bit much.

[2019-08-09 09:10] julienw commented on #2206
This is good feedback, thanks!

[2019-08-12 11:00] #2120 closed

[2019-08-12 19:14] gregtatum opened #2213 "file:// URLs are not sanitized"
See: https://perfht.ml/2Ttxecv
[code]

/cc @canaltinova

[2019-08-15 12:12] canaltinova commented on #1771
I can't think of anything right now. Yeah, we can label this as a feature instead.

[2019-08-15 14:18] canaltinova commented on #2213
Yeah, we don't sanitize them currently and I honestly don't remember the reasoning behind that decision. But I remember talking this with someone and deciding that we shouldn't sanitize internal and self hosted urls. We even have a test for that:
https://github.com/firefox-devtools/profiler/blob/3c67af6709a85c5d65d9fa5700a6dfe2ce8ed733/src/test/unit/string.test.js#L131-L133

But it's clearly not a

[2019-08-15 20:59] gregtatum commented on #2213
I think `chrome://` is fine to leave unsanitized, I definitely don't want my hard drive information included though. It has my full name in it, which by definition is personally identifiable :D

[2019-08-16 09:31] canaltinova commented on #2213
heh, yeah you are right.(although, it's fine if you don't put anything to your user folder 😝 ) I think main reason to keep them was to keep the internal files like `file:///Users/foo/gecko/browser/themes/shared/icons/customize.svg`. I worried that it might still be important information for users to see. Should we only remove the string "after `/Users/` until `/`" to minimize the risk of removing

[2019-08-16 13:23] rajmeghpara opened #2215 "Support every runs for Instruments profiles"
For now, we are just processing the first run of Instruments profiles.

[2019-08-16 13:28] rajmeghpara opened #2216 "Extract metadata from Instruments profiles"

[2019-08-16 13:58] rajmeghpara opened #2217 "Remove the FlowFixMe once webkitGetAsEntry is a standard function and has a flow type"
┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FP-200)

[2019-08-16 14:02] rajmeghpara opened #2218 "Remove the FlowFixMe once createReader is a standard function and has a flow type"

[2019-08-16 14:08] canaltinova commented on #2215
After #2138, we will be supporting import of instruments profiles. We already have an import mechanism for zip files that include multiple profiles. We can use the same mechanism to store multiple runs and then display them.

[2019-08-17 05:26] globefire commented on #1390
HI @julienw can you please give me a headstart to solve this issue?

[2019-08-19 12:11] canaltinova commented on #2216
After #2138, we'll have Instruments import support. Currently we are only adding platform name as `Macintosh`. We should get more data like interval, profiled date and time.

[2019-08-19 12:15] canaltinova commented on #2217
This FlowFixMe is introduced with #2138, we will be supporting import of instruments profiles. Since `webkitGetAsEntry` is not a standard function yet, we don't have a flow type for that function yet. We should remove this `FlowFixMe` once it's a standard function.

See https://developer.mozilla.org/en-US/docs/Web/API/DataTransferItem/webkitGetAsEntry

[2019-08-19 12:17] canaltinova commented on #2218
This FlowFixMe is introduced with #2138. Since `createReader` is not a standard function yet, we don't have a flow type for that function yet. We should remove this `FlowFixMe` once it's a standard function.

See https://developer.mozilla.org/en-US/docs/Web/API/FileSystemDirectoryEntry/createReader

[2019-08-19 13:51] julienw commented on #1390
hey @globefire, can you please share if you could work on this already? Thanks!

[2019-08-19 13:55] julienw commented on #2213
maybe keep the last or 2 lasts parts for these URLs?

Special-casing `/Users` will work only on some platforms, for example on my system this would be `file:///home/julien/XXX` :-)

[2019-08-19 15:56] julienw commented on #2218
Oh, I wasn't aware this is implemented in Firefox!
Actually Flow may also add typing for non-standard function, so maybe try to file a bug at Flow using [this form](https://github.com/facebook/flow/issues/new?labels=Library+definitions&template=libdef.md) ?

[2019-08-20 06:57] globefire commented on #1390
Hey @julienw Yes I have started working on it.

[2019-08-20 10:25] globefire commented on #1390
`if (
        isRangeSelecting ||
        selectionEnd - selectionStart >= minSelectionStartWidth
      ) {`

@julienw So `minSelectionStartWidth` has to be replaced such that the difference between the start point and the endpoint is more than or equal to 3px. I don't understand how `selectionStart` is calculated using `(event.pageX - rect.left) /
          rect.width *
          (committedRange.

[2019-08-20 12:34] julienw commented on #1390
The current formulas compute the "time-based" location from the pixel location. That's a cross-multiplication: basically `(pixel-location - pixel-left) / pixel-width * (time-width)`.

If we want to use directly `pageX`, we don't need this cross-multiplication anymore. We only need to remember `pageX` at `mousedown` and compare it with `pageX` at `mousemove`.

I hope it's clearer!

[2019-08-20 13:42] #2098 closed

[2019-08-20 13:45] julienw opened #2221 "Add tests to check the rendering of the profile info panel"
The existing coverage about the profile info panel has been lost in a recent PR.
We should have new tests covering this more explicitely.

Here is how this could be done.

1. this could be a new file in `src/test/components/MetaInfo.test.js`
2. it could be something like this (I didn't try it, so you'll likely have to correct it):
[code]

Probably we need to mock the date objects by using https://

[2019-08-20 13:45] julienw commented on #2221
cc @Shubhamchinda

[2019-08-20 14:03] #1447 closed

[2019-08-20 16:07] globefire commented on #1390
@julienw Sure I will look into it.

[2019-08-21 02:29] globefire commented on #1390
Hey @julienw We want something like this, right?
https://jsfiddle.net/globefire/eq6t81dL/11/

[2019-08-21 06:34] Shubhamchinda commented on #2221
On it!
Thanks :)

[2019-08-21 10:07] julienw commented on #1390
Yeah I think this look like this is the right computation. Now you need to include this in the existing code :-)

[2019-08-21 17:28] globefire commented on #1390
Working on it :)

[2019-08-22 09:51] julienw commented on #1274
See the prior PR https://github.com/firefox-devtools/profiler/pull/2187: this isn't as easy as we initially thought, and will need some investigation to fix this. Tat's why I've removed the "good first issue" label.

[2019-08-22 11:41] globefire commented on #1390
Hey @julienw I tried doing it the same way I did [here](https://jsfiddle.net/globefire/eq6t81dL/11/) but the animations are getting affected also the zoom button appears only on the leftmost side.
I also tried to add a `mouseDownHandler` to save the `event.pageX`.

[2019-08-22 12:04] julienw commented on #1390
`_onMouseDown` is already a mousedown handler. We're saving the `mouseDownTime` in https://github.com/firefox-devtools/profiler/blob/f0838887508ababa8ab5a965ad0bc966574a8efc/src/components/timeline/Selection.js#L96-L99, part of the solution is likely to change this to save the `mouseDownX` instead.

You don't need to change everything. Rather just replacing a few lines in the existing code should

[2019-08-22 12:09] julienw commented on #1396
Ah, I fixed this recently in https://github.com/firefox-devtools/profiler/pull/2193. In the solution I implemented we check if the previous character is a space, but we still try to replace template information for all types of stack. It's probably OK for now.

[see the example on the current production version](https://profiler.firefox.com/public/7839104db0a27290c2ab397a1802331a81243156/calltree/

[2019-08-22 12:09] #1396 closed

[2019-08-22 12:10] julienw commented on #1939
hey @rbrishabh, do you want to look at this one, then?

[2019-08-22 12:12] rbrishabh commented on #1939
Absolutely!

[2019-08-22 12:20] julienw commented on #1939
Here is a STR:
1. Open https://profiler.firefox.com/public/a99005d90af60ba883d206a98277f99d3568e1d8/calltree/?globalTrackOrder=7-0-1-2-3-4-5-6&hiddenGlobalTracks=2-3-4-6&implementation=js&localTrackOrderByPid=25709-1-2-0~11009-0-1~11122-0~10702-0~10801-0~10879-0~10729-0~&range=1.3612_1.5248~1.3945_1.3990~1.3971_1.3985&thread=0&v=4
2. open the "marker chart" tab
3. hover on the "styles" marker. =>

[2019-08-22 12:34] julienw commented on #1939
step 3 is at https://github.com/firefox-devtools/profiler/blob/f0838887508ababa8ab5a965ad0bc966574a8efc/src/components/shared/Backtrace.js#L49.
If `implementationFilter` is different than `'combined'` we can show another message, like `(The stack is empty because all its frames are filtered out by the implementation filter. You can switch the  implementation filter in the call tree to see more fra

[2019-08-22 13:35] globefire commented on #1390
@julienw Thanks a lot!!

[2019-08-23 10:23] fvsch opened #2222 "Prefer unprefixed user-select to -moz-user-select"
Hello there,

Firefox 69 shipped the unprefixed `user-select` property, as did Chrome 54 a while back.
[Full compatibility table on MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/user-select#Browser_compatibility).

In m-c I'm trying to make the CSS codebase more consistent and more approachable for contributors by removing the prefixed `-moz-user-select` and other prefixed versions since w

[2019-08-23 12:07] julienw commented on #2222
I think we want to support latest Firefox ESR (so 68 these days) and recent Chrome.
So I'd go with the second solution

[2019-08-23 12:27] #1732 closed

[2019-08-23 13:59] #2222 closed

[2019-08-27 11:26] canaltinova commented on #2213
@julienw I don't know if it's possible to change the current regex to have special case for `file://` that keeps the last two part of the url. To do that, we would probably need a special handling and I'm afraid that it would make the process slower(it's slow in large profiles already). I think it would be better to remove the all `file://` url instead. What do you think?

[2019-08-27 11:51] julienw commented on #2213
I'd be fine with that, in the comment above I was outlining just that `remove the string "after /Users/ until /"` doesn't work.

Looking at the regexp I see it could likely be made faster by user non-grouping groups for the ones that we don't need, and use an anchor at the start:
original is `'((https?|ftp' + regExpExtension + ')://)([^\\s/$.?#].[^\\s)]*)'`
=> `'\\b((?:https?|ftp' + regExpExtensio

[2019-08-29 14:02] julienw commented on #1643
We discussed today that we were a bit sad but not too sad, and didn't have good ideas to show the information again.
The way it was doing it before also had its problems (accessibility especially).
One solution could be to make the inverted flame graph work well ?

[2019-08-29 14:02] #1643 closed

[2019-08-29 14:03] julienw commented on #1571
We discussed it during today's meeting and decided to keep the current name until we see signs that our users are confused by it.

[2019-08-29 14:03] #1571 closed

[2019-08-30 09:09] #1939 closed

[2019-08-30 09:16] julienw commented on #1428
@rbrishabh hey, do you think you could take this one next? The work is outlined in https://github.com/firefox-devtools/profiler/issues/1428#issuecomment-435509977.

[2019-08-30 09:17] julienw commented on #1390
hey @globefire, I'm checking out if you could move this forward or if you need some more help :) thanks!

[2019-08-30 09:34] rbrishabh commented on #1428
Definitely! I am on it!

[2019-08-30 12:22] canaltinova opened #2229 "Update the regexps to support Bailout and Invalidate markers in a sanitized profile"
We have some regexes that assumes we have URLs in those markers:
https://github.com/firefox-devtools/profiler/blob/78e6577f0e0d6208acd2855405cb51c3667904a0/src/profile-logic/marker-data.js#L157-L171
But in a sanitized profile  we have `https://<URL>` or `moz-extension://<URL>` instead. We should also take it into account and gracefully update if that's the case.

You can also see the error that we

[2019-08-30 12:32] #2213 closed

[2019-08-30 21:49] rajmeghpara opened #2230 "Remove the FlowFixMe once getAsEntry is a standard function and has a flow type"
┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FP-204)

[2019-09-01 14:48] globefire commented on #1390
I am still reviewing the code, I've understood what each line depicts but I am still not able to figure out how I can modify the code. Give me more 36hrs if I'm not able to figure out I'll ask you for help.

[2019-09-03 21:45] brisad commented on #2229
@canaltinova The regexes extract script name and line number in order to put that information into the marker payloads, like the `BailoutPayload`. How should we handle this missing information?

I suppose we either could silently drop the marker, or create the maker, but make it incomplete. That is, we show that a bailout happened, but without the information that has been filtered out. I think th

[2019-09-04 09:35] julienw commented on #2229
I think we want to add the markers, but with `null` as value for the values we don't have anymore. Except the URL where we might want to make it clear it's been filtered out, and keep `<URL>` for this reason.

[2019-09-05 07:23] gribnoysup commented on #2189
I know that usually there is only one issue assigned to a contributor, but the one I have assigned is ready for review and I would love to help some more. So if it's okay I would like to help with this one

[2019-09-05 15:39] julienw commented on #2189
hey @gribnoysup, yes please, you can take it, assigning to you!

[2019-09-05 16:52] gregtatum opened #2231 "Font size"
We've had some inconclusive discussion around font size, and I wanted to address it to help find consensus. First off, I grabbed the font sizing from a variety of applications that are relevant.

## Atom Editor (windows) default font size:
 * Code view: 14px / 21px "Menlo"
 * Side bar: 12px / 24px "system-ui"

## profiler.firefox.com
 * Call tree: 11px / 16px "message-box"

## VS Code (windows)
 *

[2019-09-05 16:54] julienw commented on #2231
Also relevant is the photon spec about typography: https://design.firefox.com/photon/visuals/typography.html
(Be sure to switch to the "Web" tab in the various tables.)

[2019-09-05 17:46] gregtatum commented on #2231
I updated the list with the photon information.

[2019-09-06 16:41] julienw commented on #2080
I wrote some thoughts about a possible implementation in https://docs.google.com/document/d/1HxNLWcz8qEZdBBLmRllSk7aBkwhBXnGQPbdOd_YTKtI/edit?usp=sharing
Feedback welcome!

[2019-09-07 15:02] globefire commented on #1390
Hey, @julienw can you help me further, I still can't figure out my way.

[2019-09-17 11:35] #2229 closed

[2019-09-18 07:40] julienw opened #2241 "Searching in the flame graph should highlight the searches instead of filtering"
Currently, because the flamegraph is linked to the call tree data, entering a search string filters the data. But it is unlikely that this is what we want in the flamegraph, because this changes all measurements.
Rather we should highlight the search results.

What do you think?

[2019-09-19 20:20] gregtatum commented on #690
Just got this request again from @jimblandy, also he wants @hotsphink to write his transforms for him :)

[2019-09-19 20:52] gregtatum commented on #690
Thinking this through a bit, it would be hard to filter on native frames, since they get symbolicated realtime, and thus transforms would easily be invalidated. We could support transforms on label frames pretty robustly since those are stable through symbolication. Plus we control the pipeline there, and it's stable across platforms.

[2019-09-20 15:18] gregtatum opened #2244 "Compute the implementation type for a JS Tracer thread"
After #2104 lands, we still need to compute the implementation type for each JS tracer frame. This should be achievable by noting the event type of parent events.

[2019-09-23 14:48] gregtatum opened #2246 "Cannot publish profile created with ./mach talos-test --geckoProfile"
In [Bug 1583218](https://bugzilla.mozilla.org/show_bug.cgi?id=1583218) @juliandescottes wrote:

STRs:

 * run a talos test with --geckoProfile, eg:

[code]

 * wait for the profiler to open
 * try to:
    * publish the profile (button is called re-publish ?) -> loads indefinitely
    * get the short URL: trying to open the URL in a browser says "Could not download the profile" (example url: https:

[2019-09-23 19:43] gregtatum opened #2247 "Profiler sanitizer always runs, even if we aren't removing any PII"
The sanitizer always runs due to the this incorrect check in `getRemoveProfileInformation`.

https://github.com/firefox-devtools/profiler/blob/4f52d1cba6c85b06fd0a403700d48c3aa7a8a06f/src/selectors/publish.js#L82-L89

I'm labeling this as a "polish" bug, as nothing breaks, but it would be nice for this to work as expected.

[2019-09-23 19:43] gregtatum commented on #2247
/cc @canaltinova

[2019-09-23 20:00] jrmuizel opened #2248 "TypeError: e is undefined"
I get this sometimes. I don't know why it comes and goes.
[code]

[2019-09-24 15:56] julienw commented on #2248
The line numbers seem consistent, so this means that this happens in https://github.com/firefox-devtools/profiler/blob/4f52d1cba6c85b06fd0a403700d48c3aa7a8a06f/src/profile-logic/process-profile.js#L97
called from https://github.com/firefox-devtools/profiler/blob/4f52d1cba6c85b06fd0a403700d48c3aa7a8a06f/src/profile-logic/process-profile.js#L802

Then my theory is that `sample_groups.samples` can be

[2019-09-25 15:09] julienw commented on #2248
From the code in https://searchfox.org/mozilla-central/rev/45f30e1d19bde27bf07e47a0a5dd0962dd27ba18/tools/profiler/core/ProfileBufferEntry.cpp#1569 it looks like this is possible that `sample_groups` is an empty object.
Actually we may miss an array opening in this code: according to the doc in https://searchfox.org/mozilla-central/rev/45f30e1d19bde27bf07e47a0a5dd0962dd27ba18/tools/profiler/core/P

[2019-09-25 15:10] julienw commented on #2248
Hey @squelart, is that something you could investigate deeper? Is it expected that we have several `sample_groups`, and in that case we should have an array?

[2019-09-25 15:20] gregtatum opened #2252 "Ensure we have good aria labels for marker table"
It turns out that the call tree component was creating nonsensical aria labels for components like the marker table. With #2243 these labels were removed. We should check that we are doing the correct thing here and presenting good accessibility information in the marker table.

[2019-09-25 15:21] gregtatum opened #2253 "Ensure we have good aria labels for the zip file tree"
It turns out that the call tree component was creating nonsensical aria labels for components like the zip file tree. With #2243 these labels were removed. We should check that we are doing the correct thing here and presenting good accessibility information in the zip file tree.

[2019-09-25 22:14] #2185 closed

[2019-09-26 13:03] squelart commented on #2248
Yes, that looks odd! The doc in the .h shows an array, but the doc _and_ code in the .cpp produce an object, but in case of multiple samples, they'd all go into that one object?
I'll need more time to look into this, sorry... I've opened https://bugzilla.mozilla.org/show_bug.cgi?id=1584190 for that.

[2019-09-27 16:23] #2248 closed

[2019-09-27 17:50] #1428 closed

[2019-09-27 18:50] #2246 closed

[2019-09-30 13:55] julienw opened #2259 "[Tree view accessibility] The link's color isn't contrasted enough when the line is selected"
STR:
1. open a zip file: for example with [this url](https://master--perf-html.netlify.com/from-url/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FdZfkJIG1RkG6CK6I8V5wrg%2Fruns%2F0%2Fartifacts%2Fpublic%2Ftest_info%2Fprofile_about_preferences_basic.zip/calltree/?v=4)
2. click on a line, without clicking on the link

=> the contrast is too low, at least on Linux:
![image](https://user-images.gith

[2019-09-30 13:56] julienw commented on #2259
The solution could be to change the link's color when the line is selected, possibly to white like normal lines?

[2019-10-02 12:23] julienw opened #2260 "We can't install the addon while Firefox is full screen, with a silent error"
STR:
0. Use a Firefox with a profile without the profiler add-on
1. Go to https://profiler.firefox.com.
2. Put firefox full screen (F11).
3. try to install the add-on.

=> this silently doesn't work
There's a message in the console about the fact we can't install an add-on while fullscreen.

We need to see if we can catch the error and show it in the UI. Or champion a bugzilla bug to make it more

[2019-10-02 21:38] jasonLaster commented on #690
I wonder if it would be nice to be able to collapse functions under a path, which would be more flexible than just a single file...

[2019-10-03 17:13] melvin2016 commented on #2260
I had tried to install the addon on full screen but i can't seem to generate the issue. Its installing correctly

[2019-10-03 20:07] melvin2016 commented on #2259
I had open A PR.

[2019-10-04 17:19] mstange opened #2267 "UI breaks when right-clicking on the network track's label"
STR:
 1. Go to https://perfht.ml/2LKKkQ9
 2. Right-click on "Network" below "Parent Process".

Doing so replaces everything with "Uh oh, some error happened in profiler.firefox.com.":

[code]

[2019-10-06 06:46] melvin2016 commented on #2267
I'm Working on this.

[2019-10-06 07:43] melvin2016 commented on #2267
<img width="1552" alt="Screenshot 2019-10-06 at 1 10 53 PM" src="https://user-images.githubusercontent.com/22199666/66265858-e3da6a00-e83a-11e9-957e-6730512523f7.png">
Is `trackIndex` supposed to be `**5**` in `local` type.

[2019-10-06 11:15] melvin2016 commented on #2267
<img width="407" alt="Screenshot 2019-10-06 at 4 43 23 PM" src="https://user-images.githubusercontent.com/22199666/66268180-73dadc80-e858-11e9-97b3-2f6f7a4d6785.png">

`const localTrackOrder = localTrackOrderByPid.get(pid);
console.log('localTrackOrder', localTrackOrder);`  returns order like this .
@gregtatum can you please explain to me why this happens ?

[2019-10-06 11:30] canova commented on #2267
@melvin2016 hi, thanks for working on this! This is happening inside `renderIsolateScreenshot`, right? That's probably because we recently added that screenshot part. `5` as `trackIndex` is true for Network panel but it's not a `global` track. It's a `local` track.

This is happening because we run all the `renderIsolate*` functions and those functions return early if that function accepts only lo

[2019-10-06 13:06] melvin2016 commented on #2267
Ok. I will soon make a PR for this.

[2019-10-06 14:05] melvin2016 commented on #2267
@canova Is this OK?

[2019-10-07 15:20] julienw commented on #2260
"full screen" here means when we press "F11" so that Firefox is completely full screen. Is that what you tried?

[2019-10-07 15:52] julienw commented on #2001
Fpr any takers, see https://github.com/firefox-devtools/profiler/pull/2072 for a first implementation with some comments as a guidance.

[2019-10-08 05:51] melvin2016 commented on #2259
@julienw @canova  I closed the old PR and made a new PR.

[2019-10-08 08:28] #2259 closed

[2019-10-08 09:46] #2247 closed

[2019-10-08 11:48] #2267 closed

[2019-10-09 01:35] gsuberland commented on #2171
I am getting the same problem. Win10 v1903 x64 + Firefox 69.0.2 64-bit.

[2019-10-09 01:58] miggs125 commented on #1251
I'd like to work on this!

[2019-10-10 11:48] canova commented on #1251
@miggs125 great, assigning to you! Let us know if you need anything.

[2019-10-12 15:51] miggs125 commented on #1251
I made a PR for review. I read what was discussed in [#1380](https://github.com/firefox-devtools/profiler/pull/1380#issuecomment-431350729) and submitted a PR for review. Let me know if you would like me to make any changes.

[2019-10-14 12:32] julienw commented on #2171
Ah that's interesting.
We had a look with another colleague who uses uMatrix, and he reproduces the same problem. What's especially interesting is that there's nothing in uMatrix interface revealing that it blocked the download. Also interesting is that downloading a XPI directly works (tested on https://julienw.github.io/forms-extension/ which holds a custom extension I made).

So here are severa

[2019-10-14 13:10] #1007 closed

[2019-10-14 15:47] mstange opened #2279 "Missing fill in network bar in this profile (unexpected opacity:0)"
Profile: https://perfht.ml/2OOFgfI

<img width="1212" alt="Screen Shot 2019-10-14 at 11 39 01 AM" src="https://user-images.githubusercontent.com/961291/66764431-c5e2ba00-ee77-11e9-99f9-2e6baa594e56.png">

For this network request, the tooltip shows a long time spent in "HTTP Response", but in the bar that time is empty instead of filled with opaque dark gray. Emptiness usually indicates that the r