[2018-08-21 20:59] #736 closed

[2018-08-21 20:59] #1205 closed

[2018-08-21 22:04] #1169 closed

[2018-08-22 17:05] julienw commented on #1195
Another issue is with the tooltip: currently we use the "type" property to distinguish marker types and decide how to display the tooltip content. So I think we'd need to fix this first (I believe you created a bugzilla bug for this but I can't find it at the moment).

[2018-08-22 19:44] mstange opened #1217 "Yarn warns about incorrect peer dependencies"
When I run `yarn install`, it spits out a few warnings.
I'm not 100% certain if these are a problem, but if we can fix them by updating more modules, we probably should:

[code]

[2018-08-28 17:50] julienw opened #1223 ""Unable to get the track order from the given pid" when pressing "back" after loading a profile"
STR:
1. load a profile, eg https://perfht.ml/2LAJVwr
2. press the back button

=> there's an error `Error: "Unable to get the track order from the given pid"`

I recall a similar error from some time ago, so maybe this is preexisting the timeline work and isn't a regression -- but I don't know.

[2018-08-29 07:21] zoepage opened #1224 "Unexpected Priority Value in Network Marker"
Our expected priority values are following:
[code]
[reference in code](https://searchfox.org/mozilla-central/source/xpcom/threads/nsISupportsPriority.idl#24-28)

Just found a marker with the priority value `2`, which does not seem right.

[profile](https://deploy-preview-1183--perf-html.netlify.com/public/fa8770cf44c0d2ca9fa9776bb9d583acffa8db07/network-chart/?globalTrackOrder=0-1-2-3-4-5&hiddenGl

[2018-08-29 09:35] julienw commented on #1224
Note the priority can be adjusted in https://searchfox.org/mozilla-central/rev/a80651653faa78fa4dfbd238d099c2aad1cec304/xpcom/threads/nsISupportsPriority.idl#44

It looks like these constants are used for the `AdjustPriority` call, so not as a absolute values but as delta values (see [this example](https://searchfox.org/mozilla-central/rev/55da592d85c2baf8d8818010c41d9738c97013d2/layout/style/Font

[2018-08-29 10:14] zoepage commented on #1224
Thanks for the info. I'll add something to catch that use case in #1130.
Out of curiosity, I'd love to know more about the context @jesup :)

[2018-08-29 13:55] #1196 closed

[2018-08-30 13:27] gregtatum opened #1228 "Create Flow type TracingMarker<Payload>"
This will let us have tracing markers that can have specifically typed payloads, which would be nice.

[2018-08-30 13:56] julienw opened #1229 "After loading perf.html on a non-default panel, the panel is switched to call tree when selecting a different thread"
STR is:
1. open an URL that's not on the default panel (eg: markers) [here is an example](http://localhost:4242/public/e3b6f9cfa34dc375fd767fa0254a39a1bf30a36e/marker-chart/?globalTrackOrder=0-1-2-3&localTrackOrderByPid=6945-0~&react_perf&thread=4&v=3)
2. select another thread
=> the view switches to the calltree panel but it should stay on the same panel.

[2018-08-30 13:57] julienw commented on #1229
This is recent as this doesn't happen on the deployed version yet.

[2018-08-30 13:59] julienw commented on #1229
A bisection gives me 45e13b074bbe09b512382acfe12fdd92657a49d2

[2018-08-30 14:06] julienw commented on #1229
The condition in https://github.com/devtools-html/perf.html/commit/45e13b074bbe09b512382acfe12fdd92657a49d2#diff-b1f2126428eca56f3e400532a6de3d28R129 seems off (not comparing the right values -- flow doesn't know because that's all numbers).

But the real issue is that in this case the selectedTab is "calltree" even when another tab is selected. I don't know why yet.

[2018-08-30 16:27] #1056 closed

[2018-08-31 09:39] #1229 closed

[2018-08-31 12:10] #840 closed

[2018-08-31 12:24] julienw opened #1233 "Extract css data into separate CSS files"
Currently we load our CSS directly with style-loader but we should extract the CSS in separate files.

We can use https://github.com/webpack-contrib/mini-css-extract-plugin along with https://github.com/webpack-contrib/css-minimizer-webpack-plugin#getting-started for minimization. The documentation for these plugins looks pretty clear.

┆Issue is synchronized with this [Jira Task](https://mozilla-

[2018-08-31 14:43] #1195 closed

[2018-08-31 14:56] julienw commented on #955
The scenario outlined above seems to work fine now. Maybe fixed by https://github.com/devtools-html/perf.html/pull/1134

[2018-08-31 14:56] #955 closed

[2018-08-31 14:59] julienw commented on #1089
other slow profiles:
* https://perfht.ml/2oqXTYE
* https://perfht.ml/2wAZ3EH from #593
* https://perfht.ml/2G0dhpa from #865

[2018-08-31 15:01] julienw commented on #1089
https://github.com/devtools-html/perf.html/pull/1234 is an initial work to make *redraws* faster, when just hovering for tooltips.

[2018-08-31 15:10] julienw commented on #593
Closing in favor of #1089.

[2018-08-31 15:10] #593 closed

[2018-08-31 20:29] mstange opened #1235 "Never hide the GPU process by default"
Example profile: https://perf-html.io/public/5e32d56b5a4eb9b13882eac3be8879b05d259376/

This profile has a GPU process, but it's hidden by default, probably because its main thread is idle.
I think it would be good to special-case the GPU process and never hide it, regardless of activity. We can hide other idle threads inside it, though.

[2018-08-31 21:15] #1235 closed

[2018-09-02 10:28] saranshbarua commented on #801
Hi, I would like to work on this.

[2018-09-02 11:16] saranshbarua commented on #801
@julienw , @gregtatum Solved this. Please check it out.

[2018-09-02 19:35] saranshbarua commented on #905
Hi, I can work on this.
We can add a **Back to main** button which takes the user to the home page where he can upload another profile.
May need your help @mstange @julienw with the browser's back button action.

[2018-09-03 09:01] ryzokuken commented on #1021
Picking this up. Thanks!

[2018-09-03 09:16] ryzokuken commented on #1021
Please close this.

[2018-09-03 10:12] zoepage commented on #1021
thanks @ryzokuken for the hint.
this was solved in #1039.

[2018-09-03 10:12] #1021 closed

[2018-09-03 11:54] #801 closed

[2018-09-03 11:59] #939 closed

[2018-09-03 12:35] julienw commented on #905
There's a general issue about our handling of the back button at load time. This happens also when we retrieve a profile successfully.

[2018-09-04 13:54] gregtatum commented on #1051
+1 on sensible merge commits, and this format seems to be working nicely.

[2018-09-04 14:16] zoepage commented on #1051
+1
thanks for the idea and write up @julienw

[2018-09-04 14:41] zoepage commented on #1224
Merged #1226

[2018-09-04 14:41] #1224 closed

[2018-09-04 14:41] zoepage commented on #1130
Merged #1226

[2018-09-04 14:41] #1130 closed

[2018-09-05 10:03] #1217 closed

[2018-09-05 13:26] #1060 closed

[2018-09-05 13:28] julienw commented on #1233
hey @saranshbarua, after our quick chat on Slack, do you still intend to look at it ? If yes I'll assign the issue to you :)

[2018-09-05 13:32] gregtatum opened #1242 "Stack chart should not select call nodes on click/drag"
Steps to reproduce:
 * Open up the stack chart
 * Mouse down on an unselected call node
 * Drag the mouse
 * Release the mouse button

Expected behavior:
 * The chart should drag without selecting the call node under the mouse.

Actual behavior:
 * The chart is dragged, and the call node under the mouse is selected.

[2018-09-05 14:13] saranshbarua commented on #1233
I would love to try.

[2018-09-05 20:35] saranshbarua commented on #905
@julienw any hints on what can be done? Should I add a back button for now, then tackle the browser button issue?

[2018-09-06 13:18] gregtatum opened #1245 "Match up the time of the details panels with the timeline"
The stack chart, marker chart, and network chart should all match the timeline at the top. It used to do this, but now does not.

[2018-09-06 14:39] gregtatum opened #1246 "Clean up the argument ordering of initializeLocalTrackOrderByPid and initializeGlobalTrackOrder"
This is a review follow-up from #1241

[2018-09-07 09:46] julienw commented on #905
@saranshbarua For the specific issue outlined by Markus in the first comment https://github.com/devtools-html/perf.html/issues/905#issue-311353173, the problem lies probably in the state about the URL handling.

This is where we decide how to display the `<Home>`:
https://github.com/devtools-html/perf.html/blob/b6af3f71ea9aa671aeeb499035b2a8f4fcade1bd/src/components/app/Root.js#L162-L165

We see t

[2018-09-07 09:48] julienw commented on #905
And in case you wonder, this is where our URL handling is done: https://github.com/devtools-html/perf.html/blob/master/src/components/app/UrlManager.js, https://github.com/devtools-html/perf.html/blob/master/src/app-logic/url-handling.js and finally https://github.com/devtools-html/perf.html/blob/master/src/reducers/url-state.js

[2018-09-07 17:43] julienw opened #1251 "The marker table's context menu should propose to copy the marker name"
Currently the only way to copy a marker's name is selecting the row and pressing ctrl+C. It should be in the context menu too.

You could use https://perfht.ml/2wRgEZg as a test.

The code for the context menu is in https://github.com/devtools-html/perf.html/blob/master/src/components/marker-table/ContextMenu.js.

This is the code we use to copy in the treeview:
https://github.com/devtools-html/pe

[2018-09-07 20:01] mstange opened #1253 "React warning about updating unmounted Tooltip component during StackChart test"
[code]

[2018-09-07 21:30] mstange opened #1254 ""Error: Cannot find module '@babel/register'" in our tests on Travis"
If you go to a recent travis run on a PR ([example](https://circleci.com/gh/devtools-html/perf.html/2431?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link)), you'll see the following errors in the log of the `yarn test --coverage --runInBand` job:

[code]

This error occurs multiple times. It does not seem to cause the tests to fail.

[2018-09-07 21:58] past opened #1255 "Marker start time should take thread sampling start time into account"
<img width="1003" alt="long-event" src="https://user-images.githubusercontent.com/49118/45244737-fdaf2380-b2ad-11e8-8965-cdb2e3fd2615.png">
In this instance it appears that when a marker has no start time, we are using the start time of the profile. This works in every case except when sampling for this particular thread didn't start at the same time as the other threads. A more correct solution w

[2018-09-07 23:38] domoritz opened #1256 "Show time in flame graph"
It would be super useful if you could see the runtime in the flame graph.

Related: #222

Chrome:
<img width="1246" alt="screen shot 2018-09-07 at 16 37 05" src="https://user-images.githubusercontent.com/589034/45247422-69988880-b2bc-11e8-9386-2e18bd8a6091.png">

Firefox:
<img width="1164" alt="screen shot 2018-09-07 at 16 37 23" src="https://user-images.githubusercontent.com/589034/45247423-6d2c0

[2018-09-10 11:54] #1132 closed

[2018-09-10 12:31] zoepage opened #1257 "Show file "categories" in network panel"
When we want to show the category of a resource in the network panel (e.g. image, js, css, font...), what would be the best way to get that information?

@gregtatum @mstange

[2018-09-10 12:36] zoepage opened #1258 "Add status & method of request to display in network panel"
It would be nice to display the HTTP status & method of the request in the network panel.

<img width="541" alt="screen shot 2018-09-10 at 14 34 16" src="https://user-images.githubusercontent.com/562354/45297745-a657c000-b506-11e8-86cc-d07baa3bd453.png">

What would be the best way to access that information?
@jesup @gregtatum @mstange

[2018-09-10 12:45] zoepage opened #1259 "Crop URLs in network panel"
As URLs can be very long in the network panel the idea was to crop them.

Possible options:
1. The URL is cropped and shows the file. If there is just the domain, just the domain is displayed. [Profile](https://deploy-preview-1232--perf-html.netlify.com/public/667c87a4905824b0ee87dac2704bff7911fc27e6/network-chart/?globalTrackOrder=1-2-3-0-4&hiddenGlobalTracks=1-2-3&hiddenLocalTracksByPid=7373-1&l

[2018-09-10 15:06] digitarald commented on #1258
Maybe taking a step higher back, on what this tool is solving for to scope the most impactful work. The main insights that the network panel should provide atm are around slow/large resources, critical rendering path, network congestion.

How far is status important for performance analysis, beyond the data we have so far (success, redirect)? Is it useful, to show in a secondary UI, e.g. sidepanel

[2018-09-10 15:33] digitarald commented on #1259
I am a fan of shortening URLs

Good luck 🍀. The FF frontend team is trying to come up with good middle cropping to replace XUL and there is no CSS spec in sight. Not sure if that was successful.

Some thoughts:

1. Emphasize domain for easy scanning dependencies/3rd-parties
2. Potentially hide protocol to keep it concise
3. Cropping the end

[2018-09-10 18:53] mstange commented on #1257
We should probably pick up the information in a similar place (or based on the same data) as the devtools network monitor does. I don't know how it does it.

[2018-09-10 19:11] gregtatum commented on #1257
My guess is that we'll need to file Gecko bugs for additional information we want to expose. I think the easiest way to track this is to have a meta bug on the profiler component, and list out all the various pieces of information you may want to show as separate bugs. Then we can cross-link bugs between Github and Bugzilla. We can also use the `needs gecko patch` label on the GitHub side.

Here i

[2018-09-10 19:13] gregtatum commented on #1258
This may need to be added on the Gecko end to the finish payload. although perhaps it's not something we should prioritize yet. I think it's still helpful to spec out the work, even if we don't actually do it.

[2018-09-10 19:17] gregtatum commented on #1259
Chrome has an implementation of middle cropping, although it relies on the canvas.

I think middle cropping is fine, I think ultimately we want something super scannable that doesn't get in the way. I think the signal here is the domain name, plus file + extensions.

[2018-09-10 20:56] digitarald commented on #1259
Brian's explorations to apply the old middle cropping to the file input: [bug 1446830](https://bugzilla.mozilla.org/show_bug.cgi?id=1446830). We should probably do the same thing.

Filename is a good indicator to see. I'd assume in many cases the mimetype is more useful than the extension. Maybe we can make up our own path-focused cropping as we need to split the URL in its segments anyways for hi

[2018-09-10 21:02] bgrins commented on #1259
I did some experimenting with middle crop for the file input in https://bugzilla.mozilla.org/show_bug.cgi?id=1446830 (for the `<input type="file" />` implementation). The closest I got was: https://codepen.io/anon/pen/xaYpEX, and it could be simplified a bit depending on the use-case, I'm sure. The downsides to it:

- It requires 3 copies of the string in the markup (I use [aria-hidden] to try and

[2018-09-10 21:58] digitarald commented on #1259
Did a quick CSS prototype of cropping on path and leaving domain and filename intact: https://codepen.io/digitarald/pen/gdvvpp

<img width="545" alt="image" src="https://user-images.githubusercontent.com/8599/45326850-ed938000-b509-11e8-9540-c94e3421cc6a.png">

Eventually depends on splitting the URL to generate the DOM, which could be done by regexp or URL library.

[2018-09-11 03:53] past commented on #1259
The main reason I brought up middle cropping is that in a non-Fission world, you can't assume the network loads in a content process will only correspond to a specific tab. That is the main use case for the devtools network panel, which takes advantage of that opportunity to emphasize the file names, which are ultimately what is of primary interest to the developer.

When investigating a profile t

[2018-09-11 05:10] digitarald commented on #1259
@past maybe I am missing something, but isn't my prototype above highlighting the things you care about, domain and filename?

Probably not relevant for this bug, but domains are as much PII as hashes and params; so truly anonymized URLs will have to go beyond cropping off those bits.

[2018-09-11 05:39] past commented on #1259
Oh, it definitely does emphasize the important parts and it provides more information at a glance than what we have now! What I wonder about is whether we can do better if we unshackled ourselves from the full URL.

I don't think I care about people knowing that I visited gdocs as much as I care about them figuring out which unlisted document I was working on. And there are certainly many directio

[2018-09-11 11:42] hritvi commented on #1251
/claim

[2018-09-11 16:43] digitarald opened #1261 "[Discussion] Anonymize profiles"
What happened so far:

1. We added a safeguard to not upload profiles with network resources URLs as they might contain PII

What's still there:

1. PII is still spread across profiles as URLs are included in markers and source file.

What's success:

1. Technical and non-technical users can upload profiles while knowing which aspects of their browsing session are shared (and which are not).
2. En

[2018-09-11 16:48] digitarald commented on #1259
Lets show as much information as we have with the space available. Especially in production environments, filenames have less and less meaning. When we know the constrains that anonymized profiles operate in, we can adjust for them.

Continuing [here](https://github.com/devtools-html/perf.html/issues/1261) to limit scope of this discussion.

[2018-09-11 16:48] digitarald commented on #1259
@zoepage what are your thoughts on the cropping proposal so far?

[2018-09-11 16:51] digitarald opened #1262 "Unify merge logic between network track and panel"
Network track should not show start markers for resources that have a stop marker for the full duration.

@zoepage's network panel logic should probably be applied there as well.

[2018-09-11 18:31] gregtatum commented on #1262
This will get solved once network markers go through the tracing marker matching process, and the network track component gets wired to use them. I'm re-categorizing as feature work, as this is working as intended so far.

[2018-09-11 19:55] gregtatum opened #1263 "Tracelogger prototype"
@dpalmeiro and I were discussing this on Slack, and I wanted to summarize the conversation here.

Here is a Flow type definition of the new data coming in.

https://github.com/gregtatum/perf.html/commit/4935311e1b86a616a0d7dbc8475a48c204e7c595#diff-40eaca4f392c08b735c3cfc365d5d21b

The plan for the initial prototype is to:

 * Match the event timing with the profile - @dpalmeiro
 * Write a functio

[2018-09-12 00:08] digitarald opened #1264 "[Discussion] Slice uploaded data by default to visible threads/time"
Aka: `WYSIWY-Upload`.

Match users expectations by only uploading what you see.

[2018-09-12 00:12] digitarald opened #1265 "[Discussion] Power user mode for Firefox engineers"
How do we protect privacy of users while unlocking the profilers' full potential for Firefox engineers?

### Ideas:

- Disable lean data measures on Nightly & custom builds
- Opt-in via addon with red-taped setting

### Decisions

1. Default to removing all PII before uploading profiles
2. Option to opt-in (and remember decision) on the site in the sharing screen
3. _To be discussed:_ Details on h

[2018-09-12 07:47] zoepage commented on #1259
After reading through the discussion, I prefer the option of displaying the file name without parameters. For me the domain is something, that bundles together the resources, so shows a developer if the load happened from their domain or e.g. a CDN. When we anonymize the URLs, we could remove the information from the UI, but still keep an identifier (e.g. domain: 1 for https://dom.org, domain: 2 f

[2018-09-12 15:20] fqueze commented on #1261
See also Issue #775.

[2018-09-12 18:04] digitarald commented on #1264
@gregtatum @mstange any technical challenges that we should be thinking about, cases where slicing doesn't work or has edge cases?

[2018-09-12 18:39] mstange commented on #1264
It depends how far we want to take it. Filtering out hidden threads is easy. Filtering visible threads to the visible range is a bit more tricky, depending on how fare we want to take it. We can just filter out the out-of-range samples, or we can blank out strings from the string table that are not needed for any funcs for frames for stacks in the in-range samples, or we can start culling things f

[2018-09-12 21:27] past commented on #1256
This seems to be about the performance panel in devtools, perf.html already displays the length of the current time range in the header. Devtools bugs should be filed in [Bugzilla](https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Performance%20Tools%20(Profiler%2FTimeline)).

[2018-09-12 21:39] domoritz commented on #1256
I see. Does this mean that future versions of Firefox will support this as well or what's the relationship between perf.html and the performance panel in firefox?

[2018-09-12 21:44] digitarald commented on #1258
Not trying to get too deep into the tangent. I wouldn't know how far it occurs on the web, but if so it probably causes more breakage than performance issues. The effect is still visible by seeing resources with negligible response times.

In the benefit of reducing scope: Showing status/method in the sidebar seems good enough for now and we can move information over to the main view when we see u

[2018-09-12 21:44] domoritz commented on #1256
Closing in favor of https://bugzilla.mozilla.org/show_bug.cgi?id=1490829

[2018-09-12 21:44] #1256 closed

[2018-09-13 05:03] digitarald commented on #1259
In most cases the filename should still be good (even though H2 will probably not lead to the big unbundling that it promises, but I digress ;) ). Filenames are an important part and also can be a long part that needs space to be meaningful, like github's `frameworks-95aff0b550d3fe338b645a4deebdcb1b.css`

Given that the central element of the Network panel is the waterfall chart, I would not assum

[2018-09-13 06:06] zoepage commented on #1259
Right now, the full URL is displayed in the tooltip as well as the title when you hover the URL. When we implement the sidebar, it will also be shown there.

[2018-09-13 10:38] zoepage opened #1267 "Network Start / End Markers do not match"
We have a bug, where the load ids of tracing markers do not match (start && end marker).

Profile 1
--------
https://deploy-preview-1232--perf-html.netlify.com/public/667c87a4905824b0ee87dac2704bff7911fc27e6/network-chart/?globalTrackOrder=1-2-3-0-4&hiddenGlobalTracks=1-2-3&hiddenLocalTracksByPid=7373-1&localTrackOrderByPid=7373-0-1~14121-0~&thread=0&v=3

STR:
Main Thread > Network > search for `h

[2018-09-13 14:11] mstange opened #1268 "The default thread selection can pick threads that are hidden because they're idle"
Example profile: https://perf-html.io/public/c83f35f975ca337e598d2ff76e9cfeb77bd7f047

In this profile, we select "Content (3 of 5)" by default, but it gets hidden because it is idle.

[2018-09-13 14:22] mstange opened #1269 "Sidebar titles get squished at low window heights"
Steps to reproduce:

 1. Open any profile, e.g. https://perfht.ml/2CQBn5y
 2. Open the sidebar in the call tree.
 3. Reduce the height of your window.

This causes the section titles in the sidebar to be squished.
<img width="391" alt="screen shot 2018-09-13 at 10 12 41 am" src="https://user-images.githubusercontent.com/961291/45494012-18661a00-b73e-11e8-92a1-537e7b9d44bb.png">

The titles are gri

[2018-09-13 16:46] past commented on #1259
We had an offline chat with Harald yesterday and I think that his proposal is a better path forward for now. I still imagine we could come up with a slimmer URL visualization in the future, but let's not overrotate on this detail.

The key detail to remember is that the main use of the label that is displayed on the main view (versus the info in the tooltip or a sidebar) is that it has to enable a

[2018-09-13 20:48] mstange commented on #1269
We can, by wrapping them in elements that don't have `overflow:hidden`. Either way you need a wrapper.

[2018-09-13 21:44] zeb-stephen-downs commented on #1269
@mstange I think maybe a min-height of ~1.5 em would have resulted in a similar effect. I just submitted a pull request for your review: https://github.com/devtools-html/perf.html/pull/1273

[2018-09-14 08:30] zoepage opened #1274 "Screenshot preview is overlaying permalink"
<img width="344" alt="screen shot 2018-09-13 at 15 27 49" src="https://user-images.githubusercontent.com/562354/45538847-73fcda00-b808-11e8-87b0-c54f0ff0b4e0.png">

STR:
- Upload a profile
- hover over screenshot under permlink

[2018-09-14 21:34] past opened #1275 "Stack Chart has a different notion of categories than the Call Tree"
<img width="998" alt="wrong-category" src="https://user-images.githubusercontent.com/49118/45576225-2b0a4d00-b82b-11e8-9e9a-08f044ae39e4.png">
The Stack Chart apparently needs to be taught about the new categories that were recently introduced in the Call Tree. The category for mach_msg_trap should be Idle, not Platform.

[2018-09-15 09:14] brisad commented on #1019
At first I thought the arrow keys could be used for moving around the viewport, but in the Call Tree the arrow keys are used to select nodes, so perhaps those should be used for selecting nodes in the charts too. What do you think?

In that case either we can use other keys for moving around the viewport, or perhaps adding modifier keys to the arrows. But I imagine we would need more modifier keys

[2018-09-17 13:19] julienw commented on #1019
This is a very interesting idea indeed. Thinking even more broadly, including accessibility, this could make a nice way to use the charts for keyboard users and/or users using an assistive technology. I'm not sure how this works, but we could put some real text somewhere, including the content of the selected node, so that an assistive technology (screen reader or something else) can read it.

Ano

[2018-09-17 13:37] mstange commented on #1019
We could also use WASD for moving within the chart. I've seen other profilers do this but I don't remember which ones.

[2018-09-17 14:07] julienw commented on #1274
Here is an example of a profile with screenshots: https://perfht.ml/2MKT5Hy.

This is where the z-index for the permalink is defined:
https://github.com/devtools-html/perf.html/blob/f9fa9309ec19ee0a4718b1d1fe0524b5e725243a/src/components/shared/ArrowPanel.css#L5-L10

This is where the z-index for the screenshot hover is defined:
https://github.com/devtools-html/perf.html/blob/f9fa9309ec19ee0a4718b

[2018-09-17 14:22] gregtatum opened #1276 "Rename "implementation" to "frame type""
In #1275, there is confusion over the use of "Category" for the frame's implementation. I think the term "implementation" is a bit ambiguous. Historically (I at least) have avoided using it in the UI since I felt that users wouldn't know what that meant exactly. I think a more precise word that can be used both internally and in the UI could be "frame type". These frame types would be would be:

*

[2018-09-17 14:59] #1269 closed

[2018-09-17 15:10] julienw commented on #1269
I would have thought that `overflow-x: hidden` could have fixed it too, but nope :)

Thanks @zeb-stephen-downs for fixing this !

[2018-09-17 15:20] julienw opened #1277 "Add an option to a marker's context menu to select a range from its start and duration"
In the marker table, we can right click on markers and get a context menu. From this context menu we can currently set the start and end points from markers.
It would be useful to be able to set the both points from one marker if this marker has a duration.

So the behaviour could be like this:
* add an entry to [the context menu](https://github.com/devtools-html/perf.html/blob/master/src/componen

[2018-09-17 15:49] julienw commented on #1276
I don't like "implementation", I don't really like "frame type" either but it seems better, and I don't have very good ideas TBH :) Maybe something related to "execution" ?

[2018-09-17 16:05] gregtatum commented on #959
This issue is labelled as a bug, which from the discussion sounds like this is a feature request, as a new transform is being requested. I believe we should either close this bug, or rename the title to the desired transform, and write a detailed description of the transform operation.

ni? @julienw @fqueze

[2018-09-17 16:14] gregtatum commented on #883
What is the desired outcome here? The information will be truncated regardless of what we do. I'm going to remove the bug label, as the polish and accessibility seem to be the proper labels, but this is not truly breaking things for our users, as some information is hidden anyway. I'm happy to add the bug label back if someone disagrees.

I think a better "steps to reproduce" profile would be help

[2018-09-17 16:35] gregtatum commented on #606
This was fixed on the gecko side too, closing,

[2018-09-17 16:35] #606 closed

[2018-09-17 16:39] brisad commented on #1268
I think this bug is caused by these lines:
https://github.com/devtools-html/perf.html/blob/2385360d481acf88f17b9503555289087a652b75/src/profile-logic/tracks.js#L468-L473
`hiddenGlobalTracks` is a Set of track indices, but here it is compared with a thread index.

[2018-09-17 16:39] gregtatum commented on #637
ni? @julienw @mstange

Do we have something concretely actionable here? In perf.html this is effectively labeled as a `P1`, but on the gecko side with (Bug 1414383)[https://bugzilla.mozilla.org/show_bug.cgi?id=1414383] it's labeled `P3`.

I think we should either:
1. Investigate this more, and come up with some concrete steps.
2. Close this bug, and re-prioritize Bug 1414383 to a P1.

[2018-09-17 16:47] gregtatum commented on #1268
@brisad ah nice catch! Thanks, I'll send in a quick PR to fix it.

[2018-09-17 17:09] gregtatum commented on #813
Ah, this is because the stack chart computes timing differently than the call tree.

The call tree sums up all the samples count, and multiplies it by the interval time.

The stack chart draws bars based off of concurrent samples, so it ignores the sample rate. This time is measured by when the first stack was observed, to when the last stack was observed ending, so `stackBarEndTime - stackBarStar

[2018-09-17 17:14] julienw commented on #813
It would be interesting to look at other implementations of the same things.

[2018-09-17 21:55] gregtatum commented on #813
Thinking about this further, the issue is that the stack chart is attempting to reconstruct a trace view of a sampled execution, which is inherently a lossy operation since we don't have all the data. So in this case the timing is the estimated reconstructed timing, given the set of samples.

The call tree is showing the sampled time of execution, which is correct for a sample-based approach, but

[2018-09-17 21:59] gregtatum commented on #813
[code]

[2018-09-18 09:14] julienw commented on #637
I think this is a big issue on MacOS where some users might install XCode without never accepting the license and get into this issue. IIUC the error is that `nm` never stops, waiting for some input by the user who doesn't know about it. I believe Bug 1414383 is where the fix should happen.

[2018-09-18 09:15] julienw commented on #637
Also note I got this same issue on a friend's computer, but solved it by reseting his Firefox profile... (He had XCode installed). So I don't know what happened in this case, but this was likely unrelated to XCode...

[2018-09-18 11:04] julienw commented on #959
I agree it morphed from a bug to a feature request.
There is something we should be able to do, knowing the internals of Firefox. Maybe some label at the right places would make it easier to implement a transform ?

[2018-09-18 11:12] julienw commented on #1256
We also display the time of a specific node in a tooltip:
![capture d ecran de 2018-09-18 13-10-53](https://user-images.githubusercontent.com/454175/45683544-4be0e400-bb44-11e8-84ee-3144e5376837.png)

I see this isn't ideal, for example the unit should go to the right of the value instead of being in the label. I'll file a bug for this.

[2018-09-18 11:25] julienw opened #1282 "Tooltips in the flame graph should have the unit in the value"
Here is a screenshot:
![capture d ecran de 2018-09-18 13-10-53](https://user-images.githubusercontent.com/454175/45683651-8054a000-bb44-11e8-9124-8c9368b2a7e6.png)

We see that for the running and self timings, we display the unit in the label rather than in the value. We should display it in the value instead.

This happens here:
https://github.com/devtools-html/perf.html/blob/7efcd821b91195346df

[2018-09-18 11:26] julienw commented on #1282
Here is a profile to try this (with a "localhost" url): http://localhost:4242/public/dfc1b84f9982b4d67e0c1079bad2c582cde1f32f/flame-graph/?globalTrackOrder=0-1-2-3&hiddenGlobalTracks=1&localTrackOrderByPid=2399-0-1~2422-0~&react_perf&thread=0&v=3

[2018-09-18 11:46] julienw commented on #1259
I like Harald's implementation too. Except currently we "draw" the URL using canvas' commands, if I'm not mistaken. So either we would convert this in HTML or we'll need to implement this differently.

Or using `new URL` which is standard :)

[2018-09-18 11:52] julienw commented on #1258
This still means we need to get it, then :-)

I agree with what's been said here. That's interesting information but not critical to analyzing a profile: the timings are more relevant.

[2018-09-18 12:56] julienw commented on #883
Some information is hidden anyway, but I think the most important information is hidden while the less important is shown.

I find it easy to see on [this profile](https://perfht.ml/2PGIXRU), the STR is:
1. zoom in the page (ctrl +) several times
2. reduce the height of your browser window
3. hover on top of "reflow" markers (you can search them using the excellent search field)
4. If everything l

[2018-09-18 12:56] julienw commented on #883
Note that I agree it's a "polish" bug.

[2018-09-18 13:04] fqueze opened #1283 "Content process numbers should match their creation order"
In this startup profile https://perfht.ml/2MJgBnW I need to scroll to see the first content process, which is named "Content (3 of 3)".

I think ordering the processes by creation time would make sense here.

[2018-09-18 14:43] gregtatum commented on #637
I re-prioritized [Bug 1414383](https://bugzilla.mozilla.org/show_bug.cgi?id=1414383) as a P1, but I think we should keep this open to ensure the UI does the right thing as well. Perhaps we should have a custom notification for Mac users, suggesting the solution to the problem?

[2018-09-18 15:30] julienw commented on #637
Something that would be displayed after a minute if symbolication is still not finished, if the user is on Mac ?

[2018-09-18 19:50] digitarald commented on #1258
Currently slotted for M3, while M2 encompasses adding visuals for timings, mimetype and priority.

Sounds like we have a wrap, that we start showing the details in the sidebar and adjust after observing how users make sense of the network panel.

[2018-09-19 05:59] hritvi commented on #1274
@julienw May I take this issue? Thanks :smile:

[2018-09-19 08:17] julienw commented on #1274
@hritvi of course you can, thanks for your help ! Is there anything else I can help with ?

[2018-09-19 08:37] julienw commented on #1283
This is a good idea, but I don't know how we can upgrade existing URLs/profiles to make this happen -- we would need to upgrade profiles and URLs together, but at the moment we upgrade them in 2 separate codebases.

Maybe this could happen directly in gecko instead ? Or at processing time ? Then we wouldn't have it for old profiles of course, but at least we'd have it for new profiles.

[2018-09-19 09:59] julienw commented on #1255
Labeling this as a bug, as it may get in the way of analyzing a profile.

[2018-09-19 10:10] julienw commented on #1254
From the stack we can see that this comes from workerjs. This is due to my recent change to workerjs in https://github.com/jasonLaster/workerjs/commit/8c7df3e465b1d096d5134c648287d4a6f9c3e4ea.

In the same commit I made workerjs depends on `@babel/register`, but for some obscure reason our `yarn.lock` still shows it depends on `babel-register`:

https://github.com/devtools-html/perf.html/blob/7efc

[2018-09-19 10:11] julienw commented on #1254
Oh and I believe this doesn't break our test solely because we don't have any test that really depends on our only worker.

[2018-09-19 10:35] julienw commented on #1253
Note that I see this in the wild too:
![capture d ecran de 2018-09-19 12-13-43](https://user-images.githubusercontent.com/454175/45747241-79da2d00-bc05-11e8-9f37-8f160cff7ca5.png)

This usually happens only once when I interact with markers.

A wild guess is this:
https://github.com/devtools-html/perf.html/blob/7efcd821b91195346df2ee3032d02fa0d80a9fee/src/components/shared/Tooltip.js#L41-L43

Othe

[2018-09-19 20:50] mstange commented on #883
I propose the following positioning scheme:

 1. If the tooltip fits between the mouse and the window's bottom edge, position the tooltip's top edge at the mouse.
 2. Otherwise, if the tooltip fits between the window's top edge and the mouse, position the tooltip's bottom edge at the mouse.
 3. Otherwise, if the tooltip fits between the window's top edge and the window's bottom edge, position the

[2018-09-19 20:54] digitarald commented on #1265
I brought this up in the perfteam IRC channel. Perf engineers so far would bias on not oversharing  and preserving privacy. It is unclear though how actionable profiles are with PII removed, so we might need to explore that first.

Closing this for now with a conclusion, but feel free to add comments.

[2018-09-19 20:59] digitarald commented on #1259
@zoepage would we have enough input to document the decision and close the discussion out for now?

[2018-09-19 21:01] digitarald commented on #1127
@past and I discussed picking this up for Q4 to help align our product names. Closing this for now.

[2018-09-19 21:11] mikeconley commented on #1136
I'm going to echo mstange's input here. I've definitely looked back at profiles > 6 months old. Having those go away would be unfortunate data loss. :/

[2018-09-20 00:43] aapeliv opened #1291 "The video under "Multiple threads and async code" is the wrong one"
On the online docs, the video for ["Multiple threads and async code"](https://perf-html.io/docs/#/./videos-threads) is actually the one for ["Samples and markers"](https://perf-html.io/docs/#/./videos-samples-markers).

[2018-09-20 06:12] zoepage opened #1293 "Documentation for components"
In the past few weeks, it took me some time to understand how things work, which params are optional and which not and what they expect. As we have in general a pretty good documentation,  I think we would profit a lot from that.

What do y'all think about documenting the components? I took a look the other day and there seem to be quite a few auto generating libs to help with that.

[2018-09-20 07:43] zoepage commented on #1276
I like `frame type` as it is not as pre-occupied as `implementation` or `execution`. People might not know what this is, but I think they will learn quickly and assign their meaning to the wording.

Here I think, `implementation` or `execution` might be confusing.

[2018-09-20 07:45] zoepage commented on #1259
Action item:
https://github.com/devtools-html/perf.html/issues/1259#issuecomment-420075192

Also, the color of the URL needs to have a high enough contrast to interact with the hover as well as still be accessible for everyone who is visually impaired.

[2018-09-20 08:37] julienw commented on #1293
I think that until then we saw the flow typing as "good enough" documentation. But I agree that for some of our more complex components (eg the VirtualList) we need a better documentation on which properties do what.

`which params are optional` should be already expressed in Flow, but what's not expressed in Flow is what happens when they're missing: change in behavior ? default value ? It's all

[2018-09-20 08:39] #1291 closed

[2018-09-20 09:59] julienw commented on #1265
For gecko engineers, I believe they're not much interested in the actual URLs (usually they're on the bug reports anyway) but rather the actual stacks. But they need to know if there are several pages in 1 process and which stacks are for which page. Knowing the exact URL doesn't seem really necessary.

[2018-09-20 10:00] julienw commented on #883
This sounds good; except maybe we don't need the 3rd step and could move to 4th step directly.

[2018-09-20 10:12] nbp commented on #1136
I concur towards removing old profiles.

While I agree that profile are containing information which might be extracted even after 6 months, profiles are also a terrible way to communicate. Adding a link to a Gecko profile on bugzilla and 40 persons will find 20 different reasons on why the page is slow.

If profiles were to expire after X months/days, then profiles would become an investigation s

[2018-09-20 12:28] zoepage opened #1294 "Canvas is not updated when sidebar is hidden"
STR:
1. Go to [profile](https://perf-html.io/public/667c87a4905824b0ee87dac2704bff7911fc27e6/flame-graph/?globalTrackOrder=1-2-3-0-4&hiddenGlobalTracks=1-2-3&hiddenLocalTracksByPid=7373-1&localTrackOrderByPid=7373-0-1~14121-0~&thread=5&v=3)

2. Open sidebar in flame graph
3. Open sidebar in callTree
4. Select a node in callTree
5. Switch so flameGraph
6. Close sidebar

Open:
<img width="1891" alt=

[2018-09-20 12:38] julienw commented on #1294
Actually the same happens when opening the sidebar in the flame graph, at step 2: the right part of the flame graph is hidden because we don't redraw the canvas. The same happens when we resize the sidebar too. So there are these 3 cases to handle: open, close, resize.

I remember I initially emitted a "resize" event in these cases, but I think I removed it when we moved the sidebar to the bottom

[2018-09-20 17:25] digitarald opened #1295 "Show Navigation Timing Markers in timeline"
Part of the timeline [PRD](https://docs.google.com/document/d/1p-NG-vHRlCwBWq1Rb463UEfnLmSRAeoAAbCA471EYqg/edit#heading=h.c0bo75ycsnpy). This is the main blocker for analyzing page loads.

Mark up page loads to allow visualizing the anatomy of a page load and selecting the right timespans.

| Timing | Color | Category/Marker |  Comment |
|---|---|---|---|
| Navigation Start | light gray | `unknown

[2018-09-20 17:39] mstange opened #1296 "Expose profile meta information in the UI"
We have this information in the profile JSON but we're not exposing yet. The most important information is:

 - What channel? Release / Beta / Nightly
 - What platform?
 - 32 or 64 bit?
 - build ID

[2018-09-20 17:39] mstange commented on #1296
- Link to source revision

[2018-09-20 17:42] digitarald opened #1297 "Allow opening JavaScript locations (via view-source or devtools' debugger)"
User story: When I want to see the file for a specific profile of a live site, I want to be able to click on a line reference in perf.html, so that I can see the file (even though it might be outdated, minified, not accessible, etc).

Constrains are here that the original file might be gone since then but this is much harder to solve so out of scope for this MVP.

Possible solution to solve this s

[2018-09-20 17:46] mstange opened #1298 "Provide an easy way of displaying prettified JavaScript source code for a given function"
This is part of #820, but JS-specific.

For JS slowness, the stacks in a profile are usually not enough information to determine whether or why something is a problem. When JS engine developers identify a potentially problematic JS function, they usually need to know what the JS function is doing, and they go through this manual process:

 - Open the script URL for the function, copy the source co

[2018-09-20 21:00] digitarald commented on #1265
Just saw with the JIT team and seeing a bailout or JIT tier issue without looking at the code would make it much less actionable.

[2018-09-20 21:45] gregtatum commented on #1253
This error will probably go away if we use portals instead of the custom `react-dom` calls.

[2018-09-20 21:54] gregtatum commented on #1293
@zoepage Could you clarify what you mean here? Are you talking about something that automatically generates HTML documentation from the source code, or something that automatically fills in our code with information?

As a general rule of them, I'm not a fan of automating the documentation process, as it can lead to lower quality docs. However I'm not sure on what the specific recommendation is.

[2018-09-20 22:03] gregtatum commented on #1294
I believe this should be fixed by re-drawing on the `panelLayoutGeneration` value changing, or firing the `invalidatePanelLayout` action when moving the sidebar.

[2018-09-20 22:05] gregtatum commented on #1295
This would be helpful if we grouped these per docShell.

[2018-09-20 22:08] gregtatum commented on #1297
This would be the best short-term solution. I think the more complicated version of this ties into per-line profiling information and sourcemaps.

[2018-09-20 22:09] gregtatum commented on #1298
It sounds like something we need the extension to fetch for us.

[2018-09-20 22:11] gregtatum commented on #1265
I'm having trouble parsing this sentence, could you re-state what the conclusion was?

[2018-09-20 22:13] gregtatum commented on #1267
Appears to be fixed on the Gecko side.

[2018-09-20 22:13] #1267 closed

[2018-09-20 23:44] digitarald commented on #1296
Duplicate of https://github.com/devtools-html/perf.html/issues/929 (carried over the feedback)

[2018-09-20 23:44] #1296 closed

[2018-09-20 23:44] digitarald commented on #929
Mentioned again during a JIT profiling session. Highlights mentioned were

- What channel? Release / Beta / Nightly
- What platform?
- 32 or 64 bit?
- build ID
- Link to source revision

[2018-09-20 23:46] digitarald commented on #1298
@mstange in the feedback it sounded also like #1297 might solve this short-term using FFs built-in view-source.

[2018-09-21 04:29] digitarald commented on #1265
Sorry, should have mentioned that decisions have been added to the issue description.

[2018-09-21 12:56] julienw commented on #1298
Is it the right issue to talk about sourcemaps as well ?

[2018-09-21 13:03] julienw commented on #1253
This is https://github.com/devtools-html/perf.html/issues/794 :)

[2018-09-21 13:13] mstange commented on #1298
That solves step 1 and part of step 2, but it doesn't extract the function from the rest of the file and it doesn't prettify it. So sure, we can do #1297 as a quick stop gap, but it'll be an inferior solution.

I don't think we have an issue about source map support yet, other than the meta issue #820.

[2018-09-21 15:34] brisad commented on #1019
Thanks for the input! I was thinking I could make a preview with both WASD and modifier + arrows so that we can test it, however I got stuck on the selection part. For the flame graph I think it conceptually is pretty straightforward how selection navigation with the arrows could work, but for the stack chart it is tricker. For instance, see this picture (my selection color is orange):
![screensho

[2018-09-21 15:36] mstange commented on #1019
Deferring selection sounds reasonable to me.

[2018-09-21 17:05] julienw commented on #1019
good for me; maybe for selection we should have another keystroke like <enter>.

[2018-09-21 20:02] digitarald commented on #1295
Update: Added TTI to the list of times

[2018-09-24 09:09] zoepage opened #1303 "Add category network to markers table"
In markers table the category for the type `network` is displayed as unknown.
https://github.com/devtools-html/perf.html/blob/master/src/components/marker-table/index.js#L87

[2018-09-24 10:03] #1242 closed

[2018-09-24 10:11] zoepage opened #1305 "Add helper to format seconds"
https://github.com/devtools-html/perf.html/blob/master/src/utils/format-numbers.js#L87

[2018-09-24 11:28] onkeltom commented on #1295
@gregtatum I don't know if you are aware, but there is [bug 1417976](https://bugzilla.mozilla.org/show_bug.cgi?id=1417976) open that should help with this.

[2018-09-24 12:33] julienw commented on #915
yeah I think it would be nice to have all the tooltip information in the sidebar for the marker table. Hopefully we can reuse `MarkerTooltipContents` :)

[2018-09-24 12:42] zoepage commented on #915
Yes, transferring the formatting to the `markersSidebar` component should definitely work.

[2018-09-26 12:31] julienw commented on #1255
Another example: http://bit.ly/2Qaa485
This time a refresh driver tick is involved.

[2018-09-26 18:03] jrmuizel opened #1314 "Don't upload screenshots by default."
They are too big and too private.

[2018-09-26 18:04] jrmuizel commented on #1314
The large size causes uploads to fail.

[2018-09-26 18:05] jrmuizel opened #1315 "Don't include query strings or fragment of urls by default."
This gives us better privacy by default and this information is rarely useful.

[2018-09-26 20:35] digitarald commented on #764
@gregtatum to make this more clear, would it make sense to rename this to "Stack chart should not combine JIT tiers per function"?

[2018-09-27 15:36] gregtatum opened #1317 "Update the Profile meta type definition to make certain properties optional"
Now that we are importing from other formats, we shouldn't enforce all of the meta information values.

https://github.com/devtools-html/perf.html/pull/1194/commits/51a940ef8b9cc5873b0ba30ab20270d8565bbb4a#diff-5a479a19c2e480ae2b127bed4ec258a4

[2018-09-27 15:37] gregtatum commented on #1317
(Controversially?) Labeling this as bug as we are technically wrong on the types which can lead to future errors.

[2018-09-28 08:54] zoepage opened #1321 "Add test for `network`type to marker.js"
The test should cover following:
https://github.com/devtools-html/perf.html/pull/1304

[2018-09-28 08:58] #1303 closed

[2018-09-28 09:59] zoepage commented on #1293
I was talking about `automatically generating HTML documentation from the source code`. So, adding comments to the code and generating documentation from this.

The latter would be better, but I could not find anything that was capable of doing this.

I agree that this is something, that might happen. But it would be a start and something we could get specific feedback on and iterate.

For me,
- I

[2018-09-28 13:12] #1282 closed

[2018-09-28 13:40] #794 closed

[2018-09-28 13:40] #1253 closed

[2018-09-28 15:29] julienw commented on #1293
This isn't completely related to the discussion, but I think that for these components the filename should have the same name (eg: `withViewport.js` instead of `Viewport.js`).

Otherwise I'm aligned with what Greg said. Yes we lack documentation in some of our components and we should fix that.

[2018-09-28 16:54] gregtatum commented on #1293
To complete my dangling thought:

My ideal state of documentation would be that each component has a nice preamble explaining what it does, and what it's about. Then the `OwnProps` would be fully documented (which it sounds like we haven't been doing), as this could be considered the component's public API. I think we should not document the `StateProps` nor the `DispatchProps`, as the documentati

[2018-09-28 20:37] brisad opened #1322 "Add locale support to utility functions in format-numbers.js"
If we add locale support (with `toLocaleString`) to `format-numbers.js`, we could take advantage of its functions in more places in the code. Using these functions more would reduce code duplication and can also help us avoid making mistakes like having a space between the value and the unit. See https://github.com/devtools-html/perf.html/pull/1302#discussion_r221195009 for reference.

An example

[2018-10-01 12:09] #1305 closed

[2018-10-01 14:44] julienw commented on #1066
after the change, we need to check if the app works OK (home page, and various other pages) with/without the service worker being registered, and check if the static file /sw.js can be accessed directly too.

[2018-10-01 14:48] julienw commented on #1020
In this bug we want to add a link to `docs-developer/deploying.md` to `docs-developer/README.md`.

[2018-10-01 14:55] julienw commented on #821
We moved to webpack 4 already.

[2018-10-01 14:55] #821 closed

[2018-10-01 15:01] julienw commented on #234
I'll be closing this. I think our current setup works fine at the moment.

[2018-10-01 15:01] #234 closed

[2018-10-01 15:02] julienw commented on #231
We don't have submenus anymore.

[2018-10-01 15:02] #231 closed

[2018-10-01 15:06] julienw commented on #115
Done :)

[2018-10-01 15:06] #115 closed

[2018-10-01 15:43] mstange commented on #1204
#1203 has taken care of this.

[2018-10-01 15:43] #1204 closed

[2018-10-01 16:52] julienw commented on #884
I wonder if thisis still needed now that we can search the marker chart from an input field? thoughts @mstange @gregtatum @fqueze ?

[2018-10-01 16:54] julienw commented on #883
The logic is in `src/shared/Tooltip.js`'s `render` function.

[2018-10-01 17:32] julienw commented on #1097
@PaulBone could you look at my previous comment ? thanks :)

[2018-10-01 19:08] #1167 closed

[2018-10-01 22:30] brisad commented on #1019
Here's a preview you can checkout. It adds simple shortcuts for charts which use viewports.
https://deploy-preview-1324--perf-html.netlify.com/public/6086f8478e068e9f9fa921ac5587b51c79d8b0d8/stack-chart/?globalTrackOrder=0-1-2-3-4&hiddenGlobalTracks=1-3&localTrackOrderByPid=7272-1-0~7391-0~&thread=5&v=3

I implemented three different navigation schemes at the same time, so that you can try them al

[2018-10-01 22:37] mstange commented on #1019
Please use `event.code`, as Julien suggested further upthread, instead of `event.key`. I use the Dvorak keyboard layout so the WASD keys are in odd places. And if you use `.code`, I can use the keys in the right places, even if they wouldn't result in the letters WASD if I was typing into a text field.

[2018-10-01 22:57] brisad commented on #1019
Ah, yes. Sorry, that helpful tip slipped my mind.

I've updated the code. Does the deploy preview update itself after pushing a commit?

By the way, the code for focusing the viewports needs to be better, so don't look closer into that part please :)

[2018-10-01 23:50] digitarald opened #1325 "Enable Share button for profiles that never finish symbolication"
The UI blocks sharing profiles that are not symbolicated as users clicked share too early. We have reports of failed symbolication (Bug [1414383](https://bugzilla.mozilla.org/show_bug.cgi?id=1414383) and maybe other unknown reasons) for which users can never share profiles for investigations.

Ideas:

- `Cancel` button in "Symbolicating …" overlay. Might appear after 10s to prevent accidental clic

[2018-10-02 00:57] mstange commented on #1019
That works a lot better, thanks! Two more things:

 1. Zooming in with <kbd>'</kbd> (which is in the location of <kbd>Q</kbd>) also triggers Firefox's type-as-you-find bar. I think this can be counteracted with a `.preventDefault()` in the right place.
 2. The panning "animation" is tied to the key repeat. This makes it feel a bit sluggish, especially at the start until key repeat kicks in. This i

[2018-10-02 10:48] zoepage commented on #929
As the sidebar idea is great, but will use up a lot of space on small displays that we need for the threads and the panels, I have another suggestion.

Quick mocks:

CLOSED:
![meta-info_closed](https://user-images.githubusercontent.com/562354/46344425-5cfc1b80-c641-11e8-9bec-9168688642d0.png)

OPEN:
![meta-info_open](https://user-images.githubusercontent.com/562354/46344430-5ff70c00-c641-11e8-90a1

[2018-10-02 10:58] julienw commented on #929
This works for me :)

[2018-10-02 11:06] fqueze commented on #1325
This is similar to issue #711 (which was opened after I mentioned that I tried to profile on very slow machines where symbolication never completed). I like the ideas proposed here :-).

[2018-10-02 11:15] fqueze commented on #884
The 2 use cases I had for wanting to select marker names were:
- using the findbar to find a marker quickly. This is case is indeed well covered by the new "Filter Markers" input field.
- selecting a marker name to search it in searchfox to figure out which code generates it.

So I would still like to be able to select markers for the second case. But it's probably lower priority now than it used

[2018-10-02 11:45] zoepage commented on #1136
To sum it up, the main issue why we want to delete the profiles after 6 months is data hygiene.

We assume users do not need to save their profiles in 99% of the time for 6 months.
Sometimes someone needs just to share the profile really quick and knows already it can be deleted in 2 weeks. Sometimes they know already they will need it for the next year.

An idea that might help with keeping the i

[2018-10-02 11:48] julienw commented on #1325
I think it's still a goal to reenable this "share" button when we'll do symbolication-at-loading-time. Maybe we can prioritize that work in the close future as most of the bits are already there ?

[2018-10-02 12:04] zoepage commented on #1325
@digitarald
I'd like to know what the issues is we are trying to solve. Why is the UI blocking?

Do we get an error it failed that we don't catch? Or do we need the timeout as we are missing a response? Or do we want to limit the waiting time and make sure the user can cancel the task when it takes too long?

Depending on the issue, i'm sure we can find a quick solution. :)

[2018-10-02 12:07] zoepage commented on #884
Is this something the sidebar would solve?

[2018-10-02 12:08] julienw commented on #1325
@ola We block on purpose exactly because we don't want unsymbolicated profiles because they're useless.
The problem we have here is that we have profiles that are partly symbolicated (especially we got libxul symbols from the server) that could still be useful but sharing is blocked.

[2018-10-02 12:08] julienw commented on #884
This and/or having "copy marker name" in a context menu

[2018-10-02 12:18] fqueze commented on #884
Hopefully it will, yes. Unless we show the sidebar by default, this may remain less discoverable than simply double clicking to select and then Cmd+C to copy... but this is also a niche use case, so maybe it's fine.

[2018-10-02 12:48] zoepage commented on #1325
Do we get an error that the symbolication as failed that we could use as an indicator for enabling the share button?

If not, setting a timeout would make sense. But please note the length would be crucial as enabling a button during an action (e.g. upload, processing etc) indicates a desirable action for a user (pressing the button). This means, the moment we enable the button, the user will very

[2018-10-02 12:53] julienw commented on #1325
That's the problem we have with the xcode issue: this blocks and we get no callback at all, neither success or failure. I believe prioritizing https://bugzilla.mozilla.org/show_bug.cgi?id=1414383 would solve all these problems, and actually I believe @canaltinova will look at it soon :)

[2018-10-02 12:56] zoepage commented on #884
I was just thinking as the sidebar seems less work, this could solve the issue.
The context menu could also be a good idea, especially until we enable the sidebar by default.

[2018-10-02 12:57] zoepage commented on #1325
Awesome!

[2018-10-02 12:57] fqueze commented on #1325
The cases where I got blocked because the symbolication never finished were on Windows and Linux, so while I agree prioritizing the xcode license issue makes sense, it doesn't fully eliminate the problem.

[2018-10-02 12:58] zoepage commented on #1325
@fqueze

So we need to go with the timeout, correct?

[2018-10-02 13:06] fqueze commented on #1325
Yes, I think a timeout should be added. It could be a long one (eg. 1 ou 2 minutes), as the machines on which I had problems were typically either very slow machines, or machines with a very poor Internet connection.

The timeout could either re-enable the share button, or just show a tiny "X" button at the end of the "Symbolicating..." overlay.

An alternative to the timeout would be a secret way

[2018-10-02 13:40] julienw commented on #1325
I still believe we could always enable the share button when we make client-side symbolication work (https://github.com/devtools-html/perf.html/issues/253). We have everything to make it work, we only need to hook all the bits.

[2018-10-02 13:41] gregtatum commented on #1325
I think my preference would be to have the following behavior:

* Surface a button in the symbolication dialog that says "Cancel Symbolication"
* Once this button is clicked, the upload/save dialog is re-enabled.

[2018-10-02 14:04] zoepage commented on #1325
@gregtatum do you have a preference on when enabling the button or would you enable it by default?

[2018-10-02 14:28] gregtatum commented on #1315
We could go through all the string tables and run a regex to strip out all the URLs.

[2018-10-02 17:44] gregtatum commented on #1325
I don't see a problem with having it always available, that way it behaves more deterministically for the user, and is probably a simpler implementation.

[2018-10-03 03:05] subashiniganesh commented on #883
Hello @julienw ,

I am introduced to Outreachy and about this project today via Outreachy website. Is it too late to start? May I please attempt on this issue and try to make a Pull Request?

[2018-10-03 03:57] saranshbarua commented on #1233
@meagonqz you can take this as I'm a little occupied right now :)

[2018-10-03 04:03] digitarald commented on #1325
Since the timeout has the downside of finding the right heuristics, I like the option with cancelling symbolication to enable sharing.

As follow up, could the app detect that a loaded profile isn't symbolicated and fetch symbols from the server?

[2018-10-03 04:04] digitarald commented on #1325
Continuing in #711, as it already has bugs duped against it.

[2018-10-03 04:04] #1325 closed

[2018-10-03 04:05] digitarald commented on #711
Per #1325, the easiest way forward would be allowing cancellation of the symbolication, which in turn will enable the share button.

[2018-10-03 05:31] meowwwls commented on #1251
I'd like to try tackling this issue, if that's OK!

[2018-10-03 08:38] navgurukul-shivani18 commented on #1020
@julienw can i take this up? i would like to participate in this project in outreachy this round

Thanks

[2018-10-03 09:53] julienw commented on #883
He @subashiniganesh, sure, it's not late at all !

Are the information in this PR good enough or do you need some more things to start working on this ?

[2018-10-03 09:55] julienw commented on #1052
hey @meagonqz, sure !

Our CSP is defined in various places:
* `/server.js` for our development server
* `/res/_headers` for our production server
* `/res/.htaccess` for apache users

Please ask here or on Slack if you need anything more :)

[2018-10-03 09:57] julienw commented on #1251
Hey @meowwwls ! Sure please look at it ! I think there are enough information to start working on this, but please ask here or on Slack if you need anything more :)

[2018-10-03 09:58] julienw commented on #1020
hey @navgurukul-shivani18 ! Sure please look at it :) In this issue we merely want to add a link in our readme files, so it should be quite straightforward, but please ask here or on Slack if you need anything more !

[2018-10-03 10:14] julienw commented on #1251
You can start by applying this patch: https://github.com/devtools-html/perf.html/commit/bd2db47f49b0ef50b1246929b96ccf1d5e36d245
This simplifies the logic in the context menu a bit so that it's easier to work with.

If you're interested, other issues happening in the same area of code include:
* https://github.com/devtools-html/perf.html/issues/770
* https://github.com/devtools-html/perf.html/issu

[2018-10-03 13:35] julienw commented on #546
As we discussed with Greg on Slack, we want to implement the concept of a "right clicked marker" that we'll display the context menu for. I think we'll need a "right clicked node" too, for context menus in the call tree, the flame graph and the stack chart, so that we're consistent accross the app with the context menu handling.
This "right clicked thing" needs to be highlighted, with the same sty

[2018-10-03 14:43] 94151 commented on #1020
@julienw i want to work on this task. can i take this up?

[2018-10-03 14:45] julienw commented on #1020
hey @94151, and thanks for your interest !
As you can see above, @navgurukul-shivani18 already asked about it recently :) So it would be better if you can look at [other available issues](https://github.com/devtools-html/perf.html/labels/good%20first%20issue) and pick another one! Thanks again :)

[2018-10-03 14:49] #1317 closed

[2018-10-03 15:06] 94151 commented on #1277
@julienw i want to work on this issue. but i need more help to accomplish it.

[2018-10-03 15:10] fqueze commented on #1136
I thought some more about this because I also often look at profiles that are more than 6 months old and would hate to have plenty of dead links in bugzilla, but I also think most profiles cointain plenty of information that shouldn't be retained forever.

I think profiles fall mostly in 2 categories:
- profiles captured when something seems to not be performing well, shared as a way to request th

[2018-10-03 15:15] julienw commented on #351
An example profile is https://perfht.ml/2zPsOED (or use [this link](http://localhost:4242/public/dfc1b84f9982b4d67e0c1079bad2c582cde1f32f/marker-chart/?globalTrackOrder=0-1-2-3&hiddenGlobalTracks=1-2-3&hiddenLocalTracksByPid=2399-0-1&localTrackOrderByPid=2399-0-1~2422-0~&markerSearch=&range=6.9121_7.6404&react_perf&thread=0&v=3) when trying it locally).

The goal of this issue is to change the col

[2018-10-03 15:48] meowwwls commented on #1251
@julienw Thank you so much! I will get started on this later or in the morning if possible, and I will be sure to ask for help here or on Slack! :)

[2018-10-03 17:57] edieblu commented on #1277
Hi @julienw!

I would be happy to work on this if it isn't assigned yet :)

I'm familiar with git and github, and I have the project running locally. I'm also on Slack (as @eva)

Kind regards,
Eva

[2018-10-03 17:57] 94151 commented on #1277
@julienw thanks its helpfull i am working on it.

[2018-10-03 18:41] edieblu commented on #1074
Hi @julienw happy to work on this issue. What would you like the next max height to be?

[2018-10-03 19:10] subashiniganesh commented on #883
Hello @julienw ,

The information provided in the issue was very much helpful. Thanks a lot. I am happy that I was able to pick and attempt an accessibility related issue as the primary project is about improving accessibility. Let me please submit a PR. Kindly help me for any improvements.

[2018-10-03 19:15] edieblu commented on #1074
I assume you mean this?
<img width="695" alt="screen shot 2018-10-03 at 20 14 38" src="https://user-images.githubusercontent.com/17270662/46433541-0843c800-c749-11e8-92d3-290e5538e57c.png">

[2018-10-03 19:16] edieblu commented on #1274
Hi @julienw happy to give this a go

[2018-10-03 19:42] edieblu commented on #905
Hi @julienw happy to try this one as well.

[2018-10-03 20:13] gregtatum commented on #1074
@edieblu yup, that's the one. I'm not sure on the proper value, I wouldn't mind taking up 100vh, as long as everything is accessible. The only biggest requirement is that the menu should not break anywhere, or have inaccessible items for long content.

Also that css rule will affect every menu in the app.

[2018-10-03 20:46] edieblu commented on #1074
According to WCAG 2.0 we should be accommodating for up to 200% zoom, but at 200% the console is too small to be readable. At 150% 100vh looks good.
<img width="1280" alt="screen shot 2018-10-03 at 21 41 31" src="https://user-images.githubusercontent.com/17270662/46438419-b5bcd880-c755-11e8-875c-77b5c230436c.png">

[2018-10-03 20:50] edieblu commented on #1074
It might be a good idea to add [pa11y](http://pa11y.org/) to the process. Just ran it against peft.html and it came back with 5 errors (accessibility). Happy to work on those as well.

[2018-10-03 22:27] julienw commented on #1277
@edieblu hey, as you can see @94151 already started working on this :) So this issue isn't available, sorry !
@94151 that's great !

[2018-10-03 22:29] andrapetronela commented on #351
Hi @julienw. May I work on this issue?

[2018-10-03 22:29] julienw commented on #1274
@edieblue Hey, I see @hritvi already requested to work on this some days ago? Hey @hritvi could you work on this after all ? Thanks :)

[2018-10-03 22:31] julienw commented on #905
Hey @edieblu, as you can see above, @saranshbarua already started working on this and even has a first patch. So it's sadly not available at the moment !

[2018-10-03 22:32] julienw commented on #1074
@edieblu it would be a very good idea to file additional issues about the errors found by pa11y (that I didn't know). Let's focus on the described problem in this issue :) You can definitely work on this issue, it is available !

[2018-10-03 22:33] julienw commented on #351
Hey @andrapetronela, sure, this issue is available !

[2018-10-04 02:48] subashiniganesh commented on #770
Hello @julienw ,

I would like to work on this issue. Shall I? If so, Please guide me further. Currently when I tried to understand this with other related issues, I see this context menu in the Marker Table.

![screenshot](https://user-images.githubusercontent.com/43801714/46450143-6efacd00-c7ad-11e8-87d5-74f1c383fbe8.png)

Which piece of information are we interested in copying through an option

[2018-10-04 04:40] digitarald commented on #1136
That is probably more true for 1 year. 6 months trips of many performance engineers that we talked to.

The addon is probably not the best place, as profiles can also come from many other places (startup profiling, perfherder, imports, etc).

The way I understand the first part is that we reset the profile expiry countdown each time somebody generates a bitly URL. The alternative I could see that

[2018-10-04 06:57] zoepage commented on #711
+1 in adding a button to cancel the symbolication.
Do we also need to adjust the message `Symbolicating call stacks...` and make it more human understandable as users might not understand what this is / why it is helpful?

[2018-10-04 07:30] edieblu commented on #1074
Hello,

I've tested left and right with max zoom of 150% (after 150% the call tree is too small), 70vh is a good max-height with no scrollbar for zoom up to 150%.

Wide menu displays ok too.

Shall I proceed with the PR?

<img width="1280" alt="screen shot 2018-10-04 at 08 27 29" src="https://user-images.githubusercontent.com/17270662/46459053-af5b4a80-c7af-11e8-9a1f-416a93983b6d.png">

[2018-10-04 07:39] navgurukul-shivani18 commented on #407
Hi there,
I would like to work on this project, if someone could just assign me.
Thanks

[2018-10-04 07:40] navgurukul-shivani18 commented on #1155
Hi there,
Can I be please assigned this bug, would love to fix this.
Thanks

[2018-10-04 07:41] navgurukul-shivani18 commented on #984
Hi,
I see no one has taken up this bug till now. Can I please be assigned this bug, would like to work on it.
Thank you !

[2018-10-04 09:20] andrapetronela opened #1327 "Build script is not working on Windows"
Error when I am trying to run the project locally:
"cp is not recognized as an internal or external command, operable program or batch file"

![screenshot 84](https://user-images.githubusercontent.com/34648710/46464663-d4a38500-c7be-11e8-8403-569ae2883841.png)

[2018-10-04 09:38] julienw commented on #1327
I think we need to add these files in https://github.com/devtools-html/perf.html/blob/861df4e37b99cc7e5d682260fcd7d334a8fd533d/webpack.config.js#L69-L73 and remove them from the build command.

[2018-10-04 09:38] julienw commented on #1327
@andrapetronela Would you want to work on this ?

[2018-10-04 09:39] andrapetronela commented on #1327
Of course. I am trying it right now.

[2018-10-04 09:44] julienw commented on #407
Hey @navgurukul-shivani18, you already requested to work on https://github.com/devtools-html/perf.html/issues/1020 and I haven't seen any PR to fix it yet. I'd like that you focus on one issue only, so if you don't want to work on #1020 anymore please say so on that bug. Thanks !

[2018-10-04 09:44] julienw commented on #1155
Hey @navgurukul-shivani18, you already requested to work on https://github.com/devtools-html/perf.html/issues/1020 and I haven't seen any PR to fix it yet. I'd like that you focus on one issue only, so if you don't want to work on #1020 anymore please say so on that bug. Thanks !

[2018-10-04 09:45] julienw commented on #984
Hey @navgurukul-shivani18, you already requested to work on https://github.com/devtools-html/perf.html/issues/1020 and I haven't seen any PR to fix it yet. I'd like that you focus on one issue only, so if you don't want to work on #1020 anymore please say so on that bug. Thanks !

[2018-10-04 09:48] julienw commented on #1074
Yes, please create a PR, this is the best way to discuss about the code and try out the change :) Thanks !

[2018-10-04 09:56] julienw commented on #770
hey @subashiniganesh, we're interested about the "cause" data (this is the `cause` property for a marker). This data isn't available for all markers, but you can see it in the 'marker chart' when hovering on top of markers "reflow" or "styles". This is the data we'd like to copy here.

Because it's not always available, we need to check whether it's here to decide if we should display the item or

[2018-10-04 10:02] edieblu commented on #1074
Done @julienw :)

[2018-10-04 12:15] edieblu opened #1329 "Fix 5 accessibility errors as identified by pa11y"
[Pa11y](http://pa11y.org/) can be used as a CL tool to identify accessibility errors. Most commonly it's things like inputs missing labels, images missing alt attributes or issues with colour contrasts. Currently, there are 5 errors (see below).

![screen shot 2018-10-04 at 13 11 28](https://user-images.githubusercontent.com/17270662/46473139-15a79380-c7d7-11e8-84da-dfd6fc3dc5cf.png)

[2018-10-04 12:31] Khushboopandit commented on #1329
Hi,
I also wanted to know about this issue that how can we solve it

[2018-10-04 12:36] Khushboopandit commented on #1329
Hi,
I want to work on this issue can I, I will make sure that I find out the answers for this issues.

[2018-10-04 12:43] navgurukul-shivani18 commented on #1329
Hi, I want to work on this issue and I will make sure to resolve this issue on time.
Thankyou

[2018-10-04 15:09] tanhengyeow commented on #984
@julienw I'm interested in this issue and would like to try it 😃

[2018-10-04 17:35] karunagoyalk commented on #1155
Hey @julienw, I would like to work on this issue!

[2018-10-04 17:46] andrapetronela commented on #351
Hei @julienw , is this the expected result?

![screenshot 94](https://user-images.githubusercontent.com/34648710/46492501-a301dc80-c805-11e8-9a40-efe72b539005.png)

[2018-10-04 18:58] gregtatum opened #1330 "Add tests to the ThreadActivityGraph"
The PR #1284 drops our code coverage by 1%. These need to still be filled in.

[2018-10-04 19:12] edieblu commented on #1294
Hello, a quick question.

When the sidebar is toggled open, a new element (the sidebar) is added to the DetailsContainer taking the width of 20%. I'm wondering, do you think it's possible to solve this issue by setting the width of the layout-pane-primary on the left to the remaining 80% when the sidebar is opened (or if the sidebar is resized the result of 100% - sidebar width)?

Once the sidebar

[2018-10-04 21:50] gregtatum opened #1331 "Profile sharing and sanitation panel"
<img width="1149" alt="image" src="https://user-images.githubusercontent.com/1588648/46504733-65e11e80-c7f4-11e8-9161-15d96447f91d.png">

Here's a proposal for sharing profiles, and minimizing the amount of PII uploaded.

* Click on share.
* The user is presented with many sharing options.
* We have a default of reasonably secure PII options set.
* The notice is much smaller, so that it's more sca

[2018-10-04 22:05] mstange commented on #1331
Very nice! I have another "additional possibility":

  - For every checkbox, give an option of viewing a list of the information that is going to be included / excluded.

For example, for the hidden threads checkbox, I think even just saying `(4 threads are currently hidden)` would help. And for URLs, ideally there'd be a list of the URLs with a search field.

[2018-10-04 23:55] digitarald commented on #711
Make sense, especially when dogfooding users on the internet see this. We can keep the technical information in an `alt` tooltip (and maybe a learn more link with troubleshooting in the doc? we should do more of that for interesting parts of the UI that benefit from hints).

Friday vote time …

1️⃣ `Processing Profile …`
2️⃣ `Loading profile information …`
3️⃣ `Reticulating splines …`
4️⃣ `Enhanci

[2018-10-05 06:31] monikamaheshwari commented on #407
Hey,
Wanted to work on this issue, can this be assign to me.

Thanks

[2018-10-05 08:50] julienw commented on #984
@tanhengyeow sure :)

[2018-10-05 09:04] fqueze commented on #1331
This seems to request lots of decisions from the users, including things that the user may not understand. A user who has not found the context menu in the thread list will have no idea what "hidden threads" means. The difference between "Network traffic URLs" and "All profile URLs" seems to be an implementation detail.

I think including only the selected range by default would make sense, as I e

[2018-10-05 09:10] fqueze commented on #711
Not sure if these 2 are purely a joke or semi-serious, but IMO replacing a message that's opaque to most users and meaningful to a few with a message that's opaque to everybody wouldn't be an improvement.

I don't really mind which phrasing we use, as long as it remains visible if we are blocked on getting the symbols (this happens with slow Internet connections, or when nm takes ages on a local b

[2018-10-07 02:49] PaulBone commented on #1097
Sorry @julienw for the late reply, I have far too much github mail and so I often don't seen important things (fixing it is my responsability).

Anyway, I think that something either in the plugin or Firefox has changed because now I am getting consistently good behaviour with the invert preset.

[2018-10-07 02:49] #1097 closed

[2018-10-08 10:54] ReshmaPD commented on #1155
Hi Julien,
I would like to work on this if no one else has been assigned yet.
Thanks.

[2018-10-08 12:08] zoepage commented on #1245
- [x] network panel (PR #1232 )

[2018-10-08 12:42] julienw commented on #1155
Hey @karunagoyalk, sorry about the delay. Yes sure please work on this issue if you still want about it :)

@ReshmaPD, as you see above @karunagoyalk already asked about it, so this issue isn't available, sorry about that !

[2018-10-08 13:17] julienw commented on #407
Hey @monikamaheshwari, sorry for the delay !
yes sure, please work on this if you still want it, I'm marking this bug as assigned !

[2018-10-08 13:27] julienw commented on #1331
Not really. But the wording could be improved, eg `URLs in the Network Panel` for the former.

I think that by default we shouldn't include any URLs, and like Florian I think we should share only the current committed range by default.

Otherwise I agree with the UX flow that Greg outlined.

[2018-10-08 15:14] zoepage opened #1339 "Visual queued / request / response split of bars in Network Panel"
## Task

We want to display the duration of a request split up in its phases: queued / request / response

<img src="https://user-images.githubusercontent.com/562354/42540857-55608894-84a0-11e8-9054-03fda2152f5a.png" />
The colors are not set yet.
(reference to bug: https://github.com/devtools-html/perf.html/issues/1122#issuecomment-403977560)

## Available data
(added some examples in Millisecond

[2018-10-08 16:13] julienw commented on #1294
Hey @edieblu, sorry for the delay answering your question !

As you can see, we use a `flex` layout for the `DetailsContainer`. So the first pane's width will always be `100% - sidebar width - splitter width` automatically, thanks to the fact we use the flex layout, and we don't need to be explicit about it.

The problem here is different. Indeed the charts are drawn using a canvas, so what we nee

[2018-10-08 17:51] julienw commented on #625
assigning to @andrapetronela who submitted a PR in https://github.com/devtools-html/perf.html/issues/351

[2018-10-09 12:10] andrapetronela opened #1341 "Improve responsive design"
App title  and GitHub icon hidden on mobile devices.

Here is how you can reproduce the issue:
- open the inspector
- set the page on Responsive Design Mode (Ctrl + Shift + M)
- select different devices from the list to see how the app is responding

![screenshot 112](https://user-images.githubusercontent.com/34648710/46668408-3ea79a00-cbc4-11e8-8a0f-bd61806f4fdb.png)

Here is the app on my mobile

[2018-10-09 15:45] #1327 closed

[2018-10-09 15:53] julienw opened #1343 "Upgrade yarn.lock and the tools that check the yarn version"
Since yarn 1.10, yarn.lock can use a new `integrity` field. This is currently disabled in our project by the option specified in `.yarnrc`. Note that since yarn 1.12 the behavior is disabled by default too.

In this PR, we want to:
1. set `false` for this property in `.yarnrc`
2. update `/bin/pre-install.js` to check for yarn >= 1.10.
3. maybe upgrade the environments for CircleCI and appveyor so

[2018-10-09 15:55] julienw commented on #1343
@mstange @gregtatum @ola @brisad can you put a comment here when you're ready ?

[2018-10-09 18:13] ssrn commented on #1341
@andrapetronela Hi! May I take this issue?

[2018-10-09 18:44] andrapetronela commented on #1341
Hi @ssrn. @julienw is the one who can give you an answer :)

[2018-10-09 19:12] ssrn commented on #1341
Hey @julienw. Can I take this?

[2018-10-09 21:03] #351 closed

[2018-10-10 00:27] arcturusInk commented on #1001
Ah, also I am having problems downloading the Gecko Profiler addon. Firefox is giving this notification, " the addon could not be downloaded because of a connection failure"

[2018-10-10 00:52] arcturusInk commented on #460
@julienw I would like to take a crack at this and implement this, if possible.

I am not sure if I can implement the mockups at #[448](https://github.com/devtools-html/perf.html/issues/448), but wouldn't the easiest thing to do would be to take the name of the profile provided by the user, store the string as a variable in a file (which file would be appropriate for storing the string, I could nee

[2018-10-10 04:04] digitarald commented on #711
Good point.

I had that as an iteration of 2️⃣when I wrote it up, I like that too with the only downside is that it doesn't fully highlight the dependency on network bandwidth and server response time (compared to Loading). Maybe `Downloading additional profile information …`?

[2018-10-10 04:32] subashiniganesh commented on #770
@julienw ,

When you get a little free time, Can you please guide me with this issue?

As you're willing to have the entire stack trace to be copied with this `copy marker cause` option, I would like to take your help in the getting the copy content.

I checked the code and found how you get the stacktrace content for the tooltip here `/src/components/shared/MarkerTooltipContents.js`.  I hope, the

[2018-10-10 09:55] julienw commented on #770
Hey @subashiniganesh, indeed this is bit more complex than what I initially thought :)

This is where we compute the cause in full text: https://github.com/devtools-html/perf.html/blob/c4dfd6b99dbec86d83f00b5e4386d44827a9a666/src/components/shared/Backtrace.js#L26-L58

This is how we could make it work to get it in full string text:

1. Add a new function to `src/profile-logic/profile-data.js`:
[c

[2018-10-10 10:01] julienw commented on #711
Ah, this is funny :) for me the meaning for `fetch` is closer to a network-downloading than `load` :)
I'd be OK with `Downloading`.

[2018-10-10 10:18] julienw commented on #1001
That's correct.

What I mean is that we use the same data for the title: https://github.com/devtools-html/perf.html/blob/c4dfd6b99dbec86d83f00b5e4386d44827a9a666/src/components/shared/TreeView.js#L139
and for the icon URL: https://github.com/devtools-html/perf.html/blob/c4dfd6b99dbec86d83f00b5e4386d44827a9a666/src/components/shared/NodeIcon.js#L55

I think you found it yourself too, so I don't und

[2018-10-10 11:47] julienw commented on #460
Hey @arcturusInk, thanks for your interest, but let's focus on your other bug first :)

Also I'll close this bug in favor of #448 that's more complete.

[2018-10-10 11:47] #460 closed

[2018-10-10 11:49] julienw commented on #1341
@ssrn yes if you want.
This isn't a very easy bug because you need to test the changes in a lot of different cases.

Here are the cases you need to take care of:
1. Home page in mobile mode
2. Home page in desktop mode
3. The profileviewer in desktop mode

(We don't really mind about the profile viewer in mobile mode yet).

[2018-10-10 12:00] julienw commented on #1339
I wasn't pingued explicitly but I still have a few questions or comments. Actually I don't understand why we have so many different terms that seems to mean the same thing. Maybe this was discussed privately in the past and I missed it.

The names you've put in the mockup at the right (I guess that's the sidebar?) look good (that's: blocked / DNS resolution / connecting / TLS setup / sending / wai

[2018-10-10 12:04] andrapetronela commented on #890
@julienw, may I try fixing this issue?

[2018-10-10 12:11] julienw commented on #890
@andrapetronela yes sure ! This will require understanding what the SVGs mean. I think the best way is to write some description of what you understand, and then we can work on correcting it in the review process.

[2018-10-10 12:12] andrapetronela commented on #890
Perfect :)

[2018-10-10 12:20] julienw commented on #1329
Hey @navgurukul-shivani18, I still expect something from you in issue #1020. So let's focus on this first, thanks :)

[2018-10-10 12:36] julienw commented on #1329
Error 1: we currently have an `aria-hidden=true` on the SVG content that's inside the link. I think we should change this to an `aria-label="github"`. Likely we should also use a `title` on the link itself like `Go to our git repository`.

Error 2: Indeed this screenshot image misses a `alt` attribute.

Error 3: The text color is indeed to pale for this text size. This is currently `var(--blue-50)

[2018-10-10 12:37] julienw commented on #1329
This code is in https://github.com/devtools-html/perf.html/blob/master/src/components/app/Home.js.

[2018-10-10 13:04] ssrn commented on #1341
@julienw I would love to try.

[2018-10-10 13:17] julienw commented on #1329
Please ignore errors 4 and 5 as we'll handle them in https://github.com/devtools-html/perf.html/pull/1338

[2018-10-10 13:28] julienw commented on #1329
@amelarbab volunteered to work on this issue. Thanks !

[2018-10-10 14:02] #1074 closed

[2018-10-10 14:11] julienw commented on #463
PR #1338 fixes the look of the input. Once it's merged I think this issue will be actionable.

[2018-10-10 14:52] fqueze opened #1345 "The .pdb extension is confusing on Windows profiles"
Here is an example profile: https://perfht.ml/2ywCyla

Every binary file name ends with .pdb.
On both Mac and Linux we show the name of the binary files users have on their disk (libxul.so, libmozglue.dylib, XUL, ...). On Windows we show "xul.pdb" when the file on disk is "xul.dll".

So on Windows we show the name of the symbol file that was used. This may be confusing for people, and the .pdb ext

[2018-10-10 14:54] #984 closed

[2018-10-10 15:01] canaltinova commented on #637
I landed the gecko side patch. Currently symbolication stops instead of hanging but I think don't give any errors to the user. Currently this part of the addon catches the error and posts the message:
https://github.com/devtools-html/Gecko-Profiler-Addon/blob/d2cd850a2edd794a22621ba85574b5f6010a4616/background.js#L39-L45

[2018-10-10 15:21] julienw commented on #227
`-moz-user-focus: ignore` seems to be bad for accessibility (we can't tabulate there anymore). I tried using `preventDefault` and it doesn't seem to work.

Here is the code I used for the IdleSearchField's clear button: https://github.com/devtools-html/perf.html/blob/2b61c6ed2c025024bfe037ed608d5650d3b7fca8/src/components/shared/IdleSearchField.js#L74-L82

But another possibility, and probably bet

[2018-10-10 15:48] julienw opened #1346 "Move the legal notice to the documentation"
Now that we have a "doc" button we could probably move the annoying legal notice there.

@digitarald do you know if that would be good enough ?

cc @fqueze

[2018-10-10 15:57] julienw commented on #637
@canaltinova do we have a specific Error instance or `type` for this error ?

[2018-10-10 16:10] julienw opened #1347 "We don't convert `idle` samples properly for some threads"
See [this profile](https://master.perf-html.io/public/a93db3de1a9d6feb1c5e75b1a017d3bd12eba035/calltree/?globalTrackOrder=0-1-2-3-4-5&localTrackOrderByPid=3668-46-0-1-2-3-4-5-6-7-8-9-10-11-12-13-14-15-16-17-18-19-20-21-22-23-24-25-26-27-28-29-30-31-32-33-34-35-36-37-38-39-40-41-42-43-44-45~1804-0-1-2-3-4-5-6-7-8~2500-0-1-2-3-4-5-6-7-8-9-10-11-12-13-14~4156-0-1-2-3-4-5-6-7-8-9-10-11-12-13-14~4840-0

[2018-10-10 16:12] julienw commented on #1251
hey @meowwwls, how is it going for you ? Any help needed ? :)

[2018-10-10 16:13] julienw commented on #407
hey @monikamaheshwari, I realize this bug doesn't have many information. Do you need more explanations to start with ?

[2018-10-10 16:15] julienw commented on #1020
hey @94151, how is it going? Do you need any help on this issue?

[2018-10-10 16:15] julienw commented on #1052
hey @meagonqz, how is it going? Do you need anything more to start working on this? Have a nice day!

[2018-10-10 16:16] julienw commented on #1233
Hey @meagonqz, any update on this? Do you need anything to start working on this? Have a nice day!

[2018-10-10 16:21] julienw commented on #1274
Hey @hritvi, because I got no answer from you, I'll remove the `assigned` label and make this issue available for another contributor. Please write another comment if you still work on this :) Thanks!

[2018-10-10 16:23] julienw commented on #1277
Hey @94151, any update on this? Do you need any more information to start with this bug?

[2018-10-10 16:46] canaltinova commented on #637
@julienw We are throwing an ExtensionError with this message: https://searchfox.org/mozilla-central/rev/65f9687eb192f8317b4e02b0b791932eff6237cc/browser/components/extensions/parent/ext-geckoProfiler.js#119-122
I think we can print the all error messages.

[2018-10-10 16:50] mstange commented on #1345
I think this is simple to fix: all we have to do is to change `lib.debugName` to `lib.name` here: https://github.com/devtools-html/perf.html/blob/899f76175d62f29f338e07486489f6cf48b47f11/src/profile-logic/process-profile.js#L267-L269

That change would only affect new profiles, not existing shared profiles. But you could add a processed profile format upgrader for this change.

[2018-10-10 16:52] mstange commented on #227
Native context menus don't change the selected menu item in response to the tab key. They react to the up/down arrow keys. So if we add our own key handling for that, maybe we don't have to manually switch focus after all.

[2018-10-10 17:04] zoepage commented on #1346
As far as I remember, @past wanted to have it on the start screen too and mentioned it would be necessary. But I am not sure, I remember it correctly. Maybe he can also give input?

[2018-10-10 17:08] mstange opened #1348 "Display vsync markers in the marker timeline at the top, as vertical lines across all threads"
We now have `VsyncTimestamp` markers displayed in the marker chart, for example in this profile: https://perfht.ml/2EdNp9K

However, it's still hard to track vsync timing across threads. It would be more useful to also have vertical lines in the thread timeline at the top, across all threads.

I'm not sure how exactly this should look. We already have faint grey grid lines up there; adding more li

[2018-10-10 17:19] digitarald commented on #1339
Max connections, piping but also main thread jank can lead to this.

`startTime` is when the request is created; the next bigger timing in the table would be when necko starts handling it.

[2018-10-10 17:49] mstange commented on #1339
I think we need to have fewer sets of colors, not more. We already have 1. category colors in the thread activity graph + call tree, 2. marker colors that are supposed to be closely related to thread activity category colors but aren't currently, 3. stack frame type colors in the flame graph. This mockup adds 4. a set of colors for the different resource types, 5. a set of colors for the fine-grai

[2018-10-10 18:01] mstange commented on #1345
Requirements for a fix:

 - Make the change suggested in the previous comment
 - Capture a new profile using the Gecko Profiler add-on in Firefox on Windows, using a patched instance of perf.html
 - Make sure that it says "xul.dll" instead of "xul.pdb" in the call tree, and share the profile in the PR

[2018-10-10 18:20] mstange opened #1349 "Add a network request phase for "response waiting to be processed""
cc @zoepage @digitarald

Compare the two network tracks in this profile: https://perfht.ml/2EejwGq

The network track in the content process looks a lot busier, even though it's listing the same requests. What happens is that we draw the boxes until the event for the completion of the request has been processed on the main thread. The main thread in the content process is a lot busier than the mai

[2018-10-10 18:59] zoepage commented on #1349
Related to #1339 as we want to display the idle time in the queued topic.
(correct @digitarald ?)

[2018-10-10 19:00] mstange commented on #1349
Is this time what's called "queued"? Or is "queued" something else? I thought queued happened before the request is sent out over the network, not after the response has been received.

[2018-10-10 19:13] past commented on #1349
There has been a related [discussion](https://github.com/w3c/resource-timing/issues/164) in the web-perf WG. Perhaps we could use "stalled" for this latter delay to distinguish it from "queued" which would occur earlier in the load.

[2018-10-10 19:14] zoepage commented on #1349
As far as I understand "queued" is the duration of everything until the request starts, so e.g. domainLookup, but I don't know if this is correct?

[2018-10-10 19:15] brisad commented on #1343
Thanks for the heads up! I've upgraded to 1.10.1 now.

[2018-10-10 19:17] past commented on #1348
This makes sense, but I wonder how it will play out with the vertical lines we were discussing for #1295. Perhaps using different colors would be enough to distinguish them (higher-contrast ones for the few navigation timing markers and more subdued ones for the vsync markers).

[2018-10-10 19:48] mstange commented on #1349
"Target busy", "Target blocked" might be ok names.

[2018-10-10 20:44] digitarald commented on #929
Thanks for the first mock, @zoepage . I like the popover format and pinning it to the header bar.

Here my attempt for the discussion, trying a few things:

1. Show summary of profile data in the header, as we have the space.
2. Let users expand that summary with a meatball menu button
3. Various actions in the popover (no must have's to be in scope for the MVP, just up for discussion)
4. Using Gr

[2018-10-10 21:00] digitarald commented on #1349
Maybe a good mapping is to apply the same wording to request and response. This way we are not trying to give special meaning to various meanings of queued, stalled, etc.

**Request Queue Time**: Time from request being created to necko handling it (depends on connection limits, priorities, piping and busy main thready event queue).
**Response Queue Time**: Time from full response received in Neck

[2018-10-10 22:00] digitarald commented on #1339
Taking a shot at this concept of showing bars:

<img width="640" alt="image" src="https://user-images.githubusercontent.com/8599/46767601-54878e80-cc9a-11e8-9492-3f66d8a6eb8e.png">

Few things in here that could be discussed:

**A)** Are the 4 timings for `request queue`, `request`, `response`, `response queue` a good balance of detail

![image](https://user-images.githubusercontent.com/8599/46767

[2018-10-10 22:10] digitarald commented on #1346
Legal recommended to have them in the first level. Even if we decide to move them, I am not sure if "Docs…" is the right fit.

What are thoughts about adding a new "overflow" menu item called "About" (or similar) that we move these links to and also add github links like `Report issue` there?

[2018-10-11 01:51] arcturusInk commented on #1001
@julienw Thanks for answering my questions so quickly. I was able to install Gecko Profiler addon from the link!

I have changed the variable name, icon to iconSrc in this two files.
     https://github.com/devtools-html/perf.html/blob/cdb62d7776a617209972d93f944a9f1141e81552/src/profile-logic/call-tree.js#L255-L269
https://github.com/devtools-html/perf.html/blob/c4dfd6b99dbec86d83f00b5e4386d44827

[2018-10-11 04:48] digitarald commented on #1339
Iterating a bit, a version with reduced color (gray outline), using photon yellow and added a non-primary resource:

![image](https://user-images.githubusercontent.com/8599/46781357-127c3e00-ccd6-11e8-927a-b79095a83fc5.png)

[2018-10-11 07:41] navgurukul-shivani18 commented on #1020
Hey @julienw will submit PR by today only :) Sorry busy with some problems :(

[2018-10-11 08:19] navgurukul-shivani18 commented on #1345
Hi @mstange i would like to work on it :)

[2018-10-11 09:13] navgurukul-shivani18 commented on #1007
Hi @julienw , I would like to work on it can you please guide me , do we need to do something like this to  `.circleci/config.yml` ?

[code]

[2018-10-11 09:41] zoepage commented on #1343
✅

[2018-10-11 09:45] zoepage commented on #942
hi @navgurukul-shivani18,
@julienw is coordinating the contributions, so he would be the right person to ask. :)

Also it seems it is not clear how to proceed, so maybe starting with a different issue might be a good thing. Therefore feel free to check out: https://github.com/devtools-html/perf.html/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22

Everything not assigned should be up

[2018-10-11 11:37] zoepage commented on #1339
I just realized, I should have been more clear about what is final and what I would like to get feedback on. Sorry! I'll try to re-phrase and make it more clear. I'd like to discuss & clarify the wording as well as which duration is included in which phase.

@digitarald Did a great job here with visualizing this. Thanks for that! :)
The mock looks amazing!!

I think that looks definitely reasonabl

[2018-10-11 12:08] monikamaheshwari commented on #407
@monikamaheshwari If you can provide some information that would be great.

[2018-10-11 13:04] julienw commented on #407
For example, if you take this profile: https://perfht.ml/2EdtGa9 (here is the URL to run this locally: http://localhost:4242/public/404ff08ee5f412f355264601f12e5feff0ebaee6/calltree/?globalTrackOrder=6-1-2-3-4-0-5&hiddenGlobalTracks=1-2-3-4&invertCallstack&localTrackOrderByPid=15249-1-0~15254-0~&thread=0&transforms=f-combined-Lm-i&v=3), you see at the top of the lower part of the window:
[code]
wh

[2018-10-11 13:08] tanhengyeow commented on #227
@julienw I'm interested in this issue and wish to work on it :)

[2018-10-11 13:29] julienw commented on #942
+1 :)

Waiting from @gregtatum explanation first, but otherwise I think the initial proposal from @zoepage is good.

[2018-10-11 13:35] julienw commented on #227
But after selecting an option, it makes sense that the focus goes back to where it was. (I suppose here that we could open the menu using the keyboard, which isn't possible at the moment).

@tanhengyeow because you already fixed a `good first issue` bug, it would be better if you could take a `help wanted` bug that's not a `good first issue`, so that we keep the `good first issue` bugs for newcome

[2018-10-11 15:41] julienw commented on #1001
See https://github.com/devtools-html/perf.html/issues/1001#issuecomment-389100832 :)
You can try to use this bit of code:
[code]
Note I didn't try this code.

You don't need to reproduce it directly, as you can load the same profile with your local version by replacing `https://perf-html.io` by `http://localhost:4242`: http://localhost:4242/public/3b385fcef7147e3d218572e008acff2175005636/calltree/

[2018-10-11 15:51] julienw commented on #1346
In the start screen it's fine to have it there. My main concern is in the profile viewer, because this hides some content :/

TBH this was my initial thought when we implemented this :) so :+1:.

[2018-10-11 18:41] digitarald commented on #929
The title to use should probably also feed back into #1055 and vice versa (the issue already has some back and forth on what should be in the title)

[2018-10-12 00:48] emanueltimlopez commented on #1330
/claim

[2018-10-12 07:44] monikamaheshwari commented on #407
@julienw Yeah. Thanks.

[2018-10-12 11:15] ssrn commented on #1090
Hi @julienw, I would like to try it.

[2018-10-12 12:46] julienw commented on #1090
@ssrn OK, please do ! I mark the issue as assigned.

[2018-10-12 12:49] julienw commented on #1330
hey @emanueltimlopez, you can work on this but this isn't an easy bug. Have you looked at the list of [good first issues](https://github.com/devtools-html/perf.html/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22+-label%3Aassigned) first ?

[2018-10-12 13:20] julienw opened #1356 "Decide about the sidebar positioning"
# Background history

Initially the sidebar was taking the full height, but in https://github.com/devtools-html/perf.html/pull/1086 we moved it to be below the header, because it was taking too much screen space.

# Current problem

In a recent PR we made the panels aligned with the header timeline again. But when the sidebar is enabled, then the panel is no longer aligned with the header timeline

[2018-10-12 13:21] julienw commented on #1356
ping @mstange @zoepage @gregtatum @canaltinova @digitarald @past @fqueze
Maybe @violasong you can share ideas too?

[2018-10-12 13:37] julienw commented on #1356
(note: after feedback from Florian, I split C and D)

[2018-10-12 13:54] fqueze commented on #1055
I think version is the most important, and the 'a' and 'b' letters within it should hopefully indicate the channel. For nightlies we may want to show the buildid.

If this datetime part is about indicating when the profile was captured, could we instead show something more human readable like "3 days ago"?

[2018-10-12 16:52] julienw commented on #1274
Hey @Anshika-G, sure !  You can look at the comment https://github.com/devtools-html/perf.html/issues/1274#issuecomment-422030949 for some direction, but please ask if you need anything else !
Our [contributing documentation](https://github.com/devtools-html/perf.html/blob/master/CONTRIBUTING.md) has some useful information to start working on the project too.

[2018-10-12 16:56] julienw commented on #1055
I'll look at this issue on monday to make it available to contributors.

[2018-10-12 17:05] julienw commented on #1339
I think that at one point we wanted to sync the colors with Chrome. Is that what you did here @digitarald ?
Also take care using shades of colors, this isn't very good for accessibility if that's the only way to distinguish a data; but if there's a clear border between the shades it should be OK.

[2018-10-12 17:08] julienw commented on #1055
To be extra clear, I intend to make it up to grab because it's better to have something imperfect than keeping it like it is now. Probably having the datetime first is better when having a lot of tabs, yet I understand that having the version first is useful when opening a profile from a bug for the first time. Because searching in tabs is better done through the awesome bar, I now think that havi

[2018-10-12 17:32] mstange opened #1359 "Inconsistent thread activity graph highlighting"
Steps to reproduce:

 1. Open [this profile](https://master.perf-html.io/public/7f25f7604c8813bc0b5083fdb524c4341cdae06d/calltree/?globalTrackOrder=0-1-2-3&hiddenGlobalTracks=0-1-2&hiddenLocalTracksByPid=81665-0-1-2-3-4-5-6-7~81668-0-1-2-3-4-5-6-7~81667-0-1-2-3-4-5-6-7~81666-0-1-2-3-4-5-6-7&localTrackOrderByPid=81665-0-1-2-3-4-5-6-7-8~81668-0-1-2-3-4-5-6-7~81667-0-1-2-3-4-5-6-7~81666-0-1-2-3-4-5-6

[2018-10-12 17:52] digitarald commented on #1055
Agreed.

The recording date gives a good sense of the nightly build for most cases. Another downside is that the long build ID gets a bit unwieldy for the title.

The version does not change for 6 weeks usually, so if you have a few profiles open for comparison it doesn't give too much of a hint (as most profiles for investigations are collected on Nightly); whereas profiling date could provide mo

[2018-10-12 17:58] digitarald commented on #1339
The list in my previous comment are the timeline category colors. They are already aligned with Chrome. For reference ([timeline network colors](https://developers.google.com/web/tools/chrome-devtools/evaluate-performance/reference#network)):
- HTML: Blue
- CSS: Purple
- JS: Yellow
- Images: Green

Yes, this remains an unsolved question I brought up. We have the same shades problem for the loupe t

[2018-10-12 18:01] mstange commented on #1359
Found the bug: Greg had moved `const prevCallNodeIndex = callNodeIndex;` outside of the while loop, which is incorrect.

[2018-10-12 19:43] mstange commented on #1349
When you say "main thread", are you referring to the main thread of the parent process or the main thread of the content process?

[2018-10-12 20:20] julienw commented on #1055
The problem with this is that we need to update it for long-running tabs. I don't think this is worth the complexity.

[2018-10-12 22:50] andrapetronela opened #1361 "Improve accessibility for color blindness users"
Here is how the app looks like for a user with different color blindness deficiency:

- all forms of color blindness
![all_forms](https://user-images.githubusercontent.com/34648710/46894855-d2e85a00-ce6d-11e8-9544-9f053ceb4965.png)

- protanopia
![protanopia](https://user-images.githubusercontent.com/34648710/46894890-ef849200-ce6d-11e8-8bef-c9a48870526a.png)

- deutanopia
![deutanopia](https://us

[2018-10-12 22:52] andrapetronela commented on #1361
One solution to correct this would be to use different CSS patterns for markers, so that users can identify them without relying only on colors, like shown bellow:
![css-pattern](https://user-images.githubusercontent.com/34648710/46896591-b5b78980-ce75-11e8-8fa4-bf15df75f498.png)

I would like to work on this issue and I am open to other solutions, as well.

[2018-10-12 22:57] andrapetronela commented on #1361
You can check how different profiles are seen by the users with visual deficiency here:
https://www.toptal.com/designers/colorfilter?orig_uri=https://deploy-preview-1336--perf-html.netlify.com/public/dfc1b84f9982b4d67e0c1079bad2c582cde1f32f/marker-chart/?globalTrackOrder=0-1-2-3&hiddenGlobalTracks=1-2-3&hiddenLocalTracksByPid=2399-0-1&localTrackOrderByPid=2399-0-1%7E2422-0%7E&markerSearch=&range=6

[2018-10-13 14:59] zoepage commented on #1339
+1 on all of your suggestions.

So we would need to go with the scrollable column? Maybe @violasong could provide some input here?

[2018-10-14 15:53] #1345 closed

[2018-10-15 10:05] #1294 closed

[2018-10-15 12:18] zoepage commented on #1055
What do you mean by "long-running tabs"? :)

[2018-10-15 13:04] #1020 closed

[2018-10-15 14:47] julienw commented on #1055
I mean tabs that we leave open for more than 1 day. (this happens a lot for me :) ).

[2018-10-15 14:58] julienw commented on #1001
Can you please share your current code to a pull request? This makes it a lot easier to give feedback :-)

`NodeIcon` is the component we use to _render_ the element (see: https://github.com/devtools-html/perf.html/blob/2b61c6ed2c025024bfe037ed608d5650d3b7fca8/src/components/shared/TreeView.js#L138)

This is where we get the value in `NodeIcon`: https://github.com/devtools-html/perf.html/blob/624f

[2018-10-15 16:49] julienw commented on #227
assigning to @navgurukul-shivani18 ! Thanks :)

[2018-10-15 17:02] #1359 closed

[2018-10-15 17:03] julienw commented on #890
As we discussed with @andrapetronela, this bug needs somebody who's already quite familiar with the codebase. Unassigning Andra then!

[2018-10-15 17:54] digitarald commented on #1055
Seems like a solved problem, other sites gracefully update them with timers.

[2018-10-15 18:16] andrapetronela opened #1366 "Open GitHub link in a new tab"
- improves accessibility for keyboard users
- consistent behavior  (Legacy links)

[2018-10-15 19:40] LavellTheDev commented on #1277
@julienw if this is no longer being worked on I would love to take a shot at it.

[2018-10-15 20:13] brisad commented on #1019
Busy times, but finally got around to work on this again.

@mstange I've updated the deploy preview addressing your two points. How does it feel now, you think?
If it seems alright I'll make a new PR, candidate for merging, where I'll fix some issues I've found while testing this.

But how do we feel about the keys used here? While it's nice to have different options to choose between, it is perha

[2018-10-15 20:49] mstange commented on #1019
Feels pretty good to me! The speed is a bit fast, and I think you should compute the pixel delta based on the elapsed time (times the intended velocity), but other than that, I really like it. I don't think it's too much of a problem to reserve this many keys; I don't know what else we'd want to use keys for.

I've also sometimes noticed a problem where focus was lost is some way after I was in a

[2018-10-16 06:52] monikamaheshwari commented on #407
@julienw This done I will create pull request for it.

[2018-10-16 08:43] julienw commented on #1254
Got it: we need to bump the version from the workerjs package.

[2018-10-16 08:57] zoepage commented on #1356
Thanks for the complete write-up @julienw.

If we could add timeline scrolling to the panels, the issue of hidden data would become smaller as we could access the hidden data faster. If the sidebar is disturbing, it could be closed anytime.

I don't think we have enough data to display in the full height sidebar to justify the cost of occupying the space. Especially on monitors, this decision will

[2018-10-16 09:39] monikamaheshwari commented on #1190
Hey @mstange, Can I work on this issue?

[2018-10-16 11:40] zoepage commented on #929
:+1: on the popover.

Looks like there is an overlay over the whole page. If this is the case, :-1: on this as this would block the site.

@canaltinova and I talked a bit about this and I'll dump a part of this feedback from slack in here:

I don’t think we have an update channel field in the json
It’s very firefox dependant field
But currently we are keeping version in the `misc` field like this:

[2018-10-16 11:42] julienw commented on #1190
Hey @monikamaheshwari, please do !

A good way to check this locally is to run `yarn build-prod`, open the resulting file in `dist/sw.js` and check the files that are defined in the `assets` property at the start. You can "beautify" this file using a command like:
[code]

If you do this now, you'll see that all files under `/docs` are included, and instead they should be excluded.

The configurati

[2018-10-16 11:46] julienw commented on #1356
If we auto-open the sidebar when something is selected, and because we select a node automatically at startup (using `procureInterestingSelection`), the stack chart would be misaligned by default. (this is not an issue for the call tree where there's no alignment needed)

[2018-10-16 11:51] zoepage commented on #1356
That totally makes sense. So, having the sidebar closed by default (combo out of A and D) would solve both, right?

[2018-10-16 11:54] julienw commented on #1019
I think I like the wasd mode more :) especially with q/e, this comes nicely under the fingers. And I'm using this on an azerty keyboard, so thanks for using `.code` ;)

I think we should also use the arrows without modifiers. Maybe in the future we'll change this to move between nodes, but now we should use these keys for this.  The reason is that we're used to using the arrows to move in a webpag

[2018-10-16 11:55] canaltinova commented on #929
I was wrong about the `misc` field. We shouldn't add the "Update channel" inside of it but we can add an additional field to metadata easily.

[2018-10-16 11:56] julienw opened #1371 "Changing the zoom gesture from shift + mousewheel to ctrl + mousewheel"
I can't remember to use shift+mousewheel to zoom in charts. The reason is that I use ctrl+mousewheel to zoom in webpages in Firefox, so this is what I want to use.

@gregtatum I know you decided this very carefully, so I'd especially like to have your rationale here.
@mstange @zoepage @digitarald @canaltinova what do you think?

[2018-10-16 12:11] canaltinova commented on #1371
I agree that `ctrl + mousewheel` is more intuitive for a Firefox user. That would also my first try while trying to figure out how to zoom. But I would also love to learn the rationale behind `shift + mousewheel`.
Also on macOS, both `ctrl + mousewheel` and `cmd + mousewheel` work for zooming. Would you also prefer to keep them both on macOS?

[2018-10-16 12:28] julienw commented on #1277
Hey @LavellTheDev, indeed I think @94151 doesn't work on this anymore, so feel free to look at it!  Thanks :)

[2018-10-16 13:14] digitarald commented on #1339
I'll try some other alternatives, @zoepage . Hiding content with scrolling does not support the ease of scanning the resource list to identify domains and file names. Maybe a hover to extend works as well, as long as we add some text affect to increase contrast (just a claim).

[2018-10-16 13:33] mstange commented on #1356
A & D sound good to me. (I'm really opposed to B.)

[2018-10-16 13:34] #1366 closed

[2018-10-16 13:35] #1254 closed

[2018-10-16 13:41] julienw commented on #1055
I'm not saying it's difficult, of course this is doable. I'm saying this increases the complexity for something that is, IMO, not especially necessary in this case.
Moreover this would prevent searching using the awesome bar for a specific date that we might recall.

[2018-10-16 15:01] brisad commented on #1019
Thanks for the feedback!

@julienw Greg already made a deploy preview where the flame graph nodes can be selected with the arrow keys:
https://deploy-preview-1311--perf-html.netlify.com/public/91bdb2248d08174f07d9186aabbe1025e5ff9bf1/flame-graph/?globalTrackOrder=0-1-2-3-4&hiddenGlobalTracks=1-3&hiddenLocalTracksByPid=41032-1-4-2-3~41035-0~41033-0-1&localTrackOrderByPid=41032-6-0-1-2-3-4-5~41035-0

[2018-10-16 16:36] ssrn commented on #1090
@julienw I think, I need your advice. I experiment with requestIdleCallback and requestAnimationFrame  in this way
[code]
and don't see big difference from just ` this._updateWidth(container)` without requestIdleCallback/requestAnimationFrame.
When page is in background and I resize the browser window, the resize handler is usually triggered 10 times with requestIdleCallback/requestAnimationFrame

[2018-10-16 17:50] hashi93 commented on #1140
Hi ! @julienw
Can I work on this issue ?

[2018-10-16 21:21] digitarald commented on #1055
I like that argument!

Lets go with YYYY-MM-DD (2018-10-16) then?

Going back to the initial proposal in comment one, combining it all using the format from #929:

`Firefox 59.0.2a - Intel Mac OS X 10.13 - 2018-03-29 16:02 (public) - perf.html`

Anything we can shorten or shall we just run with this for now?

[2018-10-17 00:01] violasong commented on #1356
Hi all! Yes, I think I see the problems. I agree with Ola's idea about a combination of A and D.

A few bonus thoughts in case it helps:

- isn't call tree affected as well, since the little thread-specific timeline becomes misaligned with the main timeline? (Maybe it's just a visual problem, not a functional problem.) Either way, it looks like the sidebar could nicely fit underneath the thread pa

[2018-10-17 00:04] violasong commented on #1356
Ah, I realized the Call Stack's thread-specific timeline is necessarily misaligned due to starting from the left of the window instead of having a thread name column.

[2018-10-17 03:43] digitarald commented on #1356
With the overlay, the right side would basically unreachable, making marker selection a bit harder for when we have marker sidebar data. That seems like it could lead to frustration (as the only way to get to the markers would require users to resize the time selection by trial and error to the the right hidden side to appear).

We talked about that, it didn't receive too much love (forgot the arg

[2018-10-17 03:45] digitarald commented on #1348
We have an item for an FPS track in the timeline section; is there a way we can make these markers more visual to show when animations happen and if they hit 60 fps?

[2018-10-17 03:58] mstange commented on #1356
There are two problems with a full height sidebar: 1. Improper visual hierarchy because it displays tab-specific data, 2. Jumping UI as you switch between tabs that have the sidebar visible / hidden.

[2018-10-17 05:57] zoepage commented on #1356
I agree with what @mstange pointed out.

[2018-10-17 05:59] zoepage commented on #929
Yes, it does. Thanks @digitarald :)

[2018-10-17 06:02] zoepage commented on #1055
Looks good! :)

We mentioned above we might go with `M/D/yyyy`. Still an option or rather go with `YYYY-MM-DD`?

What about URLs (data source)? Do we just want to display the domain or the full URL?

[2018-10-17 09:31] monikamaheshwari commented on #1190
Hey this has been done with pull request #1373

[2018-10-17 10:15] monikamaheshwari commented on #1322
Hey @brisad wanted to work on this issue.

[2018-10-17 10:58] zoepage commented on #1371
+1 on CTRL

[2018-10-17 12:20] julienw commented on #1055
I'd rather keep `YYYY-MM-DD`. 2 characters doesn't make such a difference here.

[2018-10-17 12:27] julienw commented on #1356
@violasong wow, the timings in that sidebar have too much precision. Would you please share the profile URL you used for this screenshot so that I'll file an issue?

@digitarald:

With the "overlay" solution, we would make the sidebar more easily closeable. So that's how you could access the hidden markers.
I agree it isn't perfect, but this works.

Otherwise, +1 with what @mstange said too

[2018-10-17 12:36] julienw commented on #1019
My take was that we should use the arrows for _something_ now. So until we have greg's code working, we could hook those to your code.

But we should have the wasd/qe keys work _as well_.

So in the final situation, when Greg's code will land, we'll have the arrow keys navigating between "objects" (markers / nodes), and the wasd/qe keys for visual/spatial navigation.

ctrl + up/down keys could tri

[2018-10-17 13:30] zoepage commented on #1356
@julienw that is an old deploy preview.

[2018-10-17 14:06] #905 closed

[2018-10-17 14:10] past commented on #1371
+100 on pinch-zoom working somehow!

[2018-10-17 14:55] #407 closed

[2018-10-17 15:13] brisad commented on #1019
Got it. Thanks for clarifying :)

[2018-10-17 15:47] julienw commented on #1329
Hey @amelarbab, could you work on this already? Do you need some more help to get started? Thanks!

[2018-10-17 15:48] julienw commented on #1274
Hey @Anshika-G, could you work on this? Do you need some more help getting started? Thanks!

[2018-10-17 15:49] julienw commented on #1251
Hey @meowwwls, I'd like to know how it works for you, could you start working on this? Thanks!

[2018-10-17 15:49] julienw commented on #1233
Resetting the assigned status as @meagonqz doesn't seem to look at ths bug after all.

[2018-10-17 15:50] julienw commented on #1155
Hey @karunagoyalk, could you look at this issue? Do you need any more help to get started? Thanks!

[2018-10-17 15:50] julienw commented on #1052
Without answer from @meagonqz, reseting the assigned status of this bug.

[2018-10-17 15:51] julienw commented on #770
Hey @subashiniganesh, could you look at this issue after all? Thanks!

[2018-10-17 15:53] julienw commented on #1140
Hey @hashi93, as you see, this issue is labeled as "assigned", this means it's not available for takers because somebody is already working on it. But you can find [some good first issues with this link](https://github.com/devtools-html/perf.html/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22+-label%3Aassigned). And feel free to come on Slack if you have questions!

[2018-10-17 16:19] julienw commented on #1090
With `requestIdleCallback`, maybe you can set the return value to a local variable, reset it in the callback, and check if it's set before calling `requestIdleCallback` again. Something like this:
[code]
And then check if we trigger it 10 times still.

Another option is to [debounce](https://lodash.com/docs/4.17.10#debounce) it to (for example) run it only once every second or 2 seconds. And maybe

[2018-10-17 16:29] hashi93 commented on #1233
May I work on this ?

[2018-10-17 17:23] mstange opened #1377 "Broken UI when selecting certain call stack in this profile"
Steps to reproduce:
 1. Load [this profile](https://master.perf-html.io/public/6dd93b6bfa8e9873f530ad5cede304ffaaa82c4f/calltree/?globalTrackOrder=1-2-3-0-4-5&hiddenGlobalTracks=1-2-3-0-4&hiddenLocalTracksByPid=54602-0~54546-0~54547-0-1-2-3-4~54545-0-1-2-3-4~54601-5-0-1-2-3-4&localTrackOrderByPid=54543-1-0~54602-0~54546-0~54547-0-1-2-3-4~54545-0-1-2-3-4~54601-5-0-1-2-3-4~&thread=18&v=3).
 2. Click

[2018-10-17 18:48] julienw commented on #1233
@hashi93 yes please !

[2018-10-17 18:54] julienw commented on #1377
Pretty sure the error comes from this line:https://github.com/devtools-html/perf.html/blob/3d71e2cc7c7f074a7d1787bdb25c05abc0b22cfa/src/profile-logic/call-tree.js#L43
and `libname` isn't a good URL here, because for some reason we have twice the URL domain.
Maybe we enter https://github.com/devtools-html/perf.html/blob/749945410a2d19de384ecbc6cb759a1ad444588b/src/profile-logic/profile-data.js#L144

[2018-10-17 18:59] gregtatum commented on #1343
Done.

[2018-10-17 19:09] gregtatum commented on #1347
I believe this is an older profile, without category information. This result is not surprising as we have some upgrade code to guess the categories. I would say we shouldn't over-invest in fixes in this area, but doing this for Windows idle categories seems to be a good thing to do.

The code to add these function names is here:

https://github.com/devtools-html/perf.html/blob/3d71e2cc7c7f074a7d1

[2018-10-17 19:14] gregtatum commented on #1331
Thanks, I will incorporate the feedback here and update the mock-up.

[2018-10-17 19:34] gregtatum commented on #942
I don't like the idea of having blank space at the bottom, when we can have useful information to see. I agree that having a scroll bar over an item, making it harder to click, is annoying. I would prefer to mitigate the annoyance, but keep all available space.

## Keyboard down key issue

Steps to reproduce:
 * Open a call tree with many rows not scrolled into view on a Mac.
 * Focus the call tre

[2018-10-17 19:37] gregtatum commented on #1346
So to be clear, it's not visible until you click the overflow menu? So we would have a meatball menu in the top left, you would click it, then it would have those links? That would be pretty amazing.

[2018-10-17 19:48] gregtatum commented on #1330
I think this is probably not a good first issue to start on, this code is pretty complicated and new. I'm going to go ahead and assign it to myself. @emanueltimlopez Feel free to ping us to help find a good issue to work on if you don't find one in that list.

[2018-10-17 19:59] meowwwls commented on #1251
@julienw Apologies! I will be able to start working on this tomorrow morning!

[2018-10-17 20:17] navgurukul-shivani18 commented on #1343
Hi @julienw I think this issue is blocked till `Appveyor` updated their yarn version, currently as I am checking they are using `Yarn 1.9.4`. More info at https://www.appveyor.com/updates/

Let me know if I am doing any mistakes

[2018-10-17 20:56] gregtatum commented on #929
Looks like a pretty reasonable plan, maybe with a bit more UI polish on it. I'm not sure if it's worth to go into that now or not. I'd want to make sure the UI works will when we have a lot of a committed time ranges in the header, as right now the mock up doesn't have any. It seems common to have 3 or 4.

[2018-10-17 21:41] gregtatum commented on #1356
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/1588648/47117933-671a3e80-d22b-11e8-8a74-396325dc5893.png">

Here is another option, align it to the left, but keep it the same size as the thread names. This would give use more space to add icons to threads for toggling them.

[2018-10-17 21:54] gregtatum commented on #1356
This is more for completeness, and the indentation should be swapped on the sides.

## F. Move the thread list to the right.

![mockup](https://user-images.githubusercontent.com/1588648/47118555-36d39f80-d22d-11e8-85dc-a8820d32beb4.png)

This one breaks my brain.

[2018-10-17 22:34] meowwwls commented on #1251
@julienw I'm having trouble getting started now because I'm not sure how to apply the patch. I've never worked with patches before (and my git experience with repos other than my own is not extensive).

[2018-10-18 03:34] digitarald commented on #1356
We also have the backlog item for summarizing the current timeline selection (🥧📈😋), which, depending on where we decide to put this data, would extend the sidebar usage to represent selection of timeline based data. I admit though that just winding me theoretically through the possibilities of the interactions between timeline and just because timeline selection can be summarized there, it doesn't

[2018-10-18 03:42] digitarald commented on #929
(Not changing the direction here as we seem to be in a good spot.) Just for reference, Instruments profile details.

<img width="933" alt="image" src="https://user-images.githubusercontent.com/8599/47130023-c09f5f00-d265-11e8-8d1e-5439e8fc428d.png">

Interesting points are that its a "tab" in the sidebar and how it groups recording info and settings.

[2018-10-18 06:28] meowwwls opened #1378 "Mobile sidebar accessibility issues in the docs"
On smaller screens when the sidebar is offscreen, there are a few accessibility issues:

- There are no focus styles on the button. For someone tabbing through the page, there is no indication the button has been focused and ready to be interacted with.

- When the sidebar is hidden, it is only done so visually. All of the links and the search input is still being tabbed through, which is pretty c

[2018-10-18 09:36] julienw commented on #1378
Thanks for this bug!
For the documentation we rely on https://docsify.now.sh/, so I believe most of the issues should be reported there as well, and possibly fixed directly there too.

[2018-10-18 10:04] meowwwls commented on #1361
@andrapetronela Perhaps this article about [picking accessible color palettes for data visualization](https://blog.graphiq.com/finding-the-right-color-palettes-for-data-visualizations-fcd4e707a283) would be of help if patterns are a no go?

[2018-10-18 10:10] julienw commented on #1251
First I realize the commit had an extra file by mistake. I fixed it and here you can find the good version: https://github.com/devtools-html/perf.html/compare/master...julienw:simplify-marker-context-menu

Now on github it's possible to get a patch for any diff view by adding `.patch` to the URL, so in this case this is: https://github.com/devtools-html/perf.html/compare/master...julienw:simplify-

[2018-10-18 10:20] meowwwls commented on #1251
Thank you so much! That worked perfectly. I'll get to working on this today!

[2018-10-18 12:48] julienw commented on #1343
We could look into installing it in the CI script, but it's easier to wait a bit, especially that this issue isn't urgent.

[2018-10-18 12:55] julienw commented on #1347
I see from the list that we tried to match methods from higher in the list, and possibly from the xul library to be OS-agnostic (I assume). I'll look at the profile again and come up with a better list.

[2018-10-18 13:42] zoepage commented on #862
Could you give a bit more context here?
I was going through the tests today and was thinking about tackling this soon. :)

[2018-10-18 14:18] gregtatum commented on #862
Looking at this, I think some of the clean-up may already have happened since I filed this. The biggest thing I think would be to rename `src/test/fixtures` to `src/test/utils` so that it's more accurate.

It could be nice to separate out *utils* for creating profiles from *fixtures* of profiles that look a certain way. I'm not sure if everything could be treated that way, but it may make the fold

[2018-10-18 14:49] julienw commented on #1347
I see some func names (like `base::MessagePumpDefault::Run(base::MessagePump::Delegate *)`) that are al ready defined and yet they're not defined as IDLE.
See [this thread](https://master.perf-html.io/public/a93db3de1a9d6feb1c5e75b1a017d3bd12eba035/calltree/?globalTrackOrder=0-1-2-3-4-5&localTrackOrderByPid=3668-46-0-1-2-3-4-5-6-7-8-9-10-11-12-13-14-15-16-17-18-19-20-21-22-23-24-25-26-27-28-29-30-

[2018-10-18 14:54] amelarbab commented on #1052
i want to work on this task. can i take this up?

[2018-10-18 15:02] julienw commented on #604
I think we can consider this done now :)

[2018-10-18 15:02] #604 closed

[2018-10-18 15:03] julienw commented on #1052
@amelarbab Because you already worked on a "good first issue", it would be nice if you can take a non-"good first issue" now :-) Maybe https://github.com/devtools-html/perf.html/issues/463 is not too difficult ?

[2018-10-18 15:03] julienw commented on #1329
@meowwwls @amelarbab actually produced a pull request today :)

[2018-10-18 15:05] julienw commented on #1346
I was seeing this at the top right with the other menus, but we can discuss :)

[2018-10-18 15:29] amelarbab commented on #463
@julienw  i will start on this issue

[2018-10-18 15:34] jrmuizel opened #1383 "Selecting a time range is slow"
On this profile https://perfht.ml/2RXuSkU, it feels really laggy when you try to select a time range.

[2018-10-18 15:52] julienw commented on #1377
In this thread we do have a bunch of strings that start with a space, which seems a bit weird. I didn't see it in other profiles I checked.

Here is how we can find that: `filteredThread.stringTable._array.filter(i => i.startsWith(' '))`

We have URLs starting with a space but also function names. I'm not sure we support this really. How was this profile captured @mstange? Should we defensively pr

[2018-10-18 15:56] mstange commented on #1377
I captured a profile loading cnn.com .

[2018-10-18 16:02] julienw commented on #1377
When loading the profile with the fix in #1384 we can see that all JS frames at the root scope have the issue in their lib name. But we can see some function names also have a space at the start. Something must be wrong in the profiler.

[2018-10-18 16:03] julienw commented on #1377
I don't think I get the problem on my computer :(

[2018-10-18 16:53] mstange commented on #1377
Ooooohh oops, yes, this happened with a local patch applied that added unnecessary in stack frames. Ok, that makes sense.

[2018-10-18 16:56] ssrn commented on #1090
@julienw , thanks for your detailed answer!
I tried first variant and tests failed with error `TypeError: window.requestIdleCallback is not a function`.
Yesterday tests were ok, because I used `requestIdleCallback` only when `document.hidden`.
Should I use a shim for this method and where is the best place to declare it?

[2018-10-18 17:17] andrapetronela commented on #685
@julienw, may I work on this issue?

[2018-10-18 18:03] parammittal16 commented on #1147
@past I will be pleased to work on this issue

[2018-10-18 19:06] past commented on #1147
Excellent, go ahead! The files in [this](https://github.com/devtools-html/perf.html/tree/master/docs-user) directory are relevant and the MDN page to copy over is linked in the first comment.

[2018-10-18 19:30] digitarald commented on #1346
I imagined it top-right as well, similar to other "overflow"-style menus in Firefox. Could use the meatball menu or the overflow chevron; no strong opinion.

[2018-10-18 19:59] meagonqz commented on #1052
Ah apologies, these github notification emails were going to my spam folder. Fixed that.

I ended up with not a lot of free time lately due to a work project, happy to let someone else take this up, thanks!

[2018-10-18 20:59] gregtatum commented on #1383
@jrmuizel I can't reproduce on my machine. Everything feels snappy.

Are you on high-end or low-end hardware?
What thread and panel are you looking at, does it reproduce across everything?
Perhaps a profile of the profile would help diagnose the issue.

[2018-10-18 21:07] mstange commented on #1383
I can reproduce this on my powerful Macbook Pro. The lag happens at the start of the drag - the first mousemove with the mousedown is slow. After that, performance is fine.

[2018-10-18 21:07] mstange commented on #1383
I think part of the problem is that we're repainting the marker timeline at all. And the other problem is that repainting the marker timeline takes a lot longer than expected.

[2018-10-18 21:15] jrmuizel commented on #1383
Here's a profile of the perf.html: https://perfht.ml/2EwUu5p. There are big chunks of time interacting with canvas.

[2018-10-18 21:39] gregtatum commented on #1383
So I guess the investigation here is to see why were are drawing the markers in the timeline, and try to prevent the redraw when it's unnecessary.

[2018-10-19 01:50] mstange opened #1387 "Mixed URLs when sharing ?file= profiles"
Steps to reproduce:
 1. Follow a link to a /from-url/ profile and pick a file. [For example this one.](https://perf-html.io/from-url/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FRTvuMmaqTXiVbSq4Vh9yrQ%2Fruns%2F0%2Fartifacts%2Fpublic%2Ftest_info%2Fprofile_ts_paint_webext.zip/calltree/?file=profile_ts_paint_webext%2Fstartup%2Fcycle_0.profile&globalTrackOrder=0-1-2-3&hiddenGlobalTracks=1&localTr

[2018-10-19 01:54] mstange opened #1388 "Add the ability to generate short URLs for /from-url/ profiles"
If I load a a /from-url/ profile [such as this one](https://perf-html.io/from-url/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FRTvuMmaqTXiVbSq4Vh9yrQ%2Fruns%2F0%2Fartifacts%2Fpublic%2Ftest_info%2Fprofile_ts_paint_webext.zip/calltree/?file=profile_ts_paint_webext%2Fstartup%2Fcycle_0.profile&globalTrackOrder=0-1-2-3&hiddenGlobalTracks=1&localTrackOrderByPid=6267-13-0-1-2-3-4-5-6-7-8-9-10-11-12~

[2018-10-19 01:56] mstange opened #1389 "Selected thread in URL ignored in this profile"
STR:
 1. Load [this profile view](https://perf-html.io/public/7839104db0a27290c2ab397a1802331a81243156/calltree/?globalTrackOrder=0-1-2-3&hiddenGlobalTracks=1-2-3&hiddenLocalTracksByPid=6267-13-0-2-3-4-5-6-7-8-9-10-11-12&localTrackOrderByPid=6267-13-0-2-3-4-5-6-7-8-9-10-11-12-1~6374-0~6343-0~&thread=2&v=3).

Expected results:
The WRWorker#1 thread should be selected.

Actual results:
The thread se

[2018-10-19 05:56] arcturusInk commented on #1001
![image](https://user-images.githubusercontent.com/9923181/47199763-26ace480-d341-11e8-936d-e120c75b85ff.png)
Was able to do this.

I will submit a pull request using the [instructions from GitHub](https://help.github.com/articles/creating-a-pull-request/); it will my first ever pull request. Any other tips on how make a PR would be appreciated.

@julienw Thank you for your patience. But I think t

[2018-10-19 06:43] monteirocamis commented on #1341
Hi, Did you fixed the layout? I have made some tests here But I don't know If that is what you need.I came from Outreachy =)
![perf responsive](https://user-images.githubusercontent.com/26682838/47201698-2ddbee80-d351-11e8-8244-e92efa06aeb0.png)

[2018-10-19 07:32] ssrn commented on #1341
@monteirocamis, hi! Yes, I fixed it, but now my PR is waiting for julienw's approval)

[2018-10-19 07:33] monteirocamis commented on #1341
@ssrn aah okey =))

[2018-10-19 07:58] ssrn commented on #1341
@monteirocamis I like this top purple border you added. @julienw should I add it?

[2018-10-19 09:12] julienw commented on #1341
@ssrn in mobile design, I think less is better than more, so let's keep it without this top purple border :)

[2018-10-19 09:13] julienw commented on #1341
@monteirocamis thanks for your try! You can find other "good first issues" with [this link](https://github.com/devtools-html/perf.html/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+-label%3Aassigned+label%3A%22good+first+issue%22). I'll try to add some more today.

[2018-10-19 09:15] julienw commented on #1001
Hey @arcturusInk, thanks for your work! I think the documentation you want is [creating a pull request from a fork](https://help.github.com/articles/creating-a-pull-request-from-a-fork/).
If you haven't created a fork yet, you can [read this help page](https://help.github.com/articles/fork-a-repo/) too.
If you need more help, please ask here, or, better, on Slack!

[2018-10-19 09:37] julienw commented on #1347
Another profile with issues about that: https://master.perf-html.io/public/7839104db0a27290c2ab397a1802331a81243156/calltree/?globalTrackOrder=0-1-2-3&hiddenGlobalTracks=1-2-3&hiddenLocalTracksByPid=6267-13-0-2-3-4-5-6-7-8-9-10-11-12&localTrackOrderByPid=6267-13-0-1-2-3-4-5-6-7-8-9-10-11-12~6374-0~6343-0~&react_perf&thread=0&v=3

Is it because it's a new profile and we miss some idle categories at

[2018-10-19 09:55] julienw commented on #1389
The logic to decide all this is all contained in https://github.com/devtools-html/perf.html/blob/4295d3370942ee9dacc6928351996651f0139d1e/src/actions/receive-profile.js#L70

It would be interesting to debug this function and inspect the state of the variables. I think this could be taken by a contributor, but this would need some debugging skills, so I'm not making this as a "good first issue".

[2018-10-19 10:02] zoepage commented on #1356
As promised yesterday in the meeting, some mocks to make my concern about <b>E</b> more understandable. :)

## Issue

As the sidebar is movable, the starting point differs. This is why the panel is not aligned anymore with the thread.

![left_sidebar1](https://user-images.githubusercontent.com/562354/47210281-d8c0cc80-d392-11e8-8603-dca9d6686dc5.png)

Same goes here:
![left_sidebar2](https://user-

[2018-10-19 12:18] julienw commented on #1388
The logic is in `MenuButtons.js` and `.css`. It's not very easy to change because there are a lot of cases and I don't find the logic easy to follow. Especially the states "shareable" and "has permalink" are more or less exclusive at the moment, while these profile should have both buttons, like when we have a profile shared without URLs.

[2018-10-19 12:54] julienw commented on #1383
I don't think that's the reason of what you see. The reason is that we don't show anything until we drag at least the length of a sample. But then we can go lower than a sample size.

But I think what @jrmuizel sees is when the range is big and we redraw the full marker canvas. I believe the problem in this profile is the amount of `RefreshDriverTick` markers. We can see this when hovering the mar

[2018-10-19 12:56] julienw opened #1390 "We should start a preview selection as soon as we dragged a few pixels"
In #1383 we rediscovered that we don't start a preview selection until the dragged part is bigger than a sample size. We should change this.

You can see https://perf-html.io/public/05573812f1211401e6fa722f232e395f33ef40a5/calltree/ as an example.

[2018-10-19 13:11] julienw commented on #1390
This comes from https://github.com/devtools-html/perf.html/blob/4295d3370942ee9dacc6928351996651f0139d1e/src/components/timeline/Selection.js#L382

Then it's compared in https://github.com/devtools-html/perf.html/blob/4295d3370942ee9dacc6928351996651f0139d1e/src/components/timeline/Selection.js#L123-L134

Instead I think we should directly use `event.pageX` to start the preview selection if it's m

[2018-10-19 13:14] #1377 closed

[2018-10-19 13:20] julienw commented on #1090
This is how we did it in another file: https://github.com/devtools-html/perf.html/blob/980c1450e3bd28b605128ee03616ea61179791be/src/actions/receive-profile.js#L195-L207

Maybe it would be a good idea to extract this into `src/utils/request-idle-callback.js` and use it here.

[2018-10-19 13:20] julienw commented on #685
@andrapetronela sure !

[2018-10-19 14:28] julienw opened #1391 "Document the new Firefox pref `devtools.performance.recording.ui-base-url`"
In [Bug 1480593](https://bugzilla.mozilla.org/1480593) we introduced this new Firefox preference `devtools.performance.recording.ui-base-url` to configure the server we use to load a captured profile. We should document this in our `docs-user` documentation about remote profiling.

[2018-10-19 15:11] mstange opened #1392 "Make JS entry and exit points part of the "JS only" call tree"
We should annotate certain profiling stack labels as "relevant for JS" and display them in the "JS only" call tree. The two kinds of profiling stack labels I have in mind are the `AutoEntryScript` labels and the WebIDL API labels.

This would be to solve problem 2 of https://github.com/devtools-html/perf.html/issues/836.

Quoting the relevant parts of https://github.com/devtools-html/perf.html/iss

[2018-10-19 16:40] gregtatum commented on #1392
@mstange Will this new view preserve the call tree structure when combining JS stacks from different interpreter baseline and ion. Right now since we drop the C++ code and all frame labels, the JS call tree has a single shape. My guess is that the tree remain consistent. I'm don't really know what `AutoEntryScript` is, but I'm guessing those are the entry/exit points.

[2018-10-19 16:43] gregtatum commented on #1356
@zoepage my intention was to have the sidebar and thread list aligned whenever you scrub them. The deploy preview I put together didn't do it, because it was more work than I was willing to put into a preview. I agree with you that we shouldn't ever break the alignment.

[2018-10-19 16:45] amelarbab commented on #463
can you give more details about "Load from URL" button and a design of dropdown please @julienw

[2018-10-19 18:38] mstange commented on #1392
Yes, this view will preserve that. `AutoEntryScript` is the entry point from Gecko code into Spidermonkey. It does not interleave the JS call stack within Spidermonkey.

[2018-10-19 20:08] violasong commented on #1339
Re: URL cropping, one thing Debugger does (inspired by Atom) is starting with the file name, with the path starting after it in a grayer color

<img width="663" alt="image" src="https://user-images.githubusercontent.com/55994/47241253-e3359300-d39f-11e8-9239-e1216f5e3f94.png">

I also love the idea of removing the https://www. unless that's important.

[2018-10-19 20:39] digitarald commented on #1339
One constrain to consider is that the URLs can come from many domains and can contain several page loads; so its not as domain-centric as normal devtools panels.

I also like it, but need to check with performance engineers that love these kind of details. Risk here is that protocol/www mismatch can lead to redirects; and hiding the details basically shows the same domain redirecting a few times.

[2018-10-19 22:28] violasong commented on #1339
Ah, I see! Now that I'm reading #1259 more carefully, I don't think I understand the issues enough to come up with any ideas beyond what is already suggested there :)

[2018-10-19 22:40] violasong commented on #1339
One quick thought - maybe on hover the overly long URLs could expand onto the next row? I feel like I've seen this somewhere.

[2018-10-19 22:41] monteirocamis commented on #1341
@julienw yeaah , thank you julien =) If you remember something that I can help, just mark me on it or call me at slack .I know front end ( html, css, js, react, scss,bootstrap,jquery ...)

[2018-10-20 08:36] monikamaheshwari commented on #1322
Hey, created a pull request #1394

[2018-10-20 09:49] monikamaheshwari commented on #1387
@mstange Want to work on this issue.

[2018-10-20 11:52] julienw commented on #463
About the design you can look at https://github.com/devtools-html/perf.html/issues/463#issuecomment-316741608, this is more 3 aligned buttons that would take the place of the 1 button we have at the moment.

The 3 actions are:
* load profile from file => this is the action we have at the moment
* load profile from URL => see `https://github.com/devtools-html/perf.html/blob/master/docs-developer/lo

[2018-10-20 11:52] julienw commented on #463
When I write "2 parts", I mean "2 different pull requests" :)

[2018-10-20 11:55] julienw commented on #1387
Hey @monikamaheshwari, I see you already worked on another `good first issue`, therefore it would be nice if you can work on an issue that's not `good first issue`. For example you can look at https://github.com/devtools-html/perf.html/issues/1389 that is quite self contained and quite interesting because it needs some investigation :)

[2018-10-20 12:47] amelarbab commented on #463
Great , thank you :)

[2018-10-20 12:48] monikamaheshwari commented on #1389
Hey @mstange wanted to work on this issue

[2018-10-20 12:49] monikamaheshwari commented on #1387
@julienw Ok. No problem.

[2018-10-20 13:03] julienw commented on #1389
@monikamaheshwari please do !

[2018-10-20 16:52] mstange opened #1396 "getFunctionName removes "template" pieces from functions that aren't C++ / rust functions"
Steps to reproduce:
 1. Find a `AutoEntryScript <script> element` profiler label stack frame in the call tree.
 2. Right click it and choose "Focus function".

[Example profile with this transformation applied](https://master.perf-html.io/public/7839104db0a27290c2ab397a1802331a81243156/calltree/?globalTrackOrder=0-1-2-3&hiddenGlobalTracks=0-1-2&hiddenLocalTracksByPid=6267-13-0-2-3-4-5-6-7-8-9-10-1

[2018-10-20 20:40] mstange opened #1397 ""Copy script URL" doesn't remove line number from URL if column number is present"
Steps to reproduce:
 1. Load this profile: https://perfht.ml/2EAthPu
 2. Right-click on a JS call node, and select "Copy script URL" from the context menu.

Expected results:
The URL should be copied without any trailing line or column numbers.

Actual results:
The `:<lineNumber>` part is part of the copied string. E.g. "resource://gre/modules/remotepagemanager/RemotePageManagerChild.jsm:75:0" get

[2018-10-21 10:13] hashi93 commented on #1233
find my PR on : https://github.com/devtools-html/perf.html/pull/1398/commits

[2018-10-21 20:11] arcturusInk commented on #1001
@julienw

A few things:

- I have only worked on this issue with the following profile: http://localhost:4242/public/3b385fcef7147e3d218572e008acff2175005636/calltree/?globalTrackOrder=0-1-2-3-4&hiddenGlobalTracks=0-1-2-3&hiddenLocalTracksByPid=2320-0&implementation=js&localTrackOrderByPid=2320-0-1~&react_perf&thread=5&transforms=f-js-zUs&v=3. Haven’t tested with other profiles.
- Had to modify th

[2018-10-22 11:47] julienw commented on #463
Hey @amelarbab, in response to your message on Slack, here are some more information about how to do the first part.

I think you shouldn't run `retrieveProfileOrZipFromUrl` directly as it's already run in https://github.com/devtools-html/perf.html/blob/980c1450e3bd28b605128ee03616ea61179791be/src/components/app/Root.js#L113-L115. Instead we should trigger this.

This means you should trigger an a

[2018-10-22 12:30] julienw commented on #1251
As discussed in https://github.com/devtools-html/perf.html/pull/1380#pullrequestreview-166905649 this issue is now about adding the code to handle the name for "complex" markers (eg DOMEvent) that have a `name` property in their payload.

[2018-10-22 15:38] julienw commented on #1343
Note: netlify also uses an older yarn.

[2018-10-22 15:53] #1329 closed

[2018-10-22 16:05] julienw commented on #1001
Hey @arcturusInk, the easiest would be to push your current changes to a pull request :)

[2018-10-22 17:12] digitarald commented on #1055
Summarizing.

Goals:
- Improve searchability of tabs/titles
- Quickly identify the age of profile / nightly version

We can move the information bits around later when we got feedback. Everybody OK with the following first shot?

`Firefox 59.0.2a - Intel Mac OS X 10.13 - 2018-03-29 16:02 (public) - perf.html`.

For the #929 this title would result in:

`Firefox 59.0.2a  Intel Mac OS X 10.13  2018-

[2018-10-22 20:08] digitarald opened #1406 "/docs broken in todays push"
`/docs/` redirects to `/` and throws:

<img width="530" alt="image" src="https://user-images.githubusercontent.com/8599/47316214-7a4a5700-d5fb-11e8-858d-fcef7e164528.png">

[2018-10-22 20:44] gregtatum commented on #1406
Fixed with #1407

[2018-10-22 21:05] digitarald commented on #1406
Verified.

[2018-10-22 21:05] #1406 closed

[2018-10-22 22:35] gregtatum opened #1408 "Chrome throws wasm compile error"
Chrome throws `CompileError: WebAssembly.instantiateStreaming(): Wasm code generation disallowed by embedder`.

It looks like we need to turn on `unsafe-eval` for our CSP:
https://bugs.chromium.org/p/chromium/issues/detail?id=686369

[2018-10-23 12:16] julienw commented on #1408
To be compliant with the mozilla policy for google analytics usage, we need to have B+ on mozilla observatory. We'll need to check this once we turn on unsafe-eval.

[2018-10-23 12:46] julienw commented on #1392
Maybe we also need something that says "in gecko" vs "outside gecko". A good example is all the self-hosted JS APIs, that (I think) a user doesn't want to see its implementation but rather only the edge of these APIs.
I'm really not sure we want this, nor that it's the most relevant issue to discuss this.

[2018-10-23 12:48] julienw commented on #1339
I think I did this in the sidebar at one point, but we didn't keep it, in favor of some component that would select all when clicked so that we can ctrl-c it.

[2018-10-23 13:01] julienw commented on #1396
We're talking about the `getFunctionName` function in https://github.com/devtools-html/perf.html/blob/master/src/profile-logic/function-info.js.

The issue is probably in the function `removeTemplateInformation`. Maybe we shouldn't remove the information if the `<` is preceded by a space?

Also in https://github.com/devtools-html/perf.html/blob/da5a48869c5175edc7ddf76c44792115b5c54151/src/componen

[2018-10-23 13:44] mstange commented on #1396
It's not pretty, but you could get the resource for the func and check that its `lib` is not null, undefined or -1...

There's https://bugzilla.mozilla.org/show_bug.cgi?id=1465869 for putting information about this the frameTable.

[2018-10-23 14:40] gregtatum opened #1410 "Provide some UI that indicates how many threads are hidden"
Right now it's confusing because we auto-hide idle threads. This is non-obvious to users who have not managed to right click the thread list and see that you can hide/show threads. We need some kind of UI indication of hidden threads.

This profile is a good example of many hidden threads: https://perfht.ml/2NXuT5j

[2018-10-23 15:44] zoepage commented on #1410
@gregtatum Would something like this be enough?

<img width="409" alt="screen shot 2018-10-23 at 17 43 13" src="https://user-images.githubusercontent.com/562354/47372975-2d45ae00-d6eb-11e8-9288-aba5722765c3.png">

[2018-10-23 19:39] gregtatum opened #1413 "Improve Enzyme best practice docs"
From #1401, there were some updates to the Enzyme testing docs, but they could be better still.

@julienw wrote:

[2018-10-24 01:31] LavellTheDev commented on #1277
@julienw Sounds good thank you

[2018-10-24 10:57] jesup commented on #1410
That would work and may be sufficient - the main case to check, however, is an entire content process being hidden (having small lines for the hidden threads may be good).  I had been thinking of a line with <X hidden processes> or <X hidden threads>, which opens the UI when you touch them.  Note I'm not a UI designer, nor really cognizant of what's easy/hard in the framework we're using :-)

[2018-10-24 12:34] zoepage commented on #1410
I was thinking the same about the lines, but as there is a lot going on already in the threads and also in the graph, this might not be visible enough?

[2018-10-24 13:18] zoepage commented on #1356
I was okay with having the sidebar on the left side, but changed my mind after running some user tests at the office. I let them (people who know the tool and some who don't) play around with it. They seemed confused by what the information in the sidebar was referring to. After an explanation, everyone said they were expecting that kind of information on the right side. I asked them to give it a

[2018-10-24 14:23] gregtatum opened #1416 "Initial JS Tracer implementation (previously called TraceLogger)"
With issue #1263 and deploy preview #1285 @dpalmeiro and I prototyped out a JS Tracer view. The prototype was successful, and we are moving forward with landing some code. This issue is for outlining the work that needs to happen to land the code.

#### To do:

- [ ] Only show the JS Tracer tab when there is information to show
- [ ] Create a setting toolbar to configure settings
- [ ] Provide rad

[2018-10-24 17:20] julienw commented on #1410
Could we show there's a gap where the hidden elements should be present?
Eg a line 2 pixels high for each hidden element. At hover it would show the name of the hidden element, and It would be clickable to show it.

[2018-10-24 17:42] julienw commented on #1090
Thanks for your 2 existing PRs. Don't worry about the test failures yet, we can look at it once we know the right solution.
Can you try to do the last possibility as described in https://github.com/devtools-html/perf.html/issues/1090#issuecomment-430694034 ?

[2018-10-24 17:43] julienw commented on #1090
Ah sorry, I just realized you did it in https://github.com/devtools-html/perf.html/pull/1412!

[2018-10-24 18:17] julienw commented on #1389
Hey @monikamaheshwari, thanks for looking into it. Let me add some more information.

First, an easier STR:
1. load [this profile](https://perf-html.io/public/7839104db0a27290c2ab397a1802331a81243156/calltree/?globalTrackOrder=0-1-2-3&hiddenGlobalTracks=1-2-3&hiddenLocalTracksByPid=6267-13-0-2-3-4-5-6-7-8-9-10-11-12&localTrackOrderByPid=6267-13-0-2-3-4-5-6-7-8-9-10-11-12-1~6374-0~6343-0~&thread=2&

[2018-10-25 12:01] ssrn commented on #1090
@julienw @gregtatum, hi! Unfortunately, I'm going trekking without a laptop tomorrow evening(euro time) until the 12th of November. So, if I don't complete this issue until tomorrow evening and someone will be interested in it, give it to this person. If not, I'll come back and be happy to continue. Sorry for the inconvenience:(

[2018-10-25 12:40] zoepage commented on #1410
Just so show a few examples, the tool gets pretty busy sometimes. So I think adding more elements to e.g. the thread list might interfere with the UX.

<img width="1362" alt="screen shot 2018-10-25 at 14 37 59" src="https://user-images.githubusercontent.com/562354/47500652-aa942e80-d863-11e8-97bb-d7df820d2f75.png">
<img width="1362" alt="screen shot 2018-10-25 at 14 37 04" src="https://user-images

[2018-10-25 12:53] julienw commented on #1410
I was suggesting this because this is quite common that there's "something else" where hidden elements should be.

Sometimes we see something like a "paper accordion" if I may call it like this (I don't have a specific example in mind sadly).

[2018-10-25 12:54] julienw commented on #1090
@ssrn don't worry. Don't forget to apply for outreachy, if that's not done yet!

[2018-10-25 13:16] zoepage commented on #1410
I agree. I just think that we should be careful on how we add elements / which elements as we have already so much going on in that tool. This is why it might be good to check in with UX and see if we can improve something to keep the profiler focused on understanding the data the best way possible.

[2018-10-25 13:45] monikamaheshwari commented on #678
Hey @julienw Can I work on this issue?

[2018-10-25 13:46] julienw commented on #1387
I thnk @amelarbab said they would work on this.

[2018-10-25 13:57] julienw commented on #678
Hey @monikamaheshwari yes sure!

[2018-10-25 14:08] zoepage opened #1419 "Re-using MarkerTooltipContents for sidebar content"
@julienw and I were discussing the idea of reusing `MarkerTooltipContents.js` for the sidebar content.
The main reason here is, we have quite some logic in here that we need and would have to duplicate.

https://github.com/devtools-html/perf.html/blob/master/src/components/shared/MarkerTooltipContents.js

It might be a good time to re-factor MarkerTooltipComponents as this file is pretty big (we t

[2018-10-25 14:19] gregtatum commented on #1419
My initial thoughts are to create a file with lots of different small components that can be mixed and matched as needed, and have an opinionated component that combines them together. Something like this:

[code]

This way we can create small re-usable components that contain the formatting for different components we care about, but then we are free to change the design of the larger component.

[2018-10-25 14:30] julienw commented on #1419
Yep, this should work.
But what makes `MarkerTooltipContents` big is the per-domain logic. So I think that if we'd want to split it we'd want to split it (rather or in addition) per domain (eg: `markers/gc.js` for GC-related logic, etc). Today, this logic is mainly "how to transform a payload into an array of tooltip lines", but in the future where we'll want to do diffs etc, this could be a multi

[2018-10-25 14:32] julienw commented on #1387
@amelarbab I looked at our existing tests, and this looks a bit difficult or long to write a test for this with our current setup. So let's do without tests for now.

[2018-10-25 14:37] mstange commented on #1410
Strawman mockup:

<img width="1552" alt="showing-three-threads-closed" src="https://user-images.githubusercontent.com/961291/47508322-2ac29000-d874-11e8-80cb-f6f7581cb3a2.png">
<img width="1552" alt="showing-three-threads-open" src="https://user-images.githubusercontent.com/961291/47508326-2c8c5380-d874-11e8-9ffa-a0448e911d64.png">

This would avoid the need for a context menu (which is not very d

[2018-10-25 14:39] #1389 closed

[2018-10-25 14:56] julienw commented on #678
@monikamaheshwari As a quick note, I'd like to warn you that this is an issue that's quite involved and will need a lot of changes in quite complex components (especially the TreeView), it's not something that can be done in 1 day, it would more be 1 week. Is that still OK?
I don't want that you spend too much time working for us for Outreachy, this isn't the goal of this application period.

[2018-10-25 14:58] #1341 closed

[2018-10-25 14:59] monikamaheshwari commented on #678
ok. Can there be any simple accessibility issues to start.

[2018-10-25 15:06] mstange commented on #1397
Well, then it looks like the fileName and lineNumber fields in the funcTable are wrong. And indeed, profile processing does not know about the column number: https://github.com/devtools-html/perf.html/blob/e59bf5fd21eb9082785235cdec0df881089f02a7/src/profile-logic/process-profile.js#L385-L390

[2018-10-25 15:34] amelarbab commented on #1387
Okay, i could not upload a profile due to this error "An error occurred during upload: Error: xhr onerror was called, xhr.statusText:", how can i solve it.

[2018-10-25 15:37] gregtatum opened #1420 "Move from timing in milliseconds to sample counts"
Right now we display timing in the call tree and flame graph using milliseconds. The formula for this is computed by:

`sampleCount * profilingInterval`.

This turns out to work pretty well when the sampling is regular, and on time. However, it starts to fall apart when sampling starts to happen at [irregular or late intervals](https://perfht.ml/2CHV6D1). For consistently late intervals this means

[2018-10-25 15:39] julienw commented on #1397
Ah, got it.

Then in this bug we need to:
* introduce a `columnNumber` in the `funcTable` (see `src/types/profile.js` about this)
* update the aforementioned regexps to capture the column number and fill in this property in `funcTable`
* write an upgrade path for processed profiles, in `src/profile-data/processed-profile-versioning.js` to transform the existing `funcTable`: check whether the `file

[2018-10-25 15:40] mstange commented on #1397
That sounds right!

[2018-10-25 15:45] julienw commented on #1387
This can happen if the profile is too big, but this worked for me with the link from the initial description. What profile did you try to share?

[2018-10-25 15:48] gregtatum commented on #1410
@mstange
![make it so](https://media.giphy.com/media/VLoN2iW8ii3wA/giphy.gif)

I think we need this bar anyway for the stack/activity graph toggle, eventually it would be nice to have for narrowing down to some docshells, and I'm sure we'd find other uses.

[2018-10-25 15:48] julienw commented on #678
(answered on Slack)

[2018-10-25 15:50] julienw commented on #883
No answer from @subashiniganesh so let's mark this issue as unassigned. Please look at the existing PR #883 to start working on this.

[2018-10-25 15:59] amelarbab commented on #1387
the same link

[2018-10-25 16:13] fqueze commented on #1420
I don't see a problem with the time estimates currently shown in the Stack Chart. What's the incentive to change it to sample count there? Or are you suggesting that we add the sample count in the stack chart tooltips in addition to the estimated time?

[2018-10-25 16:26] fqueze opened #1421 "The view not being exactly the same when sharing a profile is confusing"
(This issue is from feedback I got from someone in another team.)

When sharing a profile, the person opening the profile will see something that doesn't exactly match what the person sharing the profile was looking at. This can make the discussion between the engineer who shared the profile and the engineer who received it confusing.

I think the differences are mostly about which nodes are open

[2018-10-25 16:34] gregtatum commented on #1420
@fqueze I'm proposing to use both in the stack chart, so the user has consistent metrics across panels.

e.g.

[2018-10-25 16:43] julienw commented on #602
I believe it's been fixed with our "empty reasons".

[2018-10-25 16:43] #602 closed

[2018-10-25 16:47] julienw commented on #1421
See #98 for a full fix.

Maybe a temporary stop gap would be to include the selected node information in the permalink but not in the URL. Then we would parse it at load time only, and then forget about it. What do you think @gregtatum @mstange?

[2018-10-25 16:51] julienw commented on #1387
Is there any other error message in the webconsole?

[2018-10-25 17:02] amelarbab commented on #1387
warning message : Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://profile-store.appspot.com/compressed-store. (Reason: CORS header ‘Access-Control-Allow-Origin’ missing)

[2018-10-25 17:52] gregtatum commented on #1421
I think including the expanded call nodes is unfeasible from a technical standpoint. This information is too much for our URL serialization. We would need some server-side solution to do that, which I don't think would be worth adding.

The technical blocker on the rest is being able to replace the URL without adding to the history, as Julien pointed out with #98. Once we add that ability, we have

[2018-10-25 17:59] gregtatum commented on #98
Here is what I implemented in a personal project:

[code]

[code]

[code]

[2018-10-25 19:49] parammittal16 commented on #1147
@julienw what will be the position of this new heading "Startup" in the sidebar? Do I have to add it below UI Tour ?

[2018-10-26 12:36] julienw commented on #1147
I think you can put it right before `Remote profiling on Android`.

[2018-10-26 12:49] julienw commented on #1387
Yeah, this looks a lot like https://github.com/devtools-html/perf.html/issues/998, I don't know why you have this issue when I don't have it with the same file.

I made a smaller file for you, you can try with this URL: https://perf-html.io/from-url/https%3A%2F%2Fraw.githubusercontent.com%2Fjulienw%2Fperf.html%2Fzip-example%2Fsrc%2Ftest%2Ffixtures%2Fupgrades%2Fgecko-13.zip/calltree/?file=gecko-13.

[2018-10-26 13:13] amelarbab commented on #1387
still i have the same error !

[2018-10-26 13:32] julienw commented on #1396
Thanks!

So here is the work to do here:
1. Make `getFunctionName` take the `thread` and the `funcIndex` instead of the `funcName` in https://github.com/devtools-html/perf.html/blob/e1d499e690d205a623e07aa91e7ef1d29537189f/src/profile-logic/function-info.js#L63-L65
2. The `funcName` can be get with this code:
[code]
3. decide whether the `funcName` should be filtered:
[code]
4. Change the 3 call s

[2018-10-26 13:41] julienw commented on #1387
Are you trying with `perf-html.io` or with your own code?

[2018-10-26 13:42] amelarbab commented on #1387
with perf-html.io

[2018-10-26 13:52] julienw commented on #1387
Can you try with Chrome as well? Just to check if we have different (and better) error messages?

[2018-10-27 17:51] amelarbab commented on #1387
the problem is my country !! ,, it needs a VPN to work

[2018-10-28 09:47] amelarbab commented on #463
hey @julienw , is "local" data source related to "Load profile data" or should i define a new data source

[2018-10-28 14:03] amelarbab commented on #1397
Hey @julienw , i want to work on this issue

[2018-10-28 17:00] andrapetronela commented on #687
@julienw, what do you mean by 'black' section? I would like to help you visualize the gradient idea, but I have to understand where is the problem, first.

[2018-10-29 10:01] zoepage commented on #1262
@gregtatum As this seem to fulfill the requirements for the network panel, what are the next steps?

[2018-10-29 10:56] julienw commented on #687
@andrapetronela this is the section in the timeline (where you changed some of them to orange):
See for example:
![capture d ecran de 2018-10-29 11-55-48](https://user-images.githubusercontent.com/454175/47645532-99079b00-db71-11e8-9d32-8004d7a1e7d7.png)
in http://bit.ly/2SqHtxe

[2018-10-29 13:39] julienw commented on #1387
hey @mstange, when trying to fix this bug, I found that the `file` state is useful in that this is part of the state that indirectly controls the display of the "back button"; it also displays the title at the top left.
If we clear this state we'll also loose the back button and the title, unless we introduce a new state in https://github.com/devtools-html/perf.html/blob/83677204475049b852a003252d

[2018-10-29 14:38] julienw commented on #1397
Hey @amelarbab, sure!
This isn't a easy bug but this is quite well explained. Please ask if you need anything!

[2018-10-29 14:40] julienw commented on #463
I think `local` is for something else (a profile data stored in a local indexed db)... to be honest I think we should remove this "local" datasource :)

Please add a new data source for this. For example this could be `from-string`.

[2018-10-29 14:42] julienw commented on #227
hey @navgurukul-shivani18, could you work on this after all? Thanks!

[2018-10-29 14:43] julienw commented on #770
No update, removing the `assigned` label.

[2018-10-29 14:44] julienw commented on #1001
hey @arcturusInk, any update from your side? I know you told me about your update on Slack, it would be very nice if we can see the code and wrap this up :) Thanks!

[2018-10-29 14:45] julienw commented on #1007
Hey @navgurukul-shivani18, any update from your side? Thanks!

[2018-10-29 14:46] julienw commented on #1140
hey @saranshbarua, removing the `assigned` label for now. Please :wave: if you're still working on this!

For takers, you can look at the existing PR https://github.com/devtools-html/perf.html/pull/1243 and the feedback there.

[2018-10-29 14:47] amelarbab commented on #463
Okay, can i take a profile data from profile file ?

[2018-10-29 14:47] julienw commented on #1147
@parammittal16 added the documentation for the startup.

I don't think we support shutdown profiling properly at the moment, so I'm removing the labels that make this issue discoverable.

[2018-10-29 14:56] julienw commented on #1155
Removing the `assigned` label because there's been no update for 3 weeks.

[2018-10-29 14:58] julienw commented on #463
yes you can take anything that's valid, for example the text in https://github.com/devtools-html/perf.html/blob/master/src/test/fixtures/upgrades/gecko-13.json

[2018-10-29 14:59] julienw commented on #1251
hey @meowwwls, are you still working on this issue? Thanks!

[2018-10-29 15:00] julienw commented on #1274
Removing the `assigned` label because no update for more than 2 weeks.

[2018-10-29 15:00] julienw commented on #1277
Hey @LavellTheDev, could you work on this after all? Thanks!

[2018-10-29 15:09] amelarbab commented on #463
got it , thank you :)

[2018-10-29 15:10] LavellTheDev commented on #1277
Yeah I have been looking at it the last couple of days. I was applying for
outreachy not sure if I'll make the deadline, but I will work on it.

I was looking at the pointers you gave the person before me when they asked
for help. So if I have any more questions should I email you or just
contact you on slack?

On Mon, Oct 29, 2018, 11:03 AM Julien Wajsberg <notifications@github.com>
wrote:

[2018-10-29 15:25] julienw commented on #1277
Slack on the #perf channel, or even here :)

[2018-10-29 15:25] parammittal16 commented on #1147
@julienw Sir, will I be added as a contributor now for this organization?

[2018-10-29 15:35] julienw commented on #1147
@parammittal16 you're already part of https://github.com/devtools-html/perf.html/graphs/contributors :)

[2018-10-29 17:41] amelarbab commented on #1397
should i change something in tests to accept the new changes.

[2018-10-29 17:52] amelarbab commented on #1397
@julienw  i think , should change the profile-data-test to accept the new field of funcTable right ?

[2018-10-29 20:23] mstange commented on #1387
Oh, hmm. Once you load the shared URL, that back button will no longer be available. So I think there are two options:

 - Prioritize consistency between current view and shared view, and remove the back button when you upload the profile. Or:
 - Prioritize convenience over consistency and allow the user to go back to the zip archive even after uploading the profile. (Oh, and what happens to the `

[2018-10-29 21:54] gregtatum commented on #1262
I'm not sure what "this" specifically refers to here, but I think what's left is to apply the merging logic to the selectors of the network track component: `src/components/timeline/TrackNetwork.js`

[2018-10-29 23:30] mstange opened #1427 "Page is horizontally scrollable if a screenshot overlay is visible near the right edge of the page"
Steps to reproduce:
 1. Have a scroll input device that lets you scroll horizontally, for example a Macbook Pro touchpad.
 2. Open this profile: http://bit.ly/2RnDiRl
 3. Move your mouse over the screenshot track, close to the end of the timeline.
 4. Scroll horizontally to the right.

Expected results:
No horizontal scrolling should be possible.

Actual results:
The page is scrollable to the righ

[2018-10-29 23:33] mstange opened #1428 "No "Only show Screenshots" item in context menu of the Screenshots track"
Open a profile with screenshots, for example http://bit.ly/2RnDiRl, and right-click on the Screenshots track label.

The context menu shows a separator line, above which there is nothing. On the main process, there's an item `Only show "Main Thread"`, but on the Screenshots track, no such item appears.

[2018-10-30 04:31] squelart opened #1429 "Rename "Main Thread" to "Main Process""
The main *process* being named "Main Thread" is confusing to developers, especially as we have a correctly-named "GPU Process", and the contextual menu has "only show this process".

@jesup also mentioned that the main thread of other processes is named "name of process"; given the available vertical space maybe there could be a second line with "Main Thread".

[2018-10-30 10:13] zoepage commented on #1262
Sorry for not providing enough context. Thanks, yes this is what I meant. :)

[2018-10-30 10:34] julienw commented on #1397
Likely yes!

* upgrade files in `src/test/unit/profile-upgrading.test.js` and add a `fixtures/upgrades/processed-XXX.json`
* the various profile creation functions in the directory `src/test/fixtures/profiles/`
* obviously add some cases with profiles with/without column numbers.

[2018-10-30 10:35] julienw commented on #1429
Should we call it "Main" like we call the content processes "Content"?

[2018-10-30 10:41] julienw commented on #1429
This is happening here: https://github.com/devtools-html/perf.html/blob/d47bfea5e15142ecdfd3ce4dde5636250a6b6f13/src/profile-logic/profile-data.js#L1332-L1334

[2018-10-30 10:43] julienw commented on #687
No, that what I'd like to test: replace the solid black color with a gradient, for the marker itself.

[2018-10-30 10:55] julienw commented on #1428
In https://github.com/devtools-html/perf.html/blob/d47bfea5e15142ecdfd3ce4dde5636250a6b6f13/src/components/timeline/TrackContextMenu.js#L391-L393 we have 3 different types of "isolate XXX" items, but nothing fits the screenshot track: it's not the process' main thread, nor the process, nor a local track.

So here's a first question for @gregtatum: is that on purpose that we can't isolate the scree

[2018-10-30 10:55] julienw commented on #1428
(removing the "contributing" labels until we clarifies what's the fix here)

[2018-10-30 11:06] julienw commented on #1427
This is because of how the screenshot overlay is built: with the left edge at the mouse cursor, and then moved to the left using https://github.com/devtools-html/perf.html/blob/d47bfea5e15142ecdfd3ce4dde5636250a6b6f13/src/components/timeline/TrackScreenshots.css#L37-L39

A very easy to fix is to set `overflow: hidden` on `<body>`. Would there be any bad consequences of this?

Otherwise we should c

[2018-10-30 12:08] squelart commented on #1429
Oh noes, we need some bikeshedding! 😱 😆

Thinking about it, "Parent" may be better: It's called that way in many Gecko places (XRE, IPC, ...), and it can't be confused with "main thread".

And to be complete: I was going to suggest that "GPU Process" should just be "GPU" for consistency. But this could be confusing/misleading, because it could then be wrongly interpreted as "this happens on the GP

[2018-10-30 13:18] julienw commented on #1387
I think my main concern is that when clicking "upload profile" we don't expect the view to change much.

Maybe that's just me, but I don't expect that the provided URL will give me the exact same view. Also the fact that the `file=` argument gives a title is a nice side-effect but IMO it should be replaced with a proper "title" argument in that case :-)

Good point, we get a URL very unsynchronize

[2018-10-30 13:19] julienw commented on #1429
I like it. What do you think @gregtatum @mstange ?

[2018-10-30 13:31] julienw commented on #1427
This would be a bad thing when we display the Home.
Maybe we can use `overflow-x`?

[2018-10-30 13:49] amelarbab commented on #463
@julienw  should the profile data pasted in input like URL?

[2018-10-30 14:14] mstange commented on #1427
I'd prefer this solution.

[2018-10-30 14:22] mstange commented on #1429
I prefer "Parent Process", because that's what it's called almost everywhere in the code base, and because it drives the point home that each of the "big" tracks in the header is its own process. I agree that it would be inconsistent with "Content". So maybe we should rename "Content" to "Content Process"... but then we'll probably run out of horizontal space with the added " (n of m)".

[2018-10-30 14:33] mstange commented on #1387
I see, that's good to know.

Having an easy way to open the shared URL in a new window would be a good thing to add. But I wouldn't want to make it happen when the textbox is clicked - that's just not expected behavior from a text box.
Maybe we could just add two square buttons behind the textbox, one with a copy icon and one with an external link icon.

<img width="330" alt="screen shot 2018-10-3

[2018-10-30 14:37] mstange commented on #687
I don't think this is an appropriate bug for a contributor. There's no mockup of what it should look like, we don't have agreement on whether it's worth doing, and it would require experimentation to come up with something that looks good to all the relevant people.

[2018-10-30 15:48] amelarbab commented on #1397
@julienw can i change the "processed-16.json" to wrong data according to this issue to upgrade it to version 17 ?

[2018-10-30 16:11] amelarbab commented on #1397
@julienw  i have a problem with "processed-16" it doesn't give profile with this issue so i can not upgraded it to version 17

[2018-10-30 17:11] julienw commented on #1387
Yeah I didn't have in mind to keep the same UI :-) so :+1: about what you propose here.

[2018-10-30 17:50] julienw commented on #1147
The implementation for shutdown profiling is https://searchfox.org/mozilla-central/rev/fc3d974254660b34638b2af9d5431618b191b233/tools/profiler/core/platform.cpp#2762-2766

Someone will have to try this out (using environment variable and such) and write the documentation about it.

[2018-10-30 17:57] julienw commented on #1427
I found a solution that's only CSS-based, and use transforms.

[2018-10-30 18:19] julienw commented on #1427
I implemented the 2 solutions ^.

I prefer the JS-only solution as it's more "direct". But please tell me what you think.

[2018-10-30 18:22] julienw commented on #463
No it should rather be in a `<textarea>` input, that could be displayed on demand.

[2018-10-31 13:17] #1155 closed

[2018-10-31 13:37] julienw commented on #942
To contributors: please look at the existing PR and feedback in https://github.com/devtools-html/perf.html/pull/1379 if you want to work on this.

[2018-10-31 13:53] gregtatum opened #1434 "Apply the new drawing strategy from the stack chart to the flame chart"
In #1424 the drawing strategy is changed to use to draw boxes without gaps, and to draw lots more boxes. This should be added to the flame graph as well.

[2018-10-31 14:31] andrapetronela commented on #687
Hei, @mstange, I know this is just an idea to test if it's worth doing the changes. I just wanted to help you visualize the idea of using a linear-gradient.

Here are some photos where I have used a gradient from black to white.
- full range
![screenshot 154](https://user-images.githubusercontent.com/34648710/47794303-1ec54b00-dd18-11e8-9d00-be4796e12759.png)

- section hovered
![screenshot 157](h

[2018-10-31 16:14] digitarald opened #1435 "Max out screenshot preview for larger viewports"
Proposal: Depending on vh, show small screenshots (as in the current size) for smaller viewports and larger screenshots for large screens

[2018-10-31 16:41] gregtatum commented on #1435
Yes, I think we need larger screenshots in general. It's been requested by a bunch of folks. Engineering-wise, it becomes more complicated when the screenshots become large enough that they go off the top of the screen, as they will need to be laid out correctly.

I can't remember the size of the screenshots that are stored, but there is only so much data there to show. I'm not sure we need to com

[2018-10-31 16:51] mstange commented on #1435
[350x350](https://searchfox.org/mozilla-central/rev/eac6295c397133b7346822ad31867197e30d7e94/gfx/layers/ProfilerScreenshots.h#51)

[2018-10-31 18:29] fqueze opened #1436 "Very active threads are sometimes hidden as idle"
It happened to me a few times that I had a very busy content process fully using one core, but when opening the profile that content process was hidden as if it was idle.

I remember one case where the content process was busy doing layout work for 30+s in a row. And I think I saw another case where the content process was busy doing JS work.

From what Greg told me, it seems we hide threads where

[2018-10-31 19:09] julienw commented on #1436
@fqueze We really need an example profile to make this actionable, otherwise there's not much we can do.

[2018-10-31 19:12] julienw commented on #1435
To make it clear, are we talking about the screenshot displayed on hover, or are we talking about the screenshot track itself?

[2018-10-31 19:18] julienw commented on #687
@andrapetronela it would be super nice if you could push the code to a PR so that we can test it with different profiles using the deploy preview :-)

Especially I'd like to see a profile where the marker gutter is especially busy. (I don't have a profile URL example at the moment)

[2018-10-31 19:21] julienw commented on #687
[Here is an example](https://perf-html.io/public/280e10708c0660695ef5af145c53179d29d9796c/marker-chart/?globalTrackOrder=0-1-2-3-4&hiddenGlobalTracks=0-1-2-3&localTrackOrderByPid=31626-0~&markerSearch=&react_perf&thread=5&v=3), you can see that there's a big "UserTiming" marker, and a lot of DOMEvent markers that are nearly invisible because of this.

[2018-10-31 19:21] #1090 closed

[2018-10-31 20:19] past commented on #1435
The former is the biggest issue for me. But +1 regardless!

[2018-10-31 20:22] julienw commented on #687
Here is the example with the deploy preview: https://deploy-preview-1439--perf-html.netlify.com/public/280e10708c0660695ef5af145c53179d29d9796c/marker-chart/?globalTrackOrder=0-1-2-3-4&hiddenGlobalTracks=0-1-2-3&localTrackOrderByPid=31626-0~&markerSearch=&range=0.4899_3.6902&thread=5&v=3

We don't see the 2 DOM Events that we should see thanks to the gradient, but I don't have the time to investig

[2018-10-31 20:55] fqueze commented on #1436
The examples I saw were all full of personally identifiable data, from browsing sessions with hundreds of tabs.

[2018-10-31 21:29] brisad commented on #1255
I tried to make a simple fix here #1440

@julienw 's example looks like this:
https://deploy-preview-1440--perf-html.netlify.com/public/e9c5dba2715969f0d3383fe7812d88857691fbbb/marker-chart/?globalTrackOrder=0-1-2-3-4-5&hiddenGlobalTracks=0-5&localTrackOrderByPid=31747-0~&markerSearch=&thread=5&v=3

Is that what the solution should look like? The tooltip still says unknown duration, should it be u

[2018-10-31 21:58] digitarald commented on #1435
Reworded to make it clear. Preview is what we want to improve.

[2018-11-01 12:47] franziskuskiefer opened #1441 "Link call tree to network address"
To identify issues on the socket thread it would be great if it were possible to link the call tree there to a specific network call. Currently it's impossible to identify the network call responsible for the functions in the call tree.

[2018-11-01 14:06] gregtatum opened #1442 "Persistent tooltips proposal"
### Sidebar Problems

The sidebar has proved really hard to make useful, has been under-specified, and it is difficult to justify the screen real-estate when it is open. Keeping the charts aligned has proved to be important, and the sidebar gets in the way of this when we try to maintain the information hierarchy. All of the proposals in #1356 for deciding the sidebar positioning have various comp

[2018-11-01 16:57] digitarald commented on #1442
I am generally in favor as it solves the most [constrains](https://docs.google.com/document/d/1ifOWgnYOObHklCTAFVWCPB1I3yqjHCPRkL41TLUIl4U/edit#) that the UI sets.

One use case that this should keep in mind is quick keyboard navigation while skimming the summarized data. I saw this pattern when making users aware of the sidebar; and they naturally using keyboard navigation to switch out the selec

[2018-11-02 08:04] zoepage commented on #1441
Looping @gregtatum in.

[2018-11-02 09:47] zoepage opened #1447 "Change formatting of timestamp in Meta Info popup"
Follow up for https://github.com/devtools-html/perf.html/pull/1404#discussion_r229067443

Right now the formatting of the timestamp is bound to UTC time due to failing tests.
The server has a different timezone and the screenshots fail, if we do make it local.

Greg suggested following formatting:

[code]

We'd need to mock the tests here, so they do not fail. (see original comment for more info).

[2018-11-02 13:01] zoepage commented on #1419
related to #1442

[2018-11-02 13:54] gregtatum opened #1448 "Include the full file path when looking at a zipped profile"
From @bgrins:

![image](https://user-images.githubusercontent.com/1588648/47919238-e3905c80-de7c-11e8-8827-b5183c29520b.png)

[2018-11-02 15:30] gregtatum commented on #871
Here is a user story from @bgrins, captured from Slack, talking about the workflow of looking at profiles with treeherder.

[2018-11-02 18:29] gregtatum commented on #1428
What is the desired behavior for isolating a screenshot track? There must be at least one selected thread. Which thread should we leave selected and visible? Should it be the parent process's main thread? Should we include the compositor thread as well? This would then isolate the screenshots track + other tracks.

`renderIsolateProcessMainThread` - isolates to just the main thread of that process

[2018-11-02 18:32] gregtatum commented on #1429
<img width="197" alt="image" src="https://user-images.githubusercontent.com/1588648/47933835-a12e4600-dea3-11e8-9119-1b0440b8ff70.png">

[2018-11-02 19:14] gregtatum commented on #1441
It would be helpful to have an existing profile to look at for something like this. I'm not sure there is a direct relationship between the sample-based call tree and any given network call.

[2018-11-02 20:07] mstange commented on #1428
I see. I think a "Hide other screenshot tracks" item would work - just leave all regular threads visible.

[2018-11-02 21:09] gregtatum commented on #1428
That works for me. So the work here is to:

* Add an option at the top of the context menu for screenshots track that says "Hide other screenshot tracks".
* When clicked:
  * Hides all the other screenshots
  * Still shows the current screenshot track.
  * Still shows all other tracks that were there before.

<img width="418" alt="image" src="https://user-images.githubusercontent.com/1588648/47940

[2018-11-02 21:42] squelart opened #1451 "Handle optional profile.thread[i].processName"
Follow-up to [bug 1465924](https://bugzilla.mozilla.org/show_bug.cgi?id=1465924) , which introduces an optional property profile.thread[i].processName that contains a friendly name for the process. (In particular, it distinguishes different types of 'tab' processes, e.g.: "Web Content" vs "WebExtensions", like in about:memory.)

To do:
- Update the [perf.html documentation](https://github.com/devt

[2018-11-03 17:52] amelarbab commented on #770
Hey @julienw  , can i work on this issue?

[2018-11-04 16:34] mstange opened #1453 "Thread activity graph doesn't repaint when zooming in to a range before the thread has started"
Steps to reproduce:
 1. Go to https://perfht.ml/2PChrIS
 2. Select a range inside the area where the PaintWorker thread wasn't running yet.
 3. Click the zoom button in the range selection.

Expected results:
The PaintWorker thread's graph should become empty.

Actual results:
The PaintWorker thread's graph still shows the same contents as before zooming.

[2018-11-04 20:55] brisad commented on #1147
I tried it out. It worked getting the profiler to write the file and I could successfully load it in perf.html. It wasn't symbolicated however. I guess perf.html assumes all files are already symbolicated and therefore won't trigger symbolication?

[2018-11-05 10:43] julienw commented on #1259
It's been converted to HTML now, thanks to @zoepage's work :-)

[2018-11-05 12:54] julienw commented on #1441
I wonder if we could instrument the call tree with a pseudostack using the URL (or is it label frames these days?). This would prevent properly merging the frames accross network calls, but maybe that's what we'd want in the Socket Thread.

[2018-11-05 13:06] julienw commented on #1147
I think this is more that we didn't handle this case when implementing the perf-html-side symbolication. Would you file an issue about this?

[2018-11-05 13:10] julienw commented on #1453
Just to clarify a bit because I got confused: the issue is about the thread in the timeline (aka the header).

[2018-11-05 13:43] julienw commented on #871
(related to #1055 too)

[2018-11-05 13:46] julienw commented on #1055
It could be implemented with a connected React.PureComponent that would change `document.title` in its `componentDidUpdate` method. The component could then be added in  `ProfileViewer`.

[2018-11-05 13:55] julienw commented on #1448
Maybe this is a workaround to #460. I'd very much see #460 instead, and then links in treeherder could have an argument `title=` in the URL.

[2018-11-05 14:02] julienw commented on #1442
I like the idea of tooltips for charts, but I'm not sure about this for trees. My compromise would then be to use the sidebar in the call tree and the marker table, and the persistent tooltip for the charts.

But maybe this comes from the fact that I use the keyboard a lot to navigate in trees, but the mouse to navigate in charts... And maybe if the tooltips were displayed when navigating with the

[2018-11-05 14:14] julienw commented on #1447
Various options:
1. set the `TZ` value to UTC when running tests. (but it doesn't seem to work for me locally, as changing the locale doesn't change the output for me...)
2. use https://www.npmjs.com/package/jest-date-mock seems to be a nice choice to mock date objects.

You can use "undefined" as first parameter, and it "just works" in the browser.

[2018-11-05 14:54] julienw commented on #1436
Have you seen the issue recently? Greg changed the algorithm recently in #1312 because this issue was happening.

[2018-11-05 16:56] julienw commented on #770
Yes, please do!

[2018-11-05 19:56] squelart commented on #1451
Thanks Julien. I had already found that spot and got a WIP patch, but needed time to setup a local server; will test soon and then submit...

[2018-11-05 21:40] gregtatum commented on #1442
We discussed this in the stand-up, and the consensus was that we should keep sidebars for any tables, like the call tree and and marker table, and use tooltips for charts. We can re-use the tooltip contents for either the sidebar or the tooltip.

[2018-11-05 22:03] brisad opened #1458 "Add a way of symbolicating a (shutdown) profile from file"
To profile Firefox shutdown, the environment variable `MOZ_PROFILER_SHUTDOWN` can be used to configure a destination file for the profiler output. But when loading this file in perf.html it is not symbolicated. (Or it does not appear to be at least, from looking at the profile. I don't know if there's some metadata which indicate this). Here's an example profile from a shutdown https://perfht.ml/2

[2018-11-05 22:04] brisad commented on #1147
Sure! I've written #1458

[2018-11-06 13:38] #1427 closed

[2018-11-06 17:14] julienw commented on #1387
Summarizing the previous conversation, here is the work I think we should do in this issue:

* [ ] change the permalink input to something like:
  `<input text with the value> <copy button> <open in new window button>`
  The SVG for these buttons are in https://design.firefox.com/icons/viewer/ (look for "open in new" and "copy").
  This should be reasonnably easy.
* [ ] change how we manage the pe

[2018-11-06 18:23] bgrins opened #1462 "Marker tooltip/popup text gets clipped at the top for Style metadata"
STR:

- Open https://perfht.ml/2RF2Qtl
- Hover the style marker

I can see just the bottom of "Styles reused" metadata, but there's more interesting stuff above about the number of elements traversed / matched / etc. If the tooltip doesn't have enough space I'd rather see the top of it and have the bottom stack portion get clipped.

<img width="1271" alt="screenshot 2018-11-06 10 20 05" src="https

[2018-11-06 18:27] #1462 closed, assigned to nobody

[2018-11-06 19:43] smaug---- commented on #1295
Could we please prioritize this a bit. Analyzing page loads is right now too hard. We should by default show only top level page loads. And I'm hoping timeline would have a separate row for this, so that it is super clear what is about page load. (there are already too many generic markers, so that UI gets easily a bit cluttered)

[2018-11-06 19:50] smaug---- commented on #1348
I like vertical lines approach. Comparing then vsync to when refreshdriver ticks would visually tell how much delay there was from vsync to tick.

[2018-11-06 20:08] digitarald commented on #1295
@smaug---- platform bugs are being landed to support this, so its in progress.

@canaltinova after landing your docShell bug, what's the follow up work to have docShell information in markers? I'll start aligning some requirements about how this could work in the UI.

[2018-11-06 21:23] squelart commented on #1429
I'll take this one, as it will be simpler to implement and test before #1451, which will overwrite changes here -- but only for new profiles that will be generated after [bug 1465924](https://bugzilla.mozilla.org/show_bug.cgi?id=1465924) lands, so this issue here will still be useful when viewing older profiles.

[2018-11-06 21:44] squelart commented on #1429
Note that after #1451 and [bug 1465924](https://bugzilla.mozilla.org/show_bug.cgi?id=1465924), "Content Process"es will be named from their `ContentChild::GetProcessName()`, which for actual content processes is "Web Content". Other names can be seen [where SetContentName is called](https://searchfox.org/mozilla-central/search?q=symbol:_ZN7mozilla3dom12ContentChild14SetProcessNameERK12nsTSubstring

[2018-11-06 22:18] gregtatum commented on #1330
Fixed with #1405

[2018-11-06 22:18] #1330 closed

[2018-11-06 22:25] gregtatum opened #1463 "Add more marker information from Google Chrome profiles"
In #1260 we added support for loading the stacks from profiles. We should attempt to get out other data sources that we can map to marker payloads. This work should probably be broken down into a bunch of smaller PRs that add lots of different markers. However, this will require additional research.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FP-81)

[2018-11-06 22:30] gregtatum commented on #1295
@digitarald Why are docshells blocking this? Do we need docshells in place to start showing them? Seems like we could start visualizing them now, but they wouldn't be tied to a particular page. Also, do we have a UI spec for this yet, or at least a preconceived idea of how this looks? Should this be a new timeline track?

[2018-11-07 14:31] fqueze commented on #1436
![screenshot 2018-11-07](https://user-images.githubusercontent.com/2633774/48137222-dd95e380-e2a1-11e8-8a7a-9da663e1a7dd.png)

I saw this today. When I got back to my laptop this morning, I had a content process taking 100% of one core. When I captured a profile, all content processes were hidden. After showing them all, I saw that I have one content process that's GC'ing all the time (see attache

[2018-11-07 14:31] julienw commented on #883
Because this is blocking some gecko devs, I'll finish up the existing PR.

[2018-11-07 14:35] julienw commented on #1429
This has been fixed in PR #1464.

@squelart: a few suggestions when merging PRs, for your future self :)
- Adding somewhere "Fixes #XXX" in a commit log will automatically close the associated issue.
- Changing the merge commit's title make it easier to look at changes with the following command: `git log --since '1 week ago' --first-parent --oneline` that we use to generate reports. Github's defa

[2018-11-07 14:35] #1429 closed

[2018-11-07 14:52] julienw commented on #1436
This makes sense because this process got no paint. Likely we should look for other markers too: reflows, restyles, GC markers? Maybe add up the marker lengths and compare with the full length ?

[2018-11-07 15:00] #1322 closed

[2018-11-07 15:01] julienw opened #1466 "For profiles with non-integer values, the values displayed in the sidebar are not properly rounded"
See:
![image](https://user-images.githubusercontent.com/454175/48139267-5e56de80-e2a6-11e8-9d7b-644c29240e98.png)

We should build on the work in PR https://github.com/devtools-html/perf.html/pull/1394 to display these values properly.

[2018-11-07 15:02] julienw commented on #1466
Here is an example profile: https://perf-html.io/public/404ff08ee5f412f355264601f12e5feff0ebaee6/calltree/?globalTrackOrder=6-1-2-3-4-0-5&hiddenGlobalTracks=1-2-3-4&localTrackOrderByPid=15249-1-0~15254-0~&range=10.0984_14.1128&thread=6&v=3

Here is the code that is responsible for this component:  https://github.com/devtools-html/perf.html/blob/master/src/components/sidebar/CallTreeSidebar.js

[2018-11-07 15:12] gregtatum commented on #1436
Right now the rules are:

* Hide all content threads with no refresh driver ticks
* Hide all other threads that are 95% idle.

I think we should tweak them to:

* Hide all content threads with no refresh driver ticks, and are at least 80% idle
* Hide all other threads that are 95% idle.

[2018-11-07 17:48] mstange opened #1468 "Some rust symbols are needlessly verbose, at least on Windows"
This is a problem with demangling, and demangling currently happens in different places based on the symbol source, so this repo might not be the right place to file this issue, but I want to file it anyway so that there's a place to track it.

This profile: https://perfht.ml/2JMSOE7 contains symbols such as:

`static struct euclid::transform3d::TypedTransform3D<f32, webrender_api::units::LayoutPi

[2018-11-07 18:03] fqueze commented on #1410
I like the graphical way in which this panel shows the other threads!
Could the anchor of the panel be moved to the beginning of the previous line, ie. before the "Full range" text? This would avoid wasting vertical space (most current monitors are wide, so we have a lot of horizontal space, but sometimes have little vertical space).

Another idea for an anchor of the panel that would not take add

[2018-11-07 18:48] gregtatum opened #1470 "Remove sidebars, and consolidate on tooltips on all panels except call tree and marker table"
Following the discussion from #1442 and from Slack and Vidyo, the plan of action for the sidebar and tooltip system is the following:

- [ ] Remove the sidebar from all charts. All charts should stay aligned to the timeline
- [ ] Keep sidebar for call tree, but collapsed by default
- [ ] Keep the sidebar for the marker table, but collapsed by default
- [ ] Add a delay to the tooltip, and allow int

[2018-11-07 18:50] gregtatum commented on #1442
I'm marking this discussion as closed, and I filed the required items to be done in #1470.

[2018-11-07 18:50] #1442 closed

[2018-11-07 18:59] gregtatum commented on #1470
@canaltinova I also have a branch up of my work to fix the issue of coordinating the opening and closing of the tooltip using a `requestAnimationFrame` and an open/close generation value to keep it alive. I didn't quite get it finished, and it's in somewhat of a broken state. The only commit that is different from the deploy preview is the last one. https://github.com/gregtatum/perf.html/commits/t