[2019-10-14 15:53] robinmetral commented on #2260
This just happened to me as well. Is this related to this add-on specifically, or should Firefox allow add-ons to be installed on full-screen mode?

[2019-10-16 08:32] julienw commented on #1619
done in #2071

[2019-10-16 08:32] #1619 closed

[2019-10-16 09:05] fqueze opened #2281 "The network track is missing tooltips"
When I hover a network marker in the network track, I expect to see a tooltip, similar to the tooltip I see when hovering the same marker in the Network panel.

I'm not sure what should be done when the cursor is over several network markers at once. I think either showing the tooltip for one of the markers, or showing a summary of the urls of the hovered markers would be good.

[2019-10-16 16:43] julienw commented on #2092
Discussed this with @canova today, and we feel like it's super difficult because current graphics implementation capture the full windows and we'd need to change the implementation for each platform.

Hey @mstange maybe you have a good idea of the complexity of this task?

[2019-10-16 16:58] mstange commented on #2092
It's quite complex, yes. I don't know what a good way to implement this would be. So whoever does this would need to have some conversations with the graphics team first, probably.

[2019-10-17 17:04] julienw commented on #1571
Jean likes fxprofil.es :-)

[2019-10-21 12:02] julienw commented on #2281
My initial view when I looked at this bug is that showing a summary of the URLs would be better. And probably it would be more useful to show all the request URLs at this point in time, rather than all request URLs at this pixel, given the line where a request is is pretty random.

[2019-10-21 12:05] julienw opened #2284 "Firefox Profiler should display precise start and end time of selected profile window"
This was filed from https://bugzilla.mozilla.org/show_bug.cgi?id=1588972, copying the description over here:

### Steps to reproduce:

1.    Collect a profile and view on profiler.firefox.com.
2.    Highlight a section of the profile timeline.
3.    Try to figure out the timestamps where the selected interval starts and ends.

### Actual results:

The start and end of the selected profile interval

[2019-10-21 12:21] julienw commented on #2279
Thanks for the report Markus!

here is the payload for this marker:
[code]
I think that the problem is that there's no `responseEnd`.
There's a slightly difference in how we compute the phases in the tooltip vs the bar. In the bar the last one is always transparent, unless it's the only one. While in the tooltip, the opacity depends on the phase's start property. This is done this way mainly becau

[2019-10-21 13:03] julienw commented on #1251
Hey @miggs125, looking at this issue closer, now I think it's been resolved in #1848 and #1915 some time ago already. I don't think there's anything more to do here.
Thanks for your patience and sorry about that :(

[2019-10-21 13:03] #1251 closed

[2019-10-21 13:32] julienw opened #2285 "[no sample mode] remove tabs / switch to the marker chart by default"
If there's no sample at all in a process, we should remove tabs that are related to the samples: call tree, flame graph, stack chart.
Probably we'll need to adjust some default values, because I think we select the call tree panel by default if no panel is selected. I think this is: https://github.com/firefox-devtools/profiler/blob/e4e91da24097099849249666960d169321a0c026/src/app-logic/url-handlin

[2019-10-22 21:15] #2164 closed

[2019-10-23 12:43] fqueze commented on #2205
This seems to be one of the key questions on which we are asking UX input.

[2019-10-23 12:56] julienw commented on #2205
Also it's worth noting that since I filed this issue, we now have the same code for both the popup and the devtools panel.

[2019-10-23 18:50] #2244 closed

[2019-10-28 20:06] squarewave opened #2289 "Implement a unified / interleaved view of multiple profiles"
We have profile diffing as an idea, but here I'm referring to the opposite. Essentially, interleaving the samples from two or more profiles (attempting to match process by process) to create a super-profile.

The use case here is for analyzing talos profiles. I.e., profiles of very similar runs which should roughly line up, allowing us to virtually increase the sampling rate without actually incur

[2019-10-29 16:01] julienw opened #2291 "migrate to bit.ly API v4 before March 2020"
https://dev.bitly.com/v4_documentation.html#section/Migrating-from-V3

Our code is located in https://github.com/firefox-devtools/profiler/blob/master/src/utils/shorten-url.js.

[2019-10-31 11:41] melvin2016 commented on #2291
I'm on it.

[2019-11-01 18:23] melvin2016 commented on #2291
@julienw From the migration notice, we need to move access_token to the Authorization header or is there anything else?

[2019-11-04 08:19] julienw commented on #2291
I believe the format changed too. Read the text under: `A major difference is how the data is delivered.`
Also I believe error handling will be different.

[2019-11-04 08:28] julienw commented on #2289
The idea is interesting and maybe not that hard given the current architecture in place.

[2019-11-06 09:36] arroway opened #2295 "Provide visual preview of the uploaded profile before publishing"
This bug is opened as a follow-up of the Profiler server Rapid Risk Assessment [Risk Record bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1594327).

As part of safeguard to users accidentally uploading private or sensitive, we should consider providing a visual preview of the profile data to users.
This would allow them to:
1) actually understand what is being publicly put online
2) catch sens

[2019-11-06 09:45] arroway opened #2296 "Advise to run the profiler tool in a dedicated profile"
This bug is opened as a follow-up of the Profiler server Rapid Risk Assessment (see Risk Record bug).

In the current state of things, data from all tabs are being captured in the profile.
This could result in uploading potentially and accidentally sensitive/private data online which could not be immediately deleted  by users.
Advising people to use a dedicated profile before capturing data could

[2019-11-06 10:00] arroway opened #2297 "Sanitize file/directory pathnames"
This bug is opened as a follow-up of the Profiler server Rapid Risk Assessment (see [Risk Record bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1594327)).

Captured file and directory pathnames are currently not being sanitized before the profile upload. This could potentially lead to a disclosure of private/sensitive information (including allowing to identify a person from the profile data).

[2019-11-06 17:17] fqueze commented on #2297
Hmm, I thought we had fixed this in issue #2213

[2019-11-06 20:28] gregtatum commented on #2241
I feel like these are two different operations, and maybe we should support both. I actively want both in the call tree and the flame graph. Perhaps we can add a drop down to the search bar for the type of search? I don't know.

[2019-11-06 20:29] gregtatum commented on #2241
To leave a bit stronger comment, I think it would be confusing not to be consistent between the call tree and flame graph, and I would be sad to lose the filtering behavior.

[2019-11-06 20:31] gregtatum commented on #2171
I'm glad we know what' causing the issue, but I'm not sure it's worth working around. We need to delete the add-on and replace it with the popup.

[2019-11-06 20:32] gregtatum commented on #2260
This is also something that will go away when we use the built-in popup.

[2019-11-06 20:39] gregtatum commented on #2281
This is a bit tricky as we overlay the network information. I may be repeated Julien's suggestions, but it seems to me we would list every single request happening during that time. Perhaps we could draw a waterfall graph of only the active requests at the time? It would make it scrubbable.

[2019-11-06 20:48] gregtatum commented on #2285
Would this be surprising to users to find the tabs missing?

I definitely agree we should select relevant tabs by default.

Here is a profile with no samples: https://perfht.ml/2PULbAk

[2019-11-07 05:42] julienw commented on #2260
so, I just tried it in latest nightly, and now it seems to work properly. Do you see the same @robinmetral ?

[2019-11-07 05:46] julienw commented on #2297
Note: The issues coming from the RRA are from my affirmations mainly, I don't think Stéphanie tried it.
More clearly this issue was about FileIO markers. I wasn't sure we were sanitizing the data in them. I meant to look at it closer, so it's good we have an issue to track it.

[2019-11-07 06:49] robinmetral commented on #2260
@julienw seems to work for me too on the latest `beta` (FF Developers Edition) on Ubuntu. But it still doesn't work in `70.0` which I'm normally using.

[2019-11-07 19:18] julienw commented on #2260
My guess is that it will work in next release.
Realistically we won't fix this problem in our code now that Firefox has been fixed (even if not in release yet) so I'm closing this bug. Please reopen if I'm wrong here! :)

[2019-11-07 19:18] #2260 closed

[2019-11-07 23:35] squelart opened #2301 "Hide memory track by default"
In https://bugzilla.mozilla.org/show_bug.cgi?id=1594756#c0 Olli said:

[2019-11-08 14:42] TheElec commented on #2171
I'm getting the same error, Firefox 70.0.1 64-bit. I do not have uMatrix, I've restarted with all addons disabled, and the error persists on a fresh install of Firefox 71.0b7 64-bit. Downloading the file manually and installing it from the file works.

[2019-11-08 14:50] julienw commented on #2171
I'd be happy to review a patch trying solution 1 from my comments above if this works.

[2019-11-08 17:39] gregtatum commented on #2301
We are getting into a state where we have lots of potential timeline based data, that may be useful to a small set of people. The header is also getting quite crowded. Perhaps it's time to re-think a "timeline" tab, where we could move things our of the header?

[2019-11-08 17:41] gregtatum commented on #2301
Here are various timelines that make things busy:

* Memory track
* Network track
* (proposed) Event delay track
* Browsertime track

[2019-11-14 14:30] fqueze opened #2308 "Sharing a profile with some threads removed shares the wrong view"
When I share a sanitized profile, sometimes the shared profile ends up focused on a view that has no sample. The data is there, the view is just incorrect.
https://perfht.ml/2phuF2u is what I got.
https://perfht.ml/379V3g3 is what I was trying to share.
In case that helps, the full unsanitized profile is https://perfht.ml/2Oa60Wc
When sharing I removed the hidden threads but included the hidden ti

[2019-11-14 14:44] fqueze commented on #2301
As a quick mitigation, I think a way from the track selector panel to hide/show all the memory tracks or all the network tracks with a single click would go a long way.

Screenshot tracks also make things busy.

[2019-11-15 03:39] mstange opened #2309 "Async demangling module sometimes not cached in service worker?"
I just gathered a local profile and encountered the following errors:

All C++ function names were mangled (demangling failed).

I think what might have happened is the following:
 1. The service worker had an old version cached.
 2. When the time came to demangle, the main JS bundle tried to load the async chunk that contains the demangling module. The outdated cached main bundle thought this chu

[2019-11-15 15:18] julienw commented on #2309
Indeed we run `applyUpdate` when we receive `onUpdateReady`, so I think your last guess is right.
Maybe we shouldn't do that?

[2019-11-15 19:21] mstange commented on #2309
Hmm, I guess this is an expected effect of eagerly activating the updated service worker. We wouldn't have this problem if we let the service worker activate on its own, once all profiler tabs are closed. But then we'd never get a new version as long as any profiler tab is still open.
Can we have both? It would be great if we could consult the old cache for existing tabs and the new cache for tabs

[2019-11-15 19:38] mstange opened #2313 "Clicking filtered-out samples in the stack height graph clears call tree selection"
Steps to reproduce:
 1. Open any profile.
 2. Apply a filter that filters out samples, for example by checking "JavaScript" or by doing a search.
 3. In the call tree, select any row.
 4. In the "stack height graph" part of the loupe view, click an area where no bars are.

Expected results:
Clicking nothingness should do nothing - the call tree selection should stay where it is.

Actual results:
T

[2019-11-15 20:44] #2162 closed

[2019-11-18 08:31] julienw commented on #2313
This needs some investigation to determine where the issue comes from. But because the issue is well described and self contained I mark this as "help wanted", as I think a volunteer would be able to take on the investigation and work on a fix.

[2019-11-18 08:37] julienw commented on #2309
Currently we propose the user to `reload` to apply the new version in a notification. Note we don't display the notification if the user is in the state where they can't reload without data loss (especially in the `from-addon` data source).

As you mention I believe a reload wouldn't be enough if several tabs are opened: by default, the SW update applies only if all tabs are closed. Proposal: mayb

[2019-11-18 20:15] gregtatum opened #2316 "Native allocations' retained memory view needs documentation"

[2019-11-19 00:56] digitarald opened #2318 "Generated profile doesn't persist current selection"
The original profile had some stray markers (I assume) that expanded the timeline to the left.

When sharing a cropped subset (I had the actual main thread work selected), it didn't persist the crop and reverted to the blown-out crop.

<img width="1920" alt="image" src="https://user-images.githubusercontent.com/8599/69106702-0cea3f00-0a24-11ea-8b4d-7276d078a9cf.png">

http://bit.ly/2qpdZqp

What I

[2019-11-19 01:35] squelart commented on #2318
Looking at the Marker Table for the top track, the first four markers are at 0.000s, the 5th marker at 209.8s, and the last marker at 227.01s. The Network view does show a few long-lived loads, and in the raw data I see the first one has a start time of 17662817ms and end time of 17884055ms so that's a 221s span!

I guess this may be due to our heuristics that compute the window time, based on all

[2019-11-19 13:15] rbrishabh commented on #2171
Hey @julienw ! Can I take this up?

[2019-11-19 20:27] mstange commented on #2309
That sounds good, yes! So then we'd still have the old version in the cache until the user clicks the `update and reload` button. So in the tab where the user clicks the button, there will always be consistency between "the scripts used during page load" and "the scripts used after page load". The only failure scenario would be if the user gets a new profile, then switches to an existing profiler

[2019-11-20 13:48] julienw commented on #2318
The first screenshot looks pretty much broken (with the "empty thread indicators" moving towards the end, etc).
We should definitely look at this, I'd like to at least investigate before the end of the week.

[2019-11-20 19:06] julienw commented on #2309
hey @mstange, after trying this idea I'm not sure this is the right solution, as then we can't simply press F5 to get the new version. I think this is strictly less good for this small issue.
I'm trying another approach now, where I run `applyUpdate` only in some conditions. But can you please remind me whether the demangling also happens when we run the "symbolication on a load (from the server)"

[2019-11-20 20:14] mstange commented on #2309
Hmm, why not? Because in the F5 case, the browser never gets a chance to do the upgrade?

It only happens for libraries for which the symbols do *not* come from the symbol server. So either for symbols from the add-on or for symbols from the IndexedDB. In the "symbolication on a load" scenario, symbols cannot come from the add-on, so in that case it would only happen for symbols from the IndexedDB

[2019-11-21 00:09] digitarald commented on #2318
Hit the same problem again

<img width="1918" alt="image" src="https://user-images.githubusercontent.com/8599/69288998-10aacc80-0bb0-11ea-82a3-1bafe2eab058.png">

https://perfht.ml/2KHxPUJ

[2019-11-21 00:11] digitarald commented on #1992
This keeps happening. Even if I include Compositor in my visible threads.

[2019-11-21 08:31] julienw commented on #2309
Yeah, if there are other tabs opened to the same server, which I think is likely in the case of the profiler :/ Maybe that's just me but I'm super used to pressing F5 when I see the notification, instead of reaching the button and clicking it.

The scenario you outline seems right, but it seems even more unlikely. Somebody would have to load an unsymbolicated profile from the store (for local file

[2019-11-22 05:30] digitarald commented on #2318
This example has a stray `CONTENT_FRAME_TIME` that starts before sampling.

[code]

https://perfht.ml/2qAtc8a

[2019-11-25 17:48] violasong commented on #1801
[Designs in progress here](https://www.figma.com/file/1JlU42P3U5bZhcaZo8n5rq/Profiler-landing-page-2.0?node-id=0%3A1)

[2019-11-25 22:02] gregtatum commented on #95
I believe it works now.

[2019-11-25 22:02] #95 closed

[2019-11-25 22:03] gregtatum commented on #148
I'm going to close this, as I think the color categories is all we probably want to support. Feel free to re-open if anyone disagrees with me.

[2019-11-25 22:03] #148 closed

[2019-11-25 22:04] gregtatum commented on #212
This was added with #2061 and #2243

[2019-11-25 22:04] #212 closed

[2019-11-25 22:05] gregtatum commented on #221
I think we do a pretty good job with this nowadays with the empty thread indicators, and our notifications of why various tabs are empty.

[2019-11-25 22:05] #221 closed

[2019-11-25 22:07] gregtatum commented on #215
I think we've centralized on the categories giving the color information, so this bug can be closed. If anyone disagrees feel free to re-open.

[2019-11-25 22:07] #215 closed

[2019-11-25 22:08] gregtatum commented on #438
TaskTracer was removed in #738, I don't think we need a tracking bug for the feature since there are no current plans to bring it back.

[2019-11-25 22:08] #438 closed

[2019-11-25 22:12] gregtatum commented on #769
Resolved by #906

[2019-11-25 22:12] #769 closed

[2019-11-25 22:16] gregtatum commented on #774
This has been done for awhile, not sure which PR actually did it.

[2019-11-25 22:16] #774 closed

[2019-11-25 22:24] gregtatum commented on #1541
Resolved with #1687

[2019-11-25 22:24] #1541 closed

[2019-11-25 22:33] digitarald opened #2322 "Provide an easy way to provide "Feedback""
So far we have been gotten feedback through our internal channels. When rolling out the product to an early external audience, we need to make sure that we can gather feedback from those engaged users, be it kudos, ideas and/or criticism.

**Tasks**:

Creating a similar flow like send.firefox.com.

1. Feedback link in the main analysis UI
2. Create survey on surveygizmo to capture the feedback _(H

[2019-11-25 23:12] gregtatum commented on #2322
I like just having a link :)

[2019-11-25 23:39] gregtatum opened #2323 "Timeline should have nice UX for when fission hits"
Here is a profile of a cnn.com load.

https://perfht.ml/2QTNnsn

This is not very nice, as can be seen from this screenshot:

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/1588648/69587174-76c99200-0faa-11ea-89eb-9ef4a824244c.png">

[2019-11-25 23:48] gregtatum commented on #2323
First off, we create lots and lots of tracks. These can tell us useful information, but when there are so many processes it's probably not very handy. A quick fix could be to by default collapse to only the global tracks, and then provide an arrow to expand all of the local tracks underneath.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/1588648/69587555-78e02080-0f

[2019-11-25 23:53] gregtatum commented on #2323
We could reduce the amount of tracks by nesting the processes based on the main process for a page, and then dive into the processes that were launched by that tab.

[code]

[2019-11-26 01:12] digitarald commented on #2322
Where would you put it though, @gregtatum ?

[2019-11-26 10:30] julienw commented on #2322
Do you know how we'll ensure that we handle the feedback, also in the long term ?

[2019-11-26 10:57] julienw commented on #2171
hey @rbrishabh, sure!

[2019-11-26 16:36] gregtatum commented on #2322
Maybe it's time for a menu dropdown?

[2019-11-26 18:01] digitarald commented on #2322
Weekly or bi-weekly (depending on volume) triage would be appropriate I think.

[2019-11-27 16:29] mikeconley opened #2324 "Feature request: Add bookmarks / markers to a profile within the profiler UI"
Sometimes I'm zipping around in perf.html, and there's a section of the timeline that I want to remember to come back to, or need to refer to. It might be nice to be able to add a visual marker (maybe with a label?) to that part of the timeline so it's easy for me to find and get back to.

Video editing software like Premier and Camtasia Studio have this kind of timeline marker tool.

It might eve

[2019-12-02 15:02] gregtatum commented on #798
We could also use this infrastructure to create meta information about what markers are appropriate to show for what types of profiling presets:

https://bugzilla.mozilla.org/show_bug.cgi?id=1589681

This way, for example, if we are in a webdev mode, we can remove all of the platform-specific markers which are not useful.

[2019-12-03 17:47] julienw commented on #2080
Some more thoughts about the UI.
IMO there are 2 UI parts:
1. When displaying a specific profile, we should be able to know if this profile has been uploaded by the current user. Then we can display a red button "Delete this profile" somewhere, in the "publish" or "metadata" panels.
2. From the home, we can list all uploaded profiles by the current user. From this view the user can open one, or de

[2019-12-03 17:51] juj opened #2328 "Feature request: Show # of units of garbage, rather than/in addition to the number of bytes of garbage"
When profiling JS garbage in my Wasm program with the new performance profiler in Nightly, I get

![garbage](https://user-images.githubusercontent.com/225351/70075657-e1f81180-1605-11ea-8a7a-e8e353ee3373.png)

I think it is more interesting (generally) to observe "runaway" allocations that repeat often, rather than the # of bytes allocated. (That is, at least, when the # of bytes allocated are com

[2019-12-03 17:52] julienw commented on #2077
It's been implemented by @brisad in https://bugzilla.mozilla.org/show_bug.cgi?id=1555021 and https://bugzilla.mozilla.org/show_bug.cgi?id=1579982. There's a behavior that still needs to be fixed and handled in https://bugzilla.mozilla.org/show_bug.cgi?id=1595677.

[2019-12-03 17:52] julienw commented on #2077
Let's close this bug as the bulk of the functionality has been implemented.

[2019-12-03 17:52] #2077 closed

[2019-12-05 15:49] julienw commented on #1390
No activity for some months now, so I'm remocing the "assigned" status now. Thanks anyway!

[2019-12-05 15:51] daniel-234 commented on #1390
Hi @julienw, I would like to work on this issue.

[2019-12-05 15:59] julienw commented on #1390
Sure @daniel-234, thanks!

[2019-12-06 16:33] canova commented on #2318
Fixed by #2332.

[2019-12-06 16:33] #2318 closed

[2019-12-06 16:33] canova commented on #2308
Fixed by #2332.

[2019-12-06 16:33] #2308 closed

[2019-12-06 22:05] digitarald commented on #2080
Thanks, @julienw for kicking the flow discussion off.

I think the 2 parts work well as the final state of how profile lookup and deletion should work.

To split those into manageable milestones, the order should work as well as 1) solves most use cases where a developer has an uploaded profile that they want to delete. 2) solves the lookup problem of "what did I upload?" and lets users open or de

[2019-12-06 22:28] julienw commented on #2080
yeah, I agree with you that 1) should be done first.
About 2), I was planning to first implement a simple page in the form of a table, independant from the home, only linked with a link or a button maybe, so that the functionality is here and the redesign can be done without spending too much time on adding new functionality. Hope that makes sense!

[2019-12-06 22:32] digitarald commented on #2080
Yes, that's a great way to exposen it as well and not block on the landing page work.

[2019-12-08 16:12] miggs125 commented on #573
I'd like to work on this!

[2019-12-10 20:33] ridhishjain commented on #2171
@rbrishabh are u still working on this issue, or may I take it?

[2019-12-11 03:11] digitarald opened #2337 "Privacy presets nightly-autoland behave like release"
When publishing a profile from a local build, privacy presets are all checked off because `nightly-autoland` update channel isn't detected as Nightly.

[2019-12-11 04:45] digitarald commented on #2324
Agreed, those would be extremely useful to leave an analysis papertrail and to not forget locations.

Do you have specific ideas on what you would you like to bookmark? Functions/stacks could be there, or highlighting specific regions or points in time.

[2019-12-11 05:08] makotokato opened #2338 "Update Android doc since we replace WebIDE with about:debugging"
You know, we have replaced WebIDE with about:debugging. So we should update android doc (https://profiler.firefox.com/docs/#/./guide-remote-profiling or https://github.com/firefox-devtools/profiler/blob/master/docs-user/guide-remote-profiling.md) for about:debugging.

[2019-12-11 15:48] #100 closed

[2019-12-11 23:18] digitarald opened #2341 "Publishing leads to broken range"
Recorded with native allocations (but that worked before) and published:

https://www.loom.com/share/a4e387529a824c26af954422fc7c591e

[2019-12-11 23:50] digitarald opened #2342 "Profiler capturing occasionally leads to a blank page"
<img width="1280" alt="image" src="https://user-images.githubusercontent.com/8599/70670400-b8ef0680-1c2d-11ea-9223-e65ada0c71bd.png">

No relevant Console logs. Maybe related to the Service Worker and the new architecture that is behind `dom.serviceWorkers.parent_intercept` (cc @asutherland).

[2019-12-12 00:46] asutherland commented on #2342
@digitarald How often would you say this happens?  I've been noticing a very low incidence rate of problems like this, say every other day, but it also seems to happen for URLs that don't have a ServiceWorker at all.  (Like, I've seen it on {www.}google.com, neither of which have a ServiceWorker registered on that scope.  Unless it's trying to install one and then fails and gives up?  That might a

[2019-12-12 01:05] digitarald commented on #2342
I see it more often when opening my lean profile that I use for Nightly profiling; usually breaks my first profile capture.

Next time I hit it I'll open `about:networking#logging`

[2019-12-12 03:58] asutherland commented on #2342
To be clear, you need to enable the logging ahead of time.  There's no magic circular buffer that I'm aware of.

[2019-12-12 09:13] canova commented on #2341
I don't think that's because of the native allocations. Our range fix that was related to markers wasn't deployed at that time yet. I just did the deploy. Is there a way to see if that bug continues?

[2019-12-12 12:55] julienw commented on #2342
Have you looked at the browser console logs too?

[2019-12-12 19:56] digitarald commented on #2342
Yes

[2019-12-12 20:33] digitarald commented on #2341
Always happens sporadically for me, I will keep an eye out.

[2019-12-13 21:00] mikeconley commented on #573
Hi @gregtatum / @julienw - is there anything else we need to do to have this be assigned to @miggs125, or is he good to start working on this?

[2019-12-13 22:28] julienw commented on #573
Yes @miggs125, please start working on this!
Sorry for the delay, I have difficulties to keep track of my mails these days.

[2019-12-18 13:00] julienw commented on #2171
Sorry for the delay in answering your question. Actually we're in the process of removing this code, so I'll just close this issue in favor of PR #2334. Thanks all!

[2019-12-18 13:00] #2171 closed

[2019-12-18 13:42] julienw commented on #2337
This is happening in https://github.com/firefox-devtools/profiler/blob/7e696d9f984b65b94cde1a0d89421e796ffda68a/src/profile-logic/sanitize.js#L155-L164.
You want to do the patch @digitarald ? :-)

[2019-12-18 13:44] julienw commented on #2324
I agree that would be super useful. We need to think through how that could be implemented and how that could look like. Such "markers" could be added like a normal marker, but maybe we'd like to highlight things in the call tree too. Or maybe that's 2 super different features.

[2019-12-18 13:46] julienw commented on #2338
Indeed, thanks for the report!
Do you know if the rest of the text is ok @makotokato ?

[2019-12-18 23:31] #2337 closed

[2019-12-23 20:34] digitarald opened #2350 "[Discussion] Modal upload progress"
Problem: Upload could be a bit easier to follow if it would be modal, blocking the UI.

Solution: Use a modal upload flow (UI tbd).

Why:
- Upload is idle time for the user anyways, as the UI will update with the published version after successful upload
- The upload bar can be easily missed on large screens
- The user should not navigate away or close the tab during upload, which upload modals us

[2019-12-30 19:14] miggs125 commented on #573
@julienw  I wanted to clarify for my understanding. Is the scenario here when publishing a profile? What I understand is that @upsuper was trying to publish a profile and closed the tab before the profile was fully uploaded and so the link was invalid. Would the suggested component then be a warning for the user that the profile is still uploading?

[2020-01-01 12:26] Biboswan commented on #2324
Hi, I would like to work on this issue for getting started with the profiler

[2020-01-02 08:50] emilio opened #2352 "Docs: Remote profiling docs should probably mention Fenix Nightly."
These docs: https://profiler.firefox.com/docs/#/./guide-remote-profiling

As of today say:

But that's false. Firefox Preview Nightly does use a recent mozilla-central, afaict. Probably those instructions could be simplified.

[2020-01-02 14:10] daniel-234 commented on #2169
Hey @gregtatum, I would like to work on this issue.

[2020-01-06 14:46] #1390 closed

[2020-01-07 16:41] julienw commented on #2291
hey @melvin2016, could you work on this after all? Thanks!

[2020-01-08 22:15] gregtatum opened #2354 "Handle right clicked markers in the UserTimings in the stack chart"
The current architecture of the right clicking makes it difficult to have one chart that handles both call nodes and markers. This is because of the way the markers use an "id" to trigger showing the context menu, and needing to embed a trigger component. I think it would be better to have a single context menu trigger that can handle both the call nodes and markers, then have a connected componen

[2020-01-08 22:46] gregtatum opened #2355 "Handle selected markers in the stack chart"
PR #2345 is adding UserTimings to the stack chart. Currently they are not handling marker selections. This is fine for now, as they aren't being used in the chart, but we should probably add them in the future in case they are used in that part of the UI.

[2020-01-08 23:06] gregtatum commented on #2324
@Biboswan I'd recommend looking at "good first issue" labels (if we still have any) or a "polish" labeled bug rather than "feature". "feature" indicates that there is a lot more work involved with figuring out the UI requirements and approach.

[2020-01-08 23:07] gregtatum commented on #2169
Thanks, I assigned it to you!

[2020-01-10 14:49] daniel-234 opened #2356 "Some tests fail due to a locales issue"
When I run `yarn test` on my local machine, some tests fail. The problem seems to be an issue with the
_locales_ argument when formatting the date.
Here are two screenshots.

![Failing tests](https://user-images.githubusercontent.com/10324072/72161440-676aa080-33c0-11ea-9925-4c56181e0663.jpg)
![Failing tests](https://user-images.githubusercontent.com/10324072/72161541-9719a880-33c0-11ea-9448-25f3f

[2020-01-10 15:19] gregtatum commented on #2356
This appears to be a Windows issue. From Slack:

[2020-01-13 14:36] digitarald opened #2359 "Tracks dropdown does not offer "Current track only""
Just saw this in DevTOols performance meeting: User struggled to find the "Show only". Florian gave the hint to right-click on the tracks – ending with general surprise and gratitude for the hint.

[2020-01-14 09:35] julienw commented on #2356
A possible solution is installing WSL like [Microsoft explains here](https://docs.microsoft.com/en-us/windows/wsl/install-win10) and use Linux on Windows.
Otherwise you can ignore the error by pushing using `--no-verify` and work with the CI.

[2020-01-14 09:48] julienw commented on #2354
This "id" system is how the context menu library works, normally this is nice because usually we don't have 1 DOM element for several responsibilities.
Do you think it would be hard to have 2 canvases for the 2 charts? I haven't looked at the new code at all.

Otherwise I think your idea may work, but I remember that it's been quite hard to get the timings right, especially when right clicking som

[2020-01-14 16:10] daniel-234 commented on #2356
Thanks for your replies. I will try to push using the `--no-verify` command for now and see how it goes.

[2020-01-14 17:20] digitarald opened #2365 "Document compare workflow"
Came up in the DevTools meeting where Alex showed off perfherder/comparison and Julian was looking for docs on it.

[2020-01-14 20:33] gregtatum opened #2366 "Include some more specific tests for the drag and drop component"
This is a follow-up to #2358

js-dom doesn't support the Clipboard API. See:
https://github.com/jsdom/jsdom/issues/1568
https://github.com/testing-library/react-testing-library/issues/339

If that support gets merged in, we should update our own tests with coverage. See this comment: https://github.com/firefox-devtools/profiler/pull/2358/files#diff-07aa87c903d6c526bccb65469f76e5d1R25

[2020-01-15 22:52] gregtatum commented on #2359
I think we need a `⋯` menu on each track to the right on hover

[2020-01-15 23:02] digitarald commented on #2359
Tends to be my favorite option as well these days to expose context menus in UI. It could even have a state of hidden tracks, like `3/5`

[2020-01-16 13:02] canova opened #2367 "Display more friendly names for "CCSlice" and "IdleCCSlice" markers"
We have `CCSlice` and `IdleCCSlice` markers and we are thinking about whitelisting those so web developers can also see them. But the problem is, it's not really easy to understand what that marker does, especially for web developers. We should either display a more descriptive name for those markers or add a description below their marker name to explain what they do.

[2020-01-16 13:08] canova opened #2368 "Find a more user friendly name for "RefreshDriverTick" and display that"
Currently we have `Paint - RefreshDriverTick` marker but it's not quite understandable for web developers. We should find a better name for it, or at least we should add a description below its name.
Also, they are not easy to see in the profiler right now because they are very light gray and not easy to distinguish between that and the background. We should give it a better color.

[2020-01-16 14:27] Biboswan commented on #2086
Can you please share the screenshot or something which pane I aren't sure

[2020-01-16 20:52] gregtatum commented on #2086
Sure, here "Web Content (11/17)" is selected, and it should be in view:

<img width="767" alt="image" src="https://user-images.githubusercontent.com/1588648/72561844-b193cc00-386f-11ea-9c0a-eb3159fa918b.png">

However when you [click this URL](https://perfht.ml/3aglbr1), it doesn't scroll down to it, even though it is selected:

<img width="811" alt="image" src="https://user-images.githubuserconte

[2020-01-17 15:26] asutherland opened #2369 "Marker chart paint problem: hovering over a time-strip results in the rest of the pane becoming black"
The Marker Chart displays everything until I hover over an individual blue thing, then it's like some kind of delta-optimization kicks in that only paints what I hovered over, but it's broken because someone is still painting the whole pane black first.

Screenshot: https://clicky.visophyte.org/files/screenshots/20200117-102440.png
of the 2nd trace in the zip at:
https://profiler.firefox.com/from-

[2020-01-17 18:06] julienw commented on #2369
We do have PR #2361 to fix this :)
In the meantime you can change your zoom level, because we found out that different zoom level makes this behave different.
Long story short, it seems to happen when we resize the canvas. This _could_ be a problem with the canvas API, but not sure...

[2020-01-17 20:58] asutherland commented on #2369
Ah, thanks for the pointer.  So, I don't have a zoom level set, but I do have the `layout.css.devPixelsPerPx` pref set to 1.25 because I have a 4k display and things would be too tiny for me to see at 1.

[2020-01-21 15:30] gregtatum opened #2370 "Investigate correctness of canvas DevicePixel and CssPixel container sizing"
PR #2361 fixes an issue where we weren't properly checking if the canvas needed to be redrawn. The issue was fixed, but I didn't take enough time to figure out and test the correctness of the canvas sizing. The issue is that DevicePixels are integers, and style values are CSS. We need a proper way to size things so that the canvas doesn't overflow the container, and we only update the size when th

[2020-01-21 15:31] gregtatum commented on #2370
See this comment for more information: https://github.com/firefox-devtools/profiler/pull/2361/files#r365990448

[2020-01-21 15:38] julienw commented on #2370
As a quick note, the right solution isn't what's in the comment but rather:
1. calculate the canvas dimensions from the available container size and the DPI, and round down the values. => this is used for `canvas.width` and `canvas.height`
2. calculate the container size from the computed canvas dimensions and the DPI.
3. Use these new values for the CSS width/height => this is used for `canvas.st

[2020-01-21 15:41] #2369 closed

[2020-01-24 16:46] daniel-234 commented on #1891
Hi @julienw, I would like to work on this issue.

[2020-01-24 16:49] julienw commented on #1891
sure, thanks!

[2020-01-26 23:30] emilio opened #2374 "Native stacks no longer show up if they're under a marker."
See [this profile](https://perfht.ml/36wCu3Q) for [this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1611729), on current Firefox Nightly.

I don't know where my native stacks went, I can't see anything that happens in those reflows. So the profile is useful for me-as-a-web-dev, but not useful for me-as-a-gecko-engineer :(

[2020-01-26 23:34] emilio commented on #2374
I guess this is a Gecko issue, as https://perfht.ml/36oGmny (a profile of the same page, on an older Nightly (72)) shows stacks just fine.

[2020-01-26 23:47] emilio commented on #2374
Yeah, this was an issue with the Devtools "Record a performance profile" toolbar icon. Somehow I had native stack recording disabled.

[2020-01-26 23:47] #2374 closed

[2020-01-29 13:26] PaulBone opened #2376 "Allow users to theme the UI's colours"
Hi.

It'd be great if users could costomers the UI's colours for different types of stack frame or component (eg in thread view but also in the flamegraph) then users could pick colours that work for them (in meaning and contrast). If users can choose the background & forground colours then we can pick even better colours for the frames/graphs.

In the presentation today the speaker (sounded like

[2020-01-30 14:39] canova opened #2379 ""No sampling" mode profiles hide the all threads (except the first) by default"
Currently our idle thread detection assumes that all the threads will have samples. But this is not the case for "no periodic sampling" mode. We should check the profile and do the detection with markers instead of the samples.

Example profile: https://profiler.firefox.com/public/a3c1d4358fcaa9dffb3dec6686f03e0d0626ebc5
When you open it, you should be able to see "Web Content (6/8)" because it ha

[2020-01-30 17:55] canova commented on #2323
Breakdown of work we need to do(please edit and add more if you think we should):
- Land the MVP of "active tab view": https://github.com/firefox-devtools/profiler/pull/2335
- Land the presets and the new recording workflow(so we can have the preset information to know if the user is using "Web Developer" preset or not)
- Get a UI from the UX people.
- Implement the new UI that simplifies the sing

[2020-01-31 13:49] gregtatum commented on #88
This is an older bug, but I think merging threads is even more interesting for the post-fission world. In addition, this could allow us to merge thread pools into one track. This could work in the UI like so:

* Combine multiple threads into a single track
* Build a thread activity graph (or even stack graph) out of the combined data
* Add a "twisty" dropdown to show all of the threads separately.

[2020-02-03 14:28] #2313 closed

[2020-02-04 14:30] brisad opened #2381 "Flame graph steals focus when searching"
STR:
- Open any profile
- Switch to the flame graph
- Focus the filter stacks input box
- Type something that will not match any stack
- The "The flame graph is empty for [process name]" message will appear
- Hit backspace until the search matches something and the flame graph comes back again

Expected result: The search box should keep the focus

Actual result: The flame graph viewport steals th

[2020-02-05 08:52] julienw commented on #2376
Currently we pick our colors from the profile itself. Indeed the categories are defined in the profile data. Then we map the colors as defined in the profile data to actual RGB colors. So this may be a location where we could do this mapping.

Also we definitely want to revisit our color choices, especially the yellow...

[2020-02-05 10:16] #2379 closed

[2020-02-05 10:21] canova opened #2386 "Find a way to determine if a non-main thread is idle or not for "no sampling" mode"
Currently, for no sampling mode, we can determine if the main threads are idle or not by looking at `RefreshDriverTick` markers. But we don't have these markers for other threads. We should find a way to determine if they are idle or not.

[2020-02-06 09:12] gregtatum commented on #2354
I'd be OK with coming up with our own custom context menu solution. That was added as a quick fix in the early days. I think maybe a global context menu implementation could be nice, then we'd control it all through the redux store, which is mostly what we have at this point.

I think the 2 canvases would be quite difficult to get correct with the viewport implemented by an individual canvas.

[2020-02-06 09:13] gregtatum commented on #2365
We should do a docs sprint.

[2020-02-07 21:52] emilio opened #2390 "No permalink for a profile."
I uploaded a [profile](https://profiler.firefox.com/public/54b6803fe4fb2cf207f0e2732ab6360ae8199272/calltree/?globalTrackOrder=0-1-2-3-4-5-6-7-8-9-10&hiddenGlobalTracks=1-2-3-4-5-6-7-8-9&hiddenLocalTracksByPid=2371-3-5-7-8-9-10-11-12-13-14-15-34-35-36-37-38-39-43-44-45-46-53-54-55-56-57-58-59-60-61-62-63-64-65-66-68-69-70-71-72-73-77-78-79-80-81-82-83-84~10968-1-2-4~10459-1-3-4~11150-1-3-5-6-7-8-9

[2020-02-10 14:50] julienw commented on #2390
Ah, this is because the URL is too long for bitly, which returns an error in that case. Previously we were reusing the long URL in that case but a recent patch changed that... Fortunately a patch I'm working on to migrate to the latest version of bitly API restores that behavior!
A long term fix is to remove some things from the URL, notably the track ordering, because this is really long when the

[2020-02-10 17:52] julienw commented on #2390
I found this is tracked in #1479 already. But for Fission we'll want to deal with it soon...
Closing this issue for now.

[2020-02-10 17:52] #2390 closed

[2020-02-11 18:21] Biboswan commented on #2086
Hi. Sorry for the delay. I started looking late. I was able to do this with the use of `ref`. But I wonder whether that is a good pattern. Shall I push code with this approach before going with the other approach. I remember using Virtual Lists as discussed along with @julienw in slack. I will look at virtual list way of doing then.

[2020-02-12 09:14] julienw commented on #2352
This has been fixed in #2392.

[2020-02-12 09:14] #2352 closed

[2020-02-12 09:17] julienw commented on #2338
I believe this has been fixed in #2392!

[2020-02-12 09:17] #2338 closed

[2020-02-12 10:39] #2291 closed

[2020-02-12 17:54] canova opened #2396 "Include screenshots in the profile comparison view"
Currently we don't have screenshot tracks inside the profile comparison view. Some people wanted to see the screenshot tracks so they can also compare the screenshots too. But there is no way to do that right now since it's impossible to select a screenshots track. We should also include screenshot tracks while importing the profiles.

[2020-02-12 18:01] canova opened #2397 "Having to select a track before comparing is not discoverable"
I'm not sure what would be the action for this issue but this was a feedback from a user. Currently you have to select a track that you want to compare. But that's not written in somewhere and apparently this is not super intuitive for the users. We should find a way to make it easier and/or we should document it.

[2020-02-12 23:00] gregtatum opened #2398 "Implement shift+zoom behavior for the timeline, similar to the charts"
This would make it consistent with the charts and the (RIP) loupe view behavior. This is a follow-up to #2394.

[2020-02-13 13:11] julienw commented on #2397
Thanks for the feedback!

My long term plan is:
* stop removing data at load time. Instead we could keep both profiles in memory and select the tracks in selectors.
* Then we could have an UI to switch the selected tracks at run time.
* possibly we could have a visualisation of the profiles so that we could select the track more easily.

[2020-02-13 13:18] julienw commented on #2396
Thanks for the feedback!
An easy short-term plan would be to copy all markers CompositorScreenshot over to the imported track. I'm marking it "help wanted" because I think this could be done by a contributor. This is not an easy task, but that's not difficult either.

I think that around this code: https://github.com/firefox-devtools/profiler/blob/7a79517ee0081478538256c261c817907ae491b6/src/profi

[2020-02-13 13:19] julienw commented on #2396
This is an example of a comparison profile that should have screenshots: https://perfht.ml/2vxxgIA
This comes from https://perfht.ml/2OHOIkf being specified twice.

[2020-02-13 13:48] julienw commented on #2086
Please push your code already and we can look at it.
I think the proper way of doing it is through Virtual List, also because we really want to virtualize the timeline in the near future so we'll have to do it again, but in the mean time if your code fixes the problem we could also land it!

[2020-02-13 16:26] julienw commented on #2354
About the custom context menu solution: as somebody who spent a lot of time looking at the current library to work around its idiosyncrasies, I wouldn't be sad to see it move away. Yet it brings some nice things to us, especially accessibility-wise, so we'll need to be careful... Or maybe other libraries do exist?

About the viewports: what's the problem exactly? As I understand the Viewport HOC a

[2020-02-13 16:44] canova opened #2399 "Clicking the track context after right clicking any thread still preserves the "Only show XXX" items on top"
It looks like we have a bug when we click to the track context menu.

STR:
1. Open a profile, like https://perfht.ml/2Hl70nh
2. Click to "3/34 track visible" button and see that there is no "Only show XXX" items at top.
3. Right click to the "Web Content (1/8)" and make the context menu open. You should see some "Only show XXX" items at top now.
4. Click again to "3/34 track visible" button and se

[2020-02-14 09:56] canova opened #2403 "Hide the empty tracks when we switch to "active tab" view"
This is a follow-up of #2335. Currently we remove all the markers/samples that don't belong to the active tab. But we don't hide the tracks that are completely empty. We should handle this gracefully.

[2020-02-14 16:13] mstange opened #2404 "Call node selection behavior makes it hard to step through samples while also displaying categories"
Steps to reproduce:
 1. Open this profile: https://perfht.ml/2vBvYvO
 2. Try to find out what JavaScript work is being done at different times in the parent process.

Expected results:
Clicking the yellow shapes should let me see what's happening at a given time.

Actual results:
Clicking the yellow shapes selects an ancestor call node that applies to more than just the sample that I selected.

<i

[2020-02-14 19:05] gregtatum opened #2405 "Write up a case study around Facebook Container"
https://profiler.firefox.com/public/988942be9f2bd9fb499435792f93e0ce4ca5f657/flame-graph/?globalTrackOrder=7-8-0-1-2-3-4-5-6&hiddenGlobalTracks=7-8-0-1-2-3-4-6&hiddenLocalTracksByPid=26481-0&localTrackOrderByPid=26458-1-0~26800-0~26481-0~26707-0~&range=0.5739_5.3985&search=message&thread=6&v=4

I got feedback that just explaining how the tools work isn't useful, we should include some more tutoria

[2020-02-14 20:50] Elfo404 commented on #2399
Hi @canova, i would love to take a look at this if it's ok :)

[2020-02-14 21:28] gregtatum commented on #2405
Here is a comparison showing moving one class query selector to an ID.
https://perfht.ml/2HrBpR0

[2020-02-15 15:16] Biboswan commented on #2086
Next I will fix it with the Virtualize though

[2020-02-15 19:04] #2399 closed

[2020-02-17 10:04] julienw opened #2408 "Use the "generic" style of message bars to style the service worker notice"
The component controlling the service worker notice uses some custom style. Instead we should use the newly code that implements photon's message bars (from #2402).

The existing code is in https://github.com/firefox-devtools/profiler/blob/master/src/components/app/ServiceWorkerManager.js and https://github.com/firefox-devtools/profiler/blob/master/src/components/app/ServiceWorkerManager.css.

To

[2020-02-17 10:07] julienw commented on #2408
I mark this as a good first issue because I believe this should be reasonably easy.

To look at the notice without triggering a service worker reload, you can remove these lines from the `render` method:

[code]
Of course, keep these lines in the PR, we want to keep them in the end :-)

[2020-02-17 10:13] julienw opened #2409 "Better style the message bars when the available space forces multiline messages"
According to the [photon spec](https://design.firefox.com/photon/components/message-bars.html#message-on-multiple-lines), when there's multiple lines, the action button should go below.

Setting `flex-wrap: wrap` isn't enough, because then the action button's margin make it unaligned with the text. Also the closing button needs to stay at the top right.

Therefore we likely need to look again at h

[2020-02-18 12:58] loganfsmyth commented on #2088
If I remember right, these are the buttons I was talking about: <img width="406" alt="Screen Shot 2020-02-18 at 9 51 22 PM" src="https://user-images.githubusercontent.com/132260/74737829-02487b80-5299-11ea-8978-432c180eff69.png">

To me, the background of the radio and check boxes still looks disabled since it's not the same color as the background color of the context as it would be on a webpage

[2020-02-18 13:10] julienw commented on #2088
Thanks for the useful feedback!
Because we follow the photon guidelines, I forwarded the problem there => https://github.com/FirefoxUX/photon/issues/386.

[2020-02-19 09:39] canova opened #2412 "Switch the UI automatically to active tab view when the recording preset was web dev"
Currently there is a checkbox to switch into that view. But for web developers, this view should be the default one instead. We should be able to switch to that view at the load time automatically when the recording preset was "web dev".

[2020-02-20 21:33] digitarald commented on #15
This also came up in user feedback again as a list of hot spots that help to orient in a profile.

[2020-02-21 14:43] julienw commented on #15
Here is [the updated butterfly view experiment](https://deploy-preview-2388--perf-html.netlify.com/public/1c77f550d099ab67995681cf835ae589dd88e714/functions/?globalTrackOrder=0-1-2-3&hiddenGlobalTracks=0-1-2&hiddenLocalTracksByPid=58998-0&localTrackOrderByPid=58998-0~&thread=4&v=4), this time using the running time.

[2020-02-21 16:52] #1891 closed

[2020-02-21 16:56] #2381 closed

[2020-02-21 18:12] julienw commented on #2404
As a reference, https://github.com/firefox-devtools/profiler/pull/2394 changed this behavior. This is probably a good idea to look at that PR to know what should be done here. In short we want to revert to the previous behavior for the timeline's activity graph.

[2020-02-21 18:23] digitarald commented on #15
I like it, but the UI does take its own tab and we'll have to train users on its own workflow.

I wonder if a v0 for this could be simpler. XCode solves it as checkbox in the call tree; which exposes it similarly to "Invert Call Tree" – which seems nice as it has a similar explorational use case.

![image](https://user-images.githubusercontent.com/8599/75060523-d3e2c000-5493-11ea-8b32-3c39086a6dc6

[2020-02-21 18:29] mstange commented on #15
I don't have a strong opinion. But I think a tri-state selector in the Call Tree tab might work:

[code]

(actual names to be discussed)

[2020-02-21 18:31] julienw commented on #15
Interestingly I thought of that too :-) The tab was a cheap way to get it out but I think we can do better.

[2020-02-23 15:51] daniel-234 commented on #2404
@julienw, I can work on this issue.

[2020-02-24 16:27] julienw commented on #2404
Sure, thanks a lot! Assigned to you :-)

[2020-02-25 16:43] julienw commented on #2020
Another example: https://perfht.ml/2SYIy1O

[2020-02-25 16:55] gregtatum commented on #2390
@julienw yes, I would like to remove track ordering still

[2020-02-25 19:55] sefeng211 opened #2419 "Browsertime SpeedIndex graphs are broken"
This feature is no longer working, see https://perfht.ml/39WJ7ia

[2020-02-25 20:20] mstange commented on #2419
So I guess the first step here would be to find out whether this is a regression in browsertime or in the profiler. Do we have old shared profiles with graphs that used to work? Do those still work?

[2020-02-26 15:19] canova commented on #2419
[Here's an old profile.](https://profiler.firefox.com/public/7788671ed67417b9acd056310b99715892ffefe1/calltree/?globalTrackOrder=5-6-7-4-0-1-2-3&hiddenGlobalTracks=1-2&localTrackOrderByPid=21091-1-2-0~21094-0~21092-0~21093-0-1~&thread=4&v=4) It looks like it's still working.

The new profile doesn't have any timestamp value:
<img width="381" alt="Screen Shot 2020-02-26 at 4 13 54 PM" src="https://

[2020-02-26 15:25] canova opened #2420 "Switch breadcrumbs root to tab origin + favicon on single tab"
Currently it says "Full Range" but we've decided to put the origin of the URL and the favicon. The new UI will be like this:
<img width="481" alt="Screen Shot 2020-02-26 at 4 06 54 PM" src="https://user-images.githubusercontent.com/466239/75359336-8f508d80-58b4-11ea-91d0-7fdf71fd3e03.png">

[2020-02-26 15:29] canova opened #2421 "Hide the timeline second toolbar on single tab"
Right now there is "graph type" selection and the track show/hide panel there. But we are okay with only showing the categories graph and, we won't be able to see other tracks to hide/show anyway. We can remove this toolbar to clear up the space.

[2020-02-26 15:32] canova opened #2422 "Hide left timeline sidebar on single tab"
We don't have to show the left sidebar on the timeline on single tab view. We can remove it and make the timeline 100% width.
It will be something like this in the end:
<img width="1040" alt="Screen Shot 2020-02-26 at 4 30 54 PM" src="https://user-images.githubusercontent.com/466239/75359980-6ed50300-58b5-11ea-8ddc-9963b7b2bca2.png">

But we should also follow-up this with changing the with of:
-

[2020-02-26 15:38] canova opened #2423 "Collapsible Resources on single tab"
We would like to make a collapsible resource panel for single tab view. This will look something like this:
<img width="870" alt="Screen Shot 2020-02-26 at 4 35 51 PM" src="https://user-images.githubusercontent.com/466239/75360456-1a7e5300-58b6-11ea-8f4b-e0c8a9e76a16.png">

There are a few tasks in this issue:
- Make the resources collapsable
- Have an overlay title
- Add an aggregated/squashed ti

[2020-02-26 15:40] canova opened #2424 "Experiment to re-order marker/graph in the timeline"
We should experiment to see which marker/graph ordering is better for the timeline.
Here's an example for the reversed ordering:
<img width="714" alt="Screen Shot 2020-02-26 at 4 39 47 PM" src="https://user-images.githubusercontent.com/466239/75360889-b90ab400-58b6-11ea-9658-31ac0e4d8248.png">

[2020-02-26 15:46] canova opened #2425 "Make stack chart the first tab on the bottom panel on single tab(?)"
We've decided that stack chart is better for web developers. So it's good to make this tab the first.

But I don't remember if we wanted to change this ordering for just single tab view only or for every cases. Does anyone remember?

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FP-241)

[2020-02-26 15:50] canova opened #2426 "Simplify chart panel toolbar on single tab"
We should simplify the chart panel toolbar by:

* Converting javascript/native checkbox to a selecbox.
* Limiting "invert call stack" checkbox to call tree only.

![](https://user-images.githubusercontent.com/466239/75361724-0c313680-58b8-11ea-842a-dfa9ece96d41.png)

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FP-242)

[2020-02-26 15:53] canova opened #2427 "Balance color contrast for categories"
Currently some of the colors are not great for accessibility, especially yellow on JS category. We should make it better.
We can also experiment with outlines to make the categories more explicit.

[2020-02-26 15:59] canova opened #2428 "Have a UI to be able to switch back to non-web-dev/advanced mode"
Currently we don't know how to switch back. The manual solution would be to remove the query string from the URL. But we should also find a way to switch back in the UI.
Some options:
- Secondary UI to expose customization
- Expose in meta data popup, where we also show the preset
- Falafel 🌯 overflow menu, that will include:
   - Github/Issues
   - Help
   - Privacy links

[2020-02-26 16:31] mstange commented on #2419
@sefeng211, can you file the browsertime issue about the null timestamps?

Also, in reference to the conversation on Matrix, maybe we want another browsertime issue about the fact that this information is only present if profiler screenshots are in the profile.

[2020-02-27 10:44] #1977 closed

[2020-02-27 17:54] digitarald commented on #2427
I assume scope so far is just JS colors in the stack/flame chart. cc @violasong to provide the color value(s).

[2020-02-27 20:46] sefeng211 commented on #2419
This is indeed a browsertime bug.

I am fixing it in https://github.com/sitespeedio/browsertime/issues/1213

also created another issue for the graph information requires profiler screenshots https://github.com/sitespeedio/browsertime/issues/1214.

[2020-02-27 20:46] #2419 closed

[2020-02-28 07:11] marcin-kuna commented on #2408
Hey @julienw ! Can I work on this issue? I'm a first-timer :)

[2020-02-28 10:15] julienw commented on #2408
Hey Marcin,
oh yes, sure! Do you need any more information to start working on this?

[2020-02-28 10:58] julienw commented on #2425
I'm a bit afraid of changing habits too much for our current gecko developer users. What do y'all think?

[2020-02-28 11:07] julienw commented on #2420
As we're looking at this, I got a feedback recently that it wasn't clear that the "full range" text was clickable. Maybe we can look at make this more obvious here as well.

[2020-02-28 13:45] marcin-kuna commented on #2408
I think i'm ok for now, thanks! If i need some guidance I'll contact you :)

[2020-02-28 16:57] sefeng211 opened #2432 "Show tracking protection is on or off in profile?"
I feel it would be helpful to show the status of tracking protection in profiles, because tracking protection is a feature that may change how Firefox works heavily, and having this feature displayed in the profile helps us to understand more about the scenarios.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FP-243)

[2020-03-02 18:43] #2001 closed

[2020-03-02 19:47] squarewave opened #2434 "Allow users to write and save comments on a particular time window"
Often times I use profiles to work out an understanding of how a large process works, and I want to go through it step by step and collect notes on what's going on. Currently the only way to do that is to have, say, a google doc with a bunch of links to different filters on a profile. It would be really nice if I could highlight something in the profiler, right click, and add a comment. It seems l

[2020-03-02 20:33] digitarald commented on #470
@julienw since this landed, should we close the issue?

[2020-03-03 00:59] digitarald commented on #2434
@squarewave does the discussion in #484 cover what you had in mind?

[2020-03-03 12:54] julienw commented on #470
I don't think so, cf the 2 latest comments above :-) This is like a meta bug for more stuff around this topic. Until we plan to spend time on this I don't think this is worth filing all the bugs.. but maybe we could file the ones that contributors could pick. I'll look at it!

[2020-03-04 15:46] canova opened #2437 "Handle the edge case in active tab track hiding"
This is a follow-up of #2418. As Greg stated there, we don't handle the case that GeckoMain is not profiled. This is not happening most of the cases, but still it might happen.
Here is a profile showing what happens: https://perfht.ml/2PzJ4kC

STR:
 * Turn off GeckoMain from the recording
 * Record a profile
 * Check "Show active tab only"

Expected Results:
 * Perhaps show active tab isn't availa

[2020-03-04 15:50] canova opened #2438 "Add test for track hiding when all tracks are hidden"
We should try out some tests for when things go badly, and all tracks are hidden. We handle this This is coming from [this comment](https://github.com/firefox-devtools/profiler/pull/2418/files#r385936110).

[2020-03-04 15:59] fqueze commented on #52
It's current possible from the marker context menu in the marker chart ("Set selection start time here" and "Set selection end time here").

[2020-03-04 15:59] #52 closed

[2020-03-04 16:01] #2403 closed

[2020-03-04 16:10] fqueze commented on #398
I almost wrote "the sidebar of the call tree would be a nice place to show this information", but wait, it's already there! In the "This function across the entire tree" section.

[2020-03-04 16:11] #398 closed

[2020-03-04 16:24] fqueze commented on #630
GC marker tooltips have been dramatically improved over the last years. Is there anything left to do here?

[2020-03-04 16:27] fqueze commented on #680
With the new responsiveness tracks, it might be easier to access this information now.

[2020-03-04 16:29] fqueze commented on #678
The content of the marker tooltip is now shown on the Marker Table's sidebar. I think this is the right place to show it (a tooltip above the table would be great; and the current solution is keyboard accessible).

[2020-03-04 16:29] #678 closed

[2020-03-04 17:14] squarewave commented on #2434
I think it would be a reasonable start, so long as I would able to give a paragraph description of what's going on, rather than just a label which doesn't wrap or anything.

[2020-03-04 18:09] julienw commented on #2408
Fixed by #2433. Thanks a lot!

[2020-03-04 18:09] #2408 closed

[2020-03-04 18:11] julienw commented on #2086
Fixed by #2407. Thanks a lot!

[2020-03-04 18:11] #2086 closed

[2020-03-04 18:21] julienw commented on #1388
I think this is working now.

[2020-03-04 18:21] #1388 closed

[2020-03-04 18:23] julienw commented on #942
This has been fixed by #2331.

[2020-03-04 18:23] #942 closed

[2020-03-05 09:36] julienw commented on #680
I believe we had it before just fine.

[2020-03-05 09:37] julienw commented on #630
Yes, the tooltips we have now are just for individual markers. The goal here is to analyze several markers together. I believe this idea is broader than just for GC.

[2020-03-05 18:22] #2404 closed

[2020-03-05 18:33] mstange commented on #2404
Thanks!

[2020-03-06 11:18] #2420 closed

[2020-03-06 17:01] #2189 closed

[2020-03-06 17:22] julienw commented on #1104
Maybe what I call the waterfall view is just a better marker table.

[2020-03-06 17:24] julienw commented on #1127
As a quick note, I believe we still need to handle the last 2 points of my previous comment.

[2020-03-06 17:27] julienw commented on #758
Does the activity graph answer this question? If it's yellow at the top of the graph, it means we're doing JS. Is that good enough?

[2020-03-06 17:28] julienw commented on #760
Is what we have in the sidebar good enough?
![image](https://user-images.githubusercontent.com/454175/76107011-49907500-5fd8-11ea-8c0e-3a1ab2a3966a.png)

[2020-03-06 18:10] julienw opened #2442 "When uploading a profile, the returned token needs to be locally stored"
After uploading a profile, the server returns either a JWT or a hash (depending on the server we use). We need to store it in a local storage along with some other data to identify this profile and be able to display it in a list later.

Ideally the data will be stored in an indexed db. The reason is that I believe this will bring a better performance when many profiles are present in the list.

[2020-03-06 18:12] julienw opened #2443 "When displaying a published profile that the current user uploaded, propose to delete it"
1. The user displays a profile
2. The client checks the local storage whether this hash is present.
     If yes, we display a red button “Delete this profile” somewhere (TBD: publish dialog, meta panel?)

Cc @violasong to provide some UX and visual design.

* [x] Depends on #2445
* [ ] Rework some of the existing panels so that there's room for the new button
* [ ] Add button when it's possible to

[2020-03-06 18:14] julienw opened #2444 "Implement a list of all uploaded profiles stored in this firefox profile"
* The client enumerates all hashes from the indexed db storage, and displays them.

cc @violasong to provide the UX and visual design.

[2020-03-06 18:19] julienw opened #2445 "Provides the backend work to delete a profile"
This will implement everything necessary to delete a profile, but no UI.

* [X] depends on https://github.com/firefox-devtools/profiler-server/issues/48
* [x] add the low-level code to call the server endpoint
* [x] add tests

[2020-03-06 18:24] julienw commented on #2444
We discussed with harald about which metadata to show. Our current decision is:
* Primary: Recording datetime + overall time
* Secondary: Firefox version + OS
* Possible additional feature: Show and edit custom name -- would need a mockup for this

Here are the actions we'd like to implement on profiles:
* Delete
* Open
* Later: Set expiration (like Firefox Send)
* Later (when we'll have local sto

[2020-03-06 18:25] julienw commented on #2444
How do we access the list?
* Show in a menu from the "profile viewer" page? Like an "open another profile" item?
* or is it just from the landing page?

[2020-03-06 18:26] julienw commented on #2444
Other questions:
* Checkboxes to delete multiple profiles?
* a function to clear everything stored locally? A function to delete all profiles?
* be able to trigger the comparison view by clicking 2 or more checkboxes => maybe not good enough for now because we'd like to also select the thread and the range.

[2020-03-06 18:27] julienw commented on #2080
Dependent bugs are part of the milestone https://github.com/firefox-devtools/profiler/milestone/10

[2020-03-06 18:31] julienw commented on #2443
Instead of "delete" should we use the word "unpublish"?

Should we provide a function "replace current profile" that would delete the old one and upload this new one in one go? This would invalidate old URLs.

We could also upload the new one with the same URLs, but that could also invalidate old URLs even more -- like the ranges and transforms could be bad in old URLs and show a broken UI, so I d

[2020-03-07 01:00] violasong commented on #2444
This is probably for a future milestone, but: would we be able to show a screenshot and snippet of the graph in the profile listing, as Chrome does?

<img width="552" alt="image" src="https://user-images.githubusercontent.com/55994/76133189-ded93c80-5fcb-11ea-8a36-36ab667144c1.png">

[2020-03-07 01:33] violasong commented on #2444
Seems like it would be nice to be able to access it from both. For reference, here's what we worked on for a 2017 mockup

<img width="239" alt="image" src="https://user-images.githubusercontent.com/55994/76134012-337eb680-5fd0-11ea-8bdd-c82a4a24cdb9.png">

We could make the profile name a dropdown

<img width="1011" alt="image" src="https://user-images.githubusercontent.com/55994/76134067-7e003300

[2020-03-07 02:46] violasong commented on #2444
I know the tooltip style might be on the small side. What's your guess for the typical number of profiles a person would have for a current project (e.g. profiles that might need to be compared with each other)?

CC: @digitarald

[2020-03-07 04:28] digitarald commented on #2444
Firefox engineers as power users can have a 50+, especially if we show across their whole lifetime. The same recorded profile but different shared ranges/views would probably show multiple times; we could think about grouping those.

One idea would be to limit it and have a "26 more" UX to expand the list with additional profiles. I assume most users will be happy seeing the most recent.

[2020-03-09 18:15] jasonLaster commented on #484
Adding this conversation

https://twitter.com/drewml/status/1237078721162510344

[2020-03-11 14:56] fqueze commented on #804
@gregtatum is there anything left to do from what was described here?

[2020-03-11 14:58] fqueze commented on #824
I think most (if not all) of this is done.

[2020-03-11 14:58] #824 closed

[2020-03-11 15:00] fqueze commented on #916
Closing this as I think we decided preserving the alignment between the timeline and the marker chart is more important than showing a sidebar. There's a useful sidebar in the Marker Table panel.

[2020-03-11 15:00] #916 closed

[2020-03-11 15:00] fqueze commented on #918
Closing this as I think we decided preserving the alignment between the timeline and the stack chart is more important than showing a sidebar. There's a useful sidebar in the Flame Graph panel.

[2020-03-11 15:00] #918 closed

[2020-03-11 15:01] #184 closed

[2020-03-11 15:05] fqueze commented on #919
Greg has just done some related work in PR #2448, is this enough to close this?

[2020-03-11 15:30] fqueze commented on #1010
See also issue #605

[2020-03-11 15:41] fqueze commented on #1392
I think Nazim's work covered this.

[2020-03-11 15:41] #1392 closed

[2020-03-11 15:42] fqueze commented on #1474
Copying the raw JSON of a marker is now possible. And we offer to sanitize URLs out of a profile before uploading it.

[2020-03-11 15:42] #1474 closed

[2020-03-11 15:44] fqueze commented on #1511
@canova Can we close this issue now, or is there still something useful here that isn't already done, or covered elsewhere?

[2020-03-11 15:48] fqueze commented on #1633
The display of log markers has recently been made significantly more useful in the Marker Table, so I think we can close this now.

[2020-03-11 15:48] #1633 closed

[2020-03-11 16:04] fqueze opened #2452 "The sidebar of the Marker Table should display full stacks"
Example profile: https://perfht.ml/2Q7n1lx (open the Marker Table sidebar and select the first marker).

![Capture d’écran 2020-03-11 à 17 02 50](https://user-images.githubusercontent.com/2633774/76437687-37d51600-63ba-11ea-8ef0-6f9e41aa9dcb.png)

[2020-03-11 16:06] fqueze opened #2453 "The Marker Table sidebar has an ugly horizontal scrollbar for GCMajor markers"
Example profile: https://perfht.ml/2W3qc1m (open the sidebar and select the first marker in the list)

I think instead of having this horizontal scrollbar, the text in the first column should wrap into multiple lines.

![Capture d’écran 2020-03-11 à 17 04 35](https://user-images.githubusercontent.com/2633774/76437933-98645300-63ba-11ea-96fc-fed7503e95ff.png)

[2020-03-11 20:30] digitarald commented on #760
@mikeconley see https://github.com/firefox-devtools/profiler/issues/760#issuecomment-595875710 . Would that be useful to see by default?

[2020-03-11 20:37] mikeconley commented on #760
Yes, I think so!

[2020-03-12 00:33] digitarald commented on #2428
I think this was the low hanging option (before investing in the 🌯 menu) from the discussion. UI-wise this would be adding the preset in the meta popup with a link to "switch to reduced/extended interface".

How does that sound, @violasong ?

[2020-03-12 00:42] digitarald commented on #2428
@canova would it make sense to prototype this – we can follow up with UI touch-ups? We might not need Victoria for the MVP.

[2020-03-12 19:32] digitarald opened #2457 "Disable meta data popover for imported profiles"
The data is plain wrong if something for imported. If we don't have meta data we can just hide the element.

<img width="360" alt="image" src="https://user-images.githubusercontent.com/8599/76560017-7374ec00-645d-11ea-8cd8-c120441da538.png">

[2020-03-12 19:33] gregtatum commented on #2457
We should also invent some new data structures for imported formats. It would be nice to get more information about what it was imported from.

[2020-03-12 19:35] digitarald commented on #2457
Agreed, this is just short term until we want to further invest in imports. I tweaked the title.

[2020-03-13 08:23] sumadithya commented on #2452
I think I can work on this.
`overflow: scroll` is this a decent solution?

[2020-03-13 10:53] canova commented on #2428
@digitarald  Yeah, I will prototype with it and try to see.
Double checking, is it only to leave the active-tab mode? Or also to switch from advanced to active-tab? (In that case the checkbox will go away)

[2020-03-13 18:48] fqueze opened #2461 "When sanitizing hidden threads out, stack transforms are lost"
If we remove a hidden thread during sanitization, selected thread index may change. If it does, we lose transforms.

[2020-03-13 22:01] digitarald commented on #2422
@canova do we need the timeline sidebar for the complex mode? I was hoping we would re-use the same UI for both modes, but maybe I am missing some dependency.

[2020-03-13 22:05] digitarald commented on #2412
This is probably one of the first bugs to land as its also not blocked by UX but rather architecural questions. What do you think, @canova ?

[2020-03-14 04:08] digitarald commented on #2428
We probably want both ways, to have an escape hatch and allow users to explore both.

[2020-03-16 09:51] canova commented on #1511
I think yes, we can close this since it's being superseded by single tab view. Only thing that is missing is that we don't give the ability to select the tab to the user. But I think that's for the best at the moment. We can create another issue for that part only if you like.

[2020-03-16 09:51] #1511 closed

[2020-03-16 16:56] julienw commented on #2461
Thanks for the issue. This looks like a problem we could have, even if we have code that's supposed to deal with this issue.

The sanitizing process returns a map that translates old thread indexes to new one. We seem to use it for transforms in https://github.com/firefox-devtools/profiler/blob/8b95daa261a238adaa691d43b0bf019d1896c984/src/reducers/url-state.js#L193-L208.

It would be useful to hav

[2020-03-16 17:12] julienw commented on #2457
But is that really wrong? I mean, maybe the interval is right, as is the recording time. Clearly not the rest of the data thought :-)

[2020-03-16 17:22] digitarald commented on #2457
Are any of the importers try to set the meta data?

[2020-03-16 17:27] julienw commented on #2457
https://github.com/firefox-devtools/profiler/blob/8b95daa261a238adaa691d43b0bf019d1896c984/src/profile-logic/import/linux-perf.js#L252-L260

Clearly not :D

[2020-03-16 17:40] julienw commented on #2452
hey @sumadithya, thanks for your message!
I think it's not good enough. Let me explain:

Indeed the root problem here is that we use the same component [`TooltipMarker`](https://github.com/firefox-devtools/profiler/blob/master/src/components/tooltip/Marker.js) in 2 locations:
1. In tooltips in the marker chart
2. In the sidebar in the marker table

This is done like this mostly because we needed s

[2020-03-16 17:42] julienw commented on #2453
Yeah, maybe we can experiment removing this: https://github.com/firefox-devtools/profiler/blob/8b95daa261a238adaa691d43b0bf019d1896c984/src/components/tooltip/Tooltip.css#L71, maybe adding a min-width.

Especially we need to look at tooltips to check we don't break them.

[2020-03-16 19:35] julienw commented on #760
I'm gonna close this for now, but I prepare a patch to enable the sidebar by default in the call tree.

[2020-03-16 19:35] #760 closed

[2020-03-17 02:24] violasong commented on #2428
Ah, I was originally thinking the web dev mode wouldn't have this metadata button anymore, but it could be simplified into an info icon instead.

<img width="457" alt="image" src="https://user-images.githubusercontent.com/55994/76815601-51f86500-67bb-11ea-884a-e3fa14ffc2aa.png">

[2020-03-17 22:25] mstange opened #2464 "Inconsistent application of multiple search terms"
In the search fields in our various panes, you can use commas to search for multiple strings. However, it seems that different panes have different interpretations of "searching for multiple strings":
 - If I search the call tree for `addon,extension`, I only get call stacks where both the string "addon" *and* the string "extension" is present in the stack: https://perfht.ml/2QjbZtB
 - If I search

[2020-03-18 08:21] sumadithya commented on #2452
Does this work?
I really want to do this correctly. This is my first PR.

[2020-03-18 10:29] julienw commented on #2464
The multiple search for markers is quite recent.

Which way do you think would be more useful for you Markus? I think the AND behavior is more useful and that's why I did it for the calltree initially, because we can always get a OR behavior by searching twice. What do you think?

[2020-03-18 10:36] julienw commented on #919
We can file individual bugs for the rest of the tasks I outlined above. I think the 3rd task may be done, but the 4th isn't and I still think this could be useful. Using our new mechanism this may be doable with a simple page hosted inside Firefox that could fetch the profile using the same API we use in the full UI, and publish that data.

[2020-03-18 10:37] julienw commented on #916
I don't know, maybe the sidebar in the marker chart could be made using a "overlay" instead of moving everything. But we can look at this later once we know for sure about the data we want to display.

[2020-03-18 15:36] mstange commented on #2464
I'm not sure - ideally I'd want access to both :)
But if only one is available, it should really be consistent.

I actually disagree with the "searching twice" argument. In the first profile link given above, I was actually trying to find out "how many samples are we spending in extension-related code?" Some of those samples only have the word "addon" in their stack and some only have the word "ex

[2020-03-18 16:25] julienw commented on #2464
I see, thanks for the feedback!
I think I'd implement the AND behavior for both, but we should find a better way. I think we actually had some plans some years ago but never really looked at it since then.

[2020-03-18 18:04] digitarald commented on #916
I like the idea of overlay mode. My biggest concern is when a profile is sliced to the most important information; where a sidebar would overlay the right-most part of a profile without the means to zoom the current slice out to make everything visible.

[2020-03-19 04:03] digitarald commented on #2423
@violasong from what I gather in the meetimng notes we had a few open questions:

- Final UX for how squashed timelines displayed
  - Probably needs a prototype (@gregtatum was mentioned in the notes to help with this)
- *Closed*, *hovered*, *opened* states mocked up for the collapsed timelines

@canova anything else that you'd have questions about.

Exploration idea: The long URLs add a lot of no

[2020-03-19 04:07] digitarald commented on #2428
Diverging idea: Remote debugging shows the product icon for connected devices; maybe `[fenix-icon] 75.0` could also be something here that could hint the metadata and highlight some branding.

[2020-03-19 16:35] canova commented on #2423
Don't have a question yet, I'm working on this and I'll have a deploy preview soon. We can try different ideas to prototype on top of that work.

[2020-03-23 17:02] julienw opened #2470 "Comparison feature sometimes finds a too big root range"
STR:
1. Open [this comparison profile](https://profiler.firefox.com/compare/calltree/?globalTrackOrder=0-1-2&profiles[]=https%3A%2F%2Fprofiler.firefox.com%2Fpublic%2Fbf89d8af7ead8296ab59ad51a0b25acef7d18425%2Fmarker-chart%2F%3FglobalTrackOrder%3D9-0-1-2-3-4-5-6-7-8%26hiddenGlobalTracks%3D1-2-3-4-5-7%26hiddenLocalTracksByPid%3D29369-1%26localTrackOrderByPid%3D4411-1-0~29588-0~29567-0~19549-0~19528-

[2020-03-24 03:32] digitarald commented on #2423
Captured a chat discussions from today's thread: On hover, the label should not cover the collapsed track, so that they are visible. Hover could move the overlayed label to the top of the track, prototype by Greg:
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/8599/77384980-11ad5f80-6d44-11ea-950d-93f40668eedf.gif)

Other thoughts: Relation to other tracks is important to see

[2020-03-25 11:22] fqueze opened #2474 "Call tree background seems to have a limited width of 3200px"
See this screenshot of the profiler fullscreen on my 27" screen.
![Capture d’écran 2020-03-25 à 11 18 01](https://user-images.githubusercontent.com/2633774/77531444-37954a00-6e93-11ea-87e2-eed37f9ea482.png)

[2020-03-25 22:00] mstange opened #2475 "Understand Fenix developer needs"
The Fenix team is interested in using the Firefox profiler more. However, as I understand it, they aren't necessarily interested in the Gecko data, they're mostly interested in using the UI, and using it to understand regressions in automation perf tests. The data sources would be Java/Kotlin stacks and manual marker instrumentation in the Java/Kotlin code.

We should find out what we can do to ma

[2020-03-26 16:50] gregtatum commented on #2423
I'm happy to go with consensus, but my preference is to hide the text on hover / active state to give a cleaner UI to interact with. Here is a link to the prototype:

https://matrix.to/#/!ZoDOgIdPXBvNFIBJEf:mozilla.org/$nXItJ6_qkyivdomjb5bDEDPWbCj-DSbFmDeMtABDBkE?via=mozilla.org&via=matrix.org&via=t2bot.io

[2020-03-27 10:39] julienw commented on #2423
The link doesn't seem to work well :/

If possible, I'd like that we hide the text only if the mouse cursor goes close to the text, but not if it's hovering the track in the center of the track, far from the text.

[2020-03-27 10:48] julienw commented on #2474
The value is defined here: https://github.com/firefox-devtools/profiler/blob/f87b794bbf79e50e3ede22fc8f12999c5425873d/src/components/shared/TreeView.js#L727

Should use `min-width` instead of `width` in https://github.com/firefox-devtools/profiler/blob/f87b794bbf79e50e3ede22fc8f12999c5425873d/src/components/shared/VirtualList.js#L199 ?

[2020-03-27 10:50] julienw commented on #2474
This is easily reproducible on any screen by zooming out the view. For example on my computer zooming out to 50% makes the problem appear.

[2020-03-27 17:33] #2461 closed

[2020-03-28 00:43] marcin-kuna commented on #2474
Hey @fqueze and @julienw ! This would be my second issue to solve, but if it's not a problem, I'd like to try to fix this bug!

[2020-03-28 01:25] violasong commented on #2423
Here are the latest mockups for the alternate idea of expandable frames https://www.figma.com/file/AAUpexQEfAwEZdaLVeGOTx/Profiler-single-tab?node-id=266%3A0

[2020-03-28 18:29] aryamanpuri commented on #2474
I can take up this issue.

[2020-03-30 16:30] julienw commented on #2452
fixed by #2466

[2020-03-30 16:30] #2452 closed

[2020-03-30 16:32] julienw commented on #2474
Hey @marcin-kuna, for your second patch, do you think you could have a look at #2470 ? :)

Hey @aryamanpuri, yes please !

[2020-03-30 17:44] aryamanpuri commented on #2474
@julienw Can you give a brief about this issue and what to be done ?
How to reproduce this bug on local ?

[2020-04-01 09:27] julienw opened #2479 "This profile has weird unfinished requests"
Download and load this profile: https://drive.google.com/uc?id=1v-fJKCFO4aPmIJEstR_39FMLICgLgzrS&export=download

This needs investigation to understand whether this is because of the input data or because our processing.

[2020-04-01 09:56] fqueze opened #2480 "Having a 'Hide this track' item near the top of the track context menu would be helpful"
When there are several similarly named tracks in a profile, hiding some of them is less easy than it should be. One need to look at the track order to find the same track in the list in the context menu and untick it.
![Capture d’écran 2020-04-01 à 11 50 31](https://user-images.githubusercontent.com/2633774/78124070-6ff6d400-740f-11ea-9c7e-2bc7cb2a496b.png)

A very easy to use solution to make t

[2020-04-01 13:48] julienw opened #2482 "Move to wasm for the gzip/gunzip tool"
Currently we use an old gzip port built using emscripten, in a worker. It would be interesting to switch to a wasm-based version.

A sub-goal could be to support a streaming operation so that we could upload while we gzip.

[2020-04-01 15:10] julienw opened #2483 "Screenshots hover: instead of reducing their size so that they fit the screen, move them down"
We do have some code to make sure a screenshot hover doesn't extend past the window's top:
https://github.com/firefox-devtools/profiler/blob/31c9b16c99d1da50aef5c01d660bc0c37df3934f/src/components/timeline/TrackScreenshots.js#L209-L216

But instead we should move them down, so that we show them at their full size.

This will be even more important once we remove the track reordering feature, that

[2020-04-02 09:05] canova opened #2485 "Consider caching the profile view states during the view switch"
After #2478, we are recomputing the profile view data when we are switching views. It's good to recompute because data structures will be different. But we should have a way to cache those views in case we want to switch back to that  view again.

Also we would want to figure out how to do that transition UI wise. Right now we are displaying the loading screen again, which is pretty disruptive (I

[2020-04-02 17:37] zacnomore commented on #226
Cannot reproduce on the current version

[2020-04-07 14:01] digitarald commented on #2475
Cross-posted to https://bugzilla.mozilla.org/show_bug.cgi?id=1616887#c1

[2020-04-13 19:19] mstange opened #2493 "Chrome profile importer could be improved"
Steps to reproduce:
 1. Download https://drive.google.com/file/d/1qTHt4ZAAUEGsSVbkE0zG2Kd-_cXHBMTp/view?usp=sharing
 2. Drop it into profiler.firefox.com

Current results: https://perfht.ml/2XzkuVM

It has the following problems:
 1. Some function names are empty. The Chrome profiler displays those as `(anonymous)`.
 2. No "minor GC" call nodes. The Chrome profiler displays those.
 3. The marker c

[2020-04-15 14:43] #2309 closed

[2020-04-15 21:27] mstange opened #2497 "Re-symbolicating profiles does not update bad symbols"
When clicking "Re-symbolicate profile" on https://perfht.ml/2ydmFUs, the bad symbols stay.

This profile was originally symbolicated from a stripped symbol table from the binary because the mozilla symbol server didn't have symbols for it. The correct symbols have now been [added](https://bugzilla.mozilla.org/show_bug.cgi?id=1630340#c5) to the symbol server.

[2020-04-16 00:47] mstange opened #2498 "Clicking the activity graph sometimes selects a stack that does not highlight areas under the mouse pointer"
The loupe view was designed in such a way that clicking a pixel in the activity graph would always highlight that pixel. This property is not upheld by the activity graphs in the thread list at the top. Clicking a pixel can highlighted a completely different area in the graph, one that does not include the clicked pixel.

For example, on https://perfht.ml/3abOQR3, clicking pixels at the bottom can

[2020-04-16 01:00] mstange opened #2499 "Moving the mouse over the activity graph causes it to re-render"
In a development build of the profiler, open the web console and then move your mouse around the thread activity graph. You can see lots of messages of the form

[code]

being printed as you move the mouse.

[2020-04-16 01:18] mstange opened #2501 "Use rectangles for all markers in the marker chart"
I think it would be an improvement to switch the marker chart to the same box drawing mechanism that's used in the stack chart and the flame graph.

The current marker chart switches between dots and rectangles depending on an arbitrary width threshold. This causes distracting jumps during zooming, and it sometimes makes it look like there's overlap or like there are gaps when that is not the case

[2020-04-16 01:39] mstange commented on #2497
There are two problems here.

Problem 1 is this check:
https://github.com/firefox-devtools/profiler/blob/7be9ad9cceaf2431fb2c3364f550e7b0c0044f23/src/profile-logic/symbolication.js#L84-L88

Problem 2 is the fact that the original symbolication merged funcs but we don't have code that knows how to split funcs again. See [these docs](https://github.com/firefox-devtools/profiler/blob/master/docs-deve

[2020-04-16 08:00] #2498 closed

[2020-04-16 09:23] julienw commented on #2499
Ah dang, this is the good old "canvas drawing should be in its own separate component" bug that we had in other canvas-based charts.

I tentatively mark this as **help wanted** but we can work on it ourselves if this doesn't move forward.

The component is in `src/components/shared/thread/ActivityGraph.js`, and the goal will be to extract all canvas-related stuff (drawing, etc) to a separate PureC

[2020-04-16 12:26] padenot opened #2502 "VSync markers are present twice in the marker list"
This profile https://perfht.ml/3afJtQF has all `VsyncTimestamp` markers twice in the marker table on the compositor threads.

This is on macOS if that matters, from a Nightly build

[2020-04-16 13:05] padenot commented on #2502
Adding a `printf` like so: https://gist.github.com/padenot/d1fea85852a89f12aa37f9c340cf325c shows that the event is inserted once on the Gecko side.

[2020-04-16 13:15] julienw commented on #2502
The 2 markers are present in the profile.
So I believe there's a problem somewhere in the serialization...

[2020-04-16 20:20] mstange opened #2503 "Profile sanitization does not constrain overhead counters to the range"
I was attempting to make a large profile smaller by re-sharing a small part of it: https://perfht.ml/34SzRKN

However, that profile is still over 3MB (13MB uncompressed), and about 70% of that seems to be due to the "profilerOverhead" table which stores information for all samples.

[2020-04-17 09:36] julienw opened #2504 "Text markers aren't sanitized"
See this example profile: https://perfht.ml/34I2jPe

This happens in `sanitize.js`, we should sanitize all text markers, in their badly named `name` payload property.

Any taker ? :-)

[2020-04-17 18:04] mstange commented on #740
Here's another example profile: https://perfht.ml/3eojQjQ

This profile came from Talos, which pauses the profiler during times that do not contribute to the measured numbers. The `pausedRanges` on the thread tell us that there was a 1.4 second pause. We currently display that pause as "missing samples in buffer".

[2020-04-20 07:07] squelart commented on #2502
I could reproduce the issue on Nightly/Windows, by doing a "regular" profiling session (start&stop through the popup). In fact it was worse, with each VsyncTimestamps present up to 5 times! https://perfht.ml/3eAIQVf

Doing a `MOZ_PROFILER_SHUTDOWN` profile, the output seemed fine (no duplicate), confirming what @padenot saw with his printfs. And that's all the serialization that happens in Firefox

[2020-04-20 17:10] mstange opened #2508 "Stop treating "GeckoMain" threads specially and replace the name-based detection with an `isMainThread` or `isPrimaryThread` field"
In some places we treat threads specially when they have the name "GeckoMain": These threads become the thread of a globalTrack, and they get a marker track shown for them.
Similar treatment can benefit threads from non-Gecko sources, too, so this should be based on a field, not on the thread name.
I'm not sure whether `isMainThread` or `isPrimaryThread` would be the better name. For example, in G

[2020-04-20 17:48] gwarser opened #2509 "Please reduce or disable animations"
At least the "bouncing" effect of the menu (profile information).

It somehow causes some sort of nausea (very mild but still). Also have some weird effect for my eyes - they go out of focus and then need some time to adjust.

I have `ui.prefersReducedMotion` set in `about:config` but it still animates. Also I don't think my system supports reduced motion natively (Manjaro KDE) so it will animate

[2020-04-20 18:08] #2169 closed

[2020-04-21 20:46] gregtatum commented on #2509
@gwarser would it fix things if we stopped animations using `prefers-reduced-motion` media queries? https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion

This seems the easiest way for us to tackle it.

[2020-04-21 21:29] gregtatum opened #2514 "Import simpleperf profiles"
We should support imported simpleperf profiles, as these are part of the Android profiling experience. They are close to the linux-perf profile format. When I took a stab at this, I got the generated HTML file that Android Studio saved for me, and worked on parsing the data out of the HTML file. I got stuck on updating the regex we have in our source to handle the slightly different data. This was

[2020-04-21 21:35] gregtatum commented on #1515
I suspect this bug is no longer relevant as WebIDE is no longer around.

[2020-04-21 21:35] #1515 closed

[2020-04-21 21:36] gregtatum commented on #1147
This has been done https://profiler.firefox.com/docs/#/./guide-startup-shutdown

[2020-04-21 21:36] #1147 closed

[2020-04-22 07:37] JoelEinbinder opened #2516 "Can't parse json while in private browsing mode."
1. Open private browsing mode in firefox
2. Navigate to https://profiler.firefox.com
3. Upload a valid profile json file

Observe:
`InvalidStateError: A mutation operation was attempted on a database that did not allow mutations.`

Looks like the site is trying to use some kind of storage that is unavailable in private browsing mode.

[2020-04-22 08:41] gwarser commented on #2509
Partially - at least in my daily used profile. But not in testing/temporary profiles, because Fx does not read this pref in KDE (or I don't know how to enable it).

Can you please tell my why it must bounce twice??? I understand folding-out animation or bounce-back (macos thing?) but why bounce twice?

It will be perfectly fine if it only "fold-out" or "bounce-back" once.

[2020-04-22 10:18] julienw commented on #2509
I think it was a matter of "style" but we can definitely tweak it, especially if this has bad effects on some users.

This is the animation that does that: https://github.com/firefox-devtools/profiler/blob/c29155b7dcaeec890a7a4630ff638f35481f59a6/src/components/shared/ArrowPanel.css#L53-L71

Feel free to tweak it to your liking and then we can ask our UX designer if this looks ok.

[2020-04-22 11:19] julienw commented on #2514
I'm just a bit surprised because we did some work in https://github.com/firefox-devtools/profiler/pull/2011. Or is this bug about that we want to import the output of `report_sample.py` instead of using jesup's modifications to `report_sample_gecko.py`?

Also from my earlier testing with just linux `perf`, I realized that our importer is very sensitive to the options we pass when starting `perf` (

[2020-04-22 11:21] julienw commented on #2516
Thanks for the report!
I don't reproduce the problem myself. By chance can you give the full stack trace? That would maybe help reproducing :-)

[2020-04-22 16:51] mstange commented on #2514
I agree with Julien: The output of [`report_sample_gecko.py`](https://github.com/acreskeyMoz/simpleperf_for_geckoview_example/blob/master/report_sample_gecko.py) already works, we import it correctly.
So the other two formats we could consider importing are:
 - the html output of `report_sample.py`
 - the binary `perf.data` file.

For the `perf.data` format, the format is probably very similar to

[2020-04-23 09:05] julienw commented on #2514
I'm surprised there's nothing like `perf script` to make it possible to handle this data with the default linux perf tools (eg hotspot)... or is it because a lot of android developers aren't using Linux, so they didn't do it because it wouldn't be useful?

[2020-04-24 10:37] gwarser commented on #2509
Turns out I can set my preference about reduced motion by [editing GTK3 config file](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion#User_Preferences), so `prefers-reduced-motion` will work for me after all.

[2020-04-25 00:38] mstange commented on #2514
Here's the code from the android repo that can parse the raw simpleperf format: [SimpleperfTraceParser.java](https://android.googlesource.com/platform/tools/adt/idea/+/refs/heads/studio-master-dev/profilers/src/com/android/tools/profilers/cpu/simpleperf/SimpleperfTraceParser.java#216).

It makes use of ProtoBuf generated code, generated from [`simplerperf_report.proto`](https://android.googlesourc

[2020-04-25 01:38] jonalmeida opened #2519 "Data transform: add keyboard shortcuts"
It would be nice if there was a way to either select multiple adjacent calls and then right-click to apply a transform on them OR add keyboard shortcuts for the transforms.

[2020-04-25 05:07] mstange commented on #2514
Nevermind, I'm not quite sure which format SimpleperfTraceParser parses - it's a format that starts with the magic header "SIMPLEPERF". But that's different from the perf.data format: The perf.data format has the magic header "PERFILE2".

Here's the simpleperf code that parses perf.data:
https://android.googlesource.com/platform/system/extras/+/refs/heads/master/simpleperf/record_file_format.h#25

[2020-04-25 05:11] mstange commented on #2514
As for profiling vs symbolicating, the responsibilities seems to be as follows:
 - First, you run `app_profiler.py`, which does the following:
   - Tell simpleperf on the phone to do profiling.
   - Wait until profiling is done
   - Copy perf.data from the phone to the host machine
   - Copy unstripped libraries to the binary_cache directory. No symbolication happens.
 - Then you run `report_html.

[2020-04-25 05:26] mstange commented on #2514
This format is produced by the `simpleperf report-sample` command. For example, from the simpleperf github clone directory, running `./bin/darwin/x86_64/simpleperf report-sample --protobuf --show-callchain -o outfile` creates a file called `outfile` that starts with the magic header "SIMPLEPERF".

[2020-04-27 18:31] mstange commented on #2514
Well, hotspot at least seems to use the perf.data file directly. So maybe in theory it could be adjusted to work with the simpleperf flavour of this file, too. But simply opening a perf.data file with hotspot gives:

[code]

[2020-04-27 18:32] mstange commented on #2514
... which is https://github.com/KDAB/hotspot/issues/224 .

[2020-04-27 20:22] mstange commented on #2509
This animation was definitely just me being silly; it was inspired by the native macOS animations but couldn't go for the "grow larger than 1x and then shrink down to 1x" effect because I ran into problems with rasterization resolution...

Anyway, I think we should do two things here:
 1. Make sure we don't have an animation if the `prefers-reduced-motion` is active, and
 2. Change the animation t

[2020-04-28 08:42] julienw opened #2522 "Call tree width needs to take into account the size of items"
See this screenshot, shared by @staktrace in [bug 1633455](https://bugzilla.mozilla.org/show_bug.cgi?id=1633455):
<img width="950" alt="Screen Shot 2020-04-27 at 11 55 11" src="https://user-images.githubusercontent.com/454175/80465770-e36f0100-893b-11ea-9a9f-c89676136542.png">

Currently our call tree width is computed using an heuristic that takes into account only the call tree's depth but not t

[2020-04-28 13:04] staktrace commented on #2522
The profile in question is [here](https://profiler.firefox.com/public/29b568e225fca01b6c075f00ea80184e2d7e894f/calltree/?globalTrackOrder=0-1-2-3-4-5-6-7&hiddenGlobalTracks=2-3-4-5-1-6&localTrackOrderByPid=2797-1-0~3253-0~&thread=8&v=4). In this case I cared about the function name that was being invoked in the stdlib but because of the mess of templates I wasn't sure where it was and was hoping t

[2020-04-28 13:05] staktrace commented on #2522
Also, my handle doesn't have that first "c" (@staktrace) :)

[2020-04-28 13:11] julienw commented on #2522
Note that you should see the "uncluttered" function name displayed in the sidebar if you select it the row.
It's a good idea to display it first -- maybe if we detect that the full version is very long? We'll have to discuss in the team.

Dang, I got it right in the first occurrence :-)

[2020-04-28 13:24] staktrace commented on #2522
Oh I totally missed that. I was even looking for it but never actually saw it :) That's actually sufficient then, at least for my purposes.

[2020-04-28 16:25] mstange opened #2525 "Activity graph hit testing broken when samples are filtered out"
Profile: https://bit.ly/3eXTuWc

In this profile, clicking different parts of the activity graph never highlights the right call stack. Clicks in the striped area should be ignored, but they light up different areas of the non-striped gray area. And clicks in the non-striped area highlight the wrong things.

[2020-04-28 19:15] #1669 closed

[2020-04-28 19:15] #1767 closed

[2020-04-29 16:22] fqueze opened #2528 "Hidden screenshot tracks should be removed from the profile when sharing without hidden threads"
I just had a case where I wanted to share a profile with the screenshots of one window that had a bad behavior, but didn't want to share screenshots of the other windows that contained personal information. I unchecked all the tracks I didn't want to share and shared the profile without checking the "Include hidden threads" checkbox, but my shared profile contained all the screenshot tracks.

[2020-04-29 16:24] mstange commented on #2528
Should we rename the checkbox to "Include hidden tracks" then?

[2020-04-30 14:06] gregtatum opened #2530 "Improve data architecture for origins-based view, in support of Fission"
I'm planning on landing an experimental origins-based view in PR #2513. However, there are correctness issues around how that is used, especially as processes or threads can get re-used across multiple origins.

#2513 is landing an experimental UI, which is just `<li>` tags instead of a real view. It does however add tested data architecture for the origins based view. This issue is for discussing

[2020-04-30 17:49] digitarald opened #2531 "Import for OpenTelemetry traces"
Just wanted to have this tracked, as it needs some further exploration on what we can do with traces in the profiler and how useful it would be.

Resources:

- https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/overview.md#trace
- https://lightstep.com/blog/opentelemetry-101-what-is-tracing/
- https://www.jaegertracing.io/

[2020-05-01 17:55] #1391 closed

[2020-05-02 01:12] squelart opened #2533 "Improve "Buffer Capacity" display, e.g. "8.00MB" -> "8 MiB""
E.g., for a `profile.meta.configuration.capacity" of 8388608 (which is 8 * 1024 * 1024), the displayed "Profile Information" -> "Buffer Capacity" is "8.00MB".

In my opinion:
- The '.00' should be removed.
- The unit should be "MiB", to clarify that they are IEC "Mebibytes" (2^20 or 1024^2) and not strict SI "Megabytes" (10^6 or 1000^2). See https://en.wikipedia.org/wiki/Mebibyte
- I think a space

[2020-05-04 05:38] whimboo opened #2534 "Can't upload profile due to "Out of Memory" error"
I tried to record native and Javascript allocations while running some automation with Marionette. Therefore I changed the

[Exception... "Out of Memory" nsresult: "0x8007000e (NS_ERROR_OUT_OF_MEMORY)" location: "JS frame :: https://profiler.firefox.com/795a166e4793db308baa.bundle.js :: uc/r< :: line 95" data: no]

[2020-05-04 16:11] julienw commented on #2534
Thanks for reporting!

From looking at the code at the line+column (95:15017), I think this happens at the `decode` call of https://github.com/firefox-devtools/profiler/blob/446824e5a0ddb8011ee637849d28b9d0e0311a9c/src/actions/receive-profile.js#L562-L563

Not sure how we can prevent this. Should we try to catch the error at least?

@whimboo, to double check, did you get the error while _capturing

[2020-05-04 18:50] whimboo commented on #2534
That happened when uploading the profile. Note that when recording the profile the buffer setting was not yet at its maximum!

[2020-05-06 00:38] #2525 closed

[2020-05-06 18:57] perk11 opened #2540 "Missing instructions on how to disabler profiler completely"
I easily enabled profiler by going to https://profiler.firefox.com/

But I can't find any way to disable the profiler in the documentation or anywhere else.

[2020-05-07 00:17] squelart opened #2541 "Marker Chart: Allow sorting, e.g., by first marker start time, etc."
The marker chart is sorted by categories A-Z and then type A-Z.
This is nice and predictable, but it means it can be a bit difficult to see the order of things, and we have markers like "FirstNonBlankPaint" after "FirstContentfulPaint" though their actual time order is always the reverse.

I think it would be useful to allow re-ordering in different ways:
- Sort by first marker start time and then

[2020-05-11 20:34] mstange opened #2543 "Consider combining the "isJS" and "relevantForJS" columns of the funcTable into a "stackType" column"
The funcTable currently has two boolean columns called `isJS` and `relevantForJS`. Two bools give four possible combinations, but we're only making use of three possible combination: the "both true" combination is not used. More specifically, if a func has `isJS == true`, then its `relevantForJS` value is ignored.

I think it would be a good idea to combine the two fields into one, with the possib

[2020-05-11 21:38] mstange opened #2544 "When re-symbolication splits funcs, discard any call tree transforms that refer to these funcs (avoid non-sensical state)"
Reported in https://github.com/firefox-devtools/profiler/pull/2515#discussion_r423111362 :

[2020-05-12 15:48] #2497 closed

[2020-05-15 19:01] gregtatum commented on #2516
This sounds like a browser IndexedDB issue.

https://searchfox.org/mozilla-central/rev/3ce874dc2703831af3e5ef3a1d216ffd08057fa5/dom/base/domerr.msg#66

@julienw do you know if we can handle these errors better here? This seems like an area of flakiness that is impacting our users.

[2020-05-15 19:03] gregtatum commented on #2516
Actually, I'm reproducing it. I see no visible error in the UI, is this a bug, or a silent error we can ignore?

[2020-05-15 19:05] gregtatum commented on #2540
For what it's worth in your case, it's just:

<img width="217" alt="image" src="https://user-images.githubusercontent.com/1588648/82087157-290a2880-96b5-11ea-8560-fb1b06e6daea.png">

But I agree this should be more obvious.

[2020-05-15 19:14] gregtatum commented on #2519
Totally agree. Keyboard shortcuts are much easier to add here, as selecting multiple things will be a much larger architectural change. I'm going to refine this issue to be just about adding keyboard shortcuts for now, since that's easier to get done.

Here's the work needed:
 * Define and agree upon the shortcuts for each transform.
 * Add shortcuts to the call tree, stack chart, and flame graph

[2020-05-15 19:34] digitarald commented on #2540
@gregtatum do we have logic in Firefox to remove the icon again? We could provide an "undo" for the "Add Profiler to Firefox" flow from the landing page.

Plan B could be just mentioning it after it got enabled "Manage the Profiler icon via Customize Toolbar".

[2020-05-15 19:58] gregtatum commented on #337
See #1078

[2020-05-15 20:04] gregtatum commented on #2540
I think I'd prefer to have a button the homepage to turn it off. The WebChannel doesn't support this, but it's not complicated to add the feature.

[2020-05-18 22:43] smaug---- commented on #15
RotateRight's Zoom used to have rather great butterfly view
https://www.icewalkers.com/app/medias/screen/114/1/zoom.jpg

[2020-05-21 11:55] tarun-singla655 commented on #2519
I want to contribute in it

[2020-05-21 11:56] tarun-singla655 commented on #2483
i want to contribute to code

[2020-05-21 12:01] tarun-singla655 commented on #2516
I want to contribute in it

[2020-05-21 16:41] julienw commented on #2516
Interestingly there's been some movement about supporting idb in private mode yesterday :) see https://bugzilla.mozilla.org/show_bug.cgi?id=1639542

I believe we can catch the error.

Greg do you have the full trace when you reproduce ? I'd like to know where in our code this happens :)

[2020-05-21 16:54] JoelEinbinder commented on #2516
The error is in the ui.
![image](https://user-images.githubusercontent.com/4624233/82584090-d7481f00-9b48-11ea-83d2-e2c07c8d8c9d.png)

![image](https://user-images.githubusercontent.com/4624233/82584252-12e2e900-9b49-11ea-989d-349221f4255f.png)

[2020-05-22 06:09] tarun-singla655 commented on #2516
Yes

[2020-05-22 13:57] gregtatum opened #2559 "Switch to a profiler preset from a URL"
When a user needs to configure a profiler preset, it would be great to send them to a URL such as `profiler.firefox.com/preset/graphics`. This URL could then provide a button to enable the profiler with a preset. This would help in getting performance profiles from users.

The Gecko side of this bug is: https://bugzilla.mozilla.org/show_bug.cgi?id=1640183

[2020-05-25 13:56] julienw commented on #2516
I had a closer look because I could reproduce finally.
On my case this happens because we try to symbolicate a file that's marked as unsymbolicated -- this is the case for a profile coming from gecko directly.
The symbolication process has a few locations where we need write access:
* when we create the database at all -- this does happen always in private mode because the db is empty in this mode

[2020-05-25 19:55] canova opened #2561 "Investigate the ways to eliminate the need of getTimelineHeight selector"
This was come up during the review of #2549. Currently, we are using `getTimelineHeight` function to determine the height of the tracks. But it's pretty messy because there are a lot of combinations right now. We should try to see if we can come up with a better solution here. It would be great if we can remove this function and statically use the values we calculated.

[2020-05-25 20:16] canova opened #2562 "Scroll down to the track when a resource track is being opened"
This is a follow-up of #2549. Currently we don't scroll to the track when we expand a resource track and it's out of the view. We should scroll instead.

Pasting @gregtatum's comment here:

[2020-05-26 15:18] canova opened #2563 "Keep the chrome URIs in the pages array during sanitization"
Currently we don't sanitize the URIs inside the stringTable but we blindly sanitize all the URIs inside `pages` array. We should keep the chrome URIs since they are internal and don't expose any PII. That way we can make the URI sanitization more consistent.

[2020-05-27 09:27] julienw opened #2567 "Warning in tests: "A worker process has failed to exit gracefully and has been force exited. This is likely caused by tests leaking due to improper teardown. Try running with --runInBand --detectOpenHandles to find leaks.""
When running tests I get this warning sometimes:

I tried to run the command that wouldn't find anything, so I believe this is intermittent.
Also I think this is the reason why appveyor's build is red sometimes, because I know it's more sensitive to these kind of errors.

[2020-05-28 02:25] violasong commented on #2427
I think it would be good to fix this for both the flame chart and this graph, which can look very muted especially with the current selected highlight:

<img width="672" alt="image" src="https://user-images.githubusercontent.com/55994/83086202-f3fdbe80-a042-11ea-9002-d45236e098d9.png">

For the selected row highlight, we can try a [left-border](https://www.figma.com/file/AAUpexQEfAwEZdaLVeGOTx/Pro

[2020-05-28 16:26] violasong commented on #2427
Re: flame graph blue border, multiple sections next to each other could be combined into a single box

<img width="254" alt="image" src="https://user-images.githubusercontent.com/55994/83167703-4bdd0980-a0c5-11ea-8fd8-7db4d4958e7c.png">

[2020-05-28 19:19] jrmuizel opened #2570 "Add a way to view the marker charts from multiple threads"
Often one wants to see what's happening on multiple threads interleaved. Currently this requires switching back and forth between two threads and trying to remember where things are.

Here's an example of where we'd want to see all of the parent process threads combined into a single marker chart:

https://profiler.firefox.com/public/9a488f316314ae3287ffdd8726ff6fdd43e41a96/marker-chart/?globalTra

[2020-05-29 14:45] #2563 closed

[2020-05-29 18:26] digitarald opened #2574 "Embedded data for share.firefox.dev links"
It would be useful for devs to see a summary for shared profile links in services like Matrix/Slack/Twitter/etc.

oEmbed might solve this, so we can maintain this separate from the interface.

As a strawperson idea:

v0 could at least show generic Firefox Profiler pitch.
v1 could show meta data of the profile
v2 could show a screenshot of the timeline

Related

* https://medium.com/slack-developer

[2020-05-29 19:23] gregtatum commented on #2570
Maybe we could automatically merge threads when command/ctrl or shift clicking the UI.

This would involve changing the selected thread index into an array of indices, then adding a merge step in the selector pipeline for stacks, samples, and markers.

[2020-05-31 08:56] julienw opened #2575 "Very slow response time when changing checkboxes when sharing performance profile"
From @dblohm7 in [bugzilla bug 1641333](https://bugzil.la/1641333):

# What were you doing?

*Please tell us what site you were on, and what steps led to the error you are reporting*

    Set the profiler to Media profile
    Start Recording
    Capture a profile
    Click Publish...
    Under Include additional data that may be identifiable, disable Include screenshots

# What happened?

Noticeab

[2020-05-31 09:05] julienw commented on #2575
My rough guess is that this is because if this selector:
https://github.com/firefox-devtools/profiler/blob/e5fb0f469b622d1989c44d016c6c0d321f5d1ed1/src/selectors/publish.js#L179-L183

We do the "compressing" operation in a separate worker, but the "sanitization" part is done first, synchronously. So my guess is that the sanitization is the problem here. (we should profile to check this assumption)

[2020-06-01 19:54] mstange opened #2577 "Double zooming with apz.allow_zooming, probably need to call preventDefault()"
Steps to reproduce:
 1. Be on macOS and Firefox Nightly.
 2. Go to about:config and set apz.allow_zooming to true
 3. View the stack chart of a profile. Example: https://share.firefox.dev/2Iab9y6
 4. Do a pinch zoom with your mouse over the stack chart.

Expected results:
The stack chart should zoom, the UI should stay unaffected.

Actual results:
The entire page is zoomed, and the stack chart is

[2020-06-02 15:02] julienw commented on #2577
Looks like we do it already => https://github.com/firefox-devtools/profiler/blob/ccd7e679dfae6fe269aa2800a09dde9bb8ec5426/src/components/shared/chart/Viewport.js#L348-L351

One possibility is that React doesn't use the right event and "emulate" a wheel event. Also we're a bit behind for React versions, so this could be it too. Or `preventDefault` isn't the solution here.

[2020-06-02 15:19] mstange commented on #2577
In theory it should be the solution - see [the bugzilla bug where this was implemented](https://bugzilla.mozilla.org/show_bug.cgi?id=1619187#c4).

So yes, either React is messing with us, or there's a bug in Gecko.

[2020-06-04 07:35] julienw opened #2580 "Upgrade to node v12"
Node v12 is the new LTS, we should upgrade. Because this is used only for the dev environment I think this will be straightforward.

Some related things to change are:
* remove the `NODE_OPTIONS=--experimental-worker` things because it's not experimental anymore
* `TextDecoder` and `TextEncoder` are now globals so we can remove the code in some of our tests that makes them global
* change `10.15`

[2020-06-04 08:04] duncanjbain commented on #2580
Hi @julienw, I’ll take this up! Will get a PR in soon.

[2020-06-04 08:45] canova commented on #2421
This work is done with the whole timeline changes.

[2020-06-04 08:45] #2421 closed

[2020-06-04 08:53] canova commented on #2422
@digitarald (sorry missed this message) I think it's not easy to remove the left part of the timeline in the complex mode. Because we won't be able to see the names of the tracks in the complex mode anymore. It's okay not to see in the single tab because there is only one, but it would be very confusing for the complex mode since there will be lots of process tracks without any labels.

[2020-06-04 08:53] canova commented on #2422
This work is done with the whole timeline changes, closing.

[2020-06-04 08:53] #2422 closed

[2020-06-04 09:18] canova commented on #2437
We have a different implementation of track hiding now. We are computing everything from the start again. This issue doesn't apply anymore.

[2020-06-04 09:18] #2437 closed

[2020-06-04 09:21] canova commented on #2423
This work has landed with a series of PRs. The last PR was #2549. There are some follow-ups still  but I think we can close this now and add smaller issues for them.

[2020-06-04 09:21] #2423 closed

[2020-06-05 08:14] julienw commented on #2296
We discussed this with the team (esp @gregtatum). Now we believe that our work on "active tab profiling" will handle this use case.

The current work will do some active track hiding after capturing, therefore when the user shares the profile the hidden tracks are removed (by default in devedition/beta/nightly). This is due this month.

There's also some yet-unplanned work ahead where we would cap

[2020-06-05 08:41] squelart opened #2582 "In Marker Table, "FileIO" marker descriptions don't show the marker name"
Since the Gecko Profiler can now record off-main thread markers, the marker name can now be something other than just "FileIO" (e.g.: "FileIO (unregistered thread)"), so it would be useful to show it in the Marker Table "Description" and not just in the details panel.

E.g.: https://share.firefox.dev/36SBedo , see marker at 0.766s.

(I'm guessing it's hidden because it used to always be "FileIO" l

[2020-06-05 09:11] julienw commented on #2582
The relevant code is https://github.com/firefox-devtools/profiler/blob/75d7499dcf12e06d153b087b0bf7349380217636/src/profile-logic/marker-data.js#L1334-L1344

[2020-06-08 01:08] icncsx commented on #2509
Hello, everyone - first contributor here :)

Just chiming in to let you all know that I made a PR reflecting the advice of @mstange at #2586.

[2020-06-08 11:22] #2297 closed

[2020-06-08 14:57] #2562 closed

[2020-06-08 15:20] gregtatum commented on #1798
From chat @moztcampbell said:

[2020-06-08 17:07] mstange opened #2589 "Chrome importer: "EventDispatch" markers should show event name"
Profile: https://share.firefox.dev/2UosXIV

The `EventDispatch` markers carry the event name. At the moment, the only way to see it is to right click on the marker, "Copy marker JSON", and then look at `marker.data.data.type`. It would be nice if this event name was shown in the tooltip, or even inline in the marker box.

[2020-06-09 00:55] icncsx commented on #2474
Hello @julienw. Just stopping by to tell you that I have made a PR for this issue. Let me know what you think :)

[2020-06-09 11:02] #2580 closed

[2020-06-11 17:44] julienw opened #2597 "The new resources in the "active tab" view should be reachable and actionable with the keyboard"
As seen in the [current code](https://profiler.firefox.com/public/014dcadd045f9bc8d43359dbef1905a7a995d25f/calltree/?ctxId=12&resources&thread=19&v=4&view=active-tab) we can't reach or even expand the resources view with the keyboard. Once it's expand we can't expand a specific resource either.

The easiest is to use buttons. Either turn `timelineResourcesHeader` into a button or embed a button in

[2020-06-12 00:30] violasong commented on #2443
[Link to latest mockups](https://www.figma.com/file/1JlU42P3U5bZhcaZo8n5rq/Profiler-landing-page-2.0-and-in-profile-delete-flow?node-id=272%3A0)

[2020-06-12 00:36] violasong commented on #2444
Wireframes:

- [List UI with delete function](https://www.figma.com/file/1JlU42P3U5bZhcaZo8n5rq/Profiler-landing-page-2.0-and-in-profile-delete-flow?node-id=300%3A2)
- [List UI with (future) edit function](https://www.figma.com/file/1JlU42P3U5bZhcaZo8n5rq/Profiler-landing-page-2.0-and-in-profile-delete-flow?node-id=300%3A128)
- [List UI with simple theme](https://www.figma.com/file/1JlU42P3U5bZhca

[2020-06-12 04:09] digitarald opened #2598 "Hand cursor for expandable/collapsable resource tracks"
To show that the resource tracks are expandable/collapsable, showing a hand cursor would help.

[2020-06-12 04:28] digitarald opened #2599 "Idea: Hide or mute idling threads"
<img width="1291" alt="image" src="https://user-images.githubusercontent.com/8599/84464055-53092900-ac28-11ea-8c2c-0717ff9e74d5.png">

_Only one thread actually has data, the rest is empty_

_User story:_ When slicing a profile down to a time range, I want to be able to tell quickly which threads are actually active, so that I can focus on the threads that have data.

It feels like the empty white

[2020-06-12 04:30] digitarald opened #2600 "Resource tracks should have a tooltip for full URL"
Tooltip would help with overflowing URLs.

v2 could be `Copy URL` menu (or `Open URL`, even), but currently that UI doesn't offer any context menu.

[2020-06-15 12:54] #1798 closed

[2020-06-15 15:43] gregtatum commented on #1710
Resolved with #2290

[2020-06-15 15:43] #1710 closed

[2020-06-15 15:48] gregtatum commented on #2083
This is: [Bug 1599774](https://bugzilla.mozilla.org/show_bug.cgi?id=1599774)

[2020-06-18 03:35] squelart opened #2603 "Profiler overheads unit is shown as "ns" but numbers are actually microseconds"
The C++ source code lied! Profiler overheads are actually in microseconds.
To avoid breaking past profiles, and to keep changes to a minimum, I propose that we change the displayed units from "ns" to "µs".

[2020-06-18 03:47] squelart commented on #2603
Bug to rename C++ variable to match actual output: https://bugzilla.mozilla.org/show_bug.cgi?id=1646613

[2020-06-20 16:31] gribnoysup commented on #2504
Happy to help with that!

[2020-06-22 20:18] gregtatum opened #2605 "Removing profiler instrumentation stacks from native allocations and from js allocations"
It's confusing to users to see stacks like:

[code]

It might be nice to remove all native stacks AFTER the script stack frame. This would be done during the profile processing step.

[code]
bind_bindFunction1
bind
o</e.prototype.requestAsyncId
o</e.prototype.schedule
f</e.dispatch
...etc
[code]

[2020-06-22 21:02] gregtatum commented on #2605
Here is a profile: https://profiler.firefox.com/public/14305498d6899b1d0750b1bc41895211faef9eed/flame-graph/?ctSummary=js-allocations&globalTrackOrder=0-1-2-3-4-5-6&hiddenGlobalTracks=0-1-2-3-4-5&hiddenLocalTracksByPid=82011-0-1-2-3-5-6~82012-0~82024-0~82044-0~82026-0-1~82020-0~82017-2-3-0-1&localTrackOrderByPid=82011-7-8-0-1-2-3-4-5-6~82012-1-0~82024-1-0~82044-1-0~82026-2-0-1~82020-1-0~82017-2-3-

[2020-06-23 12:29] canova opened #2606 "Consider remembering what type of tracks were hidden in the previous profile so we can hide the similar ones on the new one"
If someone is profiling an issue that involves a thread that is mostly idle, like `imgDecoder`, whenever they capture a new profile, they need to unhide them. That's quite annoying if work requires taking a lot of profiles. So maybe we can remember what type of tracks were hidden in the previous profile, and hide the similar ones on the next one.
But that's not always the perfect solution for all

[2020-06-23 16:48] gregtatum opened #2607 "Audit and fix our use of the "title" attribute in components"
From #2558

Julien wrote:

See https://developer.paciellogroup.com/blog/2013/01/using-the-html-title-attribute-updated/ for more background on this, and https://inclusive-components.design/tooltips-toggletips/ for some alternatives (our own tooltip implementation isn't so good either).

[2020-06-23 23:33] mstange commented on #2577
I've looked at this a little more. It seems Firefox respects preventDefault on wheel listeners on some DOM elements but not on the root element. I'll need to confirm this.

Furthermore, the double zooming bug in the Firefox profiler also exists in Chrome.

[2020-06-25 16:36] dpalmeiro opened #2610 "Feature request: make it possible to highlight a row in the marker chart"
It would be great to highlight a row in the marker chart to see all of the events of a specific marker.  Often I have to zoom in to make sure that the markers I am seeing are lined up to the row label.

[2020-06-25 22:38] squelart opened #2611 "Rename "master" branch to "main" or similar"
For context, see https://www.zdnet.com/article/github-to-replace-master-with-alternative-term-to-avoid-slavery-references/ and https://sfconservancy.org/news/2020/jun/23/gitbranchname/

Some tech info: https://www.hanselman.com/blog/EasilyRenameYourGitDefaultBranchFromMasterToMain.aspx

Thank you.

[2020-06-25 22:41] squelart commented on #2611
Don't forget to change mentions of "master" in the repo. 😉

[2020-06-27 10:49] canova commented on #2504
Oops, sorry about that. I couldn't find this issue while I was creating that PR. Closing this one.
@gribnoysup, There should be other "help wanted" issues you can work on. Or [let us know in the Matrix channel](https://github.com/firefox-devtools/profiler#discussion) if you couldn't find any, we can try to find something suitable :)

[2020-06-27 10:49] #2504 closed

[2020-06-27 11:18] gribnoysup commented on #2504
Yeah, no worries, thanks, I'll definitely look around for another one! 😊

[2020-06-29 15:13] gregtatum commented on #2575
The original sharing implementation aggressively compressed the profiles. Now we do that for every change to the sanitization checkbox. Perhaps this strategy is not great, and we should only compress and sanitize when we upload. This would remove the file size information though. I think the only fix here is to remove the file size estimates and eager compression, or to make sanitization faster.

[2020-06-29 15:14] gregtatum commented on #2577
Adding the bug label sense it's happening in Chrome.

[2020-06-29 15:17] gregtatum commented on #2598
To clarify, I think @digitarald means `cursor: pointer;`. There are other cursors with hands, that wouldn't make sense.

[2020-06-29 15:21] gregtatum commented on #2599
I'm pretty scared of doing this, because our users complain so much about missing thread information already in our existing setup.

[2020-06-29 15:23] gregtatum commented on #2603
I haven't looked, but if the data is in the profile, let's write a profile upgrader, this will fix all old profiles. I'm marking this as "polish" rather than bug, as mostly the profiler team looks at this.

[2020-06-29 15:29] gregtatum commented on #2610
I think the work here is to add a "hover" style to a row. I would suggest using a fairly transparent `blue-40` and add this in the canvas drawing code.

https://github.com/firefox-devtools/profiler/blob/e7213293d60ed908c9bff7fdd62ae3bccafc7628/src/components/marker-chart/Canvas.js#L77-L131

[2020-06-29 16:28] digitarald commented on #2598
@gregtatum correct, `pointer` is what I meant.

[2020-06-29 22:16] squelart commented on #2603
Since these values have always been provided in microseconds, I was thinking that we could just update the UI to show "µs" instead of "ns", and that would solve all issues past&future. It should be trivial for a good githuber to do! 😉

We'd only need to bump versions and write upgraders if we changed the data in the backend, which I'm **not** suggesting we do! (The [C++ bug](https://bugzilla.mozil

[2020-06-30 16:09] gregtatum opened #2615 "Consider computing traced timing for diffed sample profiles"
PR #2558 adds the ability to compute traced timing for sample data. However, the case to do this with diff profiles is a bit more complicated, as we would need to compute the traced timing for POSITIVE samples, and then again, for NEGATIVE samples, then sum them together. At the implementation time, it wasn't worth it to do it. This issue is for tracking if people actually want it.

See the functi

[2020-06-30 18:53] #813 closed

[2020-06-30 19:22] #2611 closed

[2020-07-01 13:57] padenot commented on #2570
I second this, here is a couple use cases:
- Visually find problematic locking patterns: when something on a thread starts executing exactly when something on another thread stops executing, it's often a sign that a shared lock is being contented
- Looking at multiple threads at once to understand scheduling patterns or workload parallelism

[2020-07-01 14:05] padenot commented on #2501
I have the same problem with audio-related markers: https://paul.cx/public/rounded-corner.mp4. I also find that rounded corners make visually understanding markers horizontal alignment harder: It's often useful to understand if two markers are starting exactly at the same time. When #2570 happens, it will be even more important.

[2020-07-01 14:16] padenot commented on #1003
https://blog.paul.cx/post/profiling-firefox-real-time-media-workloads/#the-solution-to-the-new-problem does exactly this and a lot more, using the technique @julienw mentions (in its current form, `window.filteredMarkers`).

[2020-07-01 14:40] padenot opened #2618 "Measure arbitrary time in the marker chart"
I often need to measure the time between the start of a marker and the start of another (nested) marker, like the attached screenshot. This is very useful to (for example) measure the overhead of something that we think is cheap, but that calls an expensive function.

<img width="422" alt="chrome-tracing-measure" src="https://user-images.githubusercontent.com/270485/86256700-ee067a80-bbb8-11ea-998

[2020-07-01 14:42] padenot opened #2619 "Use an appropriate time unit in the markers chart"
See the attached screenshot:

<img width="972" alt="ms not us" src="https://user-images.githubusercontent.com/270485/86257330-b0eeb800-bbb9-11ea-88db-9399fe23557c.png">

I would expect `μs` and not `ms`. I think this is the case in other parts of the profiler, but it's missing in the markers chart.

[2020-07-01 14:44] padenot opened #2620 "Allow selecting a time range in the markers chart"
Selecting a time range by dragging is for now only possible in the upper part of the profiler UI, it would be great if the markers chart could be used to select a region as well, as it's easier to start the mouse drag on the right marker when the mouse is on the marker.

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/FP-280)

[2020-07-01 15:29] padenot opened #2621 "Colorize similar things similarly in the stack chart, marker chart"
This would make it easier to navigate and match things (stack frames, markers) that are the same, visually.

[2020-07-01 15:40] padenot opened #2622 "Sort markers hierarchically in the markers chart"
![](https://user-images.githubusercontent.com/270485/86263254-40e43000-bbc1-11ea-981e-ad35cec47540.png)

is a screenshot from https://share.firefox.dev/2VDDGjv, zoomed in on the `GraphRunner` thread. I find it harder to read than what [Catapult](https://github.com/catapult-project/catapult) does (not exactly the same data, but the same function calls, hopefully it conveys the idea):

![](https://u

[2020-07-01 15:41] padenot opened #2623 "Remove or increase the zoom limit on the marker chart / time span"
There seem to be a limit, and it's too low for my use case it seems. The maximum seems to be about 1ms for the width of the markers chart.

[2020-07-02 01:32] squelart opened #2624 "Display upload progress while importing profile from Firefox/"add-on""
When capturing a profile from Firefox, the profiler.firefox.com page shows a bit of animation and "Importing the profile directly from Firefox...".
If that takes more than 30s, another message says "We were unable to connect to the Gecko profiler add-on within thirty seconds. [...] Still waiting..."
(Side-issue: we should remove "add-on".)

It would be great to have more information during this pr

[2020-07-02 07:01] julienw commented on #2350
Hey @digitarald , do you think this is better now, with the upload bar at the top of the UI ?

[2020-07-02 07:09] julienw commented on #1470
Hey @gregtatum , this issue has been surfacing in my search today, I wonder if this is still something we want.

Probably we want to keep sidebars but still improve tooltips. Making it possible to interact with the tooltips could be useful, but I don't see how this would be compatible with the behavior of quick skimming through the data (thinking of a lot of closeby markers or the activity graph h

[2020-07-02 07:28] julienw commented on #1127
I handled the leftover mentions in wikimoz.
About the last point in my task list, I don't think we can have the redirection done by Mozilla because perf-html.io needs to point to netlify as our main TLD (netlify can't work from subdomains... unless that changed recently). So I'm closing this issue now as I believe everything has been handled.
Yay !

[2020-07-02 07:28] #1127 closed

[2020-07-02 07:32] julienw commented on #448
https://github.com/firefox-devtools/profiler/pull/2059 is the PR to be able to change the profile name from the UI. It was kind of finished but we didn't much agree on the UI and we need to look at it again. Possibly the new work around showing the list of uploaded profiles will fix this too, or I'll revive that old patch.

[2020-07-02 07:34] julienw commented on #463
The work in #1494 was pretty well done, I think this could be probably reused.
From the UI side, I'd like that we try what I outlined in my previous comment and see how this feels.

[2020-07-02 08:22] julienw commented on #2624
Indeed the loading UI isn't very good when it takes a lot of time.

The significant challenge is that we have some steps that are very monolithic and can't be changed easily.
Here are the steps:
1. get the gecko profiler promise: https://github.com/firefox-devtools/profiler/blob/9b30de5fcce2ae9cbdbc77b62116006d4d76d974/src/actions/receive-profile.js#L908-L920
2. get the raw data: https://github.co

[2020-07-02 08:25] julienw commented on #2624
The loading screen is displayed from https://github.com/firefox-devtools/profiler/blob/9b30de5fcce2ae9cbdbc77b62116006d4d76d974/src/components/app/ProfileRootMessage.js.

Maybe some contributor could look at this and add states to display them in this component?
We could have a state that look like this: `{ loadingStep: ENUM_VALUE, progress?: <number between 0 and 100> }`. Not all loadingStep woul

[2020-07-02 09:34] julienw commented on #2623
I don't think we have a limit today in general, but I found this that may give problems for your use case: https://github.com/firefox-devtools/profiler/blob/9b30de5fcce2ae9cbdbc77b62116006d4d76d974/src/actions/profile-view.js#L1239-L1242. We could make the number smaller, still avoiding float rounding errors.

I tried locally and I don't see a practical issue otherwise, however we could probably d

[2020-07-02 09:36] julienw commented on #2623
[This is an example profile](https://profiler.firefox.com/public/24a9fdbdab160a8b11390de381f1c8b334f50f24/marker-chart/?globalTrackOrder=5-0-2-3-4-1&hiddenGlobalTracks=2-3-4&localTrackOrderByPid=3823-0~&range=4.6232_5.3839~4.8777_4.9059~4.8912_4.8921~4.8917_4.8918~4.8917_4.8917~4.8917_4.8917~4.8917_4.8917&thread=0&v=4)

[2020-07-02 09:37] julienw commented on #2622
Currently we order them alphabetically. This makes more sense generally, but I see that in your case you'd like a specific order for this category. I wonder if that could be part of the marker schema planned for Markers 2.0, looping in @gregtatum :)

[2020-07-02 09:39] julienw commented on #2621
I think this is a dupe of #1618 :-) Closing!
I think this is clearly part of the discussions for markers 2.0.

[2020-07-02 09:39] #2621 closed

[2020-07-02 09:41] julienw commented on #2620
There are some ways, different to your suggestion, to do a selection from the marker chart:
* double click on a marker will preselect the range for that marker
* right click on a marker will show some options to set the selection

But I admit this is different to your suggestion which could be useful, including in other time-synchronized charts (network, stack chart).

[2020-07-02 09:46] julienw commented on #2619
This can definitely use our new `formatTimestamp` from `format-numbers.js`.
I think this should be as easy as replacing `formatMilliseconds` in https://github.com/firefox-devtools/profiler/blob/9b30de5fcce2ae9cbdbc77b62116006d4d76d974/src/components/tooltip/Marker.js#L814.

[Here is a good example profile for this](https://profiler.firefox.com/public/24a9fdbdab160a8b11390de381f1c8b334f50f24/marker

[2020-07-02 09:56] julienw commented on #2618
We have some context menu options to set the start and end of the selection. However, these options always take the start of a marker for the start of the selection, and the end of a marker for the end of the selection. It would be good that we provide more options, to be able to set the end of a selection from the start of a marker, and the start of a selection from the end of a marker.

These op

[2020-07-02 10:06] padenot commented on #2623
Apparently the problem is that it is possible to zoom higher than 1ms by making a time selection, but not by using the mouse wheel or pinch-to-zoom.

[2020-07-02 10:21] julienw commented on #2623
Thanks, I now have a patch for this!

[2020-07-03 08:14] Manish-Giri commented on #2618
@julienw May I take this up?

[2020-07-03 20:16] julienw commented on #2618
Hey @Manish-Giri , yes, thanks !

[2020-07-05 01:28] ajhpark commented on #2619
Hi @julienw, I've created a PR for this. Please review, thanks.

[2020-07-06 12:44] yozaam commented on #2624
So instead of a progress bar we need to show 1/6 -> 2/6 -> 3/6 -> 4/6 then it will done?
so with the await statement i would send an event to update the loadingStep?

I am very new and would need some hand holding, so if you could guide me I would love to be assigned this bug, thank you very much

[2020-07-06 14:49] julienw commented on #2624
Thanks for your interest, this is very appreciated.

This is how we could do it:
1. Create a new action to trigger the changes. The action would be `{ action: "CHANGE_LOAD_PROGRESS", loadingStep: XXX, progress: XXX }`. This could be done in `actions/app`. Also `types/actions` will need to be changed. The new enum for loadingStep will need to be in `types/state` because we'll use it there too.
2. C

[2020-07-06 14:52] yozaam commented on #2624
I'll try my best understanding it, if i cannot by 8th July could you point me elsewhere?

[2020-07-06 14:57] julienw commented on #2624
Sure I can assign this task to you for now!

And this is [our list of unassigned good first issues](https://github.com/firefox-devtools/profiler/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22+-label%3Aassigned).

[2020-07-06 15:00] yozaam commented on #2624
Thanks ! , is there a similar feature for another animation ? also what is a flow type?

[2020-07-07 07:55] yozaam commented on #2624
What will happen to 'WAITING_FOR_PROFILE_FROM_FILE'  should i add my action over here?
https://github.com/firefox-devtools/profiler/blob/7a159b8435968f92405ff6eb4ce92cffcd2ac5bd/src/types/actions.js#L313-L319

my actions/app will get a new function:
[code]

Also is it okay to comment questions like these on the issue or should i do it someplace else?

[2020-07-07 08:02] yozaam commented on #2610
Isn't it already getting a darker color when the mouse is hovering above it, what does this issue ask for?

[2020-07-07 15:46] julienw commented on #2624
Thanks for coming on Matrix, I think this is the best way to discuss. Also whenever you want you can push your code to a pull request so that we can have context about your questions. Note that `git push` will run all local tests by default, but you can add `--no-verify` to push without checking locally.

Also we wrote some instructions about working in our project in our [contributing](https://gi

[2020-07-07 17:04] yozaam commented on #2624
This PR gives errors with yarn flow, I was trying to solve it but I wanted to know if this is the way

[2020-07-07 20:43] ecsmyth opened #2634 "Create a range selection by clicking on a screenshot"
As a ~PM stumbling through a profile~ user investigating a responsiveness issue, I want to be able to select the `nsRefreshDriver::Tick` for a screenshot, so that I can quickly and accurately focus on the code that produced the frame.

I can currently select `nsRefreshDriver::Tick` by double clicking on the entry in the Stack Chart. It would nice if I could create the range selection by, for examp

[2020-07-07 22:09] digitarald commented on #2634
Would be a good stopgap until we have an FPS graph where users can select individual frames.

To be consistent with the stacks, the heuristic could be that double-clicking a screenshot puts the selected range on the related vsync range.

[2020-07-07 23:08] digitarald commented on #2350
@julienw yes, we can close this. I have not hit this for a while now.

[2020-07-07 23:08] #2350 closed

[2020-07-08 10:08] #2619 closed

[2020-07-08 11:02] marvinhagemeister opened #2636 "Feature: Show a combined bar for GC times in JavaScript only view"
When digesting JavaScript performance issues it's much easier to drill down the flamegraph in JS-only mode. For that the GC times are often very relevant to see. One can always switch back and forth between the `All stacks` and the `JavaScript` view, but that's tedious and filled with with a lot of noise which is not as relevant for a web developer as it may be for those working on firefox itself.

[2020-07-08 14:29] julienw commented on #2636
Yeah I think this is a good idea.
We have a unfinished patch https://github.com/firefox-devtools/profiler/pull/2117 that would squash native stacks into their categories, so I believe this would make it work here. We definitely want to finish this patch because this is important for the JS view.

[2020-07-08 14:31] julienw commented on #2636
Oh BTW the GC information is also present in markers. You can see them as orange markers in the timeline (the top view). This could help you in the mean time.

[2020-07-08 15:05] julienw opened #2637 "The symbol-tables DB seems to exist but be empty sometimes"
This comes from https://bugzilla.mozilla.org/show_bug.cgi?id=1650627 => it looks like that it happens that we have an IDB database without any object store.

I'm tempted to bump up the version to force creating the db again. Maybe we had a bad version in the past? Or some version of Firefox had a bug with eviction leading to this state?

[2020-07-08 17:46] juliandescottes opened #2638 "Add a tooltip to see long marker names in the Marker Chart"
For https://bugzilla.mozilla.org/show_bug.cgi?id=1650336, we want to differentiate markers originating from different WebConsole UIs by adding an ID unique to a given WebConsole.

This allows us to see markers for each WebConsole UI on separate lines in the MarkerChart tab.
But it makes for really long marker labels, eg `WebconsoleAddMessages (server1.conn0.parentProcessTarget2)`.

In the MarkerCh

[2020-07-09 00:15] violasong opened #2640 "DevTools Performance tab - spacing polish"
We should have less top spacing when DevTools is short. For the Accessibility welcome panel (in stable only) the semi-responsive way we did this was `padding-top: 15vh;`. For the Performance tab I might suggest
[code]

When DevTools is docked to side, we should have padding of 10vh on each side. Also, we can have the 'Settings' label be on its own line. This is how this could look:

<img width="32

[2020-07-09 00:27] violasong opened #2641 "Profiler popup is too tall when accessed from a large toolbar overflow menu"
I have 11 items in my overflow menu. When I navigate to Profiler from it, it looks like this:

<img width="408" alt="image" src="https://user-images.githubusercontent.com/55994/86983121-d3e01580-c13f-11ea-8aac-9d72a192b12a.png">

[2020-07-09 00:34] violasong opened #2642 "Profiler toolbar button should have a brighter blue state in dark theme"
It's a bit hard to see right now

<img width="138" alt="image" src="https://user-images.githubusercontent.com/55994/86983613-2a9a1f00-c141-11ea-8003-c9235c144cec.png">

We should match this blue, which is Photon Blue 40

<img width="187" alt="Screen Shot 2020-07-08 at 5 29 02 PM" src="https://user-images.githubusercontent.com/55994/86983453-c7a88800-c140-11ea-94fa-df23bf624c65.png">

[2020-07-09 06:39] rajatgupta24 commented on #2642
Hey!
I'm a beginner and would like to do this can you guide me.
Thank You

[2020-07-09 08:06] yozaam commented on #2624
I think I did it  :D no errors in yarn flow and i've made LoadingStep LoadingState LoadingStateAction

Now i need to work on :

- [ ] reducer,
- [ ] dispatch
- [ ] and then display the information
- [ ] test

[2020-07-09 17:33] canova opened #2644 "Consider removing the striped empty track area for active tab"
Currently we display stripes if thread is started but profiler has no information. For web developers, that information can be irrelevant, and it can actually create more confusion. So, instead of displaying striped area for empty track, we can remove that area and start the track when we actually have information?
This is the area:
<img width="622" alt="Screen Shot 2020-07-09 at 7 31 28 PM" src="

[2020-07-09 21:45] mstange opened #2645 "Deactivated tracks become activated again if profile sanitizing removes threads"
I had  a big Fission profile open where lots of processes were showing activity on the main thread. Every one of those processes was showing a Memory track and many were also showing a Network track. I then hid all those memory and network tracks because they were distracting.

Then I uploaded the profile, choosing not to include hidden threads.

After the upload, all the memory tracks appeared ag

[2020-07-10 07:30] #2623 closed

[2020-07-13 06:29] yozaam commented on #2624
https://github.com/firefox-devtools/profiler/blob/04d81d51ed394827bff9c22e540993abeff1db5e/src/reducers/app.js#L34

https://github.com/firefox-devtools/profiler/blob/04d81d51ed394827bff9c22e540993abeff1db5e/src/reducers/app.js#L62

do i need to make any change to these or ignore it and have a separate reducer ?

[2020-07-16 14:10] gregtatum commented on #491
I think these are handled at this point. I'm not sure what PR did it though.

[2020-07-16 14:10] #491 closed

[2020-07-16 14:12] gregtatum commented on #2637
This happened to @brisad

[code]

[2020-07-16 14:28] gregtatum commented on #2637
This smells like a browser bug.

`_setupDB()` calls `const openReq = indexedDB.open(dbName, 2);`.

`openReq.onupgradeneeded` is defined, and when run, creates the object store:

[code]

`openReq.onsuccess` is then definitely run, which calls `_deleteAllBeforeDate`

This error is then generated on:

`const transaction = db.transaction('symbol-tables', 'readwrite');`

[According to MDN](https://deve

[2020-07-16 14:34] gregtatum commented on #2637
I filed: https://bugzilla.mozilla.org/show_bug.cgi?id=1653276

[2020-07-16 23:06] mstange opened #2653 "Memory graph fill drawn incorrectly in this profile"
Profile: https://share.firefox.dev/32ufDHR

The light orange fill does not properly fill towards the bottom edge.

<img width="1284" alt="Screen Shot 2020-07-16 at 7 05 00 PM" src="https://user-images.githubusercontent.com/961291/87731029-6b281700-c797-11ea-9123-dd36f10f038b.png">

[2020-07-17 20:30] julienw opened #2654 "Detect Fenix to display a better message in the home page"
see https://github.com/webcompat/web-bugs/issues/55477 https://github.com/mozilla-mobile/fenix/issues/12635.

[2020-07-18 10:20] ajhpark commented on #2519
Hi, I've submitted a draft which has keyboard shortcuts for call tree working. However there's still a lot to be done:

- Refactor some functions such as `CallNodeContextMenu.isRecursiveCall` so they're available to use in `CallTree.js`. They're needed to check whether the transform being applied to the current selected node is valid. For instance some transforms (e.g. `collapse-direct-recursion`)

[2020-07-18 16:30] mstange opened #2656 "Raptor profiles (from zip files) take too many clicks to open"
When opening a Raptor profile, for example from [this `ytp` job](https://treeherder.mozilla.org/#/jobs?repo=try&selectedTaskRun=aY4me4OoRbCDDMOZgK6xlQ.0&revision=b657112fa5710982cab0b35849b8585f56a5b53e), we display the following directory tree:

<img width="1123" alt="Screen Shot 2020-07-18 at 12 27 08 PM" src="https://user-images.githubusercontent.com/961291/87857106-1816a700-c8f2-11ea-8cb5-c3d6

[2020-07-18 16:42] mstange opened #2657 "When loading a URL to a profile from a zip file, the state is lost (filechooser displayed again despite filename in URL)"
Example URL:
`https://profiler.firefox.com/from-url/https%3A%2F%2Ffirefox-ci-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FaY4me4OoRbCDDMOZgK6xlQ%2Fruns%2F0%2Fartifacts%2Fpublic%2Ftest_info%2Fprofile_raptor-youtube-playback-firefox-live.zip/marker-chart/?file=var%2Ffolders%2Fs2%2Fkwyjw3hn6kx8zzxygxy5wsqr000017%2FT%2Ftmpmd1Fzv%2Fraptor-youtube-playback-firefox-live_pagecycle_1.profile&globalT

[2020-07-18 20:00] mstange commented on #2623
Thanks for fixing this! This came in very handy in a profile from Raptor which was taken with a sampling interval of 1 second.

[2020-07-22 07:32] julienw opened #2667 "Memory graph: can't get a tooltip for the first point"
This is especially visible here [in this profile](https://profiler.firefox.com/public/yyffz0fmfxewp5a1jag6t6yqfvfefe77g59p5p8/marker-chart/?globalTrackOrder=0-1-2-3-4-5&hiddenGlobalTracks=1-2-3-4-5&hiddenLocalTracksByPid=2091-0-3-8-9-10&localTrackOrderByPid=2085-1-2-0~2087-0~2090-0~2089-0-1~2091-12-13-0-1-2-3-4-5-6-7-8-9-10-11~&range=m123560~m8100&thread=0&v=5) (zoomed in, 1s interval).

The main

[2020-07-23 12:58] #2653 closed

[2020-07-23 16:04] julienw opened #2670 "Consider displaying the errors thrown while storing profile data to IDB in the UI"
In the patch for #2472 we simply display the errors to the console. But that might not be visible enough for most users, especially if we need a user action from them.

[2020-07-24 13:05] gregtatum commented on #2670
It might be nice to also make sure we have a nice React component for this error so that we can use it generically. Essentially it would be a dismissible error.

[2020-07-27 12:48] julienw opened #2674 "Flamegraph view is sometimes unreadable on my screen due to low contrast"
From https://bugzilla.mozilla.org/show_bug.cgi?id=1652064:

Here is the picture:

![picture](https://bug1652064.bmoattachments.org/attachment.cgi?id=9162849)

[2020-07-27 12:50] julienw commented on #2674
cc @yoric

[2020-07-27 12:51] julienw commented on #2674
Our light grey very likely isn't dark enough.

@yoric I wonder what addon you have, that makes this dark backgrounds in other locations. I wonder if this could change our behavior.

[2020-07-27 13:05] julienw opened #2675 "Hard to spot GCs in Flamegraph due to noisy color palette"
Filed from https://bugzilla.mozilla.org/show_bug.cgi?id=1650660.

[screenshot](https://bugzilla.mozilla.org/attachment.cgi?id=9161484)

User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:79.0) Gecko/20100101 Firefox/79.0

### Steps to reproduce:

*    Record a performance profile from any site

### Actual results:

It's very hard to differentiate if a bar represents JavaScript, firefox i

[2020-07-27 13:07] julienw commented on #2675
Normally GC is orange, and JS yellow. The colors can be more or less saturated depending on the selftime. Maybe we need colors that are more different indeed. With the negative palette used here it's especially confusing indeed.

[2020-07-27 15:06] #2442 closed

[2020-07-27 17:38] hotsphink opened #2676 "GCMajor summary popup omits "other" time when most relevant"
see eg https://profiler.firefox.com/public/he8ee7fyb7xvnzwmenvfcz2yx3yq3tyjn44qf00/marker-chart/?globalTrackOrder=0-1-2&localTrackOrderByPid=1957119-1-0~1962923-0~1957262-0~&markerSearch=GC&thread=3&v=5

If I hover over a GCMajor marker at around 40s, it shows me a GC with 4997ms "Total slice times". At the bottom, it displays the longest-running phases and subphases ("Phase blah.blah.blah: 1.7ms"

[2020-07-27 17:53] julienw commented on #2676
This implementation was mostly done by @PaulBone so pinging him here :) Hey Paul, what do you think of this issue?

My very limited understanding is that one would look at the individual GCSlice markers that are also available (see [this profile further zoomed in](https://profiler.firefox.com/public/he8ee7fyb7xvnzwmenvfcz2yx3yq3tyjn44qf00/marker-chart/?globalTrackOrder=0-1-2&localTrackOrderByPid=1

[2020-07-27 18:01] hotsphink commented on #2676
The slice markers don't really give the same info. You can see eg that a slice stays in the mark phase ("States (pre - post): Mark - Mark"). But that doesn't give you the subphase breakdowns. Plus, you really do want all of the slices rolled up for this usage; what an individual slice is doing is unlikely to be interesting unless it significantly overruns its budget.

[2020-07-28 21:38] mstange opened #2678 "WebRender's TRACING_EVENT markers are displayed with infinite size"
I do not know whether this is a bug in the C++ code or in the front-end.

Profile: https://share.firefox.dev/3f4UTJz

<img width="1440" alt="Screen Shot 2020-07-28 at 5 36 13 PM" src="https://user-images.githubusercontent.com/961291/88724671-e921e180-d0f8-11ea-96a1-5551aad9d037.png">

These markers get inserted [here](https://searchfox.org/mozilla-central/rev/d9f92154813fbd4a528453c33886dc3a74f27a

[2020-07-29 07:18] julienw commented on #2678
I believe the new code doesn't handle properly "non-interval" tracing markers. I'll look into that.

[2020-07-29 13:34] canova opened #2680 "Create a shared component for Memory track derived tracks"
We've copied memory track and made some changes to fit our need for event delay tracks and visual-progress tracks. We should use a shared component and minimize the code duplication between these components.

[2020-07-29 13:55] canova opened #2681 "Have a shared graph maximum value for all the event delay graphs"
Currently, we use the maximum value of each thread to draw the event delay tracks. That means each event delay graph in a profile will have a different height scale. That makes it hard to compare with other graphs when we want to. Ideally we should use a global maximum value to scale all the event delay graphs.

Another possibly easy fix is to mark a threshold (eg 50ms which is our limit) with an

[2020-07-29 17:23] #2678 closed

[2020-07-30 01:25] PaulBone commented on #2676
Hi.

I'd be happy for the profiler to synthesise some other sub-phases.  Whenever it finds a non-leaf phase it could subtract the children from that node and add a node with the missing time, however in the UI I'd like it to show up like: "mark (other)" so that it's clear it's not part of the tree you're getting from the GC.

Then when we see this in the profiler we can double click the event to z

[2020-07-30 01:28] PaulBone commented on #2676
Oops, maybe this sounds like I'm saying "you must do X" I didn't mean it to read like that.  Just here's a tip for how I find where the GC is spending it's time when it's unaccounted for.  And if you want to add new phase information it's not a big deal since you don't need to change the profiler for that, and I deleted the telemetry code that used it last week).

[2020-07-30 12:01] canova opened #2684 "Use Float32Array in the event delay processing instead of an Array"
We can use Float32Array in the event loop processing for potential performance win. Currently we are creating a number array like this:
`const eventDelays: number[] = new Array(samples.length).fill(0);`

Note: Event delay tracks are also disabled by default for now. You can enable them by running `experimental.enableEventDelayTracks()` in the console.

[2020-07-30 17:34] julienw opened #2686 "src/test/fixtures/upgrades/processed-3.json doesn't seem to upgrade properly"
I tried to load this fixture in the current version of the profiler: src/test/fixtures/upgrades/processed-3.json
I got the error `Error: Unable to find a global track from the given pid.`

Does that mean this fixture is incorrect (could be if we updated it manually) or that our upgrader is broken in some cases?

[2020-07-31 16:12] mstange opened #2688 "Markers with cause callstacks should display the cause timestamp"
Profile: https://share.firefox.dev/313wKOl

Cause callstacks come with timestamps. We currently only display the timestamp for certain marker types, for example for the Styles marker, which says "First invalidated Xms before the flush". But for other marker types, for example "setTimeout callback", this information is missing.

Please display this information for all cause callstacks.

However, th

[2020-08-01 16:28] mstange opened #2689 "Cannot select text in the search field when it contains a comma"
Profile: https://share.firefox.dev/3133nMc

If you don't have a comma in the searchfield, there is a message below that reminds you that you can use commas.
If you do have a comma in the searchfield, that same message becomes invisible and covers the searchfield so that you cannot drag-select text in the searchfield.

[2020-08-01 19:47] mstange opened #2691 "Sidebar contents could use some bottom padding"
When the sidebar is scrollable, the implementation bar graph at the bottom butts up against the bottom edge of the sidebar. It would be nice to have a little bit of padding there.

<img width="1552" alt="Screen Shot 2020-08-01 at 1 49 06 PM" src="https://user-images.githubusercontent.com/961291/89109337-432ee980-d40e-11ea-819b-8e7d1067d352.png">

[2020-08-03 08:23] #2689 closed

[2020-08-03 08:27] Yoric commented on #2674
I have Dark Reader. However, I just tested without and the result seems to be the same on this specific flamegraph.

[2020-08-03 08:28] julienw commented on #2691
@mstange can you please put a link to this profile with a lot of categories and subcategories ? :) thanks !

[2020-08-03 08:38] julienw commented on #2688
Do you have a suggestion for the generic text we can use? `The following backtrace was taken at timestamp XXX (-XXXms)` ?

[2020-08-03 13:52] Fyren opened #2693 "Extension info isn't really stripped when requested from profiles"
After capturing a profile and clicking publish, then unchecking the "include extension information" checkbox, I downloaded the profile json and poked around in it.  Even though the `meta.extensions` section is removed. by looking through the data in `threads[].stringArray`, you can effectively get a list of extension names and IDs.

For example, I ran the json through a pretty printer, then `grep

[2020-08-03 13:58] Fyren opened #2694 "Profiler import hangs with Conex (an extension) enabled"
Conex is an extension that somewhat reimplements the old Firefox tab groups/panorama using containers.  Each container is a group, and when you switch between active groups, it shows only the tabs in that group and hides all others.

AMO: https://addons.mozilla.org/en-US/firefox/addon/conex/
Source: https://github.com/kesselborn/conex

If I have Conex enabled, when I finish capturing a profile, th

[2020-08-03 17:04] mstange commented on #2688
"Triggered XXXms ago, at:"

[2020-08-08 11:30] marvinhagemeister opened #2701 "Pressing reload freezes profiling"
Firefox Developer: 80.0b5 (64bit)
OS: Arch Linux

**Steps to reproduce:**

1. Go to any site like https://profiler.firefox.com
2. Start capturing via the "Record a performance profile" icon at the top right
3. Reload page -> hang

**Expected behavior:**

The page should not hang and I did expect it to load the page as usual.

**Actual behavior:**

The page hangs until the recording is stopped. Onc

[2020-08-09 04:33] sudo-rgorai commented on #2667
@julienw Hi. I'm new here and I'd like to help with this issue. Here are a few things that I observed.

- Using `bisection.left` doesn't give the left point.

- From the function definition, it seems that `bisection.left` is meant for arrays sorted in descending order.

- To find the closer point, a simple if-else statement should suffice wherein we can compare `leftDistance = timeAtMouse - sample

[2020-08-09 07:24] julienw commented on #2667
Yeah you're right about bisection.left, I've been confused :) both return the index to insert an item, which is always one more than the index we're looking for. Left and right return different results only when there are identical values.
 Let's go for the if ! Take care to handle cases where the result of bisection is 0 or array.length :)

[2020-08-14 03:45] mstange opened #2705 "Expose profile.meta.logicalCPUs and profile.meta.physicalCPUs in the UI"
We have some information about the number of CPU cores in the profile. It would be nice to display this information in the profile info popup.

[2020-08-17 13:56] gregtatum opened #2709 "Handle clicking the activity graph for multiple selections of threads"
For issue #88 of adding multiple selection, PR #2706 is not handling sample clicking in the activity graph and stack graph.

This work would need to create a mapping from the original thread call nodes to the merged thread call nodes, and take the sample, and map it to the merged space. I'm not sure it's worth changing the rendering of the ActivityGraph or not, as the filtering pipelines are diffe

[2020-08-17 13:58] gregtatum opened #2710 "Implement "shift click" behavior for selecting multiple tracks"
For issue #88 of adding multiple selection, PR #2706 is not handling shift clicking threads, as this was a bit more complex logic to implement. This is a polish "nice to have".

[2020-08-18 07:23] #2667 closed

[2020-08-18 14:31] jesup opened #2713 "Event delay calculations incorrect for threads with few events"
If you look at event delays on non-mainthreads (which often have large gaps between actual samples) the delays shown can be wildly wrong - a Compositor thread with no sample hits for 7 seconds showed a 7-second delay.  The event_delay array shows a few 0's, then many many samples with 'null', then a few 0's.  That should be 0 delay for the entire time, not a 7 second delay.

See https://share.fire

[2020-08-21 10:22] fqueze opened #2720 "Surprisingly long jank marker when the event delay track doesn't show anything unusual"
This profile has a jank marker with a surprisingly long duration: https://share.firefox.dev/3iXI9Xt

Nazim's comment on it: " I don't see the same thing in the event delays chart. but that can be because of the graph issue actually. I think we ignore the first event delay number for the chart because it's mostly not reliable (and it looks like this jank marker is the first event delay in the threa

[2020-08-24 07:52] julienw commented on #2618
hey @Manish-Giri, any update ? :) thanks!

[2020-08-24 07:53] julienw commented on #2610
hey @aa-deet-eeya , just assigned to you, thanks!

[2020-08-24 08:57] julienw commented on #2624
Thanks for reporting though!

[2020-08-24 09:14] julienw commented on #2720
Yeah, this looks really incorrect... I'm marking as a "bug" for the definition of "we're lying to the user".

[2020-08-24 17:37] gregtatum opened #2725 "Date mock doesn't handle time zone differences"
[code]

I have a perma-failing local test, which I guess is from the new Date mock not handling time zones correctly.

[2020-08-24 20:09] #2725 closed

[2020-08-24 21:42] hotsphink opened #2728 "Allow sorting marker table by duration"
I'm looking at a long list of GCSlice markers. I have two things I want to do that could be easier than they are: (1) look at the longest slices to see what's happening with them, and (2) look for slices either above a certain duration or within a particular range of durations.

(1) is especially difficult because the durations are a mix of "ms" and "µs", so I can't just visually scan through the

[2020-08-25 06:15] julienw commented on #2728
About the duration units: this will likely be solved by the "new markers architecture", where we'll be able to specify which unit is used for a specific marker type. If we wanted to do it now this would be a pile of `if` blocks in our code (this is already pretty much the case for some other things).
I wonder if we could have more visual stuff in the table though. Maybe we could display markers wi

[2020-08-25 17:02] Manish-Giri commented on #2618
@julienw Sorry, I'm still working on it. I'll have a working update very soon. Thank You for bearing with me!

[2020-08-25 19:21] gregtatum opened #2731 "Land initial marker schema, without Gecko support"
We need to land the marker schema first in the front-end to verify how we want it to look, and then build it out on the back-end. This initial prototype is started in #2565. This issue is for tracking the landing of this initial prototype, not implementing the complete schema.

[2020-08-25 19:35] gregtatum opened #2732 "Create support for Marker Schema coming from Gecko"
This is dependent on #2731 being done first to land. It can be developed on the side.

In the GeckoProfile, there are multiple `process.meta.markerSchema` entries, one for each process. The `MarkerSchema[]` will ONLY include the markers used in that process. These individual entries will need to be collected into a global marker schema list, that is de-duplicated on the key. This will be stored in

[2020-08-25 19:47] gregtatum commented on #2732
See [Bug 1640999](https://bugzilla.mozilla.org/show_bug.cgi?id=1640999)

[2020-08-25 19:52] gregtatum opened #2733 "Teach marker tooltips about the marker schema"
This is a small breakout of #2731.

[2020-08-25 19:53] gregtatum opened #2734 "Teach all header timelines about marker schema"
This is a small breakout of #2731.

[2020-08-25 19:54] gregtatum opened #2735 "Teach marker chart and marker table about marker schema"
This is a small breakout of #2731. This work is to use the marker schema to determine where markers go. For instance, Log markers are probably useless in the marker chart. The schema could indicate this.

[2020-08-27 11:51] julienw commented on #2444
This has been recently implemented!

[2020-08-27 11:51] #2444 closed

[2020-08-27 11:57] julienw opened #2738 "Add a Delete button in the list of uploaded recordings"
This issue is about adding the delete feature in the list of uploaded recordings.
See spec at https://www.figma.com/file/1JlU42P3U5bZhcaZo8n5rq/Profiler-landing-page-2.0-%26-in-profile-delete-flow?node-id=300%3A2

* [x] depends on #2445 (implement the backend work to call the delete endpoint)
* [x] review the layout for the list, probably using grid layout (one per line)
* [x] add the delete butto

[2020-08-27 11:59] julienw opened #2739 "The back button doesn't work when navigating between "top level" datasources"
In this issue we want to fix this issue so that the user can navigate in the "content" pages just like normal pages.

[2020-08-28 17:24] julienw opened #2745 "Support "cpuprofile" chrome profiles"
This is a profile I generated from a node test run:

[CPU-20200828T190410.cpuprofile.gz](https://github.com/firefox-devtools/profiler/files/5143361/CPU-20200828T190410.cpuprofile.gz)

It would be nice to be able to open it in the profiler.

[2020-08-31 19:35] #2731 closed

[2020-08-31 21:22] #448 closed

[2020-09-01 15:59] gregtatum commented on #2745
Resolved with #2747

[2020-09-01 15:59] #2745 closed

[2020-09-01 16:04] gregtatum opened #2749 "Remove "tracing" marker type, and migrate to the "category" field."
Right now the markers of type "tracing" don't work too nicely with the new marker schema. "type" should be the differentiator on how we display things. However, these markers use a "category" designation instead. This "category" field in the payload should be migrated to the "type" field.

In the marker schema work, I'm working around this by selecting the type OR the category if the `type === "tr

[2020-09-07 07:56] canova commented on #573
@miggs125 Sorry about the long delay. Yes, this issue is about closing the tab when the profile is still being uploaded. This is our UploadPhase type here: https://github.com/firefox-devtools/profiler/blob/2a6d7842833ff7e2da88e3340a87bd9cca260d66/src/types/state.js#L178-L183 We would need to care about 'uploading' when handling this. We are keeping that information inside our redux state, so you s

[2020-09-07 08:16] julienw commented on #573
Thanks for the detailed explanation nazim!
I'll add a minor suggestion: I'd suggest to add the "onbeforeunload" event handler only when needed, and to remove it when we don't need it. The reason is that, if the handler is present, the closing of a tab will need to wait for the handler to run even if it doesn't prevent the closing, which adds a noticeable delay in some situations. So better add it

[2020-09-09 15:17] gregtatum opened #2757 "Properly sanitize markers based on the schema used"
Remove:

 * url
 * file-path

[2020-09-09 15:33] #2733 closed

[2020-09-10 09:01] #2610 closed

[2020-09-10 13:42] julienw commented on #2205
This is a low-priority decision while devtools is "frozen" for new features and we haven't finished all the work to ship the new profiler experience and replace the old performance panel. Let's revisit once we're there.

[2020-09-10 14:41] gregtatum opened #2763 "Add support for marker set indexes"
This is the front-end piece of [Bug 1661114](https://bugzilla.mozilla.org/show_bug.cgi?id=1661114). A marker set index can be used to correlate markers together into a logical group. For instance, instead of collecting timing information in Network markers, a set index could be used to correlate together a lot of different markers together into one logical marker group. The front-end will need to

[2020-09-10 14:43] gregtatum commented on #1771
Superceded by #2763.

[2020-09-10 14:43] #1771 closed

[2020-09-10 15:21] gregtatum opened #2764 "[meta] Improve track hiding and context menus"
This issue is for tracking track hiding and showing UX.

#2480 - Hide this track

[2020-09-10 15:31] gregtatum commented on #2480
This issue is now part of "Improve track hiding and context menus" #2764.

The work here is to add the option `Hide "Track Name"` to the top of the context menu, right next to `Only show "Track Name"`. This code React render code is located here:

https://github.com/firefox-devtools/profiler/blob/c4f68f423c7035a094952311addd0af5bec209e7/src/components/timeline/TrackContextMenu.js#L489-L532

Next t

[2020-09-10 15:44] gregtatum opened #2765 "Only show the current process when right clicking a track"
This is part of #2764

When right clicking a track, it is annoying and not very useful to see all of the tracks on the profile. When this feature was first built, the track list was fairly small, but now it has grown quite large. For instance, this screenshot shows a right clicked track where you can't even see the current process.

## Existing behavior:

## New behavior:

The change would be to o

[2020-09-10 15:56] gregtatum commented on #2765
This work can be accomplished by modifying this map function:

https://github.com/firefox-devtools/profiler/blob/c4f68f423c7035a094952311addd0af5bec209e7/src/components/timeline/TrackContextMenu.js#L518-L528

The following cases need to be handled:
* If a right clicked track is present, then only show the global track that matches it.
  - If the right clicked track is a global track, this should b

[2020-09-10 16:12] gregtatum commented on #2606
Rather than creating complicated UI interactions, and potentially confusing behavior for users, we've (as a team) decided to instead focus on improving the UX of our track hiding and management. See #2764 for the collection of improvements.

[2020-09-10 16:12] #2606 closed

[2020-09-10 16:20] gregtatum opened #2767 "Add an option to show all hidden tracks to visible tracks dropdown"
This will help somewhat with the issues encountered in: #2606, and it's part of the general track hiding improvements in #2764.

The idea here is to add an option above a separator that will show all tracks. This is mocked up here with the option "Show all tracks"

<img width="331" alt="image" src="https://user-images.githubusercontent.com/1588648/92761200-0f24dd80-f357-11ea-9321-269fc9cdd45f.png"

[2020-09-10 16:25] gregtatum commented on #2767
The menu item will need to be added here:

https://github.com/firefox-devtools/profiler/blob/c4f68f423c7035a094952311addd0af5bec209e7/src/components/timeline/TrackContextMenu.js#L513

A new render method can be added, that will check to make sure there is no "right clicked track". If not, then this menu item will need to be added.

A new action will need to be created called `showAllTracks`. I wou

[2020-09-10 16:48] gregtatum opened #2768 "Add an option to hide tracks by type"
Right click a memory track
Choose "Hide all memory tracks"
All memory track should be closed.

## Mockup:

<img width="404" alt="image" src="https://user-images.githubusercontent.com/1588648/92765922-6462ee00-f35b-11ea-9b27-02de30d21adf.png">

[2020-09-10 16:56] gregtatum commented on #2768
The render function for the context menu will need to detect what TYPE of track was clicked, then add this option to hide all of the tracks by that type:

https://github.com/firefox-devtools/profiler/blob/c4f68f423c7035a094952311addd0af5bec209e7/src/components/timeline/TrackContextMenu.js#L489-L532

Only valid types should have this options. Here are all the track types as of the time of filing th

[2020-09-11 12:37] adityachirania commented on #2765
Hi I'd like to work on this !

[2020-09-11 14:21] gregtatum opened #2772 "The active tab resources panel toggles open/close when creating a preview selection"
Steps to reproduce:
 * Mouse down over the "Resources" panel
 * Drag to the left
 * Release mouse

Expected results:
 * The Resources panel remains closed

Actual results:
 * The Resources panel toggles open or closed.

I fixed this recently in the main timeline, and it's a matter of using the proper mousedown/click event, as the preview selecton component prevents propagation. See how it's done f

[2020-09-11 14:25] harshilparmar commented on #2691
Can I try this?

[2020-09-11 14:30] gregtatum opened #2773 "Active tab resources panel keeps the overflow shadow overlay when toggling the view"
Steps to reproduce:
 * [View an active tab profile.](https://share.firefox.dev/3ilsDon)
 * Expand the resources
 * Resize the splitter
 * The overflow shadow should be visible

<img width="514" alt="image" src="https://user-images.githubusercontent.com/1588648/92937585-20322500-f411-11ea-8d4f-703ddf380c38.png">

 * Toggle the the resource closed

Expected behavior:
 * The shadow should disappear

[2020-09-11 14:42] adityachirania commented on #2765
I have created a PR

[2020-09-11 16:08] gregtatum commented on #2765
Sure thing!

[2020-09-11 16:11] gregtatum commented on #2644
Makes sense to me for the Resources. I'd keep it for the active tab area. It gets in the way as it is. Or maybe, only show it when the frame is fully expanded.

[2020-09-12 04:05] adityachirania commented on #2765
I have completed the work and made a [PR #2774](https://github.com/firefox-devtools/profiler/pull/2774)  but am failing to understand why i have failed some current snapshot tests..? Is it because i need to change the existing tests because the expected behaviour is different for right clicks?  Am i sort of expected to add new tests for the change or also update any current tests as well?

[2020-09-13 06:04] grahamperrin commented on #580
1. https://bugzilla.mozilla.org/show_bug.cgi?id=1634205#c23
2. here:

![image](https://user-images.githubusercontent.com/192271/93011588-539abe00-f58f-11ea-8419-054059812416.png)

– it works. Rocking.

[2020-09-15 16:35] #2445 closed

[2020-09-15 19:14] #2734 closed

[2020-09-15 19:20] gregtatum commented on #2765
@adityachirania snapshot tests show behavior changes, and DOM structure changes. You can run `jest -u` to check in the new behavior. This helps reviewers understand what has changed in a PR, as it comes in with the pull request. The code author can also look at the changes, and see if they make sense. A failure in the snapshot doesn't mean the code is good or bad, it just means "something changed"

[2020-09-16 12:47] gregtatum opened #2780 "Implement "searchable" feature for the marker schema"
If a marker schema has "searchable", it can be found via the marker search feature.

[2020-09-16 12:55] julienw opened #2781 "For DOMEvent and UserTiming marker tooltips we should see the marker's name in addition to the user-defined name"
For DOMEvent and UserTiming markers, their tooltips show only (respectively) the event type and the user-defined name as their title. I believe we should see clearly that it's a DOMEvent and a UserTiming as well.

[2020-09-16 12:56] julienw opened #2782 "LogMarkers have a `name` property, they should have a `text` instead"
I noticed that the log markers have a `name` property, but they should have a `text` property instead (just like TextMarkers), or possibly a `log` or `message` ?

[2020-09-16 13:23] canova opened #2783 "Merged threads look messy on stack chart if the threads are overlapping with each other"
So thread merging simply merges the threads by merging the samples depending on their timestamps.

For example, let's say that we have two threads like this with the samples in the graph:
[code]

This will be merged properly like this:
[code]
So this case is fine, because they don't overlap with each other.

-----
But if the threads are overlapping with each other like this:
[code]

In this case,

[2020-09-17 16:20] canova opened #2787 "Do not create a new Set for selectedThreadIndexes if we are selecting the same track"
After #2706 and #2752, we are now keeping a `Set` for selected thread indexes. But `selecTrack` (and possibly `selectActiveTabTrack`) ThunkAction should not dispatch `SELECT_TRACK` action when we are clicking the same track. Currently it's creating a new Set object and dispatching that, which causes to miss the caches.

[2020-09-17 19:06] mstange opened #2790 "Flame graph tooltip for add-on JavaScript frames does not show the add-on name"
Profile: https://share.firefox.dev/35Lgzcz

Move your mouse over the `µBlock.loadFilterLists</</loadingPromise<` frame in the flame graph.

Expected results: uBlock Origin should be mentioned in the tooltip.
Actual results: Only URLs with cryptic IDs are shown in the tooltip.

In the call tree tab, the corresponding tree node contains gray text at the end with the add-on name and author.

[2020-09-18 13:47] gregtatum opened #2791 "Active tab - Site label in the filter navigator has [Object object] as the title"
<img width="226" alt="image" src="https://user-images.githubusercontent.com/1588648/93604683-54ff2880-f98b-11ea-8187-08630e30d0e8.png">

<img width="458" alt="image" src="https://user-images.githubusercontent.com/1588648/93604778-76601480-f98b-11ea-8827-f35ac7ac0c91.png">

[2020-09-18 13:52] gregtatum commented on #2791
This is in the new "active tab" feature, which isn't exposed by default to end-users.

This profile would be good to test with:

https://profiler.firefox.com/public/014dcadd045f9bc8d43359dbef1905a7a995d25f/calltree/?ctxId=12&resources&thread=16&v=5&view=active-tab

To fix this, find the filterNavigatorBarItem that's shown in the screenshot. I think it would be good to show the full URL there if av

[2020-09-20 07:02] adityachirania opened #2793 "Error message on clicking BACK in the browser after opening a profile"
Clicking back on the browser right after opening a profile shows an error page.

Steps to reproduce  :
1. Visit the URL "profiler.firefox.com"
![Screenshot from 2020-09-20 12-30-04](https://user-images.githubusercontent.com/52464668/93705714-0db89980-fb3d-11ea-831a-e4e1fc5df049.png)

1. Load any saved profile on your system
![Screenshot from 2020-09-20 12-30-44](https://user-images.githubuserconte

[2020-09-21 15:12] #2570 closed

[2020-09-22 10:41] tirtharajghosh commented on #2791
![Screenshot (307)](https://user-images.githubusercontent.com/58604532/93872523-e94fef00-fced-11ea-8d93-9363c34d6902.png)
Is that what you want? @gregtatum

[2020-09-22 16:19] #2735 closed

[2020-09-23 05:22] #2793 closed

[2020-09-23 13:33] dpalmeiro commented on #2464
Was recently trying to find specific markers that matched a part of a URL while ignoring the other markers and having an AND would be very useful!

[2020-09-24 12:28] canova commented on #2081
This is being tracked on [Bug 1667061](https://bugzilla.mozilla.org/show_bug.cgi?id=1667061) on Bugzilla. Keeping this for any changes that needs to be done on the front-end.

[2020-09-24 14:59] gregtatum opened #2801 "Teach gecko profile processing to use the marker schema to properly offset timestamps"
Right now we have lots of custom handling. This could be done purely with marker schema.

e.g. for Network markers:
[code]

[2020-09-24 15:39] canova commented on #2412
Sorry Harald, I missed your question before. I think this is one of the last things to land since this change will affect the users of all the "web developer" preset. So I think we should do it once we are confident that it's usable.

Closing this in favor of #2081.

[2020-09-24 15:39] #2412 closed

[2020-09-24 19:30] gregtatum commented on #2289
I think this is a good candidate for the performance workflow work. The way I see this working is that each folder in a zip view would have a "view merged profiles" button.

<img width="977" alt="image" src="https://user-images.githubusercontent.com/1588648/94190745-26dd8500-fe72-11ea-9ac1-ee9067fe135d.png">

The profiles would then be merged into similar threads, with their times properly offset

[2020-09-24 19:50] gregtatum commented on #2289
Here is a talos run that's currently available via try: https://profiler.firefox.com/from-url/https%3A%2F%2Ffirefox-ci-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FHROGCn1VTzayD33Bd0b4eA%2Fruns%2F0%2Fartifacts%2Fpublic%2Ftest_info%2Fprofile_damp.zip/calltree/?v=5

[2020-09-24 19:55] gregtatum opened #2803 "Add a Testing Timeline, where testing markers can be added to the timeline"
The idea here, would be for test runs, to show a timeline track with all of the tests. Here is an example "memory" timeline. Notice how the markers form two different rows. It would be nice to do this with one row being the test running, and the second row being the assertions.

<img width="767" alt="image" src="https://user-images.githubusercontent.com/1588648/94193296-cc462800-fe75-11ea-9c68-d18

[2020-09-24 20:04] gregtatum commented on #2803
Here is a good example profile:
https://share.firefox.dev/3jeuv2R

<img width="1505" alt="image" src="https://user-images.githubusercontent.com/1588648/94194328-25fb2200-fe77-11ea-90a6-bae2b12ed5ab.png">

I don't think "task" should be included.

[2020-09-25 14:55] fqueze opened #2804 "Increasing the width of the marker sidebar should remove the ellipsis on stack frames"
Example profile: https://share.firefox.dev/330eSpK

Steps to reproduce:
- open the example profile
- select the marker
- resize the sidebar

Result:
![Capture d’écran 2020-09-25 à 16 46 07](https://user-images.githubusercontent.com/2633774/94282152-c886d400-ff4f-11ea-96ee-5c7c19c11fea.png)

[2020-09-25 14:58] gregtatum commented on #2804
This line will need to be modified to take into account whether the backtrace is in a tooltip, or in the sidebar.

https://github.com/firefox-devtools/profiler/blob/2ce4d75b0bd5d26ae7c044a7344a2fab7fb73033/src/components/shared/Backtrace.css#L2

I would inspect the sidebar and the tooltip with devtools to get a sense of the style rules here.

<img width="728" alt="image" src="https://user-images.g

[2020-09-25 14:59] gregtatum commented on #2804
I don't think this needs a test, as it's a style/css tweak.

[2020-09-25 16:04] fqueze commented on #2803
The task marker is interesting when a task name has been provided by the test author, what you see in the above screenshot is the fallback "task" string for when `add_task` has been called with an anonymous function.

[2020-09-25 16:37] akshay1992kalbhor commented on #2804
I want to work on this! Can I?

[2020-09-27 08:46] CipherGirl commented on #2480
Greetings, I'd like to work on this issue.

[2020-09-27 09:04] CipherGirl commented on #2480
Greetings, I'd like to work on this issue. Can I be assigned?

[2020-09-27 09:59] CipherGirl commented on #2480
Is this the required task?

![Screen Capture_Navigator_20200927155314](https://user-images.githubusercontent.com/37832457/94361951-be90dc80-00d9-11eb-800d-d2bb0f95cf4a.gif)

The code looks like this:

`renderHideTrack() {
    const { rightClickedTrack } = this.props;
    if (rightClickedTrack === null) {
      return null;
    }
    const trackIndex = rightClickedTrack.trackIndex;
    if (rightCli

[2020-09-28 09:56] canova commented on #2480
Hey @CipherGirl, thanks for working on this! Assigned it to you.
I think it's looking pretty good! It would be better if you could open a PR with the code, so we can review it there.

[2020-09-28 10:01] canova commented on #2804
@akshay1992kalbhor Sure, assigning the issue to you. Thanks for working on it! Feel free to let us know if you need anything.

[2020-09-28 13:27] gregtatum opened #2807 "Case study: toLocaleString"
[This profile](https://profiler.firefox.com/public/75410f84f200ec56a1be8716a44b87d4cee111d6/stack-chart/?ctSummary=native-allocations&globalTrackOrder=0-1-2-3-4-5&hiddenGlobalTracks=1-2-3-4-5&hiddenLocalTracksByPid=79573-0&implementation=js&localTrackOrderByPid=79573-1-0~79574-0~79578-0~80085-0~79632-0~79576-0~&profileName=toLocaleTimeString%28%29%20-%20memory&thread=0&v=5) would make a great case

[2020-09-28 13:34] gregtatum opened #2808 "Uploaded profiles page should update the window.title"
https://profiler.firefox.com/uploaded-recordings/

<img width="666" alt="image" src="https://user-images.githubusercontent.com/1588648/94438897-4ff96080-0165-11eb-8854-90d5f95d29f6.png">

[2020-09-28 13:47] gregtatum commented on #2808
The work here is to:

* Move the `<WindowTitle>` component from the [ProfileViewer](https://github.com/firefox-devtools/profiler/blob/2a6d7842833ff7e2da88e3340a87bd9cca260d66/src/components/app/ProfileViewer.js#L136) to the [Root Component](https://github.com/firefox-devtools/profiler/blob/2a6d7842833ff7e2da88e3340a87bd9cca260d66/src/components/app/Root.js#L27-L38)

 * Update the WindowTitle compo

[2020-09-28 14:17] gregtatum opened #2809 "Renaming an already uploaded profile should also rename it in the "uploaded recordings" page"
If a profile is named before it is uploaded, it is used as the profile name, however if the name is changed, it's not updated.

Steps to reproduce:

* Re-upload [a profile](https://profiler.firefox.com/public/75410f84f200ec56a1be8716a44b87d4cee111d6/calltree/)
* Rename the profile by clicking the text "Firefox 73 – macOS 10.15" in the top left corner to "My Profile"
* Go to the [uploaded recording

[2020-09-28 14:37] gregtatum commented on #2809
To fix this, a new function `updateStoredProfileName` will need to be added to the IndexedDB code here:

https://github.com/firefox-devtools/profiler/blob/main/src/app-logic/published-profiles-store.js#L132-L154
src/app-logic/published-profiles-store.js

The action `changeProfileName` will need to be updated to call this function. This function should only run if the profile is actually stored and

[2020-09-28 14:42] gregtatum opened #2810 "The uploaded recordings list should update on window focus"
When managing multiple tabs, it is easy to upload a profile in one tab, and then tab back to a page open with the list of uploaded profiles. It would be nice if this list updated without having to do a full refresh.

Steps to reproduce:

* Open one tab to: https://profiler.firefox.com/uploaded-recordings/
* Open another tab to: https://share.firefox.dev/3jbB9qt
* In the second tab, re-publish the

[2020-09-28 14:53] gregtatum commented on #2810
The fix here would be to add a listener to the window focus event.

The `ListOfPublishedProfiles` component should run `window.addEventListener` and `window.removeEventListener` on `componentDidMount` and `componentWillUnmount` respectively. This listener should update the `profileDataList` in the state, which will cause the component to re-render.

https://github.com/firefox-devtools/profiler/blo

[2020-09-28 17:29] CipherGirl commented on #2480
Raised a PR #2811 Please review.

[2020-09-28 17:40] rlkeyer commented on #2808
@gregtatum I'm interested in taking a look at this, though I'm new to open source contributions.  Just to be sure, the desired functionality is for the window.title to read "Uploaded Recordings" instead of "Firefox Profiler"?

[2020-09-28 18:05] canova opened #2812 "Do not toggle the resource tracks when we click on the resource graph area"
Currently we can expand and collapse a resource track by clicking anywhere in the graph except the graph itself. If you click to the empty graph area, it will still collapse the resource track. This is pretty annoying right now and we should only make it collapse/expand if the track header is selected instead.

[2020-09-28 18:06] #2598 closed

[2020-09-29 07:22] julienw commented on #2808
I believe this would be `Uploaded Recordings - Firefox Profiler` :) Thanks for looking!

[2020-09-29 10:04] GrooChu commented on #2809
@gregtatum  Can I work on this issue?

[2020-09-29 12:15] canova commented on #2812
I think we can make this a good first issue.

But this is in the new "active tab" feature, which isn't exposed by default to end-users. This profile would be good to test with (you can change the `profiler.firefox.com` to `localhost:4242` to test locally):
https://profiler.firefox.com/public/014dcadd045f9bc8d43359dbef1905a7a995d25f/calltree/?ctxId=12&resources&thread=16&v=5&view=active-tab

The is

[2020-09-29 13:40] canova commented on #2139
Removing the assigned label since the draft PR is closed due to inactivity, feel free to claim again!

[2020-09-29 17:33] rlkeyer commented on #2808
OK sounds good, will take a look and update shortly.

[2020-09-29 20:31] CipherGirl commented on #2812
Greetings, I've been looking at the issue, called the function `_onMouseUp` from the div having the class name `timelineTrackResourceLabel`.

![profiler_labelClick](https://user-images.githubusercontent.com/37832457/94612399-e001ec00-02c4-11eb-9720-30cb6fc41f7d.gif)

I guess it worked accordingly but I don't know how to modify the test for that.
I'm having issue here:

[code]

[2020-09-30 10:07] canova commented on #2424
I think that experiment is done now since we've decided to do it.

[2020-09-30 10:07] #2424 closed

[2020-09-30 10:25] CipherGirl commented on #2812
Greetings, I've raised a PR for this I hope that's okay as I'm not assigned. I can't find the option to request a review. Please review.

[2020-09-30 10:31] canova commented on #2809
@GrooChu Sure, assigning it to you! Let us know if you need something.

[2020-09-30 10:35] canova commented on #2812
@CipherGirl Assigning the issue to you, thanks for working on it! Will review the PR soon.

[2020-09-30 12:48] CipherGirl commented on #2810
Greetings, I'd like to be assigned to this issue.

[2020-09-30 13:29] gregtatum opened #2817 "Case study: diagnosing a browser hang"
https://bugzilla.mozilla.org/show_bug.cgi?id=1668269

This would make a good case study if it leads to fixing an issue.

[2020-09-30 13:37] julienw opened #2818 "Case study: Diagnostic a Firefox Freeze"
There are some profiles in https://bugzilla.mozilla.org/show_bug.cgi?id=1667868
that led to a fix (that fixes only some of the existing problems).

[2020-09-30 13:42] julienw commented on #2810
hey @ciphergirl, thanks for the message!
However I see you handled 2 good first issues already, it would be good if you can look at more difficult issues so that our easiest issues can be available for new people :-) Thanks for your understanding! [Here is the link to these issues](https://github.com/firefox-devtools/profiler/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22+-label%3A%22good

[2020-09-30 14:43] julienw commented on #2618
Hey @Manish-Giri, just wondering if you're still working on this? Thanks for your update!

[2020-09-30 14:48] gregtatum commented on #2480
Resolved by #2811

[2020-09-30 14:48] #2480 closed

[2020-09-30 14:55] CipherGirl commented on #2810
@julienw thank you for clarifying, I'd look onto some other issues.

[2020-09-30 16:45] CipherGirl commented on #2483
@julienw Is it available for grab? I'd like to work on this.

[2020-09-30 17:41] gregtatum opened #2819 "Migrate components to only used named exports, not default exports."
Default exports are a bit harder to maintain because they might have different names when imported into a file. For instance,

[code]

[code]

This makes it hard to refactor and search through the codebase when the names differ. Instead, named exports force the use of a single name for a given export.

The work here, is to go through each component folder, and make sure that it's using a named exp

[2020-09-30 18:31] gregtatum commented on #222
Here's an idea of how this can be implemented: https://github.com/firefox-devtools/profiler/compare/main...gregtatum:track-mouse-ideas

It shows where the various files are. For a contributor, this would need to be done in multiple PRs outlined below. This would be a good task for someone who has done a few good first issues and wants something a bit bigger.

PR 1:
- [ ] Add a changeMouseTimePosit

[2020-09-30 18:59] rhetoricalraj commented on #2819
I would like to take up the task of tooltip component.

[2020-10-01 08:44] hetpatel33 commented on #2819
@gregtatum
claiming `src/components/tooltip`

[2020-10-01 08:51] rhetoricalraj commented on #2819
Hi, I would like to pick up `src/components/stack-chart`.

[2020-10-01 09:12] hetpatel33 commented on #2819
@gregtatum
Claiming `src/components/sidebar`

[2020-10-01 10:14] canova commented on #2483
@CipherGirl Sure, assigning it to you. Let us know here or on matrix if you need more information on the issue!

[2020-10-01 11:28] GrooChu commented on #2809
@gregtatum @canova Could you please help in letting me know if I'm doing the right approach here. Because, this code fixes the bug. But I'm not able to write the test cases based on this code.
[code]

[code]

[2020-10-01 13:33] #2791 closed

[2020-10-01 14:05] julienw commented on #2819
Hey folks! I'd suggest that each of you do only 1 or 2 components max, so that there are still some available for other people.
Once you're comfortable with the project, you can look at [more complex issues](https://github.com/firefox-devtools/profiler/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22+-label%3A%22good+first+issue%22+-label%3Aassigned).Thanks for your understanding!

[2020-10-01 14:43] maulik1729 commented on #2819
claiming `src/components/network-chart`

[2020-10-01 16:56] julienw opened #2823 "Uploaded recordings: display the "list is empty" message when deleting the last element"
STR:
(better do it in a clean firefox profile if you uploaded profiles that you want to keep -- sorry about the overloading of the word "profile" here)
1. Publish a profile (for example go to [this profile](https://profiler.firefox.com/public/b3c2c2d7ff162d44bb85b21c8c179c97319eb7a2/) and republish it).
2. Go to the [uploaded recordings page](https://profiler.firefox.com/uploaded-recordings/).
3.

[2020-10-01 16:58] julienw commented on #2810
Suggestion (as I suggested on #2823): extract the code that fetches and set the list to a method called `_refreshList`.

[2020-10-01 19:18] Okwonks commented on #2819
@gregtatum
claiming `src/components/timeline`

[2020-10-02 07:38] vaga commented on #2767
Hi, I'd like to work on it!

[2020-10-02 09:31] julienw opened #2824 "ButtonWithPanel: add aria-expanded for a better accessibility"
The goal of this bug is to add the attribute `aria-expanded` to our `ButtonWithPanel` implementation. You can read more about this attribute on [the W3C page](https://www.w3.org/TR/wai-aria-1.1/#aria-expanded) or [Marco Zehe's blog post](https://www.marcozehe.de/easy-aria-tip-5-aria-expanded-and-aria-controls/).
In this issue we'll focus on `aria-expanded` only and not deal with `aria-controls`.

[2020-10-02 10:36] fqueze opened #2825 "Label frames in marker stacks should be displayed in a different color"
In the call tree, when there are label frames in a stack, we display them in grey so that they are visually different from actual stack frames. I think we should do the same when showing the stack of a marker.

We show marker stacks either in marker tooltips, or in the sidebar of the marker table.

Example profile: https://share.firefox.dev/3is55gK

Screenshot showing both the tooltip and the side

[2020-10-02 10:37] fqueze opened #2826 "Marker stacks should show the category colors of individual stack frames"
In the call tree, each stack frame has a colored square showing the category. I think we should do the same when showing the stack of a marker.

We show marker stacks either in marker tooltips, or in the sidebar of the marker table.

Example profile: https://share.firefox.dev/3is55gK

Screenshot showing both the tooltip and the sidebar:
![Capture d’écran 2020-10-02 à 12 34 02](https://user-image